[2017-01-24 16:51] nickyhajal commented on #2407
@bakkiraju Sorry for the confusion - to clarify, I'm doing what was discussed earlier in the thread: transparent window with a HTML/CSS "window".

When it covers a large portion of the screen, there are noticeable artifacts.

[2017-01-24 17:16] kevinsawicki commented on #8470
You might also want to check the issue tracker on https://github.com/DefinitelyTyped/DefinitelyTyped/issues

https://github.com/DefinitelyTyped/DefinitelyTyped/issues/10977 looks similar.

Closing this out here.

[2017-01-24 17:16] #8470 closed

[2017-01-24 18:10] bakkiraju commented on #2407
@nickyhajal do u have a code snippet u can point me to ?, am new to web stuff and learning by example code,

 PS: My electron windows are small and I want to see what you are able to do with CSS when it comes to animations. Thanks in advance

[2017-01-24 18:28] juturu opened #8494 "Support drag drop of virtual files (mails) into electron app"
I'm looking into adding support for drag n drop of virtual files into electron app. Can you guys please provide any direction on how this can be achieved in electron?

One Idea -
Expose IDataObject from dragndrop from electron to be able to parse and upload from main process.

I tried creating aura::client::dragdropdelegate and calling aura::client::SetDragDropDelegate to get access to IDataObject

[2017-01-24 18:53] #8407 closed

[2017-01-24 20:50] stuartbrussell-intuit commented on #8256
@MarshallOfSound was right, I assumed that there was only one way to consider "order". So, I'm renaming this issue (not sure if I should create a new one so I won't).

[2017-01-24 20:53] stuartbrussell-intuit commented on #8256
The only way to implement this currently is to use platform-specific code.

[2017-01-24 21:30] kevinsawicki commented on #8481
@antonycourtney 1.5.0 is out now, can you try building against it?

[2017-01-24 22:16] kevinsawicki commented on #8485
Closing this out, please track #5078 for any updates on native clipboard support for GIFs.

[2017-01-24 22:16] #8485 closed

[2017-01-24 22:17] kevinsawicki commented on #8449
Closing this out, apps like Atom can unset this environment variable from spawned processes if those spawned process are spawning processes in non-Node mode.

[2017-01-24 22:17] #8449 closed

[2017-01-24 22:41] antonycourtney commented on #8481
@kevinsawicki Just downloaded and installed 1.5.0.  Unfortunately I still get the same error, plus a large number of deprecation warnings:

[code]

[2017-01-24 23:03] kevinsawicki commented on #8481
@antonycourtney can you building with node `7.4.0` and the following `.npmrc` file?

[code]

[2017-01-24 23:15] antonycourtney commented on #8481
@kevinsawicki Doesn't seem to make a difference.  When I add that `.npmrc` in the same directory, I get the same result:  `node-gyp rebuild` seems to be build without warnings or errors for node, but `HOME=~/.electron-gyp node-gyp rebuild --target=1.5.0 --arch=x64` fails.

Are you able to clone this repository and reproduce the build error?

[2017-01-24 23:18] antonycourtney commented on #8481
@kevinsawicki ...sorry; by 'this repository' I mean [https://github.com/antonycourtney/electron-cpp-addon](https://github.com/antonycourtney/electron-cpp-addon)  Tried to make it absolutely minimal and have clear instructions on how to reproduce the problem.

[2017-01-24 23:22] kevinsawicki commented on #8481
Yeah, I've cloned this repository locally and with that `.npmrc` file at the root of that repository I am able to build with 1.5.0:

[code]

I wonder what could be different.

[2017-01-24 23:23] kevinsawicki commented on #8481
And it does fail for me with 1.4.15:

[code]

[2017-01-24 23:26] kevinsawicki commented on #7474
Closing this out, #8109  has been merged.

[2017-01-24 23:26] #7474 closed

[2017-01-24 23:27] kevinsawicki commented on #8332
@njbmartin can you see if this is still happening with Electron 1.5.0?

[2017-01-24 23:28] antonycourtney commented on #8481
@kevinsawicki

So what do you have in your `~/.electron-gyp/.node-gyp/iojs-1.5.0/common.gypi` at around line 269?  Mine still has:

[code]

(note the missing `CLANG_CXX_LIBRARY`)

[2017-01-24 23:33] kevinsawicki commented on #8481
@antonycourtney mine has the following around line 387:

[code]

[2017-01-24 23:34] kevinsawicki commented on #8481
@antonycourtney just to confirm, can you completely remove `~/.electron-gyp` and try again?

The file at https://atom.io/download/electron/v1.5.0/iojs-v1.5.0.tar.gz does seem to have the `CLANG_CXX_LIBRARY` in the `common.gypi` file at the root of that archive.

[2017-01-24 23:36] kevinsawicki commented on #2644
`alert` and `confirm` are now available in `<iframe>` tags via #8341

Closing this out, there is still https://github.com/electron/electron/issues/2605 for a session wide preload script.

[2017-01-24 23:36] #2644 closed

[2017-01-24 23:52] kevinsawicki commented on #8431
Looks like this can be configured in the `.plist` file, from my testing if you add an any value then the default help topics aren't displayed.

Example taken from https://developer.apple.com/library/content/documentation/Carbon/Conceptual/ProvidingUserAssitAppleHelp/registering_help/registering_help.html#//apple_ref/doc/uid/TP30000903-CH207-CHDGHHDF

[code]

With those values:

<img width="753" al

[2017-01-24 23:52] #8431 closed

[2017-01-24 23:54] antonycourtney commented on #8481
@kevinsawicki Ah, I see the problem now.  Transcription error on my end.  My repro instructions inadvertently left out the `--dist-url=https://atom.io/download/electron` argument to the `node-gyp` incantation.  So it was falling back to pulling `https://iojs.org/download/release/v1.5.0/iojs-v1.5.0.tar.gz`, which doesn't have the `CLANG_CXX_LIBRARY` definition.

Many mant thanks for your help and p

[2017-01-24 23:58] kevinsawicki commented on #8425
Yeah, pages using require from data URLs will probably need to set up the `module` global as @nikita-graf mentioned since Electron only knows how to make relative node requires work when a file URL is used.

Closing this out since this the expected behavior, thanks @MarshallOfSound for the in-depth explanation 👍

[2017-01-24 23:58] #8425 closed

[2017-01-24 23:59] kevinsawicki commented on #8481
Thanks for the update, glad to hear things are working now, closing this out 👍

[2017-01-24 23:59] #8481 closed

[2017-01-25 00:00] vulture opened #8498 "Get caret position or graphic in offscreen renderer?"
* Electron version: 1.4.14
* Operating system: Windows

### Actual behavior

In the offscreen renderer mode, text fields for example do not have the caret blinking in the pixel data and so it is not possible to show user input location.

### Expected behavior

Would like to be able to either get the actual graphic of the caret blinking (toggleable so that OnPaint is not constantly spammed except d

[2017-01-25 00:02] kevinsawicki commented on #8396
Closing this out, a transparent window seems like the right path to use here, thanks @adamjacob for mentioning this 👍

[2017-01-25 00:02] #8396 closed

[2017-01-25 00:30] kevinsawicki commented on #8445
Have you tried giving a full path to an icon that exists?

[2017-01-25 00:33] roblourens commented on #8431
Thanks!

[2017-01-25 00:48] kevinsawicki opened #8499 "uncaughtException event not firing in main process"
* Electron version: 1.5.0
* Operating system: macOS 10.12

### Expected behavior

* An `uncaughtException` event is emitted on `process` in the main process for thrown errors

### Actual behavior

* Event is not emitted
* Error is logged in the terminal

### How to reproduce

* `throw Error('here')` in the main process
* Dialog does not popup

Only appears to happen in 1.5.0, not 1.4.x, possibly r

[2017-01-25 00:50] jsnelgro commented on #8445
@kevinsawicki yes, I've tried writing the file to tmp and giving it a full path like so:
[code]
still no success. 🙁

[2017-01-25 00:59] kevinsawicki commented on #8445
@jsnelgro what about using a full path that exists for the `icon:` option currently set to `dragicon.png`?

[2017-01-25 01:22] MTBandolier opened #8500 "Electron's symbol server is inaccessible"
* Electron version:  1.3.1
* Operating system:  Windows 10

I'm trying to debug a dump from a BREAKPOINT_80000003 crash in electron.  I've configured Visual Studio to use the electron symbol server (http://54.249.141.255:8086/atom-shell/symbols), but when I try to load symbols, I get the following:

[code]

[2017-01-25 03:01] liusy182 commented on #8454
I am encountering exactly the same issue. This can be workarounded by giving a top margin to the draggable region so that they do not overlap.

I am not sure if this is considered as a bug. If we just look at the current behavior, when a window is not resizable, maximizing it is essentially setting the window size to the screen size without actually 'maximizing' it. If you try `win.isMaximizable()

[2017-01-25 03:09] mattlohkamp commented on #4552
I understand that the most common case mirrors console.log, but the fact that "process.stdout.write doesn't write to the stdout" is completely unintuitive - I'd be willing to bet that most developers who've tried to capture stdout from electron have run into this poor design choice, have had to run through the same merry-go-round of bug reports and QA-site posts, and have eventually circled back t

[2017-01-25 03:23] raphaelarias opened #8502 "Chrome 56 will aggressively throttle background tabs"
I just saw this article,  I believe it's going to affect Electron, too. Isn't it?

http://blog.strml.net/2017/01/chrome-56-now-aggressively-throttles.html

Chrome 56 introduces a commendable optimization to throttle background tabs' timers. From the Intent to Implement, the gist is:

Each WebView has a budget (in seconds) for running timers in background.
A timer task is only allowed to run when t

[2017-01-25 05:15] bpasero commented on #8502
I would hope that we can control this via `backgroundThrottling` in `BrowserWindow` [options](https://github.com/electron/electron/blob/master/docs/api/browser-window.md#new-browserwindowoptions).

[2017-01-25 05:34] rico345100 commented on #8419
@MarshallOfSound It works now! Many thanks!

[2017-01-25 05:34] #8419 closed

[2017-01-25 07:28] HitomiTenshi commented on #8454
So will this get fixed? I think this is the issue that's also causing the window to oversize.

[2017-01-25 07:37] bakkiraju commented on #2407
@zcbenz trying to use electron and this kind of animation is a make it or break it for me, any recommendation or pointers on how I can fade out the BrowserWindow, using just the CSS on a transparent, frameless window doesn't seem to help, it's still fading only the contents inside BrowserWindow. Thanks

[2017-01-25 07:49] sedwards2009 opened #8503 "Stream upload data with registerHttpProtocol"
I'm looking for a way of doing a custom protocol which support uploading and downloading large files. I'm looking for streaming APIs for this.

`registerHttpProtocol()` lets you use HTTP to download large files via streaming over HTTP. But its API for uploading takes the complete buffer at the time when you call the `callback()` function with the redirect request.

`registerBufferProtocol()` on th

[2017-01-25 11:10] LeonidVasilyev opened #8504 "Restore navigation entry PageState when using history methods"
[Comment ](https://github.com/electron/electron/blob/d0643250f717a9e5d9d4869f72fd5437c88e862f/lib/browser/api/navigation-controller.js#L14) above NavigationController states that navigation is under user control so renderer process is restarted every time:

// Instead of relying on Chromium for history control, we compeletely do history
// control on user land, and only rely on WebContents.loadURL

[2017-01-25 16:24] kevinsawicki commented on #8500
The symbol server is now at https://electron-symbols.githubapp.com now, that address should be used instead.

[2017-01-25 16:24] #8500 closed

[2017-01-25 16:29] poiru opened #8505 "<webview> with initially hidden visibility doesn't render"
In the repro case below, the webview is initially created with `visibility: hidden`. After a short delay, we switch to `visibility: visible`. The expected behaviour is that github.com is displayed in the webview regardless of the timeout duration.

Due to some regression in Electron 1.5.0, this results in the webview being permanently empty. Weirdly enough it works fine when using a short timeout

[2017-01-25 17:01] njbmartin commented on #8332
It still occurs on `1.5.0`. It also turns out that it's not specifically rendering a white line, it's actually rendering whatever is underneath it, so when it goes full screen it doesn't actually take up the whole screen.

[2017-01-25 17:07] PterPmnta opened #8506 "How to know what app is new"
Hello, I would like to know how I can identify which applications are new or recently released, since with the new system everything is in order, and not as before every application that was new, was at the end.

[2017-01-25 17:22] kevinsawicki commented on #8506
@PterPmnta Thanks for bringing this up, would you mind reopening this issue over on the website repository so it can be discussed further there?

https://github.com/electron/electron.atom.io/issues/new

[2017-01-25 18:11] kevinsawicki commented on #8332
@njbmartin can you include a screenshot? Thanks.

[2017-01-25 18:52] kevinsawicki commented on #8492
Many preferences can be set via the `webpreferences` attribute of the `<webview>` element.

http://electron.atom.io/docs/api/web-view-tag/#webpreferences

This does not work currently for number values though so `minimumFontSize` won't work but it should be supported.

[2017-01-25 19:28] kumarom1203 commented on #4359
Hi everyone,
Is any way to protect ASAR file from unpackaging(generated by electron atom) so other can not able to modify my code.
If any one has any idea or other option to protect my code please suggest
Thanx in advance

[2017-01-25 19:30] kumarom1203 opened #8508 "how protect ASAR file from unpackaging"
Hi everyone,
Is any way to protect ASAR file from unpackaging(generated by electron atom) so other can not able to modify my code.
If any one has any idea or other option to protect my code please suggest
Thanx in advance

[2017-01-25 19:42] paul321 commented on #8508
There should be an option to protect the asar file with a certificate

[2017-01-25 19:53] kumarom1203 commented on #8508
Thanx @paul321
Can you provide any link or reference for  this certificate

[2017-01-25 20:03] paulcbetts commented on #8508
This is a dupe of #4359, please subscribe there

[2017-01-25 20:03] #8508 closed

[2017-01-25 21:06] njbmartin commented on #8332
Better than a screenshot, here's a video:
https://www.dropbox.com/s/9yn0juqqwbnbrzt/electron-line-render.webm?dl=0

There's definitely some odd behaviour, because when you hold alt and press tab (ie don't actually switch), it fixes itself. Same for when you switch to a different window/app. Demonstrated in the video.

[2017-01-25 22:56] bakkiraju opened #8512 "Transparent property of BrowserWindow cannot be set/changed after it has been created"
Cannot  set BrowserWindow property to be transparent in the middle of my program and not during the creation time ?, since css based animations on window work only if its transparent, I need the window to show up with background color and then go transparent just before my animation kicks in

* Electron version: 1.4.15
* Operating system:os x , win

### Expected behavior

window.transparent = true

[2017-01-25 22:59] kevinsawicki commented on #8488
@seekwe what version of Electron are you using and on what platform?

[2017-01-25 23:11] MarshallOfSound commented on #8512
This is by design and I don't think it is either easy or safe to change a window from non-transparent to transparent.

If you need a background colour, just set it on your HTML document.

[2017-01-25 23:11] #8512 closed

[2017-01-25 23:29] kevinsawicki commented on #8505
Yeah, can definitely reproduce this on 1.5.0, don't see it in Chrome 55 though, wonder if it still happens on #8501

[2017-01-25 23:33] sgehrman opened #8513 "Scrollbars too wide on zoomed DPI"
just did an npm update and it downloaded electron 1.5.  now scrollbars are crazy ugly weird.

![image](https://cloud.githubusercontent.com/assets/287137/22313832/839a897e-e313-11e6-9a29-6c285876c10b.png)

[2017-01-25 23:35] Jaheraho opened #8514 "Spawn .bin/electron in windows leads to an error"
Hi there,

thanks for electron, its awesome!

Im using the plugin electron-reload which executes via spawn the following command
`const {spawn} = require('child_process')`
`spawn('C:/Users/me/dev/htdocs/myproject/node_modules/.bin/electron', ['C:/Users/me/dev/htdocs/myproject/'])`
(**.bin/electron**)

This leads to the following error:
![2017-01-26 00_19_40-error](https://cloud.githubusercontent.c

[2017-01-25 23:47] bakkiraju commented on #8512
How do I then show a window with background color and html contents and make all of it disappear gracefully ?

Looks like CSS animations only work on a  window that is transparent from the get go

[2017-01-25 23:54] kevinsawicki commented on #8513
@sgehrman can you include a code snippet that works in 1.4.15 but not in 1.5.0 to help reproduce this issue?

[2017-01-26 00:20] jsnelgro commented on #8445
hey @kevinsawicki, just tried icon with a full path. Still nothing. And it looks like the icon path is valid since the icon appears while dragging. Maybe the issue has something to do with the renderer process `dragstart` event's `dataTransfer` object? It looks like both the `items` and `files` properties (array-like) are empty. I tried hardcoding a new `File` object in the `dragstart` event and a

[2017-01-26 00:26] kevinsawicki commented on #8506
I've moved it over to https://github.com/electron/electron.atom.io/issues/662

[2017-01-26 00:26] #8506 closed

[2017-01-26 00:42] kevinsawicki commented on #8445
@jsnelgro just so I understand, you are unable to drag a file out of Electron and onto the desktop?

This is what I'm seeing using your sample app, I am able to drag it out of the window and onto the desktop.

![dnd](https://cloud.githubusercontent.com/assets/671378/22315691/2ffd16d8-e31d-11e6-9d9a-d2f0a190b3e0.gif)

[2017-01-26 00:58] kevinsawicki commented on #8514
`.cmd` needs to be appended to the path if you are trying to spawn it from `node_modules\.bin`, this is a limitation of node's spawn command.

You can confirm this by running `child_process.spawn` directly from Node with and without the `.cmd` suffix.

Closing this out, adding `.cmd` should address this or obtain the path of the running Electron instance with `process.execPath`.

[2017-01-26 00:58] #8514 closed

[2017-01-26 01:11] kevinsawicki commented on #8433
Are you calling `startTracing` after the `ready` event fires on the `app` module?

[2017-01-26 01:12] kevinsawicki commented on #8433
I was able to see log out and create a file with the following:

[code]

[2017-01-26 01:30] kevinsawicki commented on #8236
@djangosdk so you are just looking for the prompt to show so it will be able to call back with a path that may not exist?

[2017-01-26 01:32] kevinsawicki commented on #8236
Looks like we could just expose a new `property` that maps to the `FOS_CREATEPROMPT` option flag to enable this.

[2017-01-26 02:35] seanchas116 commented on #8513
This unintended big scroll bars appear in Windows and Electron 1.5 when DPI scale is large.

How to reproduce:

* Set display DPI scale to 200% in Windows and relogin
* Open webpage with scrollbar in Electron (e.g., Electron tests)
* The big scroll bar appears

[![https://gyazo.com/df1ef745ccec7d7290ea81f4f8fc6769](https://i.gyazo.com/df1ef745ccec7d7290ea81f4f8fc6769.png)](https://gyazo.com/df1ef7

[2017-01-26 05:27] steverandy commented on #8504
I would say this feature is essential for the webview, where instant back and forward is an expected behaviour.

[2017-01-26 06:09] djangosdk commented on #8236
@kevinsawicki  exactly what i need ``FOS_CREATEPROMP```

[2017-01-26 07:00] rreimann commented on #8489
I'm experiencing the same issue with the current Electron version 1.4.15 on Windows 10 while using the electron quickstart:

* setup the Quickstart as described [here](http://electron.atom.io/docs/tutorial/quick-start/#try-this-example)
* before running the app paste a lengthy text into `index.html`
* while running the app call the print dialog via dev tools console: `window.print()`
* select only

[2017-01-26 09:27] deepak1556 commented on #8503
`registerHttpProtocol` will handle streaming large files from the redirect request, there is an issue to allow specifying headers with custom protocol responses, once that is available you can send range responses with buffer protocol. Merging this to https://github.com/electron/electron/issues/4303

[2017-01-26 09:34] deepak1556 commented on #8486
Can reproduce on 1.4.x but it seems to be fixed with 1.5.0, can you try the beta release ?

[2017-01-26 09:35] deepak1556 commented on #8505
Unable to reproduce on linux with the above example, might be platform specific. What does the `log-net-log` trace show ?

[2017-01-26 09:51] sedwards2009 commented on #8503
@deepak1556  I don't think #4303 covers everything. I'm also looking for streaming *uploads*.

[2017-01-26 10:10] willin commented on #8490
[code]

never success

[2017-01-26 10:11] deepak1556 commented on #8361
I used that code to reproduce the issue.

Sorry for the delayed response, I tried the steps with default app and it worked fine. Were you able to reproduce the issue with the default app ?

[2017-01-26 10:57] deepak1556 commented on #8504
The BFCache needs to be implemented in chromium, you can track the progress https://bugs.chromium.org/p/chromium/issues/detail?id=511340 . The issues you linked required the ability to restore session's navigation data, we could provide api for those but I am not sure about its necessity for apps which are not browsers.

[2017-01-26 11:27] poiru commented on #8505
@kevinsawicki Unfortunately I can still reproduce with a build of the `chrome56` branch.

[2017-01-26 11:27] poiru commented on #8505
@deepak1556 It is roughly equivalent regardless of the timeout (i.e. github.com is definitely being loaded even if it is not rendered).

[2017-01-26 12:50] f111fei commented on #8486
PC is not by my side, I'll try this after the holidays.  Happy New Year.

[2017-01-26 13:01] colinskow opened #8516 "Spectron Broken by Electron v1.5.0"
After upgrading to Electron v1.5.0 Spectron tests are broken. The selenium driver fails to connect and Spectron launches 10 Electron windows.

Using: MacOS, Node 6.9.4, Spectron 3.4.1

It works as expected again after downgrading to Electron v1.4.15.

[code]

[2017-01-26 13:06] MarshallOfSound commented on #8516
This should be tracked in one repository only.  Let's track it in your issue in spectron.

[2017-01-26 13:06] #8516 closed

[2017-01-26 15:19] andrej2704 opened #8517 "WebGL: CONTEXT_LOST_WEBGL when switching to fullscreen with external display and two video cards"
Existing context
* Electron version: 1.4.15
* Operating system: Window 10 64-bit. build 14393
* Video card 1: Indel HD Graphics 530
* Video card 2: NVidia Quadro M2000M
* External Display connected

### Expected behavior

WebGL context shouldn't fail in fullscreen

### Actual behavior

When switching to the full sreen, existing wbgl context is lost and can'be recreated. Refreshing electron doesn't

[2017-01-26 16:31] ragnerok commented on #844
Hi, if this is still open I would like to work on this, any tips on how to get started ?
Thanks !

[2017-01-26 17:41] DrYSG opened #8518 "No store found (Redux devtools)"
* Electron version: 1.5
* Operating system: Windows 7.0

### Expected behavior

I have used the electron-devtools-installer, and it successfully added both the React and Redux tools tabs to the devtools.

### Actual behavior

React works fine. But the Redux is saying that no store is found

### How to reproduce

This is how I add the dev tools, and below that is the simple example of creating the

[2017-01-26 17:42] deepak1556 commented on #8493
I don't have ntlm setup, so can't test it out. Can you add the following to the app before the ready event and attach the trace with requests from both window and net module separately ? Thanks!

[code]

[2017-01-26 18:13] kevinsawicki commented on #8513
@bsclifton any ideas on this one? Seen anything similar on Brave?

[2017-01-26 21:26] ivmelo commented on #414
Is there a way to remove only the top rounded corners? I am building a tray app and it kinda looks off with the top rounded corners.

[2017-01-26 21:42] paulshapiro opened #8520 "Electron breaks windowing system hover/drop"
* Electron version: 1.5.0
* Operating system: MacOS 10.12.2

### Expected behavior

Lack of actual behavior!

### Actual behavior

It appears that when running Electron in my dev environment, working on this app (with dev tools open on a single window), occasionally Electron appears to cause the rest of the operating system to lose its ability to track or report where the mouse currently is to app

[2017-01-26 21:44] kevinsawicki commented on #8520
Does this also happen using `1.4.15`?

[2017-01-26 23:04] quicksnap commented on #8063
Linking to #7118 as I may be able to work this in soon.

[2017-01-26 23:15] kevinsawicki commented on #8518
Just so we know if this is related to the Chrome 54 upgrade in 1.5.0, does this issue also happen for you in 1.4.15?

[2017-01-26 23:25] kevinsawicki commented on #8520
Are you ever able to reproduce using just the default Electron app or are you always seeing this when developing/running your own app? Just trying to narrow down whether it could be something app-specific.

Any details on why you think it could be related to the dev tools? Are they usually open when you start seeing this happen?

[2017-01-26 23:28] paulshapiro commented on #8520
Hey there,

Definitely the thing to do but I've barely tested the built version of the app. Just been going like this: `NODE_ENV=development electron ./local_modules/main/main.electron.js`

Just wanted to make sure I mentioned it is all. I've had the dev tools open for almost the entire time I've been building the app so don't have much experience w/o it running.

[2017-01-26 23:28] etyp commented on #7351
Updated to Electron 1.4.14 about 2 weeks ago and our users are still seeing this issue @kevinsawicki . See the screenshot below that shows the stack + the Electron version:

![missing-remote-screen](https://cloud.githubusercontent.com/assets/5808998/22354815/15f2d9a2-e3f5-11e6-99fd-e32d1aa0a5f2.png)

Any idea how we can resolve in the short term? Also, is there any chance that something in their u

[2017-01-26 23:41] nishant09 opened #8521 "Alt+{letter} shortcut key not working on windows/mac"
* Electron version: 1.3.1
* Operating system: Windows/Mac

### Expected behavior

Alt+E should open Edit menu
Alt+H should open Help menu

### Actual behavior

Nothing happens

### How to reproduce

Please see below my menu template

menuTemplate.push({
label: "Edit",
accelerator: "Alt+E",
submenu: [
{
label: "Copy",
accelerator: "CmdOrCtrl+C",
role: "copy"
},
{
label: "Cut",
accelerator: "CmdOrCt

[2017-01-26 23:43] #8499 closed

[2017-01-27 00:20] vulture opened #8522 "onblur/onfocus events should work in offscreen rendered pages"
* Electron version: 1.4.15
* Operating system: Windows 8.1

### Expected behavior

onblur/onfocus events (and perhaps others?) should work in offscreen rendered pages, since they work in real web browsers like Chrome and on normal non-offscreen rendered pages within Electron.

### Actual behavior

These events do not fire, except in rare (probably special case) circumstances.

Paul suggested that

[2017-01-27 00:34] bsclifton commented on #8513
@kevinsawicki yes- we definitely have seen this and other DPI related issues ☹️

I have some hints, although I haven't traced it down in the code yet.  The width of the scrollbar is calculated using GetSystemMetrics.  Unless there is a bug in the Chromium code (which is totally possible), I'm thinking that the electron code is processing this in one of the inherited classes (widget delegate, etc).

[2017-01-27 07:11] erossignon commented on #1917
As a workaround, under windows, you can pipe the electron output stream with more . this will bring back colors. Although this is only useful if you start electron by hand for debugging for instance...
[code]

[2017-01-27 13:29] EsSpricht opened #8523 "Main process crashes on fs.read/write"
* Electron version: 1.4.8
* Operating system: Windows 10 / Ubuntu 16.04

### Expected behavior

Run a fs.writeFile() function inside a render process. File should be placed correctly and the application should still work.

### Actual behavior

Whenever I try to write a file with fs.writeFile() the main process crashes without a error message IF the file is > ~250mb. After debugging I recognized, t

[2017-01-27 14:20] DrYSG commented on #8518
I stand corrected. I am currently 1.4.14, I will  try at 1.5 and get back to you.

[2017-01-27 16:00] LeonidVasilyev commented on #8504
I was under the impression that Chrome already implements BFCache. Chrome leaves/refills form data after back navigation. Does it use another mechanism for this?

[2017-01-27 16:20] iamclaytonray opened #8524 "Electron CLI"
Will there be future support for a CLI concerning Electron? I'm really only interested in a minimal boilerplate for Electron, without cloning the demo Electron app. It's a real pain to go through and delete all of the files that I don't really need. Thanks!

[2017-01-27 16:54] gerhardberger commented on #8522
You should try sending input events with [`webContents.sendInputEvent`](https://github.com/electron/electron/blob/master/docs/api/web-contents.md#contentssendinputeventevent). I've tried your example with an offscreen rendered browser window that gets input events with the method above and it's working. I'm on macOS, but I'm fairly certain it works on Windows too.

![screen shot 2017-01-27 at 5 51

[2017-01-27 17:49] KagamiChan commented on #8518
Seems that you need to follow the [usage instruction of redux-devtools-extension](https://github.com/zalmoxisus/redux-devtools-extension#usage)

[2017-01-27 17:57] DrYSG commented on #8518
*BLUSH* , Thank you @KagamiChan works fine.

[2017-01-27 19:02] vulture commented on #8522
I added some code to call webContents.sendInputEvent on a timer from js land, inside the <script> block:
[code]
Also doesn't work (should cycle through the various elements and hit 'a', which does work, but focus/blur events never occurs). This essentially just calls down to ForwardKeyboardEvent anyway (in atom_api_web_contents.cc), so we're basically calling the same code.

I'm converting raw Win

[2017-01-27 19:05] kevinsawicki commented on #8524
Could you elaborate a bit on what you'd like the CLI to do? Would it be used to create new apps, package apps, etc.?

Which demo Electron app did you clone? The [quick start app](https://github.com/electron/electron-quick-start) has the minimum number of files needed so it might worth checking out when you want to get a new app initialized.

[2017-01-27 19:09] kevinsawicki commented on #8523
Are you saying you are seeing Electron sending this file over IPC when you run `fs.writeFileSync` directly?

[2017-01-27 19:10] zeke commented on #8524
You might want to take a look at https://github.com/electron-userland/electron-forge, a new community project for creating, publishing, and installing Electron applications.

[2017-01-27 19:13] kevinsawicki commented on #8523
@EsSpricht are you able to reproduce this via running `fs.writeFileSync` directly from the Console tab of the dev tools?

[2017-01-27 19:28] vulture commented on #8522
Wrote a quick tester to use with stock Electron.exe (instead of our modded one) and got same results.
imgur album generated from js below: http://imgur.com/a/09Jl1
If it worked, I'd expect to see focused/blurred rather than only a's in the second box.
If I change offscreen: true to false, then it works as expected (though in a live window, rather than a paint event).
Also note the lack of caret in

[2017-01-27 19:42] averissimo opened #8525 "Hiding a minimized window in Mate breaks App"
* Electron version: 1.4.15
* Operating system: Ubuntu (first reported in Mate)

### Expected behavior

Tray icon actions remain available and functional

### Actual behavior

App becomes unresponsive without any error

### How to reproduce

[code]

The actions 'hide' and 'show' work perfectly if the window is not minimized

This was first reported in https://github.com/yakyak/yakyak/issues/563 and

[2017-01-27 20:29] tex0l opened #8526 "Object containing classes definitions accessed from remote.getGlobal"
* Electron version: 1.4.15
* Operating system: OSX

Hi,

I have a setup like this in my background process (it's simplified, but the general idea):
[code]

And in the chrome process I may need to do that:
[code]

### Expected behavior
It should construct the window properly.

### Actual behavior

The error I get is that `init`is not a function.

The workaround I have for now is not to put `window1

[2017-01-27 21:39] 1egoman commented on #6516
I wrote a npm package that encapsulates the fix mentioned above (namely `navigator.plugins.items()`): https://www.npmjs.com/package/widevine-initializer

[2017-01-27 23:03] kevinsawicki commented on #8513
Looks like a scrollbar change did land in 55 so I'll check if this still occurs on the Chrome 56 branch in #8501 just in case.

https://codereview.chromium.org/2290743002

[2017-01-27 23:30] attermann commented on #7834
I had the same issue, which I was already familiar with due to chrome and vs code having similar issues when run in a VirtualBox VM.  The fix was to add "--disable-gpu" to the command-line to force the web view not to use gpu features.  I was able to accomplish this in an electron app by editing the package.json file in app root and changing the line like "start": "electron ." to "start": "electro

[2017-01-27 23:49] #8518 closed

[2017-01-28 01:09] brockb commented on #414
I really need square corners as well. I'm doing screen capture of a video in a chromeless window, let's say placed at X=0, Y=0, and the screen capture is picking up those rounded corners. I need to be able to capture every pixel of the video (including the missing pixels in the corners). There has to be a way to make it where border radius can be set. I really need a radius of zero.

[2017-01-28 12:49] jsnelgro commented on #8445
@kevinsawicki mysterious... just tested the sample app again and it seems to be working correctly now with no changes. Guess we can close this for now. Thanks for looking into the issue!

[2017-01-28 20:11] vp2177 opened #8529 "Crash when using atob (btoa) in main process"
* Electron version: 1.5.0
* Operating system: Windows 10

### Expected behavior

`atob()` and `btoa()` should either work, or not exist.

### Actual behavior

[code]

### How to reproduce

Call `atob("foobar")` in the **main** thread a few times (works fine in renderers).

[2017-01-29 00:23] sklink opened #8530 "Window won't stay alwaysOnTop with OpenGL or Vulkan. Works with DX11."
* Electron version: 1.4.15
* Operating system: Windows 10 x64

### Expected behavior

Application is built to be an overlay for games, currently Dota 2.

Issue happens with a BrowserWindow that is set as frameless, fullscreen, and transparent.

The BrowserWindow will not stay on top of OpenGL or Vulkan apps.

**With disabled hardware acceleration:**
1. Disabling hardware acceleration prevents the

[2017-01-29 14:33] korneliakobiela commented on #360
+1

[2017-01-29 17:39] DovAmir commented on #1043
any plans for fixing this?

[2017-01-29 21:25] aredfox commented on #8246
Thanks for all the help and especially issue #2237 did get me on the way @hokein!

---

If you're wanting to capture screenshots cross platform, i'd advice using the approach below in stead of relying on the built in electron-api's. Not that they're not good, but they're not suited for taking screenshots every three seconds for example.

The solution for me was the npm-module [desktop-screenshot](

[2017-01-29 21:26] aredfox commented on #8246
Closing this, as for me it is solved - and no specific electron issue.

[2017-01-29 21:26] #8246 closed

[2017-01-29 22:29] MH15 opened #8531 "No longer renders properly"
* Electron version: ^1.3.2
* Operating system: Windows 10

### Expected behavior
Electron should start and load normally, as it did in the past

### Actual behavior
When I run `electron .` anymore, it just shows a blank screen like this:
![capture](https://cloud.githubusercontent.com/assets/14988198/22408537/638490a2-e648-11e6-9219-70f9332a152c.PNG)

### How to reproduce
No idea. I didn't change v

[2017-01-30 00:24] sklink commented on #8531
Need more context for this. Is this on a fresh application? If not, does it work with a fresh electron application?

[2017-01-30 01:35] MH15 commented on #8531
This is on an application I am building. After it stopped working, I reset it to the default electron template and the error persisted.

[2017-01-30 03:37] jas99 opened #8532 "Window transparency bug in 1.5"
* Electron version: 1.5.x
* Operating system: mint 18.1

### Expected behavior

Window transparency with --enable-transparent-visuals is supposed to produce see thru window

### Actual behavior
Window produce black background with old frames not disposing

### How to reproduce

Use 1.5.x version; **works well with 1.4.x version**

[2017-01-30 03:39] daguej opened #8533 "Electron not per-monitor DPI aware on Windows"
* Electron version: 1.5.0-beta
* Operating system: Windows 10 (build 15014)

### Expected behavior

Electron should declare itself per-monitor DPI aware (ie, able to handle `WM_DPICHANGED`) since Chrome 54 introduced per-monitor DPI handling.

### Actual behavior

Electron declares itself as only System DPI aware; Windows applies ugly bitmap scaling to electron windows dragged between displays wit

[2017-01-30 03:47] ericbets opened #8534 "Make the Chrome cache accessible to electron."
Hi, I've started work on a new browser project today. It fits in well with another project I'm working on at the moment, so I've decided it's time. It already looks pretty great thanks to @adamschwartz 's chrome-tabs project.
![hackable](https://cloud.githubusercontent.com/assets/49939/22411621/906218f2-e6f1-11e6-9c82-d796e5f5124e.png)
I wrote down a few of my ideas a few days ago here (and the ac

[2017-01-30 05:32] plainspace opened #8535 "link opens an electron app that contains a webview"
* Electron version: `"electron": "^1.4.15",`
* Operating system: `MacOS 10.12.3

### Expected behavior
I "expect" to be able to click a link, for instance, in an email, and open an electron app that contains a webview. E.g. this project that contains a webview of Paper by Dropbox. https://github.com/williambout/paper-for-mac

Is this a realistic expectation? I'm thinking something similar to click

[2017-01-30 06:03] MarshallOfSound commented on #8535
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2017-01-30 06:03] #8535 closed

[2017-01-30 06:03] MarshallOfSound commented on #8535
FWIW you probably want the default protocol handler API's.

http://electron.atom.io/docs/api/app/#appsetasdefaultprotocolclientprotocol-path-args-macos-windows

[2017-01-30 07:38] smkent commented on #8525
As I just mentioned in yakyak/yakyak#563, I noticed that Slack (which also uses electron) on my work computer also exhibits this same problem.

[2017-01-30 09:12] nikolayh opened #8536 "console-message is cut log string"
* 1.4.15
* Windows 8.1 x64:

### Expected behavior

Expect console-message show this
"time: 00:00:08:148.9999294281006 LoadLibraryAction STARTED"

### Actual behavior

But console-message shows this
"time: 00:00:08:148.9999294281006"
"LoadLibraryAction STARTED"

like two different console logs

### How to reproduce
console.log('time: 00:00:08:148.9999294281006 LoadLibraryAction STARTED') // inside

[2017-01-30 09:16] nikolayh commented on #8536
#8090 related.

[2017-01-30 09:16] #8536 closed

[2017-01-30 10:26] mneuhaus commented on #8493
*log content after BrowserWindow request*

[code]

[2017-01-30 14:13] kirkouimet opened #8538 "Enable the JS flag --harmony to enable Harmony features in the main process"
* Electron version: 1.5
* Operating system: macOS

### Expected behavior

When I run electron with the command `electron --js-flags="--harmony"` all Harmony features should be enabled.

### Actual behavior

Harmony features are not enabled. I have to specify exact flags, using a command such as `electron --js-flags="--harmony-async-await"`

[2017-01-30 14:33] DovAmir commented on #1821
waiting for a fix

[2017-01-30 16:27] EliaContini-TR commented on #8183
Electron version: 1.4.15
Operating System: Ubuntu 16.04.1

I have a similar problem, but everything works fine (also on Recent files) until I add the browserWindow param to obtain a modal dialog. Sample code

[code]

If I remove comment from parentWindow, filters are not applied, the callback is not call and the window freeze.

[2017-01-30 16:45] #8445 closed

[2017-01-30 17:52] kevinsawicki commented on #4704
Merging this into #2524

[2017-01-30 17:52] #4704 closed

[2017-01-30 18:16] kevinsawicki commented on #8538
Having a little trouble reproducing this. I'm able to create an async function in the dev tools on 1.5.0 when running with `--js-flags="--harmony"`.

<img width="1680" alt="screen shot 2017-01-30 at 10 14 49 am" src="https://cloud.githubusercontent.com/assets/671378/22435480/0ac13f28-e6d5-11e6-81dc-51ab1b34cdcc.png">

Can you log out `process.argv` and `process.versions.electron` in the dev tools

[2017-01-30 18:18] kevinsawicki commented on #8469
@sgehrman do you have the stack trace available?

[2017-01-30 18:36] #8358 closed

[2017-01-30 18:42] kevinsawicki commented on #8531
@MH15 can you provide a minimal example that reproduces the issue for so we can look into this further? Thanks.

[2017-01-30 18:46] kevinsawicki commented on #8529
I'm having trouble reproducing this, could you include example code that reproduces it for you?

I tried running this from the Console of the dev tools:

[code]

[2017-01-30 18:47] kevinsawicki commented on #8529
Is code your including defining `atob` and `btoa` in the main process?

I don't think these methods are included by default in the main process.

[2017-01-30 18:53] bsclifton commented on #8531
@MH15 are you able to update your Electron version? 1.3.2 is a bit old 😕

Something else you can try: appending one of the following to your command line args to electron:
`--ignore-gpu-blacklist`
`--disable-gpu`

[2017-01-30 20:19] paulcbetts commented on #1821
This is unlikely to be fixed tbh, users should either enable Aero or upgrade to an operating system not old enough to be in grade school

[2017-01-30 22:53] juturu opened #8541 "Renderer process crash @ breakpoint_80000003_electron.exe!gethandleverifier"
Renderer process is hitting this crash more often to users. This is contributing to ~40% of total crashes in the app. Any ideas why this could happen?

* Electron version: 1.3.6
* Operating system: Windows

### Expected behavior
No crash

### Actual behavior
Crash @  breakpoint_80000003_teams.exe!gethandleverifier

[code]

### How to reproduce
No consistent repro noticed.

[2017-01-30 23:34] #8153 closed

[2017-01-31 00:04] kevinsawicki commented on #7351
Can you include the code running when the error is thrown?

No, if the console reports 1.4.14 then the update to that version has occurred.

[2017-01-31 00:58] kevinsawicki commented on #8484
@fantasticsid do you still have the full minidump crash report text available for this one? If so, can you paste the complete report here?

[2017-01-31 01:05] michaelpeterlee commented on #7440
Solution here as presented by @kevinsawicki is to re-require electron.remote.

[2017-01-31 01:13] michaelpeterlee commented on #3148
To implement @johnthedebs solution, you must re-require electron.remote in setBadge().

[2017-01-31 05:26] HegdeSach opened #8543 "How to make connection between JS and Java backend servlet in Electron"
I have an application which has HTML+JS as frontend and a Java servlet as backend to perform some file operation.

As an eclipse project I had web.xml as a connector between JS and Java servlet and the project I was running on tomcat server.

But in electron frontend will not be on server. However i tried keeping servlet on seperate tomcat server and I am getting 403 (Forbidden) error.

I have eve

[2017-01-31 10:55] nicolasandrieux opened #8544 "Headset microphone doesn't work"
* Electron version:v1.4.14
* Operating system:mac OS

### Using webrtc tool my microphone should works
I don't know what happens
### I have no sound emitted

### How to reproduce

[2017-01-31 11:00] nicolasandrieux opened #8545 "require is undefined on loaded page until webPreferences.nodeIntegration is set to true"
The doc say the default value of webPreferences.nodeIntegration (BrowserWindow) is true but until I set it manually to true `require` is undefined/null on the loaded page

* Electron version:v1.4.14
* Operating system:mac OS

Create a BrowserWindow, don't set the `webPreferences.nodeIntegration` property, open the devTools for that webcontent, type `require` in the console.

Set the `webPreference

[2017-01-31 11:10] tonyganch commented on #8083
Do I get it right that the issue is fixed already in master?

[2017-01-31 11:25] tonyganch commented on #3049
Hi, I wanted to check if the issue is fixed already since I see there is a PR merged.

[2017-01-31 11:30] MarshallOfSound commented on #8083
It will be fixed in the 2.0 update as it is a breaking change

[2017-01-31 14:09] #8545 closed

[2017-01-31 18:44] deepak1556 commented on #8504
Yes, the content layer sets form data and scroll as PageState in navigation entry which is used for history navigations. Its a bug in Electrons's navigation controller for not tracking and restoring those states.

[2017-01-31 18:49] deepak1556 commented on #8493
Thanks for the logs but unfortunately both of them are cut off, can you try getting the log again. You can verify by importing into `chrome://net-internals` page in your chrome browser.

[2017-01-31 18:57] kevinsawicki commented on #8544
Can you include a minimal example app that reproduces this issue for you? That will help us find out what is happening.

[2017-01-31 19:56] paulcbetts opened #8546 "Frameless windows miscalculate workspace size when maximized"
* Electron version: 1.4.x, 1.5.x
* Operating system: Windows 10, probably others

To Reproduce:

* Set your Windows Taskbar to auto-hide
* Open any Electron application that uses custom non-client area (both Slack and Discord repro this)
* Maximize the Window
* Try to get the Taskbar to show up, you can't
* Open an Electron application that uses a standard frame (Atom, VS Code, etc)
* Do the same

[2017-01-31 19:57] sltam opened #8547 "Spellchecking support for sandboxed renderers"
From what I understand from the docs, [`webFrame.setSpellCheckProvider`](http://electron.atom.io/docs/api/web-frame/#webframesetspellcheckproviderlanguage-autocorrectword-provider) is required to enable spellchecking, but `webFrame` is a renderer-only construct and there is no way a sandboxed renderer can obtain a reference to its own `webFrame`, so it seems there is currently no way to achieve so

[2017-01-31 21:11] bbales opened #8548 "Icon does not appear in tray in Ubuntu 16.04"
### Platform info

* Electron version (installed globally): tested with 1.5.0 and 1.4.15
* Node version: 7.4.0
* Operating system: Ubuntu 16.04
* `libappindicator1` installed
(_`libappindicator1 is already the newest version (12.10.1+15.04.20141110-0ubuntu1)`_)

### Details

Tray icon does not show up. Weirdly enough, the icon can be seen in the tray if [indicator-systemtray-unity](https://github.

[2017-01-31 21:33] MehediH opened #8549 "webview.send is not a function"
* Electron version: 1.4.15
* Operating system: Windows 10 1607

### Expected behavior

`webview.send()` should send a message to the webview tag

### Actual behavior

Getting the error "`webview.send()` is not a function"

### How to reproduce

Simply use the `.send()` method on a webview tag

### Code

Here's the code:

[code]

[2017-01-31 22:18] #8549 closed

[2017-01-31 22:36] bbales commented on #8548
This was a dbus permissions issue. Closing.

[2017-01-31 22:36] #8548 closed

[2017-01-31 23:09] bbales commented on #6773
@seppestas has there been any progress on this?

[2017-01-31 23:29] gch1p commented on #8525
I can confirm the same in XFCE.

[2017-01-31 23:39] michaelpeterlee commented on #3148
@JSONValidator use IPC similar to code here: https://github.com/electron/electron/issues/7325

[2017-01-31 23:40] michaelpeterlee commented on #7440
@osamaaamer95 use IPC similar to code here: https://github.com/electron/electron/issues/7325

[2017-02-01 04:28] Davidzhu001 opened #8551 "Electron Environment"
Hey guys,

Here is a questions regards Child process of Electron.

Before I build into Mac App, the ruby version is 2.3.1

After Build into mac app Ruby version is 2.0.0(Systerm);

And other commands are not availible anymore.

I want to know why? and How to solve it.

Thanks so much

Is that because Chromium, Mac App Accessibility or other reason?

[2017-02-01 04:31] MarshallOfSound commented on #8551
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2017-02-01 04:31] #8551 closed

[2017-02-01 04:31] MarshallOfSound commented on #8551
@Davidzhu001 When you launch an app from Terminal (in dev mode) it inherits your environment variables from your bash environment.  I.e. Your `$PATH` variable.

When packaged and launched normally these variables are not inherited so it only uses the default known system path variable.

[2017-02-01 04:34] Davidzhu001 commented on #8551
@MarshallOfSound Can you direct me to some readings or give me a direction of how to solve it?

[2017-02-01 04:42] MarshallOfSound commented on #8551
https://www.npmjs.com/package/fix-path

[2017-02-01 04:44] Davidzhu001 commented on #8551
Thanks so much @MarshallOfSound

[2017-02-01 06:33] Stan92 opened #8552 "Raspberry - Flash got sound but not video"
* Electron version: 1.4.15
* Operating system: Raspbian Jessie

I use a webview as described in the documentation and set all the parameters as well.
Everything works with Mac OS (video as well as sound).
But with my PI 3, I only get the sound (I've also set my memory split to 192)
From my console (PI), I have a message saying "Not sandboxed, vector smash protection is enabled"
My pepper flash ver

[2017-02-01 07:08] iamale commented on #673
@sapioit I've started working on a Linux (APT/RPM) solution. A simple service that you upload .asar to and it gets converted to packages and added to the repositories. Should be extendable to Windows and macOS as well, but no promises on that for now.

[2017-02-01 09:42] sapioit commented on #673
@iamale Cool! Let me know when you get it working on windows.

[2017-02-01 09:53] joinjoohny opened #8553 "License application"
Hi all.
Is there a way to add a license application or integrate with
https://devmate.com
Thx!

[2017-02-01 12:06] cumajkeee opened #8554 "File dialog can not show after destroying a modal child window"
* Electron version: 1.4.15
* Operating system: MacOS 10.12.3 (16D32)

During WebRTC session with screensharing (desktopCapturer), I'm trying to click on input with type file and application is not responding any more. Can quit only with "Force quit".

With electron_enable_logging I see following error in console:
<details>

[code]

</details>

Issue reproduce only if I share screen, if I join WebR

[2017-02-01 14:21] herrmannplatz opened #8555 "Mac app store build uses non-public APIs"
* Electron version: 1.5.0
* Operating system: macOS

I made a test build with the electron 1.5.0 MAS version and submitted it to apple. These are the issues that apple complained about.

[2017-02-01 16:33] henrykode commented on #562
With termux https://termux.com/ we can install nodejs on android https://www.youtube.com/watch?v=lnlH_yvYwE0
Could it be possible to wrap in a unique app, termux, nodejs a server and a webview which comunicates with the server to call the functions of nodejs? In this way we would use the node library instead of cordova plugin and then major portable code.

[2017-02-01 17:42] connorbode commented on #1334
@pmario I just solved it as follows:

[code]

I only use one window but it can be modified for multiple to check if at least one window is still in focus.

[2017-02-01 17:51] dpatra commented on #6893
Thanks @MarshallOfSound for the pointer.
BTW, I am using [https://www.npmjs.com/package/auto-launch](url)

The **isHidden: true** adds **--hidden** argument when it starts the application, you can do something like the following.

[2017-02-01 18:29] EsSpricht commented on #8523
I did not test this (devtools), since I outsourced the functions from my angular scope (app.js) to my electron scope (main.js). I can add an example repo next week, I am very busy at the moment sorry.

[2017-02-01 18:38] kevinsawicki commented on #8555
Thanks for reporting this, we probably need to add a new patch to `libchromiumcontent` that patches out these function calls on the MAS build.

https://github.com/electron/libchromiumcontent/blob/master/patches-mas/no_private_api.patch

[2017-02-01 20:11] neurosnap commented on #8205
I'm seeing this issue as well, any updates on this?

[2017-02-01 20:16] kevinsawicki commented on #8205
Is anyone able to provide a code sample that reproduces this? Would be happy to take a look but I've been unable to reproduce this since the the last fix for it.

[2017-02-01 20:16] Hum4n01d commented on #4789
@arieldf Same. I’m getting this when running an Electron app from within Atom

[2017-02-01 20:19] HitomiTenshi commented on #8205
I fixed my issue by using `ipcMain` and `ipcRenderer`. Using the remote object directly from the renderer thread seems to cause some bugs.

[2017-02-01 20:22] kevinsawicki commented on #8205
Yes, that is true, the `missing remote object` exception only occurs for objects, properties, methods accessed via the `remote` API.

Until the `remote` issue is resolved, switching code from using `remote`  to `ipcMain`/`ipcRenderer` will prevent the exception from being thrown.

[2017-02-01 20:25] ccnokes commented on #8205
@kevinsawicki what is the `remote` issue?

[2017-02-01 20:27] HitomiTenshi commented on #8454
@kevinsawicki I'm still having this issue with electron v1.5 😞 using v1.4.13 hides fewer pixels at the top when maximizing.

[2017-02-01 20:38] kevinsawicki commented on #8205
The issue is that remote objects are somehow being incorrectly removed from the objects registry in the main process even though they are still referenced in the renderer process.

The stack traces people are seeing in this issue is what happens when this problem occurs, a remote object is accessed but the main process does not have it in its object registry so it is unable to call or access the r

[2017-02-01 20:43] ccnokes commented on #8205
Yeah, that's exactly what's going on for me. Is there an open issue/in-progress PR somewhere for that that I can track? (Or maybe this is it?)

Let me know if there's any additional info I can provide to help or if there any workarounds for it 😸

[2017-02-01 20:46] kevinsawicki commented on #8205
This is the issue to track this error down.

Are able to reproduce it (even if only 1 out of X number of times) with a smallish code example that you could provide here?

[2017-02-01 20:52] ccnokes commented on #8205
I'll see what I can do... it might be a few days before I can get back to you on that. Like others, when the error happens, it seems to be sort of random. I.e. its working just fine and then all of the sudden I get the `missing remote object` error. I'll try to track it down though. Thanks!

[2017-02-01 21:05] AoDev commented on #8205
My 2 cents, it could be garbage collector related. I have changed my process to make it much less memory intensive and the error does not happen anymore. That's also why it can be random, garbage collection may be triggered at any time. But I have nothing to prove this theory right now.

[2017-02-01 22:52] bakkiraju opened #8557 "Renderings start sticking when a transparent electron window loses and comes back into focus"
* Electron version: 1.4.15
* Operating system: Mac OSX El capitan

### Expected behavior
Should not be seeing Ghost renderings in a transparent electron window when it goes out and comes back into focus

### Actual behavior
I am using jquery flipster plugin using a transparent electron window, I can do a carousel effect all day long without any problems as long as my electron transparent window is

[2017-02-01 23:32] winamp opened #8558 "Binary data gets corrupted after injecting with protocol.interceptHttpProtocol"
* Electron version: 1.5.0
* Operating system: Linux Debian 3.16.39-1 (2016-12-30) x86_64 GNU/Linux

### Expected behavior
binary data passed through callback uploadData.data gets uploaded as-is

### Actual behavior
binary data gets corrupted

### How to reproduce
1. clone https://github.com/winamp/electron-binary-issue
2. npm install
3. npm start

It creates simple web server on 8085 port, serves

[2017-02-02 01:06] zeke commented on #562
https://blog.chromium.org/2017/01/open-sourcing-chrome-on-ios.html

[2017-02-02 01:10] zeke commented on #8553
Hi @joinjoohny. What do you mean by "license application"? Please explain in greater detail.

[2017-02-02 02:20] paulcbetts commented on #8553
There isn't any software licensing built into Electron. You'll have to build this yourself, sorry.

[2017-02-02 02:20] #8553 closed

[2017-02-02 03:43] ArashAlikhani opened #8559 "electron build failed on windows 10"
sorry if this is not an issue to post here, I don't know anywhere else to ask.
I just followed the instruction for building for windows from docs, like this:

$ git clone https://github.com/electron/electron.git
$ cd electron
$ python script\bootstrap.py -v
$ python script\build.py

but it failed in the build process with some errors that i couldn't figure out for hours.

C:\Users\Arash\Documents\

[2017-02-02 05:36] bsclifton commented on #8559
Hi @ArashAlikhani

This is happening because you don't have the latest service packs for Visual Studio 15.  I've had the same error before.  Please try updating and then rebuild

[2017-02-02 06:47] kirkouimet commented on #8538
OK so I figured out this was a weird one, I was actually directly opening a .js file instead of a .html file.

This successfully enables all Harmony features:

`electron --js-flags="--harmony" index.html`

This does not enable any Harmony features:

`electron --js-flags="--harmony" index.js`

This successfully enables a Harmony feature:

`electron --js-flags="--harmony-async-await" index.js`

[2017-02-02 07:09] Dominis13 opened #8560 "powerMonitor.on('suspend/resume') doesn't work at win10 tablet devices"
* Electron 1.4.14 (upgrade to 1.4.15 doesn't help)
* Operating system: windows 10 (only on tablets. like this one(http://shop.lenovo.com/us/en/tablets/ideapad/miix/miix-310/), wasn't checked on surface devices)

[code]

This code works well on the PC and laptop win10, but on the tablet with win10 it does nothing. I can't see my console.log and don't get my custom event.
I've tried to install every

[2017-02-02 08:31] be5invis opened #8562 "Menus being covered by the window content on Windows 10 build 15025.rs_prerelease"
cc. https://github.com/Microsoft/vscode/issues/19698
Another image, from https://www.zhihu.com/question/55328189?group_id=810523368477581312
![](https://pic1.zhimg.com/v2-c170ddc40bf0a06eebfbf6bca20e2a10_b.jpg)

[2017-02-02 08:54] alexis57 commented on #2570
Then I have a question, how closed code electron app such as GitKraken, Whatsapp or Slack can hide the code ?

[2017-02-02 09:22] be5invis commented on #8562
Feedback link: https://insider.windows.com/FeedbackHub/fb?contextid=52&feedbackid=04a842d2-6eed-4452-b96a-5c64e7c2b3eb&form=1

[2017-02-02 09:42] nicolasandrieux commented on #8544
Hi,

My app is making call using webrtc.

On my Imac27, when I plug my headset (hear and microphone), my microphone doesn't work. On the same computer, when I use chrome or a chrome extension the microphone is working.

I have done more test and when I do the same on my macbook, my microphone is working in all case.

So I think this is a hardware + electron compatibility issue.

here is my Imac co

[2017-02-02 10:00] mneuhaus commented on #8493
hey, i failed to create a working complete log, for some reason, they are all cut off.
i did update to 1.5 though and there it seems to work now :/

[2017-02-02 10:00] #8493 closed

[2017-02-02 10:05] deepak1556 commented on #8493
Thanks for the update!

[2017-02-02 10:23] dregenor commented on #4303
in my case need attach file if specific header is present.

i can check/modify headers in *webRequest.onBeforeSendHeaders*
but can't attach files (can't modify uploadData).

and i can modify uplaodData in *protocol.interceptHttpProtocol* but can't check headers.

quantum uncertainty :)
or I know the headlines, but can not do anything,
or I can do something, but do not know when.

[2017-02-02 10:35] MarshallOfSound commented on #8544
@nicolasandrieux Can you provide the code you use to test your microphone.  We will need it in order to properly figure out what is going on 👍

[2017-02-02 10:39] alexstrat opened #8563 "Crash during runtime and at app quit"
* Electron version: 1.4.14
* Operating system: macOs Sierra (version 10.12.2)

I have an application that consists mainly in several `webviews` loading different websites (aka a web browser).
Randomly the app crashes during runtime and, a bit more often, when user quits the app.
I have not found a way to constantly reproduce the crash.

I think it appeared when I bumped from electron v1.4.7 to v1.

[2017-02-02 10:52] systems-rebooter commented on #562
First big step?

[2017-02-02 10:58] miniak commented on #8533
This was already filed as https://github.com/electron/electron/issues/5429

[2017-02-02 11:07] siman commented on #7255
@hijklmno I have the same `ScreenCaptureError` problem on Linux. What is your OS?
Anybody experiences the same error on Win or OSX when recording audio+screen?

[2017-02-02 13:17] cumajkeee commented on #8554
Tried to see what happen with LLDB, got following

2017-02-02 16:08:52.770848 App[8747:517290] kAudioUnitErr_TooManyFramesToProcess : inFramesToProcess=1024, mMaxFramesPerSlice=441
2017-02-02 16:08:56.922779 App[8747:515930] WARNING: The Gestalt selector gestaltSystemVersion is returning 10.9.3 instead of 10.12.3. This is not a bug in Gestalt -- it is a documented limitation. Use NSProcessInfo's o

[2017-02-02 13:44] nicolasandrieux commented on #8544
today it's working, may be just an hardware issue then (hope).

[2017-02-02 13:56] dregenor commented on #6712
need add **access** to **webFrame** in **sandbox_renderer**, or any another way to interact with **webFrame** when used **sandbox_renderer**.

[2017-02-02 14:21] binjospookie opened #8564 "Not accessible not found in win 10"
* Electron version: 1.5.0
* Operating system: Windows 10

### Expected behavior

find application

### Actual behavior

no return

### How to reproduce

click start
search application on Electron
does not return application

<img src="https://cloud.githubusercontent.com/assets/640846/22552766/4b9ae4fc-e96b-11e6-8943-45799a96faf0.png" alt="" />

[2017-02-02 14:23] AlifArnado commented on #6204
I'll call javascript that's in directory using elctron

    <script>window.$ = window.jQuery = require('asset/bootstrap/dist/js/bootstrap.min.js');</script>
    <script>window.$ = window.jQuery = require('asset/js/wow.min.js');</script>
    <script>window.$ = window.jQuery = require('asset/js/script.js');</script>
i have used that tecnic, but it was fail, how can i solve that's problem?

[2017-02-02 14:35] aaroncalderon commented on #6204
@AlifArnado Follow __kevinsawicki__'s https://github.com/electron/electron/issues/6204#issuecomment-228392185 suggestion. You do need to account for all the integrations your app will need on the preload script.

[2017-02-02 15:33] deepak1556 commented on #8558
Thanks for the test case. But I think this is most likely a misuse of formidable or a bug in it, depends on if the encoding of the data is maintained when written to the file. Replace `fileData` with the following,

[code]

Also tested with

[code]

Closing since its not a bug in Electron. Also upload with custom protocol isn't much flexible for file uploads now, there is an issue tracking to enha

[2017-02-02 15:33] #8558 closed

[2017-02-02 17:05] tcaer opened #8567 "Support "spellcheck=true" attribute"
* Electron version: 1.14.15
* Operating system: Mac OS X 10.12.3

### Expected behavior
Like Chromium, spellcheck='true' html attribute should highlight user input which does not have correct spelling.

### Actual behavior
Nothing happens...

### How to reproduce
<div contenteditable='true' spellcheck='true'></div>

I understand that this is actually a feature left out of electron on purpose, but

[2017-02-02 17:43] jiabaoyu commented on #8232
@morlauth I tried a couple of times. Finally I get the right way to achieve this by the following codes.
In the main process:
`let win = new BrowserWindow({
        height: 600,
        width: 800,
        webPreferences: { experimentalFeatures: true}
    });`

In the render process:
` #cover {
            height:100%;
            width: 100%;
            background: rgba(0,0,0,.2);
            ba

[2017-02-02 18:02] AnatoliiAPFM commented on #1821
seen the same issue on Windows 7 with basic theme, affected: Slack, Postman,
workaround: switched to an Aero theme for now, probably best to upgrade to Windows 10 later anyway.

[2017-02-02 18:33] #8471 closed

[2017-02-02 18:54] be5invis commented on #8562
@gongminmin ← WDG DWM guy. May be related.

[2017-02-02 20:12] kevinsawicki commented on #8555
Did you previously submit a version of your app using Electron 1.4.x and was that one rejected?

[2017-02-02 20:20] herrmannplatz commented on #8555
No, but i can make a build an submit it.

[2017-02-02 20:37] jeanbruder opened #8571 "Please provide a compiled arm64 version of the release"
Dear team,

Trying to install Mirror² on a Pine64 board running the Ubuntu longsleep version (arm64), but no package is provided in the 1.4.15 release section. Could you please provide such a package ? The installation script for Mirror² requests to download the following zip file : https://github.com/electron/electron/releases/download/v1.4.15/electron-v1.4.15-linux-arm64.zip !

Many thanks in ad

[2017-02-02 20:41] kevinsawicki commented on #8571
arm64 support in Electron is being tracked in https://github.com/electron/electron/issues/5706, please subscribe to that issue for updates.

[2017-02-02 20:41] #8571 closed

[2017-02-02 20:45] jeanbruder commented on #2343
Dear Team, Please provide a prebuild package for version 1.4.15 for an arm64 board : Pine64 running the Longsleep Ubuntu release. Many thanks in advance, Regards.

[2017-02-02 21:17] kevinsawicki commented on #8469
`app.getPath` throws when the path requested is unavailable, this should be guarded against when used.

On Windows, this method will throw when called with `pepperFlashSystemPlugin ` unless the `SOFTWARE\Macromedia\FlashPlayerPepper` path in the registry has a `PlayerPath` value.

Closing this out.

[2017-02-02 21:17] #8469 closed

[2017-02-02 21:48] fantasticsid commented on #8484
Unfortunately I don't have it as someone pasted me this stack trace. Sorry about that..

[2017-02-02 22:15] levrik commented on #8564
I think that's not an issue with Electron but with [`electron-builder`](https://github.com/electron-userland/electron-builder)

[2017-02-02 22:37] jwheare opened #8573 "Dialog box with `cancelId` but no "Cancel" button can't be dismissed with esc key"
* Electron version: 1.4.15
* Operating system: macOS 10.12.3

### Expected behavior

Pressing esc on a dialog box with a cancelId should emulate clicking the button with that index.

### Actual behavior

An alert tone from the OS is produced, as with any unrecognised key press.

### How to reproduce

[code]

The esc to cancel does work if you change the cancel button text to `Cancel`.

[2017-02-02 23:14] groundwater commented on #8573
I can reproduce the issue, but I'm not sure if it's a bug. We will review this a little further and decide if we want to support this behavior or not.

[2017-02-02 23:17] groundwater commented on #8564
Hi @binjospookie can you give us information about how you are installing the Electron app? Ideally, please give us the steps you took, so that we can try to reproduce the error.

What happens when you double click the app? Does it display any kind of error message?

[2017-02-02 23:26] groundwater commented on #8563
Hi @alexstrat, this does appear to be a bug, but it may take some time to track it down. A few options that might help in the mean time.

1. Can you reproduce this on 1.4.15, our latest stable release?
2. Can you reproduce this on 1.5.0, our latest beta?

It appears the crashed tread is doing Geolocation:

1. are you use that feature?
2. can you describe how you're using it?

[2017-02-02 23:31] groundwater commented on #8562
Hi @be5invis, what version of Electron is VSC using?

If you update Electron via `npm i electron@latest` can you reproduce the issue using the default app?

Regarding your link above, I am unable to see the content, it just says

[2017-02-02 23:44] groundwater commented on #8560
Hi @Dominis13 thanks for the report.

We will attempt to verify this, and investigate further.

[2017-02-03 00:10] kevinsawicki commented on #8563
I mapped the symbols from the crash, here is the top of the stack from the crashed thread:

[code]

[2017-02-03 01:02] kevinsawicki commented on #8543
You should be able to connect to the local server the same way as you would in a standalone browser like Chrome.

Does your Java servlet require any authentication?

[2017-02-03 01:08] Hum4n01d commented on #2570
@alexis57 I have the same question; maybe it’s just that inspect element is disabled or something

[2017-02-03 01:22] groundwater commented on #8563
👍 @kevinsawicki can you document how you mapped the symbols for reference?

[2017-02-03 01:23] groundwater commented on #8559
Hey @ArashAlikhani, going to close this in case the above works. Feel free to re-open if it's still an issue.

[2017-02-03 01:23] #8559 closed

[2017-02-03 01:25] groundwater commented on #8557
Thanks for the report @bakkiraju - we'll review the issue and get back to you within the next 7 days. If you're able to isolate the issue, we're always happy for the help.

[2017-02-03 01:25] alexis57 commented on #2570
Or maybe the main code comes from a C/C++ library and then they use electron just for the GUI, don't know...

[2017-02-03 01:30] groundwater commented on #8567
Hi @morlauth we will review this request. Review typically occurs within 7 days. We will try to get you an update by then.

[2017-02-03 03:17] fijiwebdesign opened #8575 "Set breakpoint using win.webContents.debugger.sendCommand not working"
* Electron version:v1.2.7
* Operating system: darwin x64, Mac OSX Yosemite 10.10.5

### Expected behavior

I'm using electron as a node.js debugger that require()'s the node.js app into the electron render process. source: https://github.com/fijiwebdesign/electron-scope

I'm trying to set a breakpoint on the first line of the required node app entry file following the tests from here:
https://gith

[2017-02-03 03:31] stephennyu opened #8576 "Worker for doing background job"
Hi,

I am building an offline app using electron in which the requirement is to do API data polling every 2 hours since the application starts. Been trying to use redux-saga to do the scheduling, however seems like my main thread is consumed heavily whenever the polling start which makes my application performance degrades. I have been looking for another alternative using service worker API, howe

[2017-02-03 03:51] willin opened #8577 "tray menu question"
* Electron version: 1.4.15
* Operating system: OS X 10.12.3

### Expected behavior

<img width="132" alt="wx20170203-114812 2x" src="https://cloud.githubusercontent.com/assets/1890238/22578861/c5e49582-ea06-11e6-9ea6-b290d3bdc509.png">

Try + Menu

### Actual behavior

<img width="110" alt="wx20170203-115025 2x" src="https://cloud.githubusercontent.com/assets/1890238/22578886/f8be2126-ea06-11e6-95

[2017-02-03 05:21] groundwater commented on #8554
Hi @cumajkeee, are you able to provide a repro case?

If you suspect this is a Chromium issue, it might be listed in the [chromium bug tracker](https://bugs.chromium.org/p/chromium/issues/list?can=2&q=AudioSyncReader&colspec=ID+Pri+M+Stars+ReleaseBlock+Component+Status+Owner+Summary+OS+Modified&x=m&y=releaseblock&cells=ids).

[2017-02-03 05:27] groundwater commented on #8552
Hey @Stan92 this might be a little hard to track down since we don't have PIs. I definitely appreciate the repro case however.

A quick search led me to https://bugs.chromium.org/p/chromium/issues/detail?id=257741 which may or may not be related.

We'll take a longer look, but you may also want to help us track down what's going on.

[2017-02-03 05:34] groundwater commented on #8546
Confirmed on Windows 10, Surface Pro 4.

Hey @paulcbetts do you also know how to fix this?

[2017-02-03 05:36] groundwater commented on #8543
Assigned offtopic because this doesn't sound like a bug, or a feature request at the moment. I'm going to close it, but that doesn't prevent you and @kevinsawicki from hashing out some more details. If this turns out to be a bug, you're welcome and encouraged to re-open or file a new issue with a repro case. Thanks!

[2017-02-03 05:36] #8543 closed

[2017-02-03 05:38] groundwater commented on #8541
Hi @juturu can you reproduce this crash on `npm install electron@latest` and `npm install electron@beta`?

[2017-02-03 05:46] groundwater commented on #8575
Thanks @fijiwebdesign will check it out.

Can you try on the latest version of electron, version 1.4.15, available with `npm install electron@latest`.

[2017-02-03 05:47] groundwater commented on #8576
Hi @stephennyu ,

I would like to direct you towards some support options for using electron.

Your best bet is to engage the community as follows:

- if you have a general usage question, there are several options
  - join our [atom slack](http://atom-slack.herokuapp.com/) and ask in the #electron channel
  - stack overflow has an [electron tag](http://stackoverflow.com/questions/tagged/electron)

[2017-02-03 05:47] #8576 closed

[2017-02-03 05:55] groundwater commented on #8577
Hi @willin can you explain more about what bug you're experiencing? Or can you provide a more thorough reproduction case?

[2017-02-03 06:00] willin commented on #8577
![](https://cloud.githubusercontent.com/assets/1890238/22578886/f8be2126-ea06-11e6-9524-375f9ba2eca7.png)

look at the `folder` icon position.  there is some white space enough for a '√' symbol.  i'd like to remove the white space, how to do?

[2017-02-03 07:53] deepak1556 commented on #8575
@fijiwebdesign at any point only one debugger sessio can be attached to a webContents, this is currently a limitation of chromium https://bugs.chromium.org/p/chromium/issues/detail?id=129539. So `webContents,debugger` session and `openDevtools` are two different debugging sessions and hence breakpoints wont appear.

Aside from that there are a few issues in your chrome RDP usage.

* Any Debugger d

[2017-02-03 08:46] towerpark commented on #8055
I've run into a crash problem with a similar call stack, but only on quitting app.
　　Electron version: 1.4.9 && 1.4.15
　　OS: Windows 7

Though it occurs occasionally and I can't find a reliable way to reproduce it, every time my application crashes I get a similar call stack (see the details at the end of my post):
- **Some thread other than the main thread in the main process crashes at trying to

[2017-02-03 09:38] lingz commented on #3204
Can confirm what @thinklinux said, you need to run it on a folder, in which electron will find the `package.json`, or `index.js` file

[2017-02-03 10:36] alexstrat commented on #8563
@groundwater as I explained, I can't constantly reproduce. But I'll ship a version of my app with 1.4.15 and ask my (modest) user-base to report improvements (or not). For 1.5.0, since it's still in beta, I won't risk it but will give a try if no results with 1.4.15 .

_apriori_ I'm not using that feature, but, as I explained, I'm loading different websites in `webviews` (like a web browser). So,

[2017-02-03 11:40] deepak1556 commented on #8563
You can reproduce by loading any site that uses service worker, our browser context should destroy cleanly by calling `content::BrowserContext::NotifyWillBeDestroyed` https://codereview.chromium.org/653633004 and `content::BrowserContext::ShutdownStoragePartitions` https://codereview.chromium.org/2159133002 to fix this.

[2017-02-03 13:56] alexstrat commented on #8563
@deepak1556 I tried to isolate the problem you mentioned in a simple electron app using service-workers (https://github.com/alexstrat/electron-boilerplate/pull/1) but I was not able to reproduce the issue: the app runs and quits normally.

Note: I tried with SWs in webview too (https://github.com/alexstrat/electron-boilerplate/pull/2): same result.

[2017-02-03 14:26] javan commented on #8554
Possibly related https://github.com/electron/electron/issues/8457? Perhaps the file dialog is blocking in an undesirable way.

[2017-02-03 15:06] cumajkeee commented on #8554
@groundwater, unfortunately I can't share app, and to create sample I'll spend a lot of time :(
I suspect it as chromium but chrome from the box it not support screensharing in WebRTC. And problem appears only in such case. I'll try to find an closer issue, or create topic on discussion portal.

[2017-02-03 16:04] averissimo opened #8582 "Tray icon shows a blank square with 'X' when updating icon"
* Electron version: 1.4.15
* Operating system: Ubuntu 17.05 (also reported in 16.10)

### Expected behavior

Tray icon changes without an intermediate image/artifact

### Actual behavior

![outphkfc5l8rt](https://cloud.githubusercontent.com/assets/211358/22598140/5e2aa21e-ea2a-11e6-93dd-fa742397a475.gif)

### How to reproduce

Checkout https://github.com/averissimo/electron-boilerplate/tree/refres

[2017-02-03 16:13] guillaumemolter commented on #3379
Same issue here

[2017-02-03 16:58] #8236 closed

[2017-02-03 17:16] groundwater commented on #8582
Hi @averissimo I gave this a quick try in Ubuntu 16.04.1 and all I can see is a question-mark (?) icon.

I will spend some more time to review this in the next week. If you are able to help diagnose this problem in further detail, that will definitely help fix the bug sooner. We appreciate all the help we can get.

[2017-02-03 17:31] kevinsawicki commented on #8538
@kirkouimet yes, I can reproduce the same behavior, thanks for investigating further.

This doc for `--harmony` states "(enable all completed harmony features)" so perhaps that list of complete features is being interpreted differently in the main process vs. the renderer process.

For now I'd recommend using `--harmony-async-await` if you are trying to use async functions in the main process in t

[2017-02-03 17:31] #8538 closed

[2017-02-03 17:31] #7859 closed

[2017-02-03 17:39] #6939 closed

[2017-02-03 17:44] #8465 closed

[2017-02-03 17:53] #8433 closed

[2017-02-03 18:05] arlenyan commented on #4241
I examined explorer.exe using procmon and found it was reading a rogue start menu shortcut here:

"C:\Users\<user>\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\GitHub, Inc\Electron.lnk"

It must've been written there somewhere along the way during development. Anyway, I deleted that file and now everything works perfectly.

[2017-02-03 18:54] averissimo commented on #8582
just after submitting I noticed I had absolute path to an icon in `boilerpolate/index.js` -_- rookie mistake, can you confirm that's it?

a simple pull should fix this and be able to run

[2017-02-03 19:36] TheChuckster commented on #5139
Restarting seems like a band-aid fix to me, the whole point of hot updates is that you don't have to restart (this isn't an OS update).

[2017-02-03 20:46] Rhywden commented on #8562
Okay, I found the source of the issue - it's the DPI scaling. If it's set to 200% or above (which is the default for a Surface Book with its 3000 by 2000 resolution) then I don't see the menus. If I set the scaling to anything below 200% (i.e. 175% to 100%) then it works normally again.

[2017-02-03 21:29] JoelSutherland commented on #5429
This is now resolved in Chromium

[2017-02-04 01:11] KottV commented on #8455
Confirm that on openSUSE TW with Plasma 5.9

[2017-02-04 02:45] fwextensions commented on #1611
For anyone who might be trying to use the handy boilerplate from @b52 as model for updating an existing app and is getting `Unexpected token` errors when requiring a .jsx file (indicating that Babel isn't transpiling the JSX), don't forget to copy the `.babelrc` from the boilerplate repo to the root of your app directory.  I'd ignored it initially, but it's apparently crucial for getting Babel to

[2017-02-04 03:01] ericbets opened #8585 "Can't load a dynamic webview in renderer process"
* Electron version: 1.5
* Operating system: Linux

### Expected behavior
I should be able to load a dynamic webview

### Actual behavior
If I dynamically load a webview, it never seems to get a webContents. Also unclear what event to catch to know the webview has loaded, since dom-ready never seems to fire.

### How to reproduce
This is running inside a standard BrowserWindow with nodeintegration

[2017-02-04 03:43] li-xinyang commented on #7387
I do have the similar issue as @abnerlee mentioned above. I have tried to pass the `Rectangle` obj into the `capturePage` method but it seems only changing the output image size instead of change the bound of screenshot.

[2017-02-04 03:54] li-xinyang opened #8586 "Rectangle Passed into CapturePage Only Change Output Size"
* Electron version: 1.4
* Operating system: MacOS 10.12

### Expected behavior

The output image area should be the same as the area of the rectangle passed into the `capturePage` method instead of the squeeze the currently visible area of WebContent into the rectangle size.

### Actual behavior

The rectangle object is the output image size instead of the intended capture area.

Read more detaile

[2017-02-04 08:07] abnerlee opened #8587 "`webContents.capturePage` can only capture visible parts"
from discussions in #7378

* Electron version: 1.0.2
* Operating system: 10.12

I tried `webContents.capturePage`, but it can only capture the "visible" part of the page. If the height of your html node is larger than the BrowserWindow (or when there's a scroll bar), the overflow part is not included in the captured image. Is there any way to capture the whole page?

### Expected behavior

`webCon

[2017-02-04 08:08] abnerlee commented on #7387
I opened a new issue for the bug that only visible part can be captured in https://github.com/electron/electron/issues/8587

[2017-02-04 11:29] li-xinyang commented on #8587
+1

[2017-02-04 11:46] jacob-cross99 opened #8588 "desktopCapturer - Recording full-screen game windows?"
Whenever I'm trying to record the window of a full screen game I get a black screen from the recording source.

[2017-02-04 19:51] rogeru commented on #8554
I'm working with @cumajkeee. Issue is not related to desktop-capturer. Crash happens when closing a modal window using `destroy()` instead of `close()`. Very simple example attached.

[MacCrashDestroyChildWindow.zip](https://github.com/electron/electron/files/752520/MacCrashDestroyChildWindow.zip)

[2017-02-04 21:16] 1931186 commented on #8297
**Closed**
Problem was caused by the appmenu implementation I used. Now fixed.

[2017-02-04 21:16] #8297 closed

[2017-02-04 21:42] siman opened #8589 "Failed to record audio + screen due to error ScreenCaptureError"
* Electron version: `electron 1.5.0`
* Operating system: `Ubuntu 14.04.3 LTS`

### Expected behavior

Successfully recorded video of a screen + **audio**.

### Actual behavior

In `handleUserMediaError` I receive an error:

[code]

### How to reproduce

My code when trying to record video + audio.
I follow instructions from the [documentation](https://github.com/electron/electron/blob/master/docs/

[2017-02-04 21:43] askucher commented on #8589
+1 for mac as well

[2017-02-04 22:52] ericbets commented on #8585
The src attribute needs to be set beforehand.  XD

[2017-02-04 22:52] #8585 closed

[2017-02-05 01:19] ericbets commented on #6139
I bought an AMD gpu for a change and sadly I also have this problem on Fedora 25, though it's certainly not confined to only in webview page navigation. --disable-gpu helps alot.

[2017-02-05 01:34] da2x commented on #8124
The same problem exist on macOS as well. Cache should be stored in "~/Library/Caches" not "~/Library/Application Support".

When this is setup correctly then many backup utilities (Time Machine, Dejá Dùp) and indexing agents (Spotlight, tracker) will know not to backup or index the contents of these directories.

[2017-02-05 04:30] fijiwebdesign commented on #8575
@groundwater I've updated to Electron v1.4.15

@deepak1556 Thanks. It appears `win.webContents.openDevTools()` will attach without errors to the debug session and close the open session of `win.webContents.debugger`.

I think it should throw an exception just like `win.webContents.debugger.attach()` if there is already a session for `win.webContents.openDevTools()`. That would make it easier to br

[2017-02-05 06:20] Cl1608Ho commented on #3226
I am probably going to try to wrap the U2F host library (https://developers.yubico.com/libu2f-host/), which is written in C and allows U2F from any application that integrates it, into a native node module. Would that make your U2F implementation easier, would it even be easy to do it that way or is it just the wrong approach for this problem?

[2017-02-05 12:29] ev1stensberg commented on #8465
Woah, that was fast! Thanks!

[2017-02-05 12:35] nitzanbueno commented on #2112
Bumping this issue because it's really annoying.

Normally the way to fix this in other programs involves changing the language from Hebrew to English, or deleting/renaming the "he" locale dll in the program.

[2017-02-05 18:59] poiru commented on #8533
Closing in favor of #5429.

[2017-02-05 18:59] #8533 closed

[2017-02-05 19:05] maksimr opened #8591 "Does not work CSS animation for svg"
* Electron version: 1.4.15
* Operating system: macOs

### Expected behavior

CSS Animation should work for SVG

### Actual behavior

Animation does not work

### How to reproduce

1. Copy index.html and wow_animated.svg to the elector project [1]
2. Open index.html

[1] - [link on index.html and wow_animated.svg](https://gist.github.com/maksimr/43f6d224fa92a802225db39239b218a2)

Thanks

[2017-02-06 01:31] hh9527 opened #8592 "is it possible to use electron render process only with none electron based main process?"
* Electron version: any
* Operating system: any

### Expected behavior

It is not a bug, it is a question.
I want to use electron renderer process only with a none electron based main process(I am using rust).
I don't know how to do this:
- how to start a render process with system spawn mechanism?
- how to communication with renderer process with IPC? (what is the protocol?)

### Actual behavior

[2017-02-06 02:20] inossidabile commented on #839
+1 - quite a misleading problem really

[2017-02-06 07:01] daguej commented on #5429
Reopen?

[2017-02-06 07:56] anyxgit opened #8593 "SORT OUT the files. Such as *.dll to "lib" folder, *.pak to "assets" folder, etc."
As the title

[2017-02-06 08:57] Lcy-RITS opened #8594 "Sometimes, electron application disappears from the task view"
* Electron version: 1.4.15 (0.37.5)
* Operating system: windows 10

### Expected behavior

After pressing Windows Key+Tab, electron application can always be displayed in the task view.
![1](https://cloud.githubusercontent.com/assets/25579512/22640348/2d714f0a-ec8d-11e6-9f71-9a009467d60e.png)

### Actual behavior

After pressing Windows Key+Tab, sometimes, electron application disappears from the

[2017-02-06 09:05] paulcbetts commented on #3226
@Cl1608Ho This would help, the only existing node U2F library seems to be horribly bitrotted and doesn't work. This approach in general could work, though one problem is that for many U2F login sites, we'll be blocked by #2605, since they often include the U2F section in an iframe.

[2017-02-06 09:09] Cienlim612 opened #8595 "Error install Electron"
cienl@DESKTOP-DAK3KLI MINGW64 ~
$ npm install electron-prebuilt -g
npm WARN deprecated electron-prebuilt@1.4.13: electron-prebuilt has been renamed                                                                                                                 to electron. For more details, see http://electron.atom.io/blog/2016/08/16/npm-

[2017-02-06 09:23] enlight commented on #8595
Something is wrong with your connection, try again later.

[2017-02-06 09:23] #8595 closed

[2017-02-06 09:48] MarshallOfSound commented on #8592
I do not believe this is possible as the main process does a lot of communication behind the scenes to manage renderer processes.  Will defer to someone else to confirm my thoughts 👍

Your best bet would be to make a simple `main.js` that simply launches a renderer process and then pipes all messages to and from the renderer process.

[2017-02-06 13:31] moosingin3space commented on #673
What about making a Flatpak runtime for Linux? This way, the runtime can be shared between multiple apps, and you get sandboxing too.

With Flatpak removing its dependency on `systemd` it'll probably become universal on Linux for upstream packaging.

[2017-02-06 13:43] iamale commented on #673
I thought that with Flatpak it wouldn't be possible?..

[2017-02-06 13:46] moosingin3space commented on #673
@iamale Flatpak is designed to share runtimes - app developers choose a runtime, install the SDK for that runtime, then build an app with `flatpak-builder` or similar. Then when the user installs the app, Flatpak installs the associated runtime.

[2017-02-06 13:50] iamale commented on #673
@moosingin3space Thanks for explanation! It is definitely worth considering then.

[2017-02-06 13:54] moosingin3space commented on #673
The other thing I like about Flatpak is that it has been designed around the use case where a user adds a repo run by the runtime dev and app dev (transparently) and this makes updates automatic.

The only things I can see being issues are related to security - need to modify system libraries to use the "portals" interface in Flatpak to allow safe exiting of the sandbox.

[2017-02-06 14:58] pronebird opened #8597 "Dangling tray icon after Tray is being released."
* Electron version: 1.5.0
* Operating system: macOS

I have a simple component that creates Tray once mounted and destroys it when unmounted. However, it does not happen if I reload page manually. It simply creates new tray icon and leaks the other one.

[code]

### Expected behavior

Instances of `remote.Tray` should automatically call `destroy` when released.

### Actual behavior

Tray icon keep

[2017-02-06 15:05] Cl1608Ho commented on #3226
.... What? Why do the U2F part in an Iframe? I understood it that way that U2F is just two Javascript functions that are defined in this script: https://demo.yubico.com/js/u2f-api.js.

I'm not sure how you would achieve it but when you have this nodejs module, you would just need to use the two functions that the nodejs module provides instead of the script (or, make the script call the module....

[2017-02-06 15:46] moosingin3space commented on #673
There appears to be work on Flatpak here: https://github.com/endlessm/electron-installer-flatpak

[2017-02-06 16:55] #6901 closed

[2017-02-06 18:01] ebassi commented on #673
As a side note, Flatpak is based on the [OSTree](https://github.com/ostreedev/ostree) project, which does content addressing for file system trees. This means that files with identical checksums are automatically de-duplicated on disk, and that updates are performed using static deltas. This means that not only Electron could provide a share runtime that can be independently updated and shared acr

[2017-02-06 18:59] pronebird opened #8598 "Support clearing a menu"
* Electron version: 1.50
* Operating system: macOS

Tray menu accumulates items internally even if `Menu.items` is being reset. `Menu.items.length` reports the right number of items, however `tray.setContextMenu` appears to append items to tray menu as opposed to replacing them entirely.

### Expected behavior

<img width="85" alt="screenshot 2017-02-06 18 51 19" src="https://cloud.githubuserconte

[2017-02-06 19:10] ns opened #8599 "Crash with offscreen webview on Linux/Windows"
Electron version: 1.14.15

NodeJS version: v6.9.5

Operating system: Linux ip-172-31-47-144 4.4.0-59-generic #80-Ubuntu SMP Fri Jan 6 17:47:47 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

I have an app that creates a webview, loads a URL, and writes the current image to a file when ready. Setting offscreen: true so I can receive paint events causes Electron to segfault with the following stack trace:

[2017-02-06 19:36] Hsaylor opened #8600 "Inconsistent Tray Blur"
* Electron version: electron v1.4.15
* Operating system: mac OSX 10.11.6

I'm building a tray app, however I seem to be running into inconsistent behavior with how the app blurs when I click on other tray items. I expect that when I click on another tray item, that tray item should become focused while the previous app should become blurred. Sometimes this behavior is exhibited. However, other tim

[2017-02-06 19:43] groundwater commented on #8586
Thanks for the report @li-xinyang, we will take a look.

[2017-02-06 19:44] groundwater commented on #8587
Thanks @abnerlee, we'll take a look.

Possible dup of #8586

[2017-02-06 19:46] groundwater commented on #8588
Hi @jacob-cross99, if you'd like to report a bug please follow the provided bug template. A description like this is near-impossible to help with. The more information you can provide, and the sooner we can reproduce the same error the more likely it will be that your bug is fixed. Cheers.

[2017-02-06 19:54] groundwater commented on #8589
Thanks for the report @siman, I have verified on Ubuntu 16.04 as well.

[2017-02-06 20:03] miniak commented on #7859
It does not only break `globalShortcut`, but also events on `screen` stop working as well.

[2017-02-06 20:10] siman commented on #8589
@groundwater is electron's recording of audio supposed to record only webpage's sound, but not the mic?

[2017-02-06 20:17] askucher commented on #8589
@siman Please try

[code]

[2017-02-06 20:21] maxbrunsfeld opened #8601 "Expose NSOpenPanel's resolveAliases property via showOpenDialog API"
* Electron version: 1.4.15
* Operating system: Mac OS 10.11.6

### Desired behavior

1. Create a symlink to a file:

[code]

2. Display the Open File dialog using a new API to preserve symlink paths:

[code]

3. Select the symlink path.

4. See that the callback is called with the symlink paths (`the-alias`).

### Actual behavior

Currently, when a symlink is selected, the callback is always calle

[2017-02-06 20:27] paulcbetts commented on #3226
Because they're using it to integrate some other company's component - it's not an Electron thing, it's just how many U2F pages work

Yeah, so, the thing Electron will implement is a `chrome.` API that will call into the module

[2017-02-06 21:09] kevinsawicki opened #8602 "Linking fails for release builds on 32-bit Windows"
Linking master which runs Chrome 56 on 32-bit Windows fails with unresolved symbol errors.

Saw this on CI and also locally, 64-bit seems to be fine.

[code]

[2017-02-06 21:39] kevinsawicki commented on #8602
/cc @zcbenz

[2017-02-06 21:57] Zamiell opened #8603 "net::ERR_REQUEST_RANGE_NOT_SATISFIABLE when playing a sound"
* Electron version: 1.4.15
* Operating system: Windows 7 Professional

### Expected behavior

Should play a sound without getting an error message in the console.

### Actual behavior

Plays a sound, but shows an error message in the console.

### How to reproduce

Nothing super extraordinary going on here. I made a new Electron project based on the `electron-quick-start` repository. Then, I playe

[2017-02-06 22:02] groundwater commented on #8591
First, I ❤️ the repro-case that I can just clone into a VM and run.

Thanks for the report. I've confirmed the behavior - despite not really knowing much about animated SVGs. I'm going to assign a reviewer who will take a deeper look, and try to figure out what should be happening.

[2017-02-06 22:18] timfish commented on #7049
I'm also seeing this quite reliably with 1.4.14 if our app is left open for a long time. White screen,  ia32 build on 64bit Windows, Dev tools disconnected. I'll try and get a dump file.

[2017-02-07 00:30] zcbenz opened #8608 "Debug symbols not generated for Release build"
For Linux, this is because libchromiumcontent does not have `-g` enabled. For Windows, this is because the PDB files are not copied to the correct places.

[2017-02-07 00:41] #8602 closed

[2017-02-07 01:17] groundwater commented on #3379
We're about to release 1.6.0 beta, when that happens can someone check again to see if this is still an issue.

[2017-02-07 01:22] groundwater opened #8609 "Separate Appveyor account from Atom team"

[2017-02-07 02:04] f111fei commented on #8486
I have verified it fixed with 1.5.0.

[2017-02-07 02:04] #8486 closed

[2017-02-07 03:54] PalmerAL commented on #3379
@groundwater It's still happening in 1.6.0. According to https://bugs.chromium.org/p/chromium/issues/detail?id=554107:

[2017-02-07 04:09] PalmerAL opened #8610 "titleBarStyle: hidden-inset broken in 1.6.0"
* Electron version: 1.6.0
* Operating system: OS X 10.11.6

### Expected behavior

The title bar should be rendered as it is in previous versions of Electron.

### Actual behavior

```titleBarStyle: "hidden-inset"``` seems to have the same behavior as ```titleBarStyle: "hidden"```.

Screenshots:

<img width="244" alt="electron-1_5_1" src="https://cloud.githubusercontent.com/assets/10314059/2267742

[2017-02-07 04:47] KagamiChan opened #8611 "coffee-script register fails on 1.6.0 & 1.5.1"
* Electron version: 1.6.0 / 1.5.1
* Operating system: Windows 10 x64

### Expected behavior
Coffee-script won't fail with `require('coffee-script').register()` or `require('coffee-script/register')`

### Actual behavior
Coffee-script fails to register

### How to reproduce

1. Download the `Electron-quick-start` app
2. install `coffee-script` via `npm i --save coffee-script`
2. Add a register line

[2017-02-07 04:49] dyb-lcy commented on #8594
The problem can be reproduced on version 1.4.15 too.

[2017-02-07 09:14] wenshiqi0 opened #8612 "Is it a way to open devtools with my custom chrome extension inside a webview, not a window"
* Electron version: 1.6.0
* Operating system: Mac OS X 10.11.6

### Expected behavior

I want to open devtools with my chrome extension inside a webview.

### Actual behavior

I have used webview.openDevTools api, but it opens another window. We just want a webview to load another web page for preview and devtools for debug with a custom chrome extension.

Sorry to bother you, but is there any way

[2017-02-07 09:18] MarshallOfSound commented on #8612
@wenshiqi0 For non-webview renderer processes you can "dock" the devtools so they appear in the same window.  See the `mode` option for the `openDevTools` API

http://electron.atom.io/docs/api/web-contents/#contentsopendevtoolsoptions\

You currently can't dock dev tools inside a webview, see #7080 for more information on this

[2017-02-07 09:18] #8612 closed

[2017-02-07 09:23] MarshallOfSound commented on #8600
@Hsaylor I have noticed this as well, it appears to be something special about the Creative Cloud app as it only affects that icon / is caused by that icon.

You can also see interesting behavior if you have multiple screens the Creative Cloud icon doesn't fade out with the rest of the tray icons when you move focus between screens.

These issues could be caused by something the Creative Cloud is

[2017-02-07 09:27] bkniffler commented on #6124
This has been bothering me for quite some time now, with VS Code tabs not working and the VS Code team not able to fix it. Whats wrong with adding a something alike a config option "useNativeMacTabs" until a proper API has been figured out?

[2017-02-07 09:31] MarshallOfSound commented on #8597
@pronebird Is `componentWillUnmount` actually being called on unload/reload?  I seem to remember having issues with this before where it is actually a race condition as to whether componentWillUnmount is actually fired?

[2017-02-07 10:04] ytudt opened #8613 "how to set proxy ip?"
In some companies，they can't visit Internet only if set a proxy ip.
Can electron set proxy ip?
what shoud i do?

[2017-02-07 10:11] MarshallOfSound commented on #8613
Hey @ytudt,

You should check out the `session` documentation which includes a `setProxy` method.  Sounds like what you're looking for 👍

http://electron.atom.io/docs/api/session/#sessetproxyconfig-callback

[2017-02-07 10:11] #8613 closed

[2017-02-07 10:14] binjospookie commented on #8564
@groundwater Hi! I build my app with electron-builder. My <a href="https://gist.github.com/binjospookie/7358d8b0427d4af8cd5e394478ce29f7">package.json</a>. The app installed fine(without errors).

If you need more information, just ask me.

[2017-02-07 10:22] UltraDosaaf opened #8614 "Loop at start"
* Electron version: 1.4.13
* NodeJS version: 6.9.5
* Operating system: Win 7 x64 (latest updates)
* Installed latest Visual C++ 2015

Electron just won't start, keep shooting this over and over:

[code]

**package.json**
[code]

**app.js** has taken from default 'Hello World!'.

Any clue how to make it work?

[2017-02-07 10:27] rmfvz opened #8615 "can not scroll by touch."
* Electron version: 1.4.15
* Operating system: Windows 10

### Expected behavior

The category (assortiment) element should be scrolling the items if we scroll by swiping the screen (touch).

### Actual behavior

After a while we cant scroll any more, it seems like the app thinks there is still a finger on the screen. So if we swipe the screen zooms in and out.

Drag the scrollbar by mouse work fi

[2017-02-07 10:34] MarshallOfSound commented on #8564
@groundwater @binjospookie This sounds like an `electron-builder` issue.  I would suggest you raise it over on that repository 👍

https://github.com/electron-userland/electron-builder

[2017-02-07 10:37] binjospookie commented on #8564
@MarshallOfSound you're right! Sorry for this.

[2017-02-07 10:37] #8564 closed

[2017-02-07 10:38] MarshallOfSound commented on #8615
@rmfvz Can you test to see if either the Electron `1.6.0` beta has this issue, it just a significant Chromium version bump that could help out.

My net's a bit slow to do a search through Chromium issues but it seems like the kind of thing that Chromium would be responsible for 👍

[2017-02-07 10:50] rmfvz commented on #8615
We tried already. We tested in chrome 53 54 55 56 and 57. Always the same problem.

[2017-02-07 11:21] MingyaoLiu commented on #5761
is this fixed or still open?

[2017-02-07 11:49] levrik commented on #8564
@binjospookie I already wrote that, but yeah, ignore me :D

[2017-02-07 12:27] gurkerl83 commented on #8611
Same here!

[2017-02-07 12:44] MarshallOfSound commented on #8611
@KagamiChan Does the coffee script register logic work in normal Node.JS `7.4.0`?

[2017-02-07 13:01] KagamiChan commented on #8611
@MarshallOfSound
Yes it works
[code]

[2017-02-07 13:01] matthewjumpsoffbuildings commented on #422
Is there any news on this? The quick flash of the dock icon is annoying, would be nice to be able to kill it

[2017-02-07 13:28] MarshallOfSound commented on #8611
@kevinsawicki This looks like a regression due to https://github.com/electron/node/commit/f69137383ed14ac73e5d29cb1c75f3b6a144078f

Because we now return a function from within the wrapping function the `this` scope has changed thus `this.FILE_EXTENSIONS` has changed.  I believe a simple fix would be to change our patch in that commit to be.

[code]

Haven't had time to test but I think that shoul

[2017-02-07 13:53] KagamiChan commented on #8611
@MarshallOfSound awesome, thank you for pointing it out.
it works by manually modifying the wrapper code for `coffee-script.js` in the dev tools.

[2017-02-07 14:01] KagamiChan commented on #8611
Wondering if we could have a spec / test for this kind of packages, if `coffee-script` is not the only one that stops working ( I'm not sure though)

[2017-02-07 14:30] rreimann commented on #8489
The issue is still present in the current [1.6.0 beta release](https://github.com/electron/electron/releases/tag/v1.6.0).

[2017-02-07 15:36] juturu commented on #8541
@groundwater unfortuantely don't have a consistent repro. So, i won't be able to get this information without updating electron for the users.

[2017-02-07 16:43] kevinsawicki commented on #8611
Thanks for digging into this, will work on an update to that patch.

[2017-02-07 16:57] kevinsawicki commented on #8611
Great suggestion @KagamiChan, spec added in #8618 for `coffee-script`.

[2017-02-07 17:15] #8492 closed

[2017-02-07 17:37] kevinsawicki commented on #8513
This appears to be fixed in Chrome 56 which is used in Electron 1.6.0, closing this out.

[2017-02-07 17:37] #8513 closed

[2017-02-07 17:54] kpeeters commented on #1150
Slightly off-topic but I can't find the info anywhere else: can anyone comment on how to "query the current scale factor  from the X server itself, via some toolkit's api, or using the X11 api directly to read the server xsettings", as mentioned by mtwebster, preferably using gtk?

[2017-02-07 18:41] karlkoorna commented on #1130
What's the status of this?

[2017-02-07 19:37] #6397 closed

[2017-02-07 19:50] davecarlson commented on #7781
any further progress on this ?

[2017-02-07 19:56] kevinsawicki commented on #7781
This is currently blocked on Chrome not supporting building against macOS SDK 10.12 which this pull request requires. Currently pinch zooming breaks in Chrome if you build it with SDK 10.11+.

It looks like it is actively being worked on: https://bugs.chromium.org/p/chromium/issues/detail?id=680927

[2017-02-07 20:48] mtwebster commented on #1150
This probably works in most cases: https://developer.gnome.org/gdk3/stable/GdkScreen.html#gdk-screen-get-monitor-scale-factor

 In python you could do something like:
[code]

Note the deprecation warning - in Gtk 3.22 it's *highly* recommended to go through the GdkMonitor api instead... old monitor reporting from GdkScreen/GdkDisplay is unreliable (and more or less unmaintained - this is what depr

[2017-02-07 20:55] Shugabuga commented on #422
@matthewjumpsoffbuildings Nope. Haven't heard anything.

[2017-02-07 21:33] MarshallOfSound commented on #422
Check out the LSUIElement info.plist setting if you never want the dock icon to appear.

https://developer.apple.com/library/content/documentation/General/Reference/InfoPlistKeyReference/Articles/LaunchServicesKeys.html#//apple_ref/doc/uid/20001431-108256

[2017-02-07 21:47] bakkiraju commented on #8557
Thanks guys for all the help. Any insight into what might be causing the this issue. Also is there some guideline and an API to redraw / re-render contents of the window through electron API that I am missing ?. Looking at the behavior of this carousel plugin I feel that I should just call re-draw on content change/update event.

[2017-02-07 21:48] Shugabuga commented on #422
@matthewjumpsoffbuildings @kevingelion I think this could be the solution. You want to try?

[2017-02-07 21:51] fancyydk opened #8620 "BrowserWindow zoom factor jumps up and down when there's an iframe"
* Electron version: 1.4.15
* Operating system: Windows 10

### Expected behavior

When you open a BrowserWindow with a zoomFactor set to something other than 1.0,

for example,
window = new BrowserWindow({width: 800, height: 600, webPreferences: { zoomFactor: 1.5 }});

The zoom factor (or zoom level) should stay consistent and should not change. It gets more obvious if you have more stuff on the p

[2017-02-07 22:36] pfrazee commented on #8505
I'm experiencing this. I'm getting around it by `transform: translateX(-100%)` but that causes resizes to be quite slow, since every webview has to reflow (even if hidden).

[2017-02-07 23:06] levrik commented on #8615
@rmfvz If you tried it in Chrome that's a Chromium bug and not related directly to Electron. Needs to be fixed upstream then.

[2017-02-07 23:17] kpeeters commented on #1150
That works, but it turns out I actually wanted not just the scale factor, but also the (independent) text scale factor. Any idea how to get the equivalent of `org.gnome.desktop.interface.text-scaling-factor` ?

[2017-02-07 23:24] felixrieseberg commented on #8615
@rmfvz Sorry for your trouble - @levrik and @MarshallOfSound are completely correct here, we sadly won't be able to fix bugs that are part of Chromium itself. I'm closing this issue to keep our issues "cleanish", but feel free to ping me if I misunderstood and this is indeed a bug exclusive to Electron. Thank you for the detailed report!

[2017-02-07 23:24] #8615 closed

[2017-02-07 23:28] pfrazee opened #8621 "'scroll-touch-end' not emitted in 1.6.0"
* Electron version: 1.6.0
* Operating system: MacOS 10.12.2

### Expected behavior

'scroll-touch-end' emits when trackpad scrolling ends.

### Actual behavior

The begin event emits, but not the end

### How to reproduce

Example repo: https://github.com/pfrazee/electron-bug-no-scroll-touch-end

[2017-02-07 23:41] felixrieseberg commented on #8593
Hey, thanks for opening an issue! Sadly, in its current state, the issue is neither actionable nor helpful - please take a moment to review our [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md). If you have any questions about them, feel free to reach out ℹ️

[2017-02-07 23:41] #8593 closed

[2017-02-08 00:08] soomtong commented on #8279
I had same issue like this.
only linux makes this result, they didn't callback when socket connected or didn't connect at first time.
but Windows and MacOS worked we expected.

And I tried this code in Render Process not Main Process without IPC call.
It just works. then I moved my code to renderer process.

[2017-02-08 01:54] seanzer opened #8622 "WebView causes Warning: Possible EventEmitter memory leak detected. 11 ELECTRON_RENDERER_WINDOW_VISIBILITY_CHANGE listeners added. Use emitter.setMaxListeners() to increase limit"
* Electron version: 1.3.1 (32-bit), 1.6.0 (64-bit)
* Operating system: Win 10 x64

### Expected behavior

The WebView should have a dispose method or should not attach multiple listeners to ipcRenderer.

### Actual behavior

Every time a WebView is created, a new event listener is attached.

### How to reproduce

Just run this from renderer:
[code]

[2017-02-08 02:07] morlauth commented on #8567
Perfect! Thanks!

[2017-02-08 02:20] paulcbetts commented on #8592
@hh9527 What's your end-goal? I suspect what you want to _do_ is possible though not perhaps in the way you're imagining at the moment

[2017-02-08 03:42] dengyaolong opened #8625 "download-item.cancel() emits done event twice"
* Electron version: 1.4.0
* Operating system: MacOS(Darwin Kernel Version 15.4.0)

### Expected behavior

When I trigger downloadItem.cancel()，event 'done' trigger once that state is 'cancel'

### Actual behavior

event 'done' trigger twice. It's a bug or trigger twice purposely?

Why?

### Reproduce
[code]
Save , see the logs. cancel fired  twice
![image](https://cloud.githubusercontent.com/asset

[2017-02-08 03:47] paulcbetts commented on #8567
@morlauth the electron-spellchecker module is attempting to solve this problem in a very developer-friendly fashion, this probably will help you out

[2017-02-08 03:50] paulcbetts commented on #6124
Because the tabs that Cocoa renders don't actually work in any usable way with Electron right now. This menu item is basically, "Please draw incorrect crap on my window".

[2017-02-08 04:58] #8610 closed

[2017-02-08 05:36] davibe commented on #6124
Why don't they work in any usable way ?

[2017-02-08 06:23] adahbingee opened #8627 "BrowserWindow freezed when using chrome argument --use-gl=desktop"
* Electron version: win 1.6.0 x64
* Operating system: windows 7 64bit

For the reason I want to draw lineWidth with three.js, I need to use --use-gl=desktop argument for chrome
Instead ANGLE WebGL driver, must use native OpenGL.

`app.commandLine.appendSwitch('use-gl', 'desktop');`
Works. but there are some bugs with BrowserWindow

Works without  bugs when using electron 1.4.15 & 1.5.1

### Expect

[2017-02-08 08:23] bkniffler commented on #6124
I'm wondering the same. I've rolled back vscode to a version where electron doesn't kill the tabs and I find it very stable und usable from an end-user view.

[2017-02-08 12:02] erusev opened #8629 "Since 1.6, on MacOS, "inset-hidden" window buttons appear as "hidden""
* Electron version: 1.6
* Operating system: 10.11

### Expected behavior

![image](https://cloud.githubusercontent.com/assets/184170/22736528/35f96038-ee07-11e6-8a72-eecd29f114db.png)

### Actual behavior

![image](https://cloud.githubusercontent.com/assets/184170/22736530/3b42f734-ee07-11e6-9794-fc381f07e801.png)

[2017-02-08 12:44] MarshallOfSound commented on #8629
Hey @erusev

This appears to be a duplicate of the resolved issue #8610 👍

[2017-02-08 12:44] #8629 closed

[2017-02-08 13:40] CxRes commented on #673
Forgive me if this is a bit naive, I am wondering if the possibility of a building a desktop environment as a natural logical progression of the runtime environment has been considered. The idea being that there is a launch app which electron loads on startup (instead of say, atom) with the ability to launch other electron apps (given the large growing library) by spawning new instances of the ren

[2017-02-08 14:07] mmouterde commented on #8033
Did you try : electron-simple-updater ?
That uses AppImage for linux.

[2017-02-08 17:05] morlauth commented on #8567
I have looked at this module and it does seem like a good solution. But I still think that he spellchecking functionality baked-in to chromium should be used.

Thanks!

[2017-02-08 17:07] deepak1556 commented on #8591
I am unable reproduce the problem with `1.5.0` and `1.6.0` seems like it was fixed with chrome54 upgrade. @maksimr can you try the `1.5.0` ?

[2017-02-08 17:20] maksimr commented on #8591
@deepak1556 in version `1.5.0` all work as expected!

Thanks

[2017-02-08 17:20] #8591 closed

[2017-02-08 17:51] zeke commented on #8591
Thanks, @deepak1556!

[2017-02-08 18:14] jamesmfriedman commented on #6697
I'm new to Electron so I can't say I quite understand all of the platform differences: however since the standardization of the Push Api, isn't this a Chromium and not a Chrome specific feature?

The Chromium runtime docks show PushMessaging as a stable feature. Is it just a matter of enabling it in the electron Build? I've tried using blinkfeatures and webpreferences settings on a webview but hav

[2017-02-08 18:33] #8611 closed

[2017-02-08 19:25] hkuclion opened #8632 "Right click on fullscreened flash player in webview shows TypeError"
* Electron version: 1.4.15,1.5.0,1.6.0
* Operating system:Windows 10 Home Basic
* PepperFlashPlayer Version: 24.0.0.194

1. open page with flash in webview.
    I tried a game and a video site: http://tenhou.net/0/ and http://www.youku.com
2. make the flash fullscreened
3. right click
4. an error dialog opened.
[code]
### Expected behavior

no error

### Actual behavior

error dialog

### How to r

[2017-02-08 19:39] zeke commented on #8586
This appears to be a duplicate of https://github.com/electron/electron/issues/8314 -- let's move the discussion there.

[2017-02-08 19:39] #8586 closed

[2017-02-08 19:39] zeke commented on #8587
This appears to be a duplicate of https://github.com/electron/electron/issues/8314 -- let's move the discussion there.

[2017-02-08 19:39] #8587 closed

[2017-02-08 19:45] zeke commented on #8314
cc @li-xinyang and @abnerlee who opened similar issues.

I am able to reproduce this on macOS (with a retina display) using Electron 1.4, 1.5, and 1.6.

From the [contents.capturePage docs](http://electron.atom.io/docs/api/web-contents/#contentscapturepagerect-callback):

Issues #8586 and #8587 both included a `rect` argument in their repro example, so I thought maybe that was the problem. But no,

[2017-02-08 19:46] zeke commented on #8314
@jarek-foksa.. but given the name of the API, shouldn't it do exactly that? Capture the "visible" region?

[2017-02-08 20:03] erfe1 opened #8633 "BANK"
* Electron version:
* Operating system:

### Expected behavior

### Actual behavior

### How to reproduce

[2017-02-08 20:03] erfe1 opened #8634 "BANK"
* Electron version:
* Operating system:

### Expected behavior

### Actual behavior

### How to reproduce

[2017-02-08 20:07] justechn opened #8635 "Radio not getting checked when clicked"
* Electron version: 1.4.15
* Operating system: macOS Sierra 10.12.13

### Expected behavior

I am creating a simple menu with a couple radio buttons. I expect that when I click on the radio button it will check the menu item

### Actual behavior

Nothing happens. The only way I can get the radio to check is to set the property on the menu definition.

### How to reproduce

Here is the relevant cod

[2017-02-08 20:10] XavierCLL commented on #8455
Confirmed bug with the last stable version of electron, I add additional information, when I click on menubar in `journalctl -f` show a several messages like:

Feb 08 15:01:59 system76 kdeinit5[716]: Unhandled property update "children-display"
Feb 08 15:01:59 system76 kdeinit5[716]: Unhandled property update "children-display"
Feb 08 15:01:59 system76 kdeinit5[716]: Unhandled property update "chi

[2017-02-08 20:39] justechn commented on #8635
nevermind I figured it out.

[2017-02-08 20:39] #8635 closed

[2017-02-08 21:12] #7891 closed

[2017-02-08 21:34] #8634 closed

[2017-02-08 21:34] #8633 closed

[2017-02-08 21:52] groundwater commented on #8592
Going to close this - it sounds like a question better tarted towards discuss.atom.io forum or the atomio.slack.com chat.

[2017-02-08 21:52] #8592 closed

[2017-02-08 22:09] jarek-foksa commented on #8314
@zeke Yes, Chrome's API captures the visible region, but the resulting image is cut off as described by @mattgalvin. Therefore, I suspect this might be upstream bug.

[2017-02-08 22:37] moimael commented on #2927
Since archlinux already has a gtk3 build what is missing to have this is electron core ?

[2017-02-08 23:18] sapioit commented on #673
I do think that a built-in runtime environment would make Electron apps much better. I think packing them should be just zipping the files and renaming the extension to `asar`, but that archive should have two folders, one called `asar`, with the content of the default runtime folder, and one called `enviroment` with files that should overwrite the default config.

For example, running a new app w

[2017-02-09 00:26] zeke commented on #8532
@jas99 can you try `npm install electron@beta --save-dev` (which is currently 1.6 with a newer version of Chromium), and let us know if the problem persists?

[2017-02-09 00:37] zeke commented on #8557
@bakkiraju I am experiencing a similar issue with [one of my apps](https://github.com/ummoji/ummoji-desktop), but am unable to consistently reproduce it:

<img width="723" alt="screen shot 2017-02-08 at 4 23 37 pm" src="https://cloud.githubusercontent.com/assets/2289/22763995/b7bbd55a-ee1c-11e6-9185-7b33c8271487.png">

I started cloning your repo but it's too big for the wifi in this coworking spa

[2017-02-09 00:51] dogancelik opened #8637 "Using parent property on BrowserWindow ignores explicitly set skipTaskbar"
* Electron version: 1.4.15
* Operating system: Windows 8 64-bit

### Expected behavior

I have `mainWindow` and child windows opened from *mainWindow*, I set `parent` property when creating child windows so my child windows know who's the parent.

I set `skipTaskbar: false` while creating children windows yet Electron ignores this and doesn't show anything in taskbar and when you minimize the chil

[2017-02-09 01:27] li-xinyang commented on #8314
@zeke Yes, I am using the new MacBook Pro which has a retina display.

[2017-02-09 02:23] madcampos commented on #8562
Tested with electron 1.4.10, got the same problem. It only happens with native menus.

[2017-02-09 04:43] dasarindam opened #8638 "DLL initialization routine failed (with java integration)"
Trying to integrate the java npm with the Electron.
From a stand alone js the java command is working fine using <node> command. But if I put in the main.js and run using <electron> command then its failing.

Node version  - node-v6.9.5-x64
OS - Windows 7 64bit
NPM - 3.10.10
GYP - node-gyp@3.5.0
Electron - electron@1.4.15

Once I add the below line the launcher fails with this below error.

Thanks

[2017-02-09 04:58] MarshallOfSound commented on #8638
@dasarindam You need to follow the [Using Native Node Modules](http://electron.atom.io/docs/tutorial/using-native-node-modules/) tutorial.  Basically you just need to rebuild your native modules (in this case `java`) with Electron's headers.

This is actually super easy.

[code]

Then add a script "rebuild-modules" to your package.json

[code]

Then simply  run `npm run rebuild-modules`

[2017-02-09 04:58] #8638 closed

[2017-02-09 04:58] MarshallOfSound commented on #8638
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2017-02-09 05:34] bjornharrtell commented on #2927
I think they want the switch to happen upstream. And it is officially planned now, see https://chromium.googlesource.com/chromium/src/+/acc4214c4dece4e70fb53355d557bd45f35965d6/docs/linux_gtk_theme_integration.md#GTK3.

[2017-02-09 07:30] c517718004 opened #8639 "Is it possible to specify the userData directory for each browserwindown instance?"
Is it possible to specify the userData directory for each browserwindown instance?

[2017-02-09 08:22] peerbolte commented on #8314
I'm experiencing the same issues on my MacBook Pro retina. This results in different behaviour when using my application on retina and non-retina.

[2017-02-09 09:08] dasarindam commented on #8638
Thanks. I have posted the same on the discussion board.
I did as you suggested. And also installed the prebuilt version as it was giving error.
"Unable to find electron-prebuilt's version number, either install it or specify an explicit version"
Finnally i was able to rebuild.

But still problem consist.

[2017-02-09 12:07] elhachmi opened #8641 "win.Preview$$$$$"
* Electron version:
* Operating system:

### Expected behavior

### Actual behavior

### How to reproduce

[2017-02-09 12:07] #8641 closed

[2017-02-09 12:45] Bruno-de-l-Escaille opened #8642 "win.previewFile(path[, displayName])"
* 1.5.0:
* OSX 10.11.6:

### win.previewFile(path[, displayName])
You have introduced this function to support mac quicklook, but no reel documentation how to use it! with native mac app you must develop a quicklook plugin but with this function what must we do. Call it when a event is fired or what exactly?

[2017-02-09 12:46] #8642 closed

[2017-02-09 12:49] MarshallOfSound commented on #8642
@Bruno-de-l-Escaille I think there's a bit of confusion here

`win.previewFile` is used to launch quicklook on a given file, not provide a quicklook plugin from your application.  I.e. Calling `previewFile` on a path will result in the quicklook window being opened for that path

Let me know if I've misunderstood what you mean

[2017-02-09 12:49] elhachmi opened #8643 "win.previewFile(path[, displayName])"
* Electron version: 1.5.0
* Operating system: OSX 10.11.6

### win.previewFile(path[, displayName])

You have introduced this function to support mac quicklook, but no reel documentation how to use it! with native mac app you must develop a quicklook plugin but with this function what must we do. Call it when a event is fired or what exactly?

[2017-02-09 13:01] MarshallOfSound commented on #8643
@elhachmi  I think there's a bit of confusion here

`win.previewFile` is used to launch quicklook on a given file, not provide a quicklook plugin from your application.  I.e. Calling `previewFile` on a path will result in the quicklook window being opened for that path

Let me know if I've misunderstood what you mean

[2017-02-09 13:21] steverandy opened #8644 "Crash after quitting app"
* Electron version: 1.6.0
* Operating system: Mac OS X 10.12.3 (16D32)

### Expected behavior

Quit without crashing.

### Actual behavior

Crashed after quitting the app.

### How to reproduce

1. Clone https://github.com/steverandy/electron-quick-start
2. Run app
3. Quit app

I happened to come across this issue after loading a youtube page, which always trigger the crash.
It appears the issue i

[2017-02-09 15:04] lake2 opened #8645 "npm Install electron -g fail ，need help ！"
* Electron version:v6.9.5
* Operating system:win10

### Expected behavior
install electron

### Actual behavior

encounter error
### How to reproduce

[2017-02-09 15:25] vrmerlin commented on #8638
True for me too -- the electron-rebuild doesn't seem to work in this case. That's the problem. :-(

[2017-02-09 15:55] matthewjumpsoffbuildings commented on #2895
any news on this? Im still seeing a bug with menu items with a submenu that i want to hide/disable, it doesnt seem to do anything in osx sierra

[2017-02-09 15:59] UltraDosaaf commented on #8614
Well, it looks like this causes all errors:
`        "electron-prebuilt": "latest"`

Using this solves the problem:
`        "electron-prebuilt": "0.37.6"`

[2017-02-09 16:03] deepak1556 commented on #8644
Thanks for the test case, the cause is same as https://github.com/electron/electron/issues/8563#issuecomment-277227964 . Merging this to https://github.com/electron/electron/issues/8563

[2017-02-09 16:03] #8644 closed

[2017-02-09 17:30] groundwater commented on #8582
Hey @averissimo, I tried pulling, but I don't see any changes. Still the `refresh` branch?

[2017-02-09 18:07] #6048 closed

[2017-02-09 18:21] sy-naveen opened #8646 "App created using electron + angularjs2 wont invoke asprise scanner js UI or native scanner UI"
App created using electron + angularjs2 wont invoke asprise scanner js UI or native scanner UI

Electron version: 1.3.3
OS : windows 10

Expected behavior :

 It has to show this window
![acbc7f90a07e4d35a5a7570c45846e64](https://cloud.githubusercontent.com/assets/23548303/22796827/ed5083ea-ef21-11e6-9c26-ed74251d2b53.png)

Actual behavior :
This is working fine, with just angular2. If we combine

[2017-02-09 18:48] averissimo commented on #8582
Then I have no idea on what it is.

The code to replicate this should be very straightforward, all you need is:

- create a tray icon and set an image
- then set it again every second or so.

Code that in theory should have worked is here from line 50

https://github.com/averissimo/electron-boilerplate/blob/refresh/boilerplate/index.js#L50

ps. I'm sorry my code does not run on your system, but ca

[2017-02-09 19:34] #7783 closed

[2017-02-09 20:14] codekiln opened #8647 "BrowserWindow.addDevToolsExtension, web_accessible_resources not supporting `chrome-extension://` protocol"
* Electron version: 1.4.15
* Operating system: OS X 10.9.5

### Expected behavior

A chrome extension that has asset paths in the `web_accessible_resources` key of its `manifest.json` should be accessible via [`chrome-extension://[PACKAGE ID]/[PATH]`](https://developer.chrome.com/extensions/manifest/web_accessible_resources) after the extension has been correctly installed via [`BrowserWindow.addD

[2017-02-09 20:40] #2749 closed

[2017-02-09 21:02] jarjis commented on #4867
same error not using Webpack.

[2017-02-09 21:09] kevinsawicki commented on #8645
What error did you encounter? Can you include the output when running `npm install electron`?

[2017-02-09 21:10] kevinsawicki commented on #8639
You can only set this directory application-wide by using the `app.setPath` API, not on a per renderer process basis.

http://electron.atom.io/docs/api/app/#appsetpathname-path

[2017-02-09 21:10] #8639 closed

[2017-02-09 21:15] kevinsawicki commented on #8614
Looks like you have both `electron` and `electron-prebuilt` in your `package.json, you only want one of them, they are the same package just with different names.

Can you include the content of your `app.js` file?

[2017-02-09 21:15] kevinsawicki commented on #8529
Closing this out until more information is available.

[2017-02-09 21:15] #8529 closed

[2017-02-09 21:17] kevinsawicki commented on #8488
Closing this out until more information is available, I was unable to reproduce this using 1.6.0 on macOS.

[2017-02-09 21:17] #8488 closed

[2017-02-09 21:19] kevinsawicki commented on #8112
Closing this out until more information is available.

[2017-02-09 21:19] #8112 closed

[2017-02-09 21:19] kevinsawicki commented on #8081
@phfrohring can you see if you can reproduce this issue still on Electron 1.6.0?

[2017-02-09 21:25] kevinsawicki commented on #7905
@paul321 Electron recently upgraded node and Chrome versions, have you seen this happen on 1.6.0?

[2017-02-09 21:26] kevinsawicki commented on #7454
Closing this out until more information is available.

[2017-02-09 21:26] #7454 closed

[2017-02-09 21:27] kevinsawicki commented on #7302
@MarshallOfSound are you still seeing this crash or do you think it may have been resolved in recent Chrome releases?

[2017-02-09 21:28] kevinsawicki commented on #6908
@molster would you be able to try Electron 1.6 and see if you are still experiencing it?

[2017-02-09 21:35] paul321 commented on #7905
The problem was changing the MacOS certificate, after we change it Electron
/ Squrrel refuse to update the app on MacOS so we don't know if it's fixex

On Feb 9, 2017 11:26 PM, "Kevin Sawicki" <notifications@github.com> wrote:

@paul321 <https://github.com/paul321> Electron recently upgraded node and
Chrome versions, have you seen this happen on 1.6.0?

—
You are receiving this because you were me

[2017-02-09 21:38] kevinsawicki commented on #7905
@paul321 is this something you'll be able to look into further to provide more details or should we close this out? Right now there isn't really enough information here to make progress on.

[2017-02-09 21:40] paul321 commented on #7905
I think you should close it, i will report it again if it happens

On Feb 9, 2017 11:39 PM, "Kevin Sawicki" <notifications@github.com> wrote:

[2017-02-09 21:46] kevinsawicki commented on #8598
Clearing/modifying the `items` array directly isn't currently supported.

The `items` array represents the model in the JavaScript class but there are still C++ objects as well that are still in the model after the `items` array is cleared/modified.

[2017-02-09 21:47] kevinsawicki commented on #8598
There is a `clear` API on `Menu` that isn't public and clears only the C++ side, we could update it to make it clear both the items and C++ menu model and make it public.

[2017-02-09 21:48] #7905 closed

[2017-02-09 21:50] kevinsawicki commented on #1378
I'm going to close this issue out since Electron now has the events mentioned and the `will-navigate` issue has been discussed and documented how it should be done and why.

Please open new issues for any additional missing events or bugs with `will-navigate`.

[2017-02-09 21:50] #1378 closed

[2017-02-09 21:55] kevinsawicki commented on #2280
@twang2218 this is still only implemented on Linux in Chromium

[2017-02-09 21:58] kevinsawicki commented on #6864
@salmoro are you still experiencing this issue in Electron 1.6 which is using Chrome 56?

[2017-02-09 22:36] phfrohring commented on #8081
Bug is finally "gone".
Great!

[2017-02-09 22:36] #8081 closed

[2017-02-09 23:14] MarshallOfSound commented on #7302
@kevinsawicki Haven't seen it in a while, probably handled by a chrome update at some point :man_shrugging:

[2017-02-09 23:22] MarshallOfSound commented on #8638
@dasarindam @vrmerlin I took a quick look into this.  It looks like the `java` module does something it really shouldn't.

It relies on the `postinstall` phase being run immediately after rebuild.  This is not always the case, especially when rebuilding modules for Electron.  You should raise an issue regarding this on the `node-java` repository.

For now, a workaround is as follows. (Extending on

[2017-02-09 23:22] paulcbetts opened #8649 "Hidden windows can steal focus from non-hidden ones"
* Electron version: 1.6.0, does _not_ repro in 1.4.x
* Operating system: Win32 tested, others possible

It appears that even if you create a window with `focusable: false` and `show: false`, calling `loadURL` on it will cause it to accept window focus and for other windows to lose focus.

### How to reproduce

Open the default Electron app

[code]

This breaks anyone using background windows for c

[2017-02-09 23:23] groundwater commented on #8560
Can confirm this - repro case here https://github.com/electron-support-cases/issue-8560

[2017-02-09 23:37] groundwater commented on #8597
Hey all! I am assuming `componentWillUnmount` is part of a React app? Is there a repro case for this that doesn't involve react, or is the problem that React and electron just won't play well together?

[2017-02-09 23:44] groundwater commented on #8600
Thanks for the report @Hsaylor. Is the behavior consistent across the various tray icons? i.e. does clicking Adobe CC always cause the same behavior?

I wonder if we can identify the tray items that are giving incorrect behaviors.

[2017-02-09 23:56] kevinsawicki commented on #7302
@MarshallOfSound okay, going to close this out then, can reopen if it pops up again.

[2017-02-09 23:56] #7302 closed

[2017-02-10 00:14] jtoy commented on #4028
any more info on this?

[2017-02-10 00:19] pronebird commented on #8598
That makes sense. Although if

[2017-02-10 00:24] pronebird commented on #8598
That makes sense. Other improvement could be to add methods for modifying menu such as insert or remove. Items array should probably be read only.

[2017-02-10 00:31] kevinsawicki commented on #8598
There is append and insert in the API already, but no remove.

http://electron.atom.io/docs/api/menu/#menuappendmenuitem

[2017-02-10 01:03] vrmerlin commented on #8638
@MarshallOfSound  Thanks so much for looking into it -- that worked!!!!! I really appreciate you spending time on this.

[2017-02-10 01:52] lake2 commented on #8645
Microsoft Windows [版本 10.0.14393]
(c) 2016 Microsoft Corporation。保留所有权利。

C:\WINDOWS\system32>npm install electron -g
C:\Users\LH\AppData\Roaming\npm\electron -> C:\Users\LH\AppData\Roaming\npm\node_modules\electron\cli.js

C:\Users\LH\AppData\Roaming\npm\node_modules\electron\install.js:46
  throw err
  ^

Error: read ECONNRESET
    at exports._errnoException (util.js:1022:11)
    at TLSWrap.onre

[2017-02-10 03:44] KagamiChan commented on #8645
In most cases it's an error caused by your network connection when trying to download the binary from github release / amazonaws

[2017-02-10 05:12] KagamiChan commented on #8647
I've done some search on this topic before, here's some findings that might help
- Electron does not support all Chrome extensions, the initial intention was to support some developer extensions. https://github.com/electron/electron/blob/master/docs/tutorial/devtools-extension.md
- `chrome-extension` protocol is currently available for devtool tabs.
- Not all chrome.* API are implemented, and they

[2017-02-10 05:22] dasarindam commented on #8638
I tried on the similar line. The interesting part is that "java" was working in the same apps if i ran any small js file. Something like this

 --- gives correct out put.
But if I ran through from electron app using command such as

-- It gives a error.

Let me try with the new app setting.

[2017-02-10 06:38] dasarindam commented on #8638
Here that I have tried....
[code]

[code]

Still no luck. Am I missing something ?

[2017-02-10 06:43] #8645 closed

[2017-02-10 08:36] develar commented on #6055
Not clear for me why it is not Electron issue. `armv7l` build of electron is provided, but `armhf` doesn't. So, we got error "package architecture (armv7l) does not match system (armhf)" https://github.com/electron-userland/electron-builder/issues/1230

[2017-02-10 08:50] UltraDosaaf commented on #8614
**kevinsawicki**, you are right. Thank you!

[2017-02-10 08:50] #8614 closed

[2017-02-10 09:34] elhachmi commented on #8643
Yes I understand now, I was looking for a solution for providing a quick look to files associated to my app with electron, but I think that is not possible, by the way, can you recommande a simple solution to create that?

[2017-02-10 10:11] #8608 closed

[2017-02-10 10:54] MarshallOfSound commented on #6055
@develar For increased ARM support I believe it is being tracked over at #5706

[2017-02-10 11:22] alexstrat commented on #8563
1.4.15 does not seem to make things work better for my user-base (even if crashes during runtime seem to have disappeared) and apparently it's reproducible in 1.6.0 (#8644)

[2017-02-10 11:35] pronebird commented on #3609
Still can zoom with hotkeys. What's up with that?

[2017-02-10 14:01] ragnerok commented on #8133
Hi, this looks interesting I would like to work on this, any tips on how to get started ?
Thanks :D

[2017-02-10 14:16] codekiln commented on #8647
Hi @KagamiChan, thank you for your response. As I alluded to in my post, I'm aware that not all of the `chrome.*` apis are supported, and that's not the concern here because I've checked that all of the `chrome.*` apis I need are already implemented in Electron:

My goal here is to find out why the `chrome-extension://` protocol seems to reference extensions by name instead of id, and determine if

[2017-02-10 14:27] MarshallOfSound commented on #8647
If it's part of the spec, not too complex (doesn't look like it) and adds support for more chrome extensions I'd personally love a PR for it :D

It sounds like something that we have to be super careful about though (potentially exposing filesystem to remote pages).

/cc @electron/maintainers Is this something that fits into the scope of chrome extension compatibility we want to provide?

[2017-02-10 14:33] LewdEwe-ErikWallace commented on #2280
I'm also wishing Electron had clipboard events. :+1:

[2017-02-10 15:18] deepak1556 commented on #8647
I don't see the need to support parsing `web_accessible_resources` with our current implementation of `chrome-extension` protocol. Unlike chrome we haven't implemented a strict policy of what resources can be requested from the extension, all resources are responded with CORS headers. In your example if you try to load `chrome.runtime.getURL(<relative path>)` , it should work.

[2017-02-10 16:04] deepak1556 commented on #8625
Thanks for the test case. Its a bug for being called twice, currently when cancel api is called we trigger `content::DownloadItem::Cancel` and `content::DownloadItem::Remove` which will both trigger `content::DownloadItem::OnDownloadItemUpdated` observer. We should the avoid the second call being emitted to the users.

/cc @kevinsawicki

[2017-02-10 16:41] pronebird commented on #8597
@groundwater It's React yes. You can easily reproduce this by creating Tray menu from renderer process. Since entire web view is being trashed on page reload, the reference to tray menu is being lost too. There is probably a way to create it in backend process which is never reloaded and somehow share the reference with renderer.

[2017-02-10 16:42] codekiln commented on #8647
@deepak1556, the need is not there if you are writing your own js code; in that case, one could use the `runtime.getURL` method. The need arises only if you want use a *third party* js library that already makes use of the `chrome-extension://` protocol to refer to a *third party* chrome extension. In this case, I would like to make a Cisco Jabber softphone application. For that I need to use Cisc

[2017-02-10 16:51] bsclifton commented on #8598
I'm guessing the root cause for this is similar to https://github.com/electron/electron/issues/527

[2017-02-10 17:10] deepak1556 commented on #8647
@codekiln I believe cwic.js uses a hardcoded extension id to request some existing resource, then yes it will be problem because the id will defer from what we have internally in Electron when installing the extension. I would say the problem is within the library itself not Electron.

On a side note, I am not familiar with jabber sdk but isn't there other versions of using the sdk without relying

[2017-02-10 17:37] deepak1556 commented on #8620
Thanks for the test case, can confirm the behavior. https://github.com/electron/electron/pull/8537 will fix this.

[2017-02-10 17:37] kevinsawicki opened #8653 "Use Electron version in Chromedriver asset name"
Currently the Chromedriver version used in the release asset name is hard-coded [here](https://github.com/electron/electron/blob/5d0da398bf1b664d90816a2de8570db612019e37/script/lib/config.py#L45-L46).

`electron-download` saves assets to the cache by name so having multiple releases with the same asset name but different contents causes issues with the SHASUM checker since it finds the file in the

[2017-02-10 17:47] dasarindam commented on #8638
Continued to have same problem... Below are the comment that I have ran after extracting the Electron-quick-start....

No luck yet.

[2017-02-10 18:05] vrmerlin commented on #8638
@desarindam - -  what error message are you getting?

[2017-02-10 18:06] codekiln commented on #8647
@deepak1556 Chrome [uses and supports the standard of a hardcoded `chrome-extension://[PACKAGE ID]/[PATH]`](https://developer.chrome.com/extensions/manifest/web_accessible_resources), and Jabber uses that standard. [Electron even uses this standard when loading the background pages for each extension](https://github.com/electron/electron/blob/v1.4.15/lib/browser/chrome-extension.js#L98) and in the

[2017-02-10 18:27] kevinsawicki commented on #8646
@sy-naveen this looks to be because having node integration on that page some how causes the JavaScript running on it to fail to load:

[code]

If you create the `BrowserWindow` like:

[code]

Then the UI does load:

<img width="1388" alt="screen shot 2017-02-10 at 10 27 01 am" src="https://cloud.githubusercontent.com/assets/671378/22838778/7d1ac1c6-ef7b-11e6-971a-69cad8523e14.png">

Closing this

[2017-02-10 18:27] #8646 closed

[2017-02-10 18:33] kevinsawicki commented on #8643
You may want to check out https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/Quicklook_Programming_Guide/Introduction/Introduction.html

and the sample here: https://developer.apple.com/library/content/samplecode/QuickLookSketch/Introduction/Intro.html

Closing this out.

[2017-02-10 18:33] #8643 closed

[2017-02-10 18:40] kevinsawicki commented on #8210
This appears fixed in 1.6.0 which runs on Chrome 56:

Screenshot image read off clipboard in 1.6.0:

![test](https://cloud.githubusercontent.com/assets/671378/22839194/535abe20-ef7d-11e6-9b32-e870dfb06864.png)

Screenshot image read off clipboard in 1.5.1:

![test2](https://cloud.githubusercontent.com/assets/671378/22839193/5355039a-ef7d-11e6-8aac-64d4c1ca848d.png)

Closing this out.

[2017-02-10 18:40] #8210 closed

[2017-02-10 19:35] kevinsawicki commented on #8521
The `accelerator` property on `Menu` is not supported for top level menu items.

On Windows this can be enabled by using a label of `&Edit` where the `&` sign will register an alt keybinding for the letter it precedes, in this case `Alt+E`.

I don't think this is natively supported on macOS by their menu API, you can open the menu with `fn+F2` or `fn+Control+f2`.

[2017-02-10 19:41] #8521 closed

[2017-02-10 19:54] deepak1556 commented on #8647
@codekiln in your example you are trying to load `chrome-extension://ppbllmlcmhfnfflbkbinnhacecaankdh/cwic_plugin.js` where the hostname is the extension id but its not ID under which it is registered in Electron, rather it is the manifest name field, in this extension case try loading `chrome-extension://cisco-web-communicator/cwic_plugin.js`

[2017-02-10 22:46] jamgold opened #8656 "net.request to self-signed https fails silently"
* Electron version: 1.6.0
* Operating system: OSX 10.11.6

### Expected behavior
When I create a request to a web site with a self signed certificate, I would expect to at least get an error, or best case to be able to tell the app to ignore the certificate like I can with curl or wget

[code]
### Actual behavior

the request doesn't emit any events and silently fails with no way of catching an er

[2017-02-10 22:55] siman commented on #8589
I have found a solution. Read here: https://github.com/muaz-khan/RecordRTC/issues/181

Here is a code that starts to record video+audio in Electron:

[code]

[2017-02-10 22:57] nitsakh commented on #8625
Hello, I would like to take up this issue. [Not contributed to electron before]

[2017-02-11 02:13] MarshallOfSound commented on #8597
I believe that is just periodic GC you are seeing there

I think one thing I want to convey to people is just because the `remote` module is there, it's isn't a lifeline to be used for everything 😆.  I think your best bet with this is either.

* Don't rely on `componentWillUnmount`, manually attach a `beforeunload` listener is `componentDidMount` and use that to destroy your tray icon.
* Don't cre

[2017-02-11 03:00] twang2218 commented on #2280
Oh, that's unfortunately. For my case, I got performance hit of keep checking for new clipboard on Linux, which is 10-20 times slower than macOS. It would be great even if only implemented this feature on Linux.

[2017-02-11 03:55] dasarindam commented on #8638
@vrmerlin I am getting the same DLL error.
Even I have done a fresh new installation of NODE / NPM.

[2017-02-11 06:17] deepak1556 commented on #8656
Merging this to https://github.com/electron/electron/issues/8074

[2017-02-11 06:17] #8656 closed

[2017-02-11 11:26] sgehrman opened #8657 "Why isn't IsVisible() exposed for BrowserWindow"
You have Show and Hide, but no IsVisible(), how do I know if the window is hidden or visible?

Please add it or explain why you can't.

 Thanks.

[2017-02-11 11:33] sgehrman commented on #8657
I'm dumb, nevermind.

[2017-02-11 11:33] #8657 closed

[2017-02-11 13:06] ChALkeR commented on #8455
Related:
* #6255
* https://bugs.launchpad.net/ubuntu/+source/libdbusmenu/+bug/1439627
* https://bugs.launchpad.net/globalmenu-extension/+bug/779344
* https://launchpadlibrarian.net/194872738/libdbusmenu-qt_make_children-display_property_mutable.patch

The patch to libdbusmenu-qt should fix the `Unhandled property update "children-display"` issue, but I'm not sure if that is the one that is causing

[2017-02-11 13:26] ChALkeR commented on #8455
Perhaps it's worth to re-check on git versions of Plasma as there have been some changes there that look related.

[2017-02-11 14:06] ChALkeR commented on #8455
@XavierCLL I updated to Plasma Workspace 5.9.1 which includes the two patches from KDE Phabricator above ([D4088](https://phabricator.kde.org/D4088) and [D3926](
https://phabricator.kde.org/D3926)) and the warning is gone. The issue described here is still present though (100% CPU usage and menu actions not doing anything).

[2017-02-11 14:08] ChALkeR commented on #8455
Ah, sorry, no, the warning is not gone, I was mistaken. Perhaps it's worth to take a closer look there =).

[2017-02-11 14:14] romaincointepas opened #8658 "[macOS] Fullscreen animation of webview not as good as browserWindow"
* Electron version: 1.4.15 (and also 1.6.0 beta)
* Operating system: macOS 10.12.3

### Expected behavior

`webview.webContent` enter/leave fullscreen animation should be the same as `browserWindow.webContent` animation *(resize for final width, then fit in current width and progressively increase to reach final size as far as I know)*.

### Actual behavior

The `webview.webContent` size doesn't a

[2017-02-11 14:41] ChALkeR commented on #8455
https://github.com/mattermost/platform/issues/5088 has some more technical info.

Also, from IRC logs with @kbroulik:

[2017-02-11 14:47] ChALkeR commented on #8455
@kevinsawicki, are you able to reproduce the continuous dbus spam with `dbus-monitor` and Electron?

[2017-02-11 15:46] LewdEwe-ErikWallace commented on #2280
For now I've simply used some preload code in a frameless hidden window as a kind of clipboard manager utility.  I'm using an interval timer of 250ms to read the clipboard and compare it to the last value; if it has changed I send an IPC message to the main Node Electron process. It suits my needs and is very responsive, as soon as I copy text in another application it immediately appears in my El

[2017-02-11 17:24] vrmerlin commented on #8638
@dasarindam  Got me stumped then. My hunch is that your one of the steps I've outlined above is failing with some error, so you aren't actually getting a full build, and thus no DLL file. I'd remove all the node_modules content, and do each step, reviewing closely for any errors along the way.

[2017-02-11 19:15] leethomas commented on #4849
I think we're blocked on this one: https://bugs.chromium.org/p/chromium/issues/detail?id=667602

Also I searched around and someone reported that calling `orderOut` removes attached sheets all the way back in 2006.

[2017-02-11 19:21] dkfiresky commented on #4849
I think the described issue also represents mine: when I close the main window and try to open a directory via the `File` > `Open...` there is no `Open` dialog. Only after creating new window it works again.

[2017-02-11 23:39] ChALkeR commented on #8455
@kbroulik, btw, the mattermost code you cited in mattermost/platform#5088 is not the culpit here — in fact in fires `update-menu` signal only once there (if it's not fired from somewhere else), and the problem is probably inside Electron.

This simple testcase executed once shows the same behaviour with lots of traffic being sent via dbus:
[code]

[2017-02-11 23:40] ChALkeR commented on #8455
https://github.com/electron/electron/blob/master/atom/browser/ui/views/global_menu_bar_x11.cc is sources for Electron dbusmenu client.

[2017-02-11 23:52] ChALkeR commented on #8455
I suspect something among those lines: https://github.com/electron/electron/blob/master/atom/browser/ui/views/global_menu_bar_x11.cc#L240-L242, based on looped `GetLayout`/`AboutToShow` messages.

Probably /cc @zcbenz.

[2017-02-11 23:59] ChALkeR commented on #8455
A shortened version of what is going on (without reply times and arguments):
[code]

Those messages are constantly being looped.

[2017-02-12 00:12] ChALkeR commented on #8455
Ok, more details on what is happening here:
[code]

It could be seen that `LayoutUpdated` is called with `8885, 0` arguments there.
If my understanding is correct, it's then handled by this code: https://cgit.kde.org/plasma-workspace.git/tree/appmenu/menuimporter.cpp#n132, which in turn sends `AboutToShow` in response to that, which is handled by https://github.com/electron/electron/blob/master/at

[2017-02-12 05:49] bakkiraju commented on #8557
electron 1.6.0 seems to fix the stickiness issue without setting hasShadow to false.

[2017-02-12 06:18] seekwe commented on #8488
很抱歉,忘了说英语了,谢谢@spartucus ,
测试环境:win10 x64,如果frame 不等于false则没问题

[2017-02-12 13:24] javan commented on #8621
Confirmed

[2017-02-12 13:55] bakkiraju commented on #8557
Want to correct above stmt, hasShadow: false indeed helps

[2017-02-12 14:56] ioncodes opened #8661 "click event not triggered in ContextMenu"
* Electron version: v1.4.15
* Operating system: Windows 10 x64

In my createWindow function which is used from the 'activate' and 'ready' event, I initialize a Tray object which has a ContextMenu, with 1 item, which is 'Exit'. It calls app.quit() but it never quits.

### Expected behavior
It should quit the application.

### Actual behavior
It just doesn't trigger.

### How to reproduce
I use this

[2017-02-12 15:10] JohannBlake commented on #4373
I had problems with this too. On my MacOS I installed the app into the Downloads directory and gave it permission to run. This didn't help. Only after I installed the app into the Applications folder did it work.

[2017-02-12 16:53] poiru opened #8663 "Render process ignores IPC messages sent before document creation"
In #1044 (specifically 0bcc9b7), we made the render process ignore IPC messages received before document creation. This unfortunately can and does causes subtle bugs.

For example, apply this patch:

[code]

With no timeout or a low timeout (less than around 200ms for me), I get the following:

[code]

With a higher timeout, I correctly get:

[code]

This is an issue at least for the `ELECTRON_REN

[2017-02-12 17:57] poiru opened #8664 "BrowserWindow `show` and `hide` events are inconsistent between platforms"
For example, with this script:

[code]

On Linux and Windows, you get:
[code]

On macOS, you get:
[code]

This is because we use the window occlusion state to drive `show` and `hide` on macOS, but tie them to `BrowserWindow.show()` and `BrowserWindow.hide()` on other platforms.

Also note that `BrowserWindow.isVisible()` does *not* use the occlusion state. So on macOS, this will confusingly print

[2017-02-12 18:34] quanglam2807 commented on #3081
@IdanAdar I have similar question with @akashnimare. Please help.

[2017-02-12 22:02] MarshallOfSound commented on #8664
I mean, IMO the current behavior isn't "wrong" in any way, excluding the fact that it is slightly different across platforms.  The events fired make sense and aren't fired at inappropriate places.

I.e. `restore` does somewhat indicate `show`

I would rather that we bring windows and linux up to speed with macOS and simply fire show and hide events on minimize and restore.  Semantically it would m

[2017-02-12 22:04] Mikepicker opened #8665 "clipboard.writeImage fails on Ubuntu"
* Electron version: 1.4.15
* Operating system: Elementary OS (Ubuntu)

### Expected behavior

NativeImage object copied on clipboard.

### Actual behavior

[code]

### How to reproduce

clipboard.writeImage(nativeImage.createFromPath(path));

### Further Info

I noticed that it works fine on Windows. I tried the solutions suggested in #8151 without success.

[2017-02-12 22:46] vitorgalvao commented on #422
@MarshallOfSound’s solution works for me. After building the app, I simply `/usr/libexec/PlistBuddy -c 'add LSUIElement string 1' {{path_to_app}}/Contents/Info.plist`.

[2017-02-12 22:59] MikeHorganD2L opened #8666 "~"
* Electron version:
* Operating system:

### Expected behavior

### Actual behavior

### How to reproduce

[2017-02-12 23:25] MarshallOfSound commented on #8666
Looks like the issue body got lost somewhere, if you have an issue please raise one with the missing content 👍

[2017-02-12 23:25] #8666 closed

[2017-02-12 23:39] TimNZ commented on #8639
Would Partitions achieve the desired result?

[2017-02-13 00:07] flexpaper opened #8667 "Dropping items onto a webview doesn't trigger the 'drop' event"
* Electron version: 1.6.0
* Operating system: OSX

### Expected behavior

Expecting event 'drop' on the document object to fire

### Actual behavior
Electron triggers a file open dialogue

### How to reproduce
1) Bind the drop event in the BrowserWindow control, ie;

[code]

2) Drop a file into a webview in the browser window. Event listener doesn't fire. Fires in stable versions of electron. This

[2017-02-13 05:28] dasarindam commented on #8638
Thank. @vrmerlin - I too doubt that the rebuild of the electron is not happening. As I can see that java module is working fine though. I ran a simple js file using node command and it does the work.

@MarshallOfSound Is it possible to find a logs of electron rebuild ?

[2017-02-13 05:33] MarshallOfSound commented on #8638
@dasarindam Yes, you can set an environment variable

[code]

Then you will get a whole bunch of logs.  Might be worth adding the `-f` flag to your rebuild command, it will force a rebuild even if we think it is already built

[2017-02-13 07:54] zcbenz commented on #8653
Sounds good to me.

[2017-02-13 08:01] zcbenz commented on #8546
This is essentially because Windows 10 is feeding apps with fake data of window size, so that legacy apps can look "fine" on Windows 10.

I'm merging this to https://github.com/electron/electron/issues/4045.

[2017-02-13 08:01] #8546 closed

[2017-02-13 08:03] #8555 closed

[2017-02-13 08:24] #6958 closed

[2017-02-13 10:48] poiru commented on #8664
I'm fine with this as well.

[2017-02-13 11:52] dasarindam commented on #8638
Did the same... Could nt find any error ... Attaching the complete logs.

C:\MyRD\Electron\electron-quick-start>set DEBUG=electron-rebuild*

C:\MyRD\Electron\electron-quick-start>node_modules\.bin\electron-rebuild.cmd -f
- Searching dependency tree  electron-rebuild rebuilding with args: [ 'C:\\MyRD\\Electron\\electron-quick-start',
  '1.4.15',
  'x64',
  [],
  true,
  undefined,
  [ 'prod', 'dev'

[2017-02-13 12:00] MarshallOfSound commented on #8638
@dasarindam `java` needs to be an actual dependency in your package.json

Make sure you install it with

[code]

[2017-02-13 13:13] tlgreg commented on #8667
You also need to run `event.preventDefault()` on the drop and dragover events too (on document), does that help?

[2017-02-13 13:37] eyurtsev commented on #4380
black screen when running ubuntu 16.04.01 LTS on a virtual machine under OS X El Capitan

--disable-gpu doesn't help (i typically do have to run chrome with --disable-gpu)

[2017-02-13 14:28] tiemevanveen commented on #8389
I'm running into a similar issue where it's not possible to interact with a basic login UI in a webview. The issue seems to only present when a user used a carousel in our main application. I'll try to add an example here as well, but it's quite hard to isolate the problem from our application.

[2017-02-13 15:04] johanneskrtek opened #8670 "Inline SVG rendering changed"
* Electron version: 1.6.0
* Operating system: macOS 10.12.3

### Expected behavior

Inline SVGs should be rendered as it is in previous versions of Electron.

### Actual behavior

Inline SVGs seem to have a `stroke-width` of about `5px` and `shapeRendering: OptimizeSpeed`.

![1 6 0](https://cloud.githubusercontent.com/assets/419747/22887743/7b20cd54-f203-11e6-9796-672e5d319f68.png)

![1 4 15](http

[2017-02-13 15:16] pannous opened #8671 "Node 7.5 : npm install -g electron error"
* Electron version:
electron@1.4.15

* Operating system:
Mac 10.12.3
Darwin 16.4.0

### Expected behavior
`sudo npm install -g electron` should work

### Actual behavior
[code]

[2017-02-13 15:20] pannous commented on #8671
Solution: chown <user> /usr/local/lib/node_modules/electron/

[2017-02-13 15:20] #8671 closed

[2017-02-13 15:45] codekiln commented on #8647
@deepak1556 why does electron [use the chrome extension's name as the extensionId](https://github.com/electron/electron/blob/master/lib/browser/chrome-extension.js#L50) instead of just using the extension's actual ID?

[2017-02-13 16:29] #8601 closed

[2017-02-13 16:46] dasarindam commented on #8638
Seems this build worked 👍

I see new build lines that came up this time in the log. Will try to summerise the steps.

[2017-02-13 16:47] paulshapiro commented on #8520
You know, I think this might happen if I initiate a drag from apps like TextMate while I have the above command running.

[2017-02-13 17:01] tlgreg commented on #8667
On Windows it works.
`event.preventDefault()` both in `document.ondragover` and `document.ondrag` prevents the opening of the file. If either missing it will open the file, if not prevented in the ondragover then your drag event doesn't run at all. Same behavior in 1.4.15 and 1.6 beta on Windows.

[2017-02-13 18:40] rimatla commented on #5931
@epsitec  Could you pls provide a working copy? I'm a beginner on electron, and am currently having the same issues that you previously had. Thank you.

[2017-02-13 18:40] rijann commented on #8118
Hey! I would like to help. Can y'all help me get started?

[2017-02-13 19:18] kevinsawicki commented on #8620
Fixed by #8537

[2017-02-13 19:18] #8620 closed

[2017-02-13 19:55] epsitec commented on #5931
@rimatla My snippet is all I do now for the `react-devtools` to show up.

[2017-02-13 20:07] flexpaper commented on #8667
@tigreg did you drop the file into a Webview control on 1.6.0 on Windows (not the main browser window)?

[2017-02-13 20:59] cruzerld commented on #8294
Yeah, I'm seeing this issue too on Mac.

When I check for updates after an update has already been downloaded, especially if no new update has been downloaded (IE I haven't restarted but I check for updates again) then it says no update available but when I call quitAndInstall() it errors and says there is no app available to install.

I'm using version 1.4.12. I'll check to see if the same issue

[2017-02-13 21:47] tonyganch commented on #8582
I believe it may be somehow related to #6301

[2017-02-13 22:02] kevinsawicki commented on #8649
Here is the call stack when this happens:

[code]

Looks like it is stemming from https://github.com/electron/electron/blob/d3c967401de0c70f4a21fb14d3ee42a51bdcff74/lib/browser/api/browser-window.js#L95-L97

Not sure why this has regressed yet though.

[2017-02-13 22:08] kevinsawicki commented on #8649
Looks like it might be this change where this behavior changed, it was introduced in Chrome 56, https://chromium.googlesource.com/chromium/src/+/5c16e0e849526c1c627e08a05351ab38a9cfbcf1%5E%21/#F7

[2017-02-13 23:16] guillaumejenkins opened #8675 "Feature request: API to snap windows to screen edges (Windows Aero Snap)"
Windows supports snapping programs to the edge of the screen, which lets you split the desktop between two apps ("Aero Snap").

It would be great if Electron windows could programmatically send a request to the OS to be snapped. Multi-window apps would be able to offer a better user experience by automatically snapping their windows side-by-side at startup.

[2017-02-13 23:41] guillaumejenkins commented on #8675
It looks like this is not even exposed by Windows APIs. Closing.

[2017-02-13 23:41] #8675 closed

[2017-02-14 00:15] groundwater commented on #8670
Hi @johanneskrtek - I booted Electron as above, with the exact same version and OS version. Everything looks fine on my end. The SVG looks normal, and I can open devtools.

If you have more information about how you're running Electron (e.g. non-standard arguments or settings) or have unique system settings please let us know.

[2017-02-14 01:19] groundwater commented on #8582
Let's merge this into #6301

[2017-02-14 01:19] #8582 closed

[2017-02-14 01:26] Anaerin opened #8677 "Modal Windows don't yield on close"
* Electron version: 1.4.15
* Operating system: Windows 10

### Expected behavior
Closing a modally opened window should yield control back to it's parent when it is closed.

### Actual behavior
Modal window closes, parent window refuses to accept input (playing generic error ding when you try and click or type into it)

### How to reproduce
[code]

Then close the popup window, and notice that main

[2017-02-14 01:29] tlgreg commented on #8667
Sorry, my bad. I tried in an existing app, but we use an overlay above the webview when dragging a file. (_I always tell myself not to comment when didn't slept._)

I just tried with fresh app and reproducable with Windows (8.1).

What I can add to the issue is the webview crashes on dragenter.
Also if the webview didn't crash before the drop, the drop event only fired in the external document, bu

[2017-02-14 03:35] molster commented on #6908
@kevinsawicki no luck. looks like 1.6.0 has the same result (on windows 10 with anniversary update. it will pop-up the task bar)

Is there any other info I can provide to help? would be happy to include a video of it on windows 8.1 vs 10 (I no longer have any computers without the anniversary update, or id show how it changed with the windows update for 10)

[2017-02-14 06:25] dasarindam commented on #8638
Here is the step that worked me....

=================

Prior Setup.
1. JDK C:\Java\jdk1.8.0_25
2. Node version - node-v6.9.5-x64
3. OS - Windows 7 64bit

Global installation.

# run in administrator privileged command prompt window

[code]

App level installation after extracting the Electron Quick Setup.

[code]
========================

[2017-02-14 08:06] paulcbetts commented on #4045
Would setting a new key in our App manifest opt us out of this?

[2017-02-14 08:19] zcbenz commented on #4045
I hope so, but I can't find any documentation on it, even this behavior is not documented anywhere.

[2017-02-14 08:22] LeonBlade commented on #7462
This bug is still in the game, for those that want a fix, you can respond to the `resize` event on your window and disable the shadow again.
[code]

Here's an example of before and after resize:
![Before](http://i.imgur.com/dCK3pIB.png)
![After](http://i.imgur.com/SCH6ldu.png)

[2017-02-14 08:48] alberto2000 commented on #4604
Very interested too to get Hardware Accelerated Video Decoding in Linux/Ubuntu. Any update on this?

[2017-02-14 08:56] vadim-ch commented on #7275
@eddievagabond, i also have problem with Draft.js, but in tag "input" and "textarea" also reproduced.

[2017-02-14 09:58] priestnot commented on #4604
I never tested it on the later versions of electron. So I do not know if in the newest version the Hardware Accelerated Video Decoding is working.

I think that it is drivers/hardware dependent. Some work some do not. But I could be wrong.

[2017-02-14 10:09] ChALkeR commented on #8455
Does electron need to emit `LayoutUpdated` here? Chromium also populates the submenus on the fly, but it doesn't emit `LayoutUpdated` in reply to `AboutToShow`, and works perfectly.

[2017-02-14 10:46] johanneskrtek commented on #8670
Hi,

that’s how I can reproduce the issue(s):

[code]

![electron](https://cloud.githubusercontent.com/assets/419747/22925958/f027bc32-f2aa-11e6-908b-e945bad1e956.png)

I can open the dev tools and they look normal in 1.6.0. But when I click the selection tool I get the following error in the command line:

[code]

[2017-02-14 13:07] MarshallOfSound commented on #8670
@johanneskrtek Can you provide you current display resolution and your current DPI scaling settings

[2017-02-14 15:07] johanneskrtek commented on #8670
Display setups:
* External display, 1920 x 1200 (scale factor 1)
* Internal retina display, 2880 x 1800, scaled to 1440 x 900 (scale factor 2)

But it also occurs in all other available scaled resolutions on the retina display.

[2017-02-14 15:36] deepak1556 commented on #8647
I dont think so, but will defer to @zcbenz since he implemented it.

[2017-02-14 15:53] pronebird opened #8680 "Display browser window in popover from tray icon"
Is it possible to display browser window in popover like this?

https://github.com/taichino/PopupTest

[2017-02-14 16:41] #8563 closed

[2017-02-14 16:54] asacui commented on #7815
I have the same problem. I have Intuos Pro Model PTH-851. I am running the latest Wacom driver. Slack does not register all the pen clicks. There is some limited Wacom Slack interaction. The pen does not allow me to select type. There is no response to clicking on videos or images (cannot hit play, send image to full screen). Cannot switch between threads or direct messages. Scroll bar doesn't wor

[2017-02-14 16:56] kevinsawicki commented on #7815
@asacui do you experience the same problems when using Slack in Chrome?

[2017-02-14 17:04] jhen0409 opened #8681 "Debug DevTools window"
* Electron version: 1.4.15
* Operating system: macOS Sierra

### Expected behavior

In Chrome, you can typing Command+Option+I in devtools window to open another devtools window for inspect.

### Actual behavior

Electron seems doesn't. I saw `BrowserWindow.debugDevTools` in [history](https://github.com/electron/electron/pull/178), but it does not seem right now.

Some people are facing https://gi

[2017-02-14 17:07] asacui commented on #7815
Slack on Chrome does not have the problem. Thank you.

[2017-02-14 17:07] #7081 closed

[2017-02-14 17:10] asacui commented on #7815
I use Mac OS Sierra. 10.12.3.

[2017-02-14 17:15] asacui commented on #7815
Very interesting. I went back to the Slack app and the problem is fine. It might be that the problem doesn't happen every time. I guess I would have taken action earlier if the problem didn't sometimes not appear.

During the times when the interactivity is broken, it is reliably broken.

[2017-02-14 17:21] kevinsawicki commented on #7815
@asacui are you able to run `npm install electron@beta`, launch via the `electron` command then try out the default app? Does scrolling, clicking, etc. function correctly in it?

[2017-02-14 17:26] asacui commented on #7815
Slack only has interactivity difficulties with Wacom. Other input devices work fine.

I am new to github. Not exactly sure what the site is. Run npm on Terminal?

[2017-02-14 17:28] kevinsawicki commented on #7815
@asacui are you on Mac? If so, it is probably easier to just download https://github.com/electron/electron/releases/download/v1.6.0/electron-v1.6.0-darwin-x64.zip directly and launch it and see if the default app works as expected with the wacom input.

[2017-02-14 17:32] #8621 closed

[2017-02-14 17:35] asacui commented on #7815
I'm on a work Mac. My company has tight rules about installing apps. Might take me a while to get permission to run Electron.

I apologize. I'm not quite sure what the function of GitHub is. I thought perhaps it was a platform to let Slack know about the issue.

[2017-02-14 17:41] deepak1556 commented on #8681
Merging this to https://github.com/electron/electron/issues/2835 , you can try remote debugging if that helps your case as a workaround.

[2017-02-14 17:42] #8681 closed

[2017-02-14 17:58] groundwater commented on #8560
Hey @kevinsawicki, I can't find any chrome plugin APIs for getting power events, only ones to [prevent the machine/screen from sleeping](https://developer.chrome.com/apps/power).

What do you think a good next step would be in narrowing this down?

# Some relevant links

- [Electron Power Monitor Source](https://github.com/electron/electron/blob/master/atom/browser/api/atom_api_power_monitor.cc)
-

[2017-02-14 18:02] groundwater commented on #8541
Hi @juturu, I discussed this in our weekly meeting, and we'd love to help but will need more information. We would need a mini-crash dump from the crash reporter to know any more.

[2017-02-14 18:04] groundwater commented on #8554
Hey @rogeru, thanks for the repro-case. I definitely get some strange behavior when calling `destroy()`. I discussed this issue in our weekly meeting, and I'm curious why you're not using `close()` instead?

[2017-02-14 18:08] kevinsawicki commented on #8560
Maybe trying http://exodusdev.com/products/monitor-win32-power-management-events and see if the events are event getting fired. I haven't tried that tool before but saw it referenced from https://answers.microsoft.com/en-us/windows/forum/windows_10-desktop/windows-10-taskbar-thumbnails-preview-keep/c74dfbe8-db09-4d5f-b7a2-f7a2f0fc7da4?page=12

[2017-02-14 18:09] #7100 closed

[2017-02-14 18:35] paulcbetts commented on #4045
Alright, I sent an Email to the relevant Microsoft MVP mailing list, we'll see if anyone has any ideas

[2017-02-14 19:06] rogeru commented on #8554
Hey @groundwater, yes once I tracked the issue down to the `destroy()` we switched to `close()`. So we are all good. I just wanted to let you guys know that there is an issue with `destroy()` as you have observed as well.

[2017-02-14 19:37] kevinsawicki commented on #8665
@Mikepicker are you requiring `nativeImage` via `require('electron').nativeImage` or `require('electron').remote.nativeImage`?

Can you provide a more complete reproduction example and the image you are using?

[2017-02-14 21:32] kevinsawicki commented on #8667
@tlgreg are you able to provide the code you are using when you see this crash? Thanks.

[2017-02-14 21:45] kevinsawicki commented on #8680
Yes, you can create a `BrowserWindow` and position it where the tray icon sits and style the window to make it have the top tail.

You might want to see https://github.com/kevinsawicki/tray-example for an example.

[2017-02-14 21:45] #8680 closed

[2017-02-14 22:32] CharlieHess opened #8685 "net.request holds handle to cached data"
* Electron version: 1.4.15
* Operating system: Windows 10

Running some tests on `electron-mocha` that use `net.request`. `electron-mocha` creates a temporary directory and assigns it as the user data path. When it finishes, it tries to clear the user data path to ensure a clean room. Any test that uses `net.request` prevents `electron-mocha` from clearing this directory when done. I tried working

[2017-02-15 00:04] kevinsawicki commented on #8215
@renambot @renambot-uic are you able to see if this still happens on Electron 1.6.0?

[2017-02-15 00:29] kevinsawicki commented on #8524
Closing this out.

[2017-02-15 00:29] #8524 closed

[2017-02-15 00:30] kevinsawicki commented on #8523
@EsSpricht can you provide a minimal example that reproduces this issue for you? Thanks.

[2017-02-15 00:31] kevinsawicki commented on #8502
Closing this out, this shouldn't be an issue on 1.6.0 because of the way Electron integrates with Chrome, each `BrowserWindow` has only one "tab" and so it shouldn't be throttled.

[2017-02-15 00:31] #8502 closed

[2017-02-15 00:32] kevinsawicki commented on #8480
@Palabola can you try and reproduce this with Electron 1.6.0 which upgraded to Chrome 56 to see if  the fonts are still fuzzy?

[2017-02-15 00:35] kevinsawicki commented on #8290
Closing this out since it seems related to #8290 as mentioned by @demian85

[2017-02-15 00:35] #8290 closed

[2017-02-15 01:10] kevinsawicki commented on #8667
May be related to https://github.com/electron/electron/issues/3146

[2017-02-15 02:04] #8055 closed

[2017-02-15 06:43] amhoho commented on #1335
Electron click through transparency example
https://gist.github.com/StickyCube/ed79421bc53cba38f5b74b060d3f15fa

[2017-02-15 07:19] wuww5511 opened #8687 "[mac] "quit" is not work after packaging"
There is a quit option on the menu which is shown after right clicking the dock icon. After packaging the app with electron-packager, the quit option do not work.

[2017-02-15 07:20] MarshallOfSound commented on #8687
@wuww5511 Can you provide a minimal sample application that reproduces the issue, I'm struggling to reproduce on `1.4.x` or `1.6.x`.

A common cause for this issue is people preventing default on `will-quit`, you should ensure you aren't doing that as well.

[2017-02-15 07:58] wuww5511 commented on #8687
Maybe it is caused by the package "fix-path". When I add "require('fix-path')();", the quit action will not work.

[2017-02-15 08:14] gerhardberger commented on #8522
I could reproduce the issue with your code and the problem is that you need to explicitly focus the window. Adding this solved the issue for me:

[code]

[2017-02-15 08:15] gerhardberger commented on #8498
Discussed in #8522

[2017-02-15 08:15] #8498 closed

[2017-02-15 10:36] teamon commented on #6124
UNLESS you open two (or more) folders using command line `atom .` and have atom in fullscreen - then there are pretty useful native tabs that just work:

![](https://dl.dropboxusercontent.com/s/ynjbdtmqtc4rbpi/2017-02-15%20at%2011.36.png)

[2017-02-15 10:40] ColinEberhardt commented on #8384
Yes, balloon notifications do work, and for Windows 7 the Notification API could be polyfilled to make use of them.

However, balloon notifications are pretty weak in terms of the functionality they deliver. I'd prefer to see an implementation that is more aligned with Windows >8 or OSX in terms of overall richness of experience.

[2017-02-15 14:00] alespergl commented on #8384
To give an update on this, we have the feature implemented now. The toasts look and behave similarly to those on Windows 8 and 10. We need to sort out some processes before we'll be able to contribute it.

[2017-02-15 15:15] pronebird opened #8689 "Add event to tray notification when other item is being selected"
Hi,

I build a menubar app and use Tray to display window below menubar item.

I use the following implementation:
https://github.com/kevinsawicki/tray-example

When user clicks on menubar item it highlights, i.e.:

[code]

However if user switches between menubar items the tray item remains selected which is against how things are naturally handled on macOS. On macOS the majority of apps hide the

[2017-02-15 15:33] pronebird commented on #1369
Is it fixed?

[2017-02-15 16:21] asacui commented on #7815
@kevinsawicki: I have Electron ready to go. I am a newbie at this.
![screen shot 2017-02-15 at 11 20 48 am](https://cloud.githubusercontent.com/assets/25774768/22983697/e633d410-f370-11e6-905a-57efe1c1b560.png)

[2017-02-15 16:28] #8653 closed

[2017-02-15 17:24] ColinEberhardt commented on #8384
@alespergl - that's great news! Is there somewhere we can see this in action? Is it part of the VSCode codebase?

[2017-02-15 18:49] codekiln opened #8690 "`./script/bootstrap.py` stack trace on OS X 10.9.5"
* Electron version: v1.6.0-195-g0ac3969
* Operating system: OS X 10.9.5

### Expected behavior

`$ ./script/bootstrap.py --dev` should correctly bootstrap the source or give an appropriate error.

### Actual behavior

`bootstrap.py` fails on 10.9.5 / Mavericks when `./tools/mac/find_sdk.py` is unable to find `/Library/Developer/CommandLineTools/SDKs` which causes the script to fail with a stacktra

[2017-02-15 18:52] nishant09 commented on #8521
Thank you @kevinsawicki . this helps

[2017-02-15 19:22] #8649 closed

[2017-02-15 19:27] zeke commented on #8557
Glad that fixed it. Thanks for reporting back, @bakkiraju

[2017-02-15 19:27] #8557 closed

[2017-02-15 19:27] patricksebastien opened #8691 "Integrating Google Tag Manager (gtm)"
* Electron version: 1.4.12
* Operating system: Mac, Windows, Linux

### Expected behavior
Collecting the analytics

### Actual behavior
Not sending the datas to Google Analytics

### How to reproduce
I have a simple webpage that integrates Google Tag Manager (a container that forward the dataLayer to Google Analytics). It works when opening my webpage on my local server, but when running the exact

[2017-02-15 19:27] avighier commented on #360
I don't know if "+1" it's a good practice, but ...

+1

[2017-02-15 19:39] cribari commented on #8455
Today I filed this KDE Plasma bub report: https://bugs.kde.org/show_bug.cgi?id=376517

[2017-02-15 19:50] ChALkeR commented on #8455
@cribari I talked to KDE devs (hint — @kbroulik is one), and they are clear about that the issue is on the Electron side, as it shouldn't emit `LayoutUpdated` when there were any actual updates.

[2017-02-15 19:50] ChALkeR commented on #8455
@cribari I talked to KDE devs (hint — @kbroulik is one), and they are clear about that the issue is on the Electron side, as it shouldn't emit `LayoutUpdated` when there weren't any actual updates.

[2017-02-15 19:55] cribari commented on #8455
I am having this problem with wmail: https://github.com/Thomas101/wmail/issues/584

[2017-02-15 20:05] johnryan opened #8692 "Using chrome native messaging with electron"
* Electron version: 1.4.15
* Operating system: OSX 10.12.3

https://developer.chrome.com/extensions/nativeMessaging

I'm trying to communicate between a chrome extension and the electron process. I saw this issue https://github.com/electron/electron/issues/7681 but it seems to be trying do something different (loading the extension from the electron app).

I think the extension is set up properly

[2017-02-15 20:06] vulture commented on #8522
Can confirm this fixes it for me. Thanks!

[2017-02-15 20:06] #8522 closed

[2017-02-15 21:39] TimNZ commented on #8639
@kevinsawicki Want to confirm if Partitions on BrowserWindow would achieve this?

[2017-02-15 22:56] paulshapiro commented on #8520
Scratch that. No drag seems necessary.

[2017-02-15 23:04] feross opened #8694 "Regression: titleBarStyle 'hidden-inset' option is treated as 'hidden'"
* Electron version: v1.6.0 beta
* Operating system: macOS Sierra 10.12.3

### Expected behavior

The OS "traffic light" buttons are inset.

![screen shot 2017-02-15 at 3 02 29 pm](https://cloud.githubusercontent.com/assets/121766/22999361/c9c8f98a-f38f-11e6-81d1-7a970b29e733.png)

### Actual behavior

The OS "traffic light" buttons are not inset. It's as if the option `'hidden-inset'` is interpret

[2017-02-15 23:09] kevinsawicki commented on #8694
I believe this is a duplicate of #8610 which is fixed on master and will be included in the 1.6.1 release, hopefully out later this week.

[2017-02-15 23:09] #8694 closed

[2017-02-15 23:10] feross commented on #8694
@kevinsawicki Thanks, sorry for the noise. I searched but that issue didn't come up for some reason. Cheers!

[2017-02-15 23:11] kevinsawicki commented on #8694
No worries 👋

[2017-02-15 23:43] callodacity commented on #4637
Wondering if this has been solved in any way?
I'm making a writing app (like TextEdit) which has a treeview for open folders, and it remembers open files on startup - but because of the Sandbox every time the app starts it's denied access to all of these files and the user must manually specify using the `open` or `save` dialogs.

Having `app-scoped` bookmarks would solve this problem, is there an

[2017-02-16 03:10] simurai commented on #6124
In Atom's case (and probably most other apps too) it only would make sense to have the tab bar if the native title bar is also shown. Otherwise when using a dark theme, the dark text of the tabs is not legible. And also when the window is not focused, the inactive tab gets a grey background:

![screen shot 2017-02-16 at 12 00 32 pm](https://cloud.githubusercontent.com/assets/378023/23005527/0d2152

[2017-02-16 09:18] CarlosRen opened #8697 "js file load error"
Hi , i meet this error in opening app packaged by `electron-builder` and execute `electron .` in commend line

![1](https://cloud.githubusercontent.com/assets/6012322/23014862/a5fa2902-f46b-11e6-8033-9f45ee76adca.png)
![2](https://cloud.githubusercontent.com/assets/6012322/23014863/a600e5f8-f46b-11e6-899c-9d4dd548336a.png)

and there is no error on chrome browser of version 50 and 56 , it this a b

[2017-02-16 09:39] CarlosRen commented on #8697
![3](https://cloud.githubusercontent.com/assets/6012322/23015325/5044911c-f46d-11e6-97b9-a48d1e6cee7b.png)

[2017-02-16 10:01] ChALkeR commented on #8455
A related KDE bugreport (closed as upstream, meaning Electron): https://bugs.kde.org/show_bug.cgi?id=376476.

[2017-02-16 10:04] joelthe1 opened #8698 "autoUpdater.checkForUpdates() doesn't wait for quitAndInstall()"
* Electron version: 1.4.12
* Operating system: Windows 10

### Expected and Actual behavior
I'm trying to implement the Auto-Update feature in my app which is a simple editor for a niche text format. I'm able to get the application to update using the native autoUpdater APIs as soon as the app starts. However, I want to show a pop-up to the user to either defer the update or continue and restart i

[2017-02-16 10:18] thegnuu opened #8699 "BrowserWindow.titleBarStyle "hidden-inset" issue in 1.6.0"
* Electron version: 1.6.0
* Operating system: macOS Sierra 10.12.3

### Expected behavior

BrowserWindow.titleBarStyle "hidden-inset" is not working anymore in Electron 1.6.0.
The title bar is hidden but the traffic light buttons are not inset.

Example from Electron 1.4.15:

![screen shot 2017-02-16 at 11 15 41](https://cloud.githubusercontent.com/assets/5129086/23017106/4825c9da-f439-11e6-8843-c

[2017-02-16 10:33] cumajkeee opened #8700 "Crash when navigating in did-fail-load event"
I have a download link (40mb+ file) when clicked and confirm where to save file, make another click on same link and got crash.

Tried to make sample of crash, and didn't yet face such behavior: on second click app didn't made something (not showed download dialog), but also not crashed. Will provide sample as soon as got reproducible one.

Debug:
<img width="1331" alt="screen shot 2017-02-16 at 1

[2017-02-16 10:34] MarshallOfSound commented on #8699
Duplicate:

https://github.com/electron/electron/issues/8629
https://github.com/electron/electron/issues/8694

[2017-02-16 10:34] #8699 closed

[2017-02-16 10:37] MarshallOfSound commented on #8691
Hey, Google Analytics doesn't work by default from `file://` URL's.  You either need to use HTTP or a custom protocol or use the `universal-analytics` package that can send requests directly to Google Analytics.

If you have other questions / issues about this please ask them below on this thread 👍

[2017-02-16 10:37] #8691 closed

[2017-02-16 10:40] MarshallOfSound commented on #8697
You need to disable `nodeIntegration` on your BrowerWindow if you are going to be loading remote content that uses modules like jQuery.

Basically if you don't disable `nodeIntegration` the global `module` object is still available so jQuery treats it like a node environment.

[2017-02-16 10:40] #8697 closed

[2017-02-16 10:43] cumajkeee opened #8701 "[Question] What is release strategy for beta versions?"
I'd like to test beta versions but now you have 2 beta versions available 1.5.1 and 1.6.0.
Both versions will be released? Do you have schedule for releases?.

Just din't want to waste time with testing 1.5.1, if 1.6.0 will be released in short time.

[2017-02-16 10:46] MarshallOfSound commented on #8701
/cc @groundwater

[2017-02-16 10:47] alkuzad commented on #262
@akashnimare maybe this will shed light on this problem ? https://github.com/RocketChat/Rocket.Chat.Electron/pull/199

We switched to Rocket.Chat and it's working in there with some custom notification layout.

[2017-02-16 12:48] astoilkov commented on #8386
This is fixed in the latest version of Electron 1.6.0. This was a Chromium issue which they resolved.

[2017-02-16 13:05] cumajkeee commented on #8700
[download-crash.zip](https://github.com/electron/electron/files/780128/download-crash.zip)

Reproduce sample, seems some how 'did-fail-load' had affect on it.

[2017-02-16 14:27] enlight commented on #8639
@TimNZ I'm not sure what you're asking, as Kevin said `app.setPath` can only be used to set paths for the entire app not a given window/view, nor can you set those paths per partition.

[2017-02-16 16:04] enlight commented on #360
@avighier It's not, there's a button to **add your reaction** to the original comment, use it. Spamming issues with zero-content comments is rude and accomplishes nothing of value.

[2017-02-16 16:10] kevinsawicki commented on #8701
There probably won't be another 1.5.x release since we upgraded quickly to Chrome 56 in 1.6 and we bump the minor in ever major Chrome upgrade.

There will be another 1.6 release in the next week to the beta channel, if all goes well with it we may promote to stable or release further betas.

I'd recommend ignoring the 1.5 line and focus your testing on 1.6.x.

We don't have a formal release sched

[2017-02-16 16:10] #8701 closed

[2017-02-16 16:30] alespergl commented on #8384
Here's a short video of how it looks.
[notifications.zip](https://github.com/electron/electron/files/780767/notifications.zip)

[2017-02-16 17:35] averissimo commented on #6301
(from #8582)

* Electron version: 1.4.15
* Operating system: Ubuntu 17.05 (also reported in 16.10)

### Expected behavior

Tray icon changes without an intermediate image/artifact

### Actual behavior

![outphkfc5l8rt](https://cloud.githubusercontent.com/assets/211358/22598140/5e2aa21e-ea2a-11e6-93dd-fa742397a475.gif)

### How to reproduce

Checkout https://github.com/averissimo/electron-boilerpla

[2017-02-16 19:23] TimNZ commented on #8639
@enlight No-one asked the issue creator why they wanted a separate userData dir.

Either for some reason they want to spread userData dir around the filesystem (why?), or they want to do it for isolated partitions between BrowserWindow instance in the same app.

I should been explicit in saying 'if scenario #2 would Partitions do the job?...'.

[2017-02-16 19:24] baconface commented on #8698
What does your `SquirrelSetup.log` file say?

[2017-02-16 19:26] TimNZ commented on #8639
I have spent a long time doing BA, requirements, scoping etc and it usually pays to ask for the root reason for a question if it could be a number of reasons.

[2017-02-16 19:36] kevinsawicki commented on #8700
@cumajkeee can you try your sample using `electron@1.6.0` and see if you still see the crash?

I'm not having success reproducing it using that version, each time I click the link I get the save dialog and don't see any crashes.

[2017-02-16 19:39] kevinsawicki commented on #8690
@codekiln do you have the command line tools SDKs installed to a different location or not installed at all? Thanks.

[2017-02-16 19:44] mikecao opened #8703 "Menu enabled/visible property doesn't affect top-level menu items"
* Electron version: 1.4.15
* Operating system: macOS Sierra, Windows 10

### Expected behavior

Top level menu items should be hidden when the `visible` property is false and not be clickable when `enabled` property is false.

### Actual behavior

The `visible` and `enabled` properties do not behave correctly on top level menu items. It seems to work correctly for submenu items.

### How to reprod

[2017-02-16 19:52] kevinsawicki commented on #8703
I believe this is a duplicate of #2895, please subscribe to that issue for updates

[2017-02-16 20:11] ArashAlikhani commented on #8559
sorry for my late response.
I had to change my windows and reinstall visual studio to test it.
Thank @bsclifton it works fine.

[2017-02-16 21:04] codekiln commented on #8690
I believe so ...

[code]

[2017-02-17 04:33] Brusalk commented on #4380
I'm also seeing this with VS Code (https://github.com/Microsoft/vscode/issues/10091) running Ubuntu 16.10 on a Windows host via Virtualbox.

[2017-02-17 05:49] piyushagade commented on #1190
Use it this way:
<webview>.insertCSS(fs.readFileSync(path.join(__dirname, 'yourCSSFile.css'), 'utf8'));

[2017-02-17 06:36] yuxiaoyan1205 opened #8705 "在mac上，fullscreen为true但是却不能全屏显示"
在windows系统上，new BrowserWindow({fullscreen:true}),打开的窗口是全屏的，但是在mac上，有时是全屏的，有时确是默认的宽度800，高度600，怎么让窗口一直全屏显示呢

[2017-02-17 07:46] salmazov opened #8706 "Frameless Electron App not dragging via screen"
* Electron version:
v.1.4.15
* Operating system:
Windows 10

### Expected behavior
Frameless window with settings:

[code]

and this CSS:

[code]

and this HTML:

[code]

shoud Drag'n'Drop via Screen

### Actual behavior
Electron Application when started don't work as expected. I can't drag it via screen.

### How to reproduce
Copy-paste code from Quick Start Guide from official Electron Doc page.

[2017-02-17 07:48] MarshallOfSound commented on #8706
Are your Dev tools open?

[2017-02-17 07:56] cumajkeee commented on #8700
@kevinsawicki yes, it reproduce in 1.6.0 also. Did you start download when clicked first time?

[2017-02-17 07:57] cumajkeee commented on #8701
@kevinsawicki thanks for the info.

[2017-02-17 08:35] joelthe1 commented on #8698
This is the [SquirrelSetup.log](https://drive.google.com/file/d/0B-Z5AUy8MaKEbHJHbkw2eUdfcVU/view?usp=sharing) file.

[2017-02-17 10:14] salmazov commented on #8706
And yes, and no. No effect.

[2017-02-17 11:20] algv commented on #8356
default values are in v8/src/heap/heap.cc: https://github.com/electron/node/blob/b1069b6dd5321a6e5cf2f7fea68a85ac4a2df24b/deps/v8/src/heap/heap.cc#L82

[2017-02-17 14:46] demian85 commented on #8325
Hey, I can confirm this bug still exists in latest Electron v1.6 beta.
Chrome Canary v58 is patched and mouse is visible.
Can someone please help me find the patch so I can submit a PR to libchromiumcontent?
Thanks.

[2017-02-17 14:47] Spazer9 opened #8708 "Blurry text on a windows electron app"
I've noticed that text appears more blurry on electron than in regular Chrome.

Mind you i'm using the latest electron version 1.6.0.

This is a comparison between **Chrome (Top)** and Electron's **Chromium (Bottom)**

![](https://s3.amazonaws.com/snaps-bucket/2017/02/X7JLssF/2017-02-17_14-45-53.png)

Any ideas how to fix this?

[2017-02-17 16:27] breaded commented on #1769
thank you so much

[2017-02-17 17:16] groundwater commented on #8708
Hi @Spazer9, thank you for the bug report. What version and OS are you using?

In future, following the [Issue Template](https://github.com/electron/electron/blob/master/ISSUE_TEMPLATE.md) can help ensure a quicker diagnosis. Thanks.

[2017-02-17 17:21] groundwater commented on #8705
Translation here:

[code]

Hi @yuxiaoyan1205:

1. What version are you using? `$ electron -v`

[2017-02-17 17:27] groundwater commented on #8692
Hi @johnryan, I think we're going to need more information to help. Can you link to the example code/report you're trying to get working?

I am not quite sure if this would qualify as a bug, a feature request, or something else.

[2017-02-17 17:40] paulcbetts commented on #1769
@BesatZardosht You've got a typo in your URL:

[code]

should be:

[code]

(note the `:`)

[2017-02-17 17:42] Spazer9 commented on #8708
Thanks Groundwater for the note - i'm testing on Windows 10 64bit

[2017-02-17 18:19] groundwater commented on #8685
Hey @CharlieHess, thanks for the report.

Curious about a few things

1. Is this Windows only?
2. Any knowledge as to why `net.request` is preventing unlinking that directory?

[2017-02-17 18:22] deepak1556 commented on #8700
I am able to reproduce with the provided test case, have reduced the sample to

[code]

[code]

[2017-02-17 18:30] groundwater commented on #8534
Hi @ericbets, we don't have a formal RFC process for proposing enhancements yet, but we'd recommend following [the rust rfc template](https://github.com/rust-lang/rfcs/blob/master/0000-template.md) to give your idea the best chance of getting reviewed.

[2017-02-17 18:35] groundwater commented on #8530
Hi @sklink, thanks for the detailed report!

Can you also try `1.6.0` accessible by `npm i electron@beta` and see if the problem is still happening?

[2017-02-17 18:38] pronebird commented on #8689
@groundwater sorry it turns out my electron updated to 1.6.0 according to `npm list | grep electron`. I tested with 1.4.15 and it's the same.

I don't think it's regression. I think everything works fine for Tray created with context menu (`Menu`). However my Tray is quite custom since it display a BrowserWindow below menubar icon (just like Dropbox for macOS).

I looked through some samples of cr

[2017-02-17 18:41] johnryan commented on #8692
@groundwater Thanks for responding, it's more just a general support request (i tried the electron slack but didn't get a response). All i'm trying to do is find a way to communicate between a chrome extension and my electron app.

I ended up trying a totally different route and set up a web server running inside the main process that the chrome extension just posts to like any other service. If t

[2017-02-17 18:54] inukshuk commented on #8685
For what it's worth, I've had similar issues with electron-mocha not being able to unlink the directory on Windows when tests opened `BrowserWindows` without closing them. My guess would be that unlinking fails because an active process still holds an open file descriptor in the user data directory (in this case `net.request` accessing the cache folder).

[2017-02-17 19:19] ericbets commented on #8534
thanks for the feedback @groundwater. As suggested.

Expose Electron Cache
18 Feb 2017

Summary:

Expose the Chrome cache to surface the ability to precisely control which assets are cached, and when.

Motivation:
The benefit cited is because will make the web faster and more efficient. Adding this feature could be the catalyst for a new era of competition among client side caching algorithms.

De

[2017-02-17 19:30] zeke commented on #8708
@Spazer9 are you seeing this on older versions of Electron?

[2017-02-17 19:53] ericbets commented on #6697
+1 for this. In the  browser project that I'm working on (described in #8534), I'd really like to make the start page (when you start a browser or add a tab) a feed type list of your recent HTML5 notifications. For me this is much better than a modal that interrupts. It's also probably the first step in a true open source type facebook thingy. I would propose electron simply add a runInBackground

[2017-02-17 19:58] lanigela opened #8710 "Drag the browser window around block the main thread"
I'm developing a computationally intensive application using electron. I came to notice that when I drag the browser around, SOMETIMES the main Node.js thread is blocked, and it blocks the main thread for a while, or even completely by change.

I first thought it might be the communication between IPCMain and IPCRender so I disconnect all of them in my code, but it doesn't help. This is like a rev

[2017-02-17 20:06] bhouston commented on #8710
This is a pretty serious issue for us.  Basically we have a "real-time" application running in Node.JS and Electron is causing it to halt for arbitrary long periods if someone moves the window around.  This is not an issue with standard GUI applications on Windows or Ubuntu, rather this limitation of locking the main loop when the window is being moved is imposed by either Chromium or Electron.

[2017-02-17 20:53] kevinsawicki commented on #6908
Yeah, a quick video would be helpful, thanks for offering 👍 🎥

[2017-02-17 20:56] kevinsawicki commented on #8663
This sounds like a good approach to try out 👍

👍

[2017-02-17 21:03] kevinsawicki commented on #8664
I'm okay changing this in Electron 2.0 but I don't think we should change it before hand

This seems useful and if maybe we can eventually get it supported on other platforms.

This sounds good to me as well, but I'm interpreting this a non-breaking change that just makes these values more correct on macOS.

[2017-02-17 21:06] zeke commented on #8689
@pronebird I think the `blur` event is what you're looking for:

[code]

[2017-02-17 21:07] kevinsawicki commented on #8663
Had another thought on this, perhaps if we do implement this we could add a property to the event emitted like `receivedBeforeDocumentCreation` or `replayed` so apps will know it is being replayed but were received at an earlier time.

It might make it easier to debug/inspect any timing issues related to supporting this.