[2017-02-17 21:13] pratik-abhyankar opened #8711 "Bootstrap "tabs" don't work in electron"
* Electron version: 1.4.15
* Operating system: Windows

### Expected behavior
Clicking on a bootstrap tab from navbar with class "nav-tabs" should display the corresponding tab data.
My code is 100% correct and works flawless in any browser.

### Actual behavior
I am using bootstrap "tabs" navigation in my application.
However, clicking on any tab has no effect at all. The other tabs don't open wh

[2017-02-17 21:13] pronebird commented on #8689
@zeke unfortunately that does not seem to work with other context menus or popovers on macOS. It works if I switch to other app though.

[2017-02-17 21:14] Spazer9 commented on #8708
@zeke Yup - just tried with 1.3 - same exact effect.

[2017-02-17 21:15] kevinsawicki commented on #8711
If you open the dev tools and click the console tab do you see any errors?

[2017-02-17 21:22] kevinsawicki commented on #8711
I'm guessing this is related to https://github.com/electron/electron/issues/254, see that issue for more details if you are seeing console errors about `jQuery` not being loaded.

[2017-02-17 21:34] groundwater commented on #8710
Hey @lanigela, thanks for posting the detailed repro-case.

I know we're looking at node-integration into web-workers, which can run in their own threads. If you or @bhouston have any more information about your applications, we could use that as a user-story when working on the feature.

We can also have a look and see if this problem is avoidable, or too baked into the architecture to avoid with

[2017-02-17 22:44] tex0l opened #8712 "Impossible to detect if another instance instance has been launched on OSX"
Hi everyone,

I'm making an app which has a `Tray` only (most of the time) and a `BrowserWindow` which is showed when a `click` event is emitted on the `Tray`.

I'd like to show this `BrowserWindow` programmatically when the user opens the app once again. Here is my problem on OSX:
 - The callback of `app.makeSingleInstance` is not executed on OSX if the users clicks on Myapp.app,
 - No event is e

[2017-02-17 22:47] baconface commented on #8711
I have several projects with Bootstrap tabs. All work as expected. I am also guessing you are trying to load jQuery and Bootstrap in the traditional browser context and not the Node context.

[2017-02-17 22:58] kirkouimet opened #8713 "webContents.sendInputEvent({type:'char', keyCode:'Shift'}) inserts the text "Shif" into a textarea"
* Electron version: 1.6.0
* Operating system: macOS Sierra

### Expected behavior

When focused in a `textarea` and I call `webContents.sendInputEvent({type:'char', keyCode:'Shift'})` a simulated shift key should be sent to the window and no text should be entered into the `textarea`.

### Actual behavior

The text `Shif` is appears in the `textarea`.

### How to reproduce

Make an empty textarea,

[2017-02-17 23:47] groundwater commented on #8534
_Edit: Updated formatting_

[2017-02-18 00:09] groundwater commented on #8713
Hi @kirkouimet, thanks for giving the 1.6.0 beta a spin. Folks trying out out helps us a lot!

First question, is this a regression? Do you get the expected behavior in the latest stable release `1.4.15`?

[2017-02-18 00:14] groundwater commented on #8712
Hi @tex0l, I labeled this as a possible bug, but we'll look into it a little closer.

What version of electron are you running? (in bash `$ electron -v`)

[2017-02-18 01:58] ensiform commented on #8711
Strange, I am using the following just fine:

[code]

the newtabs.js file uses jquery to load in the real content into each tab.

See my WIP code here: https://github.com/ensiform/bltps-edit

[2017-02-18 04:16] MarshallOfSound commented on #8534
I took a quick look into the cache implementations in Chromium.  Initial thoughts are it *could* be possible to expose `CreateEntry` and `DoomEntry` in some kind of API, it would appear to be a reasonably large chunk of work to do however.

Number 3 in your detailed design is something that (AFAIK) will never be implemented in Electron as it fundamentally changes the way caching web assets works.

[2017-02-18 04:39] ektx opened #8714 "BrowserWindow vibrancy not work in 1.6.0"
* Electron version: 1.6.0
* Operating system: mac 10.12.3

### Expected behavior
Hi everyone, i want to use vibrancy in my app, but it not work! somebody can help me?

[code]

[2017-02-18 05:34] groundwater commented on #8714
Hey @ektx thanks for trying out 1.6.0. Can you confirm that this works as expected in our current stable release `1.4.15`?

[2017-02-18 05:46] ektx commented on #8714
@groundwater yes,  it can work in 1.4.15 !

[2017-02-18 06:24] shinriyo commented on #7261
Me too. what is the error is??

[2017-02-18 06:29] xudafeng opened #8715 "Is there any way to dismiss dialog?"
### Expected behavior

want some `dismiss alert` api

### Actual behavior

### How to reproduce

https://github.com/alibaba/macaca/issues/427#issuecomment-280825236

[2017-02-18 06:30] MarshallOfSound commented on #8715
Not currently, you can track this request over in #5577

[2017-02-18 06:30] #8715 closed

[2017-02-18 07:03] pratik-abhyankar commented on #8711
@kevinsawicki @baconface Yes, you were indeed correct! I tried loading jQuery like a normal browser script, which failed. I am sorry, that was my mistake.
Luckily, I found a very very simple solution at http://stackoverflow.com/questions/32621988/electron-jquery-is-not-defined. Do check out!
Closing the issue.

[2017-02-18 07:03] #8711 closed

[2017-02-18 08:27] shinriyo commented on #2085
Netfix can't work on Electron

[code]

[code]

[2017-02-18 10:45] marcelfalliere commented on #1958
This solution does not work with "modern" (if you permit me) dev tools like webpack and the like. Thus, it may work in a development environment but not a production one ... Passing `__dirname` may work but I don't think it's a good idea.

I have the same problem as OP, in a webpack-dev-server with vue.js environment. I'm struggling with paths every time. Such a pain.

Will update this after a sol

[2017-02-18 10:57] marcelfalliere commented on #1958
So my `webview` has the `preload=file://./assets/webviewInjectedScript.js`. Without `file://`, electron cries me an error.

Opening the dev tools for the webview, and with a breakpoint at `module.js#455` (where the `MODULE_NOT_FOUND` error is thrown), the search path seems to be :

/Users/marcelfalliere/my_app_electron_vue/node_modules/electron/dist/Electron.app/Contents/Resources/electron.asar/re

[2017-02-18 11:00] MarshallOfSound commented on #1958
@marcelfalliere `electron.asar` is internal Electron logic / JS, none of your files should go in there.

The reason your search path is looking there is because `./` is relative to the CWD, in this case a path inside `electron.asar`.  You need to use `__dirname` to locate the actual path of the current file.

Using `webpack` with Electron has many problems, a few of which can be solved by setting

[2017-02-18 11:36] marcelfalliere commented on #1958
@MarshallOfSound `webpack` in conjuction with `vue.js` framework is really useful, for me at least, in (a) the development process : I get sweat Hot Module Replacement and ES6/7 and (b) in the long run, a big app with both components-oriented and flux-style architecture is the best IMHO. I started with `nw.js` and `vanillajs` but oh boy. Anyway, maybe that is another debate. I've used [this bootst

[2017-02-18 14:00] che3vinci opened #8716 "how to show a popup div outside the browser window"
just like this.
the main window is always focus.

![a](https://cloud.githubusercontent.com/assets/3297310/23093703/7526b1fe-f625-11e6-9742-cfd3d91f7350.jpg)

[2017-02-18 14:05] bhouston commented on #8710
@groundwater Thanks for the attention!  Wohoo!

I can describe the app at a high level.  It is a near real-time signal processing tool that uses a lot of CUDA via Node.JS NAN plugin and has a 3D front end and React.js-based GUI.  Basically electron allows for a cross platform application with a rich UI at very low cost -- basically a replacement for Qt's normal role.  We love electron and it has s

[2017-02-18 14:38] Martina-Neumayer commented on #7024
@evancohen In Mint or Ubuntu you can use this:
http://www.webupd8.org/2016/03/how-to-stream-audio-to-chromecast-or.html
https://github.com/masmu/pulseaudio-dlna
This adds an "system-wide-casting" support to nearly every app in the nstalled OS :)

[2017-02-18 16:08] Sendoushi commented on #7779
I'm also having issues. Here is an example (I'm using `electron 1.4.15`):

[code]

On this example, `closed` logs whenever it is quit (so fine there) but ready to show never triggers.

[2017-02-18 19:06] tommoor commented on #8716
You should use a new window with the `parent` option (see: https://github.com/electron/electron/blob/master/docs/api/browser-window.md#parent-and-child-windows). It'll be difficult to make it seem native though, you're probably better off keeping it inside your original window.

[2017-02-18 19:32] gerhardberger commented on #8714
@groundwater @zeke: I took a look at it and it was just a version check issue. Fixed in #8717

[2017-02-18 20:52] groundwater commented on #8716
Hi @che3vinci, please ask here:

- [Discuss Forum](https://discuss.atom.io/c/electron)
- [Slack Chat](http://atom-slack.herokuapp.com/)

I will close this issue, but @tommoor thanks for your help! Everyone is free to keep discussing the topic here if hey like.

[2017-02-18 20:52] #8716 closed

[2017-02-18 23:32] ericbets commented on #8534
The urlcache thingy string seems low risk, could be hidden behind a build or config flag. I'm all for trying because in my value system, shipping a working impl is more important than doing what everyone else is doing. What's the barrier to exposing all those Entry APIs? If there is a quick and dirty way to do it, I'm all for it, as the process of exposing those apis would be iterative and the fee

[2017-02-18 23:52] tex0l commented on #8712
I use electron 1.4.15.

As I understand it, this behaviour is not a bug, this is what is intended.
In the documentation it's said that for app.makeSingleInstance:

My issue is more about triggering another event, much like open-url or open-file, that would give notice that the user has tried opening another instance of the app.

[2017-02-19 00:26] che3vinci commented on #8716
@tommoor if I use child browser window,the main browser can lose focus when I am editing the child window.
what I need is alway keep the main window is focus,so the popup DIV is one choice .
but I don't know how to do it .

[2017-02-19 00:26] brandondtran commented on #8466
@LizanLycan
Was your solution to install electron both globally and locally?  Or one or the other?

[2017-02-19 04:50] MarshallOfSound commented on #8716
@che3vinci Check out the `focusable` property on the `BrowserWindow` class 👍

[2017-02-19 17:52] Riyuzakii commented on #8625
@deepak1556 I am a first timer and i would like to try to contribute. please direct me to the files and tell me what to do.

[2017-02-19 18:46] akashnimare commented on #8384
@alespergi could you provide the gist for the same? Would be great. I'm having hard time implementing desktop notifications on windows 7 😭

[2017-02-19 20:40] pronebird commented on #8689
Since I don't see how to solve that without talking to macOS, I made a simple extension to be able to work with `NSEvent` directly to dismiss `BrowserWindow` when clicks are being dispatched to other apps.

https://github.com/pronebird/NSEventMonitor

[2017-02-19 22:32] tex0l commented on #8712
Hi,

I've just discovered that the 'activate' event does the job just right. It might need a better doc than that though:

I'm closing the issue.
Cheers,
tex0l.

[2017-02-19 22:32] #8712 closed

[2017-02-20 02:15] metjeanjunior commented on #360
[awesomplete](https://github.com/LeaVerou/awesomplete) is an alternative for the time being.  Can confirm that it works with the following syntax:
`<input class="awesomplete"
       data-minchars="1"
       data-maxitems="5"
       data-list="China, India, Japan, Russia, UK, USA" />
` but I haven't gotten around to testing the rest of their API.

[2017-02-20 02:22] yuxiaoyan1205 commented on #8705
Hi， @groundwater ：
my version is 1.3.1。
--------------------------------------------------
"electron": "^1.3.1",
"electron-devtools-installer": "^1.1.4",
"electron-packager": "^8.0.0",
"electron-rebuild": "^1.1.3",

[2017-02-20 03:12] f0rmiga commented on #4633
Little late to the party, but I managed to load jQuery this way:

[code]

What I needed to do is just `require('jquery')` after the window loaded. Thanks @zcbenz, you have enlightened me.

[2017-02-20 08:23] simongregory commented on #2085
@shinriyo I can play Netflix content ok with Widevine plugin version 1.4.8.903 in Electron v1.6.0 beta. Which version of Electron are you using? It may be that your version of Electron/Chromium isn't close enough version wise to latest Widevine plugin.

[2017-02-20 10:12] loreberti89 opened #8719 "electron App doesn't work at startup windows"
I have developed a small desktop app with electron.
I have put the link of .exe file in startup windows folder , because my app should start at start of windows. My problem is that when windows starts, the app starts but it remains with white screen with no log console, no error, nothing, only white screen, so I can't debug or know Why app not work, but if I disconnected my user in windows and rec

[2017-02-20 10:14] MarshallOfSound commented on #8719
@loreberti89 Sounds like at startup your computer hasn't connected to the internet yet, and your app simply failed to load a page.  Does that sound possible?

[2017-02-20 10:19] loreberti89 commented on #8719
@MarshallOfSound thankyou, I thought about it, but I tried to unplug the ethernet cable and restart the app, but i start and return error connection, if it was a connection problem, It should behave in the usual way if I unplug the cable

[2017-02-20 13:57] marcatec opened #8720 "DataTransfer.files in dragenter event with http protocol"
I would like to implement drag and drop into our application.
For security reasons the Filelist in event.dataTransfer.files is only exposed for a drop event.
As a feature request it would be useful, if one could get the file info from dragenter and know what file is being dragged into the window.

I tried to set the sandbox option to false, but it didn't change the behaviour.

[2017-02-20 15:33] loreberti89 opened #8721 "Make async Call in main.js"
Hello, I need to do a async Call in main.js,
I tried with `require('request');` but the problem is that I need to start App at startup of Windows, and with `require('request');` the app remains in white screen.
So I thought to do async call with jQuery, with $.ajax, but my problem, is that after:
`mainwindow.$ = mainwindow.jQuery = require('jquery');`

[code]

it return error:

`$.ajax is not a fu

[2017-02-20 15:47] dperetti commented on #6100
I'm experiencing this in 1.4.15 :-(

[2017-02-20 16:57] zhbzhbzhbz opened #8722 "the adaptive formula to calculate zoomfactor to make Html look the same on diverse device"
On different device(different length-width ratio, different resolution, such as Mac/Windows Laptop), the display effect of a HTML page will be different.
Under the circumstance of using Bootstrap(adaptive width), I have developed a formula to calculate the accurate zoomFactor in order to make the page look fully the same.
In any JS file in render process, We could use the code below (these code ca

[2017-02-20 17:11] drw158 commented on #1486
Why was this closed? Has the issue been fixed?

[2017-02-20 18:40] CaliLuke commented on #7815
I can confirm the problem exists and it's pretty serious, slack is nearly unusable.

[2017-02-20 19:10] baconface commented on #8711
A trick I do. I put this in the beginning  of my JavaScript:
[code]

I then load in all my other JavaScript normally. This way I can load the same code base in a regular browser. If I have any additional Node context code I do a check of the useragent to see if it has an `indexOf` of `Electron`.

This is especially nifty if you are porting already complete web apps to Electron and you want `nodeIn

[2017-02-20 19:27] groundwater commented on #8719
Hi @loreberti89, thanks for your report.

Unfortunately it will be tough to track down the error if we cannot reproduce it. Are you able to share your application, and steps to reproduce the error?

[2017-02-20 19:29] nikola commented on #8708
@Spazer9 Are you using an Intel IGPU on that machine? There are quite a few Intel-iGPU-related rendering bugs in Chrome, depending on iGPU model, GPU driver and Chromium build.

[2017-02-20 19:31] groundwater commented on #8720
Hi @marcatec, thanks for your feedback.

We definitely use feature requests to prioritize upcoming work. If you can share more about your application, and what it's trying to accomplish that helps justify the work. No promises, but every bit of information helps.

Alternatively, we do accept community pull requests. For significant changes, we first like to discuss the proposed idea in the open, a

[2017-02-20 19:36] groundwater commented on #8721
Hi @loreberti89. I would like to direct you towards a better spot for electron support.

- [discuss.atom.io](http://discuss.atom.io/)
- sign up for the [community slack](https://discuss.atom.io/t/join-us-on-slack/16638) and check out the `#electron` room

[2017-02-20 19:36] #8721 closed

[2017-02-20 19:38] groundwater commented on #8722
Hi @zhbzhbzhbz. Thank you for this.

We can look at adding this to the appropriate documentation.

[2017-02-20 19:48] groundwater commented on #8692
Sounds good @johnryan. You can also try the Electron section of discuss.atom.io for support. We're still figuring out what the best approach for community support it.

For what it's worth, I use the exact same method with my electron apps.

[2017-02-20 19:48] #8692 closed

[2017-02-20 19:51] groundwater commented on #8670
Hey @johanneskrtek I would like to bisect where this error might be coming from. Can you reproduce this on another machine besides yours? Please use the same external monitor if possible.

[2017-02-20 20:00] groundwater commented on #8577
Hey @zeke I think this might be a support request, but perhaps we can quickly check if it's a bug/bad-docs with the menu API?

@willin for support, we recommend asking in [discuss.atom.io](http://discuss.atom.io/). If you find a bug, or have a new feature request, you can discuss that here.

[2017-02-20 20:00] Kagami commented on #7977
@yishn it works for me on Sierra.

[2017-02-20 20:07] johanneskrtek commented on #8670
Update: the SVG rendering issue (and the dev tools selection tool issue) only occurs when I start the app with `npm start` or Electron with `$(npm bin)/electron`. It does not occur in the dev build of the app I am working on.

`process.versions` shows identical versions for development mode and dev build.

I will try to reproduce the issue on another machine and keep you up to date.

[2017-02-20 20:16] 10tion commented on #8455
Have this problem on plasma 5.9.2, manjaro, too. Full cpu usage and cannot operate on all electron apps: messenger, vscode, atom.

[2017-02-20 20:20] ademcan opened #8723 "How to create a second BrowserWindow without seeing again the main BrowserWindow in foreground ?"
Dear Electron community,
I am developing a new app based on Electron and I need some advices in a particular problem.
I want to use two BrowserWindow(s) (main and action).
I want to create a new BrowserWindow (action) with a globalShortcut, and be able to close that new BrowserWindow (action) with the Esc command (another globalShortcut). So far, it works well for the first call of the action Brow

[2017-02-20 21:34] baconface commented on #8723
Please close this and repost it on https://discuss.atom.io/c/electron

This issue manager is meant for bugs and not how-to do X discussion. Thanks.

[2017-02-20 21:39] alexstrat commented on #1276
How did you guys manage to make this work when you don't have control on how the `dragstart` event is handled. I mean, I load external content in the webview and I don't have control on `dragstart` event listener to `event.dataTransfer.setData("text", ...);`.

For instance how would you make http://www.html5rocks.com/en/tutorials/dnd/basics/ work when loaded in a webview?

[2017-02-20 21:58] ChALkeR commented on #8455
@kevinsawicki Perhaps this part: [global_menu_bar_x11.cc#L310-L316](https://github.com/electron/electron/blob/master/atom/browser/ui/views/global_menu_bar_x11.cc#L310-L316) shouldn't be run if the submenu wasn't changed.

I'm not familar with that code, but a straighforward hack would be to serialize `model` somehow, add the used serialized version (or it's id) as a property to `item`, and abort u

[2017-02-20 22:03] ademcan commented on #8723
Thanks, I'll do that.

[2017-02-20 22:03] #8723 closed

[2017-02-20 22:50] j-peterson commented on #5107
FYI to those here via google: you get the same error if the file doesn't exist. I forgot to tell electron-packager to copy the target file into the app. Learn from my stupid mistakes :)

[2017-02-21 00:42] louisameline commented on #611
I wrote a workaround for this, not ideal but it's enough for my use case. See how the window mouseleave is detected, even when leaving the app-region top bar:

![fix](https://cloud.githubusercontent.com/assets/371814/23146371/811b8eaa-f7d6-11e6-96f4-2c40c1ef2d4d.gif)

The code is here: https://gist.github.com/louisameline/1213bb112c6cb12a98b2ab525dfb8b07

[2017-02-21 01:07] mangopearapples commented on #611
Nice one! Perhaps you could prevent the events triggering while a window is overlaying it by checking for focus?

[2017-02-21 01:29] louisameline commented on #611
I thought about that but then a blurred window wouldn't react to mouse hovering, even if there were no windows on top of it. That's not the usual behavior and I'm not sure it would be better.

[2017-02-21 01:47] louisameline commented on #611
When I say the window wouldn't react, I'm actually thinking about my app-region titlebar, which wouldn't reappear because it can't catch mouse moves and needs coordinates calculations instead. But you're probably right, with appropriate modifications on this bar it may work as expected.

[2017-02-21 05:28] mralext20 commented on #5267
issue will also occur on a single screen with the windows task bar on the right or left edge of the screen.

[2017-02-21 07:18] groundwater commented on #8458
Hi @pupca, this sounds interesting. It's more likely to get prioritized if we have a bit more information. I think I understand, but perhaps you could describe your use case, and imagined API. Any supporting reference docs from MacOS would be worth linking if you have them.

[2017-02-21 07:25] groundwater commented on #8479
Hi @yggie. Can you update your repro case with @dkfiresky's suggestion and confirm you're still experiencing the same issue?

[2017-02-21 07:27] groundwater commented on #8476
Just to chime in, even if this should be filed in https://github.com/electron/asar I think we should track it here until it's fixed.

[2017-02-21 07:33] groundwater commented on #8397
Hi @DracotMolver. I tried this on Windows and it's near-instant. Do you know if Firefox is booted as a child process to Chromium? `$ pstree` should show you.

[2017-02-21 07:33] Jerret321 commented on #8466
the modules dir include install.js, run and install it, the path.txt is written. It works

[2017-02-21 07:37] groundwater commented on #8411
Hey @wraithan! Sorry for the delay. I'm working my way through the backlog.

Can you reproduce this in the latest stable `1.4.15` and/or our beta `1.6.0`?

[2017-02-21 07:41] brandondtran commented on #8466
I figured out my problem.  I had JavaScript errors in my Angular 2 components.  For some reason if you have errors in your JavaScript, it'll just give you this electron installed incorrectly error.

[2017-02-21 08:38] loreberti89 commented on #8719
Hello @groundwater  thankyou, I will try to write a snippet for understand.

In **main.js**  I have  these require
[code]

Maybe are too many? I don't know but the problem is when I try to do a async Call in main.js because if I comment the async call the app start correctly. My async call is like this:

[code]

[2017-02-21 09:18] nuthinking commented on #6599
Same issue here: Electron 1.6, Chrome 56, and Windows 10 (1607).

Recorded videos on Windows using chromeMediaSource: "desktop" are black.

When using chromeMediaSource: "screen" on the same Windows 10 machine, the videos are recorded but the content is offset by a couple of dozen pixels to the right despite the window is fullscreen. I tried the other DisplayCaptureSurfaceType but they don't provi

[2017-02-21 09:38] vhopinto86 opened #8725 "Click events not working properly on touch screen devices"
* Electron version: 1.6.0
* Operating system: Windows 7, 8 and 10

Hello,

I have a web application that in some scenarios needs to send and receive data to user peripherals through serial port.

For this scenario i created an Electron application that hosts my web application and does the communication between the peripherals and the web app.

Everything works great except on touch screen devices

[2017-02-21 09:40] MarshallOfSound commented on #8725
@vhopinto86 Do you happen to know if this issue occurs on the latest stable release, `1.4.15`?

[2017-02-21 09:45] vhopinto86 commented on #8725
@MarshallOfSound I don't know, but i will try now.

[2017-02-21 09:46] MarshallOfSound commented on #8719
Hmm, I keep coming back to it being something to do with the network not being initialized during bootup.  Can you try commenting subsections out to isolate the exact call that causes the crash.  Or what might be easier is adding a script like this to your startup directory.

[code]

That should launch a CMD prompt on logic and execute those commands allowing you to see any errors that may be bein

[2017-02-21 09:55] vhopinto86 commented on #8725
@MarshallOfSound I just tried and this issue also accurs on the last stable release.

[2017-02-21 09:57] vhopinto86 commented on #8725
@MarshallOfSound I just tried and this issue also occurs on the last stable release.

[2017-02-21 09:59] TimvdEijnden commented on #8725
We've also had this issue with a webview containing a flash element.

[2017-02-21 10:18] danielsun174 commented on #1827
You should also try [RxDB](https://github.com/pubkey/rxdb) which is based on the previous mentioned pouchdb.

[2017-02-21 10:43] louisameline commented on #611
I have enabled the check for the focused window by default, but you can disable it by setting `regionAppOptimized = true`. Most of the time, app regions will fail to respond if you don't set to true:

![fix](https://cloud.githubusercontent.com/assets/371814/23161350/16fb2892-f82a-11e6-97e8-58d9afe01445.gif)

I thought it would be smart to apply a `-webkit-app-region: drag` property on the titlebar

[2017-02-21 11:10] loreberti89 commented on #8719
@MarshallOfSound  I have resolved!
It's probably, as you say, a problem with connection initialize.
So I have used a IPC module for make a request in a moment when I am enough secure that the connection is established.
Thankyou for your help!

[2017-02-21 11:19] nuthinking opened #8726 "desktopCapturer on Windows 10 records video of screen with offset"
* Electron version: 1.6
* Operating system: Windows 10 (build 1607)

### Expected behavior

The screen should be captured as it looks.

### Actual behavior

The video is recorded with an offset and the right side of the screen loops on the left side.

![screen shot 2017-02-21 at 11 12 18](https://cloud.githubusercontent.com/assets/163635/23162647/06cb1cfa-f827-11e6-89c8-84f40b9876c5.png)

Captured

[2017-02-21 11:28] nuthinking commented on #8726
(I also tested getUserMedia native API in Chrome on that specific Windows device and got no issue)

[2017-02-21 11:47] KagamiChan commented on #8725
@TimvdEijnden not knowing if your issue is the same as above, but here's a workaround we're using for a webview flash element not responding to touch events:
[code]
it will "translate" touch events into input ones, but however causes inifinit loops when using simulated touch

[2017-02-21 12:15] juliangruber opened #8727 "child_process.fork and native modules"
* Electron version: 1.4.14
* Operating system: macOS Sierra

### Expected behavior

When I fork a process, the process should be able to require native modules compiled for the main electron process and also used by it.

### Actual behavior

Because of ELECTRON_RUN_AS_NODE (if that's the name), the forked process thinks it's node and therefore can't find the appropriate native module binary.

Exam

[2017-02-21 12:16] juliangruber commented on #8727
BTW, the application in question depending on this is https://github.com/datproject/dat-desktop

[2017-02-21 14:04] sindresorhus commented on #8727
Yes, in https://github.com/electron/electron/issues/6656.

[2017-02-21 14:05] JoelSutherland commented on #5429
It should probably be reopened -- the latest Chromium now works great across split dpi monitors.

[2017-02-21 14:50] vhopinto86 commented on #8725
The code that @TimvdEijnden posted doesn't work in my case.

[2017-02-21 15:32] deepak1556 commented on #8625
@nitsakh @Riyuzakii thanks for your interest! looks like there is already a PR addressing this issue. You can try out other `help/beginner` labeled issues. Thanks!

[2017-02-21 15:58] yggie commented on #8479
@groundwater the repo has been updated to remove `prestart` as suggested by @dkfiresky. The issue still exists for me, running either `npm start` or `./node_modules/.bin/electron .` causes electron to hang.

[2017-02-21 16:43] dkfiresky commented on #8479
I can confirm that electron process hangs on requiring the `define-properties` module.

When I start digging, I found that It's caused by one of dependencies called `object-keys`.
But then I tried to log the `window` object inside the Developer Tools console and the process freeze.

Electron was executed within the `tmux` session.

[2017-02-21 16:45] kevinsawicki commented on #8714
Fixed in #8717

[2017-02-21 16:45] #8714 closed

[2017-02-21 17:43] adi518 opened #8728 "Frameless maximize overflow"
* Electron version: 1.4.15
* Operating system: Windows 10

### Actual behavior

Height is oversized by exactly 8px consistently (taskbar is set to small icons).

![Alt](https://raw.githubusercontent.com/adi518/electron-frameless-maximize-test/master/issue.jpg)

### How to reproduce

https://github.com/adi518/electron-frameless-maximize-test

[2017-02-21 18:11] kevinsawicki commented on #8517
@andrej2704 are you able to reproduce this with Electron 1.6.0 as well?

[2017-02-21 18:17] miniak commented on #8517
@kevinsawicki seems to have been fixed by the GPU drivers being updated recently by Lenovo.

[2017-02-21 18:18] kevinsawicki commented on #8517
@miniak awesome to hear, thanks for the update, do you think it okay to close this out then?

[2017-02-21 18:28] kevinsawicki commented on #8603
Are you reloading your app in an open window when this happens or does it sometimes happen on first launch?

Are you able to provide the `.mp3` you are having issues with?

[2017-02-21 18:31] Zamiell commented on #8603
Sure.

[go.zip](https://github.com/electron/electron/files/791103/go.zip)

[2017-02-21 18:33] Zamiell commented on #8603
Am I reloading the app in an open window? Yes, I do that pretty often during development, since there's no need to kill the entire thing when I'm tweaking renderer-side JavaScript.

I'm not 100% sure if it happens on first launch, but I'll do a bit of testing and get back to you.

[2017-02-21 18:47] andrej2704 commented on #8517
@kevinsawicky, I'll double check tomorrow

[2017-02-21 19:11] kevinsawicki commented on #8713
@kirkouimet I believe `Shift` can only be sent as a `keyDown` or `keyUp` event via `sendInputEvent`, similar to how `keypress` does not trigger for just a `Shift` key press, but `keydown` and `keyup` do.

Is there a reason you are trying to send a `Shift` via `char` instead of `keyDown` or `keyUp`?

[2017-02-21 19:12] akashnimare commented on #6533
@bengotow Is there any way we can implement this on Windows (specially on 7) since desktop notifications don't work there?

[2017-02-21 19:28] kevinsawicki commented on #8706
@salmazov having trouble reproducing this on Windows 10.

Does your page have any content? I had to tweak your example a bit to make the `<body>` the size of the window so it was draggable.

[code]

[2017-02-21 21:41] demian85 opened #8729 "About beta releases"
Hi, you may know me from previous bugs, like https://github.com/electron/libchromiumcontent/issues/253 and #8325

I've been told by a guy from Chromium project that the fix I'm looking for has been released in Chrome 58 (currently beta)
I'm seeking for any kind of help that would allow me to build my own version of Electron based on Chrome 58 and continue working on my project (it's my job and it'

[2017-02-21 21:51] demian85 commented on #8726
Did you test on latest Chrome Canary?

[2017-02-21 22:40] kevinsawicki commented on #8455
But what if there are updates each time? Electron allows dynamic labels and say an application wants menu label that shows the time in it or some other changing/dynamic value.

If `about-to-show` generates a `layout-updated` which then generates another `about-to-show` signal then it seems like there would be no way to support this without looping infinitely.

[2017-02-21 22:47] kevinsawicki commented on #8661
@ioncodes having a little trouble reproducing this on Windows 10:

Here is the full app I use:

[code]

I see `quitting` logged out when I right click on the taskbar and run the `Quit` menu item.

Can you try this app or provide a more complete example including the `.ico` file being used? Thanks.

[2017-02-21 22:48] kevinsawicki commented on #8589
Great thanks for the updates, closing this out 👍

[2017-02-21 22:48] #8589 closed

[2017-02-21 22:49] kevinsawicki commented on #8552
@Stan92 are you able to try this out using Electron 1.6.1 which has the Chrome 56 upgrade in it?

[2017-02-21 22:57] Zamiell commented on #8603
It DOES appear to be happening on a first launch.

(Probably important addendum: To confirm this, I was testing on a 2nd copy of the app - I have two copies of my application open at the same time for testing purposes. However, it is possible for the bug to appear while only using 1 copy of the app.

I'm not sure if having multiple copies of the app trying to play the same sound at the same time i

[2017-02-21 22:58] Stan92 commented on #8552
Not yet tested :-(
If you did or will test it let me know if it works

Stan

Le 21 f?vr. 2017 ? 17:50, Kevin Sawicki <notifications@github.com<mailto:notifications@github.com>> a ?crit :

@Stan92<https://github.com/Stan92> are you able to try this out using Electron 1.6.1 which has the Chrome 56 upgrade in it?

-
You are receiving this because you were mentioned.
Reply to this email directly, view

[2017-02-21 22:59] Zamiell commented on #8603
Oh, another thing: When testing with 2 copies of the app, the errors only appeared on one copy, and not the other one.

[2017-02-21 23:02] Zamiell commented on #8603
Yet another thing. I'm using the following code snippet to play sounds:

[code]

The failure message is NEVER played when the error occurs, so the try/catch block here appears to be completely useless. The try/catch block should catch the error right? Not sure if this is a separate bug, or related?

[2017-02-21 23:22] Zamiell commented on #8603
Another thing: In the OP, I said that it tries for "around 12 errors", but the amount of errors appears to be random. I just got it 21 times before it decided to give up.

[2017-02-21 23:47] paulcbetts commented on #8729
Trying to keep up with beta releases of Chrome is a massive amount of work, it is not at all as straightforward as bumping a version number. Tracking release versions of Chrome is already a daunting task.

[2017-02-21 23:47] #8729 closed

[2017-02-21 23:49] kevinsawicki commented on #8729
You may want to check out https://github.com/electron/electron/blob/master/docs/development/upgrading-chrome.md for a high-level overview if you want to try upgrading now to 58 and see what happens.

[2017-02-22 00:14] kevinsawicki commented on #8603
@Zamiell can you try this out in Electron 1.6.1, I'm seeing an error get logged after lots of reloads but it is different than the one you reported.

[code]

<img width="795" alt="screen shot 2017-02-21 at 4 11 29 pm" src="https://cloud.githubusercontent.com/assets/671378/23191118/bba1ff8a-f850-11e6-8a4a-07e549a1122f.png">

[2017-02-22 00:20] ChALkeR commented on #8455
@kevinsawicki

What exact updates? To me it looks like electron doesn't check if the current contents of the menu are the same as the contents it wants to set when handling `about-to-show` signal, and emits `layout-updated` even if there were no actual changes in the menu model, by deleting and re-populating the submenu children.

See testcase in https://github.com/electron/electron/issues/8455#is

[2017-02-22 00:29] groundwater commented on #8719
Sounds like this is solved. Going to close it.

[2017-02-22 00:29] #8719 closed

[2017-02-22 00:31] groundwater commented on #8479
Thanks for the work @yggie and @dkfiresky. Will take a look.

If you get the chance, trying this on the current `1.6.0` beta would be great `npm i electron@beta`.

[2017-02-22 00:37] groundwater commented on #8726
Hi @nuthinking thanks for the report. Are you able to verify if this works in the current stable release `1.4.15`?

[2017-02-22 00:38] kevinsawicki commented on #8455
The updates to the menu from the application. Properties like `enabled` are dynamic and can be changed at any time so it would be possible for Electron to have a different menu each time `about-to-show` is fired.

Yeah, I can definitely reproduce this, just trying to figure out the best fix.

[2017-02-22 00:50] groundwater commented on #8727
Hi @juliangruber!

Sounds like there are a few things going on here. I wanted to weigh in before our team reviews it in more detail.

1. Sounds like `node-gyp-build` is just looking in the wrong place because `runtime` is wrong, but this doesn't mean electron can't help.
2. Judging by @sindresorhus's link to #6656, this sounds like a feature add. It looks like the issue was previously closed, but

[2017-02-22 00:51] kevinsawicki commented on #8420
@aredfox can you include the full set of arguments you are providing to the `BrowserWindow` constructor? Or a small reproduction app that is a fork of https://github.com/electron/electron-quick-start

[2017-02-22 00:53] groundwater commented on #8728
Hey @adi518. I'd like to help this issue get prioritized. Can you fill out a few more details about what's going wrong and how exactly to reproduce it?

[2017-02-22 00:55] kevinsawicki commented on #8727
@juliangruber just to confirm, if you require the `.node` file directly from the forked process it does load correctly?

[2017-02-22 01:06] adi518 commented on #8728
All I did is set `frame` to `false` and hit maximize to test it. It's easily reproduced in my repo, which also has the devtools enabled.

[2017-02-22 01:07] quanglam2807 commented on #3471
@sokcuri It works!! Thank you so much!

[2017-02-22 01:22] demian85 commented on #8729
Thanks. Will check that.
Why do you say keeping up to date with beta Chrome releases is a massive
amount of work? Which is the difference between staying up to date with
stable chrome versions? You will have to upgrade sooner or later...

On Tue, Feb 21, 2017, 20:50 Kevin Sawicki <notifications@github.com> wrote:

[2017-02-22 05:48] sujkh85 opened #8730 "Frameless Electron App not work css cursor:pointer"
* Electron version:1.4.14
* Operating system: mac v10.12.3

### Expected behavior

setting  BrowserWindow options frame false

browser Top frame zone

There is an invisible window

i want work css cursor:pointer

my option code

	mainWindow = new BrowserWindow({
            show: false,
            frame: false,// look
            title: "",
            useContentSize: false,
            width: ma

[2017-02-22 06:24] groundwater commented on #8730
Hi @sujkh85.

Can you show me a link to your code?
Or, please include an example. Thank you.

[2017-02-22 06:26] groundwater commented on #8728
Hi @adi518. This is a large repo. Can you provide a minimal reproduction case? Thank you.

[2017-02-22 06:55] sujkh85 commented on #8730
Hi @groundwater

i sorry  i am not good at English

Please acknowledge it beforehand.

electron app is an invisible frame at the top.

example

     <!DOCTYPE html>
     <head></head>
     <body>
         <div style='cursor:pointer'>look at me1</div>
         <div style='cursor:pointer'>look at me2</div>
     </body>

cursor pointer area is not applied on look at me1

but

	mainWindow = new Browse

[2017-02-22 07:14] groundwater commented on #8730
Thank you!

You can write in any language. We will translate it to English.

I will explain the next steps:

1. We will review your issue. Please wait 7-days.
2. If there is a bug, we can try to fix it. Sometimes we cannot.
3. If you can help fix the bug, we accept pull-requests, and will help you.

[2017-02-22 08:49] ellis commented on #360
@metjeanjunior Thanks for the suggestion!  Unfortunately, it's not working for me.  I'm using electron 1.4.15 and awesomplete 1.1.1.  I copied the exact code you showed, and verified in the developer console that the awesomplete CSS and JS files are properly loaded, and the INPUT tag appears to be modified by awesomplete.  Still, no autocomplete.  Which versions are you running?

[2017-02-22 09:18] marcatec commented on #8720
Hello @groundwater, I further investigated my case, and am not sure any more if it's a real feature request.

What we want is similar to a feature in the app Svgsus, made with Electron.
They transform svg files via drag and drop, without dropping.
It can be seen in their video at time 0:17. http://www.svgs.us/images/svgsus_developer_video_web.mp4

My conclusion is, that is only possible loading th

[2017-02-22 09:59] alexlee85 commented on #6599
same problem here:  electron 1.4.14

[2017-02-22 10:02] yggie commented on #8479
unfortunately electron `1.6.0` still has this issue… I have updated the repo to reflect that

[2017-02-22 10:03] dkfiresky commented on #8479
@groundwater I was able to reproduce the issue on these versions:
 - 1.6.1
 - 1.6.0
 - 1.5.1
 - 1.5.0
 - 1.4.15
 - 1.4.14 (was unable to install)

[2017-02-22 10:42] nuthinking commented on #8726
@groundwater yes, bug present also with `1.4.15` I am using Chrome `56.0.2924.87 (64-bit)`. Didn't test with Canary. If someone has some tips on how to easily do it (without messing with the machine), I am happy to do so (cc. @demian85)

[2017-02-22 11:13] BenjiBauer commented on #7815
Hey, I got the same problem. I'm building an app with electron and I am using the myScript API for handwriting recognition. There are no problems with Myscript and my wacom Intous on other browsers or chrome itself. There is only a lag when i am using it with electron. Click and writing is possible but you have to rest the pen for maybe 100-500 Milliseconds on the same spot before you start writin

[2017-02-22 11:24] pronebird opened #8732 "Optimize memory footprint"
* Electron version: 1.6.0
* Operating system: macOS

Hi,

Currently when I run the Electron app it spawns around 4 helper processes which in total eat up to 100M of memory. Is there any setting or option to minimize memory footprint and inspect essentially *why* it needs 4 extra processes. I have a very tiny app and I don't use any plugins, no flash nothing, and I'd like to have 1 helper process f

[2017-02-22 11:31] juliangruber commented on #8727
correct, some other native module libraries do work with fork as they don't care about the process runtime variable.

I need those for cpu heavy background tasks that need to run in containers. In our app, you might replicate a 80gb archive and a few others at the same time, and handling that much data in JavaScript takes its toll on the CPU. We want it to run in a container so

1) the UI stays re

[2017-02-22 11:33] juliangruber commented on #8727
Still, it would be great to be able to use fork for this, as there's a lot less orchestration to fork a process and it might be more resource efficient than creating a new hidden window.

[2017-02-22 11:46] dogancelik commented on #8637
You can produce this with/without *component/tray* so this is a BrowserWindow bug, not tray 😕

[2017-02-22 12:03] adi518 commented on #8728
Sure, I'll get ya something.

[2017-02-22 12:26] MarshallOfSound commented on #8732
@pronebird Each renderer is launched as a separate process.  This means that

[code]

If this is not the case in your app can you provide an example which has the same situation.  If this is the case then the situation is totally expected 👍

[2017-02-22 14:08] pronebird commented on #8732
@MarshallOfSound thanks!

I have single window and menubar icon when running in production mode (no devtools open). I get 1 + 4 processes up and running. I killed two of helper processes with the lowest memory usage and every seems to be working. Not sure what causes this. With dev tools open I have 1 + 5 processes. Maybe react-router causes this... not sure.

[2017-02-22 14:12] pronebird commented on #8732
I just ran Electron itself and default welcome page spins off the same 1+4 processes.

<img width="1301" alt="screenshot 2017-02-22 14 12 01" src="https://cloud.githubusercontent.com/assets/704044/23215059/f1b3b3c6-f908-11e6-9734-9795194e3296.png">

[2017-02-22 14:39] Zamiell commented on #8603
I upgraded to 1.6.1 yesterday but I haven't been able to reproduce the error yet. I'll keep trying and report back if I can get it to happen.

[2017-02-22 15:11] tiemevanveen commented on #8725
We're facing the same issue, it's the last blocking issue before we can release the app we've migrated to electron.

In our case, we've got a webview in the main webview. After a sign out users are not able to interact with the login form any more. Inspecting the executed javscript with a timeline shows no activity at all. The touches are being registered, but the event handlers on the form elemen

[2017-02-22 15:18] atilacamurca commented on #8375
I have the same issue when I was trying to run 2 node services through pm2. I even try to use other tool ([forever-monitor](https://github.com/foreverjs/forever-monitor)) but the result is the same, the electron app keeps respawning itself until the system crashes.

I hope to see a workaround to this.

[2017-02-22 15:18] TanninOne commented on #8732
It's the same on Windows. Even a minimal electron application spawns 5 processes:
1x main
1x gpu-process
3x renderer

Two of these renderer processes appear to be useless, I have killed them and seen no problem with the application.

[2017-02-22 16:01] demian85 commented on #8726
In this cases, you will need to test on latest Chrome Canary to verify bug is not related to Electron.

Attaching a demo used for other reported issue #8278 & https://bugs.chromium.org/p/chromium/issues/detail?id=688490

Add as extension and try to record/play. Then see what you get.
[chrome-recorder.zip](https://github.com/electron/electron/files/794037/chrome-recorder.zip)

Also, please search f

[2017-02-22 16:14] kevinsawicki commented on #8727
You should be able to use `fork` for this if the check here: https://github.com/mafintosh/node-gyp-build/blob/282b044d2ae115b5f094c3a6417f4425da804442/index.js#L49-L52 accommodated the `ELECTRON_RUN_AS_NODE` env var, or supported some other explicit configuration that you could set in `child.js` before requiring anything.

Would that solution work for you?

[2017-02-22 16:19] kevinsawicki commented on #8713
Closing this out, just to clarify, you can send in shifted characters by using capitalized key codes such as `webContents.sendInputEvent({type:'char', keyCode:'A'})` but `Shift` alone cannot be sent as a `char` event.

[2017-02-22 16:19] #8713 closed

[2017-02-22 16:21] kevinsawicki commented on #8690
@codekiln can you check for a folder named ` MacOSX.sdk` in `/Library/Developer/CommandLineTools`?

[2017-02-22 16:24] kirkouimet commented on #8713
Thanks @kevinsawicki!

[2017-02-22 16:34] codekiln commented on #8690
It's not there:

$ ls /Library/Developer/CommandLineTools
Library usr

On Wed, Feb 22, 2017 at 11:22 AM, Kevin Sawicki <notifications@github.com>
wrote:

[2017-02-22 16:45] kevinsawicki commented on #8690
@codekiln can you run `xcodebuild -showsdks`?

[2017-02-22 16:53] kevinsawicki commented on #8599
Here is the stack trace with more symbols:

[code]

[2017-02-22 16:57] kevinsawicki commented on #8599
This also happens on Windows as well.

[2017-02-22 16:59] kevinsawicki commented on #8599
@gerhardberger @brenca any ideas on this one?

[2017-02-22 17:13] nuthinking commented on #8726
@demian85 can't make that extension to work either in Canary or stable Chrome.

[2017-02-22 17:21] demian85 commented on #8726
Can you be more specific? ...

[2017-02-22 17:25] nuthinking commented on #8726
@demian85 I installed the extension in developer mode as unpacked extension but the UI element of the extension seems disabled and doesn't allow me to initiate the recording. I can access its menu though. I just put the Window machine away, I can only send you screenshots tomorrow.

[2017-02-22 17:27] zeke commented on #8594
I'm not able to reproduce this problem on Windows 10 with Electron 1.4.15.

Can you try [this branch](https://github.com/zeke/electron-quick-start/commits/issue-8594) and see if the problem exists there?

[code]

[2017-02-22 17:29] zeke commented on #8597
Any luck getting it working, @pronebird?

[2017-02-22 17:37] atilacamurca commented on #6828
Can you test put your async code inside the listener `did-finish-load`:

[code]

Reference: <http://electron.atom.io/docs/api/web-contents/#contentssendchannel-arg1-arg2->

[2017-02-22 17:45] kevinsawicki commented on #8573
I believe this is a limitation of the macOS API being used.

Electron uses a [NSAlert](https://developer.apple.com/reference/appkit/nsalert?language=objc) and the docs state:

https://developer.apple.com/reference/appkit/nsalert/1532992-buttons?language=objc

So I'm going to close this out since this is the expected behavior for a message box on macOS.

Using a modal `BrowserWindow` could be an op

[2017-02-22 17:45] pronebird commented on #8597
@zeke I moved tray creation in main process. I haven't tried passing it to renderer via IPC since I changed my mind about having popup menu in tray, but as @MarshallOfSound mentioned it's possible to pass tray object via IPC.

I haven't tried but something like that should work:

[code]

Closing this since there is not much can be done about when and how GC collects garbage.

[2017-02-22 17:45] #8597 closed

[2017-02-22 17:47] kevinsawicki commented on #8725
I can reproduce this on the Windows Simulator inside a Parallels Window 10 VM. @vhopinto86 are you seeing this issue only in the simulator or on an actual device as well?

[2017-02-22 17:49] zeke commented on #8677
I'm not able to reproduce this problem on Windows 10 with Electron 1.4.15.

One possible reason might be that your `authWindow` is not created in the global scope, so it's getting garbage collected. But in that case you'd probably see an error, so I'm not sure.

Can you try [this branch](https://github.com/zeke/electron-quick-start/commits/issue-8677) and see if the problem exists there?

[code]

[2017-02-22 17:53] jwheare commented on #8573
Does NSAlert really prevent you from overriding the Escape key behaviour? I'm curious how Chrome manages to make Esc work to dismiss the "Do you want to leave the site" dialog then when the cancel button is labeled "Stay"

![screen shot 2017-02-22 at 17 52 01](https://cloud.githubusercontent.com/assets/49224/23224836/bbf670d8-f927-11e6-9826-7f4b10836e87.png)

[2017-02-22 17:54] vhopinto86 commented on #8725
@kevinsawicki yes, i'm getting this issue on actual devices as well, a touch screen pc and a tablet.

[2017-02-22 17:57] jwheare commented on #8573
Isn't that exactly what `keyEquivalent` is for? As mentioned in the next sentence in the docs you linked:

[2017-02-22 18:00] kevinsawicki commented on #8573
Yup, you are right, thanks for digging into this further 👍

[2017-02-22 18:08] zeke commented on #8689
Awesome that you were able to work around the problem. 👍

However this still seems like something that should be fixed in Electron. To recap, I think the fundamental issue here is that the `blur` event is not triggered on the BrowserWindow instance when _other_ tray/menubar items are clicked.

[2017-02-22 18:12] pronebird commented on #8689
@zeke I don't think it's a bug. If you have macOS handy open Finder and click on Dropbox icon in menubar which will display popover leaving Finder window active.

[2017-02-22 18:17] gerhardberger commented on #8599
could you provide a sample code that reproduces this issue?

also, I'm not sure, but it looks like you are trying to offscreen render a `<webview>` element, which probably is created as a child window (based on the more detailed log) which is not supported currently by offscreen rendering.

[2017-02-22 18:20] kevinsawicki commented on #8599
### index.js

[code]

### index.html

[code]

[2017-02-22 18:25] gerhardberger commented on #8599
it works fine on macOS, @brenca will check it out on Windows soon!

[2017-02-22 18:26] kevinsawicki commented on #8599
Yeah, I only see the crash on Linux and Windows.

[2017-02-22 19:08] CharlieHess commented on #8685
@groundwater yeah it seems to be Windows only. And @inukshuk is correct; previously our tests were failing because they forgot to close some hidden `BrowserWindow`s but after going through all of those it's now just the `net.request` left.

[2017-02-22 19:40] codekiln commented on #8690
This is an interesting result considering I actually do have Xcode ...

$ xcodebuild -showsdks
xcode-select: error: tool 'xcodebuild' requires Xcode, but active developer
directory '/Library/Developer/CommandLineTools' is a command line tools
instance

On Wed, Feb 22, 2017 at 11:45 AM, Kevin Sawicki <notifications@github.com>
wrote:

[2017-02-22 19:41] pronebird opened #8734 "window.show() on current desktop"
MacOS supports multiple desktops. I show window when user taps on tray icon and hide it when user clicks somewhere else. Is there any way to show window on current desktop?

Using `setVisibleOnAllWorkspaces` makes window visible on all desktops but calls to `window.show` still cause switch to the desktop where the window was initially created/displayed.

I know I could re-create window each time,

[2017-02-22 19:44] zeke commented on #8689
The behavior seems to vary based on the clicked app.

Google Drive, CloudUp, ScreeHero: window is blurred
Slack, DropBox, OnePassword: window stays active

[2017-02-22 19:50] kevinsawicki commented on #8690
Yeah, looks like something is missing or misconfigured on your machine, but I still think the error that `script/bootstrap.py` displayed could be more helpful so lets leave this issue open and provide a better error as a fix for this.

[2017-02-22 20:06] kirkouimet opened #8735 "Support base URL option to loadURL for data URLs"
I do a lot of HTML generation just with JavaScript and am finding myself creating `index.html` files that have code that looks like this:

     <!DOCTYPE html><html><head><script src="index.js"></script></head><body></body></html>

It would be nice to be able to do:

     browserWindow.loadHTML('<!DOCTYPE html><html><head><script src="index.js"></script></head><body></body></html>');

It would be

[2017-02-22 20:21] kirkouimet opened #8736 "Running Electron with 'electron index.js' vs. 'electron index.html'"
Is there a difference in how Electron works if I execute `electron index.js` vs. `electron index.html`? There seems to be, I have noticed that if I do `electron index.html` and have an `index.html` file which contains:

    <!DOCTYPE html><html><head><script src="index.js"></script></head><body></body></html>

Then the standard streams for the Electron main process no longer work. However, if I do

[2017-02-22 20:50] #1854 closed

[2017-02-22 20:58] sltam opened #8737 "Not enough information to implement a browser-like beforeunload handler"
* Electron version: 1.4.15
* Operating system: macOS

Multiple user actions can trigger a page to unload, e.g. (1) closing the window/tab, (2) reloading, (3) navigating back/forward in history, or (4) navigating to a different URL.

In browsers, the `beforeunload` event handler can choose to:
(a) ignore the event and proceed to unload, or
(b) prompt user if unload should be cancelled.
    (i) If u

[2017-02-22 20:59] manuth commented on #8100
Same issue occured for me as I tried to connecto to Deezer using their [JavaScript-SDK](developers.deezer.com/sdk/javascript).

Is there any way I can work around it?
Will you guys have some time left for having a look at it in the near future?
That'd be nice 😄

Thanks in advance

[2017-02-22 20:59] yaooluu opened #8738 "__dirname encodes space in path with "%20""
* Electron version: 1.4.15
* Operating system: MacOS El Captain

### Expected behavior

**__dirname** shouldn't encode spaces in path with "20%". For example, I have a directory "/Users/test 1". **__dirname** should print out "/Users/test 1" as it does in pure NodeJS environment.

### Actual behavior

**__dirname** prints "/Users/test%201". This breaks other NodeJS functionalities like fs.existsSy

[2017-02-22 21:09] kevinsawicki commented on #8736
Running `electron index.html` uses this code for the main process since their is no main process file specified: https://github.com/electron/electron/blob/master/default_app/default_app.js

Is your `index.js` meant to be run in the main process or a renderer process?

[2017-02-22 21:11] kevinsawicki commented on #8735
You can load scripts and html directly with `loadURL` by specifying a data URL:

[code]

Does this option not work for you?

[2017-02-22 21:13] kevinsawicki commented on #8690
@codekiln what version of Xcode do you have installed?

[2017-02-22 21:34] atilacamurca commented on #8375
I finally found a solution! :tada:

The pull request #7479 introduces two env variables: `ELECTRON_NO_ASAR` and `ELECTRON_RUN_AS_NODE`.

For fork process use `ELECTRON_NO_ASAR` set to `true`.

Example: <https://github.com/electron/electron/pull/7479/files#diff-5686e6130dcc1145c5340c794b919d3cR759>

For spawn process use both `ELECTRON_NO_ASAR` and `ELECTRON_RUN_AS_NODE` set to `true`.

Example: <h

[2017-02-22 21:37] dkfiresky opened #8740 "Appearance-based vibrancy doesn't work as expected"
* Electron version: 1.6.1, 1.4.15
* Operating system: macOS Sierra 10.12.3 (16D32)

### Expected behavior
Vibrancy appearance should change from light to dark when `Use dark menu bar and Dock` checkbox checked. This can be done while electron application is running or, at least, after a restart.

### Actual behavior
Vibrancy appearance didn't changed immediately nor after application restart.

###

[2017-02-22 21:55] Ben3eeE opened #8741 "Menu Accelerator Changes Depending on Keyboard Layout"
* Electron version: 1.4.15
* Operating system: Windows 10

### Expected behavior

The menu accelerator should stay the same regardless of keyboard layout selected in the os settings.

### Actual behavior

The menu accelerator changes depending on the selected keyboard layout.

### How to reproduce

1. `git clone https://github.com/electron/electron-quick-start `
1. `cd electron-quick-start`
1. `np

[2017-02-22 22:04] MarshallOfSound commented on #8732
/cc @electron/maintainers Am I missing something here?

[2017-02-22 22:07] dkfiresky commented on #8740
Actually it might be macOS issue... as it fails to change the vibrancy:
[code]

[2017-02-22 22:07] #8740 closed

[2017-02-22 22:24] kevinsawicki commented on #8738
@yaooluu are you seeing this in the main process or the renderer process or both? Can you include a reproduction app? Here is what I tried but it seemed to log the `__dirname` without any `%20` characters in the path.

[code]

[code]

And the path on disk that the app is in is `/Users/kevin/github/electron-scratch/with space/`

[2017-02-22 22:45] iffy opened #8743 "webContents.executeJavaScript fails if no callback given"
* Electron version: 1.6.0
* Operating system: macOS

### Expected behavior

I think `webContents.executeJavascript('5+5').then(function(result) { console.log('result', result); })` should log `10` to the console.

### Actual behavior

The promise never fires.

### How to reproduce

[code]

Running the above, I'd expect to see:

[code]

but instead I see:

[code]

### Possible solution

I suspect t

[2017-02-22 22:52] MarshallOfSound commented on #8743
Looks to be a regression caused in https://github.com/electron/electron/commit/8e203592e25db081dc68db086938157d0847f169#diff-940e61f1a69c6bbbeb31968b6fc49d1cR117

[2017-02-22 22:57] kevinsawicki commented on #8743
`undefined != null` evaluates to `false` so I don't think it is trying to to call an `undefined` callback.

[2017-02-22 23:40] raffaeler commented on #4640
I have this problem too with version 1.4.13
I load a native plugin that works smoothly under node.exe in console.
The plugin is then rebuilt against Electron 1.4.13 of course.
The plugin is loaded from an Angular2 component constructor (typescript)

When I start electron under Windbg x64 the app crash with this stack:

[code]

A bit more details:
[code]

And also:
[code]

Any ideas?
Thank you

[2017-02-22 23:52] yaooluu commented on #8738
Hi @kevinsawicki ,

So I've created a sample app with Angular 2 and Electron. Below is what I've observed:

<img width="851" alt="screen shot 2017-02-22 at 3 45 55 pm" src="https://cloud.githubusercontent.com/assets/8813134/23238282/0aac13b6-f916-11e6-9b93-ef45a4203ae4.png">

So looks like in both HTML and JS files, **__dirname** doesn't encode spaces. But in TS file it does. Do you have any idea

[2017-02-22 23:54] kevinsawicki commented on #8738
I don't, how are these files being required? Are they precompiled or compiled on the fly?

[2017-02-23 00:09] zeke commented on #7714
Dusting off this thread. 🌬

Reading back through, there are two basic points we're all mostly agreeing on:

1. Environment variables like `NODE_ENV` and `ELECTRON_ENV` should be set by users, not by Electron.
1. A new `app.isPackaged()` method would be useful.

Implementation-wise, how can one reliably determine whether an app is packaged, regardless of ASAR settings, operating system, etc?

[2017-02-23 00:29] zeke commented on #8411
Heya @wraithan. They're working for me.

![screen shot 2017-02-22 at 4 26 47 pm](https://cloud.githubusercontent.com/assets/2289/23239413/ec73ab42-f91b-11e6-9c49-b176104cde63.png)

Do you by any chance have "Do Not Disturb" enabled?

<img width="780" alt="screen shot 2017-02-22 at 4 28 07 pm" src="https://cloud.githubusercontent.com/assets/2289/23239417/f055982e-f91b-11e6-934e-33c6e472fe16.png">

[2017-02-23 00:46] zeke commented on #8712
Thanks for following up and closing, @tex0l. I went ahead and opened PR #8746 to improve the docs for that event.

[2017-02-23 01:20] alt-jero commented on #3302
Hi @hariprasadiit !

Thanks for the `app.dock.hide()` tip!

And now that we know that works, I have a theory as to why:
When an app has a dock icon, the app itself can be focussed. For example, when you click the app's dock icon, the name of the app shows up in the menu bar next to `File Edit View` etc. The same thing happens when you click in the app's window. When an app has no dock icon, you ca

[2017-02-23 04:29] kirkouimet commented on #8735
Hi @kevinsawicki - very cool that this is an option. Unfortunately this isn't working:

    browserWindow.loadURL('data:text/html,<script src="index.js"></script>');

The script doesn't seem to be executing, although it does show up on the DOM.

I tried this:

    browserWindow.loadURL('data:text/html,<script src="file:///path/to/index.js"></script>');

But got `Not allowed to load local resource`

[2017-02-23 04:30] tryvy opened #8747 "distribution on Ubuntumate"
hi! I'm trying create a distribution app for ubuntu mate on a Raspberry 3 model B, only can run the app using the console with electron, Is there a way to create a distribution build app?

[2017-02-23 04:33] kirkouimet commented on #8736
Ah, I see, so if you provide a .js file it will be executed in Electron's main process. Makes sense, thanks for the code reference as well for how .html files are treated.

Any thoughts on why I need to provide `'--js-flags=--harmony-async-await'` when I use a .js file instead of just being able to do `'--js-flags=--harmony`?

[2017-02-23 04:37] kirkouimet commented on #8736
Actually, after some testing, it appears the `'--js-flags=--harmony'` flag is now working for .js files in the latest release of Electron.

Thanks again @kevinsawicki!

[2017-02-23 04:37] #8736 closed

[2017-02-23 06:33] juliangruber commented on #8727
@kevinsawicki thanks for digging in, yeah that works for me!

[2017-02-23 07:06] koalaylj opened #8748 "bug about load ppapi flash under windows."
* Electron version: 1.6.1
* Operating system: win10 x64

###### IT WORKS WELL WITH ELECTRON v1.3.5 . I FOUND THIS BUG AFTER UPGRATED ELECTRON TO v1.6.1.

### Actual behavior
I am creating a multi-window program,the HTMLs are loaded from remote http server. when you click some button in main window, it will create a new window and show other page.
flash plays well in `_mainWindow`.
but if click a l

[2017-02-23 07:08] groundwater commented on #8747
Hi @tryvy. Can you provide more information about this. I've never used ubuntu mate.

[2017-02-23 07:10] groundwater commented on #8748
Hey @koalaylj. Big thanks for trying out 1.6.1!

I would like to narrow down where this bug might be coming from. The jump between 1.3.5 and 1.6.1 is fairly large. Can you verify if this works on the latest stable `1.4.15`?

[2017-02-23 07:18] zoubin opened #8749 "close button of quick look window is not working"
* Electron version: 1.6.1, 1.4.0
* Operating system: macOS 10.12.3

I click a file upload button (input element with type 'file'), and try to quick look a numbers file by clicking the 'Quick Look' item from the context menu, but the close button on the upper left of the quick look window is not clickable. I click it, and nothing happens. Have to press `ESC`.

### Expected behavior

Click the close

[2017-02-23 07:33] enlight commented on #8749
Duplicate of #8457

[2017-02-23 07:33] #8749 closed

[2017-02-23 07:48] johanneskrtek commented on #8670
Hi @groundwater, just tested on my old machine (MBP 2012) with the same external display.

I cannot reproduce the SVG issue there, neither on the internal nor the external display. It works without any problems both in Electron and in my app.

But I can reproduce the Developer Tools selection tool issue on both machines, shall I open a separate issue for that?

[2017-02-23 09:17] koalaylj commented on #8748
Thanks for your reply @groundwater .
I found out this bug since v1.4.4,  v1.4.3 works well.

[2017-02-23 09:53] gabestev commented on #4972
Seems i got the issue too,

Its not about packaging angular into electron, but a <webview> which load url with angular app inside it. any clue about it?

[2017-02-23 09:59] nuthinking commented on #8726
@demian85 this is how this extension looks like. No idea how to initiate the recording. Maybe I am missing something.

![capture](https://cloud.githubusercontent.com/assets/163635/23254102/c4e83fe6-f9ae-11e6-880f-2c966f20d3e6.PNG)

[2017-02-23 10:17] Kilian commented on #8747
Hi @tryvy You can create releases using [electron-packager](https://github.com/electron-userland/electron-packager). I believe raspberry Pi runs arm. Electron-packager can compile to armv7l. Do read the documentation, but you can probably get quite far with `electron-packager ./ myAppName --platform=Linux --arch=armv7l`

[2017-02-23 10:42] deepak1556 commented on #8735
We need to add an option to `loadURL` that accepts the base url for the data url to be loaded https://cs.chromium.org/chromium/src/content/public/browser/navigation_controller.h?l=146 for the above situation to work.

[2017-02-23 11:04] deepak1556 commented on #8525
Sorry, I am unable to verify this since I don't have access to mate. Someone else from the team will take a look into this.

[2017-02-23 11:47] demian85 commented on #8726
Yeah, just go to chrome-extension://<id>/recorder.html
Take the id from the extension manager. Enable developer mode.

[2017-02-23 12:08] nuthinking commented on #8726
@demian85 managed to test the extension. But unfortunately on Canary I can't even initiate the recording. I get TrackStartError

[2017-02-23 12:18] pronebird opened #8750 "Update NPM"
Please update npm, it did stuck at 1.4.15, see: https://www.npmjs.com/package/electron

`npm outdated` gives funny output too:

[code]

or are we in beta stage since 1.5?

Probably related to #8751

[2017-02-23 12:19] avoidwork opened #8751 "Beta release tags are erroneous / beta versions shouldn't be spec'd on http://electron.atom.io"
* Electron version: ^1.5.0
* Operating system: N/A

### Expected behavior
Stable release version advertised on public website. Pre-release/beta versions would have "-beta" or "-rc$n" on the version tag so it could be understood without visiting the github releases/tags view.

### Actual behavior
Pre-release (beta) version advertised on public website & misinformation with semver tags.

### How to

[2017-02-23 12:27] watilde commented on #8750
I just confirmed that electron tagged `v1.4.15` as `latest`:
[code]

I think this is because `>v1.5.0` are still under beta as you said.

[2017-02-23 12:34] deepak1556 commented on #8397
@DracotMolver can you test if just running `xdg-open <url>` results in similar behavior.

[2017-02-23 12:41] jpsim commented on #7781
Touch bar support was added to Chromium according to https://bugs.chromium.org/p/chromium/issues/detail?id=660126.

[2017-02-23 12:47] deepak1556 commented on #8474
It works as expected on gnome. The problem maybe with only KDE, i haven't verified it. Someone else from the team will look into this. Thanks!

[2017-02-23 12:49] enlight commented on #8750
`npm install electron@beta` if you want the 1.6 beta, otherwise wait for the stable release.

[2017-02-23 12:49] #8750 closed

[2017-02-23 13:09] demian85 commented on #8729
@kevinsawicki Thanks for the guide, but unfortunately I'm having issues, as not clear enough in which order I need to complete the steps from that guide...
Would love to have a clearer guide for newbies, as I'm trying to help also, but basically you just tell me "it's too difficult" and that's it.

Can you please help me with the following?

- Do I have to download chromium myself specified in VER

[2017-02-23 13:19] deepak1556 commented on #8737
Can you provide a test case of what you are trying to achieve, Thanks!

[2017-02-23 13:24] andrej2704 commented on #8517
@kevinsawicki I have updated driver, downloaded Electron 1.6.1.

Context is not lost anymore. But when I go to full screen in an external display, the screen becomes black, But  I move electron to the laptop's screen and go to full screen - everything is fine.

[2017-02-23 13:42] MarshallOfSound commented on #8743
Hm, good point.  Will investigate further 👍

[2017-02-23 14:49] binux opened #8752 "`executeJavaScript` cannot get result when Promise overridden by content page."
* Electron version: 1.6.0
* Operating system: macOS

### Expected behavior

print "2" and quit

### Actual behavior

never quit

### How to reproduce

Running following code:

[code]

Or with a real case: `win.loadURL('https://www.tumblr.com/');`

### Possible solution

The Promise in [this line](https://github.com/electron/electron/blob/8e203592e25db081dc68db086938157d0847f169/lib/renderer/init.j

[2017-02-23 14:57] emorikawa opened #8753 "Error building: exc.defs missing needed by crashpad"
When building I get:

[code]

OSX: 10.12.3
XCode: 8.2.1

This happens consistently right at `./script/build.py` when I do:
[code]

I get exactly the same error when I try to build at different versions via:
[code]

`xcodebuild -sdk -version` outputs:

[code]

Any ideas?

[2017-02-23 15:37] emorikawa commented on #8753
I was able to fix this by completely uninstalled XCode then re-installing it fresh again.

It looks like there was a problem in the XCode 7 to XCode 8 upgrade when I moved from OSX 11 to OSX 12.

Now when I run `xcodebuild -sdk -version` I get:
[code]

[2017-02-23 15:37] #8753 closed

[2017-02-23 15:41] pronebird opened #8754 "navigator.geolocation.getCurrentPosition freezes thread"
* Electron version: 1.6.1
* Operating system: macOS

### Expected behavior

navigator.geolocation.getCurrentPosition runs in background

### Actual behavior

the entire UI is frozen

### How to reproduce

[code]

[2017-02-23 16:00] Matt3o12 commented on #8725
I also get this issue on a 34 inch touchscreen board after a few minutes (some webpages seem to provoke it) on windows 10. I load external addresses. The mouse and keyboard still work find as well as. I can also use the touchscreen for developer tools. The only way to fix this seems to restart the electron app.

Are there any workarounds for this issue? Or are there any version where it is known t

[2017-02-23 16:15] imapepper commented on #8423
I'm having this same issue. Was anyone able to resolve this? Thank you in advance!

[2017-02-23 16:19] kevinsawicki commented on #8423
@imapepper are you able to reproduce this consistently and could you provide some reproduction steps if you are?

[2017-02-23 16:20] kevinsawicki commented on #8423
@petrbrzek are you ever passing the `require('electron')` object over IPC?

[2017-02-23 16:26] kevinsawicki commented on #8729
No, once you edit that file and boostrap/build, it will be downloaded.

This file will exist after chrome is downloaded, it resides in chrome, https://cs.chromium.org/chromium/src/tools/clang/scripts/update.py

Yeah, this is one of the challenges when upgrading is to get a node version compatible with the v8 version in Chrome, node may still compile and work fine though against v8 5.8.

[2017-02-23 16:32] kevinsawicki commented on #8748
@koalaylj just to confirm, 1.4.4 and later do not work, but 1.4.3 does? THanks.

[2017-02-23 16:40] imapepper commented on #8423
@kevinsawicki Yes, it happens every time one of my js files is loaded from an html view. I also get three deprecated warnings each time.

[code]

[2017-02-23 16:44] kevinsawicki commented on #8423
@imapepper can you include the line of code at `populateReportTable @ attendanceReport.js:6` or the entire file if possible?

[2017-02-23 16:55] kevinsawicki commented on #8517
Could you check if launching with `--disable-gpu` fixes this? Sounds kind of similar to #4380

[2017-02-23 16:57] deepak1556 commented on #8754
Are you seeing the freeze only on OSX or any other platform too ? I am unable to reproduce the issue with above snippet on linux.

[2017-02-23 17:00] imapepper commented on #8423
@kevinsawicki

[code]

[2017-02-23 17:04] kevinsawicki commented on #8423
@imapepper what is `app`? How it is declared? Is `buildAttendanceReport` a remote function?

[2017-02-23 17:04] imapepper commented on #8423
@kevinsawicki I updated my comment above

[2017-02-23 17:06] imapepper commented on #8423
@kevinsawicki main.js

[code]

Appropriate functions inside app.js

[code]

[2017-02-23 17:11] kevinsawicki commented on #8423
@imapepper does the `#event-id` element have any data attributes or other custom properties set on it?

[2017-02-23 17:18] imapepper commented on #8423
@kevinsawicki Ahhh I fixed it! Silly mistake on my part. Thank you so much for your help! It should have been:

[code]

[2017-02-23 17:19] popod commented on #8063
@quicksnap Any update on this ?

[2017-02-23 17:20] kevinsawicki commented on #8423
So are you still seeing the error when using `eventId.value` or did it go away once you changed it?

[2017-02-23 17:23] popod opened #8755 "Allow to drag multiples files with contents.startDrag()"
When use contents.startDrag(path), It would be great to allow us to drag multiple files by passing an array of paths. Is this improvement realistic ?

[2017-02-23 17:24] kevinsawicki commented on #8755
@popod have you tried passing a `files` array of string paths to `startDrag`? I think it is supported but undocumented.

https://github.com/electron/electron/blob/62f4a77755a057609cfccf6d824ed76e41a0fb57/atom/browser/api/atom_api_web_contents.cc#L1348-L1350

[2017-02-23 17:25] imapepper commented on #8423
All errors went away. Apparently, by inadvertently trying to send an HTML element rather than a text value into the function, it caused all those errors.

[2017-02-23 17:25] kevinsawicki commented on #8755
Something like `contents.startDrag({files: ['file1', 'file2'], icon: '/path/to/icon.png'}`

[2017-02-23 17:30] popod opened #8756 "Allow to open multiples files with shell.openItem()"
With shell.openItem(), It would be great to allow us to open multiple files by passing an array of paths (or providing a function shell.openItems()). By example, if I would open many pictures with preview on macOS they will all been open in the same windows. This is not actualy the case if I call many times shell.openItem().

[2017-02-23 17:34] demian85 commented on #8729
Thanks, that helped me get me going, but... What should I do when patches fail to apply?
[code]

I assume much of the source code have changed, but how to know which patch is really needed for my use case? I just want a plain working chromium build :/

Thanks.

[2017-02-23 17:34] popod commented on #8075
@enlight Any updates on this ? What about my proposition in my latest post ?

[2017-02-23 17:36] kevinsawicki commented on #8423
I was able to reproduce this, looks like it can happen whenever you pass an object that references the module cache.

Such as:

[code]

This is because this line: https://github.com/electron/electron/blob/62f4a77755a057609cfccf6d824ed76e41a0fb57/lib/renderer/api/remote.js#L292 puts the main process exports in the module cache which then causes issues when it is attempted to be serialized over the

[2017-02-23 17:38] kevinsawicki commented on #8729
The patches need to be updated so they cleanly apply against the new Chrome version.
The easiest way is to apply them to the Chrome source tree for that version and then recreate them with the updated SHA-1 information.

Most patches are needed to get Electron compiling since they expose or tweak APIs that Electron ends up using.

[2017-02-23 17:39] inukshuk commented on #5761
I can still observe this on Windows 10 with Electron 1.6.1.

[2017-02-23 17:40] kevinsawicki commented on #8729
So if you have a Chrome checkout for the version you are upgrading to, you can run:

* `git apply path/to/libcc/patches/foo.patch`
* `git diff > path/to/libcc/patches/foo.patch`

This would apply then re-generate the patch, you may have to resolve conflicts after the first step.

[2017-02-23 17:51] morganrallen opened #8757 "Electron Linux silently exits with code 1 when DISPLAY is not set"
* Electron version: 1.4.5
* Operating system: Linux

### Expected behavior

Electron should provide an informative error message on exit.
`xterm` for example..
[code]

### Actual behavior

Electron exits with exit code 1 providing no further information.

### How to reproduce
[code]

[2017-02-23 18:03] pronebird commented on #8754
@deepak1556 I only test on macOS at the moment, entire UI freezes until error returned (in my case I don't have GOOGLE_APIKEY set yet)

[2017-02-23 18:51] craxal commented on #8356
Thank you for replying!

I'm assuming this is a hard-coded value and can't be changed after Electron is built. Could this be made configurable? Allowing app authors to adjust the default max memory would be very useful. How costly would such a change be?

[2017-02-23 19:30] sltam commented on #8737
I want to implement the TODO such that all the 4 user actions work like what a browser would.

[code]

[2017-02-23 20:17] akashnimare opened #8759 "Desktop notifications stopped working after setting UserAgent"
* Electron version: 1.4.15
* Operating system: OS X

### Expected behavior
Desktop notifications should work even after setting a new user-agent via [win.loadURL](https://github.com/zulip/zulip-electron/blob/06737ce62968d7ce938254869b410a4d61984319/app/main/index.js#L125-L128).
I have set a new user-agent via
[code]

### Actual behavior

Desktop notifications stopped working although HTML5 type no

[2017-02-23 20:20] yaooluu commented on #8738
@kevinsawicki The TS files are compiled into JS before the application starts. And "__dirname" syntax remains the same from TS to JS.

However the compiled JS files are loaded through Angular 2 framework, which is different from the directly included JS files (where __dirname prints out correctly).

My temporary solution is to replace "__dirname" with "decodeURI(__dirname)" in all TS files.

[2017-02-23 20:35] popod commented on #8755
I've juste tested and this works well with `files`. I've improve this doc in this pull request #8760

[2017-02-23 20:50] niftynei commented on #1833
i'm experiencing this as well. Ubuntu 16.04 LTS, electron version 1.6.1. It happens for all /etc/hosts entries. Changing to the IP address (127.0.0.1) fixes the problem.

I've tested other endpoints (non-local) and they work without a problem.  It seems to be unpredictable -- I've run electron apps on this computer for a while now without a problem.  I tried using strace to track down the problem

[2017-02-23 21:11] pronebird commented on #8732
I upgraded to recent beta (1.6.1?) and compiled electron with electron-builder today. Ran this thing and only 3 processes in task manager. Not sure why but it seems that two dummy helpers are gone and everything is back to normal.

[2017-02-23 21:11] pronebird commented on #8732
Closing this as it seems to be resolved.

[2017-02-23 21:11] #8732 closed

[2017-02-23 21:45] #8755 closed

[2017-02-23 21:59] quicksnap commented on #8063
@popod Re: #7118, I still haven't worked on it. The work involved in that ticket is probably 8 - 16 hours on my part, and I haven't been doing much work lately with the organization needing those changes.

[2017-02-23 22:33] MarshallOfSound commented on #8752
I'm not sure if this is actually a bug, technically any page can do something funky like override `Function.prototype.call` and ruin your day.

If you want a safety net I believe the `contextIsolation: true` would help ( @kevinsawicki ?)

We can protect against this particular case by saving the original value of `Promise` but it feels weird 😕

[2017-02-23 23:19] groundwater commented on #8756
Hi @popod. I would like to help you expand this idea to give it the best chance of being approved/implemented. More information is always better, and I've started recommending folks follow the [Rust RFC Template](https://github.com/rust-lang/rfcs/blob/master/0000-template.md) for proposing new features.

[2017-02-23 23:21] binux commented on #8752
Unfortunately `contextIsolation: true` doesn't work for my use case.

For example the lib [nightmare](https://github.com/segmentio/nightmare) I'm using, [override `console.log`](https://github.com/segmentio/nightmare/blob/master/lib/preload.js#L35) in order to
capture the log from loaded page. With `contextIsolation: true`, `preload.js` cannot replace the methods in loaded page either.

I know the

[2017-02-23 23:21] kevinsawicki commented on #8752
Yup, this should address this issue because the `Promise` global will be sandboxed in each JS context.

Yeah, we typically only do this to in cases where we want to prevent tampering for code that runs in both the isolated context and main context like here: https://github.com/electron/electron/blob/cc688d7fa6a48e5133735eb67d665f5d193ec94f/lib/renderer/window-setup.js#L26

People may want to overr

[2017-02-23 23:22] groundwater commented on #8751
Hi @avoidwork. Can you expand on the problem you're encountering?

We're following the dist-tags model that npm uses to distribute their CLI.

You should only end up with a beta release if you choose so, since `npm install` pulls from the `latest` tag by default. If you're experiencing other behaviors, we would consider that a bug and would like to hear about that.

[2017-02-23 23:22] kevinsawicki commented on #8752
You should be able to replace these methods using `webFrame.executeJavaScript` which runs in the main page's context. http://electron.atom.io/docs/api/web-frame/#webframeexecutejavascriptcode-usergesture-callback

[2017-02-23 23:23] binux commented on #8752
But it cannot export ipc into the context to forward the message back. I guess.

[2017-02-23 23:24] kevinsawicki commented on #8752
So from `preload.js`:

[code]

[2017-02-23 23:27] binux commented on #8752
So I can receive the message via `anything.on('alert')` ? But I saw nightmare also overridden `window.alert` [ref](https://github.com/segmentio/nightmare/blob/master/lib/preload.js#L56), I suppose there is no such event?

[2017-02-23 23:30] kevinsawicki commented on #8752
So nightmare could support context isolation by using `window.postMessage` to forward messages across contexts to perform the action(s) from a `window.addEventListener('message', function () {})` listener.

I'm okay moving `Promise` to a constant in the meantime since `contextIsolation` is pretty new still, but others things still may break since, as @MarshallOfSound mentioned, the page shares bui

[2017-02-23 23:36] groundwater commented on #8725
I have not been able to reproduce this yet on a Windows 10 Surface Pro 4.

I took a quick look at chromium bugs here https://bugs.chromium.org but didn't see anything jump out.

I'll see if we can bring in some more windows expertise here. In the mean time, if anyone can narrow down the cause that would help greatly!

[2017-02-23 23:44] groundwater commented on #8670
Hi @johanneskrtek, I think we should separate the issues.

We're happy to tackle this one if we can figure out what's going on. If you're making progress on debugging it let's leave it open, otherwise I think we should close it until it's happens to someone else.

Thanks for your debugging help!

[2017-02-24 00:30] DracotMolver commented on #8397
@deepak1556  I use `xdg-open <url>` and it was faster. I haven't try what @groundwater suggested me, my work is comsuming too much time right now :(. But I will do it this weekend.

[2017-02-24 02:03] groundwater commented on #8534
Hi @ericbets. I put this up for comments to our maintainer community.

[2017-02-24 03:43] koalaylj commented on #8748
@kevinsawicki   yes

[2017-02-24 06:39] Spazer9 commented on #8708
@nikola Thanks for the response - I'm using a gtx 980 and i7.

Fonts are generally blurrier and less crisp on Electron (tried many versions).

Here's another screenshot (left is chrome, right is electron)

![](https://s3.amazonaws.com/snaps-bucket/2017/02/YLFZaA5/2017-02-24_06-36-22.png)

[2017-02-24 07:06] ronnievdv commented on #8667
Drag and drop between webviews also doesn't trigger drop, dragenter, dragleave or dragover events.  See attached example which works in 1.4 but not in 1.6

[electron-dnd.zip](https://github.com/electron/electron/files/798555/electron-dnd.zip)

[2017-02-24 08:26] JonasGroeger commented on #2280
@LewdEwe-ErikWallace Do you have that code somewhere?

[2017-02-24 09:29] akashnimare commented on #5983
@MarshallOfSound I don't get it. I just want to kill/hide the notifications if the window is in foreground/focused. I could get the window-focus event via IPC but I'm not sure how would I kill the notification then.

[2017-02-24 09:46] cberescu opened #8762 "callbacks for hookWindowMessage should have their return value sent to OS"
* Electron version: 1.4.15
* Operating system: windows 10

### Expected behavior
On some Windows messages a return may be expected.  The return value of the callbacks should be forwarded to the OS

Example :
WM_QUERYENDSESSION
From : https://msdn.microsoft.com/en-us/library/windows/desktop/aa376890(v=vs.85).aspx
`if any application returns zero, the session is not ended. `

When windows shuts down

[2017-02-24 09:49] KagamiChan commented on #5983
you may check your conditions before `new Notification`

[2017-02-24 10:37] prakash09 opened #8763 "electron on docker"
* Electron version: 1.4.15
* Operating system: ubuntu 14.04

### I am trying to run electron app on a docker container with GUI but after "npm install and npm start" I am getting the following error.

npm ERR! Linux 4.4.0-64-generic
npm ERR! argv "/usr/local/nodejs/bin/node" "/usr/local/nodejs/bin/npm" "start"
npm ERR! node v7.6.0
npm ERR! npm  v4.3.0
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm

[2017-02-24 11:14] Os90 opened #8764 "Cannot read property 'on' of undefined"
* Electron version:
* Operating system:

### Expected behavior

### Actual behavior

### How to reproduce

[2017-02-24 11:30] avoidwork commented on #8751
Sure, I unintentionally shipped a product with a beta build of electron prior to the "pre-release" label applied to the release, which is meta that only exists in github and not in npm or anything else that uses the value in package.json.

Please use semver tags, not whatever npm is using; e.g. `-beta` or `-rc1`, this would let automated systems ignore the releases because they are not stable. My

[2017-02-24 11:39] avoidwork commented on #8751
@groundwater as far as I can tell the `dist-tag` is just another set of meta data separate; it literally sits in `"dist-tag"` which is not `"version"`. At best that is a poor bandaid for a bug in npm.

[2017-02-24 11:45] avoidwork commented on #8751
@groundwater as per this comment: "Versions and tags occupy the same namespace on the install command and dependencies object. The only way to make it predictable and reasonable is to not allow a tag that is also a valid version." I'd say that npm's approach is fundamentally wrong; versions are tags, and because they've introduced a cli that lets you mangle things further means it's not something

[2017-02-24 12:03] andrej2704 commented on #8517
@kevinsawicki, I checked. with disabled gpu electron works fine

[2017-02-24 13:37] darwinkim commented on #8562
@Rhywden The main problem does not seem to be DPI scaling. Compatibility mode for DPI scaling has no effect. The issue returns after restarting or logging out and signing back in after setting the DPI to a lower value.

[2017-02-24 13:44] darwinkim commented on #8562
Issue is not present when running application with the NVIDIA GPU on the Surface Book.

[2017-02-24 15:17] leethomas commented on #8734
This should be pretty doable. I'll take this one if no one minds.

[2017-02-24 15:35] kevinsawicki commented on #8517
@andrej2704 thanks for letting me know, closing this issue out, please subscribe to #4380 for updates on that one.

[2017-02-24 15:35] #8517 closed

[2017-02-24 16:27] dkfiresky commented on #8734
How about extending the [Screen API](http://electron.atom.io/docs/api/screen/) to get current active monitor and then feed it's `id` to the `BrowserWindow.showOnMonitor(id)` somehow? 😀

[2017-02-24 16:32] pronebird commented on #8734
@dkfiresky are those screens actual physical screens or workspaces (desktops)?

[2017-02-24 16:38] #8457 closed

[2017-02-24 16:52] javan commented on #8457
❤

[2017-02-24 17:05] #8632 closed

[2017-02-24 17:21] abejfehr opened #8765 "Compiling for ARMv6"
Is it possible to cross-compile to ARMv6? The current binaries are only ARMv7 but I'm trying to get a kiosk app running on my Raspberry Pi B+ which I'm quickly realizing is out-of-date.

Thanks!

[2017-02-24 17:24] abejfehr commented on #8765
Actually that's my mistake, apparently no one is able to help with ARMv6 according to [this past issue](https://github.com/electron/electron/issues/6102). I guess I'm screwed.

[2017-02-24 17:24] #8765 closed

[2017-02-24 17:25] abejfehr commented on #6102
@kusti8 did you ever get this working on ARMv6?

[2017-02-24 17:25] kevinsawicki commented on #8765
It may be possible but is not something we've tried and we don't publish prebuilt versions of libchromiumcontent with that architecture so it would need to be built there too.

There is still some arm 6 config in the build files, https://github.com/electron/electron/blob/d01250eceb6d567378df1de44b5631246c1a523b/toolchain.gypi#L72-L78

You may want to give it a try and see how far it gets.

[2017-02-24 17:32] #8573 closed

[2017-02-24 17:50] kusti8 commented on #6102
No I just gave up on it. The Pi has had Chromium compiled for it with a
patch that I've used to build it for them and the changes just for ARMv6
are relatively minor, but they would still need to be patched for electron.

On Fri, Feb 24, 2017, 12:25 PM Abe Fehr <notifications@github.com> wrote:

[2017-02-24 18:00] nitsakh commented on #8735
Hello, I wish to work on this issue. I haven't contributed before.

[2017-02-24 18:05] kirkouimet commented on #8735
@nitsakh could be nice to add a new method to BrowserWindow like `browserWindow.loadHTML(htmlString, basePath)` to enable this functionality.

[2017-02-24 18:21] kevinsawicki commented on #8735
@nitsakh There is already an `options` argument supported to `browserWindow.loadURL`/`webContents.loadURL`, it probably makes send to add this new option there.

http://electron.atom.io/docs/api/browser-window/#winloadurlurl-options

You can see how other options are mapped here: https://github.com/electron/electron/blob/b936221b6397a97a2079c1725b04ba3b7c39ef00/atom/browser/api/atom_api_web_conten

[2017-02-24 18:48] dkfiresky commented on #8734
@pronebird I believe that's a physical display API, but I may be wrong.
You can find the source [here](https://github.com/electron/electron/blob/master/atom/browser/api/atom_api_screen.cc)

[2017-02-24 18:50] dkfiresky commented on #8734
There is also [a Display Object](http://electron.atom.io/docs/api/structures/display/#display-object) structure, which contains `id Number - Unique identifier associated with the display.`.

[2017-02-24 19:00] pronebird commented on #8734
I think I have to clarify that I was talking about moving window between spaces or desktops, not different physical displays. While searching on internet I found that moving windows between desktops is a part of private API. However It's possible to specify a window behavior `window.collectionBehavior = NSWindowCollectionBehavior.MoveToActiveSpace`.

Another option is that seems to be already impl

[2017-02-24 19:01] dkfiresky commented on #8734
@pronebird you can actually try to implement something like this:
[code]

[2017-02-24 19:09] groundwater commented on #8763
Hi @prakash09. Can you provide a link to your repository? My guess is that this is not a bug with Electron, but configuration problem with either the `Dockerfile` or the application.

I'm going to leave this open, because I would be into developing some user documentation for this scenario.

[2017-02-24 19:09] #8764 closed

[2017-02-24 19:10] dkfiresky commented on #8734
@pronebird

You can't use both collection behaviors.

[2017-02-24 19:13] pronebird commented on #8734
@dkfiresky you mean those two are mutually exclusive? Otherwise NSWindowCollectionBehavior looks like a mask to me, reference:

https://github.com/electron/electron/blob/1dd37eaab71a8a64d1f68fb88622ac3e2a31bc4a/atom/browser/native_window_mac.mm#L704

[2017-02-24 19:23] groundwater commented on #8751
Hi @avoidwork. Can you describe how your CI pulling and bundling the electron version?

Calling `npm install` should not pull in any beta versions be default. Are you calling the GitHub releases API directly?

[2017-02-24 19:29] avoidwork commented on #8751
No, atm the moment it's manually set to 1.4.15; for this product we do have package comparisons but electron has been moving based on the website with a validation check on release notes online; the last 2 releases being 'pre-release' were flagged as such after the fact, but if it was known at the time it could've been expressed clearly in the tag.

[2017-02-24 19:46] pronebird commented on #8734
@dkfiresky in swift you have to use let behavior: NSWindowcollectionBehavior = [.canJoinAllSpaces, .moveToActiveSpace];

[2017-02-24 19:52] karlpablo commented on #5057
I am seeing this issue as well.

[2017-02-24 19:54] karacas opened #8767 "app.getFileIcon returns empty PNG"
* Electron version: 1.6.1 beta
* Operating system: Microsoft Windows [Version 10.0.14393]

[code]

[2017-02-24 20:01] Kangaroux opened #8768 "Calling show() on an already open modal causes the parent to become unusable"
Electron version: 1.4.15

Node version: 6.9.5

### How to reproduce

Create a window and a modal

[code]

Verify that the modal appears above the window as expected, you can't click past it. Once the modal is closed you can interact with the parent.

Now call `modal.show()`

[code]

The modal appears as it should and works, until you close it. The parent window now becomes unusable because it thin

[2017-02-24 20:15] groundwater commented on #7735
Can confirm on Windows 10, Surface Pro 4, Electron 1.4.15.

Updating to 1.6.1 seems to fix that. Can you confirm @MRayermannMSFT ?

[2017-02-24 20:35] kevinsawicki commented on #8767
@karacas what is the value of `err` when this happens?

[2017-02-24 20:44] karacas commented on #8767
console.log(err) // null

[2017-02-24 20:45] kevinsawicki commented on #8767
@karacas can you include the path you are specifying to `app.getFileIcon`?

[2017-02-24 20:49] karacas commented on #8767
i try all options \\, / , nomalice...

direct nativeImage works well

[code]

[2017-02-24 20:49] kevinsawicki commented on #8767
@YurySolovyov would you be able to take a look into this?

I'm able to reproduce on Windows 10 with running the following from the dev tools:

[code]

[2017-02-24 20:51] karacas commented on #8767
`require('electron').remote.app.getFileIcon("d:\\tmp\\ColorCop.exe", (err, icon) => console.log(icon.toDataURL())) // data:image/png;base64,`

[2017-02-24 20:55] karacas commented on #8767
[code]

[2017-02-24 21:00] kevinsawicki commented on #8767
This might be more of an issue with the `nativeImage` class than with the `app.getFileIcon` API, will investigate further.

[2017-02-24 21:29] groundwater commented on #8751
Hey @zeke I wonder if we should mention that folks pulling from the releases API should ensure they check for the `prerelease` property? I would be in favor of some documentation around this.

[2017-02-24 21:31] groundwater commented on #8750
I would be in favor of adding documentation around this.

[2017-02-25 00:13] kevinsawicki commented on #8738
This sounds like an Angular (and/or precompiler) issue then and not something that can be addressed in Electron.

I'm going to close this issue out based on this information but if you can reproduce it in an app that doesn't use TypeScript or Angular then we can reopen it and see what is happening, but I was unable to reproduce it using node's `require`.

[2017-02-25 00:13] #8738 closed

[2017-02-25 00:14] kevinsawicki commented on #8523
Closing this out until more information is available.

[2017-02-25 00:14] #8523 closed

[2017-02-25 00:22] groundwater commented on #8768
Possibly related to #8677

[2017-02-25 00:27] MRayermannMSFT commented on #7735
I can confirm that the bug appears to be gone in 1.6.1. Thanks @groundwater. :)

[2017-02-25 00:27] #7735 closed

[2017-02-25 00:49] kevinsawicki commented on #8759
@akashnimare can you include an code example of how you are creating the notification that is failing to appear?

[2017-02-25 00:58] shinriyo commented on #2085
@simongregory
My Electon of `package.json` is `1.2.5`. I will try 1.6.0.

[code]

[2017-02-25 01:11] shinriyo commented on #2085
I replaced `"electron-prebuilt": "^1.2.5"` to `"electron": "^1.6.1"`.
However, not worked for me.
I don't know what is different with `-prebuilt` and without it....

I will try `Widevine plugin version 1.4.8.903` again.

[2017-02-25 01:20] shinriyo commented on #2085
Mine is `1.4.8.962`. so I replaced `1.4.8.962` plugin but not work...

[2017-02-25 01:21] baconface commented on #2085
Both `electron` and `electron-prebuilt` are the same package. You should use `electron` as the other is deprecated and occasionally (and currently) outdated.

To use beta releases you will want to install `electron@beta` though.

[2017-02-25 02:13] shinriyo commented on #2085
@baconface
Thank you for replying.
I installed via `npm install electron@beta --save-dev.`.

however, not work yet..
https://github.com/shinriyo/lithium

[2017-02-25 02:31] radencode commented on #5267
Where can I find the native_window_views.cc file?

[2017-02-25 02:40] radencode opened #8770 "Where can I find native_window_views.cc file? I can't find it in my electron path"
* Electron version:
* Operating system:

### Expected behavior

### Actual behavior

### How to reproduce

[2017-02-25 03:32] jichu4n commented on #5255
Getting a similar error here. I have a menu with several items triggered from the tray icon.

Strangely, the click handler for the first item never triggers; if I insert an invisible item at the top ({label: "", visible: false}), the original first item's click handler does trigger.

However, after adding several more items into the menu, clicking the last item now causes the app to crash:

[code]

[2017-02-25 03:44] #8770 closed

[2017-02-25 03:47] radencode commented on #8770
Why was this closed?
On Fri, Feb 24, 2017 at 7:44 PM Jacob Groundwater <notifications@github.com>
wrote:

[2017-02-25 03:58] MarshallOfSound commented on #5267
https://github.com/electron/electron/blob/9a7ac5326caadcae3cb2c7432c58353b7db1009e/atom/browser/native_window_views.cc

[2017-02-25 04:01] radencode commented on #5267
Yes I can find it on github but what about my local machine? Aren't I
suppose to edit it on my local machine?
On Fri, Feb 24, 2017 at 7:59 PM Samuel Attard <notifications@github.com>
wrote:

[2017-02-25 04:03] MarshallOfSound commented on #5267
If you have cloned the electron repo it will be in the same place as on github?  If you are using the prebuilt NPM module then it's already been compiled and you can't edit it?

[2017-02-25 04:05] radencode commented on #5267
I'm using the NPM Module. My issue is that my frameless window goes out of
screen by 7px on maximize. So what do you suggest?
On Fri, Feb 24, 2017 at 8:04 PM Samuel Attard <notifications@github.com>
wrote:

[2017-02-25 04:06] KagamiChan commented on #8770
https://github.com/electron/electron/blob/master/atom/browser/native_window_views.cc
here it is
btw,

[2017-02-25 04:07] MarshallOfSound commented on #5267
At the moment all you can do is accept the bug or try to fix it yourself in the source code.  I'm not aware of anyone actively working on fixing this issue.

[2017-02-25 04:08] radencode commented on #5267
So editting the native views file won't fix that?
On Fri, Feb 24, 2017 at 8:07 PM Samuel Attard <notifications@github.com>
wrote:

[2017-02-25 04:24] akashnimare commented on #8759
The notifications are being created by the webapp and I'm just passing that URL to electron app. The notifications are standard native notifications.
Web app - https://github.com/zulip/zulip
Electron app - https://github.com/zulip/zulip-electron

[2017-02-25 05:03] qazbnm456 commented on #8763
@groundwater @prakash09

I believe that this problem is not related to electron, since I've run my project built with electron version 1.4.15 on docker before and it worked.

[2017-02-25 05:10] qazbnm456 opened #8771 "Blank page will somehow show up when webview tag loads a url at first time."
* Electron version: 1.6.1
* Operating system: macOS Sierra

### Expected behavior

No blank page shows when webview tag loads a url at first time.

### Actual behavior

As described [here](https://github.com/qazbnm456/lulumi-browser/issues/3).

### How to reproduce

**It happened to my project when I upgraded electron to version 1.6.1.** Never happened before when I developed with electron version

[2017-02-25 05:28] thesbros commented on #5267
Passing `thickFrame: false` to `new BrowserWindow` fixes this issue for me. Can anyone else confirm?

[2017-02-25 05:56] radencode commented on #5267
Yes it does fix the issue but it gets rid of native animations and the window will no longer be maximized on double click of nav bar.

[2017-02-25 06:39] groundwater commented on #8771
Hi @qazbnm456. Thanks for trying 1.6.1! This sounds undesirable for sure.

Are you able to put together a minimized repro-case? That would help speed diagnosis along.

[2017-02-25 07:54] radencode opened #8772 "ninja: fatal: chdir to 'out\R' - No such file or directory"
* Electron version: 1.4.15
* Operating system: Windows 10

### Expected behavior
Should build electron

### Actual behavior

ninja: fatal: chdir to 'out\R' - No such file or directory
ninja: Entering directory 'out\R'
### How to reproduce
python script/build.py

[2017-02-25 08:37] thesbros commented on #5267
@radencode Please try the following Electron build to see if it fixes this issue.

Copy all the files in the zip into a folder called `electron` in the root of your project.

Then just replace where you would call `electron` with `.\electron\electron.exe`.

[electron-overflow-test.zip](https://github.com/thesbros/electron/releases/download/v1.6.1/electron-overflow-test.zip)

[2017-02-25 10:21] YurySolovyov commented on #8767
On Microsoft Windows [Version 10.0.14393] x64
Using the following snippet works for me:
[code]
![image](https://cloud.githubusercontent.com/assets/2168518/23330364/14b20d9a-fb5d-11e6-9d07-65804f71ec5f.png)

[2017-02-25 12:47] adi518 commented on #8728
Hi, made a minimal repro: https://github.com/adi518/electron-frameless-maximize-test

[2017-02-25 13:32] Mikepicker commented on #8665
@kevinsawicki thank you for your answer.
I'm importing it using es6 simport style: `import { clipboard, nativeImage } from 'electron';`

This is the function I call to copy to clipboard:
`copyToClipboard = (texturePath) => {
    clipboard.writeImage(nativeImage.createFromPath(texturePath));
  }`

Where `texturePath` is the path of a jpg or png texture like this:

![floor_1](https://cloud.githubuse

[2017-02-25 15:32] IrosTheBeggar opened #8773 "Forking a process in main.js doesn't work"
* Electron version: 1.4.15
* Operating system: Windows 10

I have a simple nodeJS app that has a function to scrape file metadata. Since scraping metadata can be intensive I made the app run this as a child process using fork.

[code]

When run in main.js the process is successfully created, but immediately exits. I added some logging to parse-metadata.js and found out that parse-metadata.js execu

[2017-02-25 16:25] radencode commented on #5267
@thesbros I tried it but it still has the same issue. I did copy the files in the node_module/electron folder however because ./electron/electron.exe ./app was not working?

[2017-02-25 16:25] radencode commented on #5267
@thesbros Does it work for you?

[2017-02-25 17:12] qazbnm456 commented on #8771
@groundwater

I've tried to replicate a minimized repro-case, but sadly I failed to create one now. Will notify you when I create one.

Besides, after browsing the issues here, I think it's highly related to https://github.com/electron/electron/issues/8505 since I got the same problem with electron version 1.5.0.

[2017-02-25 17:17] groundwater commented on #8773
Hi @IrosTheBeggar, I would like to help get this solved. Can you provide a minimal reproducible case? Many folks just fork https://github.com/electron/electron-quick-start and modify it to produce their bug. We're happy to clone repos while reviewing bugs.

[2017-02-25 17:24] groundwater commented on #8772
Hi @radencode, I'd like to ensure we're not missing a build step.

Can you confirm if you're starting from this step https://github.com/electron/electron/blob/master/docs/development/build-instructions-windows.md#bootstrapping doing the bootstrap first?

[2017-02-25 17:38] myfrndjk commented on #8163
Hi,

Is this issue fixed, I am also facing the same issue
@notanark if you already fixed this, please share the details

[2017-02-25 18:18] darwinkim commented on #8562
The bug has been fixed on build 15042! Tested on VS Code and Electron API demos.

[2017-02-25 19:52] thesbros commented on #5267
@radencode It does indeed work for me. You can't run `./electron/electron.exe` - you need to use backslashes like `.\electron\electron.exe`.

[2017-02-25 19:57] adi518 commented on #5267
I tried that zip as well, in attempt to fix #8728. Overrode Electron dist under `node_modules`, but the issue persists.

[2017-02-25 20:04] IrosTheBeggar commented on #8773
Ok, working on it now

[2017-02-25 20:04] madcampos commented on #8562
So it was a electron bug then, not a,windows one? 🤔
Also, setting it to use the gpu works and disabling the gpu resource consuming features, like antialiasing, helps on battery life

[2017-02-25 20:08] thesbros commented on #5267
@adi518, please try the following file. It is a copy of electron-quick-start with both versions of electron.

Opening `Start Normal Electron.bat` should have the overflow issue.
Opening `Start Overflow Test.bat` should not have the issue.

[electron-quick-start.zip](https://github.com/thesbros/electron/releases/download/v1.6.1/electron-quick-start.zip) (big file - two versions of electron)

[2017-02-25 20:33] adi518 commented on #5267
Hefty! download is a little slow. I'll let you know if it works asap.

[2017-02-25 20:55] v3ss0n commented on #562
But that dosen't mean anything since chromium is not allowed to put on apple store.

But in android , it is dearly needed now .

Developing with cordova and default webview is hell , and intel had scrapped Crosswalk , which is intel's port of chromium to android .that makes life of hybrid development hard.
https://crosswalk-project.org/blog/crosswalk-final-release.html

Problems:

- default webvie

[2017-02-25 21:11] radencode commented on #8772
Hello @groundwater

Yes I do, here is what I do

1) I clone the repo from Electron
2) Run `python script/bootstrap.py -v`
3) Run `python script/build.py`

And I get the error above. I'm not sure what I am doing wrong. I have installed python from their website, I have node js and Visual Studio installed as well.

[2017-02-25 21:11] adi518 commented on #5267
@thesbros tried it, issue persists.

[2017-02-25 21:15] radencode commented on #8728
@adi518 @groundwater I am running into the same issue and I still am not able to find a solution for it.

[2017-02-25 21:18] radencode commented on #5267
@thesbros I tried it too and the issue persists for me as well. What different are you doing? @adi518 made a good reproduction of this issue here: https://github.com/adi518/electron-frameless-maximize-test this is what we both get. @thebros does that work for you?

[2017-02-25 21:33] IrosTheBeggar commented on #8773
After doing some more digging I realized the script was failing silently when it was trying to load the SQLite module.  The SQLite module works just fine throughout the rest of the app, but for some reason electron tries to load it from the wrong location when using fork

[code]

There is no node-v50-win32-x64 directory in the node_modules folder.  Any idea how to get SQLite module to work?

[2017-02-25 21:37] MarshallOfSound commented on #8773
This now looks like a duplicate of https://github.com/electron/electron/issues/8727

Would recommend following that one for updates :)

[2017-02-25 21:37] #8773 closed

[2017-02-25 21:54] thesbros commented on #5267
@radencode @adi518

Perhaps we are talking about different issues. The issue adi linked (#8728) is different from this issue.

The other issue is related to the edges of frameless windows being cut off by 8 pixels. This issue is related to frameless windows overflowing onto different monitors.

You can see that my fix for this issue works, here: https://www.youtube.com/watch?v=9NG2e5UIJoA

The oth

[2017-02-25 21:59] radencode commented on #5267
@thesbros Yes you are right, that issue is fixed by your code. I didn't see that we were talking about that. My issue is the fact that frameless window is cut off by 6px or 8px when maximized. Alright thank you, I will try and look at that code and see if I can come up with a solution as well.

[2017-02-25 22:39] radencode commented on #8772
@groundwater I fixed the issue, you can go ahead and close this. I just deleted everything and started over and it worked. I think python was not installed properly.

[2017-02-25 22:39] #8772 closed

[2017-02-25 23:14] radencode commented on #5267
@thesbros which part of the coding you are working on? Are you working on `native_window_views.cc` file?

[2017-02-25 23:15] thesbros commented on #5267
@radencode I'm working on `native_window_views.cc` and `native_window_views_win.cc`.

[2017-02-25 23:19] radencode commented on #5267
@thesbros Alright I am too, I will let you know if I find a solution.

[2017-02-26 00:04] tarlepp commented on #7834
@attermann thanks man - really.

Previously I just used one of my host displays, and now I started to use all of  these three... And after this my electron application got that error. With just one display all worked well.

So imho this is more like electron bug.

[2017-02-26 00:32] thesbros commented on #5267
@radencode @adi518 Please try out [this build.](https://github.com/thesbros/electron/releases/download/v1.6.1/R.zip) It should fix both issues.

There's still some overflow at the bottom, but that was there before - and with this fix it's not actually part of the page, so nothing is cut off. I'm still investigating into that.

[2017-02-26 00:36] javan commented on #8771
Not sure if this is related, but I've noticed that `document.visibilityState` is always `hidden` initially in our (Basecamp's) app on Electron 1.6.1. I too have tried to reproduce with a minimal fresh app and have failed so far. Seems to be a subtle timing issue since it doesn't *always* happen.

Electron 1.6.1
![screen shot 2017-02-25 at 4 30 44 pm](https://cloud.githubusercontent.com/assets/5355

[2017-02-26 00:55] radencode commented on #5267
Can you brefily show me what you changed in the file?
On Sat, Feb 25, 2017 at 4:33 PM Oden <notifications@github.com> wrote:

[2017-02-26 01:02] adi518 commented on #5267
Now I'm getting a slightly thicker stroke and no gap between the stroke and the window. Devtools bugged out for some reason so couldn't inspect html height.

[2017-02-26 01:54] radencode commented on #5267
@thesbros What was @bsclifton talking about where he said to remove  WS_THICKFRAME styles? I tried that but I get a thin white border around the window but it does fix the overlapping issue and the size issue. It just has that white border.

[2017-02-26 02:01] thesbros commented on #5267
Yes - I removed THICKFRAME but I decided not to go with that because of the
border. But my alternative fix seems to be more buggy.

On Sat, Feb 25, 2017, 5:54 PM Teddy Radenkov <notifications@github.com>
wrote:

[2017-02-26 02:07] radencode commented on #5267
@thesbros Yeah I am running into the same problem. What if we just update the WM_GETMINMAXINFO params to (0,0) and that will override the defaults which are pushing the window under the task bar?

[2017-02-26 02:11] thesbros commented on #5267
@radencode I tried that too - but it still has the borders. The only way to get rid of the borders is removing all of the `WS_` styles, but then we lose animations, etc.

[2017-02-26 02:14] roypardi opened #8774 "Electron Helper[56264] <Error>: CGAffineTransformInvert: singular matrix."
I'm getting this error when trying to use [SCEditor](http://www.sceditor.com) on the main index.html in an Electron project. I am seeing some bad effects: the SCEditor instance not sizing properly. A barebones implementation is below. It triggers the error – though not the sizing problems – that comes about when embedding SCEditor through another lib: [json-editor](https://github.com/jdorn/json-ed

[2017-02-26 02:15] radencode commented on #5267
@thesbros Yeah I thought so too, that would be the same as doing thickFrame: false in the window constructor. Which fixes everything but we lose the animations. The curse app works just fine and it's built on electron so there is gotta be a way.

[2017-02-26 02:16] roypardi commented on #8774
Seems to be resolved in Electron 1.6.1

[2017-02-26 02:16] #8774 closed

[2017-02-26 06:17] nayanbhana commented on #2357
Did the fix for this ever good pushed?

[2017-02-26 06:41] MarshallOfSound commented on #8734
I believe this is a duplicate of #5362

[2017-02-26 06:41] #8734 closed

[2017-02-26 06:47] MarshallOfSound commented on #8489
I tested on both `1.4.13` and `1.6.0` and I can't reproduce this issue.

I tried both super long webpages and simply duplicating the default Electron apps content 100 times and printing that.  Both cases successfully printed on Windows 10 3 times in a row.  I quickly tried a Windows 7 VM and it appeared to work as well (could only print to PDF in the VM).

Can you possibly provide an exact HTML pa

[2017-02-26 07:24] nazar-pc commented on #2727
My issue with gconf2 is also that it is only required by single Electron-based app I'm using.
Since I'm not working with Electron, can anyone quickly suggest if it is possible to somehow build an Electron-based app without gconf and without hacking with Electron's sources?
An app I'm talking about is [Cerebro](https://github.com/KELiON/cerebro)

[2017-02-26 14:31] manojvignesh commented on #8466
I had the same problem. I fixed it by removing all the folders that starts with the name **electorn** (around 5 were there) and ran npm install with verbose flag. `npm i --verbose` . Then it showed progress bar for electron binaries download and downloaded fine. It's mostly because of bad internet connection. yes, i was on a connection of 150kbps.

[2017-02-26 15:36] juturu commented on #8541
@groundwater thanks for looking into this. We investigated into this further and think this could be getting fixed by [PR 8679](https://github.com/electron/electron/pull/8679). We are validating the fix to see if this hits go down. Resolving till we get more data back.

[2017-02-26 15:36] #8541 closed

[2017-02-26 15:42] juturu opened #8776 "Access violation at node!v8::internal::Heap::isolate"
See AV at  node!v8::internal::Heap::isolate. Any ideas why this could be happening?

* Electron version: 1.3.6
* Operating system: Windows 7

### Actual behavior
Crash Stack
`00 (Inline) -------- node!v8::internal::Heap::isolate
01 (Inline) -------- node!v8::internal::HeapObject::GetIsolate+0x7
02 (Inline) -------- node!v8::?A0x17168664::ContextFromHeapObject+0xb
03 002cf6bc 6a2aee61 node!v8::Obje

[2017-02-26 17:12] black-snow commented on #6747
async/await has now landed in v8 (https://v8project.blogspot.de/2016/10/v8-release-55.html)

[2017-02-26 19:38] radencode commented on #5267
@thesbros @adi518  Anybody get any progress?

[2017-02-26 19:55] myfrndjk opened #8777 "Option to set webrtc ip handling policy"
Hi,

Electron web-view is leaking original IP through webRTC even though we are in VPN/Proxy

Do we have option to disable that in electron, brave is already doing this
https://github.com/brave/browser-laptop/commit/653e4db649c1e96e55f5b2c80a60f5db49b10cb3#diff-b95013a7d2996f174fdafb3bb3cfd7cb

Third party Add-ons are blocking webrtc  by accessing this API
chrome.privacy.network.webRTCIPHandlingPo

[2017-02-26 20:53] arg20 commented on #6747
@kevinsawicki node v7.6 now uses v8 v5.5, is there any change required in electron before we can use it?

[2017-02-26 21:10] littleskunk opened #8778 "Developer console error output is confusing"
* Electron version: 1.6.1
* Operating system: Windows 10 64bit running a 32bit binary

### Expected behavior

Our app is throwing errors at the moment. These errors have a low priority and will not be fixed soon.

Electron 1.4.15 has a very good developer console. Each error is only 1 line and I can click on it if I would like to see more details. I am able to find any unknown error.
![electron_1

[2017-02-26 21:12] groundwater commented on #8776
Hi @juturu. Are you able to reproduce this crash on the latest stable build, `1.4.15`? Try `npm install electron@1.4.15`.

[2017-02-26 21:49] ajasja opened #8779 "Local Jupyter Notebook server not loaded correctly"
* Electron version: v1.4.15
* Operating system: Win7 64 bit

### Expected behavior

There is a problem connecting to a local jupyter notebook server using electron.

### Actual behavior

Blank window appears

### How to reproduce

Start jupyter notebook server: `jupyter notebook`
This sets up a server at http://localhost:8888/. Try to connect to this address from electron.
`electron http://localho

[2017-02-26 21:55] ajasja commented on #8779
Additional info: using the developer tools I get two errors when loading http://localhost:8888/:
![image](https://cloud.githubusercontent.com/assets/19926/23344084/769b9c50-fc76-11e6-8361-8cc1fdad9ff3.png)

[2017-02-26 22:04] dogancelik commented on #8637
You can produce this with or without a **component/tray** so I believe it's a **BrowserWindow bug**.
Updated example with full code.
I will be happy if you can take a look @zcbenz

[2017-02-26 22:19] YurySolovyov commented on #8767
Also, can you try writing the buffer to file and opening it in some image viewer?

[2017-02-27 01:36] sidneys commented on #8532
Electron: 1.4.15
OS: Ubuntu 16.10

@zeke @jas99
I have the same exact problem, no transparency, and no frames disposing.

[2017-02-27 01:42] groundwater commented on #8779
Hi @ajasja. You may want to look at disabling node integration in your browser window here http://electron.atom.io/docs/faq/#i-can-not-use-jqueryrequirejsmeteorangularjs-in-electron.

It sounds like `require` is overloaded between node and Jupyter.

[2017-02-27 01:45] MarshallOfSound commented on #8778
@littleskunk I believe that this depends on whether the devtools are open or not while the errors occur, also this would be a Chromium change not an Electron change.  Will defer to others for confirmation of that theory 👍

[2017-02-27 01:48] MarshallOfSound opened #8780 "Callback registry throwing weird errors on 1.4.12"
* Electron version: 1.4.12
* Operating system: macOS

### Expected behavior

No errors 😆

### Actual behavior

Lot's of funky errors like so.

<img width="552" alt="screen shot 2017-02-27 at 12 46 09 pm" src="https://cloud.githubusercontent.com/assets/6634592/23346055/f731c99c-fcea-11e6-917d-7056ce7d46e7.png">
<img width="554" alt="screen shot 2017-02-27 at 12 46 25 pm" src="https://cloud.githubus

[2017-02-27 01:49] MarshallOfSound commented on #8780
Initial investigation shows some kind of `close` event is being emitted on a stream across processes (I'm not aware that I'm doing that so I don't know what's going on).

[2017-02-27 01:57] MarshallOfSound commented on #8780
DevTron appears to show that a buffer is being streamed through IPC :confused:

<img width="1310" alt="screen shot 2017-02-27 at 12 52 40 pm" src="https://cloud.githubusercontent.com/assets/6634592/23346156/be83496c-fceb-11e6-9c05-eeb58be31867.png">

[2017-02-27 03:46] wenshiqi0 opened #8781 "Blink features url is changed. Electron website needs to be updated."
* Electron version:
1.4.15
* Operating system:
mac osx

### Actual behavior

the wrong url is https://cs.chromium.org/chromium/src/third_party/WebKit/Source/platform/RuntimeEnabledFeatures.in.

It is under http://electron.atom.io/docs/api/browser-window

### How to reproduce

the correct url is https://cs.chromium.org/chromium/src/third_party/WebKit/Source/platform/RuntimeEnabledFeatures.json5

[2017-02-27 04:05] thesbros commented on #8728
This seems to be caused by PR #8404. Reverting that PR (170f2f61f9be92ecf16dba54113d840730400199) fixes the page getting cut off.

cc/ @bsclifton

[2017-02-27 04:34] MarshallOfSound commented on #8781
@wenshiqi0 Could you submit a quick PR for this, should be a simple edit 👍 Thanks for pointing this out

[2017-02-27 04:35] thesbros commented on #8781
@MarshallOfSound Oh, I just did :)

[2017-02-27 04:51] radencode commented on #8728
@thesbros does that work for you?

[2017-02-27 07:16] zcbenz commented on #8658
This looks like a Chromium issue, I'm not sure whether we can fix this on Electron's side.

[2017-02-27 07:20] ci42 commented on #8489
@MarshallOfSound
Thanks for looking into this.

Did you print all pages or only a subset? The issue only occurs when you try to print only a subset of all pages, e.g. `2,4,7`.

![screen shot 2017-02-27 at 08 19 15](https://cloud.githubusercontent.com/assets/1443089/23352094/86d1a264-fcc5-11e6-8513-5d78d9e400c5.png)

[2017-02-27 07:22] MarshallOfSound commented on #8489
I tried `1-3, 4` and `1, 4` and `4` to test allscenarios

[2017-02-27 07:22] zcbenz commented on #8647
The API may load from the extension's source code directly, which does not have an ID available. We should also support using real extension ID as hostname when there is one.

[2017-02-27 07:24] littleskunk commented on #8778
Chrome version 56.0.2924.87
I don't know which chrome version electron 1.4.15 was working.

Closed or open developer console has no effect. In both cases the same confusing output.

[2017-02-27 07:25] zcbenz commented on #8494
I don't think there is any way to implement it alone in Electron, I'm closing the since there is already a Chromium issue tracking this.

[2017-02-27 07:25] #8494 closed

[2017-02-27 07:32] zcbenz commented on #8476
I'm closing this because it is a limitation [explicitly documented](http://electron.atom.io/docs/tutorial/application-packaging/#executing-binaries-inside-asar-archive). You can find more background at https://github.com/electron/electron/issues/3512.

[2017-02-27 07:32] #8476 closed

[2017-02-27 07:36] ci42 commented on #8489
@MarshallOfSound
Ok, I'll try to provide a minimal test application.

[2017-02-27 08:49] bsclifton commented on #8728
@thesbros the change in https://github.com/electron/electron/pull/8404 is needed for > 100% DPI because otherwise the coordinates aren't scaled properly. If reverted, you'll see a white or gray borders at 200% DPI

I believe the root cause for the issue reported here is captured with https://github.com/electron/electron/issues/4045 (specifically, a similar issue was reported with https://github.co

[2017-02-27 08:54] adi518 commented on #8728
Actually, I gave it to a friend the other day, who happens to run Win7 and he experienced the same issue.

[2017-02-27 08:55] thesbros commented on #8728
@bsclifton I understand what the fix is needed for - but arguably 100% DPI is the most common setup. Is this just blocked on #4045 then?

I can spin up a W7 VM later, but @adi518 says it still exists on 7.

[2017-02-27 09:03] bsclifton commented on #8728
@thesbros I don't see any comment by @adi518 about problem existing on Win7.  However, I tried it on my VM and confirmed the issue exists
![screen shot 2017-02-27 at 2 01 34 am](https://cloud.githubusercontent.com/assets/4733304/23355000/e4fe5132-fc90-11e6-9902-4b3213d27aae.png)

[2017-02-27 09:09] adi518 commented on #8728
Yes, it definitely happens with Win7.

[2017-02-27 09:28] ci42 commented on #8489
@MarshallOfSound
I made a minimal test application: https://github.com/ci42/electron-issue-8489-sample-app

Detailed instructions how to reproduce the issue:

1. clone the repo
![screen shot 2017-02-27 at 10 08 25](https://cloud.githubusercontent.com/assets/1443089/23355437/f331a5a2-fcd5-11e6-88fc-f28a85539910.png)

2. install electron ( `npm install`)
![screen shot 2017-02-27 at 10 11 27](https:/

[2017-02-27 09:32] weihong1028 opened #8784 "I want to use the chrome native shortcuts "alt+r" to refresh devtool. How can I do?"
I can use "alt+r" in my chrome app.But it's not work in electron app.
And the chrome version is consistent.

[2017-02-27 09:34] weihong1028 commented on #8784
I can use "alt+r" in my chrome app.But it's not work in electron app.

[2017-02-27 09:43] tonyganch commented on #8454
I've git-bisected the repo to see that the line causing the issue is this one:
https://github.com/electron/electron/blob/master/atom/browser/ui/win/atom_desktop_window_tree_host_win.cc#L33

When I remove that, windows with both `frame: false` and `frame: true` behave okay on my Windows 10 machine.
I see that it's been added in this commit (https://github.com/electron/electron/commit/9e0547b98f8b7f

[2017-02-27 10:06] AmbrielLi opened #8785 "The video of the desktop that captured by using DesktopCapturer is freezed after switch to another user then switch back"
The video of the desktop that captured by using DesktopCapturer is freezed after switch to another user then switch back

* Electron version: 1.4
* Operating system: win10

### Expected behavior

video should keep playing.

### Actual behavior

video is freeze.

### How to reproduce
1. launch app that capture desktop using DesktopCapturer.
2. switch to another user
3, switch back
4. video is freez

[2017-02-27 12:15] HitomiTenshi commented on #8454
@tonyganch I made you a PR for easier project setup, please accept it.

This issue is still bothering me with `electron v1.6.1`, I would be glad if this issue finally gets fixed.

[2017-02-27 14:14] codekiln commented on #8647
It may be possible to compute the extension id from the crx bundle; see this
code
<https://github.com/shyiko/node-chrome-extension-id/blob/master/src/index.js>
from the chrome-extension-id
<https://www.npmjs.com/package/chrome-extension-id> npm package.

On Mon, Feb 27, 2017 at 2:23 AM, Cheng Zhao <notifications@github.com>
wrote:

[2017-02-27 15:12] wenshiqi0 commented on #8784
Without code, no one can understand. I guess you may not register the shortcuts.
By default electron.app will do this for you, unless you do cover the default menu.
Then you need to register these shortcuts by yourself.

The api is here http://electron.atom.io/docs/api/accelerator/

[2017-02-27 16:41] rikkertkoppes opened #8788 "printToPDF causes window size changes"
* Electron version: 1.4.13
* Operating system: win 7 64 bit

### Expected behavior

prntToPDF should not have any visible side effects

### Actual behavior

When I printToPDF, the window briefly shrinks to the print page size (539px in my case). This causes css changes if there are media queries, which may be visible if transitions are involved. It also triggers mediaquery event.

### How to repro

[2017-02-27 16:47] kevinsawicki commented on #6747
Electron 1.6.x includes v8 v5.6 so native async/await is now supported.

[2017-02-27 16:53] #8781 closed

[2017-02-27 16:58] radencode commented on #8728
@bsclifton @adi518 @thesbros So is there a fix for the oversized window on maximized state? I've been playing around with it for a while and can't find a solution for it.

[2017-02-27 17:11] karacas commented on #8767
[electron_test_getIcon.zip](https://github.com/electron/electron/files/804406/electron_test_getIcon.zip)
![electron_test_geticon](https://cloud.githubusercontent.com/assets/1050937/23371332/8a806b30-fcf6-11e6-9b4a-a9347a5dfd71.png)

[code]

[2017-02-27 17:15] YurySolovyov commented on #8767
@karacas can you also attach `"d:\\tmp\\ColorCop.exe"` ?

[2017-02-27 17:17] karacas commented on #8767
[ColorCop.zip](https://github.com/electron/electron/files/804422/ColorCop.zip)

[2017-02-27 19:00] OutsourcedGuru commented on #4944
I've read the suggestions here about babel-register and the related bug.  It was mentioned that the spawned process eventually exits after 30 seconds but I'm not finding this.

* Run "electron.exe"
![threeprocesses](https://cloud.githubusercontent.com/assets/15971213/23374864/e88038a8-fcda-11e6-89ff-902f5c05ae91.png)
* Close the application
* At this point, the command prompt hasn't returned.
![th

[2017-02-27 19:23] sklink commented on #8530
Yes, 1.6.1 still has the same issue.

A couple interesting things I noticed this time around--although it is consistent with what I experienced on `v1.4.15`

Here's a video. ***Note:** When the recording goes black, I've changed application focus by clicking on either the Electron app (the black box on the left) or the Dota 2 interface.*

https://drive.google.com/open?id=0B6Wu2okZpithd05zbl9tLXQtY

[2017-02-27 19:33] adi518 commented on #8728
Unfortunately, nothing yet. Apparently this issue was caused by a commit fixing another issue, some weeks ago. I hope @bsclifton could come up with something, otherwise Electron frame-less functionality is pretty much broken for everyone.

[2017-02-27 20:45] Kangaroux opened #8789 "Window height is not calculated correctly when menu is set to null"
Windows 10
Electron version: 1.4.15
Node version: 6.9.5

## The problem
Removing a window's menu when `useContentSize == true` leaves whitespace at the bottom of the window, equal to the menu's height (window does not shrink vertically to remove menu height)

## How to reproduce
Create a window with `useContentSize: true` and then call `win.setMenu(null)` (before loading your HTML page). Note the

[2017-02-27 21:14] radencode commented on #8728
Yeah I guess we wait and try to figure it out.
On Mon, Feb 27, 2017 at 11:34 AM adi518 <notifications@github.com> wrote:

[2017-02-27 21:51] samkelly opened #8790 "constant renderer process CPU usage only on Windows"
* Electron version: v1.4.15
* Operating system: Windows 10 pro (via VirtualBox)

### Expected behavior
My electron window should use next to no CPU usage when it is sitting there with nothing happening, as is the case on OSX and Ubuntu.

### Actual behavior
On Windows, the Electron renderer process and (strangely enough) the Desktop Window Management process both use a constant ~30% CPU.

### How

[2017-02-27 21:56] Kangaroux commented on #8789
Added a workaround

[2017-02-27 22:01] samkelly commented on #8790
The same app, running on Ubuntu Linux:

![screenshot from 2017-02-27 17 01 09](https://cloud.githubusercontent.com/assets/1855021/23381944/687fc946-fd0e-11e6-8731-8cec27a65b61.png)

[2017-02-27 22:06] samkelly commented on #8790
I seem to have answered my own question. In particular, this issue is fixed by manually specifying `--enable-transparent-visuals --disable-gpu` when launching electron, and has to do with some issues with translucent visuals. Closing :)

[2017-02-27 22:06] #8790 closed

[2017-02-27 22:10] samkelly commented on #8790
note: I have renamed the issue to avoid misleading other people into thinking this is an OS-specific issue

[2017-02-27 22:23] paulcbetts opened #8791 "Heap Snapshots crash when attempting to create"
* Electron version: 1.6.1, on both macOS and Windows

The following code seems to crash any renderer process hard on apps I've tested on (Slack Desktop, unreleased project X):

[code]

https://github.com/enlight/v8-profiler seems to have a similar effect when trying to take a heap snapshot as well.

[2017-02-27 22:34] bsclifton commented on #8728
@adi518 @radarhere Part of the problem is that when a window is maximized, Windows sets the X/Y to the negative frame width/height.  For example, I believe on Windows 10, it was -7/-7.

One possible work-around, which I [captured here](https://github.com/electron/electron/issues/5267#issuecomment-272607225) would be to manually override the min/max properties.  An alternative to that would be to p

[2017-02-27 22:42] bsclifton commented on #8728
BTW: Spy++ is a great tool to use for debugging- you can find the HWND and see the bounds yourself

[2017-02-27 22:45] radencode commented on #8728
@bsclifton Yes but when we override the bounds to (0,0) then we get a white border around our frameless window and to get rid of that we need to remove the styles from thickframe which causes all of the animations to be lost. Therefore we are stuck at a dead end?!

[2017-02-27 22:46] thesbros commented on #8728
@bsclifton I did the `MINMAXINFO` override in #8782 - but that only fixes #5267, not this issue.

[2017-02-27 22:55] bsclifton commented on #8728
@radencode can you share a screenshot of the white borders? this sounds like the real issue

[2017-02-27 22:58] radencode commented on #8728
@bsclifton Yes I can do that but I am currently at work. I will share it as
soon as I get home.
On Mon, Feb 27, 2017 at 2:56 PM Brian Clifton <notifications@github.com>
wrote:

[2017-02-28 00:03] groundwater commented on #8780
Any chance I can assign this to you?  😁

[2017-02-28 00:07] groundwater commented on #8784
Hi @weihong1028.

I think @wenshiqi0 is correct, and I will close this.

If you have another error, you can re-open it. Please include enough information for us to reproduce the same error. For example, what code are you running?

[2017-02-28 00:07] #8784 closed

[2017-02-28 00:08] groundwater commented on #8785
Hi @AmbrielLi. Can you provide a link to the app?

[2017-02-28 00:10] groundwater commented on #8788
Hi @rikkertkoppes. Thanks for diagnosing this. That sounds pretty undesirable.

I would be curious if this still happens in the latest stable `1.4.15` and the beta `1.6.1`. There have been lots of Chromium updates, and sometimes we get fixes for free just by updating.

[2017-02-28 00:13] groundwater commented on #8789
Hi @Kangaroux what OS and version are you running?

[2017-02-28 00:54] weihong1028 commented on #8784
Thanks, I'll try it later.

[2017-02-28 00:57] taoqf commented on #562
Good news

[2017-02-28 01:56] AmbrielLi commented on #8785
Sorry, It's not in the public repo, here is the code I using DesktopCapturer to get the Video.
Functions:
`getScreen: (id, resolution) => {
    return new Promise((resolve, reject) => {
      let w = resolution.width;
      let h = resolution.height;

      const screenConstraints = {
        audio: false,
        video: {
          mandatory: {
            chromeMediaSource: 'desktop',

[2017-02-28 01:56] #8785 closed

[2017-02-28 02:56] badams commented on #7977
I'm having the same issue on MacOS with the following code
[code]

Clicking cancel the first time works (most of the time) clicking cancel subsequent time closed the app.

[2017-02-28 03:40] Kangaroux commented on #8789
@groundwater Windows 10, updated OP with versions

[2017-02-28 04:31] radencode commented on #8728
![border2](https://cloud.githubusercontent.com/assets/25285792/23391604/16674284-fd2b-11e6-8012-c31616785579.jpg)
![border](https://cloud.githubusercontent.com/assets/25285792/23391605/1a311ffc-fd2b-11e6-9a0c-9a9f79da144e.jpg)

@bsclifton Here is the screen shot of the white border. I no longer have the code because it did not fix my issue and I overrode it with other tests. @thesbros tested this

[2017-02-28 05:00] upicik commented on #6219
@adriatic I'd really like to help you in this, if it is still open issue

[2017-02-28 05:45] upicik commented on #8362
On Windows 7(Intel Core i-5 processor) the simple electron window displaying "Hello World" takes:
Commit(KB), Working Set(KB), Shareable(KB), Private(KB)(respectively):
![1](https://cloud.githubusercontent.com/assets/13974245/23393185/4f0b2e2c-fdab-11e6-9465-50ad99fbab81.png)

@kevinsawicki @MrMashy   Is it what is need to be included in documentation? This kind of information on every platform?

[2017-02-28 06:51] rikkertkoppes commented on #8788
1.4.15: still a problem ("5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Electron/1.4.15 Safari/537.36")
1.6.1: still a problem ("5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Electron/1.6.1 Safari/537.36")

[2017-02-28 09:13] bsclifton commented on #8728
@radencode here's an example you can try to get more info (I don't have electron compiled and ready to test at the moment unfortunately and it's already 2am)

[code]

In `WM_GETMINMAXINFO`, I used the same calculations which Chromium uses so this should be accurate (see `ui/views/win/hwnd_message_handler.cc` in Chromium 54 or newer)

In `WM_WINDOWPOSCHANGING`, I just show how you can log the param

[2017-02-28 09:24] thesbros commented on #8728
@bsclifton It fixes the monitor overflow issue for me - but still not this issue. Does it require changing the x/y/cx/cy values to fix that?

[2017-02-28 10:21] pronebird opened #8793 "Disable zoom"
* Electron version: 1.6.1
* Operating system: macOS

I am still able to zoom electron app with hotkeys or pinch to zoom on macOS.

All of the following below is broken:

[code]

Related issue: #3609

### Expected behavior

Zoom should be entirely blocked

### Actual behavior

Zoom works

### How to reproduce

Add the following snippet in your electron app:

[code]

Now try zooming with pinch and h

[2017-02-28 10:29] pronebird commented on #8730
I have `frame` disabled and `cursor:pointer` works on any element in HTML. (Electron@beta 1.6.1)

[2017-02-28 10:32] pronebird commented on #8706
Works on macOS Electron 1.6.1

[2017-02-28 10:43] uinz commented on #4554
@geeeeeeeeek did you resolve it?

[2017-02-28 10:44] pronebird commented on #8751
It's strange that you show pre-release builds on `electron.atom.io`. I mistakenly thought that 1.6.1 is stable.

[2017-02-28 10:52] MarshallOfSound commented on #8751
@pronebird I believe that was fixed in https://github.com/electron/electron.atom.io/pull/673 though it isn't applied retroactively

[2017-02-28 11:20] black-snow commented on #6747
Awesome!

[2017-02-28 12:06] ajasja commented on #8779
@groundwater Thanks, using
[code]

indeed solved the problem.

[2017-02-28 12:06] #8779 closed

[2017-02-28 14:53] sklink commented on #8530
Forgot another one:

* The application is running in Borderless Window mode. This error only occurs when the resolution of Dota matches the resolution of Windows. If Dota is smaller than the desktop, the application, alwaysOnTop works as expected.

[2017-02-28 15:34] tex0l commented on #8793
Seeing this too on 1.4.15

[2017-02-28 15:51] arantes555 commented on #8793
Found a workaround, at least for pinch-to-zoom on 1.4.15 :
[code]
(found on http://stackoverflow.com/questions/29929411/disable-pinch-zoom-in-webkit-or-electron#29994607 )

[2017-02-28 15:56] adriatic commented on #6219
@upicik while this is still open issue, you should realize, only two people responded with interest in 8 months since this issue was created. I am already leading two projects with one or two team members and simply to not have the time for another such effort 😏

[2017-02-28 16:16] kevinsawicki commented on #8706
I think this may have been an issue with the body tag having no content so it wasn't selectable to be dragged.

Closing this out for now, @salmazov please comment if you still can reproduce this with the example CSS I provided, thanks.

[2017-02-28 16:16] #8706 closed

[2017-02-28 16:20] bsclifton commented on #8728
@thesbros very likely it may- needs to be tested.  I might have time later today

[2017-02-28 16:23] davej opened #8794 "Webview in message dialog box"
This is a feature request. I would like to be able to add webviews to a message dialog box so that I can achieve something similar to screenshot below.

![image](https://cloud.githubusercontent.com/assets/26971/23413897/1093e158-fdd2-11e6-9e29-ac14675746ac.png)

* Electron version: v1.4.15

[2017-02-28 16:45] #8622 closed

[2017-02-28 17:17] inukshuk opened #8796 "systemPreferences.subscribeNotification not triggered"
* Electron version: 1.6.1
* Operating system: macOS 10.11.6

### Expected behavior

I can't seem to receive any system preference notifications on Electron 1.6.1. For example, given something like this:

         const id = systemPreferences.subscribeNotification(
           'AppleShowScrollBarsSettingChanged', () => {
              this.broadcast('scrollbars', !hasOverlayScrollBars())

[2017-02-28 17:31] serant commented on #8362
@MrMashy I don't think it would be best to do this with a completely empty application i.e. just a blank index.js file. When I did this I only saw around 40 MB of RAM being used on macOS however the electron-quick-start app uses just under 256 MB.

[2017-02-28 17:55] fuermosi777 commented on #4637
just curious why this issue hasn't attract enough attention as it is such an important one

[2017-02-28 18:00] tonyganch commented on #8778
I believe this is not Electron's issue.
For reference, here is the commit in Chromium that changed appearance of errors in console:
https://codereview.chromium.org/2284123002
And here is the corresponding bug:
https://bugs.chromium.org/p/chromium/issues/detail?id=610559

What `console.error` does is basically concatenates two objects (string and error in your case) and highlights it with red.
What

[2017-02-28 18:10] tonyganch commented on #8778
To reproduce the behaviour mentioned in this issue, log a string and an error in one `console.error` call:
[code]

[2017-02-28 18:22] tyduptyler13 opened #8797 "Electron npm install AND node-gyp builds timeout on link"
Electron install is timing out due to the download url. I believe this is the case for all versions.

Ex: https://atom.io/download/electron/v1.4.15/iojs-v1.4.15.tar.gz

* Electron version: (none, can't get it installed)
* Operating system: Windows
* Method: Node and browser

### Expected behavior

I expect to get electron installed via `npm install -g electron`

I also expect `node-gyp configure -

[2017-02-28 18:36] kevinsawicki commented on #8797
Sorry about this, it is due to S3 being down, https://status.aws.amazon.com/

https://twitter.com/githubstatus/status/836637202683678720

Will leave this open until it is resolved.

[2017-02-28 19:13] tonyganch commented on #8728
Hi guys, I think this issue is a duplicate of #8454.
Copy-pasting my comment from there just in case:

I've git-bisected the repo to see that the line causing the issue is this one:
https://github.com/electron/electron/blob/master/atom/browser/ui/win/atom_desktop_window_tree_host_win.cc#L33

When I remove that, windows with both `frame: false` and `frame: true` behave okay on my Windows 10 machine

[2017-02-28 19:31] tyduptyler13 commented on #8797
Cool. Thanks!

[2017-02-28 20:04] rafadsm20 opened #8798 "Build Windows 7 Problem"
I'm using the latest version available for the electron
I am using Windows 7 Ultimate (x64)
I follow the build tutoria inl website: [build-instructions-windows](https://electron.atom.io/docs/development/build-instructions-windows) , but I could not build

I tried with Cygwin and Windows Terminal, but I have the same mistakes

Image: [here](https://www.imageupload.co.uk/images/2017/02/28/e.e.png)

[2017-02-28 20:13] etyp commented on #7351
Sorry for the delay @kevinsawicki

On BrowserWindow instance, we use the `webPreferences.preload` option like so to avoid conflicting `require` statements:

[code]

Where preload.js is:

[code]

And then on the renderer process (our web app), we define a Desktop object which hold references to select Electron modules like remote:

[code]

Finally, we have an interval that calls this function with

[2017-02-28 21:24] callodacity commented on #4637
@fuermosi777 I don't know, it's definitely essential for some `mas` apps!

In the meantime I've written a module [`electron-bookmarks`](https://www.npmjs.com/package/electron-bookmarks) that has support for `app-scoped` bookmarks only. I'm planning on adding support for `document-scoped` bookmarks but it seems a little tricky.

**Please note** however, that this module uses `nodobjc` to bridge to

[2017-02-28 21:57] tonyganch commented on #8730
I am able to reproduce it on `master` with macOS 10.12.3.
Looks like a duplicate of #7696.

[2017-02-28 22:18] pushkin- commented on #856
I don't quite understand how this solves the problem. `sendToHost` sends a message to the webview, not the renderer, right? Is there a way to send messages directly from the preload script to the renderer process (specifically the renderer process that "surrounds" the webview from which you're sending the message)?

[2017-02-28 23:11] tyduptyler13 commented on #8797
Looks like amazon resolved the issue.

[2017-02-28 23:11] #8797 closed

[2017-02-28 23:13] bsclifton commented on #8728
@tonyganch you're welcome to submit a PR which reverts https://github.com/electron/electron/commit/9e0547b98f8b7f3a572aa1cf9770f434c8fdeed9

I work with Brave and we maintain a fork of Electron.  This patch was required for us starting with Chromium 54 to get rid of a solid white ~7px border around all edges of the screen for folks with larger than 100% DPI.  By returning an inset of 0, you're tel

[2017-03-01 01:02] brenca commented on #8599
After some digging, this seems to be something I can only solve with a libchromiumcontent patch ([these ](https://bitbucket.org/chromiumembedded/cef/src/178f101bfb329843ad1c16f2da4cbc575ecd3288/patch/patches/browser_plugin_guest_1565.patch?at=2924&fileviewer=file-view-default#browser_plugin_guest_1565.patch-142)lines are missing in the current state). Working on a fix.

[2017-03-01 02:12] hackjutsu commented on #4637
+1

[2017-03-01 02:21] thesbros commented on #8728
@adi518 Would you mind trying out [this build?](https://github.com/thesbros/electron/releases/download/v1.6.1/R.zip)

@bsclifton I fixed the issue with [this patch](https://github.com/thesbros/electron/commit/f0ea66582ac4ebeae240660a4c60ce63f2464d18), but it causes the edges of the page to be cut off with DPI > 100%. Could you give any pointers on how to fix that?

[2017-03-01 04:39] MrMashy commented on #8362
@serant Well somebody stated that that it varies on available ram & such, so it's probably not practical to include ram usage in the quick start docs, BUT what I do want in the docs section is to know how minimal ram you would require for the app to work. (like could it run on a raspberry PI etc)

[2017-03-01 05:40] mcc108 commented on #5723
When will the problem be solved?

[2017-03-01 11:03] pronebird commented on #8730
@tonyganch can you reproduce that without dev tools open?

[2017-03-01 11:04] tonyganch commented on #8730
@pronebird, yep, I didn't have devtools open at all.

[2017-03-01 11:06] tonyganch commented on #8730
There is a small area at the very top of the window, about 10 pixels high, that doesn't react to any hovers/clicks. The first "look at me" div just happens to be at the top, so it's visibly affected. If you add `margin-top: 100px` or just `cursor: pointer` to the whole `body`, then you see the issue.

[2017-03-01 11:08] enlight commented on #856
@pushkin- While the `ipc-message` handler is attached to the `webview` element, the event handler is actually executed in the renderer process in which the webview is embedded, as can be seen in the example: https://electron.atom.io/docs/api/webview-tag/#event-ipc-message

[2017-03-01 11:21] deffwe commented on #6769
i update to the latest version, but the error still exists, exactly like @gautambt pasted.

[2017-03-01 11:39] tonyganch commented on #8730
May be related to #5723.

[2017-03-01 11:44] adi518 commented on #8728
@thesbros I'm glad to report your build fixes this issue.

[2017-03-01 11:49] thesbros commented on #8728
@adi518 Great! I will be submitting a PR as soon as I fix the DPI issue.

[2017-03-01 12:20] rikkertkoppes commented on #8788
Just noticed that this is also a thing if you just actuall print (using window.print())

[2017-03-01 12:46] jingyu9575 opened #8802 "`fetch` in preload script with context isolation crashes"
* Electron version: 1.6.1
* Operating system: openSUSE Leap 42.2 (Linux 4.4.49, x86-64); also reproducible on Windows Server 2016 14393.

### Expected behavior

In BrowserWindow or webview with context isolation enabled, calling `fetch` in preload script should work.

### Actual behavior

The page crashes and becomes blank. Devtools shows "Devtools was disconnected from the page".

### How to repr

[2017-03-01 12:55] pannous commented on #6539
Using webassembly should somehow be possible by now, right?

[2017-03-01 13:42] Srivatsa-M-Hegde commented on #4068
@raleksandar in the snippet taken from the code you have given above:-
document.body.addEventListener('contextmenu', (e) => {
    e.preventDefault();
    e.stopPropagation();

    let node = e.target;

    while (node) {
        if (node.nodeName.match(/^(input|textarea)$/i) || node.isContentEditable) {
            InputMenu.popup(remote.getCurrentWindow());
            break;
        }
        no

[2017-03-01 15:11] pushkin- commented on #856
@enlight If I put a webview in a browser window, won't the webview be in its own renderer process as well as the window? So, you're saying it'll send the message to the outer renderer process, is that right? If I do `ipcRenderer.on("ping", ...)` in the index.js of that window as well as a `webview.addEventListener("ipc-message", ...)`, and then from the preload script do `ipcRenderer.sendToHost("p

[2017-03-01 15:14] Exelord opened #8803 "Ambient light sensor"
Hey,
Is it possible to access ambient light sensor on mac to determine the level of light? Of corse in the context of an electron because I want to implement a package for Atom which will relay on the level.

[2017-03-01 16:15] kevinsawicki commented on #8802
Thanks for reporting this with create details 👍

[2017-03-01 17:02] kevinsawicki commented on #8802
@jingyu9575 I've opened a pull request to address this in #8804, would you be able to try it out and see if it addresses the issue for you? Thanks.

[2017-03-01 18:52] baconface commented on #8362
Yes. To further elaborate on it the base usage for your machine won't be the same for me or someone else if our set ups are not close or the same. Chromium appears to allocate or throttle itself based on available resources. This allows it run on really low spec machines and take advantage of higher spec machines.

[2017-03-01 19:38] paul321 commented on #7351
We got the same problem when calling the function that is setting the badge icon from code

Uncaught (in promise) Error: Could not call remote function 'setOverlayIcon'. Check that the function signature is correct. Underlying error: Error processing argument at index 1, conversion failure from 6
Error: Could not call remote function 'setOverlayIcon'. Check that the function signature is correct.

[2017-03-01 19:40] felixrieseberg opened #8805 "process.windowsStore not set if Windows Store folder is moved"
In a recent update, Microsoft enabled a setting that allows users to move their `WindowsApps` folder. Since `process.windowsStore` checks the path of the current executable to set itself, that check fails if the folder is moved.

I'll fix this posthaste myself.

* Electron version: All
* Operating system: Windows

### Expected behavior
`process.windowsStore` is set correctly, even if the binary is

[2017-03-01 19:40] paul321 commented on #8205
We got this issue also when calling the function that is setting the badge icon from code

Uncaught (in promise) Error: Could not call remote function 'setOverlayIcon'. Check that the function signature is correct. Underlying error: Error processing argument at index 1, conversion failure from 6
Error: Could not call remote function 'setOverlayIcon'. Check that the function signature is correct. U

[2017-03-01 20:14] kevinsawicki commented on #8803
Looks like their are a couple node modules you can use to do this:

* https://www.npmjs.com/package/ambient-light
* https://www.npmjs.com/package/ambientlight

Closing this out.

[2017-03-01 20:14] #8803 closed

[2017-03-01 20:17] kevinsawicki commented on #8778
@tonyganch thanks for investigating this, closing this out since this is a deliberate behavior change in Chrome.

@littleskunk you may want to open a Chrome issue (or comment on the original) upstream to discuss this changed behavior.

[2017-03-01 20:17] #8778 closed

[2017-03-01 20:33] paul321 commented on #7351
i think there is a problem setting the badge and i think someone should create a new ticket, check this out:
http://stackoverflow.com/questions/41416052/nativeimage-not-working-in-setoverlayicon-in-electron

[2017-03-01 20:34] nabtron commented on #2570
Would like to know how whatsapp and slack protect their source code too

[2017-03-01 20:54] YurySolovyov commented on #8767
@karacas I was able to get the icon using the API, but you probably need to call `path.resolve` to get properly-formatted path on windows.

@kevinsawicki should we fix this in API, or just note in the docs?

![image](https://cloud.githubusercontent.com/assets/2168518/23480829/651fb414-feda-11e6-86e5-89fca41e3bdb.png)

[2017-03-01 20:56] paul321 commented on #7351
@etyp i found the error, if you send the text as an integer it's not working, and you will get that error, because in your  win.setOverlayIcon(img, text); the text var could be integer and this will break up and throw that error

[2017-03-01 21:00] kevinsawicki commented on #8767
I think the API, what was the difference between the two paths?

[2017-03-01 21:04] YurySolovyov commented on #8767
I think ATM we only do separators conversion, but really, we should call `path.resolve` or `path.normalize` on path strings. Need @karacas to confirm that it helps.

[2017-03-01 21:08] romaincointepas opened #8807 "app.commandLine.appendSwitch('ignore-gpu-blacklist') creates huge visual bug (even the devtools)"
* Electron version: 1.6.0, 1.6.1 and 1.6.2
* Operating system: OS X 10.9 Mavericks (inside a VM)

### Expected behavior

Using this command line switch doesn't create any bug with electron version 1.4.15, 1.5.0 or 1.5.1.

### Actual behavior

Screenshot of the bug running `electron-quick-start`:

<img width="1440" alt="screen shot 2017-03-02 at 4 57 24 am" src="https://cloud.githubusercontent.com/

[2017-03-01 21:09] karacas commented on #8767
@YurySolovyov my prj needs absolute paths.
I check in another machine and runs well, but in the first one not yet (same package-build / exe).
The doubt is why i can get
[code]
Anyway i will try path.resolve

[2017-03-01 21:19] YurySolovyov commented on #8767
Meaning you _do_ get expected icon and all that, right?

Makes me think it fails to decode png on that other machine for some reason.

[2017-03-01 21:25] karacas commented on #8767
yes, in second machine works fine.
I'll investigate further & comment. Maybe is a not a electron problem. thanks for the patience =)

[2017-03-01 21:59] jasonpoe commented on #8384
Any update @alespergl ?  Would love to see this make it in.

[2017-03-02 00:02] maxbrunsfeld opened #8809 "After upgrade to 1.4.x, dev tools window blocks for several seconds on load"
Atom is in the process of [upgrading from Electron 1.3.13 to 1.4.15](https://github.com/atom/atom/pull/12696). We're seeing a significant performance regression in the dev tools. They're unresponsive for a long time after loading a window.

* Electron version: 1.4.15
* Operating system: MacOS 10.12

### How to reproduce

1. Build [this branch](https://github.com/atom/atom/pull/12696) of Atom.
2. O

[2017-03-02 00:38] timfish commented on #1486
Its non trivial to add and only supported on Mac.

Check out the discussion [here](https://groups.google.com/a/chromium.org/forum/#!topic/input-dev/D_5vfmRAU_c) over why this hasn't been added to Chrome.

[2017-03-02 00:55] timfish commented on #1486
Btw, pinch-zoom events come through in electron as standard JavaScript `WheelEvent` with `ctrlKey` set to `true`

[2017-03-02 01:11] timfish commented on #8793
I can confirm this on 1.4.14. The deprecated `setZoomLevelLimits` still appears to work though.

[2017-03-02 01:40] jkleinsc commented on #8777
I would like to work on this issue.

[2017-03-02 01:52] jesusgalvan commented on #7476
@arkakkar How did you sign the Electron executable?

[2017-03-02 02:38] karacas commented on #8767
i can convert data from res.toBitmap() with https://gist.github.com/vukicevic/8112515 and works well:

[code]

![electron_test](https://cloud.githubusercontent.com/assets/1050937/23490484/942d9120-fed7-11e6-9c30-e8d09037d5bc.png)
[test_icon.zip](https://github.com/electron/electron/files/812609/test_icon.zip)
[code]

[2017-03-02 03:25] MrMashy commented on #8362
@baconface That's a perfect summary, I think that should be included in the docs.

[2017-03-02 03:29] jingyu9575 commented on #8802
It works. Thanks!

[2017-03-02 05:52] iidaapp opened #8810 "Are there any limitations of Web Speech API ?"
* Electron version: newest
* Operating system: Mac / Windows

Are there any limitations of Web Speach API ?
(upper limit per day, text size, and whatnot)

I want to use Web Speech API (especially speech synthesis) for reading text on BrowserWindow.
And I checked below links:
https://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html
https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_AP

[2017-03-02 08:34] anatoli26 opened #8812 "setBadgeCount has no effect on Ubuntu with Unity"
### Intro
`const bindings = process.atomBinding('app')`
`bindings.unityLauncherAvailable` doesn't exist. It looks like the code from b22ce93 (issue #4193) is not executed.

### Versions:
* Electron version: 1.6.1
* Operating system: Ubuntu 16.04

### Expected behavior

The app should set the badge on the launcher item for the app.

### Actual behavior

Nothing happens.

### How to reproduce

`elec

[2017-03-02 09:20] Matt3o12 commented on #8725
I have found a workaround for this bug:

There seems to be an issue with touch events. Sometimes they seem to get disabled for no apparent reason (maybe there is a bug in the driver or a bug in electron for some drivers). You can observe this behavior by listening to the events (touchend and mousedown). Normally, the touchend event is fired followed by a mousedown event. When this bug occurs, only

[2017-03-02 09:54] vhopinto86 commented on #8725
@Matt3o12 Unfortunately, as i said in the first post, that command line switch does not resolve this issue in my case, although it might be the solution for other people.

[2017-03-02 10:04] cumajkeee opened #8813 "navigator.geolocation.getCurrentPosition() call block UI on MacOS"
* Electron version: 1.6.1
* Operating system: MacOS Sierra 10.12.3 (16D32)

### Expected behavior
Async request not block UI

### Actual behavior
Async request completely block UI

### How to reproduce
navigator.geolocation.getCurrentPosition() call block UI on MacOS. On Windows everything works fine.
[geolocaiton block ui.zip](https://github.com/electron/electron/files/813394/geolocaiton.block.ui

[2017-03-02 10:24] enlight commented on #8813
Duplicate of #8754

[2017-03-02 10:24] #8813 closed

[2017-03-02 10:58] cumajkeee commented on #8754
Only on MacOS, Windows works fine.

[2017-03-02 11:17] timfish commented on #8810
You should probably set you own [google_api_key](https://electron.atom.io/docs/api/environment-variables/#google_api_key) as the default included in electron often gets 403 errors for too many requests.

[2017-03-02 11:23] pronebird opened #8814 "Service workers can't require() modules"
Service workers do not have `require` available. Is it a bug?

* Electron version: 1.6.0
* Operating system: macOS

### Expected behavior

service workers can include other libraries.

### Actual behavior

Well they can't

### How to reproduce

app.js

[code]

service.js:

[code]

[2017-03-02 11:25] tonyganch commented on #8814
As far as I know, service workers are registered in a browser on client side, the code is not processed with Node, so there is no `require` available, hence this is expected behaviour.

[2017-03-02 11:27] pronebird commented on #8814
@tonyganch so like service workers are different from code running in renderer which is able to require() anything it wants?

[2017-03-02 11:49] MarshallOfSound commented on #8814
@pronebird AFAIK node.js is not thread safe so it does not operate inside service workers.  @zcbenz might be able to explain this better 😆

[2017-03-02 12:56] nathansobo commented on #8809
It's also worth noting that inline source map generation was disabled at the time of that capture, and I inspected some of the calls to `addUISourceCode` via monkey patching to confirm to inline source maps were present in the sources it was being called with. Source maps were also disabled in the dev tools.

[2017-03-02 14:16] pronebird commented on #8814
OK I figured they use `importScripts` but it's not an alternative. I am closing this since I think it's limitation and is by design.

[2017-03-02 14:16] #8814 closed

[2017-03-02 16:47] pfrazee commented on #6712
A +1 to what @dregenor said. We need the webFrame (or similar) in the preload so that we can call `registerURLSchemeAsPrivileged`. (Correct me if I'm wrong, and there's somewhere else the call can be made.)

[2017-03-02 17:16] #8802 closed

[2017-03-02 17:59] groundwater commented on #8798
Hi @rafadsm20. Can you let us know what branch you're building from?

[2017-03-02 18:08] zeke commented on #8411
Hey @wraithan. Pretty sure this is not a regression, so I'm going to close this. Feel free to comment here if you're still having trouble.

[2017-03-02 18:08] #8411 closed

[2017-03-02 18:10] groundwater commented on #8810
I think @timfish's answer is 👍

[2017-03-02 18:10] #8810 closed

[2017-03-02 18:17] zeke commented on #8577
@willin I don't think it's possible to adjust the positioning of a MenuItem. To handle the `dev/prod` toggling option, you might consider using the `radio` type or a [`submenu`](https://electron.atom.io/docs/api/menu-item/).

There is not a way to add a popup with custom content as in your screenshot above. Your best option would be to open a BrowserWindow containing that content when the user cli

[2017-03-02 18:17] #8577 closed

[2017-03-02 18:18] zeke commented on #8594
Hi @Lcy-RITS, were you able to reproduce the problem using the steps I shared above?

[2017-03-02 18:18] zeke commented on #8677
Hi @Anaerin. Were you able to reproduce this issue with the code I shared above?

[2017-03-02 18:25] zeke commented on #8689
@pronebird I discussed this issue with the team last week. Here's what we came up with: For now, let's add a note to Electron's [Tray](https://electron.atom.io/docs/api/tray/) docs describing this scenario and link to your [NSEventMonitor](https://github.com/pronebird/NSEventMonitor) module as a workaround for those who need it.

Thinking more long term, @kevinsawicki suggested that it would be ni

[2017-03-02 18:29] zeke commented on #8708
@Spazer9 are you using multiple monitors? There's a PR in the works that may address the issue you're seeing: https://github.com/electron/electron/pull/8786

[2017-03-02 18:35] #8805 closed

[2017-03-02 18:36] timfish commented on #8793
@groundwater This is not macOS only btw.

<kbd>CTRL</kbd>+<kbd>-</kbd> and <kbd>CTRL</kbd>+<kbd>+</kbd> still zoom on Windows 10 with both `setZoomLevelLimits` and `setVisualZoomLevelLimits`

[2017-03-02 19:06] SebastianGuerreroCardenas commented on #4717
I am having this issue, but in the packaged version the main.js is still next to the the folder that I am trying to read into.

[2017-03-02 19:32] saenzramiro commented on #8771
Same here, my app [Rambox](https://github.com/saenzramiro/rambox) use a lot of WebViews to load each service but if I tried to upgrade Electron to 1.6.1 (also tried in 1.5.0) the services are not rendering.

I noticed that if I reload the main page and switch to a service tab ASAP, the content of the service is displayed.

[2017-03-02 20:02] zeke commented on #8722
@zhbzhbzhbz thanks for sharing your formula! Would you be willing to submit a pull request that adds this to the documentation?

If so, I think adding it to the [`webContents` doc](https://github.com/electron/electron/blob/master/docs/api/web-contents.md) would be best, as it is the [most-viewed API](https://cloudup.com/cDjARyBrWIc) that has a `setZoomFactor` method. It would also be good to link

[2017-03-02 20:36] javan commented on #8771
I've worked around this by ensuring the host page is visible before add `<webview>`s:
[code]

[2017-03-02 21:47] kevinsawicki opened #8817 "Crash quitting with dev tools open"
* Electron version: commit e51a4f0af11fe28cdd64b02192ead1da71c5a674 from master, cannot reproduce with 1.6.2 release build but can reproduce when building 1.6.2 tag locally.
* Operating system: macOS 10.12

### Expected behavior

Application quits normally.

### Actual behavior

Application crashes on quit.

### How to reproduce

* `electron https://youtube.com`
* Open the dev tools
* Quit the app

[2017-03-02 22:20] Grandclosing commented on #7300
@nukeop - thanks for your last post; it helped me a lot. `window.require` worked for me.

[2017-03-02 22:21] iidaapp commented on #8810
ok, I'll try it. thanks!

[2017-03-03 00:33] mathieubodin commented on #8154
I'm facing a close behavior: once the modal window is displayed, any attempt to quit the application (through Command+Q or the menu item) close the modal, then the main window is still displayed and would be closed only through the red cross button.

IMHO, regardless of modal behavior, when I want to quit an application on MacOSX, I use Command+Q and expect it to work :smile:.

[2017-03-03 02:30] sonicou opened #8818 "Privacy and chromium"
I am looking for general information about the electron framework and privacy issues, especially regarding the use of chromium.

Since the google brower is well known for spying on its users, it would be great to know what the implications for electron based apps are. There have been some questions regarding this on the net but I did not find any official information about this.

How exactly does

[2017-03-03 02:42] hackjutsu commented on #8818
@sonicou Just curious, can you elaborate on "the google browser is well known for spying on its users"?

[2017-03-03 03:12] sonicou commented on #8818
I do not think this is the place for a general discussion about this and I believe the privacy issues of google (services) and their browser are well known. User tracking is basically their business model...

I would like to focus on thoses issues in regards to the use of chromium in electron.

[2017-03-03 06:01] groundwater commented on #8785
@AmbrielLi did you mean to close this issue?

[2017-03-03 06:15] MarshallOfSound commented on #8807
Isn't the whole point of this being behind a flag in Chromium indicative of the fact it isn't stable?  If Chromium doesn't consider it stable I don't think we can declare problems with the flag a bug in Electron ❓

[2017-03-03 06:16] zeke commented on #8751
Yeah that was a bug. My bad. Fixed it [last night](https://github.com/electron/electron.atom.io/pull/696/files).

[2017-03-03 06:22] KagamiChan commented on #8818
I'm just wondering which parts of chrome features make you feel like spying on you. It would be better to discuss on explicit and definite functionalities beacuse people may hold different understandings of "spying"

[2017-03-03 06:53] xiangkaiy commented on #3771
Hi,mecee. Do you have a solution for this problem?

[2017-03-03 07:26] bjdash opened #8819 "Application is reloading itself when I fire autoUpdater.checkForUpdates();"
I have a app built as win64 with squirrel. When I fire autoUpdater.checkForUpdates(); ro check for updates, my application reloads (not restart) itself (the window stays open, in reloads the index.html). Then it fires all remaining events like **update-available**, **update-downloaded** etc . If I restart my application then I can see that its updated to the new version. But reloading itself while

[2017-03-03 07:37] Lcy-RITS commented on #8594
Hi @zeke,
Yes, I reproduce the problem using the branch.
But the reproduction rate is reduced to about 5%.

[2017-03-03 07:48] tkggusraqk opened #8820 "BrowserWindow support MDI mode"
Recently used electron, need to use MDI mode, in a window to manage Page. Found not support MDI, so use webview instead. But there are problems in the two webview, the program will appear for a long time does not operate, resulting in the program can not respond to the problem, so far did not find the reason.

electron-version:1.4.15
node-version:6.2.0

[2017-03-03 07:51] myfrndjk opened #8821 "Application is crashing after upgrading electron to 1.6.1"
I upgraded my electron to 1.6.1 after that my app is getting crashed.
Situation: Once I click the button it is suppose to  make ajax call, but application is getting closed without any message
It is working fine with  the version 1.4.13.

Since there is no error message, I cant debug this.

"devDependencies": {
  "chai": "^3.5.0",
  "chai-as-promised": "^6.0.0",
  "chai-jquery": "^2.0.0",
  "elect

[2017-03-03 08:07] enlight commented on #8820
It's unclear what you're actually asking. Is this a feature request?

[2017-03-03 08:34] romaincointepas commented on #8807
@MarshallOfSound As this was a new bug and not happening in Google Chrome 56, I thought it was worth mentioning. However, I'm not sure what I did wrong the first time, but retrying again with Google Chrome 56 and it has indeed the same bug. Closing then :)

[2017-03-03 08:34] #8807 closed

[2017-03-03 09:00] deepak1556 commented on #8821
Can you provide a minimal example to reproduce the issue, thanks!

[2017-03-03 10:01] tarruda commented on #8818
@sonicou electron is not chromium, it is a framework for desktop applications that mainly uses the [content module](https://www.chromium.org/developers/content-module)(chromium component that abstracts the multi process model and blink web rendering) plus some extra handpicked chromium features(extensions and spell checking for example).

[2017-03-03 10:52] kirilloid opened #8823 "Electron doesn't respect win10 scaling factor."
Reproduced not on bare Electron engine, but on the Slack app, the Grammarly app and "Electron API Demos" app so I consider that a bug in the Electron itself.

* Electron version:
Various, including the latest (just downloaded demo app)

* Operating system:
win10

### Expected behavior
Zoom to be considered, default font size should be normal.

### Actual behavior
Fonts and other elements become to

[2017-03-03 10:54] MarshallOfSound commented on #8823
/cc @zcbenz is this PR #8786 this issue 😄

[2017-03-03 10:54] L-P opened #8824 "Widevine fails with release builds since 1.5.x"
Hi,

I'm trying to get Electron to play some Widevine content, everything is set up
as described in the [docs](https://github.com/electron/electron/blob/master/docs/tutorial/using-widevine-cdm-plugin.md).

It won't work. The Widevine lib comes from the exact same Chrome version
Electron uses, calling `navigator.plugins` as mentioned in #6516
does not change anything, the result is the same in both

[2017-03-03 11:08] kirilloid commented on #8823
Wow, cool.

[2017-03-03 11:22] metgens commented on #8489
Windows 10 64x
Electron: 1.4.1

I have the same problem with printing as described by @ci42. Printing window is showing up but real printer and pdf printer cannot end job (without any errors).

[2017-03-03 12:55] tkggusraqk commented on #8820
@enlight Just want to know will not support MDI, because webview with some really inconvenient。

[2017-03-03 12:59] pronebird commented on #8689
@zeke I am concerned about exposing platform dependent APIs. Electron has fair share of them already and since menubar apps aren't exactly supported (i.e. we use BrowserWindow that fakes popover).

I think native extension should cut it until Popovers are somehow added to Electron, which would be huge addition not only for menubar apps but generally for any apps.

[2017-03-03 14:57] jiri-prokop opened #8825 "Decimals numbers in styles are formatted incorrectly"
* Electron version: 1.6.1
* Operating system: macOS Sierra 10.12.3

### Expected behavior
Numbers returned by `element.style` or `window.getComputedStyle` are not formatted according to language preferences. I should always see `"7.6px"`.

### Actual behavior
Numbers returned by `element.style` or `window.getComputedStyle` are formatted according to language preferences. I see `"7,6px"` instead of

[2017-03-03 15:23] jjprestes opened #8826 "Webview tag with Visibility hidden does not work on MacOS"
* Electron version: 1.6.1
* Operating system: MacOS

### Expected behavior
Show the page loaded by the webview;

### Actual behavior
the webview must reload the page to show its contents.

### How to reproduce
Setting CSS property visibility as hidden and then set visibility as visible on 'did stop loading' event does not show the webpage content. Just a blank page, although is possible to inspect

[2017-03-03 15:28] barbalex commented on #4906
I have this issue in electron 1.6.1

[2017-03-03 15:34] barbalex commented on #4906
yep, downgrading to 1.4.15 makes printing work again

[2017-03-03 15:47] sante85 opened #8827 "dialog"
* Electron version: 1.6.1
* Operating system: win10

### Expected behavior
dialog could be always on the top as alert javascript

### Actual behavior
dialog show message box can passed to click outlayer

[2017-03-03 16:01] javan commented on #8771
Additional note: My app's window is initially hidden and then shown on `ready-to-show` (like https://electron.atom.io/docs/api/browser-window/#showing-window-gracefully).

[2017-03-03 16:14] sonicou commented on #8818
@KagamiChan
That would be everything that transmits private data to external services and by extension even every functionality that connects to external network services at all. When I open my sligtly configured firefox, there is not a single bit that is transmitted until I open an url and then only the requsted webserver will see any connection. Therefore I would never use chromium, but this iss

[2017-03-03 16:22] qazbnm456 commented on #8771
## Update

To make it more clear, the content of the web page has been loaded already, but just cannot be rendered correctly, as another attached screenshot shows below.

<img width="1180" alt="2017-03-01 10 35 43" src="https://cloud.githubusercontent.com/assets/6451933/23443615/e159848a-fe6a-11e6-90e3-ec9b40ee31f0.png">

And my temporary [workaround](https://github.com/qazbnm456/lulumi-browser/co

[2017-03-03 17:51] barbalex opened #8828 "webContents.print not working on windows since v1.6.1"
seems to be same problem as here: https://github.com/electron/electron/issues/4906

It happens on windows 10 with electron version 1.6.1.
When I downgrade to 1.4.15 it works.

[2017-03-03 17:52] rafadsm20 commented on #8798
I'm trying on a master

[2017-03-03 18:49] edunad commented on #5057
Same here, on windows builds

[2017-03-03 18:50] ericsoco commented on #4248
https://github.com/electron/electron/issues/2288

[2017-03-03 19:03] kevinsawicki commented on #8826
I believe this is a duplicate of #8505, please subscribe to that issue for updates.

[2017-03-03 19:03] #8826 closed

[2017-03-03 19:11] myfrndjk commented on #8821
Hi,

I am trying to create a small sample to reproduce this issue.
In the mean time I found this error by enabling log in command switch

`[41116:0303/234253.133759:ERROR:mach_port_broker.mm(43)] bootstrap_look_up: Unknown service name (1102)`

Thanks

[2017-03-03 20:32] raffaeler opened #8829 "Electron app crashes on electron!icu_56::RegexPattern::operator!"
* Electron version: 1.4.13
* Operating system: Windows 10 (14393)

### Expected behavior
Electron should not crash

### Actual behavior
Electron app crashes

### How to reproduce
I load my native plugin that works smoothly under node.exe in console.
The plugin is then rebuilt against Electron 1.4.13 of course.
it is loaded from an Angular2 component constructor (typescript)

I could capture the cr

[2017-03-03 22:27] tex0l commented on #8825
I think I have the same issue with electron 1.4.15 with transition durations, still investigating though: my computed properties have "," and not "." when decimal values are used, and transitions are nt applied then.

[2017-03-03 22:37] #7781 closed

[2017-03-03 22:39] kevinsawicki commented on #7781
This has landed on master and will be included in the next Electron beta release, 1.6.3, see the [new docs](https://github.com/electron/electron/blob/master/docs/api/touch-bar.md) for more details.

[2017-03-03 23:37] thesbros commented on #8810
I believe *speech synthesis* simply uses the operating system's TTS engine. There should be no limits on that. *Speech recognition* however, uses the Google API.

[2017-03-03 23:53] adi518 commented on #8728
I'm afraid it's not over yet. I was testing the last fix on my machine at work, where the taskbar was set to bottom. At home I have it set to top and although the height is now correct, I get a thick top-border above the window.

![Alt](https://raw.githubusercontent.com/adi518/electron-frameless-maximize-test/master/issue-after-@thesbros-fix-attempt.jpg)

[2017-03-04 00:01] thesbros commented on #8728
@adi518 Have you tried my latest commit in #8808? I can't reproduce this issue with my PR.

[2017-03-04 00:06] anthonybruno opened #8831 "Setting tray pressedImage while tray is active"
* Electron version: 1.4.15
* Operating system: macOS Sierra 10.12.3

### Expected behavior

If `tray.setPressedImage()` is updated while the tray is actually "active" it should update to the new asset.

### Actual behavior

Whatever image has been set prior to the tray becoming active it will remain as such even if a new image has been set with `tray.setPressedImage()`. If you make the tray inacti

[2017-03-04 00:08] adi518 commented on #8728
I think I can build it. I'll let you know soon. Thanks.

[2017-03-04 00:13] anthonybruno opened #8832 "Updating tray.setImage while tray active overwrites pressedImage"
* Electron version: 1.4.15
* Operating system: macOS Sierra 10.12.3

### Expected behavior

If `tray.setImage()` is updated while the tray is active, it should not display until the tray is inactive.

### Actual behavior

If `tray.setImage()` is updated while the tray is active, it will display and "overwrite" whatever has been pre-defined as `tray.setPressedImage()`.

### How to reproduce

Update

[2017-03-04 00:14] anthonybruno commented on #8832
I believe that this issue might be related to #8831. I wasn't sure if they should be separated so I did just in case. Happy to roll into one. 😄

[2017-03-04 00:25] adi518 commented on #8728
Ok, forgot I don't have VSCE on this machine, so that will take some time to setup. Upload a build if you may, thanks.

[2017-03-04 00:35] thesbros commented on #8728
@adi518 [Here you go.](https://github.com/thesbros/electron/releases/download/v1.6.1/R.zip)

[2017-03-04 00:45] adi518 commented on #8728
Sweet, the border is gone! taskbar at top/bottom now appears to works correctly.

[2017-03-04 00:46] adi518 commented on #8728
Oh wait a minute. My app is dark-grey, I now noticed it actually has round corners at the top. Bottom is still rectangular though.

[2017-03-04 00:47] thesbros commented on #8728
@adi518 Yes the rounded edges are a side effect. I am currently trying to figure out how to get rid of them.

[2017-03-04 00:49] adi518 commented on #8728
Haha. Yea, now I recall reading a comment about it in the PR thread.

[2017-03-04 03:17] nripendra opened #8833 "Build failing on windows with link error for accessibility_cc.pdb"
It gives a lot of warning for platform_cc.pdb and generated_cc.pdb, but finally fails with error for accessibility_cc.pdb. Why are these pdb files missing from the build?

**Failure info**
webkitmodules.lib(InspectorTypeBuilderHelper.obj) : warning LNK4099: PDB 'accessibility_cc.pdb' was not found with 'webkitmodules.lib(InspectorTypeBuilderHelper.obj)' or at 'D:\Projects\electron\out\R\accessibil

[2017-03-04 04:29] bsclifton commented on #8833
@nripendra are you out of disk space? I've commonly gotten that type of error when I'm running low

The pdb is built during the build

[2017-03-04 08:32] nripendra commented on #8833
@bsclifton no, I have 73 gb free space in the drive in which I'm building this project. I've tried deleting the `out` folder and re-run script/update, script/build with no success.

[2017-03-04 16:29] Wolfr commented on #6124
Just wanted to drop in and applaud the work here, supporting native tabs well is also a wish from my POV.

[2017-03-04 16:43] pierretasci opened #8835 "Always on top window should move as primary screen changes"
* Electron version: 1.4.15
* Operating system: macOS

### Expected behavior

When a browser window is set to be always on top ala

`new BrowserWindow({
   alwaysOnTop: true
});`

one would expect that when the user changes the primary display (ie they switched to a different desktop on macOS), it makes sense that the window should follow. This can either be implemented in electron itself or by add

[2017-03-04 16:49] mi-g commented on #8692
For the records, i successfully use an electron app with a WebExtensions add-on through native messaging using the following code.

Sending message from app to add-on:
[code]

Receiving message from add-on:
[code]

[2017-03-04 17:12] foreverglory commented on #8677
I'm the same problem.
[code]

When I close the new window, the main window can not click, can not enter, not even close.

Electron version: 1.6.1
Operating system: Windows 10

[2017-03-04 17:28] zeke commented on #8677
@foreverglory what if you initialize `newWin` at the top of the file? I'm wondering if this is a garbage collection issue.

[2017-03-04 18:06] johnryan commented on #8692
interesting @mi-g Where does :
[code]

live in your electron application? all the examples i've seen just showed this approach in a separate JS file which still left the question of how to get that data into the running application.

[2017-03-04 18:24] mi-g commented on #8692
You can put that code wherever you want in the main thread, but not into a window renderer.
In my case, this native messaging code is in a `native-messaging.js` module, which is invoked by the `main.js` file through a `require('native-messaging.js')`, `main.js` being the value of field `main` in `package.json`

[2017-03-04 18:27] johnryan commented on #8692
@mi-g Got it, one more question i meant to ask. What do you set as the "path" of your script? in the chrome extension json (https://developer.chrome.com/extensions/nativeMessaging) ? i.e.

[code]

As far as I can tell all the scripts are compressed inside the app.asar file

[2017-03-04 21:29] kirkouimet opened #8836 "Creating BrowerWindows with a parent always makes them show"
* Electron version: 1.6.1
* Operating system: macOS Sierra

When you do this from a renderer process:

    new electron.remote.BrowserWindow(
        parent: parentBrowserWindow,
        show: false,
    );

The browser window always shows even though the `show` option is `false`. If you do not provide a parent, the browser window respects the `show` option.

[2017-03-04 22:24] mi-g commented on #8692
I do not use asar archiving, so far, i didn't see any true benefit for that but a few inconveniences.

But even in asar format there must be an executable somewhere to be run to launch your application. If you use electron-builder to create an installer and execute this setup program, you should use the same resulting path as the one in the installed app shortcut.

[2017-03-05 06:46] rbenson commented on #2504
Just doing a follow up since it has been 5 months

[2017-03-05 07:23] hackjutsu opened #8838 "Failure in GitHub's OAuth web application flow"
Recently, we receive an [issue report](https://github.com/hackjutsu/Lepton/issues/120) about users failing to authorize our app through the GitHub OAuth flow. After initial investigation, we notice different behavior between a browser(like Chrome) and the electron windows.

For example, when loading the link ([according to GitHub v3 API](https://developer.github.com/v3/oauth/#web-application-flow)

[2017-03-05 07:56] MarshallOfSound commented on #8838
@hackjutsu Normally this kind of thing is due to the website seeing the global `node.js` features, ensure that `nodeIntegration` is disabled on your browserwindow 👍

[2017-03-05 08:15] hackjutsu commented on #8838
@MarshallOfSound Thanks. Does it imply there is a recent change on the server? This issue just happens recently.

[2017-03-05 08:16] tonyganch commented on #5723
I've spoken to @poiru and he says he'll get to this issue next week.

[2017-03-05 08:49] MarshallOfSound commented on #8838
@hackjutsu Probably yes 👍

[2017-03-05 09:24] iLeonidze commented on #2407
I'm animating window using jQuery from renderer. You can modify & use this code to fade.

Code:
[code]

Result:
![1](https://cloud.githubusercontent.com/assets/3584432/23586040/2938f7a0-019e-11e7-926a-56d094029160.gif)

[2017-03-05 13:19] upicik commented on #8362
@MrMashy if I'm not mistaken, docs also should be pulled and merged?

[2017-03-05 22:29] nisaacson commented on #228
I was able to get `Xvfb` working on lambda which might be a suitable workaround...https://github.com/nisaacson/aws-lambda-xvfb

[2017-03-06 00:58] sebastianseilund opened #8841 "`will-navigate` event not fired when in sandbox mode"
Thanks for Electron! Amazing project :)

* Electron version: 1.6.2
* Operating system: macOS Sierra (10.12.3)

It happens when `BrowserWindow` is opened with `sandbox: true`. It might be on purpose, but I couldn't find any Electron/Chromium documentation that explains why. So I'm suspecting it's a bug. I can submit a PR with a failing test to this repo if you agree that it's a bug.

### Expected b

[2017-03-06 03:34] #8838 closed

[2017-03-06 03:36] MarshallOfSound commented on #8794
@davej This is something that I don't believe is possible and is very platform specific RE implementation.   I believe your best option is to make a modal browser window and add your own custom UI in their.  Let me know if I have misunderstood your request.

[2017-03-06 03:36] #8794 closed

[2017-03-06 08:57] alespergl commented on #8384
@jasonpoe Sorry, the internal processes are taking a bit longer than expected. But we are definitely working to push this through. I'll post an update once there's more info to share.

[2017-03-06 09:04] iidaapp commented on #8810
@thesbros
I think so, too. I found the below topic and conversation in `blink-dev - Google Groups`.

[2017-03-06 09:15] notsyncing commented on #1833
Same here on Ubuntu 16.10, electron 1.6.1, connecting to some port on `localhost` with http.request.
The request never finish, and no error was thrown.
As @niftynei said, change the `localhost` to `127.0.0.1` fixed the problem.
The same version of electron, on a macOS 10.12.3, does not affected by this problem.

[2017-03-06 10:03] xiangkaiy opened #8842 "Bug with mac appstore submission"
* Electron version:1.3.5
* Operating system: MacOS 10.10.5

### Expected behavior

Use electron-quick-start project to do an experiment: upload it to the appstore. After follow https://electron.atom.io/docs/tutorial/mac-app-store-submission-guide/
When I open this simple application, it should show some simple string such as "Hello World" and so on.

### Actual behavior

When I open the applicatio

[2017-03-06 10:15] akashnimare commented on #8384
@alespergl awesome. Waiting....

[2017-03-06 10:18] alespergl commented on #8798
@rafadsm20

That is odd. You're basically getting an error from `git` when trying to check out the submodules, which indicates a problem in your main electron checkout.

Since you've checked out `master`, you may have gotten a revision which doesn't have correct submodule mapping. Please try building from a tagged revision first, e.g. [v1.6.1](https://github.com/electron/electron/tree/v1.6.1).

If

[2017-03-06 10:20] wadjeroudi commented on #1217
@zcbenz Is there any news about this?
With this PR #6867, can we use some method to add a new property to a remote object ?

[2017-03-06 10:23] barbalex commented on #4906
where can I find "pdf.dll" and where would I have to place it when importing electron via npm?

[2017-03-06 10:26] barbalex commented on #8828
According to #4906 "pdf.dll" would be missing and replacing it would solve the problem.

I tried to search for "pdf.dll" but can't find it in my project folder where electron v. 1.4.15 is installed.
I also would not know where to place it.

[2017-03-06 11:17] mousavian commented on #4906
@barbalex just follow [RobsonMi's comment](https://github.com/electron/electron/issues/4906#issuecomment-208084062).
I remember I found pdf in [0.36.1 version](https://github.com/electron/electron/releases/tag/v0.36.1)

[2017-03-06 12:44] alespergl commented on #8562
@darwinkim @be5invis Can you confirm that the problem went away?

[2017-03-06 12:51] barbalex commented on #4906
Thanks for helping, @mousavian

I did read that comment. But I don't get what an "electron zip" is, especially as electron is installed via npm, not from a zip file.

Maybe @RobsonMi meant the release built from the project. This includes an .exe file and a folder with project files. I don't see how the "electron zip" could relate to these though.

I can download a zip file from https://github.com

[2017-03-06 12:55] madcampos commented on #8562
In the latest fast ring build (15048) the bug is gone for surface book with 200% resolution.

[2017-03-06 13:01] alespergl commented on #8562
OK. Since the original VS Code issue has been closed, I will close this as well. If anyone still experiences problems with this, we can reopen.

[2017-03-06 13:01] #8562 closed

[2017-03-06 14:03] jbleuzen opened #8843 "Can't disable MenuItem with a role"
* Electron version: 1.4.15
* Operating system: OSX 10.12.2

### Expected behavior

MenuItem with role should be disabled when a set a menuItem with `enabled:false`

### Actual behavior

MenuItem with role are not disabled whereas a MenuItem without role is correctly disabled

### How to reproduce

I made a small repo that shows the bug : https://github.com/jbleuzen/electron-menu

If you have any q

[2017-03-06 14:07] alespergl commented on #8789
Hey @Kangaroux, I can't seem to be able to reproduce your problem. I tried the steps you describe with the [electron-quick-start](https://github.com/electron/electron-quick-start) sample (even with the exact reported version of Electron), but as far as I can tell, the window looks normal and no additional white space is added. Can you please provide a minimal working example demonstrating the issu

[2017-03-06 14:31] yahyaKacem commented on #8828
Having the same problem with windows 10 and 7 too, even though it work fine on Mac os x 10 sierra.
tried with electron v1.6.1 and v1.6.2.

[2017-03-06 15:08] mengfoobar commented on #7941
@popod try [NeutrinoMetrics](https://neutrinometrics.net), it's an analytics platform designed for integrating with Electron apps.

The companion [library](https://www.npmjs.com/package/electron-analytics) lets you send events in both main and renderer process. Should help you out.

Just a heads up, I'm a contributor to this project.

[2017-03-06 15:19] tonyganch commented on #8825
I personally could not reproduce that on macOS 10.12.3 and Czech locale.
However, I've found exactly the same issue in Chromium: https://bugs.chromium.org/p/chromium/issues/detail?id=623347
It's closed as not reproducible.

[2017-03-06 15:25] popod commented on #7941
Thanks @mengfoobar, it seems that is exactly what I wanted !

[2017-03-06 15:52] tonyganch commented on #983
The macOS issue is discussed here: https://github.com/electron/electron/issues/5723#issuecomment-265021674

[2017-03-06 16:45] cifratila commented on #8833
@nripendra What are your steps for building electron?

[2017-03-06 17:09] dfederm opened #8844 "Event objects are reused across listeners"
* Electron version: 1.4.1
* Operating system: Windows 10

### Expected behavior
Multiple listeners to an event get a separate copy of the event object.

### Actual behavior
Multiple listeners to an event get the same event object, allowing one to affect the other by altering the object.

### How to reproduce
Minimal repro here: https://github.com/dfederm/electron-quick-start/tree/bug-8844

Basical

[2017-03-06 18:25] #8735 closed

[2017-03-06 19:03] kevinsawicki commented on #8843
I believe this is a duplicate of #5794, please see that issue for more details about this, closing this out.

[2017-03-06 19:03] #8843 closed

[2017-03-06 19:04] kevinsawicki commented on #8827
@sante85 can you add some steps to reproduce with code examples or screenshots? Thanks.

[2017-03-06 19:09] kevinsawicki commented on #8603
Closing this out for now 👍

[2017-03-06 19:09] #8603 closed

[2017-03-06 19:10] kevinsawicki commented on #8661
Closing this out until more information is available.

[2017-03-06 19:10] #8661 closed

[2017-03-06 19:13] kevinsawicki commented on #8759
@akashnimare it looks like zulip checks that the user agent contains `webkit` before sending notifications, https://github.com/zulip/zulip/blob/4092aab6202d9a3ff127f19c57d2d806bf858663/static/js/notifications.js#L44-L52

Could this be causing the issue you are seeing?

[2017-03-06 19:19] #8743 closed

[2017-03-06 19:27] akashnimare commented on #8759
cc @timabbott

[2017-03-06 19:55] timabbott commented on #8759
@akashnimare yikes, we should update `notifications.js`, but I think to avoid breaking existing servers, maybe we should add "webkit" to the list to make it do the right thing for older versions with the existing `notifications.js` code?

[2017-03-06 20:02] kevinsawicki commented on #8759
Closing this out since this doesn't appear to be an Electron issue.

[2017-03-06 20:02] #8759 closed

[2017-03-06 20:02] jbleuzen commented on #8843
Sorry didn't find it while I was searching, it is a duplicate :(

[2017-03-06 20:03] kevinsawicki commented on #8767
Looks like this happens when the DPI scale is non-1.

The image is loaded with the machine's DPI scale here, https://github.com/electron/electron/blob/9547ff135f3f14d4bad31ae446b0a2e7a0f0ea3d/chromium_src/chrome/browser/icon_loader_win.cc#L61-L62

But `toPNG` only supports 1x scale: https://github.com/electron/electron/blob/9547ff135f3f14d4bad31ae446b0a2e7a0f0ea3d/atom/common/api/atom_api_native_i

[2017-03-06 20:15] pronebird commented on #8754
Set `process.env.GOOGLE_API_KEY = "<GOOGLE API KEY>";` before creating any windows. Location works but still freezes during request. So API key presence does not change anything.

[2017-03-06 21:01] ttraenkler commented on #6539
+1

[2017-03-06 21:59] pfftdammitchris opened #8846 "Electron failed to install correctly, please delete node_modules/ and try installing again"
* Electron version: latest
* Operating system: Win32

### Expected behavior

I dont know at this point...

### Actual behavior

Console gives error "electron was not installed correctly" but it was installed correctly more than 5 times.

### How to reproduce

I am trying to use webpack + react + electron, and when I type in the CLI "electron ."  it gives me this error:

[![][1]][1]

  [1]: https:/

[2017-03-06 22:00] davej opened #8847 "Transparent windows leave a shadow behind when animated"
This is best explained with a video: https://www.dropbox.com/s/yy3cmc82p55sh07/electron-transparent-window-animated.mov?dl=0

As you can see in the video, there is a semi-opaque version of the un-animated window left behind when animated.

![electron-window](https://cloud.githubusercontent.com/assets/26971/23631732/3cfb1e16-02b7-11e7-9f28-73d33564ead9.png)

This is the window creation code:
[code]

[2017-03-06 22:06] tyduptyler13 opened #8848 "GL Context Issues in addon"
* Electron version: 1.6.1
* Operating system: Linux

### Expected behavior

I have created a nodejs addon that works inside electron as well. When running against nodejs I can
create a GLFW window with a GLES2 context and use it as expected. When running against electron, a GLFW window is created, the context briefly exists, then as soon as I call a GL function, it behaves as if the context is gon

[2017-03-06 23:28] bsclifton commented on #8828
this may or may not help- for our fork of Electron (Muon), @darkdh created this patch to solve the problem https://github.com/brave/muon/pull/166