[2020-10-12 00:11] zcbenz commented on #25885
Thank you for taking the time to report this issue and helping to make Electron better.

Would it be possible for you to fork [electron-quick-start](https://github.com/electron/electron-quick-start) for a small app that reproduces the issue by itself?

Stand-alone test cases make fixing issues go more smoothly: it ensure everyone's looking at the same issue, it removes all unnecessary variables fr

[2020-10-12 00:11] zcbenz commented on #25875
Thank you for taking the time to report this issue and helping to make Electron better.

Would it be possible for you to fork [electron-quick-start](https://github.com/electron/electron-quick-start) for a small app that reproduces the issue by itself?

Stand-alone test cases make fixing issues go more smoothly: it ensure everyone's looking at the same issue, it removes all unnecessary variables fr

[2020-10-12 00:13] zcbenz commented on #25872
I can reproduce this crash:

[code]

[2020-10-12 00:16] zcbenz commented on #25850
I'm not exactly sure what VSCode does to your app when debugging with it, can you open a issue in VSCode's repo to see if it is a bug of VSCode?

[2020-10-12 00:29] zcbenz commented on #25790
Thank you for taking the time to report this issue and helping to make Electron better.

Would it be possible for you to fork [electron-quick-start](https://github.com/electron/electron-quick-start) for a small app that reproduces the issue by itself?

Stand-alone test cases make fixing issues go more smoothly: it ensure everyone's looking at the same issue, it removes all unnecessary variables fr

[2020-10-12 00:38] zcbenz commented on #25793
I'm also unable to reproduce, can you try to make a minimal reproducible app? The problem might be inside the dependencies you use.

[2020-10-12 00:43] zcbenz commented on #25769
I'm also unable to reproduce, could it possibly be related to your code? I'm using the code from
https://developer.mozilla.org/en-US/docs/Web/API/File/Using_files_from_web_applications

[2020-10-12 01:51] zcbenz commented on #25610
I'm merging this issue to https://github.com/electron/electron/issues/25746 since according to https://github.com/electron/electron/issues/25746#issuecomment-703125319 they are the same issue, and #25746 has more details.

[2020-10-12 01:51] #25610 closed

[2020-10-12 02:07] zcbenz commented on #25868
I'm merging this to https://github.com/electron/electron/issues/25728.

[2020-10-12 02:07] #25868 closed

[2020-10-12 02:12] zcbenz commented on #25698
I'm afraid this is caused by your network environment, I'm sorry this is not something we can fix.

[2020-10-12 02:12] #25698 closed

[2020-10-12 02:43] freMea commented on #20874
Same result if you do the same to any window where you know the horizontal scroll works like Windows Explorer, as explained [here](https://github.com/microsoft/vscode/issues/84136#issuecomment-655599016). Every Logitech mouse seems to have this issue. I don’t know if other brand has this feature. Although some linux users report it doesn’t work on their OS, it’s more a Windows specific issue so Mi

[2020-10-12 02:45] CaiHuan opened #25888 "electron crash when using node vm"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-12 02:45] CiriousJoker commented on #20874
Customer service won't respond, I even searched a logitech engineers and while I did hear back from him, nothing came out of it...
Pretty frustrating... 😐

[2020-10-12 03:05] freMea commented on #20874
Let’s go bugging them on social networks until their CM address the issue, sharing the link to this page. Mention @Logitech in most of the SN. If all the users do this, we could eventually get a reaction.

[2020-10-12 03:38] iwiedenm commented on #25872
@zcbenz Thank you for providing this information. In the future, where can I look to get the log you have provided so I can be more helpful?

[2020-10-12 03:55] hereisfun opened #25889 "memory leak when using <input type="file" />"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-12 04:22] max-programming commented on #25698
My internet was working fine on that day. Ok when I will get a problem, I will let you knpo.

[2020-10-12 05:24] msisov commented on #10915
@vially, would you please report the problem to the chromium's bag tracker? thanks.

[2020-10-12 06:41] jwoo0122 commented on #3916
Still remains in Electron 10.1.2...
It seems like [this issue](https://github.com/RocketChat/Rocket.Chat.Electron/issues/357) also points same issue, and they resolved it from [this PR](https://github.com/RocketChat/Rocket.Chat.Electron/pull/969), with [electron-windows-notifications](https://github.com/felixrieseberg/electron-windows-notifications).

This is not a solution for Electron itself, bu

[2020-10-12 07:12] avin-shum commented on #472
Thank you @konsumer ! Still a good solution 4 years after published.

[2020-10-12 08:18] zcbenz commented on #25872
On macOS, you can find app's crash reports in `Console.app`.

[2020-10-12 09:06] mrafei opened #25890 "get character encoding of windows"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for a feature request that matches the one I want to file,

[2020-10-12 10:04] BrendM commented on #25769
I have tried it on a bare electron install jsut using the input on the mdn page and it still happens. Im thinking it has something to do with our company pcs they are very locked down lots of anti virus stuff

[2020-10-12 11:43] arantes555 commented on #6959
It seems to be a bug in recent versions of electron. In an electron@6 app, my always-on-top window is correctly hidden from Mission Control. When updating to electron@10, the window is now shown in Mission Control.

[2020-10-12 12:05] GreepTheSheep commented on #25793
I think this problem is in the unpackaged version of the app. Because when it is packaged it works normally. I give you the app: https://github.com/ArendelleOdyssey/web-app Maybe it's fixed, I haven't tested unpacked yet for a week.

[2020-10-12 14:33] stuartambient commented on #23662
So you are saying react dev tools is now working in Electron for you ? You are using the file protocol in the project ? If so can you post the entire config file somewhere ?

[2020-10-12 14:37] xinaesthete opened #25892 "Can't compile Wasm with contextIsolation"
### Preflight Checklist
* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without s

[2020-10-12 15:04] BrendM commented on #25769
<img width="338" alt="none_selected" src="https://user-images.githubusercontent.com/6525197/95761720-a3f75f80-0ca4-11eb-8363-84f2082053dc.PNG">
<img width="915" alt="select_long_name" src="https://user-images.githubusercontent.com/6525197/95761725-a48ff600-0ca4-11eb-8c1a-53588f9bbdfb.PNG">
<img width="763" alt="all_is_well_selected" src="https://user-images.githubusercontent.com/6525197/95761728-a

[2020-10-12 15:59] allfro opened #25894 "`intercept*Protocol` Methods Break Redirect Handling Routines"
### Preflight Checklist

* [X] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [X] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [X] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-12 16:55] vially commented on #10915
Sure, I was planning to do that but since I'm not entirely sure it's a Chromium bug I think I'll investigate it a bit more first.

It's entirely possible this is a bug in the Electron Wayland patches or maybe it's something that has been fixed in upstream Chromium already so I want to rule those out before I create a Chromium bug.

*Slightly offtopic:* I guess you must be aware of it already, but

[2020-10-12 17:09] phillippschmedt opened #25895 "Broken link on electronjs.org/docs (webFrameMain)"
The link to the webFrameMain docs is not working on the docs page

Reproduce with:

1. Navigate to  https://www.electronjs.org/docs/
2. Find "webFrameMain" entry on the page and click it
3. Enjoy 404

[2020-10-12 17:17] phillippschmedt commented on #25895
Moving this issue to the electronjs.com repository

[2020-10-12 17:17] #25895 closed

[2020-10-12 17:30] happycoder97 commented on #23662
Oops sorry, I forgot to mention I am using VueJS and Vue DevTools.
Also, I did everything from scratch without using any starter template.

Here are my configs:
https://github.com/happycoder97/timely/blob/main/webpack.main.config.js
https://github.com/happycoder97/timely/blob/main/webpack.renderer.config.js
https://github.com/happycoder97/timely/blob/main/package.json

Here is the main process js

[2020-10-12 18:06] nornagon commented on #24427
I'm not sure I understand the confusion around the Promise behavior; there's nothing particularly unusual about a promise rejecting with an error. It doesn't seem surprising to me that sending a message to another process and receiving an error in response would produce a not-identical error to the one thrown in the remote process. The error message that _is_ received specifically explains what ha

[2020-10-12 19:14] feugy commented on #25616
Some additional information:
- the string displayed in Activities bar is the application name.
- it can be changed with [app.setName()](https://www.electronjs.org/docs/api/app#appsetnamename), and default to package.json 's `productName` which itself default to package.json's `name`
- it can not contain accentuated characters: My application is named `Mélodie`, and the outcome is terrible
- it see

[2020-10-12 19:44] Slapbox commented on #25746
We're seeing this issue without `resizable: false`, and regardless of how the window is maximized. Double-clicking a drag region, dragging the window to the top of the screen and letting the OS maximize it, or calling `win.maximize()` all result in the same.

Also, we're generally seeing this issue on the right edge of the screen, not the top.

[Link to my findings on another thread for the same i

[2020-10-12 19:45] muhammad-usman-anwar opened #25900 "Window resize not working on Windows"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-12 20:22] bughit commented on #25807
@nornagon Would you agree that since node's post exit inspect experience is broken, trying to match it doesn't make sense?

There are two options for electron.

- either fixing the post exit inspection so that it both remains in dedicated devtools and is functional (can see global user state)
- just exiting
  - this is the easiest improvement to the current situation

[2020-10-12 20:34] shannawhaley0 commented on #21408
Can I merge more than one api to join each others list ?

[2020-10-12 21:33] ChALkeR commented on #25728
@zcbenz 9.x is also affected. :-)

[2020-10-12 21:57] codebytere commented on #22119
Fix is up at https://github.com/electron/electron/pull/25869, folks!

[2020-10-12 22:09] codebytere commented on #25892
This was fixed by https://github.com/electron/electron/pull/25777, i will backport it shortly

[2020-10-12 22:09] #25892 closed

[2020-10-12 22:17] KishanBagaria commented on #22119
@codebytere is it Windows-only based on the title or all platforms? 🤞

[2020-10-12 22:30] bughit commented on #25796
@nornagon @zcbenz

Nothing posted by @MarshallOfSoundby here falsifies my point, which is, it is possible to do this safely:

[code]

The above code does not expose privileged EIC objects to untrusted code and does not have a security hole. So why do you insist on taking away this capability even as an opt-in, which is a breaking change? If doing this **always** resulted in a vulnerability, then o

[2020-10-12 23:00] hatton commented on #25405
Same thing here, on Windows. I haven't tried on mac or linux yet. It can be very difficult for me to reproduce. Fortunately, the next time I do a `child_process.exec()`, the pending one will always return immediately. So for the moment I rely on this monstrosity:

[code]

[2020-10-12 23:43] codebytere commented on #22119
@KishanBagaria the issue was most prominent on Windows but this should ameliorate issues cross-platform!

[2020-10-13 00:56] codebytere commented on #25627
Closing as no response was provided.

[2020-10-13 00:56] #25627 closed

[2020-10-13 01:06] codebytere commented on #23315
This issue seems like it's present in Node.js v12 but not v14 - i can't repro it after https://github.com/electron/electron/pull/25249.

[2020-10-13 01:13] southorange1228 commented on #25680
Is there any solution？ @oltreseba

[2020-10-13 01:41] codebytere commented on #25888
Stacktrace:
[code]

[2020-10-13 02:01] #25626 closed

[2020-10-13 02:09] CaiHuan commented on #25888
lt looks like the blink will check ContextWorld，but the context created by node not belong to renderer world context or isolate world context

[2020-10-13 03:03] codebytere commented on #19554
This should be fixed by https://github.com/electron/electron/pull/25869

[2020-10-13 03:05] codebytere commented on #25405
Should be fixed by https://github.com/electron/electron/pull/25869

[2020-10-13 03:07] codebytere commented on #25496
Should be fixed by https://github.com/electron/electron/pull/25869

[2020-10-13 03:19] linonetwo commented on #23315
@codebytere that is in electron v11 ? I will try that later

[2020-10-13 04:43] ffflorian commented on #22119
Looking forward to testing it. Thanks already for working on it @codebytere!

[2020-10-13 05:00] msisov commented on #10915
@vially, it should've been fixed by https://chromium-review.googlesource.com/c/chromium/src/+/2464347 .

[2020-10-13 05:04] ckerr commented on #23479
I have updated the patch based on review feedback.

In this week's Releases Workgroup meeting, I'll propose its inclusion. The point of contention in review is that a fair amount of private API is necessary to make this work.

[2020-10-13 05:06] Changdao opened #25908 "Remote HTTPS expired certification cause Electron crash"
### Issue Details

* **Electron Version:**
8.0.0
* **Operating System:**
Darwin liujd 19.6.0 Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64 x86_64 i386 MacBookPro10,1 Darwin
* **Last Known Working Electron version:**

### Expected Behavior
//Because I forget to update my server https certificate, so it's expired.
import axios from 'axios';
return a

[2020-10-13 05:36] alihasen opened #25909 "Status Code in DownloadItem API"
Could we get the status code in the response of DownloadItem API? Because sometimes there is status other than 200 and we are getting only states e.g., "interrupted" and sometimes there is a JSON file of 0 bytes.
### Preflight Checklist

* [ ] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [ ] I agree to follow the [C

[2020-10-13 05:55] codebytere commented on #25888
@CaiHuan yep, exactly! popped up a PR to handle it :)

[2020-10-13 07:22] alevani commented on #25801
Hi @zcbenz, will this be fix quickly or have you decided to look into it for a 11-x-y version? I would like to know as if this will be fix in the following days/weeks, I will wait for it, otherwise I will just downgrade my electron for a while. Thanks!

[2020-10-13 07:39] tushar-compro commented on #17972
Hi @vladimiry
I could not access the link you have attached here. Can you help with that?
Additionally, were you able to figure out how to do --no-sandbox in electron-builder after pack script?

Thanks

[2020-10-13 07:58] Prinzhorn commented on #23506
Sounds like a great change to me. I'm always for security-by-default and always wondered why `nodeIntegration` exists to begin with.

Anyway, what about `nodeIntegrationInSubFrames`? I feel like this would've been a great moment to normalize it as well. There's a lot of discussion about it in #22582. It is ill named and has the side effect of enabling preload in subframes. It looks like this was o

[2020-10-13 08:02] jkpadmanapan commented on #23865
+1 to this.

Set-cookie header is not exposed on the response header when redirect is manual. actually in our code, we are using electron net.module as a proxy.  so we have to forward the exact response headers to browsers and http clients. But using manual redirect, set-cookie header is missing.  it causing the lot of problems. :-(

[2020-10-13 08:05] oltreseba commented on #25680
When the user closes the app from the dock the app.on('quit') event is triggered. (and i guess also the close event of each windows)

When the user closes a window, only the close event of that window is triggered, and not the app quit. In fact the app stays open.

[2020-10-13 08:47] Sarthak2319 commented on #10515
+1 , I also believe that this should be reopened as the Linux side of the issue was ignored when it was closed. Pulseaudio is capable of this , if this is fixed many apps using electron will also be able to use this.

[2020-10-13 08:50] emrezorlu commented on #8332
Did you find a solution? Same problem exists in atom editor and whatsapp too.

[2020-10-13 09:17] nbashkankov opened #25912 "Electron 7 - autoUpdater.quitAndInstall fails to relaunch on MacOS 11"
Since https://github.com/electron/electron/issues/25626 just closed without ability to ask any question about how to get fix bundled into other electron versions - I open new issue

### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.

[2020-10-13 09:25] ejrcavenago commented on #18692
I can confirm that the issue is still in place with electron 10.1.2, the provided example from @vulture is still valid as well.

[2020-10-13 09:32] MarshallOfSound commented on #25912
Electron 7 is unsupported and the only version of electron that can viably support both Apple Silicon and macOS Big Sur is Electron 11

[2020-10-13 09:32] #25912 closed

[2020-10-13 09:52] advaithm commented on #10515
I think someone should make a new splitting Linux and Mac OS as they are 2 different platforms and they should be closed when the issue is resolved

[2020-10-13 09:54] vladimiry commented on #17972
@tushar-compro, here it's https://github.com/vladimiry/ElectronMail/tree/704865abe5187bbf3e9f15ba5a83612f249f8118/scripts/electron-builder/hooks/afterPack. Basically I set 4755 bit in after-pack script for some package types and still repacking the appimage+snap packages (electron-builder actually have already embedded into these packages the `--no-sandbox` arg) . Buy the way, these days electron-

[2020-10-13 10:22] advaithm commented on #10515
@MarshallOfSound @codebytere would you mind reopening this is issue as on Linux at least there has been a regression which has resulted in audio capture on Linux not working.

[2020-10-13 11:10] ejrcavenago opened #25913 "OSR still seems to use display device scale rather than 1.0 as it used to"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-13 11:20] tushar-compro commented on #17972
@vladimiry
Am I right in understanding that you have set the 4755 bit for targets **OTHER THAN** appimage and snap.
https://github.com/vladimiry/ElectronMail/blob/704865abe5187bbf3e9f15ba5a83612f249f8118/scripts/electron-builder/hooks/afterPack/index.ts#L17

But the problem is occurring while using .appimage installer on debian distro.

Am I missing something here?

[2020-10-13 11:21] quanglam2807 opened #25914 "Add ICO icon support for shell.writeShortcutLink"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for a feature request that matches the one I want to file,

[2020-10-13 11:24] vladimiry commented on #17972
As I said the appimage still requires special treatment. I repackage it and embed the `--no-sandbox` into the `./AppRun` script, located the `DISABLE_SANDBOX_ARGS_LINE` keyword here https://github.com/vladimiry/ElectronMail/blob/704865abe5187bbf3e9f15ba5a83612f249f8118/scripts/electron-builder/build-appimage.ts.

[2020-10-13 11:29] raksooo opened #25915 "BrowserWindow is placed behind other windows when calling `.show()` while the start menu is open"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-13 11:31] wazybr commented on #8332
Not actively using Electron anymore, but will be glad to know if there's a solution.

[2020-10-13 11:37] tushar-compro commented on #17972
@vladimiry
So, am I right to understand that 4755 bit setting you have done is for installers other than appimage and snap. And for appimage you have set no-sandbox. Can you please confirm.

@p3x-robot
yes. you're partially right.
1. Latest electron-builder sets no-sandbox for snap but **NOT** for appimage. However, they have set 4755 bit for appimage.
2. In my project I'm using electron-version 2

[2020-10-13 11:40] vladimiry commented on #17972
Could not yet located in their code the appimage-specific snippet similar to [this](https://github.com/electron-userland/electron-builder/blob/df5d050e47f2030e48e65c0e3b542c3aec61e9de/packages/app-builder-lib/src/targets/snap.ts#L197-L202) one applied for snaps (https://github.com/electron-userland/electron-builder/pull/4496 still open). Anyway in my case repacking still required since I put there

[2020-10-13 11:46] emrezorlu commented on #5267
same problem in "WhatsApp" and "Atom Editor"

[2020-10-13 11:46] tushar-compro commented on #17972
@vladimiry
I just need to set no-sandbox as my appimages are not working in debian.

I believe I won't need repacking in this case. But I could not find the right documentation of electron builder for doing that. Or do you think I'll also need repacking?

Can you point me to the right documentation which can help me in how to do that.

[2020-10-13 11:50] fralonra commented on #11691
Does your code run in Mac OS?
I've had a similar use case which @eladnava had: downloading the remote file into local system after dragging out of an Electron app.
I have tried the code in the documentation, but it did not work in Mac.

[2020-10-13 11:50] vladimiry commented on #17972
If I remember things correctly, settings 4755 to appimage won't solve the issue. You need to (one of):
- start it with `--no-sandbox` command line arg
- have `--no-sandbox` embedded into the `./AppRun` script located in your appiamge file (so repackaging needed).

I doubt you will find detailed information about the issue in any documentation. I'm not aware of any relevant docs.

[2020-10-13 11:56] tushar-compro commented on #17972
@vladimiry
yes. setting 4755 alone won't work. With 4755 we need to change the owner of chrome-sandbox to root.
Anyways, thanks a lot for your help. I'll try to refer your code and set the no-sandbox then.

@p3x-robot
Can you please share some link (electron-builder repo) where we can see the code doing this.

[2020-10-13 11:58] xinaesthete commented on #25892
Ah, apologies for missing the issue (I suspect I neglected to include closed issues in search).  Anyway, great that it's fixed.

[2020-10-13 13:04] vladimiry commented on #17972
I just tested it using recent electron builder version and it doesn't embed the --no-sandbox in the ./AppRun sh script. If you start the appimage it fails with known `[759164:1013/160044.572604:FATAL:setuid_sandbox_host.cc(158)] The SUID sandbox helper binary was found` -like error. Maybe you have got the `kernel.unprivileged_userns_clone` flag enabled on your system. If so try disabling it like `

[2020-10-13 13:16] osan15 opened #25916 "The 'ready-to-show' event is not triggered with the kiosk option enabled."
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-13 13:41] vladimiry commented on #17972
We are talking about appimage, not the snap thing. Snap of course has the arg embedded as I referenced above, here https://github.com/electron-userland/electron-builder/blob/df5d050e47f2030e48e65c0e3b542c3aec61e9de/packages/app-builder-lib/src/targets/snap.ts#L197-L202.

[2020-10-13 14:36] fralonra commented on #11691
Hi, the error you mentioned above is due to the path passed to `icon` lead to a wrong place in Mac.
In my project, I should pass a relative path according to my electron entry file.

[2020-10-13 15:04] rjlfurtado commented on #24458
Yes, this is one of the bugs that has not yet been fixed.

[2020-10-13 15:04] bcburak opened #25920 "In Rdp session can not copy/paste image between local and RDP machine"
### Preflight Checklist

* [x ] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-13 15:04] rjlfurtado commented on #24458
Yes, this is one of the bugs that has not yet been fixed.

[2020-10-13 16:12] robinchrist commented on #19554
@codebytere I don't think the issue will be fixed by #25869

We're on Electron 8, `app.allowRendererProcessReuse` is on default (and thus should take `false` value).
Also note that we first experienced this issue with Electron 4, `allowRendererProcessReuse` didn't even exist back then...

[2020-10-13 16:19] #22119 closed

[2020-10-13 16:19] #23910 closed

[2020-10-13 16:19] #25314 closed

[2020-10-13 16:19] #25405 closed

[2020-10-13 16:19] #25496 closed

[2020-10-13 16:31] olistic commented on #25912
@MarshallOfSound Just double-checking, does this mean that versions of electron prior to v11 are not going to get the fixed Squirrel.Mac?

[2020-10-13 17:28] davidwinter commented on #23861
@MarshallOfSound this is still not working for v10.1.3. Could this issue please be reopened?

[2020-10-13 17:35] davidwinter opened #25925 "`nativeTheme` not receiving `updated` event respecting Linux system preference change"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-13 17:35] davidwinter commented on #23861
I've created a new issue to track this for 10.1.3 as I'm worried this issue has been closed, and the request to reopen may get missed.

https://github.com/electron/electron/issues/25925

[2020-10-13 19:38] NinjaManatee opened #25934 "Exit code passed through app.exit gets truncated to an 8-bit integer on macOS"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-13 20:12] baconbrad commented on #25920
This appears to be a limitation of RDP itself. RDP has a file transfer implementation to allow files to be dragged/transmitted between explorer/desktop and allows the copy and paste of text. But if you try to copy and paste or drag images into Chrome, MS Word, MS Paint, or any application from the local machine to the RDP machine it is not possible. You'll have to first send the file to explorer/d

[2020-10-13 21:02] bcburak commented on #25920
What do you mean "send the file to explorer/desktop on one machine and then send it to the Electron application."
Should I use file transfer between RDP client and local machine? Is it possible using Electron?

Btw other case that I wondered is; when I use CTRL +TAB combination in remote device I can change explorer tabs, but if I user ALT + TAB combination or "PrintSc" my local device is triggere

[2020-10-13 23:34] ckerr commented on #25021
I will have more time this week to look into this and have also pinged @zcbenz to see if he has time as well.

[2020-10-13 23:43] Flairieve commented on #25850
[code]
This is a snippet of the launch configuration that i use in vscode. I don't think it would be an issue with vscode but I guess I can open an issue on the VSCode repo just to make sure.

[2020-10-14 00:10] baconbrad commented on #25920
Should I use file transfer between RDP client and local machine? Is it possible using Electron?

Unless there is a method unbeknownst to me I mean you manually have to copy it over to the other machine your Electron app is running on for it to handle it with the normal copy/paste/drag behavior. Unfortunately you can't programically do this behavior with the official RPD client for Windows. But the

[2020-10-14 01:31] zcbenz commented on #25680
You can use the `before-quit` event to prevent the default behavior of dock exit, and then use custom logics to close windows. There is no direct way to distinguish why the window is closed.
https://www.electronjs.org/docs/api/app#event-before-quit

[2020-10-14 01:31] #25680 closed

[2020-10-14 02:36] bigben0123 opened #25935 "Cannot step through in a debugger by testing builder"
When I use electron 7 with debug build, debug locally is ok. However after uprading to 9, only testing builds is left.
Testing builds are optimized so there's a ton of inlined code that makes it really hard to step through in a debugger.

![image](https://user-images.githubusercontent.com/11641180/95936171-8e4e7b00-0e07-11eb-954a-8864b93eeb53.png)

If set is_debug true,  electron cannot build succ

[2020-10-14 03:58] codebytere commented on #25248
This should be closed by a combination of https://github.com/electron/electron/pull/25332 and the polling PR i just merged!

[2020-10-14 03:58] #25248 closed

[2020-10-14 04:03] codebytere commented on #25801
@alevani i ran the above code and saw the callback successfully printed to console - i am unable to reproduce. Does this: https://gist.github.com/0c1c8affb9262ae83bde4d08d3401f0c work for you?

[2020-10-14 05:04] codebytere opened #25937 "Crash when silent printing on Windows"
When printing with `silent: true` after https://github.com/electron/electron/pull/25679 the following crash can be seen after a handful of runs on Windows:

[code]

it's triggered by a codepath in `PMprinting::PrintJobWorker::OnNewPageHelperGdi` it seems.

[2020-10-14 08:11] deepak1556 opened #25938 "Missing window title from Get-Process cmdlet"
Open more than one window from an instance of the app.

[code]

Expected:

[code]

Actual:

[code]

[2020-10-14 08:14] deepak1556 commented on #25938
Only the title of window that is focused gets printed. The behavior is derived from chrome which makes sense for tabs.

[code]

But native apps should behave like below

[code]

[2020-10-14 09:59] En777 commented on #25439
the reason is currentWindow.setResizable(false), so press esc can not keep last window size.

[2020-10-14 09:59] En777 commented on #25439
do not set currentWindow.setResizable(false).

[2020-10-14 09:59] #25439 closed

[2020-10-14 10:14] unbeatable01 commented on #9042
Is this still issue still open to work for? I'd like to contribute.

[2020-10-14 10:16] unbeatable01 commented on #22105
I'd like to work on this, could you assign it to me?

[2020-10-14 11:37] CaiHuan commented on #25888
const vm = require('vm');
fs = require('fs')
timer = require('timers')
var script_data = "function print() {
console.log(sds);
}
setTimeout(print, 1000);";
const script = new vm.Script(script_data);

const sandbox = {setTimeout: setTimeout, console: console};

const contetifiedSandbox = vm.createContext(sandbox);

script.runInContext(contetifiedSandbox);

the case also crash because setTimeout wil

[2020-10-14 13:07] CaiHuan commented on #25888
the pull request does not work     w(ﾟДﾟ)w

[2020-10-14 13:07] CaiHuan commented on #25888
the pull request does not work w(ﾟДﾟ)w

[2020-10-14 13:25] #18224 closed

[2020-10-14 13:25] hugomano commented on #18224
Stale issue and I'm not focus on it

[2020-10-14 14:05] dhuang612 commented on #9042
@shreyubee yes I believe this is still open to work on.

[2020-10-14 14:07] alexpelan opened #25942 "Disable native drop icon on Mac OS Tray"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for a feature request that matches the one I want to file,

[2020-10-14 15:48] alevani commented on #25801
@codebytere
I took the liberty to change [this function](https://gist.github.com/codebytere/0c1c8affb9262ae83bde4d08d3401f0c#file-main-js-L52)  to
[code]
to see if I would get any "success" printed in the console after a print, and I do not. It correctly asks what printer I want to print on, I select my FileToPDF printer and click print. A pop up asking me what the name of the file should be pops

[2020-10-14 16:27] nikitalita commented on #25153
@ckerr unfortunately not; compiling electron/chromium is a giant pain in the ass and I never figured out a way to get it to an acceptable speed to do any sort of effective regression testing.

[2020-10-14 16:37] codebytere commented on #25801
Oh you're saving to PDF! not just hitting "print". Ok, that's different - the success callback is only called for _printing_ and not other actions taken from the menu.

[2020-10-14 17:28] BenRussert commented on #12973
Check out this PR I've opened to address this for Windows 10 version 2004 and up.

https://github.com/electron/electron/pull/24274

[2020-10-14 18:06] sofianguy commented on #25676
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2020-10-14 18:06] #25676 closed

[2020-10-14 18:06] sofianguy commented on #25652
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2020-10-14 18:06] #25652 closed

[2020-10-14 18:06] sofianguy commented on #25614
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2020-10-14 18:06] #25614 closed

[2020-10-14 18:07] sofianguy commented on #25588
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2020-10-14 18:07] #25588 closed

[2020-10-14 18:45] allfro commented on #25894
I've resorted to using the Chrome Debug Protocol to do what I needed to do. However, this is far from ideal as the API is very involved. The API that Electron offers is much more elegant if it were to work properly :(

[2020-10-14 20:01] Nashorn commented on #24171
Same error, any solution

[2020-10-14 20:18] ericblade commented on #18520
hmm.  I am presently finding almost the opposite of issues -- it rarely wants to start flashing, but when it does, it stops just fine.

Since the Win32 API function just does a single flash, it seems that it needs to be controlled by either Electron or Chromium, and that whoever is currently trying to control it doesn't do it right.

[2020-10-14 20:49] nornagon commented on #25935
Give `symbol_level = 2` a try

[2020-10-14 20:49] #25935 closed

[2020-10-14 20:53] nornagon commented on #25934
posix exit codes are 8 bits.

[2020-10-14 20:53] #25934 closed

[2020-10-14 22:16] bughit opened #25952 "WebRequest callabcks should specify the frame of the request especially in light of the new browser side frame support (WebFrameMain)"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for a feature request that matches the one I want to file,

[2020-10-14 22:21] johannesjo opened #25953 "Support Tray.setTitle on Linux"
A while back I already opened up an issue about this https://github.com/electron/electron/issues/4742

I am curious if anything changed. I recently read somewhere that electron changed how it deals with indicators.

Also here is a [link to the Chromium Issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1016125&can=2&q=Tray%20Title&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%2

[2020-10-14 22:35] bughit commented on #25952
It's worth noting that the extension WebRequest api does provide frame info

https://developer.chrome.com/extensions/webRequest#event-onBeforeRequest

[2020-10-14 22:38] ckerr commented on #25021
Followup to the previous lead: unfortunately, the memory pressure [is coming from](https://github.com/electron/electron/blob/master/shell/browser/electron_browser_main_parts.cc#L416) a GC timer that we fire every minute:

[code]
This has been in Electron [since 2014](https://github.com/electron/electron/commit/4dd78480846557370dd53789d50e6cb0d6a81bcd) so it's unlikely to be the cause of extra wake

[2020-10-14 22:38] bughit commented on #25952
Is this were you'd fill it?

https://github.com/electron/electron/blob/master/shell/browser/api/electron_api_web_request.cc#L127

[2020-10-14 22:52] ckerr opened #25954 "ElectronBrowserMainParts wakes up every minute even if everything is idle"
Found while investigating #25259

ElectronBrowserMainParts has a periodic timer that is used to trigger GC once a minute even on an idle system. While one wakeup per minute isn't bad, it's also been in there [since 2014](https://github.com/electron/electron/commit/4dd78480846557370dd53789d50e6cb0d6a81bcd) and may or may not still be necessary. It might be worth seeing what happens to memory overhe

[2020-10-14 22:54] BuckeyeJL commented on #24589
This is the Chromium bug:
https://bugs.chromium.org/p/chromium/issues/detail?id=1130710

[2020-10-14 23:21] nornagon commented on #25954
I'd support a PR that removes this, I don't think it's needed.

[2020-10-14 23:29] codebytere commented on #25079
Closed by https://github.com/electron/electron/pull/25080

[2020-10-14 23:29] #25079 closed

[2020-10-14 23:53] henriquemc opened #25955 "Add support to pin an app to taskbar using electron API"
### Preflight Checklist

* [x ] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x ] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x ] I have searched the issue tracker for a feature request that matches the one I want to fi

[2020-10-15 01:04] zcbenz commented on #25954
I'm good removing the idle GC, there has actually been no measurement whether it would be good for memory usage.

[2020-10-15 01:12] ChALkeR commented on #25457
That seems to be an old PR?
This still happens on 10.1.3.

[2020-10-15 02:59] ss7424Refar commented on #25844
Hi! @zcbenz

Is there are some runable `Sample` or `Repo` for low version of electron to webdriverJS-test ?

[2020-10-15 03:51] magicdawn commented on #18943
temporary fix: copy the buffer

https://nodejs.org/dist/latest-v12.x/docs/api/buffer.html#buffer_static_method_buffer_from_buffer

[code]

[2020-10-15 04:02] mapleby opened #25957 "session.defaultSession.webRequest.onBeforeSendHeaders"
### Preflight Checklist

* [ ] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [ ] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [ ] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-15 05:10] codebytere commented on #24458
I've put up a fix for this issue at https://github.com/electron/electron/pull/25959

[2020-10-15 05:31] zcbenz commented on #25021
I can not observe obvious difference between 7 and 8's CPU cycles.

I'm running the recorder under a Windows 10 virtual machine, measuring the default app of Electron. The default app was measured a few seconds after it got started, it was put in background and the recorder window was focused during recording.

Here are the results of 7.3.3:
<img width="696" alt="7-3-3-1" src="https://user-images.

[2020-10-15 07:27] ioriandy4 opened #25962 "how to enable CORS when webSecurity=true"
how to enable CORS when webSecurity=true?

webPreferences: {
      nodeIntegration: true,
      webSecurity: true
      webviewTag: true
    },

[2020-10-15 07:37] ioriandy4 commented on #25962
help!

[2020-10-15 08:23] DangerBlack commented on #24803
This still affect electron 9.1.1

[2020-10-15 08:37] bigben0123 commented on #25935
1, build like this
[code]
Build failed:
[code]
2, build successfully with is_debug = false, but still cannot step debug.

Bug should not be closed.

same with bug #24989

[2020-10-15 08:51] ahmadwaliesipick opened #25963 "How we can purchase test Apple In-app purchase product via sandbox? Is there any option at in-app-purchase api from where we can set test sandbox?"
I want to purchase test product from apple. I read https://www.electronjs.org/docs/api/in-app-purchase documentation there is no any way to purchase test product.
I have created sanbox account at Apple https://help.apple.com/app-store-connect/#/dev8b997bee1 once i try to purchase that account i am getting this error
[code]
}

[2020-10-15 09:02] yyccQQu commented on #22137
<img width="1115" alt="截屏2020-10-15 下午12 59 32" src="https://user-images.githubusercontent.com/32674176/96101259-5407db00-0ee6-11eb-8963-8307a18542c2.png">

-- Click on that icon and the menu will not show up
but the code is
[code]
-- help me ~  Big Boss！

[2020-10-15 09:02] #25963 closed

[2020-10-15 09:06] vladimiry commented on #25962
`webRequest.onBeforeSendHeaders` + `webRequest.onHeadersReceived`

[2020-10-15 09:10] CaiHuan opened #25964 "electron crash when using setTimeout on node vm"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-15 09:14] yyccQQu commented on #22137
PLS help me

[2020-10-15 10:03] ioriandy4 commented on #25962
I don't understant it , can you tell me more information? thank you

[2020-10-15 10:37] lmancel opened #25965 "Extending BrowserView "erases" class functions"
### Preflight Checklist
* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without s

[2020-10-15 10:43] javaxiu opened #25966 "camera & audio permission mistake"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-15 11:03] hatpick commented on #25349
archive.stats return true/false instead of actual stats

[2020-10-15 11:03] vladimiry commented on #25962
At this time I'm not ready to share anything but a way to solve the issue which I did in previous message.

[2020-10-15 11:10] yyccQQu commented on #22137
it`s ok ===>
[code]

[2020-10-15 11:35] praneetrohida commented on #21594
Still an issue in v10.1.3

[2020-10-15 12:39] matteoturini commented on #18940
I can confirm this bug also happens on mac.

[2020-10-15 13:15] skourismanolis commented on #19565
@sonamgupta-kiwi It hasn't happened since, we've upgraded to various electron versions (currently on 7.x) so I suppose some update must have fixed it...

[2020-10-15 14:22] fabiospampinato opened #25967 "Crash when performing an HMR with WebPack"
### Issue Details

* **Electron Version:**
  * 9.3.2
* **Operating System:**
  * macOS 10.14
* **Last Known Working Electron version:**
  * N/A

### Expected Behavior

Not to crash.

### Actual Behavior

It crashes.

I'm not sure what changed but I've recently been getting the app crashing whenever I edit most files and webpack performs a hot-module-replacement for them.

This is an example stack

[2020-10-15 14:38] CaiHuan commented on #25964
![image](https://user-images.githubusercontent.com/3890047/96144402-b688c780-0f36-11eb-850e-71e4708d6aed.png)
if setTimeout callback post exception，the async stack will not pop async id.
 emitAfter(asyncId) must be the final key word

[2020-10-15 15:37] AkshayCloudAnalogy commented on #7778
Any solution for this?

[2020-10-15 16:15] Syed-Umair commented on #21729
In electron 10x, spellchecker is supported by default in electron and it works like a charm.

[2020-10-15 16:16] #21729 closed

[2020-10-15 16:21] Syed-Umair commented on #22216
I found that spellcheck is working by default in webviews and iframes in electron 10.1.3. Closing the issue for now.

[2020-10-15 16:21] #22216 closed

[2020-10-15 16:23] codebytere commented on #24803
Yes, that would be because this fix was released in 9.2.0.

[2020-10-15 16:33] kempy007 commented on #10515
@celestial2 do you have a Dockerfile you can share that we could perhaps modify to stream youtube or something with audio using a modified example app as original no longer exist but I found a fork to copy as base https://github.com/kempy007/electron-desktop-capture

[2020-10-15 16:54] ccorcos commented on #21621
@quanglam2807 do you mean that you're putting the drag region in the BrowserWindow's webContents?

[2020-10-15 16:56] quanglam2807 commented on #21621
Yes, that's what I did.

[2020-10-15 17:02] RGSevOne opened #25968 "Port is invalid"
The project only accept port 1024 or over, not allowing ports like 80 or 443. The message issued is The port is invalid.

![image](https://user-images.githubusercontent.com/63416146/96162499-84646f00-0f10-11eb-9346-e5a4d1161c86.png)

![image](https://user-images.githubusercontent.com/63416146/96162532-8dedd700-0f10-11eb-8b3f-a99bbe214a16.png)

[2020-10-15 17:05] nornagon commented on #25968
This issue tracker is for bugs with Electron. You'll have to report that bug to whatever app it is you're using.

[2020-10-15 17:05] #25968 closed

[2020-10-15 17:10] nornagon commented on #25965
We don't support extending Electron's built-in classes.

[2020-10-15 17:10] #25965 closed

[2020-10-15 17:16] #18943 closed

[2020-10-15 17:17] nornagon commented on #25457
https://github.com/electron/electron/commit/7ae4b2b5597430b163229887aa8cb1999cf5bf9f fixes this in 10.x

[2020-10-15 17:54] vladimiry commented on #21729
Not yet, https://github.com/electron/electron/issues/22995.

[2020-10-15 18:07] tzarebczan commented on #20750
We're also seeing this issue - any updates or workarounds?

[2020-10-15 18:14] lmancel commented on #25965
Hmmmmm alright, so the fact that everything was working fine until v10.1.3 is mere coincidence then...

[2020-10-15 18:20] seanyesmunt commented on #20750
The https://github.com/lbryio/lbry-desktop app is seeing a crash when using the new File constructor

`new File([imageBuffer], 'thumbnail.png', { type: 'image/png' });`

I think it's related to this issue. It crashes in the same way.

On Electron 9.3.1

[2020-10-15 18:58] MarshallOfSound opened #25970 "Printing crashes on 11.0.0-beta.12"
Worked in beta.11 broken in beta.12, suspect CL --> https://chromium-review.googlesource.com/c/chromium/src/+/2409467

Crash dump:

[code]

[2020-10-15 19:01] gdavidkov opened #25971 "The tooltip of the button for annotations is "undefined" in PDF"
There is one button which tooltip displays "undefined"

### Preflight Checklist
* [X] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [X] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [X] I have searched the issue tracker for

[2020-10-15 19:05] gdavidkov opened #25972 "Support searching in PDF"
It would be great if searching in PDF could be implemented.

### Preflight Checklist
* [X] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [X] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [X] I have searched the issue tracke

[2020-10-15 19:09] ccorcos commented on #21621
Hmm. I'm doing this:

[code]

And it sorta works. If I move my mouse fast so the mouse leaves the region, it stops dragging which feels really jank. Do you have that problem as well?

[2020-10-15 19:30] MarshallOfSound commented on #25971
Probably missing a translation string. 🤔

[2020-10-15 19:32] MarshallOfSound commented on #25955
This IMO is a better solution, Electron can't add APIs for everything and the winrt native modules unlock this quite easily

[2020-10-15 19:32] #25955 closed

[2020-10-15 19:33] MarshallOfSound commented on #25953
We still use libappindicator, so nothing has changed here

[2020-10-15 19:33] #25953 closed

[2020-10-15 20:16] savannidgerinel commented on #23272
Esperanto (`eo.UTF-8`) is also not supported on Chromium 85.0.4183.83 (Linux)

[2020-10-15 20:48] irevenko opened #25976 "tray.setToolTip doesn't work on Linux with 9.0.3-10.1.3 versions"
### Issue Details

* **Electron Version:**
  * 10.1.3
* **Operating System:**
  * Linux Kubuntu 20.04.1 KDE
* **Last Known Working Electron version:**
  * 9.0.2 (checked all versions)

### Expected Behavior
When hover on icon expect to display ```setToolTip``` text
<img src="https://i.imgur.com/8PZEdni.png">

### Actual Behavior
When hover on icon displays ```electron``` instance instead of ```set

[2020-10-15 21:05] #25649 closed

[2020-10-15 21:16] jchen437 opened #25981 "BrowserWindow accessibleTitle is not visible to screen readers"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-15 22:48] nornagon opened #25983 "Crash on exit in extensions::ProcessManager::Shutdown"
Detected in CI: https://app.circleci.com/pipelines/github/electron/electron/31161/workflows/e022a2a8-d5fb-47b4-806f-84f69ecf0a8a/jobs/686542

[code]

[2020-10-15 22:55] pananapread opened #25984 "Custom caption controls are not accessibility friendly"
### Preflight Checklist

* [ ] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-16 01:28] southorange1228 commented on #25680
when all windows are closed, app.on('quit') event is triggered. And it is triggered where dock exit.

[2020-10-16 01:32] southorange1228 commented on #25680
but the application window close can't be customized, so i don't know how to use custom logics to close windows.this button can be customized?
![image](https://user-images.githubusercontent.com/32590310/96202636-4ad44800-0f92-11eb-99f0-1bef99c558a7.png)

[2020-10-16 01:46] bigben0123 commented on #24989
On electron 9,  build and Step debug is ok.

[code]

[2020-10-16 02:54] ahmadwaliesipick opened #25987 "Apple rejected build: The experience that your app provides is not sufficiently different from a web browsing experience."
Apple rejected build with below reason.
I have used many native features like;
1- Tray
2- In-App purchase
3- Shortcut keys
4- Dock
5- Welcome screen
6- Notifications
and more

Guideline 4.2.2 - Design

The experience that your app provides is not sufficiently different from a web browsing experience.

We advise incorporating additional substantive native macOS features into your application to bet

[2020-10-16 03:06] L-Chris opened #25988 "How we can addEventListener for Page.javascriptDialogOpening on debugger ?"
I want to listen "Page.javascriptDialogOpening" on debugger.

how can i achieve it?

![image](https://user-images.githubusercontent.com/22991560/96208256-b1139780-0f9f-11eb-8ac3-abbf08631969.png)

[2020-10-16 03:13] #25988 closed

[2020-10-16 03:14] L-Chris commented on #25988
I found it.
[code]

[2020-10-16 03:27] MarshallOfSound commented on #25987
This is for you to deal with Apple.  I'd suggest filing an appeal and pointing out the list of feature you referenced here.  We have no say / power over the mac app store 🤷

[2020-10-16 03:27] #25987 closed

[2020-10-16 03:28] weiweian90 commented on #1114
I had the same problem with Electron v4.2.12. The video element cannot play mp4, but can play camera media stream

[2020-10-16 04:23] codebytere commented on #25971
To triage this further we're going to need a sample pdf @gdavidkov - i don't know which you loaded and by default the annotate button doesn't show on most PDFs so I'm having trouble reproducing.

[2020-10-16 05:12] sprout2000 opened #25990 "React DevTools tab not appearing Electron@10.x.x"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-16 06:59] alevani commented on #25801
@codebytere Oh! I will try right away on a printer then, but everything should be fine. I however think that it would make great sense for the success callback to be triggered even if it's saving to a PDF as it is a FileToPDF **printer**, IMO. Also the file is empty when printing and saving to PDF in `10.1.3` so that's related to the callback not being triggered (I imagine). Many thanks for your t

[2020-10-16 07:40] gdavidkov commented on #25971
@codebytere  thanks for your prompt response. I also wonder if it possible to control these buttons? I don't why this button for annotations is visible.

I tested it on Electron 9.3.1 and 9.2.1 - the result is the same.

Here is the repo - https://gist.github.com/gdavidkov/fb910fda8c271bd8451b6f2fb95157f8

![image](https://user-images.githubusercontent.com/5815794/96226337-24ff7100-0f9b-11eb-9891-

[2020-10-16 08:59] zxcat commented on #8124
Hey, this lasts for years, any updates?

Current defaults are just harmful and multiply bad practices in apps. macOS users forced to add more and more excluded folders in Time Machine to prevent unnecessary grow of backups. Sometimes these backed up files lead to deletion of possible useful old data. It just sucks. Spotlight search becomes broken too.

I see no problem of moving cache and fully ag

[2020-10-16 09:28] michael-lam commented on #25486
Thank you for your response. Currently, I can run electron 10.1.3 and
chrome 85 and chromedriver 85.

On Fri, Oct 9, 2020 at 9:38 AM kellyshang <notifications@github.com> wrote:

[2020-10-16 09:32] pranav-pkasthana commented on #24171
I had same issue, but the the main issue was in the loaded web page.(some of the script files were not found with error 404).
After fixing that the Electron error was resolved.

[2020-10-16 10:31] Nashorn commented on #24171
This has to do with using the electron app over VPN

[2020-10-16 14:02] Mrhoho commented on #1374
Any Update on this?

[2020-10-16 14:30] lesleyandreza opened #25997 "Add property modulus to Certificate Object"
### Preflight Checklist
* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for a feature request that matches the one I want to file,

[2020-10-16 15:14] jameshfisher opened #25998 "How can I efficiently convert an `ArrayBuffer` (from the Web API) to a `Buffer` (from the Node.js API)?"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for a feature request that matches the one I want to file,

[2020-10-16 15:30] jameshfisher commented on #25998
Whoa. As a result of writing this, I just stumbled on [`Buffer.from(arrayBuffer)`](https://nodejs.org/api/buffer.html#buffer_static_method_buffer_from_arraybuffer_byteoffset_length), which looks and behaves exactly like I wanted. I didn't know Node.js was aware of `ArrayBuffer`. I'll close this issue, and post this on the Stack Overflow question.

[2020-10-16 15:30] #25998 closed

[2020-10-16 17:00] bughit commented on #25806
@sofianguy don't think this is windows specific

[2020-10-16 18:42] yyccQQu opened #26000 "The electron v7.3.3 app.setBadgeCount is not working!"
### Issue Details

* **Electron Version:**
  *  v7.3.3
* **Operating System:**
  *  macOS 10.15.4 (19E287)
* **Last Known Working Electron version:**
  * don`t know

-- the code
-- The comment method also doesn’t work
[code]
### Expected Behavior

![1](https://user-images.githubusercontent.com/32674176/96297000-42ffbc80-1001-11eb-8828-435f19b85ade.png)

[2020-10-16 20:52] anatoli26 commented on #8124
Electron devs, if someone submits a PR for this issue, will it be considered?

[2020-10-16 21:27] codebytere commented on #25971
ah @gdavidkov you're right! looks like we disabled it on v10 and beyond (it didn't work before) I'll pop up a PR to get it on v9 too!

[2020-10-16 23:12] tuxflo commented on #14941
@micw I don't fully understand the workaround. Did you change the electron source code? Which "program folder" do you mean? I simply did a `touch libappindicator3.so.1` and `touch libappindicator3.so` in the folder where my electron code is (from where I start my app with `yarn start`, which executes `yarn electron:build && cross-env NODE_ENV=DEV electron .`) but this didn't change anything.
Thank

[2020-10-17 00:40] tarruda commented on #15434
This is not the same of what the OP requested, but an alternative is passing an array of URL patterns as second argument to `intercept{Any}Protocol` which limits the callback to intercept only URLs that match the patterns. Here's a patch to anyone interested: https://gist.github.com/tarruda/554962f987f7f3a1a94d2c1c76c880a8#file-allow-url-patterns-intercept-protocol-diff-L186

[2020-10-17 00:53] dsanders11 commented on #25997
Since `setCertificateVerifyProc` is in the main thread, you should be able to use Node libraries? [Here's a StackOverflow answer](https://stackoverflow.com/questions/58697664/how-to-get-the-public-key-length-out-of-parsed-x509-certification-in-nodejs) which describes how to get it from a PEM encoded certificate using `node-forge`.

It doesn't look like the modulus is readily available in the inter

[2020-10-17 01:13] dsanders11 opened #26009 "Some Build Linters Silently Fail"
After poking around and finding several bugs in `lint.js`, here is the current status of the linters as far as I can tell. Making this issue so I can offload it from my brain and track the various PRs.

|   | Python | Objc | Gn | Patches | JS/TS | C/C++ |
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
| Linux  | #26253  | :heavy_check_mark: | :heavy_check_mark: | :heavy_check_mark: | :heavy_check_mark: | :heavy_ch

[2020-10-17 01:30] #24458 closed

[2020-10-17 05:09] tomm1e opened #26015 "Input ellipsis not activating when losing focus to BrowserView"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-17 06:24] DBJDBJ commented on #18397
After I installed VS Code on this Windows 10 machine I can not execute js files anymore. These are javascripts admin scripts executed on Windows direct. 20 years old subsystem. But people do use them ...

I am here because this is where Electron debug dump advised me to go

![image](https://user-images.githubusercontent.com/145155/96329982-17f18900-1052-11eb-93d8-14d41b3e4f1e.png)

[2020-10-17 07:37] PalmerAL opened #26016 "Calling window.print() from BrowserView crashes starting in 11.0-beta12"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-17 08:56] hbb520 commented on #18375
同求

[2020-10-17 12:06] DimPaDev commented on #25153
Just wanted to mention that NW.js had this problem/regression too , but recently they updated chromium to version 86.0.4240.75 and the transparency in linux now works correctly

[2020-10-17 13:20] Kyuunex commented on #10515
here's what i use to reproduce this issue [https://github.com/Kyuunex/electron-screen-capture-test](https://github.com/Kyuunex/electron-screen-capture-test) and is still reproducible
i forked and modified from someone's tutorial

[2020-10-17 13:45] Marcosul commented on #11755
for me needed sudo

$ sudo npm install -g electron --unsafe-perm=true --allow-root

[2020-10-17 15:11] kolaente commented on #25884
It looks like it works with just the hello-world app and electron builder - I'll add my application files next and see if it's still working.

[2020-10-17 16:19] kolaente commented on #25884
So after some more investigating, it seems like this is the fault of my custom file protocol which I used to serve the files without having to start a local web server: https://kolaente.dev/vikunja/desktop/src/commit/e5774d4553eae5166fa1d3f02e744c7189d64980/src/index.js#L38

I'll probably end up just using a local express to host the app files but would've liked to avoid that.
Maybe someone has an

[2020-10-17 17:12] Flairieve commented on #25850
The issue was closed on VSCode which they said that it is probably an issue with Electron.
Like I said on the VSCode issue, I launched it manually in the VSCode powershell terminal and then in powershell without debugging with VSCode. The same issue occurred on both of them.

[2020-10-17 18:43] vyunikov opened #26019 "Electron main process crashes on exit (version 10.1.3)"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-17 18:56] dsanders11 commented on #24835
@afloras, I don't believe there's any bugs. I was able to replicate it using your repository and it does not replicate as long as you don't open DevTools in `main.js`.

Since the image is 1.3 MB and you're base64 encoding it, the data-uris are probably around 2 MB long for the image, and they're all different due to the timestamp you add. That means the DevTools network request tab is logging all

[2020-10-17 19:23] RattlingAmigo commented on #6996
With some javascript and html, we can make like browsers button (<) (>)  for every platform.
Making below lines of the code on top of the page, with some css would be the work around.

Code:
<input type=button name="back" value="Go Back" onclick="history.back();">
<input type=button name="forward" value="Go Forward"onclick="history.forward();">

[2020-10-17 23:16] fabiospampinato commented on #25967
Some more details on this, or something potentially related to it:

- I changed some code to use Sets rather than Arrays, that made the app crash on startup.
- When the app crashes the error thrown in the devtools is:
  - > Uncaught TypeError: Method Set.prototype.values called on incompatible receiver [object Object]
- That error was triggered from a piece of code that looked like this:
  - `Arra

[2020-10-18 10:36] Kenhuey commented on #24893
I think this is a great enhancement, sometimes we need to drag window, but cannot disable the right-click menu. I am sad :(

[2020-10-18 12:05] sproxet opened #26023 "Electron causing kernel panic on OS X Catalina"
It seems that Electron Helper is causing kernel panics on OS X Catalina. I have experienced this problem repeatedly in my own code (https://github.com/zcoinofficial/zcoin-client), and have also found it referenced in two other projects:

https://github.com/microsoft/vscode/issues/86913#issuecomment-663055923
https://github.com/facebook/flipper/issues/1477

I'm not actually able to find the exact l

[2020-10-18 14:06] gdavidkov commented on #25971
@codebytere thank you very much!

[2020-10-18 18:54] studiochris commented on #24734
I've noticed this issue as well. If the application is launched from a local disk, things work the way they're supposed to. If the application is launched from a network share (or mapped drive), printing no longer works whether it's using `webContents.print()` or `webContents.printToPDF()`.

In older versions of Electron (5.0.0 specifically) the callback is never called (no error or data). In 10.1

[2020-10-18 18:56] adel-sbeh opened #26025 "A random error"
This error keeps occurring randomly when the URL of the `webview` changes.
[code]
<a href="https://ibb.co/YhYKvcj"><img src="https://i.ibb.co/zZjLKXf/Test-10-18-2020-9-54-47-PM.png" alt="Test-10-18-2020-9-54-47-PM" border="0"></a>

[2020-10-18 18:58] plusflabby commented on #25875
@zcbenz Figured out this issue was Squirrel and updating it resolves the issue and it only saves current and previous versions. Seen in https://github.com/Squirrel/Squirrel.Windows/issues/589

[2020-10-18 18:58] #25875 closed

[2020-10-19 00:29] xland commented on #22297
How about this issue's progress?

[2020-10-19 03:12] ahmadwaliesipick opened #26027 "Apple continuously reject app with reason; The experience that your app provides is not sufficiently different from a web browsing experience."
The experience that your app provides is not sufficiently different from a web browsing experience.

Please note that the additional items that your have added (i.e. welcome screen, Dock options, Menu Bar Extra, etc.) are not considered core features that differentiate the app from the Safari experience.

Next Steps

While your app content may differ from your web site, the experience it provides

[2020-10-19 03:27] faxinwang commented on #23215
it sames that `app.disableHardwareAcceleration()` can solve the black screen or black border problem. But I DO need hardware acceleration to run tensorflow.js in my application. So I need another solution to solve the problem with disabling Hardware Acceleration, Help!!!.

[2020-10-19 04:09] frombit commented on #23200
did you solve this problem?

[2020-10-19 07:00] alexkonstantinovakvelon opened #26028 "Crash Fatal Error: EXC_BAD_ACCESS / KERN_INVALID_ADDRESS in electron::NativeWindowMac::RedrawTrafficLights"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-19 07:33] chenendian commented on #7778
有什么解决办法吗？

[2020-10-19 09:12] mahnunchik commented on #24573
Hi @jkleinsc

I would like to draw attention to this issue because at the moment electron supports biometric scanner only on macOS.

**WebAuthn** implementation allows desktop apps to support in device FIDO authenticators:

* macOS via `Touch ID`
* Windows via `Windows Hello`

In addition to removable hardware security keys.

[2020-10-19 09:25] shuaiqichengzi commented on #25962
you can try:
           res.header("Access-Control-Allow-Credentials", true);
            res.header("Access-Control-Allow-Origin", req.headers["origin"] || "*");
            res.header("Access-Control-Allow-Headers", "X-Requested-With");
            res.header("Access-Control-Allow-Methods", "PUT,POST,GET,DELETE,OPTIONS");
            res.header("Content-Type", "application/json;charset=utf-8");

[2020-10-19 09:34] Maus3rSR commented on #20228
Same issue here! (with electron v8.2.5)

[2020-10-19 09:51] AramAnd opened #26029 "Backdrop-filter property on HTML elements on top of transparent BrowserWindow"
### Issue Details

* **Electron Version:**
  * v10.1.2
* **Operating System:**
  * Windows 10
* **Last Known Working Electron version:**

### Expected Behavior
I have multiple HTML elements which have backdrop-filter: blur(5px) property on top of transparent BrowserWindow and the expected behavior is to blur the desktop content, whatever is being seen through.

### Actual Behavior
When I add backd

[2020-10-19 09:52] Vatanay opened #26030 "Transparent frame on Ubuntu"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-19 11:48] #22829 closed

[2020-10-19 13:00] maxherrmann opened #26031 "Parent window is minimized automatically when minimizing one of its child windows"
### Preflight Checklist
* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without s

[2020-10-19 14:32] xpirt opened #26032 "[win32/macOS] EXCEPTION_ACCESS_VIOLATION_READ on shutdown"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-19 14:51] #25781 closed

[2020-10-19 16:09] raksooo commented on #24011
Great that this is being worked on! What's the current status?

By looking at the historical duration between major releases I get the impression that Electron 11 isn't to far away, which will result in Electron 8, the last version with this working, unsupported. This is a blocker for me and it would be nice to not have to use an unsupported version after Electron 11 has been released.

[2020-10-19 16:26] #25728 closed

[2020-10-19 16:55] xpirt commented on #26032
**Update:**
It seems we have a similiar crash affecting also macOS (10.15, 10.14, 10.13) and most probably have the same root cause.

Pastebin: https://pastebin.com/raw/EqLZpypt
Snippet:
[code]

[2020-10-19 17:13] nornagon commented on #26032
Duplicate of #25983.

[2020-10-19 17:13] #26032 closed

[2020-10-19 17:14] holmberd commented on #25872
Seems potentially related to:
- [#25421](https://github.com/electron/electron/issues/25421)
- [#25469](https://github.com/electron/electron/issues/25469)

[2020-10-19 18:02] poiru commented on #25127
@codebytere Seems like this didn't make it onto `10.x` yet — just double-checking that you're planning to backport it there?

[2020-10-19 18:12] quanglam2807 commented on #25127
It’s been backported. We just need wait for the release. :)

[2020-10-19 18:14] codebytere commented on #25127
@quanglam2807 it hasn't yet - it needs manual as you can see by the label on the original PR :) I do plan to do it when i have time soon tho!

[2020-10-19 18:15] ckerr commented on #26030
I'm closing this issue as it appears to be a duplicate of #25153. If this is in error, please reopen / refile. Thanks!

[2020-10-19 18:16] stewartlord commented on #25469
Anything I can do to assist with this @nornagon? It's a blocker for us over at https://tryshift.com

[2020-10-19 18:23] nornagon commented on #25469
Would be great if you could debug and fix it :)

I don't have any leads and am not currently working on this issue.

[2020-10-19 18:44] stewartlord commented on #25469
😉 okay, we're digging deeper over here

[2020-10-19 18:48] #26030 closed

[2020-10-19 18:56] ckerr commented on #26028
This _does_ look similar to #25491 but that landed in 9-x-y in 6c3c9b5a5114ac086799298cd5476ef3cfde9bf0 via #25586, which is included in v9.3.2 where this crash is taking place. So this is possibly a related bug or maybe there's something in 9-x-y that kept the fix from working correctly in that branch.

@zcbenz you may be most up-to-speed with this since you worked on #25491; does anything in thi

[2020-10-19 19:03] gdavidkov opened #26039 "The empty folder Dictionaries is always created in %Appata%\Electron\"
Hello,
I want to change the per-user application data directory, which by default points to %APPDATA% on Windows. According to the documentation, I've tried with app.setPath("appData", "c:\\myAppData") and also with the same path but the other path's name "userData" but without a result. All Electron's files are moved into the new path except the folder Dictionaries, which is created in %AppData%/

[2020-10-19 19:11] ckerr commented on #26029
Thank you for taking the time to report this issue and helping to make Electron better.

Would it be possible for you to fork [electron-quick-start](https://github.com/electron/electron-quick-start) for a small app that reproduces the issue by itself? That would be faster than me transcribing your screenshot into a test case.

I'm adding the `blocked/needs-repro` label for this reason. After you'v

[2020-10-19 19:27] jkleinsc opened #26043 "The test session.serviceWorkers getFromVersionID() should report the correct script url and scope is frequently flaking on all arm platforms"
### Preflight Checklist

* [ ] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [ ] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [ ] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-19 19:39] ckerr commented on #26023
Thanks for reaching out!

Next time, please fill out the issue template instead of deleting it. This is necessary so that we can be certain we have all the information we need to address your submission efficiently and correctly. For example, I'm _assuming_ that you're seeing this in 9-x-y because that's the version in ZCoin's package.json, but if you'd filled out the template instead of deleting

[2020-10-19 19:48] rwwagner90 commented on #14941
@micw would you be interested in submitting a PR to electron to fix this?

[2020-10-19 19:53] ckerr commented on #26031
I'm seeing the same behavior using Max's recipe.

Gist repro: https://gist.github.com/ckerr/0df583ddeaa72a6c6a31657b1041849f

[2020-10-19 19:53] alexkonstantinovakvelon commented on #26028
I mentioned https://github.com/electron/electron/issues/25491 as similar but the other crash in RedrawTrafficLights still happening after fix https://github.com/electron/electron/pull/25586.

[2020-10-19 19:56] ckerr commented on #26039
Yep, this happens on Linux too. I'm seeing _many_ empty `~/.config/$foo/Dictionaries/` folders on my Linux box.

[2020-10-19 19:59] codebytere commented on #26016
@PalmerAL this is already raised, closed by https://github.com/electron/electron/pull/25989

[2020-10-19 20:00] avisk1 commented on #11062
Hey I just received this exact error. It happens when I open a <webview> with a specific src. Nothing happens, and when I try webview.goBack() it just crashes and I get this error. There are no errors in the console. This happens both on the packed and unpacked version. Sorry that it's not much to go on.

[2020-10-19 20:02] codebytere commented on #25971
Closed by https://github.com/electron/electron/pull/26004

[2020-10-19 20:02] #25971 closed

[2020-10-19 20:06] ckerr commented on #26019
Hi @vyunikov, thanks for reaching out!

Researching issues that depend on third-party code is usually not feasible for the Electron team due to the time that would be required to research reported issues with open-ended dependencies.

Would it be possible for you to fork [electron-quick-start](https://github.com/electron/electron-quick-start) for a small app that reproduces the issue by itself wit

[2020-10-19 20:21] ckerr commented on #26000
Thank you for reaching out!

The version of Electron reported in this issue has reached end-of-life and is no longer supported, so this issue will be closed.

If you're still experiencing this issue on a supported version of Electron and would like this issue to remain open, please file a new issue with that version of Electron.

Thanks in advance! Your help is appreciated.

[2020-10-19 20:22] #26000 closed

[2020-10-19 20:28] ckerr commented on #25990
gist version of ^

[2020-10-19 21:23] jkleinsc opened #26045 "did-change-theme-color tests are flaky on WOA"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-19 21:31] #26016 closed

[2020-10-19 22:12] pushkin- commented on #1130
If this is considered, a nested BrowserView would be nice for my use case

[2020-10-19 22:16] ckerr commented on #25962
GitHub issues are for feature requests and bug reports. Please visit https://github.com/electron/electron#community for a list of resources that are better oriented for questions and help. Thank you!

**NB:** We've just added a Discord server for help & community discussion! It's not listed in the above link yet (there is a [PR](https://github.com/electron/electron/pull/26048) that will fix that),

[2020-10-19 22:16] #25962 closed

[2020-10-19 22:20] jayantchaudhary002 commented on #25887
I would like to work on this issue

[2020-10-19 22:35] codebytere commented on #24083
Seen in this PR as well: https://github.com/electron/electron/pull/26037/checks?check_run_id=1277747636

https://app.circleci.com/pipelines/github/electron/electron/31303/workflows/650de35c-85d9-4c04-80e8-1b169f1ddf4b/jobs/689978

[2020-10-19 22:52] ckerr commented on #25925
I _think_ this is fixed as a side-effect of https://github.com/electron/electron/issues/23479

[2020-10-19 22:53] ckerr commented on #25920
Thank you for reaching out!

The version of Electron reported in this issue has reached end-of-life and is no longer supported, so this issue will be closed.

If you're still experiencing this issue on a supported version of Electron and would like this issue to remain open, please file a new issue with that version of Electron.

Thanks in advance! Your help is appreciated.

[2020-10-19 22:53] #25920 closed

[2020-10-19 22:55] ckerr commented on #25908
## If No Repro Included

Thank you for taking the time to report this issue and helping to make Electron better.

Would it be possible for you to fork [electron-quick-start](https://github.com/electron/electron-quick-start) to make a stand-alone app that reproduces this issue?

Stand-alone test cases make fixing issues go more smoothly: it ensure everyone's looking at the same issue, it removes al

[2020-10-19 22:55] ckerr commented on #25908
Thank you for taking the time to report this issue and helping to make Electron better.

Would it be possible for you to fork [electron-quick-start](https://github.com/electron/electron-quick-start) to make a stand-alone app that reproduces this issue?

Stand-alone test cases make fixing issues go more smoothly: it ensure everyone's looking at the same issue, it removes all unnecessary variables f

[2020-10-19 23:55] alex0091845 commented on #25915
I can work on this issue!

[2020-10-20 00:49] ferment-it commented on #22454
I am encountering the same issue on Electron 10.1.3 My RPi has the same Chromium- 78.0.3904.108 (Official Build) Built on Raspbian , running on Raspbian 10 (32-bit), though it's 4GB ram

I'm trying to play a 3GB h264 file - native Chromium browser shows 15% CPU consumption max for the busiest process (without launching with any GPU acceleration flags). Electron shows ~275% CPU, even with the GPU f

[2020-10-20 01:33] #6330 closed

[2020-10-20 04:24] GiovanH commented on #18559
This seems like a serious issue that hasn't been addressed.

[2020-10-20 04:33] GiovanH commented on #10025
The webview problem in particular makes this a critical issue, as there is no workaround.

[2020-10-20 04:46] GiovanH commented on #8708
@groundwater Is additional information still needed on this?

[2020-10-20 05:11] PalmerAL commented on #26016
Thanks for the fix!

[2020-10-20 06:06] vyunikov commented on #26019
Hi @ckerr
Thanks for your response. I'll try to narrow it down.
I thought maybe the stack trace points something out?

[2020-10-20 06:57] gdavidkov opened #26054 "Keyboard print shortcut in PDF viewer doesn't work"
### Preflight Checklist
* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without s

[2020-10-20 07:05] hxkuc opened #26055 "setImmediate crash"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-20 07:40] adel-sbeh commented on #26025
Oh, the repository is https://github.com/EnderAdel/EnderFramework.

[2020-10-20 07:51] satiena opened #26056 "ShutΩ°4"
### Preflight Checklist

* [ ] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [ ] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [ ] I have searched the issue tracker for a feature request that matches the one I want to file,

[2020-10-20 07:51] #26056 closed

[2020-10-20 07:53] yyccQQu opened #26057 "In the specified Mac version will always appear -- app.setBadgeCount is not working!"
### Issue Details

* **Electron Version:**
  *  v7.3.3 ，v9.3.2
* **Operating System:**
  *  macOS 10.15.4 (19E287)
* **Last Known Working Electron version:**
  * don`t know

-- the code
-- The comment method also doesn’t work
[code]
### Expected Behavior

![1](https://user-images.githubusercontent.com/32674176/96297000-42ffbc80-1001-11eb-8828-435f19b85ade.png)

### Else

Tested two versions of ele

[2020-10-20 09:32] maxherrmann commented on #20059
I can reproduce this in Electron 10.1.3 on Windows 10 (1909).

[2020-10-20 09:59] Wonder233 commented on #24171
The same exists for electron v10.0.1

[2020-10-20 11:38] Kamran95 opened #26060 "Screen Shot"
## Taking continuous Screenshots
I want to take screen shot after each interval of time. But after each time screenshot method is called system becomes slower and slower
## Technology
Electron
## Method
desktopcapturer
## Code
interval= setInterval(()=>{screenshots()},6000)

function screenshots(){

    // console.log('token is',token
    desktopCapturer.getSources({types:['window', 'screen'], thu

[2020-10-20 12:21] kaysonwu commented on #24906
@zcbenz  This issues is still not solved.

[2020-10-20 13:32] AramAnd commented on #26029
Thank you @ckerr for the reply. Please see below the forked repo link.

https://github.com/AramAnd/electron-quick-start

If you check the application, you will see the issue with BOX-3 and BOX-4. Please let me know if you need more clarification.

[2020-10-20 14:04] henriquemc commented on #25955
The electron has already API for the taskbar, however, lacks the functionality of to pin. Using node-rt  I'm having an interface not registered error. I think it's because they need to run a UI thread. Has anyone ever experienced this?  @MarshallOfSound

[2020-10-20 14:06] bpasero opened #26061 "Electron >=10 does not work on Ubuntu 18 under Parallels vm 16"
### Issue Details

* **Electron Version:**
  * 10 & 11
* **Operating System:**
  * Ubuntu 18
* **Last Known Working Electron version:**
  * 9.x

### Expected Behavior
I can run Electron 10 and 11 on Ubuntu 18.

### Actual Behavior
Running a hello world Electron in 10 or 11 does not appear properly on Ubuntu 18.

### To Reproduce
Install Electron Fiddle on Ubuntu 18 and just run Electron 10 or 11.

[2020-10-20 14:32] ckerr commented on #23479
An agreement has been reached about how to handle use of nonpublic APIs -- this PR will be merged behind a compile-time feature flag.

[2020-10-20 14:56] vladimiry commented on #26039
#22995 might be a related issue.

[2020-10-20 16:05] banguncool commented on #10616
Hi, I'm using electron 10.1.4 and the issue still exist, but i found the best solutions for this and this is work for me like a charm

this how I call the second window

[code]

[2020-10-20 16:57] ckerr commented on #26060
Thanks for reaching out!

Please fill out the template when filing new issues and pull requests. This is necessary so that we can be certain we have all the information we need to address your submission efficiently and correctly.

Thanks for understanding and meeting us half way :grinning:

[2020-10-20 17:04] vyunikov commented on #22552
Is there any progress on this?
On Electron 10.1.3 it doesn't work either. I start crash reporter on the main process and expect it to monitor crashes in my child forked process, but in fact dump doesn't get saved to a disk nor uploaded.

[2020-10-20 17:07] ckerr commented on #26055
gist of @hxkuc's test case: https://gist.github.com/ckerr/a0bbfb980262a38d4f6a5957d09720cd

[2020-10-20 17:24] ckerr commented on #26055
I'm not able to reproduce this with the gist above when testing with Electron v10.1.4 on Windows 10 and Linux: the script errors out with the parse error, but Electron does not itself crash.

If you're able to reproduce this crash, could you provide more information on the crash itself and how to reproduce it? For example a crash backtrace would be helpful, as would a test case that reliably crash

[2020-10-20 17:28] ckerr commented on #26027
GitHub issues are for feature requests and bug reports. Please visit https://github.com/electron/electron#community for a list of resources that are better oriented for questions and help. Thank you!

**NB:** We've just added a Discord server for help & community discussion! It's not listed in the above link yet (there is a [PR](https://github.com/electron/electron/pull/26048) that will fix that),

[2020-10-20 17:28] #26027 closed

[2020-10-20 17:34] Maus3rSR commented on #4464
Same here

[2020-10-20 17:36] Maus3rSR commented on #4349
Same issue for Electron v8+, @hexaguin answer worked for me too

[2020-10-20 17:36] mlaurencin commented on #22027
I am having a bit of trouble recreating your specific issue. Can you try running this Fiddle gist and confirm whether or not you are experiencing the same thing here?: [Gist](https://gist.github.com/mlaurencin/ea0ba05f61ac14d920c468b47d507904)
If not, if you could create and link your own gist of the issue, that would be very helpful.

[2020-10-20 18:40] ckerr commented on #25021
The once-per-minute wakeup has landed in master and is targeted for backport to 11 and 10.

[2020-10-20 19:56] masterkidan commented on #21944
@d4hines : This issue is fixed in E9. The underlying bug fix in chromium is:
https://chromium.googlesource.com/chromium/src/+/80cdb9f67d5aa482b4d118ab27164349fc8f2c69

[2020-10-20 20:15] deepak1556 commented on #24135
Looks like this issue is still present with E9, just got a report in vscode for the same trace https://github.com/microsoft/vscode/issues/108860

[2020-10-20 20:21] garethbaars commented on #25964
Having same issue. Electron 10.1.4

[2020-10-20 20:30] avisk1 commented on #14905
@hiddentao could you show how you did?

[2020-10-20 21:21] alexciarlillo opened #26071 "Closing captured application window while screen sharing crashes render process"
### Issue Details

* **Electron Version:**
  * 8.5.1
* **Operating System:**
  * Windows 10 (19041.572)
* **Last Known Working Electron version:**
  * n/a

### Expected Behavior

When screen sharing an application window (via getUserMedia and WebRTC), and the window is closed while still streaming, the output should simply go black (this is the behavior in Chrome).

### Actual Behavior

When scree

[2020-10-20 22:24] alexciarlillo commented on #26071
Closing as I am currently unable to repro this in a minimal example.

[2020-10-20 22:24] #26071 closed

[2020-10-20 23:19] #21944 closed

[2020-10-21 01:13] MMcKester opened #26073 "focus is triggered on drag and drop events"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without success.
* [X] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adh

[2020-10-21 02:26] alex0091845 commented on #25915
I'm new to contributing to open source so I'm not sure where to push things to 😅 but I think I have the solution.

In the body of the tray's onclick event, this ordering seems to work:
[code]

[2020-10-21 02:52] CaiHuan commented on #25964
nodejs bug for all electron version

[2020-10-21 04:05] hussaa1 commented on #14978
If it helps someone else, for my Angular 8 single page project, as inspired by @joaodforce's solution above, it worked for me like this;

win.webContents.on('did-fail-load', () => {
  console.log('on browser reload it did-fail-load and reloaded the app');
  win.loadURL(`file://${__dirname}/dist//index.html`);
});

[2020-10-21 04:08] squalle0nhart commented on #17523
I've tested with latest electron 10. Print functions working fine!

[2020-10-21 04:47] tsoil opened #26074 "[ubuntu] shell.openPath renders the interface unworkable"
### Issue Details

* **Electron Version:10.1.1
* **Operating System:Ubuntu 18.04 x6

When I opened the Doc file with shell.openPath(), electron interface could not be operated. However, if I opened WPS first and then shell.openPath(), Electron had no impact

[2020-10-21 05:58] vyunikov commented on #24779
I am not sure whether it's a correct issue to post in, but in electron 10.1.3 `crashReporter` is not monitoring crashes in a child process created using `child_process` module.
Is there a way to make it work?
Is there any ongoing work with regards to the above?

Thanks in advance

[2020-10-21 06:26] klwfwdk opened #26075 "axios in renderer will lost request body"
I fond the solution by using fetch().Is there a similar solution that can be used for axios?

@anatoly314 This is a fundamental limitation of XMLHttpRequest: it [only sends upload bodies to http/https](https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/renderer/core/xmlhttprequest/xml_http_request.cc;l=800;drc=df1adb1e58a995deb240cdc86e2b2bd9d65cb433). (see [here](https:/

[2020-10-21 06:58] zcbenz commented on #26028
Crash in `RedrawTrafficLights` usually happens when we forgot to remove some observers when closing window, while #25491 fixed the case with nativeTheme events there might still be other cases that could cause similar crashes.

[2020-10-21 07:06] adel-sbeh opened #26076 "Transparent windows aren't maximizable!"
When creating a transparent window, the code of the max button gets broken:
[code]

[2020-10-21 07:07] mrafei commented on #10078
`alwaysOnTop` option still doesn't go on top of fullscreen apps like video players. please help!

[2020-10-21 08:32] hxkuc commented on #26055
i use your example and it crashed
![image](https://user-images.githubusercontent.com/17510186/96694366-f9c1bb00-13ba-11eb-9424-daf205896045.png)

[2020-10-21 08:59] t57ser opened #26077 "window.open does not accept size values with "px" at the end"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-21 10:53] SammyAbukmeil commented on #24734
This was the cause of the issue for me.

I was launching my application directly from a

1. Mapped drive (between my host and the VM) on a Windows 7 VirtualBox VM
2. Network drive on an actual windows 7 machine

Both of which, print jobs got stuck in "Spooling" status.

Moving the electron app off the mapped/network drive, onto the local disk (e.g. Desktop) fixes the issue. Thanks @studiochris

[2020-10-21 10:56] ericblade commented on #2867
... for what it's worth, it should probably be in the documentation that BrowserWindow.show() is effectively non-functional for single window applications when running in Windows.  BrowserWindow.show() will bring a window to the front only if it shares (X,Y) screenspace with another window from the same application.

[2020-10-21 11:02] NathanielPather commented on #25793
I've reproduced this error by cloning the earlier version of your app. The lag only occurs when the frame option is set to false. When the frame is set to true, the lag isn't there.

@GreepTheSheep Is this a misquote from you?

[2020-10-21 11:57] lesleyandreza commented on #25997
@dsanders11 thanks for your help!

I managed to extract the modulus in an Array of Integers format and that helped me to reach the goal that was to do HTTP pinning using it as a criterion.

Even so, I believe that it would be very useful for me and for other people if this improvement is implemented, since this `fingerprint` that is provided by Electron is not as useful as` modulus` to apply the H

[2020-10-21 12:39] 1111mp commented on #22499
I had the same problem on the Mac.

[2020-10-21 12:40] raksooo commented on #25915
I just tried that and unfortunately it didn't make it work for me.

[2020-10-21 13:40] oktayaa commented on #1590
What would setting the initial width smaller than the minwidth mean anyway?

[2020-10-21 14:35] servetoz commented on #20874
Workaround on Win 10: Run as administrator.

[2020-10-21 15:03] lmancel opened #26079 "Production build: unusable binary dependencies (Unexpected end of JSON input)"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-21 15:06] e-sauvage opened #26080 "Problem with Sequelize orm after Electron-forge package"
Hey Guys,

i am getting some errors after running electron-forge package.
My electronPackagerConfig is:

[code]

In my files folder i have my sequelize db + models + migrations.
files/db/

[code]

I am accessing my models like this at the beginning.
If i run my code without unpacking i dont get this error.

The error i am getting is:

[code]
I can access the folder via readdirSync but the problem

[2020-10-21 17:52] codebytere commented on #24734
Our printing functionality simply pipes through that existing logic from Chromium, so if it is not possible to run Chromium than printing functionality will not work. You should expect that you need to un from local disk and not from a mapped or network drive.

[2020-10-21 17:52] #24734 closed

[2020-10-21 17:53] hiddentao commented on #14905
@avisk1

In my [webview preload script](https://github.com/erdDEVcode/sting/blob/master/electron/preload/browserTab.js) I use the [shortcuts](https://www.npmjs.com/package/shortcuts) library as such:

[code]

Inside my [Webview component](https://github.com/erdDEVcode/sting/blob/master/src/components/browser/WebView.tsx) I listen for it:

[code]

[2020-10-21 17:54] deepak1556 commented on #26061
After a little bit investigation, this turned out to be an issue only when running on Parallels vm 16. Works fine on Parallels 15 tho. Current workaround is to launch app with `--disable-gpu`.

I don't have parallels 16, looking to update the version and investigate the issue further.

[2020-10-21 17:58] alex0091845 commented on #25915
Hmm. I went ahead and reproduced the "error" when I docked one of the windows and indeed in doesn't work, so I changed the order again and moved the show() call above the two other ones, and that seemed to work, until I realized it might be a feature not a bug (of Windows).

It's strange. When the icon is **visible on the taskbar**, all applications will appear **behind the docked window** (made m

[2020-10-21 18:02] nornagon commented on #26061
https://crbug.com/936551

[2020-10-21 18:02] #26061 closed

[2020-10-21 18:21] nornagon commented on #22499
Posting the symbolication of the crash in the first post for future reference:

[code]

[2020-10-21 18:26] nornagon commented on #26077
Looks like this was caused by https://github.com/electron/electron/pull/23130, and should be fixed by using `parseInt()` instead of `Number()` here: https://github.com/electron/electron/blob/22cb3cd18b1b771364edada515a4c138a8dddc6d/lib/common/parse-features-string.ts#L41

[2020-10-21 18:28] #26075 closed

[2020-10-21 18:28] nornagon commented on #26075
Thanks for reaching out!

Because we treat our issues list as [the team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community).

[2020-10-21 18:30] nornagon commented on #26074
Thanks for the report. I'm not sure what you mean by "electron interface could not be operated". Can you explain further?

[2020-10-21 18:34] nornagon commented on #25964
Unfortunately, we don't support using the `vm` module in the renderer. Node and Blink have incompatible ideas about how fresh contexts should work, and it's infeasible for us to mesh those ideas together.

Eventually, [ES Realms](https://github.com/tc39/proposal-realms) will be the way to do `vm`-like things in the renderer.

[2020-10-21 18:34] #25964 closed

[2020-10-21 18:39] nornagon commented on #26025
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grin

[2020-10-21 19:03] deepak1556 commented on #26061
Nice, thanks!

[2020-10-21 19:05] ckerr commented on #26073
Thanks for reaching out!

Please fill out the template when filing new issues and pull requests. This is necessary so that we can be certain we have all the information we need to address your submission efficiently and correctly -- for example, in this issue I have no idea which version of Electron I should test with to try to reproduce the issue you're seeing.

In addition, would it be possible

[2020-10-21 20:03] ckerr commented on #26080
Hi @e-sauvage,

If this is a bug in electron-forge, you may want to report it at https://github.com/electron-userland/electron-forge/issues so that the Forge maintainers can track it there.

Also, if you're looking for general discussion on Electron tips & packaging etc with other Electron app developers, you may want to check out the new Discord server that was recently added at https://discord.c

[2020-10-21 20:03] #26080 closed

[2020-10-21 20:12] ckerr commented on #26079
Hey @lmancel, thanks for reaching out -- and extra thanks for the good description of the issue you're seeing!

I agree that it's not clear from the error message whether this is coming from Electron or Builder or one of their dependencies, but I _think_ that Builder is going to be the first place to look for this and would suggest reporting it at https://github.com/electron-userland/electron-forg

[2020-10-21 20:12] #26079 closed

[2020-10-21 20:12] Githubber2021 commented on #26073
Sure, sorry for the inconvenience. I updated my original report

[2020-10-21 20:18] ckerr commented on #26076
@adel-sbeh, thanks for reaching out and for providing a partial repro.

It looks like this repro case is only partially complete and e.g. needs the corresponding html in order to be run and tested. Would it be possible for you to fork [electron-quick-start](https://github.com/electron/electron-quick-start) to make a stand-alone app that reproduces this issue?

Stand-alone test cases make fixing is

[2020-10-21 22:00] petewu100 commented on #24589
Thank you @BuckeyeJL.  The Chromium bug had a few updates in the past week:

10/13/2020 https://chromium.googlesource.com/chromium/src.git/+/e1ec154666b2fdeab0cbee3ec31f1d3fbea43770 Focus WebContents prior to sending focus to renderer for accessibility
10/14/2010 https://chromium.googlesource.com/chromium/src.git/+/e9be7d1826ea5952232615255677fa6406a67053 Revert of the previous commit
10/21/2020 h

[2020-10-21 22:03] samuelmaddock opened #26089 "navigator.clipboard.read() requests 'unknown' permission"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-21 22:50] ckerr commented on #26089
gist repros gives the error message as advertised on v11.0.0-beta.13.

WfM on v10.1.4

[2020-10-21 22:53] ckerr commented on #26089
Looks like this broke sometime between v11.0.0-beta.7 and v11.0.0-beta.8.

[2020-10-21 23:50] nornagon opened #26092 "v8 CHECK() on shutdown in Event::~Event"
Observed in CI: https://ci.appveyor.com/project/electron-bot/electron-ia32-testing/builds/35885444

[code]

[2020-10-22 00:43] tsoil commented on #26074
The render process cannot click as it loses response

[2020-10-22 00:44] tsoil commented on #26074
The render process cannot click as it loses response

[2020-10-22 02:35] aje commented on #15879
I still have this problem. I am sure it won't go with this electron starter as well.

[2020-10-22 03:23] zhangxuelian commented on #9092
version 10.1.1
Still issue in my app

[2020-10-22 03:28] codebytere commented on #26055
@hxkuc I also cannot reproduce this. Can you please provide specific version numbers you're seeing this with?

[2020-10-22 04:40] sprout2000 commented on #25990
Same with Windows10.

- Electron Version:
  - v10.1.3

- Operating System:
  - Windows10 (1909)

- Last Known Working Electron version:
  - v8.5.2

- React Devtools version:
  - v4.8.2_0

[code]

[2020-10-22 04:50] gaodeng commented on #2683
any news?

[2020-10-22 05:05] codebytere commented on #25790
Closing as no response given.

[2020-10-22 05:05] #25790 closed

[2020-10-22 05:05] codebytere commented on #25690
Closing as this seems to be resolved but should more information come to light we can reopen this.

[2020-10-22 05:05] #25690 closed

[2020-10-22 05:11] codebytere commented on #25669
Think it might be this: https://github.com/electron/electron/commit/b87b5011615d17e0dcec5c71832d7b3d1d2ebc72

[2020-10-22 05:30] adel-sbeh commented on #26076
[code]

[2020-10-22 05:39] adel-sbeh commented on #26076
https://gofile.io/d/6JlyOh

[2020-10-22 05:44] hxkuc commented on #26055
i don't know why you can't reproduce, i think it is very easy to reproduce, just use `electron-quick-start` and `npm i electron@v10.1.4`
openDevtools in the console write this
[code]

[2020-10-22 05:47] adel-sbeh commented on #26025
[code]

[2020-10-22 05:49] adel-sbeh commented on #26025
[code]

[2020-10-22 06:31] GreepTheSheep commented on #25793
Oups okay i said when frame is set to false, it's a misquote. Sorry

[2020-10-22 07:02] redabc opened #26101 "How to use NODE_OPTIONS in the packaged Electron application"
Hi, Electron team:

Recently we encountered a problem，we use the latest version of electron , we do not know how to use NODE_OPTIONS --max-http-header-size=81920 in  the packaged Electron application；
"main": "backend/main.js",
  "scripts": {
    "start": "set NODE_OPTIONS=--max-http-header-size=819200 && electron .",
    "lint": "grunt lint",
    "flint": "grunt flint",
    "blint": "grunt blint"

[2020-10-22 07:16] bigben0123 commented on #25957
You need to change it into  '*://electron.github.io/'
It will work ok.

[2020-10-22 07:50] raksooo commented on #25915
I don't completely understand what your trying to say. I can confirm that everything works correctly when the icon is in the small pop-up part of the tray, but that doesn't solve the issue. This needs to work when the icon is in the non-pop-up part as well. I don't see how this could be a feature.

[2020-10-22 09:30] regular opened #26103 "Electron 10.x crashes with SIGSEGV on exit if a worker was created"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-22 10:23] 4tex commented on #25887
I would like to work on this issue

[2020-10-22 10:27] EdvinM commented on #17622
@codebytere the issue reappeared, electron 10.1.4, Ubuntu 18.

[2020-10-22 11:39] Code-Blooded-Human commented on #26077
Hello, I would like to solve this issue.

[2020-10-22 12:13] ahallicks commented on #22597
@zcbenz This fix that was working has all of a sudden stopped working again in ^10.1.4 😞

[2020-10-22 12:15] paramsiddharth commented on #18120
The first argument to the callback is most probably the error, which if `null`, means everything is working fine.

[2020-10-22 13:26] nuryagdym commented on #5577
@belloyang 's solution did not work on electron v3.1
destroying or closing browser window did close messag box.

[2020-10-22 13:53] dishubagga commented on #23991
anybody got fix for this?

[2020-10-22 15:14] exegonmar opened #26105 "ipcRenderer wont listen while BrowserWindows is hidden"
When launching an external process with spawn (const {spawn} = require ('child-process')) this process periodically communicates with the renderer from electron through ipc events. But sometimes it stops listening to ipc events from electron. All of this happens while the main window is hidden.

### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/el

[2020-10-22 15:23] jsheffers commented on #21509
Looks like this will be possible with 11?
https://github.com/electron/electron/issues/24225

[2020-10-22 15:57] ckerr commented on #26101
Thanks for reaching out!

The issues tracker is used for feature requests and bug reports, so you will probably have better luck with this question at one of the links at [the project's Community page](https://github.com/electron/electron#community) -- in particular, be sure to give [the Electron Discord server](https://discord.com/invite/electron) a try.

Good luck! I hope this helps!

[2020-10-22 15:57] #26101 closed

[2020-10-22 16:03] ckerr commented on #26103
backtrace from v10.1.3 using @regular's repro:

[code]

[2020-10-22 16:06] ckerr commented on #26105
Thank you for reaching out!

The version of Electron reported in this issue has reached end-of-life and is no longer supported, so this issue will be closed.

If you're still experiencing this issue on a supported version of Electron and would like this issue to remain open, please file a new issue with that version of Electron.

Thanks in advance! Your help is appreciated.

[2020-10-22 16:14] #26105 closed

[2020-10-22 16:23] ckerr commented on #23567
Electron migrated from GTK2 to GTK3 at the same time that upstream project Chrome did.

Electron is a small project and it's not feasible for us to continue GTK2 support when Chrome is not, so this issue will not be fixed. I don't know the specifics of your boxen, but you may be able to resolve the issue by installing GTK3 alongside GTK2.

[2020-10-22 16:45] ckerr commented on #26025
Hi @adel-sbeh, thanks for the test case.

It looks like it might be incomplete -- for example I see a preload.js referenced in the first code body that doesn't seem to be included here, and it's not clear to me from this code whether the preload is needed for this test or not. Would it be possible to reduce this down to the *minimal test case* that reproduces the issue by itself without any other

[2020-10-22 16:48] SkillsLabFR commented on #25440
Same problem with Ubuntu Server 20.04 . Electron version: 7.1.3.
The same packaged application works fine on Ubuntu Server 18.04.

[2020-10-22 17:00] ckerr commented on #26045
Data point: it doesn't seem to be exclusive to WOA. For example I got the same test failure in https://ci.appveyor.com/project/electron-bot/electron-ljo26/builds/35900922 for a docs change PR :slightly_smiling_face:

[2020-10-22 17:06] codebytere commented on #26077
@Code-Blooded-Human in the future, please note when someone is assigned to an issue that means it's already being worked on - this causes collided work.

[2020-10-22 17:35] #23567 closed

[2020-10-22 17:43] nornagon commented on #26103
Looks like a duplicate of #25691.

[2020-10-22 17:43] #26103 closed

[2020-10-22 18:22] randomgithubuser1 commented on #14264
I'm also having this issue with authentication in my electron app.

If anyone is still searching for a solution to this problem, it looks like we need to implement the NTLM protocol manually in electron.

https://stackoverflow.com/questions/13949163/windows-integrated-authentication-in-node-js-client

[code]

[2020-10-22 18:47] Flairieve commented on #25850
I have just found out both issues with Electron now of why my graphic tablet wasn't responding when debugging it and why file drop wasn't working at all. First check if the Node.js exe is not running as administrator, then check to see if your ide is not running in administrator mode (aka if your running VSCode as administrator). If you turn off Run As Administrator on NodeJS and/or VSCode, then y

[2020-10-22 18:49] regular commented on #23315
Tried with Electron 11.0.0-beta13. It crashes even when all threads terminate prior to calling app.quit(), like described in #26103 it's enough to have had a thread running at any point to make Electron crash on exit.

[2020-10-22 18:59] regular commented on #26103
@nornagon actually, this might not be a duplicate of #25691.

#25691 and #23315 both describe a crash when a worker_thread is running while electron shuts down. My problem is that even when I wait for all threads to have terminated, Electron still crashes. This is a regression from 9.x.x that is still present in 11.0.0.beta13, so it was not fixed by upgrading Node to v14.

[2020-10-22 19:04] nornagon commented on #26103
The stack trace is nearly identical. Perhaps it wasn't actually fixed with Node 14?

[2020-10-22 19:05] nornagon commented on #26103
Actually, 11.0.0-beta.13 is still Node 12.

[2020-10-22 19:07] nornagon commented on #26103
The example you gave does not crash on v12.0.0-nightly.20201015.

[2020-10-22 19:23] ckerr commented on #26076
@adel-sbeh thank you for the video!

What version of Electron are you using, and what version of Windows are you using it on?

[2020-10-22 19:24] regular commented on #26103
@nornagon ah, ok, thanks for checking!

[2020-10-22 19:37] ckerr commented on #26055
<img width="912" alt="Screen Shot 2020-10-22 at 2 35 27 PM" src="https://user-images.githubusercontent.com/70381/96921410-12da7280-1474-11eb-9d88-0c98cb3832e3.png">

[2020-10-22 19:38] ckerr commented on #26055
![2020-10-22T14:26:13-Screenshot-665x350](https://user-images.githubusercontent.com/70381/96921492-3a313f80-1474-11eb-8d32-f6517f1ee554.png)

[2020-10-22 19:41] ckerr commented on #26055
Thanks for this -- the recipe is straightforward and fast to test! Unfortunately there seems to be some other factor going on here that the three of us aren't seeing, since I'm still not able to reproduce the issue (screenshots above with macOS and Ubuntu). :thinking: @hxkuc could you paste that full stack as text here?

[2020-10-22 20:11] ccorcos opened #26114 "Drag Region does not work with BrowserView and titleBarStyle: 'hiddenInset'"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-22 20:18] nornagon commented on #21509
Thanks for reaching out!

Because we treat our issues list as [the team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community).

[2020-10-22 20:18] #21509 closed

[2020-10-22 20:19] nornagon commented on #21509
You can try `--disable-features=SameSiteByDefaultCookies`, but we'll only support this as long as Chromium does, and we can't make any guarantees about how long Chromium will support it.

[2020-10-22 21:26] ccorcos opened #26116 "BrowserView mouse capture region has incorrect bounds."
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-22 22:05] ccorcos opened #26117 "Spellchecker doesn't work in nested webviews."
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-22 22:46] alex0091845 commented on #25915
Okay, sorry for all these blunt experiments with the code and calling them fixes. The only way I got close to having it work all the time was to forcefully set `alwaysOnTop` to `true` and then immediately set it to `false` again in the `on('show')` listener. I say I got close because the focus and blur events won't emit correctly all the time, but the window should be brought up to the top now. It

[2020-10-22 23:29] holmberd commented on #25872
Some more testing notes.

With `allowRendererProcessReuse = false`, navigation to `https://twitter.com` will render the content, i.e. `getBoundingClientRect()` height and width is not zero. But any navigation within the same webview that requires a redirect(301) will cause the main process to crash, e.g. **http**://google.com

Direct navigation to `http://twitter.com` will render a blank page wher

[2020-10-22 23:55] nornagon commented on #25872
Closing as duplicate of #25469.

[2020-10-22 23:55] #25872 closed

[2020-10-23 00:06] ckerr commented on #26045
I did a little bit of testing on this. Disclaimer: I found it pretty easy to reproduce on an Ubuntu 20.04 box so this may or may not be the same issue that's triggering the WOA failures.

It looks like everything is going fine until we reach `WebContentsImpl::OnThemeColorChanged` in [content/browser/web_contents/web_contents_impl.cc](https://source.chromium.org/chromium/chromium/src/+/master:conte

[2020-10-23 00:15] ckerr commented on #26114
The sample repro works (or rather, doesn't work) as advertised. Same behavior in master as well.

[2020-10-23 03:27] ahmadwaliesipick opened #26123 "How to make electron support MacOS Today Extension?"
I have checked latest electron release till now there is no any feature added for MacOS Today Extension.

[2020-10-23 04:16] PhABC commented on #25061
Any update on this @sofianguy ?

[2020-10-23 05:06] bowswung opened #26124 "localStorage causes memory allocation in separate renderer that is never gc'd"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-23 05:21] codebytere commented on #26123
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2020-10-23 05:21] #26123 closed

[2020-10-23 05:21] jaga3421 opened #26125 "Electron 8, In AZERTY keyboard, global shortcut for CMD + A triggers the action for CMD + Q"
This is my simple code in index.js
[code]
This works fine. But when used via an azerty keyboard, CMD + A is triggering the actions inside this block.

### Issue Details

* **Electron Version:**
  * 8
* **Operating System:**
  * Mac 10.15.7

### Expected Behavior
CMD + A should select all

### Actual Behavior
CMD + A is triggering events for CMD + Q

[2020-10-23 06:04] #25613 closed

[2020-10-23 06:38] hxkuc commented on #26055
@ckerr
![image](https://user-images.githubusercontent.com/17510186/96961419-31ee0880-1537-11eb-9828-1fb02650d54d.png)
![image](https://user-images.githubusercontent.com/17510186/96961448-429e7e80-1537-11eb-8c3c-147826224641.png)
![image](https://user-images.githubusercontent.com/17510186/96961481-55b14e80-1537-11eb-8f38-c2b291c6c3d2.png)
![image](https://user-images.githubusercontent.com/17510186/

[2020-10-23 06:40] hxkuc commented on #26055
$ npm start

[18556:1023/135856.545:VERBOSE1:CONSOLE(31)] "Main._createAppUI: 19.716064453125
 ms", source: devtools://devtools/bundled/main/main.js (31)
[18556:1023/135856.740:VERBOSE1:CONSOLE(31)] "Main._showAppUI: 16.81591796875 ms
", source: devtools://devtools/bundled/main/main.js (31)
[18556:1023/135856.741:VERBOSE1:CONSOLE(31)] "Main._initializeTarget: 7.89697265
625 ms", source: devtools:/

[2020-10-23 06:44] sproxet commented on #26023
Hey, sorry about the template. Next time I'll make sure to leave it.

I have now experienced another panic, so I'll add another one to your file. As I said before though, it's basically the same thing as the other two issues.

[code]

[2020-10-23 06:57] cheynewallace commented on #20779
Any update on this one? Iv just hit this issue too with a customer.

[2020-10-23 07:57] livelyPeng opened #26130 "How WebView communicates？？"
// 在页面
const webview = document.querySelector('webview')
webview.addEventListener('ipc-message', (event) => {
console.log(event.channel)
// Prints "pong"
})
webview.send('ping')

// 在webview
const {ipcRenderer} = require('electron')
ipcRenderer.on('ping', () => {
ipcRenderer.sendToHost('pong')
})

Then WebView page reports an error

index.js:7 Uncaught TypeError: fs.existsSync is not a function

[2020-10-23 07:57] kriive commented on #10915
A big thank you to everyone who put time and effort into this! Thanks @msisov and the Igalia folks and thanks @vially.

[2020-10-23 08:42] kunfan96 commented on #4101
I use innerHtml,
[code]

[2020-10-23 10:05] #25972 closed

[2020-10-23 10:13] gdavidkov commented on #25972
It works.  I've implemented it using Electron 10.1.4 and webContents.findInPage/stopFindInPage

[2020-10-23 10:58] Nashorn commented on #24223
might be related, but i am using not executeJavaScript(), and it happens on reload of a page that previously loaded without error. It throws this in terminal console:

[63920:1023/065529.084421:ERROR:gles2_cmd_decoder.cc(7062)] [.RendererMainThread-0x7fc4e6026e00]GL ERROR :GL_INVALID_OPERATION : glGetIntegerv: incomplete framebuffer
[63920:1023/065529.084527:ERROR:gles2_cmd_decoder.cc(7062)] [.Ren

[2020-10-23 11:04] gaoyangy commented on #25655
Hello, does the suspension of Flash support in December mean that flash plug-in cannot be opened in Electron?

[2020-10-23 11:49] FuriousTurtle opened #26132 "Retrieving webview from the DOM too fast breaks some functions"
Hello !

I'm having an issue with my electron app.
My renderer is made in angular and it has quite some interactions with the webview of my app. One of them being retrieving the webview from the DOM as soon as possible, using querySelector() function on document, and to execute some javascript on it, using executeJavascript() function.

Unfortunately, sometimes I end up with the following error :

[2020-10-23 12:12] AramAnd commented on #26029
@ckerr is the above provided info ok or you need more info ?

[2020-10-23 13:44] Draginfable opened #26133 "Electron crashes when trying to open external browser window with malformed URL"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-23 13:56] remss commented on #19554
Release 10.1.4 did not resolve the issue for me. I still need to reload the page to see FS module working, no matter if allowRendererProcessReuse is true or false. I'm stuck in version 9 😥

[2020-10-23 14:01] #25365 closed

[2020-10-23 15:09] ckerr commented on #26130
Thanks for reaching out!

The issues tracker is used for feature requests and bug reports, so you will probably have better luck with this question at one of the links at [the project's Community page](https://www.electronjs.org/community) -- in particular, be sure to give [the Electron Discord server](https://discord.com/invite/electron) a try.

I hope this helps!

[2020-10-23 15:09] #26130 closed

[2020-10-23 15:14] jsheffers commented on #21509
This doesn't seem to have any effect ☝️

[2020-10-23 15:15] ckerr commented on #26133
Gist copy of @Draginfable's repro code: https://gist.github.com/ckerr/590c60135fa3e969a53aeea7c545d1ab

[2020-10-23 15:16] ckerr commented on #26132
Thanks for reaching out!

The issues tracker is used for feature requests and bug reports, so you will probably have better luck with this question at one of the links at [the project's Community page](https://www.electronjs.org/community) -- in particular, be sure to give [the Electron Discord server](https://discord.com/invite/electron) a try.

I hope this helps!

[2020-10-23 15:16] #26132 closed

[2020-10-23 15:38] ckerr commented on #26125
Confirmed on Mac w / Electron 8, 9, 10.

https://gist.github.com/ckerr/26209ebe1c44d7c96811c344733ff854

Important note for maintainers not using an AZERTY layout: If you don't use an AZERTY keyboard layout natively, [change your Mac's keyboard input in System Settings and then switch to AZERTY in the keyboard indicator](https://www.macsx.com/how-to-change-your-macbooks-keyboard-layout-to-azerty/)

[2020-10-23 16:28] zilti commented on #22027
Yea, that is known in developer circles as a "bug fix". A maximized window has a fixed size, that's the entire point of it.

[2020-10-23 16:44] codebytere commented on #19554
@remss do you have a repro? i have no issues on macOS or windows as tested.

[2020-10-23 18:45] Slapbox commented on #4101
It's highly inadvisable to use `disablewebsecurity`.

[2020-10-23 18:49] #25888 closed

[2020-10-23 18:56] holmberd commented on #25469
## Consistent crash reproduction

[code]

## Test
[code]

[2020-10-23 20:01] alexciarlillo opened #26136 "Closing a desktopCapture'd window that is being simulcast over WebRTC crashes the renderer"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-23 20:07] ckerr commented on #26089
Update: I was wrong, this is broken in 10 as well. There _is_ a new error message in v11.0.0-beta.8 but it's this:

In testing, this shows up in v11.0.0-beta.8 and higher, but not in v11.0.0-beta.7 or lower.

@samuelmaddock as you're the one most familiar with this test -- DYK if that's related to this issue, or whether it's a separate issue, or if it's just a red herring?

[2020-10-23 20:32] ckerr commented on #24509
@codebytere and I discussed this in DM but to repeat some of it here for transparency -- Not all scripts get treated the same way by V8; some get metainfo e.g. line numbers preloaded s.t. "slow mode" is never used. Otherwise, it does drop back to slow mode and that's what's happening in wv-snapshot.zip / https://gist.github.com/ckerr/4c3d501c4058bd6b600f1c2434c8a57c so making the position lookup f

[2020-10-23 20:50] tallerthenyou opened #26137 "macOS help menu keyboard shortcut doesn't work"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-23 20:54] samuelmaddock commented on #26089
@ckerr The "Cannot read property 'setDockSide' of undefined" appears to be unrelated. I've seen that as well and I think it appears when devtools are opened.

Also, checking this again, I first encountered the issue testing on a build of 10.0.1.

[2020-10-23 21:01] deepak1556 commented on #24509
@ckerr what does removing the position lookup mean for the actual snapshot generated https://github.com/electron/electron/issues/24509#issuecomment-662739258, does it have impact on rendering the snapshot data ?

[2020-10-23 21:07] codebytere commented on #26137
I'm not sure what you're doing or what accelerators you have registered, but this works perfectly fine for me with the default quick start on 10.1.4 and macOS 10.15.7. You'll need to provide a reproducible sample for us to triage this further, or it will be closed.

[2020-10-23 21:12] ckerr commented on #24509
@deepak1556 it's [this block here](https://github.com/electron/electron/pull/26138/files#diff-7dc77bfd7d170b6437fe470b3f90600b8013b613e7220884b8f66d51aba3ce46R97).  The code currently makes separate calls to get the line number and to get the column number, even though both route down to the same GetPositionInfo(). Here we just call GetPositionInfo() so that for each item, only one lookup is neede

[2020-10-23 22:25] Zel9278 opened #26139 "Error: EACCES: permission denied, mkdir '/home/user/.cache/electron/httpsgithub.comelectronelectronreleasesdownloadv9.3.2SHASUMS256.txt'"
They tell me I don't have enough permissions, I've tried everything, but all to no avail.

### Issue Details

* **Electron Version:**
9.3.2
* **Operating System:**
Ubuntu 18.04 x64
* **Last Known Working Electron version:**
idk

### To Reproduce
[code]

### Screenshots
![image](https://user-images.githubusercontent.com/43949163/97058653-5bf00b00-15c9-11eb-8b87-5942ca83acda.png)

[2020-10-24 01:22] marcello3d opened #26143 "child_process spawn locks up renderer for 300 - 3000ms on signed app on macOS Big Sur"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-24 01:22] livelyPeng commented on #26130
@ckerr Can you tell me how to solve it? Is there a link to the method?

[2020-10-24 03:36] fyousof commented on #16836
Having similar issue - any alternative/solution to this?

[2020-10-24 03:59] livelyPeng opened #26144 "Create up to 3 instances？？"
How to create up to three instances?

[2020-10-24 04:23] MarshallOfSound commented on #26144
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron/blob/master/docs/tutorial/support.md#finding-support) or to the [Slack Channel](https://github.com/electron/electron/blob/master/docs/tutorial/support.md#finding-support).

[2020-10-24 04:23] #26144 closed

[2020-10-24 07:31] livelyPeng commented on #26144
@MarshallOfSound ？？？I don't understand. Do you know the answer? Where can I find the answer

[2020-10-24 07:32] livelyPeng commented on #26130
@ckerr I don't understand. Do you know the answer? Where can I find the answer，  I am in a hurry， thank you

[2020-10-24 08:05] #26139 closed

[2020-10-24 11:13] foodornt commented on #17541
it hasn't been fixed yet :D

[2020-10-24 11:49] septatrix opened #26147 "Elements in transparent windows leave trail behind when resizing/dragging"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-24 18:37] samuelmaddock commented on #24011
There's currently more work to be done regarding persisting the option in the event that an extension is reloaded.

Also, just going to mention that posting a bounty to [BountySource](https://www.bountysource.com/teams/atom) is another option for folks eager to see this get fixed.

[2020-10-24 19:47] devildant opened #26148 "Hide maximize window, off screen => on screen => the window reappears"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-24 21:09] ceiphr opened #26149 "Alt+Click Toggles Menu Bar"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-24 23:05] pedrorenan commented on #24211
Where did you set DISPLAY=:0 ?

[2020-10-25 00:52] ckerr commented on #26148
Possible duplicate of #25367

[2020-10-25 00:53] ckerr commented on #26149
Thank you for reaching out!

The version of Electron reported in this issue has reached end-of-life and is [no longer supported](https://www.electronjs.org/docs/tutorial/support#supported-versions), so this issue will be closed.

If you're still experiencing this issue on a [supported version](https://www.electronjs.org/releases/stable) of Electron, please file a new issue for that version of Elec

[2020-10-25 00:53] #26149 closed

[2020-10-25 01:38] aleksey-hoffman commented on #1334
Here's a working flexible solution that allows you to manually set the shortcuts that gets removed when you disable the app Menu (or if you just want to overwrite them):

[code]

[2020-10-25 01:43] aleksey-hoffman commented on #1334
Here's a working flexible solution that allows you to manually re-define the shortcuts like `toggleDevTools` which get removed when you disable the app Menu:

[code]

[2020-10-25 08:13] adel-sbeh opened #26153 "Offscreen rendering"
Ummm, is this normal? I enabled the offscreen option and now this happened:
<a href="https://ibb.co/BnQN4yn"><img src="https://i.ibb.co/7kZ4gnk/Test-10-25-2020-10-10-54-AM.png" alt="Test-10-25-2020-10-10-54-AM" border="0"></a>

[2020-10-25 08:19] adel-sbeh commented on #26153
Yup, this is normal.

[2020-10-25 08:19] #26153 closed

[2020-10-25 10:29] PurvaT commented on #25887
Please assign it to me for updation of documentation

[2020-10-25 14:20] matti commented on #24211
env variable DISPLAY

[2020-10-25 16:04] #24148 closed

[2020-10-25 16:10] noahlevenson commented on #25196
I'm on Electron 10.1.5 and experiencing the same behavior.  It would be nice to have more exact control over the reason returned in the Promise rejection, if only to make it less painful to integrate remote method calls with one's logging system.

[2020-10-25 16:43] abhinavluv commented on #23991
I had to upgrade the node version after which I was able to do it... Not sure if this was actually the issue back then.

[2020-10-25 17:13] adel-sbeh commented on #26076
Electron 10.1.3, and the 20H2 windows update.

[2020-10-25 17:28] adel-sbeh commented on #26025
I found the cause of this error. It was an `executeJavaScript` function.

[2020-10-25 17:28] #26025 closed

[2020-10-25 17:38] ceiphr opened #26154 "Alt+Click Toggles Menu Bar"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-25 17:42] ckerr commented on #26147
gist version of @septatrix's repro case: https://gist.github.com/ckerr/4e2b53da4dd6357045e46b7af2890f62

Reproducible here w/ Electron v10.1.5 on a stock Ubuntu 20.04 box:

![2020-10-25T12:36:09-Screenshot-820x655](https://user-images.githubusercontent.com/70381/97114570-452be000-16bf-11eb-935e-a7367e364bc1.png)

[2020-10-25 17:55] ckerr commented on #26154
Confirmed that alt + mouse click does activate the menubar.

I don't use this feature often and am not sure what correct behavior for Alt + Mouse Click is; but at a minimum, the current behavior contradicts our docs which state:

[2020-10-25 18:03] ceiphr commented on #26154
Thank you for the swift reply!

As an example, in https://github.com/KryDos/todoist-linux the correct behavior would be for Alt + Mouse Click to be ignored. Otherwise, when editing tasks, the page is shifted up and down anytime the user alt-clicks.

[2020-10-25 19:27] mikkovedru commented on #26154
@ckerr

The correct behavior should be to ignore the Alt signal; exactly the same way as Alt is ignored when pressed with another key.

Let's say there is a menu:
![image](https://user-images.githubusercontent.com/2521942/97116814-78469180-1708-11eb-8c51-f89924b09eb0.png)
And I want to select the `History` menu option. Therefore I:
1. press `Alt` and hold it
2. press and release `S` (`History` men

[2020-10-25 21:43] ckerr commented on #25954
/trop run backport-to 11-x-y,10-x-y

[2020-10-25 21:44] ckerr commented on #25954
/trop run backport-to 11-x-y

[2020-10-26 01:00] sdwdjzhy commented on #7300
I use  `vue-cli-plugin-electron-builder` , `vuex-electron` `electron-store`.
I found that the target of webpack is set in this class library( `vue-cli-plugin-electron-builder`).
The use of require ("electron") in these third-party libraries (`vuex-electron` `electron-store`.) also leads to this problem.

How to solve this problem.

[2020-10-26 01:29] quanglam2807 commented on #26019
One of my users reports the same issue. This is what he got from `Windows Reliability History`

[code]

[2020-10-26 01:36] pedrorenan commented on #24211
Thanks, works fine for me.

[2020-10-26 01:44] quanglam2807 commented on #26019
In my case, the bug starts to occur after updating to Electron 10. As the app crashes when exit, it doesn't log anything in the console (where can I get the stack trace?). But it always shows up in the Windows Reliability Monitor every time I exit the app

![Capture](https://user-images.githubusercontent.com/1548835/97125682-40226b80-1767-11eb-8adb-cf6b8d54f9e5.PNG)

[code]

Btw, I'm working on an

[2020-10-26 03:18] BrandonXLF opened #26160 "Add dialog event to webContents"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for a feature request that matches the one I want to file,

[2020-10-26 05:32] PseudoResonance commented on #5267
Discord is currently on Electron 7.3.2, and this is still an issue there. Hopefully this issue can get some attention again sometime soon, but it looks like the devs are already pretty busy.

[2020-10-26 07:59] adel-sbeh opened #26161 "Windows are glitching when they are being resized!"
Windows are starting to glitch when they are being resized. But these glitches can't be recorded. This glitch started to happen when I installed the latest version of Windows 10 (20H2). *You can reproduce this bug by resizing the window of WhatsApp Web.*

[2020-10-26 08:04] quanglam2807 commented on #26019
In the case, I managed to resolve bug by `win.setBrowserView(null)` and then destroy the BrowserViews in `app.on('before-quit')`

[2020-10-26 09:19] vyunikov commented on #24779
For anybody having a similar problem, in my case the issue was that I specified environment variables which I expected to be set like this:
[code]

This way parent process env vars don't get passed to a child, but electron passes a pipe name with env.
This works for me:
[code]

[2020-10-26 09:20] vyunikov commented on #22552
Managed to make it work with Electron 10: #24779#issuecomment-716420456

[2020-10-26 09:44] vyunikov commented on #26019
Thanks @quanglam2807 for pointing our the problem and potential work around for this.

[2020-10-26 09:52] vyunikov commented on #26019
@ckerr As per the comments above the problem happens when `BrowserView` is used. I created a simple example based on `electron-quick-start` as you suggested:
https://github.com/vyunikov/electron-quick-start/tree/crash-on-exit

In order to reproduce you can just clone my fork: https://github.com/vyunikov/electron-quick-start.git
And switch to `crash-on-exit` branch.
Then start an app: `npm start`.

[2020-10-26 10:04] livelyPeng opened #26163 "After the background of the window is set to transparent by electron, the window will be minimized and the hidden display window will flicker"
After the background of the window is set to transparent by electron, the window will be minimized and the hidden display window will flicker

[2020-10-26 10:11] lwj06 commented on #14687
same in electron 4.2.12

[2020-10-26 11:02] septatrix commented on #26147
Thank you for the gist. I also would like to add that this does not only happens with a `<textarea>` but also other elements. However this way requires no javascript and therefore removes a potential error source.

[2020-10-26 12:11] adel-sbeh commented on #3002
When will this come to windows? ~~(at least windows 10)~~
It's possible to get a blurred window on Windows 10 using this module: https://github.com/Seo-Rii/electron-acrylic-window
It's pretty stable.
<a href="https://ibb.co/Bg4mvFj"><img src="https://i.ibb.co/MR8bKQp/2020-10-26-14-10-38.png" alt="2020-10-26-14-10-38" border="0"></a>

[2020-10-26 12:15] kylewelsby commented on #3002
Unless you make an up-to-date pull request, never.   This ticket has been
open for years with no progression.

Kind Regards

Kyle Welsby
Director, MeKyle LTD
Mobile +44 757 5790 552
Email kyle@mekyle.com
Website https://mekyle.com

On Mon, 26 Oct 2020 at 12:11, EnderAdel <notifications@github.com> wrote:

[2020-10-26 12:48] adel-sbeh commented on #3002
Hmmm, ok. I'll try to get in contact with the module owner to make a pull request.

[2020-10-26 13:32] remss commented on #19554
@codebytere After investigations the issue appears only on CIS node (Windows10 VMWare guest) when Electron 10 is started by Spectron 12, and I don't reproduce on my workstation...  Sorry for the inconvenience.

[2020-10-26 13:54] ffflorian commented on #22119
@codebytere unfortunately the problem still exists in Electron 10.1.4.

[2020-10-26 14:02] raksooo commented on #25915
I can confirm that setting `alwaysOnTop` to `true` followed by `false` on the `show` event makes the window appear on top. Good idea! In my use case it works well to have `alwaysOnTop` enabled all the time but I still need the focus events working properly.

[2020-10-26 14:36] KishanBagaria commented on #22119
Haven't seen this issue occur since Electron 10.1.4. Definitely has reduced if anything.

[2020-10-26 16:47] ckerr commented on #26163
Thanks for reaching out!

Please provide the information that was requested by the [issue template](https://github.com/electron/electron/tree/master/.github/ISSUE_TEMPLATE) that was presented when you first filled out this issue. This is necessary because it's difficult to triage issues efficiently and correctly without enough information.

Thanks for understanding and meeting us half way :grinnin

[2020-10-26 16:55] ckerr commented on #26136
gist of @alexciarlillo's test case is at https://gist.github.com/ckerr/b0dac5f28cf5c8e7baa987cb79716d69

[2020-10-26 17:02] vyunikov commented on #26019
Just noticed this PR: https://github.com/electron/electron/pull/25411
Is it related?

[2020-10-26 18:23] nornagon opened #26166 "Changes to the proxy config are not immediately reflected by resolveProxy at session creation time"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-26 18:30] pdesantis commented on #26143
I can reproduce these results. Here are my ranges of spawn durations (in ms) on Catalina & Big Sur machines:

## macOS Catalina 10.15.7 (19H2)
| Main: `spawn ls` | Main: `ls exit` | Renderer: `spawn ls` | Renderer: `ls exit` |
| --: | --: | --: | --: |
| 1-3 | 111-126 | 1-3 | 19-31 |

## macOS Big Sur 11.0 Beta (20A5395g)
| Main: `spawn ls` | Main: `ls exit` | Renderer: `spawn ls` | Renderer: `ls

[2020-10-26 19:18] codebytere commented on #19554
I'm gonna go ahead and close this out - if there are new issues please open them in a new issue!

[2020-10-26 19:18] #19554 closed

[2020-10-26 19:20] robinchrist commented on #19554
@codebytere Could you please explain why you're closing this issue?

As far as I can say, the issue is not fixed and your proposed fix is not related to the initial issue at all.

[2020-10-26 19:21] codebytere commented on #19554
@robinchrist i'm not able to reproduce it on any platform, and have not seen a repro which has allowed me to do so.

[2020-10-26 19:32] robinchrist commented on #19554
The whole point of this issue is that it's notoriously difficult to reproduce and the cause cannot easily be isolated.

[2020-10-26 21:30] jkleinsc commented on #26089
FWIW... this issue happens on all supported branches.

[2020-10-26 21:30] ccorcos commented on #26114
@codebytere thanks for picking up this issue! There's [one other issue relating to BrowserView](https://github.com/electron/electron/issues/26116) that is blocking Notion from upgrading. I'd really appreciate if you took a look at it! You'd be a hero! 🙏

[2020-10-26 22:08] jimb456 commented on #21311
I am using 10.1.5 which is Chrome 85.  I have experimentalFeatures = true.  Yes, navigator.hid is present but when we use navigator.hid.requestDevice() we would normally get a consent popup from Chrome.  I am unable to get this to happen in Electron where it does occur in a standalone web page in Chrome.  See example consent screen.
![Screen Shot 2020-10-26 at 3 06 25 PM](https://user-images.githu

[2020-10-26 23:06] rmraya commented on #25379
Current behavior is fine. Any change would break my apps.

[2020-10-26 23:57] codebytere commented on #26114
@ccorcos i'll see what i can do! also ty for the great repros, extremely appreciated!

[2020-10-27 00:20] codebytere commented on #26116
@ccorcos do you know if this worked previously, and if so, in what version?

[2020-10-27 00:51] ccorcos commented on #26116
@codebytere I just tested it out and it seems this has been broken. For a long time. I created a branch for each version.

[code]

Electron 2 has an error for some other reason about `app.whenReady` but this is ancient history so I get the feeling that this has always been an issue.
And

[2020-10-27 01:09] livelyPeng opened #26179 "After the background of the window is set to transparent by electron, the window will be minimized and the hidden display window will flicker"
### Issue Details

* **Electron Version:**
 "electron": "^10.1.3",
  "electron-builder": "^22.8.1",
  "electron-devtools-installer": "^3.1.1",

### Expected Behavior
 After the background of the window is set to transparent by electron, the window will be minimized and the hidden display window will flicker

### Actual Behavior
 After the background of the window is set to transparent by electron,

[2020-10-27 01:54] mlaurencin commented on #25295
@lmx-Hexagram and @ColorfulHorse I am having a bit of trouble recreating your issues. Could you try running this Fiddle gist and confirm whether or not you are experiencing the same thing?: [Gist](https://gist.github.com/mlaurencin/cbd3096126cab1f5c99108f1b623fa5f)
If not, if you could create and link your own gist, that would be very helpful.
(I housed both of your examples in the same gist, so t

[2020-10-27 02:14] lmx-Hexagram commented on #25295
i will create a gist as soon as possiable

[2020-10-27 02:41] lmx-Hexagram commented on #25295
I am sorry that I am not very good at using gist,
so I fork electron-quick-start and Recurring this bug on it
the link is [HERE](https://github.com/lmx-Hexagram/electron-quick-start)
I just add few code in main.js, and after you use `yarn run start` and wait a few seconds the window will get few px larger
(it will become weird when I change `getsize()` to `getContentSize()`)
![image](https://user-

[2020-10-27 02:44] dsanders11 commented on #25539
Can you provide further info here? Maybe an example code snippet of what doesn't work? It's not immediately clear to me what "MediaSession not working with file:// URLs" means.

[2020-10-27 03:01] agateriver commented on #19977
Confirm this problem on win10 x64 / electron 10.1.5

[2020-10-27 04:36] codebytere commented on #25984
@apfoerts could you please provide some testable code that _does_ use custom caption controls?

[2020-10-27 07:05] aabuhijleh commented on #21311
@jimb456 I think some work still need to be done on Electron's side like #22478 to make the WebHID API usable. I think Electron will provide this data but you will have to design the UI yourself like [`navigator.bluetooth`](https://www.electronjs.org/docs/api/web-contents#event-select-bluetooth-device).

@jkleinsc can you please let us know if there's an update on this topic and in which version c

[2020-10-27 07:11] ape-casear commented on #19596
same issue on 5.0.12

[2020-10-27 08:07] PieterVanZyl-NWU commented on #24705
I would like to confirm that this breaks for me too

I was running Electron 10.0.0

And electron would crash when declaring a BrowserWindow with
offscreen: true,
show:false,
transparent:true

Changing electron versions instantly fixed the problem

Currently 8.3.1 Works.

I have resorted to downgrading as I don't even get error messages logs or info on the crash even if I put it in a try catch bloc

[2020-10-27 08:07] JasonXiaoSpace commented on #8466
what's the details of this step

[2020-10-27 08:08] PieterVanZyl-NWU commented on #24384
I would like to confirm that this breaks for me too

I was running Electron 10.0.0

And electron would crash when declaring a BrowserWindow with
offscreen: true,
show:false,
transparent:true

Changing electron versions instantly fixed the problem

Currently 8.3.1 Works.

I have resorted to downgrading as I don't even get error messages logs or info on the crash even if I put it in a try catch bloc

[2020-10-27 08:25] LiQingLeo commented on #25764
any update for this issue?

[2020-10-27 11:58] akmozo commented on #23268
I've the same problem with **Electron 10** in **windows 10** (NB: before upgrading to Electron 10, I haven't this problem with electron 3.x).
I'm using Angular (of course the problem has nothing to do with it) and the problem is present when developing and when running the published app (I need that the user have the ability to refresh some pages in my app and in that case the problem is fired).

[2020-10-27 12:04] gormonn commented on #22705
@nornagon
What about `--ignore-gpu-blacklist`. See issue: electron/electron#15339
For example, in my case, this makes it impossible to use hardware acceleration to play Full HD video on certain configurations in Electron.

[2020-10-27 12:20] sagar-winjit commented on #23828
**I am able to resolve the issue: ITMS-90332: Invalid Symbolic Link using following steps:**

1. Follow electron steps: https://www.electronjs.org/docs/tutorial/mac-app-store-submission-guide
2. npm install
3. npm start
4. Add embedded.provisionprofile & entitlements.mas.plist in build folder
5. Made required changes in package.json file
6. Enter this command to generate .app “npx electron-builder

[2020-10-27 12:36] gormonn commented on #8217
@enlight
Unfortunately this only works through passing an argument at startup. See electron/electron#15339

[2020-10-27 12:51] tsoil commented on #26074
In Linux shell.openPath seems to block and resolve() when the default application is closed

[2020-10-27 12:51] tsoil commented on #26074
In Linux shell.openPath seems to block and resolve() when the default application is closed

[2020-10-27 14:35] ckerr commented on #25021
The backtraces obtainable in a debugger from the DoWork loop are not particularly helpful, so I tried a different way of measuring traffic:

* I instrumented the base libraries to log information when a new task was created to be run through the event loop. I used the "posted_from" field in `base::PostedTask` to log the _source_ of the task since this generally gives the root source, whereas a sta

[2020-10-27 14:39] ckerr commented on #23479
After a few more revision requests, the PR to honor `nativeTheme.themeSource = 'dark'` being called before the Window is created has finally been approved. The backport bot 'trop' can port it from master to 11; I'll backport it to 10 manually.

[2020-10-27 14:41] ckerr commented on #24509
Periodic update: this fix is being reviewed upstream @ https://chromium-review.googlesource.com/c/v8/v8/+/2496065

[2020-10-27 14:54] #26163 closed

[2020-10-27 14:55] ckerr commented on #26163
Superseded by https://github.com/electron/electron/issues/26179

[2020-10-27 15:03] ckerr commented on #23080
If I'm reading the comments correctly, this issue has been diagnosed as app code that's doing unsupported behavior. As such, this isn't an Electron bug so much as it is something that needs to be changed in app code and discussion on how best to do that.

The issues tracker is used for feature requests and bug reports, so you will probably have better luck with this question at one of the links at

[2020-10-27 15:03] #23080 closed

[2020-10-27 16:22] jsonfry commented on #22503
Can confirm still broken in `10.1.5`, running on Linux (Ubuntu 20.04). Seeing the same logs as above https://github.com/electron/electron/issues/22503#issuecomment-689346726

[2020-10-27 16:45] codebytere commented on #25421
Closing in favor of https://github.com/electron/electron/issues/25469

[2020-10-27 16:45] #25421 closed

[2020-10-27 17:31] ckerr commented on #25984
Would it be possible for you to make a standalone testcase with only the code necessary to reproduce the issue? For example, [Electron Fiddle](https://www.electronjs.org/fiddle) is great for quick little test cases and that Fiddle can publish to a [gist](https://gist.github.com) for testing by Electron maintainers

[2020-10-27 18:16] erickzhao commented on #22084
Closing, seems like this was fixed (tested with [Fiddle Gist](https://gist.github.com/151c3804bb771807c38fc4f0c8bc74bf)).

[2020-10-27 18:16] #22084 closed

[2020-10-27 19:03] marcello3d commented on #26143
Just tested: this also happens on Electron v11.0.0-beta.17

[2020-10-27 19:15] mlaurencin commented on #25295
That's no problem, I was able to use your electron-quick-start fork. (And if anyone else wants to take a look, here is another gist repro: [gist](https://gist.github.com/mlaurencin/82892fdd1c89ec7259ca0226e8c3d369))

Unfortunately, I still cannot recreate the issue on my end. Perhaps see if you made any other changes when upgrading from version 9 to version 10?

Concerning it becoming weird when y

[2020-10-27 20:49] danbulant commented on #25539
[MediaSession](https://developer.mozilla.org/en-US/docs/Web/API/MediaSession) is an API to show what music is currently playing; and to allow system-wide controls (e.g. on windows, using play/pause keys or when changing volume).

A minimum example can be
[code]

When running this code, console will say that mediasession artwork can only be served via HTTP or HTTPS.

[2020-10-27 21:09] jjeff commented on #1415
FWIW, there is a Mac System Preferences setting (under "General") to hide the menu bar (similar to the way the menu works when a window is in fullscreen). I'm not sure if/how Electron can read/write that setting and it requires an extra step from your users… but it's there.
<img width="780" alt="Screen Shot 2020-10-27 at 5 00 45 PM" src="https://user-images.githubusercontent.com/321284/97361630-30

[2020-10-27 21:14] apocoloco opened #26215 "An internal error has occurred: FirebaseError: [code=invalid-argument]: Property value contains an invalid nested entity."
I keep on getting this error and can't find the reason why

Could anyone give me a solution? Keeps on constantly popping up as I scroll through the PDF

ty

[2020-10-27 21:28] #26114 closed

[2020-10-27 21:29] ccorcos commented on #26116
I just added the following which makes it even more clear what the issue is:
[code]

[2020-10-27 21:37] altermetax commented on #10515
Please reopen this issue.

[2020-10-27 21:48] codebytere commented on #26215
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2020-10-27 21:48] #26215 closed

[2020-10-27 21:48] #25136 closed

[2020-10-27 21:48] codebytere commented on #24723
Closing as dup of https://github.com/electron/electron/issues/24434

[2020-10-27 21:48] #24723 closed

[2020-10-27 21:49] #25594 closed

[2020-10-27 21:49] #25908 closed

[2020-10-27 21:50] codebytere commented on #26060
Closing due to no response.

[2020-10-27 21:50] #26060 closed

[2020-10-27 22:25] akmozo commented on #23268
OK ... it seems that upgrading electron to **10.1.5** version fixed the problem (it was 10.1.1).

[2020-10-27 22:50] marcello3d commented on #26143
I'm not sure if this is helpful, but I ran contentTracing and got some profile snapshots with the signed (slow) and signed (fast) versions.
- [electron-trace-not-signed.zip](https://github.com/electron/electron/files/5448526/electron-trace-not-signed.zip)
- [electron-trace-signed.zip](https://github.com/electron/electron/files/5448527/electron-trace-signed.zip)

You can open these up in Chrome by

[2020-10-28 00:05] #24755 closed

[2020-10-28 00:39] TheMrJukes commented on #25984
https://gist.github.com/TheMrJukes/5a7afc17cdb469715d1044348a97b207

Let me know if that works for you. The basic issue is that there is no way to specify that the html objects representing minimize, restore/maximize, and close map to their functionality so that they can be properly hit-tested by the platform.

[2020-10-28 01:09] codebytere commented on #25984
@TheMrJukes perfect! thanks :D

[2020-10-28 02:42] lixm1988 opened #26218 "electron build error"
I have got a mistake when I was building electron source of version 6.1.12.The error infomation just like this
![无标题](https://user-images.githubusercontent.com/24401006/97384474-bad7bc00-190a-11eb-89fc-9801eef8c50b.png)

All my operation is the same as [https://github.com/electron/electron/blob/v6.1.12/docs/development/build-instructions-gn.md](https://github.com/electron/electron/blob/v6.1.12/doc

[2020-10-28 04:39] ruppysuppy opened #26219 "app.requestSingleInstanceLock gives rise to unnecessary resource use"
### Preflight Checklist

* [X] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [X] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [X] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-28 07:00] #25628 closed

[2020-10-28 07:50] mannok commented on #17106
Still happening on 2020-10-28

[2020-10-28 08:20] LinYunWen opened #26220 ""will-prevent-unload" event does not emit"
As the title, I cannot catch the "will-prevent-unload" event on main process when I closed the window.

This is the snippet in [doc](https://www.electronjs.org/docs/api/web-contents#event-will-prevent-unload)
[code]
There are not any dialog open after I click close window button.
Even though I just console the "hello world" on the event handler, the text is not shown here.
[code]

I use electron 9

[2020-10-28 09:27] kzpromo opened #26221 "not loading ms teams link"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-28 09:36] bigben0123 commented on #228
I add headless lib to electron and call the HeadlessShellMain, then it returns:
[code]

Does that mean headless has been implemented?

[2020-10-28 09:56] vladimiry commented on #20248
Facing this issue in v10.1.5.

[2020-10-28 10:02] vladimiry commented on #20248
@cawa-93, see my previous message (you have to set `allowServiceWorkers: true` flag, etc). But still you will likely face the `The document is in an invalid state` then.

[2020-10-28 10:05] simoncozens commented on #24755
Thank you very much!

[2020-10-28 12:27] amazingmarvin commented on #26179
I'm also having trouble with transparent windows since upgrading to 10.1.3 (still broken in 10.1.5). Possibly the same bug.

MacOS (the mentions input moved and got smaller, but there's still a transparent outline from where it was):
<img width="589" alt="image" src="https://user-images.githubusercontent.com/35364886/97435805-3cd2df80-1921-11eb-99e5-905f2be6314a.png">

Linux (window is black inste

[2020-10-28 14:01] searene commented on #25990
Same on Linux.

- Electron Version: 10.1.5
- Operating System: Linux archlinux 5.4.72-1-lts #1 SMP Sat, 17 Oct 2020 13:30:57 +0000 x86_64 GNU/Linux
- Last Known Working Electron version: Not sure
- React Devtools version: 4.9.0_0

[2020-10-28 15:13] ckerr commented on #26218
Thank you for reaching out!

I have four thoughts on this:

* My first guess is that it's a hiccup in the network. Maybe wait a few hours and see if it resolves itself.

* In the interim since 6.1.12 we've released [Electron build-tools](https://github.com/electron/build-tools) which has scripts to do a lot of the work discussed in those build instructions. You may find the codebase easier to wran

[2020-10-28 15:13] #26218 closed

[2020-10-28 15:14] mahnunchik commented on #24833
Yep, I think it should be possible to set `BrowserView` as `newGuest`.

Related tread: https://github.com/electron/electron/issues/15040

[2020-10-28 15:17] ckerr commented on #26219
Thanks for reporting this and helping to make Electron better!

Because of time constraints, triaging another project's code is usually not feasible for a small team like Electron's.

Would it be possible for you to make a standalone testcase with only the code necessary to reproduce the issue? For example, [Electron Fiddle](https://www.electronjs.org/fiddle) is a great tool for making small test

[2020-10-28 15:40] mahnunchik commented on #20447
Confirm it..

[2020-10-28 15:41] sandersn opened #26224 "electron.d.ts does not work with @types/node v14.14.5"
`@types/node` recently [added](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/49045) `traceDeprecation` to the `Process` class. Previously, electron's type polyfilled this declaration. Now that it's in node, the declarations must match exactly, but electron's declaration says the property is optional. See the discussion in the linked PR about why it's not.

The fix is to make the property

[2020-10-28 16:03] mahnunchik opened #26225 "BrowserView doesn't use constructor options"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-28 16:18] #5649 closed

[2020-10-28 16:29] sandersn commented on #26224
Regenerating electron.d.ts shows that `traceDeprecation` isn't optional anymore, so I think that's all that needs to happen here. Does that happen regularly or do I need to submit a PR to make it happen?

[2020-10-28 17:29] aabuhijleh opened #26231 "[macOS] application menu items are not localized on non-English macOS"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-28 18:17] mgwo commented on #24638
Any progress? I have the same

[2020-10-28 18:45] codebytere commented on #26116
@ccorcos PR is up :)

[2020-10-28 18:51] ccorcos commented on #26116
Thanks! 🚂

I just installed all the dev tooling yesterday (took like 3 hours haha). Are you using VSCode for C++ coding? I really dislike Xcode...

[2020-10-28 20:00] #23479 closed

[2020-10-28 20:56] ahmetuysal commented on #19880
I tried it on electron 10 and was able to record the screen with QuickTime on mac. Anyone manage to solve this issue?

[2020-10-28 21:05] sofianguy commented on #26224
Thank you for taking the time to report this issue and helping to make Electron better.

The version of Electron you reported this on has been superseded by newer releases. See our [supported versions documentation](https://www.electronjs.org/docs/tutorial/support#supported-versions).

If you're still experiencing this issue in Electron 8.x.y or later, please add a comment specifying the version y

[2020-10-28 21:07] sofianguy commented on #26161
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

I'm setting the `blocked/need-info` label for the abov

[2020-10-28 21:09] sofianguy commented on #25885
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2020-10-28 21:09] #25885 closed

[2020-10-28 21:14] sofianguy commented on #24850
Thank you for your issue!

We haven't gotten a response to our questions in our comment [above](https://github.com/electron/electron/issues/24850#issuecomment-669439500). With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen

[2020-10-28 21:14] #24850 closed

[2020-10-28 21:16] sofianguy commented on #24047
@bxi-iripple Thank you for your issue!

We haven't gotten a response to our questions in our comment for a repro. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2020-10-28 21:16] #24047 closed

[2020-10-28 21:29] ckerr commented on #26231
![i18n](https://user-images.githubusercontent.com/70381/97498776-c347eb00-193a-11eb-8bb9-9dbd060463e5.jpg)

[2020-10-28 21:36] MarshallOfSound commented on #26231
This is kinda expected behavior, Electron doesn't provide translations out of the box.  If you need these menu items localized you'll need to provide your own translation strings when you construct the menu afaik.

[2020-10-28 23:03] septatrix commented on #10465
Would it be possible to reopen this issue? It is written like a question but the problem is that electron does not seem to support `SSLKEYLOGFILE`...

[2020-10-29 00:17] concreted commented on #25506
The fix for this issue appears to be in 10.1.5, but I am still seeing segfaults with Electron 10.1.5 on Ubuntu 20.04 LTS:

[code]

Will try some other versions also.

[2020-10-29 00:37] concreted commented on #25506
v9.3.3 works correctly for me.

[2020-10-29 01:11] livelyPeng commented on #26179
yes, I think this problem exists in electron itself

[2020-10-29 01:11] walmat opened #26240 "Unable to add empty string as value using session.cookies.set"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-29 01:27] dsanders11 commented on #25894
@allfro, can you give an example of code you'd use in `interceptHttpProtocol`? And possibly your 'redirect detection hacks'?

[2020-10-29 01:45] allfro commented on #25894
@dsanders11 I've abandoned this approach for the more reliable CDP implementation. But my expectation when using `interceptHttpProtocol` would be to allow me to modify elements of the HTTP request/response without impacting the usual flow of how HTTP is handled by WebView un-intercepted; similar to how other interception frameworks work for middling HTTP/HTTPS traffic (i.e. mitmproxy, pymiproxy, e

[2020-10-29 01:58] dsanders11 commented on #25894
@allfro, do you only need to modify headers for the request, or the body? The [WebRequest class](https://www.electronjs.org/docs/api/web-request) would allow modifying headers.

[2020-10-29 01:59] allfro commented on #25894
All parts of the request and response pair should be modifiable. WebRequest doesn't allow for that. CDP does.

[2020-10-29 02:38] notNotDaniel commented on #25506
After the fix I was still seeing segfaults under some versions if you call importCertificate immediately, however it does work now if you wait until the app is ready.

[2020-10-29 02:43] bigben0123 commented on #26220
It seems that will-prevent-unload will be fired when a dialog is closing, such as alert, confirm.
It's not clear how to fire the event.

[2020-10-29 03:24] #25695 closed

[2020-10-29 03:42] codebytere commented on #25506
if y'all are still seeing segfaults and can reproduce them at least somewhat reliably, feel free to open a new issue and ping me :) It's reasonable to wait until the app is ready, but we shouldn't be segfaulting even if you don't!

[2020-10-29 03:52] codebytere commented on #26224
@sandersn this is not expected to work - Electron v6 through v11 use Node.js v12 LTS. You should use a version of `@types/node` that matches the version of Node.js bundled with Electron.

[2020-10-29 03:52] #26224 closed

[2020-10-29 04:01] codebytere commented on #26225
That's intended behavior. Docs clearly specify available options, of which bounds are not one:

https://github.com/electron/electron/blob/c8a0b2b71d8622bbb848e364a842ea12bd5966fb/docs/api/browser-view.md#L26-L29

[2020-10-29 04:01] #26225 closed

[2020-10-29 04:17] codebytere commented on #23193
Closed in https://github.com/electron/electron/pull/26145

[2020-10-29 04:17] #23193 closed

[2020-10-29 04:21] codebytere commented on #20064
You're correct in assuming that a BrowserView must first be associated with a window in order to have bounds set on it as you're doing. Documentation implies this when saying `relative to the window`

[2020-10-29 04:21] #20064 closed

[2020-10-29 04:23] codebytere commented on #19921
Closed in https://github.com/electron/electron/pull/25411

[2020-10-29 04:23] #19921 closed

[2020-10-29 04:27] codebytere commented on #18529
Closed by https://github.com/electron/electron/pull/26145

[2020-10-29 04:27] #18529 closed

[2020-10-29 06:03] ruppysuppy commented on #26219
Sorry, even after several attempts, I could not recreate the bug, but I found where its occurring. It takes place only when [this](https://github.com/ruppysuppy/UnHook/blob/6f61090d251d7bdfee3292a4c8eae4928704f86c/app/AppTray.js#L41) line is replaced by:
[code]

I did make a similar [gist](https://gist.github.com/ruppysuppy/884143ae91a24914f4c4c0fd9fbc03ee), but its working as expected (without bu

[2020-10-29 06:39] aabuhijleh commented on #26231
Hi @MarshallOfSound,

If you take a look at the screenshots, you'll see that half of the items are translated and half of them are not. Also, looking a this old issue #3754, it seems like menu localization was handled a lot better in previous Electron versions. Are you sure this is the expected behaviour?

I'm using the default Electron menu and it works well for my purposes. It would be somewhat

[2020-10-29 07:38] adel-sbeh commented on #26161
I think that this issue isn't just linked to Electron apps. Zoom started to glitch in a similar. So I guess that this issue should get closed.

[2020-10-29 07:38] #26161 closed

[2020-10-29 09:52] samwillis commented on #228
@bigben0123 thats interesting and very exciting! So you have compiled your own version of electron incorporating the headless shell from chromium?

Have you tested in an environment without X on Linux to see if it works?

When chromium is run in headless mode the render sub-processes are started with the passed through —headless flag (you can see this is you use ‘ps args’ from memory). Is this hap

[2020-10-29 11:32] bigben0123 commented on #228
Yes, I run it on ubuntu which just start in user command mode.
Headless has been passed:
[code]

[2020-10-29 11:45] ranahemantkumar commented on #24850
@blazkablatnik Thanks, that resolved the problem.

[2020-10-29 13:33] samwillis commented on #228
@bigben0123 do you have your changes somewhere? Even if this doesn’t make it into electron core for some reason I would love to be able to use it.

[2020-10-29 14:43] AmarBouchibane commented on #25143
Still open in Electron 10.1.5.

[2020-10-29 15:18] #21681 closed

[2020-10-29 15:19] #21158 closed

[2020-10-29 15:46] Dmitrylolo opened #26257 "app.commandLine.hasSwitch on windows return false if switch has a capital letter"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-29 16:52] concreted commented on #25506
Ah, tried doing it after app ready and it doesn't segfault for me in 10.1.5. Can repro the segfault in 10.1.5 with @notNotDaniel's original repro steps (which do the import immediately) reliably though, will open a new issue. Thanks!

[2020-10-29 17:32] nornagon commented on #26257
This is intentional. The `hasSwitch` API is a direct wrapper of the Chromium CommandLine class, which behaves this way on purpose. https://source.chromium.org/chromium/chromium/src/+/master:base/command_line.h;l=145;drc=036150cfca14e4f91b7f06855b19462575aed37f

[2020-10-29 17:32] #26257 closed

[2020-10-29 17:40] dannymcgee commented on #24910
I was experiencing this issue without a `beforeunload` event on secondary windows (maybe Electron implicitly adds a `beforeunload` event to additional windows that are opened?). In any event, I worked around it by just calling `window.setOpacity(0)` in my event handler before calling `window.close()`. The icon in the taskbar still takes a moment to disappear, but the visible window disappears imme

[2020-10-29 18:22] #26089 closed

[2020-10-29 18:29] pushkin- commented on #24978
I can't repro this myself, but you can get a crash dump by adding this code early on in your main method:

[code]

[2020-10-29 18:47] ccorcos commented on #16029
I did some testing myself and it appears that indexeddb quota is pretty high, if not unlimited as stated.

https://github.com/ccorcos/electron-indexeddb-quota

[2020-10-29 19:49] adel-sbeh opened #26258 "Restore the functionality of disable-x-frame-options"
`disable-x-frame-options` is not working anymore. (https://github.com/electron/electron/issues/426)
[code]
It would be really nice to reintroduce this feature. Or, maybe, you can make it possible to create custom elements that share the same functionality of a `webview`.

[2020-10-29 19:51] #22780 closed

[2020-10-29 19:51] #26116 closed

[2020-10-29 22:12] Slapbox commented on #17713
Issue persists in `Electron@8.2.5`.

[2020-10-29 22:14] Slapbox commented on #8847
Issue also exists on Windows without animation or anything. https://github.com/electron/electron/issues/17713

[2020-10-29 23:15] vulture commented on #24384
I saw that this was merged to `master` but not to `9-x-y` nor `10-x-y`, only `11-x-y`, which is probably will it still crashes in Electron 9 and 10. It would either need to get "backported" to 9 and 10, or you would have to apply the fix and recompile yourselves (which is what we're opting to do for now).

[2020-10-29 23:33] nornagon commented on #26240
Seems like you're missing the required `url` argument.

I'm closing this for now as I can't reproduce this when the `url` argument is supplied. We should have a better error message for this case, though (the current is "Error: Failed to get cookie domain")

[2020-10-29 23:33] #26240 closed

[2020-10-29 23:37] nornagon commented on #25990
Looks like a duplicate of #23662. Please reopen if I'm wrong!

[2020-10-29 23:37] #25990 closed

[2020-10-29 23:42] nornagon commented on #25143
can repro in all current versions of Electron (and as far back as 6.x at least).

[2020-10-30 00:02] groundwater commented on #22027
Hey @zilti. I'm only going to say this once. _Be nice to our maintainers_. Please consider this repository a workplace, and you can leave the attitude at the door. We understand that broken software is frustrating. That doesn't change the matter.

We are all going to take a _cooling off moment_, so please **nobody comment here for 3 days**. After that, everyone including @zilti is welcome to engag

[2020-10-30 00:42] nornagon opened #26269 "DCHECK when hovering a webview node in the JS inspector"
Steps to reproduce:

1. Load this fiddle: https://gist.github.com/918dfdd84f7393a39f6e11e85c471840
2. Set a breakpoint in devtools on renderer.js on line 5 (the 'console.log' line)
3. Reload the page with Cmd+R
4. Select the 2nd frame in the call stack ("dispatchEvent")
5. Pretty-print
6. Hover the cursor over `this.webviewNode`

The renderer crashes with the following message: `Check failed: !wra

[2020-10-30 00:43] nornagon commented on #26269
cc @MarshallOfSound looks possibly contextIsolation-related?

[2020-10-30 02:20] Fental commented on #10671
electron v8.2.4 still has this problem. Has anyone solved this problem?

[2020-10-30 02:21] Fental commented on #10671
electron v8.2.4 still has this problem. Has anyone solved this problem?

[2020-10-30 02:55] ruppysuppy commented on #26219
@ckerr I am closing this issue. I will re-open it when I am able to create a stand-alone test

[2020-10-30 02:55] #26219 closed

[2020-10-30 03:36] kashaiahyah85 commented on #6773
Nobody has come up with a method to accomplish the goal. Care to comment again today? Or does the Linux developer simply abandon Electron if they want to make things work reliably? MacOS seems to be the only truly supported platform, Windows when possible and Linux is a happy coincidence at best.

[2020-10-30 04:36] xland opened #26275 "[Bug/Crash]Plugging in the VGA line will show the hidden maximized window and crash the renderer process"
### Preflight Checklist
* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without s

[2020-10-30 09:08] fanlion commented on #25368
have same issue, in my app, macos

[2020-10-30 09:40] EthianWong opened #26277 "`win.show` has problems with focus in some cases"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-30 09:58] 0xdeafcafe commented on #26023
I have also experienced this a lot, sharing the logs from the last crash here

[code]

[2020-10-30 11:59] juliekoubova commented on #25277
It's been recently fixed in Chromium:

https://bugs.chromium.org/p/chromium/issues/detail?id=1130710
https://chromium-review.googlesource.com/c/chromium/src/+/2470334
https://chromium-review.googlesource.com/c/chromium/src/+/2446789

[2020-10-30 11:59] #25277 closed

[2020-10-30 12:54] nuryagdym opened #26279 "App prevent reinstall"
Hello,
My electron app is reinstalling app every time I click on .exe.
How can I prevent it from reinstalling?

here my `package.json` build configuration
[code]
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electro

[2020-10-30 13:35] ahallicks commented on #22597
@zcbenz I've been doing a bit of testing and things are even weirder now. I can't get it to work with any version of 10 (it did before).

It does work, but only if I switch off the wifi (so, disconnect the internet, for example). If I connect and disconnect to a VPN the change event never fires. It definitely used to a few weeks ago. I think there have been two releases of Electron (10.1.4 and 10.

[2020-10-30 13:53] dsanders11 opened #26281 "DCHECK on Reloading Renderer Which Never Loaded"
### Preflight Checklist

* [x] I have read the [Contributing Guidelines](https://github.com/electron/electron/blob/master/CONTRIBUTING.md) for this project.
* [x] I agree to follow the [Code of Conduct](https://github.com/electron/electron/blob/master/CODE_OF_CONDUCT.md) that this project adheres to.
* [x] I have searched the issue tracker for an issue that matches the one I want to file, without

[2020-10-30 14:10] elgerlambert commented on #26023
I'm experiencing this issue aswel as of yesterday. I'm not entirely sure if this is an OS issue or an issue with Electron (or something else all together), but since my report also mentions "Electron Helper" specifically, I thought it best to post here.

@sproxet @0xdeafcafe with which versions did you (start) to experience this issue? Might help to triage the issue if it's know when it started to

[2020-10-30 14:27] minthaka opened #26282 "Youtube video playback from an iframe"
Hello. I am writing an Angular 10 application, which is then wrapped into an Electron desktop application.
I use an iframe with dynamic src variable binding, which accepts url-s. I use to replace the "watch?v=" part with "embed/" and the video's preview frame loads in.
When I try to play, I am getting Video Is Not Available error message.

I am working on LinuxMint, and i would like to play those

[2020-10-30 15:55] 0xdeafcafe commented on #26023
I've seen it happen on various versions of electron, but I'm current on `10.1.4`

[2020-10-30 16:41] nornagon commented on #26023
Please report this to Apple, kernel panics are by definition an OS issue.

[2020-10-30 16:41] #26023 closed

[2020-10-30 16:44] nornagon commented on #26282
Thanks for reaching out!

The issues tracker is used for feature requests and bug reports, so you will probably have better luck with this question at one of the links at [the project's Community page](https://www.electronjs.org/community) -- in particular, be sure to give [the Electron Discord server](https://discord.com/invite/electron) a try.

I hope this helps!

[2020-10-30 16:44] #26282 closed

[2020-10-30 16:49] nornagon commented on #26281
Looks like this is a DCHECK: https://source.chromium.org/chromium/chromium/src/+/master:content/browser/renderer_host/navigation_controller_impl.cc;l=2577;drc=8f372b1bcee52c779926c632f1c2eb3a42a085ce

we should still fix it, but this at least shouldn't crash in a release version.

[2020-10-30 16:56] nornagon commented on #22597
@ahallicks can you compare with the behavior of the same API in Chrome? I'm unsure whether this is an issue with Electron or an issue with the underlying code in Chrome. If the latter, we should report it upstream at crbug.com.

[2020-10-30 16:57] nornagon commented on #26279
This looks like an issue with https://github.com/electron-userland/electron-builder, which is not maintained by this team. Best to report the issue there!

[2020-10-30 16:57] #26279 closed

[2020-10-30 18:14] nornagon commented on #25143
Here's the code which returns a different wrapper for the `Event` object if accessed in a different world: https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/renderer/platform/bindings/dom_data_store.h;l=85-90;drc=f8a50cecbdeec78553325d9996dc14ab31e21b20 (invoked from [here](https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/renderer/bindings/cor

[2020-10-30 19:03] HSalah-EP commented on #25196
HI,

I'm not sure if it's the question, but you can define a throw statement on your main process, you will have to catch the error on your renderer process:

#### main

    ipcMain.handle('channel', (event, options) => {
      if (true) {
          // do anything
      } else  throw "error"
    })

#### renderer

    ipcRenderer.invoke('channel').then(r=> console.log(r)).catch(err => console.log(

[2020-10-30 19:10] ahmetuysal commented on #19880
Also, disabling `IOSurfaceCapturer` does not solve the issue. I was able to record the app with QuickTime on mac using Electron 10 when `IOSurfaceCapturer` was disabled.

[2020-10-30 19:33] petersolimine opened #26288 "Background process / daemon"
#25708 # Problem Description

- Not related to a problem, but my application needs to be able to run scripts in the background occasionally
### Proposed Solution

- perhaps a browser tht runs in the background? This sounds very resource intensive though.

### Alternatives Considered

- N/A
### Additional Information

- Looking to create a UI-controlled cron

[2020-10-30 20:13] cheese commented on #20348
I found an application with the same problem on Fedora 33. My workaround is download an old version of Pango and use LD_LIBRARY_PATH to let the old one is chosen:

[code]

[2020-10-30 20:17] Gambitboy commented on #24920
This issue is still happening. Not sure if this can help find the issue but here are some comments on this issue in the zulip repo.
https://github.com/zulip/zulip-desktop/issues/1016

[2020-10-30 20:24] nornagon commented on #26288
Thanks for reaching out!

The issues tracker is used for feature requests and bug reports, so you will probably have better luck with this question at one of the links at [the project's Community page](https://www.electronjs.org/community) -- in particular, be sure to give [the Electron Discord server](https://discord.com/invite/electron) a try.

I hope this helps!

[2020-10-30 20:24] #26288 closed

[2020-10-30 20:25] nornagon commented on #25196
Duplicate of #24427

[2020-10-30 20:25] #25196 closed

[2020-10-30 20:32] torywheelwright opened #26290 "Breaking change in session.resolveProxy is not documented"
At some point, [this function](https://www.electronjs.org/docs/api/session#sesresolveproxyurl) changed to return a promise rather than accepting a callback as a second argument. I would have expected that to be documented [here](https://www.electronjs.org/docs/breaking-changes). I discovered this while updating an app from Electron 1.8.8. You can see the old API in the docs for that version [here]

[2020-10-30 20:38] nornagon commented on #26220
Works for me: https://gist.github.com/b12895f4fbb5a5110bcb4f35f2f3e5ab

[2020-10-30 20:40] nornagon commented on #26290
It's documented here: https://www.electronjs.org/docs/api/modernization/promisification

but that doesn't seem to be linked from the breaking changes document...

[2020-10-30 21:24] nornagon commented on #26143
This seems likely to be a Big Sur bug. Electron doesn't do anything special related to code signing.

It's surprising that the behavior is different in the renderer process, though...

[2020-10-30 21:38] luke-webdev opened #26291 "Certain hotkey combinations do not seem to work"
I need an accelerator that maps to Ctrl+Alt+NumpadMinus. I tried "CmdOrCtrl+Alt+numsub" and that does not trigger the hotkey combination.

Other combinations I tried that do not work:

- CmdOrCtrl+Alt+numadd
- CmdOrCtrl+Alt+numdec
- Control+Alt+numsub
- Ctrl+Alt+numsub

These following combinations I tested do work:

- CmdOrCtrl+Alt+nummult
- CmdOrCtrl+Alt+numdiv
- CmdOrCtrl+numsub
- Alt+numsub

#

[2020-10-31 00:38] marcello3d commented on #26143
@nornagon: yea that's the part that also stood out to me—and the process we're running `ls` isn't changing status (presumably codesigned by Apple?).

Is there anything special about `child_process` in a renderer process? Is it going through IPC?

[2020-10-31 06:00] NathanielPather commented on #25793
I am new to chrome://tracing so what I say could be wrong.

The CrRendererMain track seems to have the most activity around closing the app: https://i.imgur.com/zAqYz5g.png
In comparison the CrBrowserMain and CrGpuMain tracks have less activity.
CrBrowserMain: https://i.imgur.com/26jNpQp.png
CrGpuMain: https://i.imgur.com/WtC7lBP.png
(All images are zoomed the same).

I suspect the issue is either

[2020-10-31 12:18] wdarm commented on #24135
I'm readily able to reproduce this with both VisualStudioCode and Microsoft teams but I don't own either App so I can't readily debug this issue.

Is anyone looking into this?

[2020-10-31 14:07] pushkin- commented on #25793
I can't repro this, and my GPU is disabled.

Could you try disabling the GPU via the workaround [here](https://github.com/electron/electron/issues/20702#issuecomment-637156596) and see if that solves it?

[2020-10-31 16:17] danbulant commented on #25539
Wouldn't that worsen the performance? It would mean I would have to load the full image and then pass it as argument

[2020-10-31 16:43] adel-sbeh opened #26295 "Make it so we can enable the #elastic-overscroll-win flag"
Hey, I wonder if we will ever be able to use the **#elastic-overscroll-win** flag on Windows 10. Or maybe, if it will ever be possible to enable this flag using the BrowserWindow options. *(Of course, this flag only works on Windows 10)*

[2020-10-31 17:38] dsanders11 commented on #25539
I don't think it would have any worse performance than using a web server to serve the files. The image has to be loaded either way?

Was merely pointing out a possible solution to your problem.

[2020-10-31 18:55] JaviOverflow commented on #7300
Does anyone know how to set up the proper type in typescript?

I have the following at the moment

[code]

I would like something like

[code]

so the IDE knows how to autocomplete the electron API.

[2020-10-31 21:08] septatrix commented on #10915
A precompiled binary is also available with `electron-nightly` sind a few days for everyone wanting to try this out.

<hr>

I have not been able to find the `RTC_USE_PIPEWIRE=true` flag anywhere in this repo. This seems like a logical step for (but not only) wayland applications and desktop environments. Should there be a separate issue for this?

[2020-10-31 21:29] danshick commented on #10915
Probably, I was hoping it would be included here. It is a simple fix that can be done at any time. I just recently figured out where it should go (I think), so I'll try to put in a PR tomorrow.

https://www.github.com/electron/electron/tree/master/build/args/all.gn

[2020-11-01 11:41] Thepphrit commented on #5020
www.networking.co.th[www.google.co.th](https://google.com) @gmail.com @theptook45@gmail.com

[2020-11-01 11:51] vially commented on #10915
@danshick I was planning to submit a pull-request for `RTC_USE_PIPEWIRE=true` too but the only reason I haven't done so already is because I haven't yet been able to make screen-sharing work with chromium on my machine (after enabling the flag). And I didn't want to submit a pull-request for something I can't test.

But it would be great if someone who is able to test this can figure out how to en

[2020-11-01 13:44] Lumca commented on #15298
This issue is still existing. app.commandLine.appendSwitch doesnt work.

[2020-11-01 15:45] danshick commented on #10915
I'll give it a shot and link the PR here when I have time

[2020-11-01 19:05] redaHamioui commented on #26295
hey, can i have more details about the issue plz ! thx

[2020-11-01 22:28] tvinzz opened #26299 "moveToApplicationsFolder causes error"
### Issue Details

* **Electron Version:**
  * 9.3.1
* **Operating System:**
  * macOS Catalina

### Expected Behavior
Application successfully copied to Applications folder. No warnings and errors.

### Actual Behavior
Got error message after application copied to Applications folder.

### Additional Information
I'm using `moveToApplicationsFolder` to move application file into Applications folde