[2016-12-27 19:25] georgiosd commented on #4858
It's Typescript - so it's the same as JS but with type annotations - at least this part @gch1p

[2016-12-27 19:33] gch1p commented on #4858
Okay, then what is `WebBrowser` and `onLogin` method? Electron has `BrowserWindow`, `WebContents` but no `WebBrowser`, this looks like some wrapper around Electron's API, can you give me a link or something, where I can explore how this `WebBrowser` works.

[2016-12-27 19:35] georgiosd commented on #4858
@gch1p my bad, I meant `BrowserWindow` - it's just a typo, no wrappers.

[2016-12-27 19:36] hokein commented on #8278
@demian85 Can you run your sample on Chrome to verify whether it is a Chromium related issue?

[2016-12-27 19:39] gch1p commented on #4858
@georgiosd when (from where) the `onLogin` method is called? I mean, definitely not from here:
[code]

[2016-12-27 19:40] demian85 commented on #8278
How can I test on Chrome if I'm using an electron API? You mean to try
using Chrome extension API?

On Tue, Dec 27, 2016, 16:36 Haojian Wu <notifications@github.com> wrote:

[2016-12-27 19:51] georgiosd commented on #4858
It's the handler for the `WebContents` `login` event:

[code]

[2016-12-27 19:51] hokein commented on #8278
hmm,  the code snippet you pasted above doesn't use any electron APIs. There are two ways:

* If you are using `desktopCapturer.getSources()` to retrieve the sourceId, you can replace it with [chrome.desktopCapture](https://developer.chrome.com/extensions/desktopCapture) API, but you have to learn a bit more about chrome extension/apps development.
* You can modify you code getting rid of electron

[2016-12-27 21:19] MarshallOfSound commented on #4742
@johannesjo Try bootstrapping with `--dev` it will download a lot less

[2016-12-27 22:31] sapioit commented on #673
If anyone starts working on something for this, maybe link to it here...

[2016-12-27 23:11] demian85 commented on #8278
Well, it's too complicated to re-create a working example on Chrome, so I tried this demo: https://www.webrtc-experiment.com/Pluginfree-Screen-Sharing/#9281250928330272

It uses the same chrome API and it works great. Shared a single window source with a PC in the same network and stream plays great without stuttering.
So, is this a Chromium/Electron related bug?

[2016-12-28 01:52] kirkstrobeck commented on #3371
^ http://electron.atom.io/docs/all/#processversionselectron

[2016-12-28 05:16] fengjiannan2010 opened #8289 "electron require c++ module is error"
* Electron version:1.4.1.3
* Operating system:linux

error   info:
Uncaught Error: Module version mismatch. Expected 50, got 48.

Error file:  Electron_asar.js

  // Override APIs that rely on passing file path instead of content to C++.
  const overrideAPISync = function (module, name, arg) {
    if (arg == null) {
      arg = 0
    }
    const old = module[name]
    module[name] = function () {

[2016-12-28 05:17] MarshallOfSound commented on #8289
See the docs on using native mode modules

https://github.com/electron/electron/blob/master/docs/tutorial/using-native-node-modules.md

[2016-12-28 05:17] #8289 closed

[2016-12-28 05:32] AmbrielLi opened #8290 "issues with desktopCapturer to capture a window"
* Electron version: 1.4.12
* Operating system: windows 10

### Expected behavior

I am using desktopCaptruer to capture the word window as a video stream then use getUserMedia put the stream in a video tag, It should play like video.

### Actual behavior

The video is freeze and only update when I resize the word window.

### How to reproduce

Here is my code:
[code]

[2016-12-28 10:00] nsisodiya opened #8291 "Failed to find Electron v1.4.13 for linux-arm64"
* Electron version: 1.4.13
* Operating system:
[code]
### Expected behavior

### Actual behavior

[code]
### How to reproduce

[2016-12-28 10:44] DamnedScholar opened #8292 "The Quick Start Guide link is broken"
[Commit b22eb0d](https://github.com/electron/electron/commit/b22eb0d65fb103e64f154bfae3b9af207cd24728) changed the Quick Start Guide link on [About](http://electron.atom.io/docs/tutorial/about#about-electron) from absolute to relative and now the link goes to `http://electron.atom.io/docs/quick-start`, excluding the `tutorial/`.

@thorbenegberts

[2016-12-28 11:07] thorbenegberts commented on #8292
@zeke any suggestion? Pull Request was https://github.com/electron/electron/pull/8265

[2016-12-28 11:11] astoilkov opened #8293 "No way/API to know why a window is closing"
* Electron version: 1.4.13
* Operating system: macOS

I am explaining the problem with a real world scenario so it is easier to understand.

There is no way to implement hot exit. By hot exit I mean - store the state of multiple windows when application quits so when started again the state could be restored. Hot exit shouldn't be turned on when a user is closing a window using the close button bu

[2016-12-28 11:55] johannesjo commented on #4536
Still an issue for me on Ubuntu 16.10 when building via
[code]

[2016-12-28 12:33] madipor commented on #7117
Hi @cprogrammer1994
Do you found solution?

[2016-12-28 13:20] demian85 commented on #8290
Maybe related to this? #8278

[2016-12-28 15:35] zeke commented on #8292
This works fine on GitHub but not the website, so I filed a new issue at https://github.com/electron/electron.atom.io/issues/646

Thanks for reporting.

[2016-12-28 15:35] #8292 closed

[2016-12-28 16:24] astoilkov opened #8294 "AutoUpdater throws an error before emitting update-downloaded"
* Electron version: 1.4.13 (started from 1.4.7)
* Operating system: macOS

### Expected behavior

The `autoUpdater` should call `update-available` then `update-downloaded`.

### Actual behavior

The `autoUpdater` triggers `update-available`, `error` and then after few seconds `update-downloaded`.

The following error occurs:

`The folder “Caret.zip” doesn’t exist.: The folder doesn’t exist.`
[code

[2016-12-28 16:53] cprogrammer1994 commented on #7117
**No**, but I got upgraded to Win10, cannot test anymore. 😞

[2016-12-28 17:12] kevinsawicki commented on #8291
`arm64` is not currently supported, only `armv7l`.

You can install that version by running `npm install --arch=armv7l electron@1.4.13`.

You can subscribe to #5706 to be notified about ARM64 support.

[2016-12-28 17:12] #8291 closed

[2016-12-28 18:05] kevinsawicki commented on #8294
/cc @joshaber are you familiar with any Squirrel issues related to this error?

[2016-12-28 18:08] kevinsawicki commented on #8286
Looking at the dev tools, it appears to be rendering using `Times New Roman` instead of `Apple Chancery`.

[2016-12-28 18:35] kevinsawicki commented on #8286
Looks like Chrome sets it defaults to be `Script` for `cursive` and `Impact` for `fantasy`.

https://cs.chromium.org/chromium/src/content/public/common/web_preferences.cc?l=232

[2016-12-28 18:51] kevinsawicki commented on #8283
Looks like these can be removed using the `systemPreferences` API.

You should be able to exclude them at the very beginning of your `main.js` file.

[code]

https://stackoverflow.com/questions/21369736/remove-start-dictation-and-special-characters-from-menu/30046514

[2016-12-28 18:57] #8283 closed

[2016-12-28 18:58] kevinsawicki commented on #8283
Closing this out since the macOS default is to include them and the preferences can be used to revert this behavior for application's that don't want to include them.

[2016-12-28 20:01] nishant09 opened #8296 "Can't increase the layout size and font size of my app ?"
* Electron version: 1.3.1
* Operating system: Windows,MAC osx

### Expected behavior
ctrl + plus(zoom-in) and ctrl + minus(zoom-out) should increase and decrease the layout size respectively

### Actual behavior
nothing happens

I couldn't find the option in the menu to increase the font-size also
Are these something I've to implement on my side ? If so, then can you guide me how ?

Thank you

[2016-12-28 20:29] baconface commented on #3371
To be fair the old link also indicates `process.versions.electron`.

[2016-12-28 21:04] johannesjo commented on #4742
Seems like a simple mapping won't solve this issue, as this feature needs to be implemented into chromium itself first ([maybe here](https://github.com/Nu3001/external_chromium_org/blob/master/ui/linux_ui/status_icon_linux.h)).

[2016-12-28 21:24] 1931186 opened #8297 "Globalmenu: dbusmenu-object on Dbus does not contain full layout"
* Electron version: 1.4.13
* Operating system: Arch Linux

**TLDR**
Menuobject on electrons bus does not provide full layout. Not quite sure if bug or "feature".

I'm using this Appmenu-Registrar implementation:
https://github.com/RafaelBocquet/i3-hud-menu
to simulate Unitys com.canonical.AppMenu.Registrar dbus service which Unity uses for its global Menu.

### Expected behavior
The menuobject adv

[2016-12-28 21:39] kevinsawicki commented on #8296
`zoomin` and `zoomout` menu item roles were added in Electron 1.3.3 that can be used to have a default zoom behavior in the menu and keyboard shortcut.

There is an example of them at http://electron.atom.io/docs/api/menu/#examples

[2016-12-28 21:39] #8296 closed

[2016-12-28 21:40] #4374 closed

[2016-12-28 21:42] #8286 closed

[2016-12-28 21:54] kevinsawicki commented on #8273
I think you want to use a `char` event like so:

[code]

This triggers a `keypress` event and puts the text in the `<input>`.

This was the page I tested in:

[code]

Does this work for you?

[2016-12-28 22:00] askingalot commented on #5057
+1

[2016-12-28 22:37] kvidzibo commented on #8273
ok it does work if I do:
`
win.webContents.sendInputEvent({keyCode: 'A', type: 'keyDown'});
win.webContents.sendInputEvent({keyCode: 'A', type: 'char'});
win.webContents.sendInputEvent({keyCode: 'A', type: 'keyUp'});
`

but it does not work if I do:
`
win.webContents.sendInputEvent({keyCode: 'A', type: 'char'});
`
is this normal? in fact if I do the following none of events are triggered.
Thanks f

[2016-12-28 22:44] kevinsawicki commented on #8273
Yes, I believe it is, if your code needs to receive all three events then you'll need to send all three events using `sendInputEvent`.

Closing this out.

[2016-12-28 22:44] #8273 closed

[2016-12-29 00:20] kevinsawicki commented on #8270
Using the `remote` API causes a synchronous IPC call to be made between the render process and the main process. This can cause issues with redraw while the call is blocking.

Have you tried making it async and seeing if it works as expected?

You should be able to do something like:

### Renderer Process

[code]

### Main Process

[code]

[2016-12-29 00:24] kevinsawicki commented on #8216
@pezholio can you open this in Electron on macOS and see what it logs for you when you press `Ctrl-H`?

[code]

[2016-12-29 00:29] aculeat commented on #4875
Hello, any updates on the status of this? I'd love to get going on a project using TS with Electron but I'm hesitant to start without official typings.

[2016-12-29 01:02] AmbrielLi commented on #8290
Yes, in some point, thank you very much @demian85 . I will try to using Chrome.desktopCaptrurer to workaround this issue.

[2016-12-29 03:34] joshaber commented on #8294
No, this doesn't look familiar. A quick search through Squirrel.Mac didn't show any obvious source of that error. We'll need more information to be able to debug.

[2016-12-29 04:05] josephrocca opened #8299 "`BrowserWindow` needs to be focused for `webContents.sendInputEvent()` to work"
* Electron version: (don't know how to get this, `electron -v` doesn't work for me. it's a recent version though - downloaded a couple of weeks ago)
* Operating system: Ubuntu 16.04

### Expected behavior

`sendInputEvent` should work whether the window is focused or not.

### Actual behavior

`sendInputEvent` doesn't work unless window is focused.

### How to reproduce

[code]

I tried searching

[2016-12-29 04:42] WildDylan opened #8300 "Hey, what's the `process.mas` meaning"
Can you explain this code:

[code]

[2016-12-29 04:43] MarshallOfSound commented on #8300
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

A: https://github.com/electron/electron/blob/master/docs/api/process.md#processmas

[2016-12-29 04:43] #8300 closed

[2016-12-29 04:45] WildDylan commented on #8300
Thanks for your fast response.

[2016-12-29 05:05] josephrocca commented on #2269
So `type:'keyDown'` and `type:keyUp` can only be used for special characters? In the tests that I've done so far it's not possible to send regular characters with `keyUp/Down` which seems a bit strange but is in line with what @kidwm says above. Why is there this distinction between regular and "special" characters? If this is actually the case, then how to we know whether to send a unicode charac

[2016-12-29 05:30] blainesch opened #8301 "Global Shortcut broken on windows"
* Electron version: 1.4.13
* Operating system: Windows 10

### Expected behavior

When I register a global shortcut it works correctly.

### Actual behavior

If I import `systemPreferences` they no longer trigger

### How to reproduce

1. Clone [this repo](https://github.com/blainesch/electron-quick-start).
1. `npm install` and `npm start` then hit `alt+space`
1. ASSERT console log occured
1. Unco

[2016-12-29 06:14] blainesch commented on #8301
I did a few tests, and this appears to be working in `1.4.3` and broken in `1.4.4`

[Changelog](https://github.com/electron/electron/compare/v1.4.3...v1.4.4?expand=1)

[2016-12-29 07:01] paulcbetts commented on #8300
makeSingleInstance doesn't work in the App Store build which has a bunch of features stripped in order to be compatible with Apple's dumb checks, "mas" is the Apple abbreviation for Mac App Store

[2016-12-29 07:06] x-yao opened #8302 "Large size http request been cut off when through protocol registerHttpProtocol API"
* Electron version:1.4.12
* Operating system:macOS Sierra

### Expected behavior

When I Use registerHttpProtocol to watch http requests and let original request callback to the browser.Expected all request work find.

	protocol.interceptHttpProtocol('http',(request, callback) => {
		let postData;
		if (request.uploadData) {
			postData = request.uploadData[0].bytes.toString();
		}
		let par = {

[2016-12-29 07:33] MarshallOfSound commented on #8301
@blainesch Closing out in favour of #7859

There is a discussion of this issue on that thread 👍

[2016-12-29 07:33] #8301 closed

[2016-12-29 09:08] astoilkov commented on #8294
Ok. I caught the problem. It's not caused by Squirrel.Mac but instead by Electron. I did replicate the problem under Windows too (the error there was different).

The problem appears when you call `autoUpdater.checkForUpdates()` a second time after you already called it.

I searched through the issues and I found https://github.com/electron/electron/issues/5097. Which seems to be fixed but it seem

[2016-12-29 10:17] pezholio commented on #8216
I get `true "h"`

[2016-12-29 15:22] anandfingertip opened #8304 "invalid WIN32 path characters"
I am not able to install it in my computer. I have reinstalled the node and npm but it dod not help.

Error: C:\Users\Anand\AppData\Local\Temp;C:\Work\apache-maven-3.2.5-bin\apache-maven-3.2.5\bin;C:\Program Files\Java\jdk1.8.0_31\bin;.;\electron-tmp-download-14672-1483024596459 contains invalid WIN32 path characters.
    at Object.mkdirs (c:\Work\Desktop-App\electron-quick-start\node_modules\fs-e

[2016-12-29 16:28] gielcobben opened #8305 "Border renders wrong when using Vibrancy"
I'm using the settings below to create my MainWindow (notice the Vibrancy).
In my index.html I have a header component which has a white background color. As you can see in the image below it renders wrong. Is there anything I can do to fix this?

**Settings:**
[code]

**Image:**
![image](https://cloud.githubusercontent.com/assets/2663212/21548205/4a91297c-cdeb-11e6-8b39-cc783cbfd996.png)

[2016-12-29 17:04] kevinsawicki commented on #8304
It looks like your temp directory environment variable is corrupt.

Can you check what the value of your `TMP` or `TEMP` environment variable is?

[2016-12-29 18:00] kevinsawicki commented on #8275
I believe this is a duplicate of #3751, please subscribe to that issue for updates.

[2016-12-29 18:00] #8275 closed

[2016-12-29 20:18] hokein commented on #8278
If the example works well on chrome, it is more likely an Electron bug.

However, I could not reproduce the poor frame rate on OS X 10.11.6. I tested the API with [`electron-screen-recorder`](https://github.com/hokein/electron-screen-recorder):
1. Record the desktop along with audio.
2. The video looks fine to me, as well as the saved `webm` file.

[2016-12-29 21:04] WriterDuet commented on #7744
Chrome 53 and possibly Chrome 54 had a serious error that resulted in crashes when users were writing in Chinese. It's unclear to me if this has been fixed in Chrome 55, but my users who are on our Electron app are still reporting it, but it is no longer being reported on Chrome 55.

I know you didn't have a specific timeline, but can you give us any insight into the progress of updating to Chrome

[2016-12-29 21:07] kevinsawicki commented on #7744
The specs on all platforms are passing in #7909 so the 54 release should happen in January unless some severe regressions are discovered during testing.

After that release we will then start the process of going to 55.

[2016-12-29 21:09] WriterDuet commented on #7744
Thank you!!

[2016-12-29 21:39] demian85 commented on #8278
Well, this is a bit disturbing... because your app works great for me!
Will need to further investigate the code because I cannot find any significant difference from my code and seems that I'm doing something wrong on my side...

[2016-12-29 22:47] demian85 commented on #8278
Okay, after saving my recorded video into a local file, it plays okay inside chrome. Seems that performance is not good when playing video inside video tag using MediaSource Extensions API... and only on Mac!
Will be back with more details tomorrow...

[2016-12-29 23:58] gerhardberger commented on #8224
Fixed in #8250

[2016-12-29 23:58] #8224 closed

[2016-12-30 00:06] jmshal opened #8310 "BrowserWindow vibrancy is lost after reload"
* Electron version: 1.4.13 (currently the latest)
* Operating system: OS X El Capitan (10.11.4)

### Expected behavior

When the web page reloads the vibrancy set on the `BrowserWindow` should remain active.

### Actual behavior

When the web page reloads (either using `[Cmd+R]`, or in my case, due to Create React App) the vibrancy which was active prior to the reload is lost.

### How to reproduc

[2016-12-30 04:49] aredfox commented on #8278
hey all, what I can say is that whenever I call getSources() I have a freeze in the application that is unacceptable. All open windows and processes freeze when I call that function :/...

[2016-12-30 04:50] aredfox commented on #8246
PS: is no one else experiencing this, or what do I need to do to make it more clear to replicate this other than providing the source code I have above?

[2016-12-30 05:37] wheelhot commented on #7781
Hmm, here's a simple suggestion for Touchbar v1, it'll probably look like how Safari Touchbar work where you can press the button to enter URL except this will access the command palette and once clicked, it'll display suggestions based on last/common used commands?

[2016-12-30 09:27] HitomiTenshi commented on #4875
Same here!

[2016-12-30 09:43] hokein commented on #8246
I can't reproduce the frozen issue on mac, but I suspect that the reason why the main process is frozen is that the main process is busy with handling `getSources` API.

After looking your code deeply, I'm a bit of surprised about the way you use `getSources` API.

`getSources` is a highly-expensive API, it does more stuff than you thought, and requires communication with main process although it

[2016-12-30 11:35] anandfingertip commented on #8304
Thanks Kevin for looking into this issue. I have checked already the TMP folder also tried clean change the folder. It did not really help.
Here is the TMP value from  "npm config list"

; globalconfig C:\Users\Anand\AppData\Roaming\npm\etc\npmrc
tmp = "C:\\Users\\Anand\\AppData\\Roaming\\npm\\tmp"

[2016-12-30 12:27] demian85 commented on #8278
Well, now I realize that the mouse cursor is not visible, either with your app or mine. This is a mess.
Should I report whatever the bug is in the chromium project?

[2016-12-30 15:15] hokein commented on #8255
Could you provide a complete example? It is hard for us to reproduce the issue with your partial code.

[2016-12-30 17:37] mattgalvin opened #8314 "scale factor error in webview/webcontents.capturePage"
* Electron version: 1.4.13
* Operating system: MacOS 10.12.2 running on MacBook Pro (Retina, 13-inch, Early 2015)

### Expected behavior
webview.capturePage() without specifying a dimension should return an image with the full viewable area on a Retina display. The dimensions of the resulting image should be either the actual pixels of the viewable area or perhaps the actual pixels * the device sc

[2016-12-30 17:49] zeke commented on #4875
The latest is this: before we officially bundle an `electron.d.ts` file within the `electron` npm package, we need to teach the [docs linter](https://github.com/electron/electron-docs-linter) to parse the docs for Electron's [webview](https://github.com/electron/electron/blob/master/docs/api/webview-tag.md) tag. I belive this is the last blocker.

If you want to take the current WIP file for a spi

[2016-12-30 18:59] s-a commented on #2244
Mentioned method ```copyFilesToClipboard``` does not work on windows 10.

    var $ = require('nodobjc')

    var paths = ['c:\\git\\sulu\\clipboard.js', 'c:\\git\\sulu\\Gruntfile.js']

    function copyFilesToClipboard (paths) {

    	$.framework('Foundation')
    	$.framework('AppKit')

    	var pasteboard = $.NSPasteboard('generalPasteboard');
    	var changeCount = pasteboard('clearContents');

[2016-12-30 20:12] johnryan commented on #645
@nathansobo did you ever figure this out, still seeing the same behavior, no window shows.

[2016-12-30 20:33] elmasse commented on #8282
I have experienced the same issue. Finally, with some patience (and help from caffeinate) electron installed successfully. It seems that downloading the file from github took around 30 mins :/

[2016-12-30 21:20] mobitar commented on #4068
Building on @odedhb's answer, you can trigger just the Edit menu of the main window's menu using:

[code]

[2016-12-31 03:59] aculeat commented on #4875
Thanks for the reply! The WIP file should be good enough for now :)

[2016-12-31 04:01] MarshallOfSound commented on #4875
@aculeat The most up to date file can be found in this gist

https://gist.github.com/MarshallOfSound/8b1b1aa0773fab1a9178cc2d1025dadd

[2016-12-31 04:05] aculeat commented on #4875
Great, thanks!

On Dec 30, 2016, 8:01 PM -0800, Samuel Attard <notifications@github.com>, wrote:

[2016-12-31 19:09] yefengbar opened #8316 "i`dont what happend with electron"
##when i input the commend: `ember g ember-electron` has a err
[code]

1. env list:
2. node:6.2.0.
3. npm:3.8.9.
4. ember-cli:2.10.0
5. os:win10-64

[2016-12-31 20:02] MarshallOfSound commented on #8316
It looks like you experienced a network issue, try blowing away your node_modules folder and installing again.

`ECONNRESET` indicates your network connection was reset during the download of the Electron binaries

[2016-12-31 20:02] #8316 closed

[2016-12-31 20:42] bootstraponline opened #8317 "Electron crashes on large data URLs"
* Electron version: 1.4.3
* Operating system: Windows 10

### Expected behavior

No crash.

### Actual behavior

Electron crashes.

### How to reproduce

[code]

[2016-12-31 20:45] MarshallOfSound commented on #8317
@bootstraponline Can you test loading a data URL that long in Chrome?

On a side note that is one helluva long data URL 😆

[2016-12-31 20:57] bootstraponline commented on #8317
Sure. If I paste the data URL into Chrome, nothing happens. Chrome probably has an internal check. I tried setting document.location as well and that didn't work either.

There must be some work around to load large images into a new window. Maybe `<img src="data:image/png;base64,...`

[2016-12-31 21:11] bootstraponline commented on #8317
[code]

^ that's the work around I'm using for now. If there's a better way, let me know.

[2017-01-01 09:05] jacobmarshall commented on #8310
Just wanted to add - calling `BrowserWindow.setVibrancy` prior to the reload, regardless of whether it's passed the same type or a different type, does nothing either.

[2017-01-01 20:11] ialberquilla opened #8320 "Annyang in Electron Speech Recognition is repeatedly stopping and starting"
I'm using an example app created in Electron, donwloaded from:
https://github.com/TalAter/annyang-electron-demo

But when I start it in debug mode, it shows in the console:
Speech Recognition is repeatedly stopping and starting. See http://is.gd/annyang_restarts for tips.

I'm not using Speech Recognition in any other tab.

This libray works if is used by google Chrome

I'm using this versions:

n

[2017-01-01 21:53] paulcbetts commented on #8320
We should document how to get one of these keys, it's super obnoxious and involves joining mailing lists to get access to secret Google Cloud entries

[2017-01-02 01:16] bsclifton commented on #6823
Knowing what I know now, this would be crazy hard to implement.  It involves patching Chromium code (specifically in src/ui/views/win/hwnd_message_handler.cc)

I'm going to go ahead and close- but thanks for letting me talk it out above

[2017-01-02 01:16] #6823 closed

[2017-01-02 05:59] deepak1556 commented on #8317
The check is something defined by the content layer and cannot be modified in Electron. I would suggest using blob instead of data URI in this scenario.

[2017-01-02 06:01] iDaN5x commented on #2280
@zcbenz any updates?

[2017-01-02 06:18] #8317 closed

[2017-01-02 07:16] gnomesley opened #8321 "isFullScreen returns false for transparent fullscreen window"
* Electron version: 1.4.13
* Operating system: Windows 8.1

### Expected behavior

Calling isFullScreen() on a transparent fullscreen window should return true.

### Actual behavior

isFullScreen() returns false (it returns true when transparent is set to false in the example below).

### How to reproduce

[code]

[2017-01-02 07:51] BrstDev123 commented on #8278
Can you please help me that How can I create desktop application using electron. I have node js app which has been already built. I was using enclose module but that was causing issue, so i want to change module using which I can compile the code of app and create exe file.

Can you please help me out in this?

[2017-01-02 07:55] BrstDev123 opened #8322 "How do I create exe file from node js pre - built app using electron for commercial usage?"
Can anyone please let me know How can I create build exe from pre-built node app.
In my node js app, I am using kinect2 module. I was using enclose module for exe but that was causing issue so I am looking for electron.

Please let me know if you wants to know other details.

[2017-01-02 08:12] mikecao commented on #7779
@kevinsawicki I think I've identified the issue. Well sort of. I tried copying the main.js of my application over to an electron-quick-start project and it ran fine. So the only difference would be the index.html content that it was loading. I started stripping out content line by line and found that it was my main application bundle that was blocking the event. Unfortunately, my app is in a giant

[2017-01-02 08:18] BrstDev123 commented on #8322
Can electron-packager works on my node js application code? It is already built application, electron-packager works with Electron-based application source code but I have created simple node js application.

So would that worked for it ? Please Suggest.

[2017-01-02 08:26] MarshallOfSound commented on #8322
If your app is not Electron based then the issues section of Electron is not really the place to get help.  Try asking on StackOverflow

[2017-01-02 09:48] AoDev commented on #8205
Hi. I'd like to say that I have the same error with a different process.
In my case.  `Cannot get property format on missing remote object`.

I am using:
[code]

It is also "random".
That's the reason why I can't paste the error stacktrace now. I have relaunched the process multiple times but, obviously, it had to work fine for now. I will try to reproduce it later and give more info.

[2017-01-02 09:48] aredfox commented on #8246
thanks, I figured it's expensive indeed - but I wonder why it's blocking the entire node application as it's not shown in the docs, nor anywhere else. I thought this was not possible given the seperation of the processes.
I'll look into #2237 and see if that offers a solution!

[2017-01-02 09:50] aredfox commented on #8246
(ps: the way I use the code, I got this from an example tutorial on how to use the electron API's)

[2017-01-02 11:03] Frederick888 opened #8323 "Which version of OpenGL is Electron using?"
I'm using Visual Studio Code with ArchLinux + KDE. The texts look quite blurry and I noticed the setting of *System Settings -> Display and Monitor -> Compositor -> Rendering backend* in KDE influenced it a lot. So it seems rather than trying to use the highest version of GL possible (as that in Chrome), Electron is using the same one as the user chooses for KDE. (This is only my assumption, becau

[2017-01-02 11:46] matt3224 commented on #8305
I'm also having this type of issue:

![screen shot 2017-01-02 at 11 45 45](https://cloud.githubusercontent.com/assets/2401925/21588643/1595282e-d0e1-11e6-80ea-84ca0ac0e321.png)

and:

![screen shot 2017-01-02 at 11 46 10](https://cloud.githubusercontent.com/assets/2401925/21588644/15b0525c-d0e1-11e6-86b0-9589483b395c.png)

[2017-01-02 12:40] MarshallOfSound commented on #8323
`chrome://gpu` works in Electron, you just need to launch VSC dev tools and run `window.location = 'chrome://gpu`

[2017-01-02 13:21] AoDev commented on #8205
Ok, finally I could reproduce it. I have no idea why it "failed" this time.

Here is the stacktrace:

[code]

Here is the code that is probably failing but I can't be 100% sure.
Note, I was rewriting my app, some of this code is still legacy. This didn't happen before.

Basically, I call a library method that:

- should scan the filesystem
- push a task in a queue for each file found
- run the cal

[2017-01-02 13:59] demian85 commented on #8278
https://www.hyfy.io/

Somehow this guys created a Chrome extension that records screen including mouse and works perfect... Can someone explain this please?

[2017-01-02 14:33] sayanm01 opened #8324 "Issue with electron while using sqlite"
Hi there, I am new to electron. I am facing an issue on using sqlite with electron. I got some help with this link https://gist.github.com/maximilian-ruppert/9de273f72c1ba4aa62d6
but I was not able to compile sqlite package for the electron package V1.4.12 and node version v6.9.1  I amusing Windows 7 professional.

The error I am facing is as follows:

[code]

Thanking you,
Nitin Kandpal

[2017-01-02 14:50] demian85 opened #8325 "desktopCapturer does not include mouse cursor on Mac OSX"
Please see #8278 for further details.

Somehow, [this guys](https://www.hyfy.io/) created a Chrome extension that successfully captures screen including mouse on Mac and I can't figure out how they managed that.
My app uses desktopCapturer and mouse does not appear in the stream!

Is this bug related to Electron or Chromium? Why Chrome extensions API works and Electron API doesn't?

[2017-01-02 15:50] vojtatranta commented on #5908
I have to reopen this issue, because we received similar issues:
[code]

which happens here:
[code]

I should mention that we do some stuff when is quiting the app so in the.

So the user hits quit, we hide the main window, and then the app loads this callback:
[code]
May this be the cause of error above?

[2017-01-02 20:31] hokein commented on #8278
I'm closing this now as you have already opened another issue tracking the non-visible mouse cursor problem.

[2017-01-02 20:31] #8278 closed

[2017-01-02 20:42] hokein commented on #8325
I can't reproduce the issue with [electron-screen-recorder](https://github.com/hokein/electron-screen-recorder). The mouse cursor is visible, you can see it  from my [recorded file](https://drive.google.com/file/d/0Bx5px5HgHtBxOFVmenVWSDRMQVE/view?usp=sharing).

[2017-01-02 21:28] demian85 commented on #8325
This must be some kind of joke. I still cannot see the mouse cursor...
I've tried with and without sound, screen and window capture. Even tried Electron 1.4.12 and 1.4.13
Which OSX version are you using?

[2017-01-03 00:38] cungminh2710 commented on #8214
I am facing a similar issue where ipcRenderer failed to send a message.
What i wrote was
[code]
The error message was
`\node_modules\electron\dist\resources\electron.asar\renderer\api\ipc-renderer-setu…:6 'window.webkitStorageInfo' is deprecated. Please use 'navigator.webkitTemporaryStorage' or 'navigator.webkitPersistentStorage' instead.`

[2017-01-03 00:54] Frederick888 commented on #8323
@MarshallOfSound No, it doesn't work. I once tried it before however just nothing happened.

[2017-01-03 00:59] MarshallOfSound commented on #8323
![screen shot 2017-01-03 at 11 58 43 am](https://cloud.githubusercontent.com/assets/6634592/21598188/04a6d24e-d1ac-11e6-9e62-af33a089326a.png)

Looks like it works on my machine 👍

[2017-01-03 01:05] Frederick888 commented on #8323
@MarshallOfSound Which version of VSC are you using?

[2017-01-03 01:07] Frederick888 commented on #8323
![screenshot_20170103_120639](https://cloud.githubusercontent.com/assets/4507647/21598238/24cc1a56-d1ad-11e6-91a3-20d3e36ecc01.png)
@MarshallOfSound Mine only returns the given string...

[2017-01-03 06:14] paulcbetts commented on #8323
Try this:

[code]

[2017-01-03 08:03] BrstDev123 opened #8327 "electron not compatible with native module like kinect2"
![image](https://cloud.githubusercontent.com/assets/24525310/21602364/2dd2d61a-d1b9-11e6-8d13-0fe80939f509.png)

On run command ' electron . ' it is always giving this error.

[2017-01-03 08:07] MarshallOfSound commented on #8327
@BrstDev123 You should check out the docs for using native modules inside Electron

https://github.com/electron/electron/blob/master/docs/tutorial/using-native-node-modules.md

Also if you use tools such as [`electron-forge`](https://github.com/electron-userland/electron-forge) the nuances of native modules are handled for you

[2017-01-03 08:07] #8327 closed

[2017-01-03 09:11] deepak commented on #7714
tl;dr: have NODE_ENV and ELECTRON_ENV. and both and almost synonymous

i like how many libraries have a `DEBUG` environment variable and we can just start the app with
`DEBUG=* npm start` to see all the messages. it is a standard (ish) and everything is good with the world :-)

something similar for dev/production would be nice. so rather than `NODE_ENV` or `ELECTRON_ENV`
we just have one flag may

[2017-01-03 09:57] Frederick888 commented on #8323
@paulcbetts Thanks, this worked. And it's using `GL 4.5.0` as well (although many GPU features are disabled)...
[code]
![screenshot_20170103_205250](https://cloud.githubusercontent.com/assets/4507647/21604322/ad7d9b7e-d1f6-11e6-8d18-f143b623c0d4.png)

But then it seems to be even more mysterious to me coz the fonts in developer tools are also blurry. Here's a snapshot (left: VSC, right: Chrome).
!

[2017-01-03 10:01] haribabu500 opened #8328 "Electron installation"
My npm version is 3.10.10
and node version is v7.2.1
and when I tried to install electron in ubuntu via
sudo npm install electron --save-dev
I get error like this...

Error: read ECONNRESET
    at exports._errnoException (util.js:1022:11)
    at TLSWrap.onread (net.js:572:26)
npm WARN enoent ENOENT: no such file or directory, open '/home/dotmark/package.json'
npm WARN dotmark No description
npm WA

[2017-01-03 10:01] MarshallOfSound commented on #7714
@deepak

The `--dev` flag is custom and read in from `process.argv`, I also use `--dev` in GPMDP and read it from `process.argv` to determine if I am in "development mode" or not.  It is not related to the Chromium CLI flags

[2017-01-03 10:11] MarshallOfSound commented on #8328
This indicates a network issue when download the Electron prebuilt binaries.  Simply wiping your `node_modules` and trying again should fix the issue.

If not I would try on a different internet connection.

[2017-01-03 10:11] #8328 closed

[2017-01-03 10:12] haribabu500 commented on #8328
How can I wipe node modules??

[2017-01-03 10:25] MarshallOfSound commented on #8328
`rm -rf node_modules`

[2017-01-03 10:27] remicoges opened #8329 "How to get default protocol url parameter on Windows"
Hello all! Happy new Year !

* Electron version: 1.4.11
* Operating system: Windows 10

I want to launch my electron app on click to a custom protocol (like rtps://<string>) and get the string in my app.

It's ok for Mac OSX as the 'open-url' event is available and allows to get the url, but is that possible on Windows ?

Thanks for your help

[2017-01-03 10:39] MarshallOfSound commented on #8329
You need to use the [`app.makeSingleInstance`](http://electron.atom.io/docs/api/app/#appmakesingleinstancecallback) API and read in the URL off the `argv` of the second process.  A generic implementation is currently in a PR that you can see here:

https://github.com/electron/electron/pull/8052

[2017-01-03 10:39] #8329 closed

[2017-01-03 10:39] MarshallOfSound commented on #8329
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2017-01-03 10:57] richmonkey opened #8330 "can't call getUserMedia from "file://" protocol"
I  call getUserMedia from "file://" protocol,
got "getUserMedia() must be run from a secure origin: HTTPS or localhost.".

I think "file protocol" is equal to localhost, maybe electron can support getUserMedia from local file html

[2017-01-03 11:42] haribabu500 commented on #8328
thank you

[2017-01-03 13:35] boneyao opened #8331 "DownloadItem use getSavePath or getFilename get value not actual filename"
* Electron version: v1.4.13
* Operating system: macOS Sierra 10.12.2

### Expected behavior
`downloadItem.getSavePath() == python (1).crm`

### Actual behavior
`downloadItem.getSavePath() == python.crm`

### How to reproduce
if filename exisit use `downloadItem.setSavePath(filename)`

[2017-01-03 15:27] njbmartin opened #8332 "Maximized/fullscreen window leaves 1px space on right/bottom borders"
* Electron version: 1.4.13
* Operating system: Win10 (64-bit)

### Expected behavior

On a 4k display, `browserWindow.setFullscreen()` should make the window full screen, without rendering a window border.

### Actual behavior

When the window goes fullscreen, a white line is rendered on the right and bottom of the screen.

### How to reproduce

This can be observed by setting Visual Studio Code f

[2017-01-03 17:26] Bartozzz commented on #8310
Same happens when using live-reloads plugins (ex. [electron-reload](https://github.com/yan-foto/electron-reload)).

[2017-01-03 18:58] paulcbetts commented on #7714
@zeke how about:

[code]

[2017-01-03 19:57] KagamiChan commented on #8323
You may adjust display scale of devtools to ensure both displayed font size are the same, via `ctrl` + `+` / `-` and `ctrl` + `0`, so the comparison could be clearer

[2017-01-03 20:47] ungoldman commented on #7714
Old thread, but after above discussion I still think `app.isPackaged()` is the way to go for now. It's a meaningful thing electron can easily return.

`NODE_ENV`/`ELECTRON_ENV`, though useful conventions, are arbitrary environmental variables that should be managed by users.

popular by express. Node itself doesn't care what the environment vars
are really, it just lets you read and write them via

[2017-01-03 20:56] crownemmanuel commented on #1484
you can use https://www.npmjs.com/package/gulp-connect-php to run php in electron
here is a working example
https://github.com/garak/electron-symfony

[2017-01-03 21:37] njbmartin commented on #8332
I tried it initially on a 4K monitor which shows the white border, whereas a standard 1080p or Ultra-wide display monitor doesn't render the white borders.

[2017-01-03 21:40] hokein commented on #8331
The expected behaviour you mentioned above is a chromium browser feature.

However, it is a bit different in electron. If the filename exists, electron will overwrite it with new downloaded content, and this behaviour is intended (I think we should clarify it in `DownloadItem` document). From the API perspective, `getSavePath` should always return the path which is passed to `setSavePath`, otherwi

[2017-01-03 21:40] #8331 closed

[2017-01-03 21:41] hokein commented on #8325
I'm testing with electron 1.4.12 on OS X 10.11.6.

[2017-01-03 21:44] demian85 commented on #8325
Ok so the problem is OSX 10.12? Please can you confirm that?

On Tue, Jan 3, 2017 at 6:42 PM Haojian Wu <notifications@github.com> wrote:

[2017-01-03 22:46] MarshallOfSound commented on #8325
@hokein I'm on 10.12 and with `electron-screen-recorder` my cursor does not appear.  Would appear to be an issue with `10.12`.

[2017-01-03 22:49] demian85 commented on #8325
At last! Could someone please tell me how to test on Chromium to report the
bug? When I try to download Chromium for Mac it redirects me to the Chrome
download page, it's confusing.
Thanks!

On Tue, Jan 3, 2017 at 7:47 PM Samuel Attard <notifications@github.com>
wrote:

[2017-01-03 22:58] MarshallOfSound commented on #8325
@demian85 Chrome ~= Chromium, test in either

[2017-01-03 23:07] demian85 commented on #8325
The thing is that I'll need to make an extension if I'm not mistaken, and really I don't have time for now. I'm delayed with my project because of this damn bug and I need a workaround ASAP.
Thanks for your help.

[2017-01-03 23:24] hokein commented on #8325
This is a bug of Chromium, and is fixed in chrome 55, see https://codereview.chromium.org/2350743003/. The latest Electron is based chrome 53, and we are fighting on Chrome 54 upgrade.

You could fix that by check-pick the chromium upstream fix and built your own libchromiumcontent and electron, otherwise, you need to wait until electron gets upgrade to chrome 55.

[2017-01-03 23:34] demian85 commented on #8325
Great. Can you please provide a link to a guide that would help me to achieve that?
When do you estimate Electron release based on Chrome 55?

[2017-01-04 01:01] ericsoco commented on #7626
Don't have an answer for you (yet?), @AdamKyle, but Browserify and Electron can definitely coexist:
http://maxgfeller.com/blog/2016/08/30/electron-browserify/

Still working through the details and only have it running via the `npm` `electron` module so far, not as a packaged app, but making progress. If I figure anything out relevant, I'll report back here. If you continued the discussion elsewhe

[2017-01-04 04:01] jmaicaaan opened #8333 "Cannot load highcharts when run inside electron"
I have created an angular app for my front, and I want to load it via url (localhost). Everything is working fine and good on other components but when it comes to Highcharts library for my charting, it doesn't work when I load it inside the electron using `browserWindow.loadURL()`. In my browser, google chrome, the chart is working but inside electron it is not. I've doubled check in my network p

[2017-01-04 04:11] MarshallOfSound commented on #8333
@jmaicaaan Normally issues like this are due to `nodeIntegration` being enabled.  Try disabling `nodeIntegration` on your browser window.

[2017-01-04 04:25] jmaicaaan commented on #8333
@MarshallOfSound it now works! Thank you! Can you explain further what's with nodeIntegration option?

[2017-01-04 04:28] MarshallOfSound commented on #8333
`nodeIntegration` enables node.js's commonjs loader in your BrowserWindow.  This injects globals such as `module.exports` and `require` which some libraries (such as highcharts and jQuery) use to determine what environment they are being loaded in.

By disabling it they think they are being loaded in a web browser and function correctly.

[2017-01-04 04:28] #8333 closed

[2017-01-04 04:42] jmaicaaan commented on #8333
Is there any pros and cons with disabling it? Would it be no problem in the future? For example, if I added another libraries.

[2017-01-04 05:52] Frederick888 commented on #8323
![screenshot_20170104_164756](https://cloud.githubusercontent.com/assets/4507647/21632773/9f9ee452-d29d-11e6-8b7d-1c714bdbefac.png)
@KagamiChan This could be a litter better... I couldn't make the line heights the same though... But conspicuously the texts in VSC are blurry (especially the filter icon... is it a UTF8 character?)

[2017-01-04 07:45] hariprasadiit opened #8334 "High CPU usage with CSS SVG filter"
When i load [http://www.saavn.com/play/featured/english/Weekly+Top+Songs/1](url), electron helper is using more than 50% CPU.

* Electron version: 1.4.1
* Operating system: Mac OS X El Capitan

### Expected behavior

It shouldn't take much of CPU as observed on Chrome browser

### Actual behavior

More than 50% CPU

### How to reproduce

1. Load [http://www.saavn.com/play/featured/english/Weekly+T

[2017-01-04 10:17] f111fei opened #8336 "DevTools connection failed when another debugger is already attached to this target"
* Electron version: 1.4.13
* Operating system: windows7

### How to reproduce

1. open an electron app with `remote-debugging-port`.

[code]

2. attach the port in chrome browser.  open the debugger url, example:

`http://localhost:9222/devtools/inspector.html?ws=localhost:9222/devtools/page/4a881423-fb03-4b77-90d8-8e1e5b597486 `

3. click `View - Toggle Developer Tools` menu in electron.

DevTool

[2017-01-04 10:42] martinpaljak commented on #7681
I don't think that extensions could be supported (different UI context) but having support for or a 3rd party module for connecting to native messaging hosts (including discovery from Chrome registry) could be beneficial.

[2017-01-04 10:59] myst729 commented on #3331
Is there a way to load devtool extension in the remote debug window?

For instance, I'm working on a electron app, in which vue.js is adopted. So I'd like to load vue-devtools in the remote-debug window just like developing vue web apps.

[2017-01-04 11:06] enlight commented on #8336
Actual behavior is the expected behavior, it is a limitation of the Chromium Debugging Protocol as mentioned [here](https://developer.chrome.com/devtools/docs/debugger-protocol#simultaneous).

[2017-01-04 11:32] f111fei commented on #8336
@enlight  no. Open Dev Tools will close other debug targets in chrome.  Before the electron v1.3.9 is what I expect, but v1.4.0 change the behavior.

[2017-01-04 11:46] enlight commented on #8336
Ah, I get it now. Reopening.

[2017-01-04 12:16] Johnz86 commented on #1582
I would appreciate if there was a css customizable menu option for electron.
If there was a html/css application Menu build in electron as option it would be nice.
Does anybody know about some node module, which handles this?

[2017-01-04 12:37] leegee commented on #3440
Is it possible to do this without nodeintegration? Should I open a new ticket...?

[2017-01-04 12:37] MrBlenny commented on #1258
The fastest way (from what I can tell) is to Stringify the Object in the main thread:
[code]

You can then access this in the renderer using:
[code]

### Speed Comparison:
I've tried all three methods on an approx 200kB object.
* Method 1: JSON.parse(JSON.stringify()) with getGlobal - Approx 800ms
* Method 2: Writing the JSON to disk and then reading it - Read takes 400ms (with a good SSD)
* Metho

[2017-01-04 15:59] nunomluz commented on #897
Using 1.4.13 and still limited to 10Mb

[2017-01-04 16:01] myst729 commented on #7714
I personally find the proposal from @parro-it makes sense. Also agreed with @ungoldman that `ELECTRON_ENV` sounds like something controlled by the end user.

[2017-01-04 16:09] frankhale commented on #897
@nunomluz perhaps open a new issue? Seems a lot of people have the same issue for over a year and there has been no response here from the Electron dev team.

[2017-01-04 16:36] nunomluz opened #8337 "localStorage values are limited to 10Mb"
localStorage is still limited to 10Mb. After running a few tests, it throws a:

Also reported in [issue 897](https://github.com/electron/electron/issues/897), which is closed.

* Electron version: 1.4.13
* Operating system: Windows 7

### Expected behavior

No limit/quota

### Actual behavior

Limited to 10Mb

### How to reproduce

Run `localStorage.setItem('data', (new Array(11*1024*1024)).join("

[2017-01-04 16:48] kevinsawicki commented on #8304
@anandfingertip can you try running the following from the console?

[code]

[2017-01-04 17:01] kevinsawicki commented on #8323
Closing this out, thanks @paulcbetts and @MarshallOfSound

[2017-01-04 17:01] #8323 closed

[2017-01-04 18:17] kevinsawicki commented on #8253
Closing this out until more information is available.

[2017-01-04 18:17] #8253 closed

[2017-01-04 18:18] kevinsawicki commented on #8274
Can you try without a minified jQuery version and get a better stack trace?

[2017-01-04 18:20] kevinsawicki commented on #8282
Yes, depending on your location and network it can take some time since it is downloading ~45MB.

You can run `npm install electron --verbose` to get a progress bar of the download with how much is left to go.

Closing this out.

[2017-01-04 18:20] #8282 closed

[2017-01-04 18:23] kevinsawicki commented on #8214
@zeusLeeJh Are you closing the window before running `event.sender.send`?

`event.sender` is the `webContents` associated with the window, so if the window is destroyed then the web contents is destroyed and you can not send messages back to it.

[2017-01-04 19:07] kevinsawicki commented on #8337
The total storage can be over 10MB but a single value cannot be over 10MB.

Since `localStorage` is synchronous, saving large values may hang the application, can you elaborate on why you are saving values that large?

[2017-01-04 19:13] mikep-ll opened #8338 "Application exits fullscreen when leaving Kiosk mode"
* Electron version: 1.4.12
* Operating system: OSX 10.11

If a BrowserWindow is created in full screen mode (fullScreen: true), but programmatically enters and exits kiosk mode (setKiosk(false)), I would expect the app to stay fullScreen at all times.

This issue appears to be in **NativeWindowMac::SetKiosk(bool kiosk)**. It calls SetFullScreen(true) when entering kiosk and SetFullScreen(false) wh

[2017-01-04 19:14] kevinsawicki commented on #8206
Can you elaborate on what issue this is causing for you?

The unpacked area is a fallback location for things like `fs` APIs and `require` so `__dirname pointing to the packed area is intentional.

[2017-01-04 19:17] kevinsawicki commented on #8245
Are you able to provide the stack trace from the crash?

[2017-01-04 19:22] kevinsawicki commented on #8276
Can you include a small reproduction app that demonstrates this behavior?

[2017-01-04 19:31] ogadit opened #8339 "Failed at the electron@1.4.13 postinstall script 'node install.js'"
* Electron version:
1.4.13
* Operating system:
Windows 10 64-bit

### Actual behavior

14410 error npm  v3.10.10
14411 error code ELIFECYCLE
14412 error electron@1.4.13 postinstall: `node install.js`
14412 error Exit status 1
14413 error Failed at the electron@1.4.13 postinstall script 'node install.js'.
14413 error Make sure you have the latest version of node.js and npm installed.
14413 error If

[2017-01-04 19:34] kevinsawicki commented on #8279
@thomasschaub here is the output I'm seeing with your sample repo:

[code]

Looks like `write completed` is logged, what output are you seeing?

[2017-01-04 19:36] kevinsawicki commented on #8293
Since you are explicitly calling this in your application, could you just track this case in your app and not perform the "hot exit" when this happens?

[2017-01-04 19:36] kevinsawicki commented on #8339
Can you include the console output when running `npm install electron`?

[2017-01-04 19:43] kevinsawicki commented on #8330
Can you include a small reproduction app or code snippet that demonstrates this issue?

I had trouble reproducing this, this worked for me:

[code]

![screen shot 2017-01-04 at 11 42 33 am](https://cloud.githubusercontent.com/assets/671378/21656412/e69c1d78-d272-11e6-9095-e99fc9680577.png)

[2017-01-04 19:45] kevinsawicki commented on #8334
What version of Chrome did you try? Did you try it inside a `<webview>` in Chrome?

[2017-01-04 19:49] kevinsawicki commented on #8290
@AmbrielLi does the example app in https://github.com/electron/electron/issues/8278#issuecomment-269687295 work well for you?

[2017-01-04 19:52] kevinsawicki commented on #8324
@sayanm01 have you tried the answer here? http://stackoverflow.com/a/39063263/687965

[2017-01-04 20:18] demian85 commented on #8290
FYI, just reported this bug: https://bugs.chromium.org/p/chromium/issues/detail?id=678269&can=2&start=0&num=100&q=&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified&groupby=&sort=

[2017-01-04 20:39] scholtzm commented on #8206
One of my critical dependencies is calling `.chdir(__dirname)` and I'd like to take advantage of `asar` (even if partially). Therefore I unpacked this specific dependency, but the `__dirname` still points to `app.asar`.

I originally described my issue [here](https://github.com/electron/asar/issues/55).

[2017-01-04 20:49] etiennejcharles commented on #7023
@zcbenz, @enlight : I'm having the same problem, not sure how to resolve it and how it's the expected behavior : Given I have the following path on windows. :

"X:\some\path"

When I use that value in my browser, it's shown as ~

"X:somepath"

Are you saying I should use JSON.stringify to add a double \\ character before sending back the result to my app? i.e JSON.stringify("X:\some\path")?

[2017-01-04 21:18] kevinsawicki commented on #8206
Can you elaborate a bit on why `chdir` is needed by this dependency?

Have you tried overriding `process.chdir` to handle this directly in your app?

[2017-01-04 21:36] scholtzm commented on #8206
As far as I can tell, it could be avoided:
https://github.com/seishun/node-steam-resources/blob/master/steam_language_parser/index.js

Haven't done that yet, that would be my last resort solution though.

[2017-01-04 21:42] nunomluz commented on #8337
Thanks, Kevin. I'm using the redux-localstorage enhancer, which stores part of the app state in serialized JSON as a single key-value. It's not a common case, but with the current implementation I'm working on, it can exceed 10 Mb.
The app hanging is an issue, so I'll consider another approach that doesn't rely on localStorage. However, anyone using redux-localstorage might experience this issue i

[2017-01-04 21:54] ydogandjiev commented on #2644
@zcbenz, @cuixiping

Hey guys, is there any update on this issue? Having window.open return undefined prevents postMessage communication with child windows. I have yet to find a workaround.

[2017-01-04 21:58] kevinsawicki commented on #8310
@gerhardberger would you have time to look into this one?

[2017-01-04 21:58] kevinsawicki commented on #8305
@gerhardberger any ideas on this one?

[2017-01-04 22:51] kevinsawicki commented on #8202
@ydogandjiev thanks for the reproduction app 👍

[2017-01-05 00:17] gerhardberger commented on #8310
@kevinsawicki sure, will take a look tomorrow.

[2017-01-05 00:23] gerhardberger commented on #8305
@kevinsawicki my first guess is that it is not the border, but vibrancy view showing through around the edges. I will look into it more in the coming days.

[2017-01-05 03:23] AhadCove opened #8342 "When packaging up my Angular 2 Electron App routes no longer work"
When I run my Angular 2 Electron project with ng build or ng serve it works 100% all the routers and everything just work.
It was when I started trying to package up my app with electron-packager or builder where I get the routes no longer working. Instead of loading up the Index.html then immediately navigating to my home component it stays at the index. Not even my scss style sheet is working, w

[2017-01-05 03:47] jprichardson commented on #7779
Also hit this issue.

It turns out that when Electron was maximized, and it'd restart, maximized, the the window would show, but this event would never fire. Despite having my windows set visibility to false, I'm assuming it doesn't fire because of this: https://github.com/electron/electron/blob/fcc7dc774accfeb526d7ec8b7ff7115c0693f416/atom/browser/native_window.cc#L565 - which may be a mistake, i

[2017-01-05 07:52] javan commented on #4539
@paulcbetts did you end up looking in to this one? My workaround isn't bulletproof and it'd be awesome to resolve this. Possibly related: https://github.com/electron/electron/issues/6357, https://github.com/electron/electron/issues/5900

[2017-01-05 08:27] paulcbetts commented on #4539
@javan It's pretty high on our list too, but not yet

[2017-01-05 08:57] gengdaoping commented on #5488
how to emulate mobile page in electron ？

[2017-01-05 09:58] bravekingzhang commented on #2244
I found a solution:

[code]

the idea is

watch clipboard onImageChange in main process `can get nativeImage` ,then , send to the`DataURL` to  render process

the demo can be show here

https://github.com/bravekingzhang/httpImage

![image](https://cloud.githubusercontent.com/assets/4476322/21676417/7c4ed808-d370-11e6-9510-5191a79c9332.png)

[2017-01-05 10:00] devingfx opened #8344 "Is webview's guestinstance able to render in a new Window?"
Hi,

I dont really understand the usage of webview tag's guestinstance attribute, sorry I did'nt know where to ask the question!

I'm trying to implement windows with tab management where can drag a tab outside the window and a new window is created with this tag in it.... you know... well like every modern browsers?

If guestinstance is set with the id of a webview from another window will it do

[2017-01-05 10:27] jordyvandomselaar commented on #8342
Do you use hashbangs for routing?

[2017-01-05 10:56] astoilkov commented on #8293
Yes. I can. However, the code regarding hot exit is actually in a private reusable module called `electron-cache` which decides whether to save or not. I could hack it and raise a flag before calling `autoUpdater.quitAndInstall()` but this will defeat the purpose of having a module.

I could workaround this as you suggested for now and reimplement the module inside of the app but it will be great

[2017-01-05 10:58] hariprasadiit commented on #8334
On chrome V55.0 using `webview` causes CPU to run at 20%. with `filter: blur(42px);` CPU is running at 7% to 9%.

[2017-01-05 10:59] cuixiping commented on #1862
You can use these apis to implement your Back/Forward functions:

[contents.canGoBack()](http://electron.atom.io/docs/api/web-contents/#contentscangoback)
[contents.goBack()](http://electron.atom.io/docs/api/web-contents/#contentsgoback)
[contents.canGoForward()](http://electron.atom.io/docs/api/web-contents/#contentscangoforward)
[contents.goForward()](http://electron.atom.io/docs/api/web-content

[2017-01-05 11:37] MarshallOfSound commented on #8293
@astoilkov Would a potential solution to this issue be to emit an event (maybe `before-quit-for-update` or similar) specifically when `quitAndInstall()` is called?  Then `electron-cache` can be modified to listen for that event as well?

[2017-01-05 11:40] astoilkov commented on #8293
Yes. Absolutely.

[2017-01-05 11:41] bjdash opened #8345 "Google's reCAPTCHA gives "Invalid domain for site key" error."
I have added Googles reCAPTCHA into my application. But when I run it through electron, it gives me "Invalid domain for site key" error. Possibly because no **referrer** header is sent when the captcha is loaded.

[2017-01-05 12:04] MarshallOfSound commented on #8345
@bjdash Are you attempting to use reCAPTCHA from a `file://` url, I do not believe it can work that way.

[2017-01-05 12:06] MarshallOfSound commented on #8334
@hariprasadiit Please test using Chrome / Chromium 53 as that is what Electron is currently based on

[2017-01-05 16:05] eddievagabond commented on #7275
+1 My issue occurs only within a Draftjs rich text editor implementation. If I am using a regular textarea or content editable, spellcheck works as expected.

[2017-01-05 16:16] davidtaylorjr opened #8346 "Cannot find module './config/npm-config'"
I was told to repost this issue on this repository:

https://github.com/Glavin001/atom-beautify/issues/1444#issuecomment-270683262

Can't run atom-beauify says failed to activate.

... edit style.css
...
Atom Version: 1.12.9
Electron Version: 1.3.13
System: Microsoft Windows 10 Home
Thrown From: atom-beautify package, v0.29.16

Stack Trace

Failed to activate the atom-beautify package

At Cannot f

[2017-01-05 17:21] petrbrzek commented on #8272
@kevinsawicki Any idea what we can do to avoid this? It's still happening with the latest Electron.

[2017-01-05 17:22] kevinsawicki commented on #8346
Closing this out based on the updated comment at https://github.com/Glavin001/atom-beautify/issues/1444#issuecomment-270683262

Electron is just passing through this error, not generating it.

This is the line it originates from 👇

[code]

[2017-01-05 17:22] #8346 closed

[2017-01-05 17:24] kevinsawicki commented on #8344
If you want to move a `webContents` between `<webview>` tags then setting the `guestinstance` attribute is the way to do that.

Setting the `guestinstance` attribute in the new window's `<webview>` tag to the value from the originating window should do this.

http://electron.atom.io/docs/api/web-view-tag/#guestinstance

[2017-01-05 17:24] #8344 closed

[2017-01-05 17:26] davidtaylorjr commented on #8346
Ok thanks, back to the drawing board.
On 1/5/2017 12:22:50 PM, Kevin Sawicki <notifications@github.com> wrote:
Closed #8346 [https://github.com/electron/electron/issues/8346].
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub [https://github.com/electron/electron/issues/8346#event-912965017], or mute the thread [https://github.com/notificatio

[2017-01-05 17:27] kevinsawicki commented on #8272
Perhaps you could prompt to move the application to  `/Applications` on first run before opening any windows? Then relaunch it after the move completes.

I don't know of any other ways to avoid this.

Yes, this is expected, no fixes have been made to address it yet.

[2017-01-05 17:31] gerhardberger commented on #8310
I tracked down and it turns out [this `return`](https://github.com/electron/electron/blob/df179ed28d6e84cae8de3e24594f44e59924cd52/atom/browser/native_window.cc#L580) causes the issue, but I think this is necessary, because if it doesn't return when the background is set, the background color wouldn't be preserved and it will be transparent. So I think the expected behavior in the current state is

[2017-01-05 17:36] kevinsawicki commented on #8342
Sounds similar to https://github.com/electron/electron/issues/8253#issuecomment-268419348

[2017-01-05 17:39] kevinsawicki commented on #8342
You may want to ask this on an angular forum for better results, I don't think this is an Electron issue.

You may want to investigate the differences between `ng serve` and loading your app via a `file://` URL in Electron. Does the `file://` URL to your page work in Chrome?

Closing out.

[2017-01-05 17:39] #8342 closed

[2017-01-05 17:42] petrbrzek commented on #8272
Ok, will try something like this https://github.com/tommoor/electron-lets-move/

[2017-01-05 18:35] thomasschaub commented on #8279
This shows a session where I click twice:

At app start (before any clicks):

     % nc -l 1234 & npm run demo-bad
    [1] 5596

    socketCreationPoint == 3

After first click:

    NET 5614: createConnection [ { port: 1234 }, [Function] ]
    NET 5614: pipe false undefined
    NET 5614: connect: find host localhost
    NET 5614: connect: dns options { family: undefined, hints: 32 }
      diy-soc

[2017-01-05 18:35] madipor opened #8349 "Windows 2008 R2- transparent not working"
Hi,

I have issue with the transparent window on Windows Express 2008 R2 (SP1)
The browser window opens with a white background.

On Win 10\7\2012 and Mac I have not problem.
I spent a lot of time searching for a possible solution.
Any idea?

![agent](https://cloud.githubusercontent.com/assets/10109614/21692459/ad307c46-d385-11e6-8a85-d836c1cbae97.png)

Electron version: 1.4.12
Thanks!

[2017-01-05 19:22] felixrieseberg opened #8350 "Frameless BrowserWindow: 1px gap between taskbar and window"
There appears to be a 1px thick "gap" between the Windows taskbar and the content of a frameless BrowserWindow.

* Electron version: 1.4.13 (and below)
* Operating system: Windows 10

### Expected behavior
There should be no gap between webContents, dev tools, and other content of the BrowserWindow and the Windows taskbar when the window is maximized.

### Actual behavior
There is a 1px between we

[2017-01-05 20:37] kvoth3 opened #8351 "Printing a page cuts off the contents halfway and does not continue on next page."
When I try to print a page that contains a large table and I use the printToPdf module, it gets cut off halfway and does not print a second page. Is there a workaround for this?

I'm essentially using the code from the electron examples, here it is. This specific print job is done in landscape mode:

[code]

This is what my web content looks like when I start the print job:

![image](https://cloud

[2017-01-05 20:52] ButzYung commented on #1335
During the development of my Windows gadget project which requires click-thru, I have unintentionally come up with a somewhat fancy but practical solution which works to define a clickcable area of truly arbitrary shape.

In the renderer process, use "screen.getCursorScreenPoint()" to keep tracking the cursor position, and then send the coordinates to the main process regularly. On the main proces

[2017-01-05 23:28] richmonkey commented on #8330
I mistake,

[2017-01-05 23:30] #8330 closed

[2017-01-05 23:40] kevinsawicki commented on #8293
Yeah, a new event for this seems good 👍

[2017-01-06 00:03] kevinsawicki commented on #7814
The stack trace for this one is:

[code]

[2017-01-06 00:08] kevinsawicki commented on #7814
This looks to be fixed in Chrome 54, I can't reproduce this on the #7909 branch.

[2017-01-06 00:26] AndyNormore commented on #1498
This is still an issue in 2016. I have a website at www.SkyRooms.IO that uses an extension to do screen capturing with WebRTC. This feature is not available to my desktop users now. What should I do?

[2017-01-06 00:47] #8223 closed

[2017-01-06 02:19] demian85 commented on #7255
Helllo? what about comment from @hijklmno? having the same issue here!

[2017-01-06 03:16] Bpendragon opened #8352 "Electron does not open itself properly to f.lux when application is not at full screen (Discord)"
* Electron version: Version in Discord v1.8.1
* Operating system: Windows 10 Pro 10 Pro  Build 149393

### Expected behavior

The region in the screen where Discord is appears at the proper color temperature. Approximated in following image: ![desired](https://cloud.githubusercontent.com/assets/5448822/21705476/0909b584-d375-11e6-8969-d215c92f7e73.png)

### Actual behavior

Discord does not follow

[2017-01-06 03:20] jacobmarshall commented on #8310
Thanks for tracking it down @gerhardberger. I can confirm that setting the `BrowserWindow` `transparent` option fixes the current behavior.

I couldn't seem to see a documented `setTransparent` method on the `BrowserWindow`, does this mean it's currently not possible to change that property after the window has been created?

If it is possible (but there's just no current API for it), I think it w

[2017-01-06 04:39] jacobmarshall commented on #8310
From playing around a little bit I've noticed that setting transparent on a window with vibrancy causes the shadow to be temporarily inactive when switching from space to space on OS X. This does not happen otherwise.

[2017-01-06 07:19] anandfingertip commented on #8304
@kevinsawicki below is the output of the command:

command
node -e 'console.log(os.tmpdir())'

output:
/c/Users/Anand/AppData/Local/Temp;C:/Work/apache-maven-3.2.5-bin/apache-maven-3.2.5/bin;C:/Program Files/Java/jdk1.8.0_31/bin;.;

[2017-01-06 10:30] cuixiping opened #8353 "zoom relative methods only work after dom-ready?"
* Electron version: 1.4.13
* Operating system: Windows 10

[code]

webContents methods of `getZoomFactor / getZoomLevel / setZoomFactor / setZoomLevel`

As my test, they only work after dom-ready, but I didn't find remark in [docs](http://electron.atom.io/docs/api/web-contents/#contentssetzoomfactorfactor).

Is it a bug?

[2017-01-06 11:57] hokein commented on #8351
Could you provide the html file being print here? Please note that you should call `print ToPDF` API  after `webContents` finishes load ([`did-finish-load`](http://electron.atom.io/docs/api/web-contents/#event-did-finish-load)) event, otherwise the print page maybe not completed.

[2017-01-06 12:21] hokein commented on #8353
This is intended. Indeed, these APIs are [`webFrame`](http://electron.atom.io/docs/api/web-frame/#webframe) APIs, they work only after the frame is loaded.

[2017-01-06 12:21] #8353 closed

[2017-01-06 13:42] gerhardberger commented on #8305
So I found the issue is that the corners of a vibrant view (more specifically `NSVisualEffectView`) doesn't use antialiasing so the pixelated corners showed through.

I found a solution with a mask image that involves overriding an undocumented method of `NSWindow`. Hopefully Apple will fix this and it won't be needed in the future. I submitted a PR with the solution.

Here is a window without a v

[2017-01-06 14:06] kvoth3 commented on #8351
The HTML is being generated by react. The html being printed is a modal, so there is also html in the background. However the modal spans the entire width and height of the page at the time of printing. Maybe something is going on with the other, non-modal-related, html on the page? However the same thing prints just fine using chrome and window.print().

Anyways, here's the modal html.

[code]

[2017-01-06 15:02] kvoth3 commented on #8351
I ended up using a workaround since I couldn't get printToPdf to work properly.

I basically ended up using fs to write a custom html page to temp dir. In that html page, I call window.print() on load. After writing the html page to memory, I use ` shell.openExternal('file://' + filePath) ` to open the html file which is then opened by the user's default browser (in my case chrome). Then opening t

[2017-01-06 15:19] Zorig commented on #6516
Is this issue solved by any chance? @godlikemouse, Because I am having same problem with:

- Shaka 2.02
- Electron 1.4.13
- Electron Packager 8.4.0
- Widevine v1.4.8.903

I included widevine like this
[code]
Also added `plugins: true`. When i load `mainWindow.loadURL('https://shaka-player-demo.appspot.com/');`  to play widevine content it's disabled. I have tried `navigator.plugins` still can not

[2017-01-06 16:49] kevinsawicki commented on #8304
/c/Users/Anand/AppData/Local/Temp;C:/Work/apache-maven-3.2.5-bin/apache-maven-3.2.5/bin;C:/Program Files/Java/jdk1.8.0_31/bin;.;

@anandfingertip that is the issue, you have multiple paths configured as your temp directory which causes an invalid path to be used to download Electron to.

Switching it to be a single path (probably just `/c/Users/Anand/AppData/Local/Temp`) should fix this.

Looks li

[2017-01-06 16:49] #8304 closed

[2017-01-06 17:03] craxal opened #8356 "Default max memory"
I've seen a lot of advice for increasing Electron's max memory limit by using command-line flags. However, I don't see any advice on how to increase the limit for a distributed Electron application.

Is it possible to increase the default max memory limit when re-branding the application for distribution?

Is it possible to change the default max memory limit while building Electron from source?

[2017-01-06 17:40] godlikemouse commented on #6516
Not that I'm aware of.  I'm still waiting for a fix as well.

[2017-01-06 17:55] #7517 closed

[2017-01-06 23:55] ide opened #8358 "Electron's module wrapper differs from modern Node's (includes "process" and "global")"
* Electron version: 1.4.11
* Operating system: macOS 10.12.2

### Expected behavior

I expected Electron to wrap JS modules in the same function wrapper as Node's. Electron defines an extra parameter ("process") which breaks code like `const process = ...`. See Node's wrapper:
[code]
https://github.com/nodejs/node/blob/0fb21df6e692bef9f55b9bfa876f3c59dc590332/lib/internal/bootstrap_node.js#L506

I

[2017-01-06 23:58] ide commented on #8358
A quick fix that wouldn't require updating too much code would be to change Electron's module wrapper from:
[code]
to:
[code]

This would allow `process` and `global` to be shadowed in the module function's scope, while still preserving the semantics for the other injected variables.

[2017-01-07 02:18] nkt commented on #6345
Still present. Code:
[code]

After `quitAndInstall` call nothing happens. If I'm closing app using cmd+Q/quit in dock, app reopening with new version.

[2017-01-07 12:16] chenchuk77 commented on #8339
Hi
i got a similar problem on ubuntu 16.04 . while trying to npm install i got this

`26351 silly rollbackFailedOptional Starting
26352 silly rollbackFailedOptional Finishing
26353 silly runTopLevelLifecycles Starting
26354 silly runTopLevelLifecycles Finishing
26355 silly install printInstalled
26356 warn twitter-electron@0.1.0 No description
26357 warn twitter-electron@0.1.0 No repository field.

[2017-01-07 13:01] super-ienien opened #8360 "webcontents paint event emit wrong image size or dirty rect"
* Electron version: 1.4.13
* Operating system: Windows 10

Hi,

The paint event seems to send incorrect values for the dirtyRect (or the image size). The image size and the dirty rect size doesn't match.

code to reproduce the issue :

[code]

console output :

[code]

[2017-01-07 13:07] super-ienien commented on #8360
Ok sorry,

I didn't understood that the image was the whole frame...

[2017-01-07 13:07] #8360 closed

[2017-01-07 14:02] yishn commented on #7977
It seems that my hack has a drawback on macOS: Quitting an app doesn't behave as expected. Since we always signal that the window closing has been cancelled the first time, the OS always assumes that we don't want to quit the app after all.

[2017-01-07 15:37] leo-combes opened #8361 "Possible bug in webview"
I'm trying to use a webview to navigate between some streaming pages like tunein, soundcloud, youtube, etc.
The webview works correctly loading pages, but if in some of them I play a streaming content (music or video) and later change the url to another page, only a blank page is displayed.

How to reproduce it:
- clone hokein/electron-sample-apps
- run the webview sample with electron electron-sa

[2017-01-07 15:48] hariprasadiit commented on #8334
@MarshallOfSound Did test using Chromium 53. The result is same as chrome 55. It's using 20% of CPU unlike electron.

[2017-01-07 16:29] vdjkelly commented on #8339
47652 verbose stack Error: electron@1.4.13 postinstall: `node install.js`
47652 verbose stack Exit status 1
47652 verbose stack     at EventEmitter.<anonymous> (/usr/share/npm/lib/utils/lifecycle.js:232:16)
47652 verbose stack     at emitTwo (events.js:87:13)
47652 verbose stack     at EventEmitter.emit (events.js:172:7)
47652 verbose stack     at ChildProcess.<anonymous> (/usr/share/npm/lib/utils

[2017-01-07 17:36] deepak1556 commented on #8361
I am unable to reproduce with webview in default app. Can you provide a minimal example to reproduce the issue ?

[2017-01-07 20:57] koenpunt commented on #7781
There's this: https://bugs.chromium.org/p/chromium/issues/detail?id=660126

[2017-01-08 03:11] MrMashy opened #8362 "[Docs Suggestion] - Include RAM requirements"
I can't get a solid answer anywhere, Could someone create an empty app in electron and let us know what the base usage is and add it to the docs?

[2017-01-08 08:18] Elycin commented on #2841
Perhaps I can explain here although i'm new to the electron framework myself, but may know what's happening here.

Electron is built on top of the chromium browser framework, and natively in chromium pressing CTRL + W will intentionally close the browser window.

Perhaps there's a way to block it that I am unaware of but,  It's not a bug but rather a native feature. You can try the same thing in g

[2017-01-08 14:08] cuixiping commented on #6958
On my machine (win10, electron until 1.4.13), the main window's zoom factor will be reset when inserting new iframe element into the body by javascript.

[2017-01-08 15:52] leo-combes commented on #8361
Yes, you can use the same code that I was use. Just clone https://github.com/hokein/electron-sample-apps and run the webview/browser example.
I used that code to reproduce the issue.

[2017-01-08 18:29] jarek-foksa commented on #8314
Chrome's [webview.captureVisibleRegion()](https://developer.chrome.com/apps/tags/webview#method-captureVisibleRegion) API also appears to be affected by the same bug.

[2017-01-08 19:10] AhadCove opened #8363 "Sandbox entitlements error ITMS-90296"
I am having problems submitting my app to the app store. Where I am running into an error is sandbox not being enabled. I am adding entitlements when I sign the app, but apparently it is not working. This is the error that is coming up.

Here are my 2 entitlements: Parent:

`<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/Prope

[2017-01-08 19:53] Alecell opened #8364 "Drag and Drop Elements Don't Work Properly"
* Electron version: 1.4.13
* Operating system: Mac OSX Yosemite (10.10.5)

### Expected behavior

When move a DnD element on screen it don't left any "trace" from where it were to where it is. Regardless of cursor speed.

### Actual behavior

When move a DnD element on screen it left some "trace" from where it were to where it is. With a high speed of cursor.

### How to reproduce

Creating a DnD

[2017-01-08 20:17] arieldf commented on #4789
Did you manage to solve this? I have the same problem - would be very grateful if you could respond.

[2017-01-08 20:25] sandstrom commented on #228
Since the ~2 weeks ago Chromium support headless mode.

@sindresorhus @zcbenz Will this change in Chromium make any difference here?

A headless mode for Electron would be very useful!

(It would also be [useful for Nightmare](https://github.com/segmentio/nightmare/issues/224), which is based on Electron)

[2017-01-08 21:10] jonathon-love commented on #6958
yes, but here's a simple work around. set the zoom with this:

[code]

[2017-01-08 21:50] super-ienien commented on #7250
Try pix_fmt=rgb32

[2017-01-09 00:45] xyal commented on #6516
same problem,  same code base works on mac
not work on linux or window 8.1

console.log (navigator.plugins) will solve the "create Media key issue", but  after license is sent to the play, player cannot decrypt the content, so player hangs there forever

[2017-01-09 00:46] xyal commented on #6516
Any body can help this  out?  Electron team is not responsive. At their website, only questions, no answer

[2017-01-09 01:53] baconface commented on #8362
I could be wrong but I think Chromium's base RAM usage varies based on available RAM and some other factors. So that would be a hard one to get you an answer for.

[2017-01-09 02:37] Zorig commented on #6516
@zcbenz did you figured out this one yet?

[2017-01-09 09:00] anandfingertip commented on #8304
Thanks @kevinsawicki  I'll now try to change it to a single path.

[2017-01-09 10:12] Smile42RU commented on #8129
@kevinsawicki issue looks like as useful enhancement. Someone from contributors already implemented it or preparing for it? If not may i try?

[2017-01-09 10:16] olivierlesnicki commented on #4452
https://github.com/noffle/electron-speech/issues/9

[2017-01-09 14:39] lukeapage opened #8366 "net::ERR_INSECURE_RESPONSE error 1.4.13 mac-only"
* Electron version: 1.4.13
* Operating system: MACOS

### Expected behavior

No network error

### Actual behavior

We are getting net::ERR_INSECURE_RESPONSE errors on a https css file used within a local html file. The error does not happen on windows, but does happen on multiple different mac machines. This is a recent thing and rolling back electron versions does not help. I suspect that means

[2017-01-09 15:04] lukeapage commented on #8366
Related: https://github.com/electron/electron/issues/7221
Please let me know if i can add any loggimg. Also happy to dm a public url.

[2017-01-09 16:12] fidian opened #8368 "Bundle a command-line program without Chromium and other bloat?"
First off, thanks for keeping this project alive.  I love that the maintainers respond to people who submit tickets and attempt to eliminate problems to help everyone.

I would like to build a cli program.  It performs a pretty boring task and it's written in Node because the team finds JavaScript to be the best language out there.  We use some custom modules and, unfortunately, one native module

[2017-01-09 16:24] njbmartin commented on #8332
To further add to this, it's related to the display scaling as setting the scaling to 100% no longer shows the pixel white bar.

[2017-01-09 16:25] enlight commented on #8368
No, you can't build a stripped down Electron without Chromium. Sounds like you need a packaging tool for your Node app, something like http://enclosejs.com/

[2017-01-09 16:29] kevinsawicki commented on #8366
@lukeapage are you able to capture the net log using the `--log-net-log=FILENAME` command line flag and then import it into the `chrome://net-internals/#import` and see if there are more specific errors there?

[2017-01-09 16:29] #8202 closed

[2017-01-09 16:34] fidian commented on #8368
Thanks for pointing out that project.  It was brought up by the team as well, but nobody in the office likes using software that isn't open source.  Also there is [Nexe](https://github.com/jaredallard/nexe) that doesn't support dynamic require statements.  [Disclose](https://github.com/pmq20/disclose) looks like it just bundles arbitrary files together and untars them in some folder before running

[2017-01-09 16:57] lukeapage commented on #8366
Thanks will do that tomorrow (I'm in europe)

[2017-01-09 17:08] kevinsawicki commented on #8368
Electron is designed for building desktop apps using HTML, JavaScript, and CSS. Bundling and integrating with Chromium enables that. It isn't an ideal fit for command line applications with no GUIs and probably won't ever be.

Many applications do ship a command line wrapper for their apps that launches the UI version (like Atom, VSCode, etc.). We are interested and committed to supporting this us

[2017-01-09 17:14] kevinsawicki commented on #8362
Yeah, the system requirements at https://support.google.com/chrome/answer/95346 only include the processor and OS requirements.

[2017-01-09 17:16] ydogandjiev commented on #8202
@kevinsawicki, thank you for the super speedy turnaround on this issue!

[2017-01-09 17:48] kevinsawicki commented on #7672
Fixed by #7765

[2017-01-09 17:48] #7672 closed

[2017-01-09 18:16] kevinsawicki commented on #8339
@chenchuk77 This is because Node is installed on your machine as `nodejs` instead of node. Upgrading to npm `3.7.0` or above should address this.

https://github.com/npm/npm/releases/v3.7.0

[2017-01-09 18:20] #8339 closed

[2017-01-09 18:23] kevinsawicki commented on #8274
Closing out until more information is available.

This looks like an issue with jQuery or one of the other project dependencies being used, using a non-minified version should help debug it. Looks like something that is expected to be a regex isn't and it can't call `exec` on that object.

Placing a breakpoint there in the dev tools will allow you to inspect what `W[g]` is when that function is ca

[2017-01-09 18:23] #8274 closed

[2017-01-09 18:24] kevinsawicki commented on #8212
@jkup are there more details you can provide about the Brave build and why this is happening?

[2017-01-09 18:27] kevinsawicki commented on #8206
Closing this out since this is a limitation of asar.

Some options for resolving:

- Use a forked version of `node-steam-resources` that doesn't `chdir`.
- Ship `node-steam-resources` outside of both `app.asar` and `app.asar.unpacked` and access it from a child process where `chdir` would be possible.

[2017-01-09 18:27] #8206 closed

[2017-01-09 18:28] kevinsawicki commented on #8055
@wenkaili any more updates on this? Have you been able to reproduce it?

[2017-01-09 18:42] #8203 closed

[2017-01-09 18:44] kevinsawicki commented on #8358
This seems like a good approach to try, would you be up for creating a pull request for this?

[2017-01-09 18:46] scholtzm commented on #8206
Welp, `node-steam-resources` is an indirect dependency of my project. Using a fork would mean to fork all the other packages in the dependency chain.

I guess the only way to fix this on my end would be to monkey patch `process.chdir`?

[2017-01-09 18:47] ide commented on #8358
@kevinsawicki Sure, is it alright that the PR would touch a file under the vendored copy of Node?

[2017-01-09 18:53] kevinsawicki commented on #8206
You may be able to just patch `fs.readFileSync` with something like:

[code]

[2017-01-09 18:54] kevinsawicki commented on #8358
Yeah, you'll just want to fork the `node` submodule in `vendor/node` and make your changes in your fork.

[2017-01-10 00:01] levrik commented on #8368
@fidian Did you already tried that? https://github.com/pmq20/node-compiler

[2017-01-10 01:45] enlight commented on #8129
It seems like you want to use the "name" as an identifier, but each window already has an identifier, and you can associate the window name and any additional information you may need with that identifier. I don't think this feature is worth including in the core API as it can be easily implemented in userland, so 👎 from me.

[2017-01-10 02:01] MarshallOfSound commented on #8129
I agree with @enlight we already have a unique identifier (guaranteed to be unique) and adding a second one doesn't make much sense.

Also as mentioned it is relatively simple to implement in userland (see my [implementation](https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/master/src/main/utils/WindowManager.js#L12) for instance).  Basically I feel this adds un

[2017-01-10 02:06] Smile42RU commented on #8129
@MarshallOfSound Okay, it sounds reasonable. It not need for me directly, but i want try help Electron with a tons of issues and this issue just looked as not too difficult for newbie and marked as "enhancement".

May you forward me to really important issues which i can try resolve? Also, if this feature will not be implemented may close issue?

[2017-01-10 02:11] MarshallOfSound commented on #8129
@Smile42RU The issue isn't closed as I believe it is still up for discussion I was simply stating my opinion on the proposal.

[2017-01-10 06:38] bengotow commented on #1615
For anyone stumbling across this - we should definitely get macOS support for powerMonitor into Electron (anyone want to submit a PR?) In the meantime though, you can get battery / AC charger status from macOS with this shell command:

[code]
Unfortunately you'd need to poll, but doing it every 5 minutes or so probably isn't bad.

[2017-01-10 06:41] jkup commented on #8212
I feel like I'm chasing my tail here. I'm no longer able to reproduce this issue with the lastest build of Brave. @kevinsawicki should I close this issue out for now? I can reopen later if I'm able to repro the issue and get you more information.

[2017-01-10 06:57] lukeapage commented on #8366
@kevinsawicki this is what I get back from the certificate job in that log

[code]

[2017-01-10 07:13] lukeapage commented on #8366
I just wondered if it was our proxy but I get the same error on a vanilla mac connected to normal wifi.

[2017-01-10 07:53] Mins opened #8373 "Fullpage PDF rendered with extra page"
Using the custom pageSize option for `contents.printToPDF(options, callback)`, the full page is rendered as 2 pages. The HTML only has a fixed height DIV, of 10,000 pixels.

* Electron version: 1.4.13
* Operating system: Linux x64

### Expected behavior
Generated PDF should have only 1 page.

### Actual behavior
Resulting PDF has 2 pages. The first page contains probably 99% of the full page.
The

[2017-01-10 07:54] lukeapage commented on #8366
Ok, looked into it and it appears that it is a problem our side - openssl returns
"Verify return code: 21 (unable to verify the first certificate)"

and people around seem to commonly describe the symptoms as "works in the browser but not in the system". I think the problem may be that the site does not sent the intermediatory certificate.

It i strange though that electron does not fetch the inte

[2017-01-10 08:27] deepak1556 commented on #8366
I believe you are hitting https://bugs.chromium.org/p/chromium/issues/detail?id=645629 which was fixed up in versions >=54 https://codereview.chromium.org/2368453002

[2017-01-10 08:35] bsclifton commented on #4573
I know it's been a while, but I wanted to share that we are running into this issue also w/ our fork of Electron in Brave.  We're tracking it with https://github.com/brave/browser-laptop/issues/6258

The problem happens:
- with Chromium 54 (I believe we are using 54.0.2840.100)
- when the frameless window is maximized (fullscreen is fine)

Originally, I only noticed this issue happening with DPI a

[2017-01-10 11:35] #8349 closed

[2017-01-10 11:58] KeitIG commented on #1615
I have no Idea of the complexity if the thing, but Linux support would be great too!

[2017-01-10 13:31] ghost opened #8374 "[feature requests] response body and HAR"
Hello,

It's possible to add specific method to get response body on webRequest class (I don't think it's possible now)? Also another method to get HAR informations?

[2017-01-10 13:54] fidian commented on #8368
I'm asking another developer to evaluate that tool.  I don't have high hopes because the documentation is sketchy, download links are missing, the build is failing, there's a broken image for the latest broken build and finally there's no discussion about how it bundles files nor if it handles native binaries.

[2017-01-10 14:00] ca333 opened #8375 "electron keeps respawning itself"
https://discuss.atom.io/t/electron-app-respawns-itself/37897

integrating pm2 with electron leads to a strange behaviour in production mode(after packaging the app for distribution). The electron app keeps respawning itself in a loop and pm2 is not being launched.

The same code is confirmed to work in a simple node app as well as in electron development mode.
Seems like electron has an issue with

[2017-01-10 14:08] MarshallOfSound commented on #8375
Past experience points me towards this being an issue caused by the difference in architecture rather than anything else.  If I interpret that question correctly you are attempting to spawn your own app in PM2?

A couple of issues I can potentially see occurring

* You're getting hit by macOS's gatekeepers sandbox and spawning the "path/to/executable" isn't working (not sure what platform you are

[2017-01-10 14:11] MarshallOfSound commented on #8368
@fidian I would suggest you look into how `yarn` does it (they are the best example that comes to mind).

They ship through `brew` for macOS, a custom MSI for windows and an install script (that basically downloads the binary) for linux.  If you look into how their builds work you might find an easy answer.  They have a reasonably active discord chat so you might be able to ask for pointers there.

[2017-01-10 14:36] fidian commented on #8368
@MarshallOfSound As I understand it, I would need to install `yarn`, which is not what I'm hoping to do.  The idea is to use JavaScript to build a command-line tool and then bundle the whole thing as a single, platform-specific executable file.  Similar to compiling it with Go or C.

If I were to use another approach, I guess I would have everyone install node and use npm to install packages.  The

[2017-01-10 14:42] MarshallOfSound commented on #8368
@fidian No, I'm saying yarn has already solved this problem.  Yarn is fundamentally written in JS, runs on node, but needs to run outside of the NPM ecosystem as a CLI application.

They ship their own binaries for each OS.  I was suggesting you look into how they generate their binaries and implement something similar.

[2017-01-10 15:00] fidian commented on #8368
@MarshallOfSound Please let me reiterate: I do not want an installer.  I can make an installer that installs node and my software, similar to what `yarn` does.  That is not the goal.  Put another way, I want a portable application that doesn't need any additional software in order to run.  Portable meaning it can run off a jump drive and is self-contained, leaving no cruft on the system after it e

[2017-01-10 15:16] lukeapage commented on #8366
Thanks for tracking it down, looks like it

[2017-01-10 15:22] levrik commented on #8368
@fidian I think Javascript is not the right technology for that then. Just to name some, I think Go, C, C++ or C# would fit better.

[2017-01-10 15:36] fidian commented on #8368
@levrik I fail to see your point.  Could you elaborate and explain why JavaScript is the right technology when bundling Chromium as well, but not the right technology for command-line tools?  Wouldn't your statement suggest that Electron is also going about this in the wrong manner?

Many of my goals align to what Electron provides, from my understanding.  If I am wrong, please correct me.

* Bund

[2017-01-10 16:43] demian85 commented on #8278
Please see https://github.com/electron/libchromiumcontent/issues/253

[2017-01-10 16:49] kevinsawicki commented on #8368
This is not true on macOS, Electron builds as a `.app` with several Frameworks inside it. Node on the other hand builds as a single executable on macOS.

[2017-01-10 16:50] kevinsawicki commented on #8212
Sounds good, thanks for the update 👍

[2017-01-10 16:50] #8212 closed

[2017-01-10 16:55] kevinsawicki commented on #8129
👍 This sounds like a great userland module for apps that want finer-grained window management APIs and helpers.

Great to hear, thank you, you may want to check out https://github.com/electron/electron/issues?q=is%3Aopen+is%3Aissue+label%3Abeginner for some other possible issues to work on.

There are lots of issues as well with platform and subsystem labels so, depending on what platform you want

[2017-01-10 16:55] #8129 closed

[2017-01-10 17:14] bjdash commented on #8345
Thats correct. I opened the developer console and saw files are loaded as **file:///**. I am sunning it as `electron ./`.  Is there any solution for loading reCAPTCHA?

[2017-01-10 17:44] Thomas101 commented on #6958
Thanks @jonathon-love

[2017-01-10 20:45] baconface commented on #8368
Electron is not going the wrong way and it is great technology for command-line tools. It is just what you are expecting of JavaScript for your purpose is only possible through projects like EncloseJS which you seem to have rejected. If you are not finding any other workaround then he is not suggesting JavaScript isn't a right technology but he is suggesting it is not the right technology for _you

[2017-01-10 22:15] scholtzm commented on #8206
Went with your suggestion at the end and it works. Not the prettiest code, but having everything bundled is just so much better.

[2017-01-10 22:23] levrik commented on #8368
Thanks @baconface. That was exactly what I wanted to say.

[2017-01-10 23:52] kevinsawicki opened #8378 "Crash calling window.open from sandboxed webview"
* Electron version: 1.4.14
* Operating system: macOS

### Expected behavior

`window.open` can be called from a sandboxed `<webview>` tag.

### Actual behavior

Crash occurs:

[code]

### How to reproduce

### `sandboxed-webview.html`

[code]

### `open.html`

[code]

[2017-01-10 23:53] kevinsawicki commented on #8378
/cc @tarruda are sandboxed `<webview>` tags valid to use? This was my first time trying one so I wasn't sure if this case is not fully supported yet.

[2017-01-11 00:03] ibigpapa opened #8379 "Missing Text rendering"
* Electron version: v1.4.14
* Operating system:
Centos 7.3.1611 (Core)
3.10.0-514.2.2.el7.x86_64
GDM 3.14.2
XFCE 4.12
### Expected behavior

Menus and titles should show

### Actual behavior

Icons show if i disable gpu ```--disable-gpu```

### How to reproduce
1. Install Centos 7.3 minimal from ISO - create a user as well
2. log in as root
3. ```yum install epel-release wget -y```
4. ```yum group

[2017-01-11 01:36] bakkiraju commented on #2407
Any recommended best practice to do fade in / fade out animations on OS X ?

[2017-01-11 04:39] meghadev commented on #1095
This approach didn't work for me. Any possible reason?

[2017-01-11 05:01] deepak1556 commented on #8374
Implementing either of those api require changes from the chromium network layer, mainly getting access to the stream handle for the reading the response data. There is already an issue on the chromium repo, to get this done for extensions https://bugs.chromium.org/p/chromium/issues/detail?id=487422

[2017-01-11 06:10] chance-an commented on #8205
I also encountered this issue while interacting with some file related APIs and `musicmetadata`. I could work around it by [deepcopying](https://www.npmjs.com/package/deepcopy) it after received the data in the renderer process. I also noticed significant performance boost after deepcopying.

Of course it might not work if you need to use the method/function calls on the received data object.

[2017-01-11 07:30] haribabu500 opened #8383 "Cannot access document property"
Ive recently made an electron which has the following script in onClick event of a button in a popup.

`opener.document.forms[0].submit();window.close();'`

the code seems okay when i render it via browser but when i run it via electron it says
Cannot read property 'forms' of undefined
any suggestions...

[2017-01-11 08:39] damevelue commented on #8374
Ok, thanks for reply :)

[2017-01-11 10:39] alespergl opened #8384 "Notifications on Windows 7"
#262 added support for [notifications](https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API) on Windows 8 and later. We are implementing it internally for Windows 7 as well. I would like to collect opinions about whether that work would be something worth contributing to the mainline.

There is still a lot of Windows 7 users in the world:
- 48% according to [netmarketshare.com](https

[2017-01-11 11:13] averissimo opened #8385 "How to replace menu items while menu is open?"
Replacing menu while it is open creates an empty placeholder instead.

Reopening makes it fine.

__Is this the expected behavior, or is it a bug?__

In the example below, I forced a rendering whenever a message was received. We need to render it sometimes, as there are options being set via the menu and in some states items are disabled

![](https://cloud.githubusercontent.com/assets/211358/218294

[2017-01-11 11:34] tarruda commented on #8378
@kevinsawicki sandbox option is not supported in `<webview>` yet. I tried to implement but failed and couldn't debug easily(https://github.com/electron/electron/pull/6919#issuecomment-249690757). It should not result in crash, however(because the option is ignored, as far as I remember).

[2017-01-11 13:07] bluEEil commented on #6307
I am experiencing the same problem as @tomasro27 with 1.4.6. I could really use a fix as well

[2017-01-11 13:09] bluEEil commented on #6307
Can anyone reopen the issue?

[2017-01-11 15:02] MJones87 opened #8386 "win.webContents.printToPDF() - thead elements rendering issue (@electron v1.4.x)"
### Environment

* Electron version: 1.4.14 (seems to be 1.4.x inclusive - therefore probably chrome version specific)
* Operating system: Windows 7 64bit (VMWare)

### Expected behavior

Using `window.webContents.printToPDF()`, should result in faithful representation of window html content in PDF.

### Actual behavior

There seems to be a 'painting' issue where thead elements are rendered at the

[2017-01-11 15:19] MPolymath opened #8387 "Detecting network activity"
Is there a way to detect if any network activity is going on in the background through electron?
If not I would like to request it as a feature.

Thank you,

[2017-01-11 15:39] fidian commented on #8368
@kevinsawicki Is it inaccurate when I say that Electron builds a single "thing" that can be executed directly?  I don't know about `.app` files on MacOS, but I thought they didn't always require installation in order to execute.  If it's treated as a single thing and can run it directly, I don't really care if it extracts into memory and runs or if it is just a single executable.  My goals align w

[2017-01-11 17:14] levrik commented on #8368
@fidian That a .app file is a single file on macros is right. But if you want to go cross platform it is not possible. You cannot build an Electron app to a single file like an EXE on Windows. Besides that I don't think that it would be a good idea to build a version of Electron without Chromium (I also think it's not really possible). But that's my opinion and maybe does not match with these of t

[2017-01-11 17:28] YurySolovyov commented on #8387
If you're asking for a feature, at least provide the metrics you're interested in. Also, sharing your use case would be helpful too.

[2017-01-11 17:33] zeke commented on #8383
From https://github.com/electron/electron/issues/7780:

How are you creating the window? Please share some example code that reproduces the issue.

[2017-01-11 17:35] MPolymath commented on #8387
Yes my appologies I will provide further details by the end of tommorow.

[2017-01-11 19:06] ca333 commented on #8375
@MarshallOfSound: no i am attempting to spawn a 3rd party binary from within my electron application via pm2. I just uploaded my [sample-app](https://github.com/ca333/pm2_electron_app). It is quite simple and its job is only to  launch a binary via pm2 from within the electron app. This works fine unless it is packed with electron-packager for public distribution.

(to reproduce the issue just int

[2017-01-11 19:54] fancyydk commented on #7696
This still seems to be an issue in the latest version today, which is 1.4.14.

[2017-01-11 20:17] MarshallOfSound commented on #8375
@ca333 Is ASAR enabled when you package your app?

[2017-01-11 20:44] cgisky opened #8388 "navigator.mediaDevices.enumerateDevices() lost some Virtual cameras"
win10   win7
In Chrome 53，navigator.mediaDevices.enumerateDevices() get  16 devices.
but in electron  it just  get 13 devices.
Lost some  virtual cameras,like "e2eSoft VCam" or "6RoomsCamV10"

I  use ffmpeg
ffmpeg.exe -list_devices true -f dshow -i dummy

[dshow @ 03ba7720] DirectShow video devices (some may be both video and audio devices)
[dshow @ 03ba7720]  "Logitech HD Pro Webcam C920"
[dshow

[2017-01-11 20:48] matthew-lang opened #8389 "pointer-events: none and touch events in webview"
* Electron version: 1.4.14
* Operating system: Ubuntu 14.04

If there is an overlay in your app with `pointer-events: none` and you're using touch events, basic input within webviews will not work. This means scrollbars, buttons, checkboxes, `<select>`, etc.

To reproduce:
parent.html:
[code]

child.html:
[code]

run: `electron --touch-events parent.html`

You will see that when using touch, you w

[2017-01-11 22:40] ca333 commented on #8375
@MarshallOfSound No it's not enabled. I am packaging it with `electron-packager . --platform=darwin --arch=x64 --icon=assets/icons/icon.icns --out=build/`

[2017-01-11 23:54] TimNZ commented on #8368
Hi @fidian I'll add my raw 2 cents because I can - your question has been very extensively answered.

Electron is not the tool for what you want to do, and I don't even understand why you continue to think it is.   Perhaps you don't have enough technical knowledge to evaluate the clear concise answers you are being given.

Electron is Node JS + Chromium for web apps on the desktop.

Node JS and a

[2017-01-12 00:04] mangopearapples commented on #611
Does anyone have a work around for this problem? I'm getting the same issue.

[2017-01-12 00:19] TimNZ commented on #8364
I think all future issue videos should have an electro sound track!

[2017-01-12 00:29] baconface commented on #8368
@fidian For full disclosure I do not maintain Electron or have any control of it's direction. I simply contribute like anyone else can. But it's scope basically stems from it's description and mission posted just about everywhere stating "Build cross platform desktop apps with JavaScript, HTML, and CSS". So the purpose is to build desktop app using web technologies. As a result Chromium becomes a

[2017-01-12 01:19] kevinsawicki commented on #8383
`window.opener.document` is not supported in Electron, you can use the `ipcRenderer` and `ipcMain` modules to communicate between windows/processes.

http://electron.atom.io/docs/api/ipc-renderer/

[2017-01-12 01:19] #8383 closed

[2017-01-12 01:26] #8336 closed

[2017-01-12 01:30] kevinsawicki commented on #8214
I believe this is expected behavior since you can't  access `event.sender` once you close the window that contains it since it gets destroyed on window close.

Closing this out.

[2017-01-12 01:30] #8214 closed

[2017-01-12 01:32] kevinsawicki commented on #8127
Thanks for finding this @r4v5. I'm going to close this out since it looks to be an open Chrome bug, please subscribe to it there for updates.

[2017-01-12 01:32] #8127 closed

[2017-01-12 02:17] vulture opened #8392 "Offscreen rendering mode shows unhideable dummy window"
* Electron version: 1.4.12
* Operating system: Win 8.1

### Expected behavior

We should be able to create an offscreen renderer window without showing any dummy window. Additionally, user and js performing operations on this dummy window (e.g. .hide()) should not resize the window. It should leave the offscreen renderer alone at its specified resolution.

### Actual behavior

Various actions on t

[2017-01-12 03:22] Inori opened #8393 "Node Tcp Server shutdown when close a BrowserWindow"
* Electron version: electron-v1.4.14-win32-ia32
* Operating system: Win7 SP1 X64

### Expected behavior

Node tcp server works as before when a BrowserWindow closed.

### Actual behavior

The tcp server can not receive connections after any BrowserWindow closed.

### How to reproduce

Server code:
[code]

Client code:
[code]

The code above modified from official [Node Documentation](https://nodej

[2017-01-12 03:54] johnmw commented on #1769
ps: if you happen to be using create-react-app and see this message, try putting

`"homepage": "./",`

is your package.json

[2017-01-12 05:43] ccnokes opened #8394 "Feature request: Ability to register MacOS services"
I would like to be able to register a "service" (MacOS only I think) so that I can, for example, add custom context menu items to all files on the file system, like so:

<img width="763" alt="screen shot 2017-01-11 at 10 40 11 pm" src="https://cloud.githubusercontent.com/assets/1610343/21878361/f9c0a4c8-d84e-11e6-9ec6-3bf4b2ad9cb3.png">

Apple overview: https://developer.apple.com/library/content/

[2017-01-12 11:29] astoilkov commented on #7977
I am also experiencing the exact same problem. The issue starts to appear when you use `dialog.showMessageBox()`. Using `event.returnValue = false;` works every time.

@zcbenz Are you still unable to replicate this? Maybe I can put some time making a project that showcases the problem.

[2017-01-12 12:29] bgrimm commented on #1821
Experiencing this issue with current 1.14.0 beta 0 still. (Win7x64, AMD)
Re-enabled Aero and problem goes away, but that is not a solution/fix.

[2017-01-12 13:04] pierreraii commented on #2003
Using @baconface ignore regex helped a lot with reducing app size, I also did manually ignore more of the node_modules which were there and my app could run fine without, which got me to around 50MB of total Mac app size and around 60MB for Windows.

[2017-01-12 14:57] ThomasMoutel commented on #6712
Hi @tarruda I'm willing to get the crash-reporter working in sandboxed renderers. Is this something you've already looked into and/or planned to do in the near future?

[2017-01-12 15:29] tarruda commented on #6712
Not by design, I simply left this for later(Feel free to take this task)

[2017-01-12 16:31] Jmales commented on #2561
s-oran, I'm having the same problem as you when building an Electron App for MacOS 10.10.
Did you manage to solve this?

[2017-01-12 16:56] Jmales commented on #2441
What is the solution for this problem after all?

[2017-01-12 18:29] bakkiraju opened #8396 "Ability to create circular / elliptical shaped BrowserWIndow"
* Electron version: 1.4.13
* Operating system: mac, windows

### Expected behavior
Should be able to pass in radius (radii) to create a circular, elliptical window.
Something like shown here  https://www.cocoawithlove.com/2008/12/drawing-custom-window-on-mac-os-x.html

### Actual behavior

Can only create rectangular / square shaped BrowserWindows

### How to reproduce

[2017-01-12 18:34] bsclifton commented on #4573
Solution found :smile:
https://github.com/brave/muon/commit/30fd6ff5ac772cb645b0d4be78fae49d84fbbb19

I'll work on upstreaming a patch

[2017-01-12 19:22] baconface commented on #2003
@pierreraii Glad it helped out. An important note is [NPM3 changes the way the node_module directory works](https://docs.npmjs.com/how-npm-works/npm3). As a result this trick might not work to your expectations. You can downgrade NPM to version 2 using `npm i npm@2 -g` though.

In the future our solution for our project at work is using NPM3 but putting everything we don't want shipped as a dev de

[2017-01-12 19:23] N1xx1 commented on #4573
@bsclifton Awesome work, thank you!
I will most definitely check it out as soon as I can.

[2017-01-12 19:43] #7490 closed

[2017-01-12 19:54] adamjacob commented on #8396
Can't you just create a frameless and transparent window and set your content of your page to whatever shape you want using CSS.

https://github.com/electron/electron/blob/master/docs/api/frameless-window.md#transparent-window

[2017-01-12 21:35] DracotMolver opened #8397 "openExternal take too mucho to open a browser"
* Electron version: 1.4.12
* Operating system: Linux. Solus os

### Expected behavior

Open the default browser (in my case firefox) to see a weppage

### Actual behavior

It works, but take too much time. In windows is the same but not too much time. I'm talking about 15 seconds

### How to reproduce
[code]

[2017-01-12 21:55] bakkiraju commented on #8396
Ya that works

If I create a BrowserWindow without height and width and then use CSS
var circularPrefsWindow = new BrowserWindow({
       transparent:true,
       frame  : false
   })

[2017-01-12 22:04] paulcbetts commented on #6712
I think that this will create a pretty massive maintenance burden, I'd rather enable simple IPC and leave it at that

[2017-01-12 22:04] MarshallOfSound commented on #2003
@baconface You don't need to worry about any of that.  Simply install your dependencies like normal (prod deps in `dependencies` and dev deps in `devDependencies`) and then during the packaging phase (`electron-packager` does this for you) simply copy your app folder to a temp directory and run.

[code]

That will destroy all dev dependencies regardless of your NPM version resulting the minimum si

[2017-01-12 22:08] xblox commented on #2003
you can get another 40-80+ % more deleted than just with --production

[2017-01-12 22:09] kevinsawicki commented on #8378
Okay, closing this out then and it can just be tracked in https://github.com/electron/electron/issues/6712

This looks to be happening because ` BrowserPluginGuestDelegate::CreateNewGuestWindow` is not implemented in Electron and it is called from `content::WebContentsImpl::CreateNewWindow` for guest web contents.

[2017-01-12 22:09] #8378 closed

[2017-01-12 22:09] MarshallOfSound commented on #2003
If that is the case your dependencies are configured incorrectly, if you need to delete a module and `prune --production` is not deleting it it means it has been recognized as a production dependency.  Moving it to `devDependencies` will result in it's deletion.

[2017-01-12 22:13] xblox commented on #2003
oh sorry, forgot to say: if you build a file mask which deletes readme, license, ... and node-gyp alone produces 100 folds more

[2017-01-12 22:39] fedyfausto opened #8398 "ngRouter of Angularjs not work"
* Electron version: latest
* Operating system: win64

### Expected behavior

Hello i'm trying to make a single page app with electron and angularjs 1 and change view with ngRouter

### Actual behavior

 the angular router seem not works with electron.. any solution to this issue?

### How to reproduce
Try to make a simple one page with angular and angular router

[2017-01-12 23:18] kevinsawicki commented on #8324
That stackoverflow answer previously posted should help you build it successfully, I just followed that answer on Windows 10 using Electron 1.4.14 and was able to `require` sqlite3 in Electron and run the sample from https://github.com/mapbox/node-sqlite3#usage.

Closing this out.

[2017-01-12 23:18] #8324 closed

[2017-01-12 23:57] fedyfausto commented on #8398
possible fix:

using the hashprefix on router works

[2017-01-13 00:23] MarshallOfSound commented on #2003
@xblox I can only imagine those readmes/licenses and such being like a few kilobytes tops, cool new trick is to run `yarn clean` which automatically wipes these things for you.

[2017-01-13 00:59] enlight commented on #8398
GitHub issues are for bug reports and feature requests, questions about using Electron should be directed to [the community](https://github.com/electron/electron#community).

[2017-01-13 00:59] #8398 closed

[2017-01-13 01:47] paulcbetts commented on #2003
@MarshallOfSound You'd be surprised, especially when you use native modules. Lots of garbage laying around. The `yarn clean` approach might be a good one

[2017-01-13 03:01] rvmey opened #8403 "Right-clicking Tray icon only shows menu sometimes."
When I right-click the Tray icon, the context menu often does not display.  It's not completely random.  Just now I ran it 10 times, and it failed to display the menu every other time.

I'm using the example I got from the electron Tray documentation:

const {app, Menu, Tray} = require('electron')

let tray = null
app.on('ready', () => {
  tray = new Tray('sunTemplate.png')
  const contextMenu = M

[2017-01-13 07:24] ios122 commented on #1378
I give a solution for someone who cannot access to the main process, for example,maybe you try to write a Atom Editor Plugin.
Thanks all,my solution combine "window.onbeforeunload" and  webview tag 's will-navigate event.
It makes the "will-navigate" event on webview works synchronously.

*main.js* means the plugin or you make the webview tag, and *preload.js* means the script preload to the webvi

[2017-01-13 07:36] bsclifton commented on #4573
@N1xx1 patch is here if you'd like to try it:
https://github.com/electron/electron/pull/8404

[2017-01-13 08:13] amhoho commented on #254
`<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script>if (typeof module === 'object') {window.jQuery = window.$ = module.exports;};</script>`

[2017-01-13 09:15] englishextra commented on #254
@drowlands Including 3party libs in Electron seems to be a bad idea.
@amhoho That's because  you need to `require` it, or modify the the init code at the top function - leaving only `factory( global );`

[2017-01-13 09:38] degif commented on #8106
This still happens with Electron 1.4.14 building in macOS 10.12.1 and/or 10.12.2. As far as I can tell, this is not a directory/user permission issue as I've tried multiple scenarios running the app as Administrator, in "~/Applications/" and directory I own.

[2017-01-13 12:58] remicoges commented on #6537
Right now, doc says

So I have to launch a first instance of the app, and then when I open a second instance I will be able to parse argv parameter ?

[2017-01-13 13:03] xblox commented on #2003
@MarshallOfSound , @paulcbetts : after playing with `yarn clean`: it cleans only around 70% of what is possible with the [mentioned file mask](https://gist.github.com/xblox/8b9440b8658cb13b1adbf47ded1e8bc4)

[2017-01-13 13:07] be5invis opened #8405 "OpenType CALT feature related with `*` character does not work."
Tested with Iosevka and Fira Code: `*`-related ligatures are not enabled.

[2017-01-13 15:49] evshiron commented on #7841
I encountered this issue recently, and the `--pre-gyp-fix` option had gone.
I solved this issue by copying `electron-v1.4-linux-x64` to `node-v50-linux-x64`, which worked pretty well.

Hope it helps.

[2017-01-13 17:13] poiru opened #8407 "Document toolchains used for building official Electron releases"
For example, it would be very handy to know which Xcode/SDK versions and which VS version (e.g. VS2015 Update 3) is used to build official Electron releases.

[2017-01-13 18:01] guerrerocarlos commented on #5058
Where was this made more explicit? I am having the same problem, and don't know what is the expected then.

[2017-01-13 18:06] guerrerocarlos commented on #5058
Found it, for future reference, the expected is to add the click event to the menu as in:

    var tray = new Tray('logo.png')
    var contextMenu = Menu.buildFromTemplate([
      { label: 'Connecting...'},
      { label: 'Close', click: function(){ console.log('close clicked') } }
    ])
    tray.setContextMenu(contextMenu)

[2017-01-13 18:48] morlauth opened #8408 "Refreshing app removes vibrancy"
* Electron version: 3.1.1
* Operating system: Mac 10.12.2

### Expected behavior
When I refresh the app by pressing `command+r` the page should refresh and the vibrancy effect should not be removed.

### Actual behavior
When I actually refresh the page, the vibrancy effect is removed and I only get a white background.

### How to reproduce
Here is my main code
[code]
getBounds just loads the bound

[2017-01-13 18:54] kevinsawicki commented on #8408
Closing as duplicate of #8310, please subscribe to that issue for updates.

[2017-01-13 18:54] #8408 closed

[2017-01-13 19:16] kevinsawicki commented on #8368
Electron is designed for UI applications and not for command-line applications.

Shipping a version of Electron without Chromium would essentially mean just shipping Node since almost all of the API Electron provides build on top of APIs that Chromium provides. The APIs listed on http://electron.atom.io/docs/api/ are dependent on Chromium so it isn't feasible to build/ship a version of Electron wi

[2017-01-13 19:16] #8368 closed

[2017-01-13 21:55] TimNZ commented on #8394
Interested in Electron team thoughts on this as I want to understand how decision is made that something is core to mandate vs should be an addon.

This seems to sit in the middle.

I expect the short term solution would be to build a native nodejs module.

[2017-01-13 23:46] kevinsawicki commented on #8350
Could it be a window border? If you make the background color red do you see a red hue at the bottom when maximized?

Sounds similar to https://github.com/electron/electron/issues/4573

[2017-01-14 01:11] blixt opened #8410 "BrowserWindow shows frame from when it was hidden until first render after unhiding"
* Electron version: 1.4.14
* Operating system: macOS 10.12.2 (16C67)

### Expected behavior

I expected to have control of what would show when the window is unhidden. E.g., a call to render the `BrowserWindow` once right after I hide it so that when it is unhidden that will show until the first rerender completes.

### Actual behavior

The content that was visible when the window was hidden was s

[2017-01-14 01:20] rvmey commented on #8403
I have the same problem with Electron v1.4.14.

[2017-01-14 01:50] fantasticsid commented on #5267
This is happening for 1.4.12 as well as 1.4.14. And it's pretty easy to reproduce using https://github.com/electron/electron-quick-start

just add a {frame: false} option to BrowserWindow, and maximize the window using
require('electron').remote.getCurrentWindow().maximize()
If you have multiple monitors, you'll see a white edge on the other display

![image 1](https://cloud.githubusercontent.com/

[2017-01-14 07:00] bsclifton commented on #5267
@fantasticsid what is your DPI set to? I may have a fix for this:
see https://github.com/electron/electron/pull/8404

[2017-01-14 07:07] bsclifton commented on #5267
The root cause for this issue happening on multiple monitors having this issue can be read about here:
https://blogs.msdn.microsoft.com/oldnewthing/20120326-00/?p=8003

When the window is maximized, Windows will actually position the window offscreen (so that the frame doesn't show). There are then two approaches for solving:
1. Update native_window_views_win.cc and handle the `WM_GETMINMAXINFO` e

[2017-01-14 09:13] MarshallOfSound commented on #5267
@bsclifton My DPI is 100% / the default.  I'm running a triple 1080p monitor setup (at least where this issue occurs)

[2017-01-14 14:49] LukasBombach commented on #633
What is the status on video codecs for electron? Googling this is very confusing as there are a lot of tickets for this and each one references the other. I have tried to play various videos, some work, some don't, feels like 50/50. I stumble upon people saying you need to compile ffmpeg.so or copy it from chrome. as for the first option: This is kind of hard and i am wondering why nobody distribu

[2017-01-14 15:58] rahatarmanahmed commented on #2645
I'm seeing this happen sometimes in electron 1.4.14 on OS X Sierra

[2017-01-14 16:27] gerhardberger commented on #8392
By passing `show: false` to the `BrowserWindow` constructor the dummy window should not be visible. In your case is it still showing?

The dummy window is necessary in offscreen mode, because Chromium needs a window handle.

[2017-01-14 18:39] wraithan opened #8411 "HTML5 Notification API not displaying notifications on MacOS 10.10.5"
* Electron version: 1.4.14 (Also tried 1.4.13 and 1.3.13 to see if it was a regression, they also failed)
* Operating system: MacOS 10.10.5

### Expected behavior

HTML5 Notification API should display a notification on the side and in the notification center.

### Actual behavior

The `Notification` object is created without but no notification is displayed.

### How to reproduce

I tried this fi

[2017-01-14 18:43] benaadams commented on #6958
Yes; also happens if you add an rich editor like [ck](https://github.com/ckeditor) etc that prepares the content in a separate iframe compent

[2017-01-14 21:35] CodeX2 opened #8412 "Always On top clashing with Chromium based web browser's full screen"
My always on top electron app doesn't allow web browsers to go full screen. Anything made full screen goes underneath taskbar.

I am guessing it has something to do with always on top priority of all chromium based browsers being same including electron app.

Tested browser:
Chrome
Vivaldi
Chrome canary
Edge - No issue when using edge browser.

* Electron version: 3.10.10
* Operating system: Windo

[2017-01-14 22:21] CodeX2 commented on #8412
Resolved by setting
type: "toolbar",

[2017-01-14 22:21] #8412 closed

[2017-01-15 08:51] tonghuashuo commented on #8339
Same problem here. Failed at `node install.js`.

- macOS 10.12.2 Sierra
- node 6.9.2
- npm 4.1.1 (using registry: https://registry.npm.taobao.org)

The console shows some error about permission denied to link the release package. But I did used `sudo` command. I tried to manually perform the link and then run `sudo node install.js`. It put me on hold for over 10 mins showing me nothing, until I hi

[2017-01-15 12:47] techtonik opened #8413 "No Vista, right?"
Running it on Vista give this:
[code]

Any alternatives for wrapping web app into desktop one?

[2017-01-15 15:14] AoDev commented on #1854
Hi, I see this issues is more than half a year old. I also face this problem and just wanted to know if there are plans on implementing the async popup in the near future. Depending on the response I would change my strategy and go for an html context menu instead of going native.

[2017-01-15 15:56] alvarolb commented on #8345
I have managed to load the recaptcha frame inside an electron APP by disabling the domain validation. However, it fails on verification with this error:

Uncaught SecurityError: Blocked a frame with origin "https://www.google.com" from accessing a frame with origin "file://".  The frame requesting access has a protocol of "https", the frame being accessed has a protocol of "file". Protocols must m

[2017-01-15 16:00] alvarolb opened #8414 "Using Google Recaptcha"
* Electron version: 1.4.13
* Operating system: Any

I want to use Google Recaptcha inside an electron APP, but it fails when trying to validate the captcha:

Uncaught SecurityError: Blocked a frame with origin "https://www.google.com" from accessing a frame with origin "file://". The frame requesting access has a protocol of "https", the frame being accessed has a protocol of "file". Protocols mus

[2017-01-15 16:43] enlight commented on #8413
No, only Windows 7 or later is supported.

[2017-01-15 16:43] #8413 closed

[2017-01-15 17:10] KagamiChan commented on #8414
By keyword seraching in embed code I find some lines which seem to me checking `file:` protocol:
[code]

A [related topic](https://groups.google.com/forum/?fromgroups#!topic/recaptcha/6O4MTigYVPw) was answered by reCaptcha support saying that they would implement custom protocol support. So maybe registering a different protocol helps, if custom protocol is already supported.

[2017-01-15 20:13] techtonik commented on #8413
@enlight is it documented somewhere?

[2017-01-15 20:44] rvmey commented on #8403
Nevermind, apparently it only happens on my development PC.
I finally tried it about 30 times on another computer and I can't get it to fail.

[2017-01-15 20:44] #8403 closed

[2017-01-15 20:51] dkfiresky commented on #8413
@techtonik http://electron.atom.io/docs/development/build-instructions-windows/#prerequisites

[2017-01-16 02:11] enlight commented on #8413
Supported platforms are documented at http://electron.atom.io/docs/tutorial/supported-platforms/

[2017-01-16 03:56] liusy182 commented on #8321
this is probably fixed by some other changes. I am not able to reproduce it in version `1.4.14` on windows.

[2017-01-16 04:40] haribabu500 commented on #8383
`console.log(require.resolve('electron'))

const electron = require('electron')
// Module to control application life.
const app = electron.app
// Module to create native browser window.
const BrowserWindow = electron.BrowserWindow

const path = require('path')
const url = require('url')

// Keep a global reference of the window object, if you don't, the window will
// be closed automatically when

[2017-01-16 07:45] miroslavvojtus opened #8415 "API to enable/disable a window"
* Electron version: 1.4.12
* Operating system: Windows 7

### Expected behavior

When a modal window is shown in a lazy manner, allow a manual (by code) disabling of parent window.

Suggestions:
- add option like `{..., disableParentImmediately: true, ...}`
- provide an API interface to the function [NativeWindowViews::SetEnabled(bool enable)](https://github.com/electron/electron/blob/master/atom/

[2017-01-16 09:18] clusterberries opened #8416 "Cookie is not saved on application close"
* Electron version: 1.4.14
* Operating system: Windows

Hi!
I faced with issue described in this two comments:
https://github.com/electron/electron/issues/6388#issuecomment-236498471
https://github.com/electron/electron/issues/6388#issuecomment-244483403
The main issue is fixed, but the session is lost if the app is closed immediately after login and setting the cookie.

### Expected behavior
Cook

[2017-01-16 09:36] liusy182 commented on #8287
Interestingly if we delay setting `alwaysOnTop` things will work.

[code]

[2017-01-16 11:57] LoganDark commented on #8416
Isn't that what `localStorage` is for?

[2017-01-16 13:59] clusterberries commented on #8416
@LoganDark could you please explain for what purpose localStorage should be used in this case?

[2017-01-16 14:43] LoganDark commented on #8416
Persistent data storage.

[2017-01-16 14:54] clusterberries commented on #8416
Yes, I use it as data storage. But I'm talking about session, cookies are used in this case.

[2017-01-16 15:45] fallafeljan commented on #7747
Any news on this? Same issue here, Electron 1.4.7 on macOS 10.12.2. Setting the cursor to `pointer` or `none` on the container will affect only the container, but not the webview itself.

[2017-01-16 16:11] LoganDark commented on #8416
If you need it to persist when the app is reopened, use localStorage or a file

[2017-01-16 17:26] techtonik commented on #8413
I mean that Unity development tools don't load on old systems too, but produced binaries do. It seems not the case with this framework, and `supported platforms` are not clear enough to clarify the distinction.

[2017-01-16 22:22] grahamperrin commented on #3797
Upped the bounty.

(Incidentally: the reference, above, from an _apparently_ Windows-related issue was the result of steering away from a multi-platform issue for the same product.)

[2017-01-16 23:31] ricardovb commented on #8339
Same here 🌵

[2017-01-17 02:13] enlight commented on #8413
The supported platforms page I linked specifies the operating systems Electron apps can run on, you cannot run Electron apps on anything older than Windows 7 because Electron uses APIs that are only available in Windows 7 or later.

[2017-01-17 02:39] wangxiexe opened #8418 "autoUpdater.quitAndInstall does not restart when I change the app product name"
* Electron version:

1.4.10

* Operating system:

Windows 10

### Expected behavior

autoUpdater.quitAndInstall is called and the new version of the app get started

### Actual behavior

old version get closed but the new version did not get launched.

### How to reproduce

change the product name in the package.json and create an updated version
update got downloaded, but autoUpdater.quitAndInsta

[2017-01-17 07:21] rico345100 opened #8419 "XHR failed with net::ERR_INSECURE_RESPONSE"
* Electron version: 1.3.5 prebuilt
* Operating system: MacOS

### Expected behavior
In my local MacOS, requesting xhr via fetch worked fine, but tested on another MacOS, it fails.

### Actual behavior
It fails with net::ERR_INSECURE_RESPONSE error. Even execute fetch on console directly, it still fails with same error. I googled but nothing useful information found. I reporting this because it loo

[2017-01-17 09:09] aredfox opened #8420 "Window height size on Windows cannot be set as low as on macOS"
* Electron version: 1.4.14
* Operating system: Windows 7 SP1

### Expected behavior

setting BrowserWindow's height makes a window on the same height as the other OS'es. Now the behaviour is platform dependent, it should be platform agnostic.

### Actual behavior

setting BrowserWindow's height doesn't set real height, but constraints it to a certain given size that's at least higher. Whilst on ma

[2017-01-17 10:06] Skywalker13 commented on #6262
Hello, this problem should be fixed directly with the `path` lib of electron.

When doing something like `path.join (__dirname, 'myfile')`, and `myfile` is in asar.unpacked, then the `path` lib should be able to see that the physical file is unpacked and returns the right path.

[2017-01-17 13:03] ArktekniK commented on #4459
I know this is old but thought I would just mention that I had this issue and resolved it within the page with:
[code]
This was after the preload script and obviously only works if you have node integration enabled for the browser window. Without node integration, regular script includes should work fine.

[2017-01-17 13:38] kakozu opened #8422 "Mac autoupdater: pub_date in ISO 8601 with fractions of seconds is not parsed correctly"
The documentation specifies, that:

When using the project with Electron, it works correctly with a date formatted similarly as in the example: `"2017-01-17T11:37:55Z"`. However, when using it with second fractions, as in the following example: `"2017-01-17T11:37:55.932Z"`, it is not correctly reported back to the application.

This is inconvenient, because that format is the default way of format

[2017-01-17 13:56] samvloeberghs commented on #2863
@zcbenz that simple comment being 1.5y old gave me a ton of insight, thanks

[2017-01-17 15:34] petrbrzek opened #8423 "No such module: atom_common_app"
[code]

* Electron version: 1.4.12
* Operating system: Mac OS X, Windows 7/10, Linux

### How to reproduce

Dunno. We started to see the issue in our Sentry 5 days ago.

[2017-01-17 16:03] vmasule opened #8424 "Failed to extract installer on 64 bit Windows 7"
I have downloaded windows installer(.exe), whenever I try to install it it say 'Failed to extract installer'

Please help, I really want to try this editor.

[2017-01-17 16:06] #8424 closed

[2017-01-17 16:44] kevinsawicki commented on #8423
Can you provide more of the stack trace for this error?

[2017-01-17 17:01] nathansobo commented on #645
I honestly don't remember what ended up happening. It's no longer an issue for me though. 😄

[2017-01-17 17:22] kevinsawicki commented on #8419
Are you able to reproduce this on Electron 1.4 as well? 1.4.14 is the latest release, sounds like it could be #8366

[2017-01-17 17:23] kevinsawicki commented on #8418
@paulcbetts does squirrel for windows handle a changing product name?

[2017-01-17 17:24] kevinsawicki commented on #8415
This sounds like a good option to me 👍

[2017-01-17 17:34] kevinsawicki commented on #8332
@bsclifton do you think this could be resolved by #8404 or is this something you'd made a different fix for in Brave? Thanks.

[2017-01-17 18:00] timerg commented on #360
+1

[2017-01-17 18:22] swampthang commented on #4068
Hi, mobitar. Thanks for the tip. This works but after executing one of the resulting menu options, the contextmenu doesn't go away. I have to use the esc key to get rid of it. Any ideas?

[2017-01-17 18:35] kevinsawicki commented on #8394
Yeah, briefly reading https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/SysServices/Articles/providing.html#//apple_ref/doc/uid/20000853-BABDICBI makes it seems like this could be something completely managed via a native module plus some `.plist` changes.

[2017-01-17 18:42] kevinsawicki commented on #8321
@gnomesley are you able to still reproduce this in Electron 1.4.14?

[2017-01-17 18:43] kevinsawicki commented on #8350
@felixrieseberg could you try reproducing this on master to see if it was addressed for you by #4573

[2017-01-17 18:44] ccnokes commented on #8394
@kevinsawicki If you guys have written up some criteria on what goes in core and what doesn't, I'll be sure to read that before opening a feature request issue. I haven't seen anything like that though...

[2017-01-17 18:50] kevinsawicki commented on #8394
We don't have that currently, it is totally a case by case basis. But I think it was great that you opened this issue up here, it is good to have this discussion since this seems like a valuable feature that many apps would want to take advantage of.

Some APIs can't be done as native node modules because Electron does not provide the objects/hooks needed. Other times Chrome already has great APIs

[2017-01-17 18:54] kevinsawicki commented on #8270
Closing this out until more information is available.

[2017-01-17 18:54] #8270 closed

[2017-01-17 19:04] janekolszak commented on #6697
Has anything changed?

[2017-01-17 19:07] kevinsawicki commented on #8210
Looks like this landed in Chrome 55, not 54

[2017-01-17 19:10] kevinsawicki commented on #7328
Closing this out until more information is available.

[2017-01-17 19:10] #7328 closed

[2017-01-17 21:03] #8338 closed

[2017-01-17 21:11] kevinsawicki commented on #8414
Thanks for looking into this and finding that topic thread 👍

You can use a custom protocol using the `protocol` module in Electron to workaround the `file:` check.

See http://electron.atom.io/docs/api/protocol for more details.

Closing this out.

[2017-01-17 21:11] #8414 closed

[2017-01-17 21:12] kevinsawicki commented on #8405
@be5invis can you provide a minimal reproduction app that demonstrates this issue? Thanks.

[2017-01-17 21:14] be5invis commented on #8405
@kevinsawicki
[code]

[2017-01-17 21:16] kevinsawicki commented on #8405
@be5invis Thanks for the sample, can you provide a screenshot of what you see renderedin Electron with this sample vs. what you see rendered in Chrome?

[2017-01-17 21:19] be5invis commented on #8405
![image](https://cloud.githubusercontent.com/assets/240091/22040358/86228a74-dd3d-11e6-8241-d1d2fd496278.png)
![image](https://cloud.githubusercontent.com/assets/240091/22040385/a03be5f4-dd3d-11e6-8b2e-8c0bb1dafd1d.png)

[2017-01-17 21:20] kevinsawicki commented on #8405
@be5invis thanks, this looks to be fixed in Chrome 54, here is what I see on the Chrome 54 branch in #8406, does it look right to you?

![screen shot 2017-01-17 at 1 20 20 pm](https://cloud.githubusercontent.com/assets/671378/22040455/b6e2170a-dcb7-11e6-996e-672b51ccb24f.png)

[2017-01-17 21:22] be5invis commented on #8405
@kevinsawicki IDK. Could you please show the result in the released version on OSX? Maybe it is platform-specific...

[2017-01-17 21:22] kevinsawicki commented on #8405
Here is the 1.4.14 released version on macOS:

![screen shot 2017-01-17 at 1 22 19 pm](https://cloud.githubusercontent.com/assets/671378/22040538/04583afa-dcb8-11e6-9fc1-9503aeb20429.png)

[2017-01-17 21:25] be5invis commented on #8405
@kevinsawicki Thanks. Maybe the Chrome-v54 one fixed this.
Do you have any screenshot on Windows and Linux?

[2017-01-17 21:25] vulture commented on #8392
So after some more investigation, there are a few issues happening:
1. Even if I pass "show: false", there is still a brief flash of the dummy window appearing and then hiding, which looks unprofessional to the end user. I can make this smaller by passing in width: 0 and height: 0, but there is still a minimum size where a white rectangle shows up for a brief period. Setting x: and y: to negative

[2017-01-17 21:25] kevinsawicki commented on #8405
Sure, will take a few minutes to launch/build there.

[2017-01-17 21:36] bsclifton commented on #8332
@kevinsawicki it's VERY likely that #8404 fixed this issue :smile:

To help further characterize the issue I saw (which prompted the fix), on Chromium 54, we only saw the issue when maximized (not fullscreen). I wish I had tested it on Chromium 53. If I had to guess, it was likely similar behavior to what was reported in this issue (based on issues logged in our repo)

[2017-01-17 21:38] kevinsawicki commented on #8332
@njbmartin are you able to build the master branch of Electron and see if you can still reproduce this issue?

[2017-01-17 21:40] njbmartin commented on #8332
I shall give it a go a little later

[2017-01-17 21:41] mikep-ll commented on #8338
Verified fix. Looks good!

[2017-01-17 21:48] serapath opened #8425 "problems with requiring modules with "win.loadURL(`data:text/html;charset=utf-8,${html}`)""
* Electron version: v1.3.5
* Operating system: Linux Mint 17

### Expected behavior

My electron app should open and in the devtools i would be able to access `window.bel`

### Actual behavior
My electron app opens and in the devtools i see the error message:
`Uncaught SyntaxError: Unexpected identifier`
which i fixed by adding a semicolon which turned it into:
`Uncaught Error: Cannot find module

[2017-01-17 21:50] serapath commented on #8425
I actually would wish that there would be an additional method, like `(new BrowserWindow()).loadHTML(...)`. Is there a way to provide HTML without creating a separate html file?

[2017-01-17 21:53] mikep-ll opened #8426 "Going in to Kiosk while in FullScreen does not disable the dock."
* Electron version: 1.4.14
* Operating system: OS X 10.11.6

I first noticed this in 1.4.12, but it has likely been around for a while. To reproduce:

1. Make the app fullscreen. You can do this when creating the window with fullScreen:true or just by maximizing the app to make if full screen.
2. Put the app in kiosk mode by calling setKiosk(true).
3. Move the cursor down to the bottom of the scre

[2017-01-17 21:55] kevinsawicki commented on #8405
@be5invis here it is on Windows 10, left is 1.4.14 (Chrome 53), right is Chrome 54 branch:

<img width="971" alt="screen shot 2017-01-17 at 1 54 47 pm" src="https://cloud.githubusercontent.com/assets/671378/22041672/95d21268-dcbc-11e6-868a-54dfc2a7590a.png">

[2017-01-17 21:57] Skywalker13 commented on #6262
My workaround for this problem: https://github.com/epsitec-sa/hazardous

[2017-01-17 21:57] be5invis commented on #8405
Good. Waiting for your new version.
cc. @dbaeumer @alexandrudima

[2017-01-17 22:04] mikep-ll opened #8427 "Option+F2 breaks kiosk mode on OSX"
* Electron version: 1.4.14
* Operating system: 10.11.6

Hitting Option+F2 brings up display preferences and breaks us out of kiosk mode. This appears to only happen if we are in full screen when going in to kiosk mode. The easiest way to reproduce is to use fullScreen:true and kiosk:true when creating the window.

The other F keys are also an issue in this scenario. Something odd is happening with

[2017-01-17 22:36] KagamiChan commented on #8414
To clarify, I don't know if custom protocol has been supported by reCaptcha as the support team said, because the code is uglified and I'm not developing with it. Anyone who made it work may leave a positive comment :)

[2017-01-17 22:45] kevinsawicki commented on #8414
@KagamiChan it appears it does support it, I was able to load it using this app:

[code]

![screen shot 2017-01-17 at 2 45 22 pm](https://cloud.githubusercontent.com/assets/671378/22043236/97f4cc6e-dcc3-11e6-95e3-dec29d66bc17.png)

[2017-01-17 22:50] kevinsawicki commented on #8345
@alvarolb have you tried a custom protocol? See the example in #8414  for more details.

I think it will work if you load the page using a custom protocol or http/https.

There are several issues/topics out there about this:

https://github.com/google/recaptcha/issues/96
https://groups.google.com/forum/#!topic/recaptcha/AuN2f7JrZTA
https://groups.google.com/forum/#!msg/recaptcha/tnosY9BulRs/vBhsmA

[2017-01-17 22:50] #8345 closed

[2017-01-18 01:11] TimNZ commented on #8416
@clusterberries is referring to my comment on testing on BrowserWindow or webview session persistence when an Electron app is closed seconds after a change to session data.

Basically there's a small window of a few seconds when changes to cookies (perhaps other things) are not persisted and are lost if the app is closed in the meantime.

[2017-01-18 01:20] TimNZ commented on #8393
If you remove the two lines creating and closing BrowserWindow does it work as expected?

[2017-01-18 02:31] Inori commented on #8393
@TimNZ Yes, it is. The server works as expected.

[2017-01-18 03:05] TimNZ commented on #8393
By default Electron quits when all windows have been closed.
You didn't notice the server app has terminated after the first connection?

Add this to server.js:

[code]

[2017-01-18 05:42] ouonet commented on #8339
same here

[2017-01-18 05:50] 332065255 opened #8429 "Cannot find module 'seek-bzip'"
* Electron version:1.4.14
* Operating system: MACOS sierra 10.12.2

### Expected behavior

### Program there is no problem in the development environment, after packaging problems

### A JavaScript error occurred in the main process
### Uncaught Exception:
### Error: Cannot find module 'seek-bzip'
### const decompress = require('decompress');

[2017-01-18 05:53] 332065255 commented on #8429
![ad1bc45c-db68-432f-bb54-2010e9f143e7](https://cloud.githubusercontent.com/assets/4002926/22052484/7f54fcde-dd85-11e6-8f93-c3cef0bcb23a.png)
![dc64c06d-2248-4572-949a-1cd1a1cf8f97](https://cloud.githubusercontent.com/assets/4002926/22052490/86a91d26-dd85-11e6-985e-bdf2fae6681c.png)

[2017-01-18 05:54] 332065255 commented on #8429
![image](https://cloud.githubusercontent.com/assets/4002926/22052520/9e8b0616-dd85-11e6-891e-ba3b779b9df8.png)

[2017-01-18 05:57] MarshallOfSound commented on #8429
Remove `decompress` and `decompress-unzip` from the "devDependencies" section of your package.json file

[2017-01-18 06:01] 332065255 commented on #8429
@MarshallOfSound Just tried, but can't

[2017-01-18 06:02] 332065255 commented on #8429
@MarshallOfSound rm -rf dist && ELECTRON_MIRROR="https://npm.taobao.org/mirrors/electron/" electron-packager . h5Client --platform= darwin  --arch=all --electron-version=1.4.14  --out=dist --overwrite=true --ignore=node_modules/electron --ignore=node_modules/electron-* --ignore=node_modules/.bin --ignore=.git --ignore=dist --ignore=zip/* --prune

[2017-01-18 06:04] MarshallOfSound commented on #8429
There's your issue

`--ignore=zip/*`

You are ignoring all folders that end with the word "zip".  So the folder that contains "seek-bzip" will be ignored when packaging.  You need to apply a finer ignore pattern.

[2017-01-18 06:04] #8429 closed

[2017-01-18 06:14] 332065255 commented on #8429
@MarshallOfSound Thank you, I got it, thank you very much

[2017-01-18 06:17] Inori commented on #8393
@TimNZ That is the reason! Thank you very much.

[2017-01-18 06:17] #8393 closed

[2017-01-18 07:04] roblourens opened #8431 "Disable MacOS help topics"
An electron app on MacOS shows the help menu in the menu bar. If you search in the Help menu, it will show you general Mac help topics:

![image](https://cloud.githubusercontent.com/assets/323878/22047411/c415c0d8-dcdb-11e6-93de-17f3f911d098.png)

It's not obvious that these aren't provided by the app. Is there any way to disable this, or replace it to only show my own help topics?

[2017-01-18 08:06] ButzYung commented on #8416
I am affected by the same problem. I wonder if there can be a workaround for now, like saving the current session of cookies to localStorage or file before the app closes, and then restore it on app restart.

[2017-01-18 08:21] TimNZ commented on #8416
I think the easiest thing to do in short term is try to introduce a delay before quitting the app.
You can hide any windows first, delay, then quit.

Users won't care.

[2017-01-18 10:34] stouch commented on #6345
I experience same problem as fantasticsid (8 Sep 2016).

2016-11-05 17:17:49.632 ShipIt[4132:2188928] Couldn't remove owned bundle at location file:///var/folders/sg/nh8znnm10hzg2h9tx75f21480000gn/T/<bundleid>.ShipIt.nqdkAhGh/<appname>.app, error NSError { domain: NSCocoaErrorDomain, code: 4, description: "“<appname>” couldn’t be removed.", failureReason: "The file doesn’t exist.", underlying erro

[2017-01-18 10:39] s-oram commented on #2561
Hi Jmales, Sorry for the slow reply. I didn't end up fixing it. I moved away from using Electron for the time being. It's possible recreating the symbolic links on OSX as part of the install step would side-step the problem.

[2017-01-18 10:54] stop2stare commented on #7657
Thanks @isNeilLin ,but it's still not working correctly even I've specified an absolute path.
Do you have any other workaround?

[2017-01-18 10:57] gerhardberger commented on #8392
@vulture

1. Since 1.4.14 offscreen windows are frameless by default: #8250. You should upgrade to this version.
2. On macOS I've never experienced this flashing nor people I know using it on Windows. Could you provide an example program that gives you this flashing?

[2017-01-18 12:43] HitomiTenshi commented on #8205
I'm struggling with the same issue here. It happens randomly and I can't exactly reproduce it every time. It just happens sometimes:

[code]

[2017-01-18 12:52] petrbrzek commented on #8423
Here it is. @kevinsawicki

[code]

[2017-01-18 13:23] madipor commented on #611
does anyone found solutions for this?

[2017-01-18 15:27] Skywalker13 opened #8433 "The contentTracing module of electron seems not working"
Hello,

I try this code without success:

**test.js**
[code]

It comes from http://electron.atom.io/docs/api/content-tracing/

Nothing printed, no file.. WTF?

* Electron version: v1.4.14
* Operating system: MS Windows 10

### Expected behavior

At least to see 'Tracing started' in the console output.

### Actual behavior

Nothing happens; it hangs

### How to reproduce

[code]

[2017-01-18 16:44] Zamiell opened #8434 "Latest version published on NPM should (probably) be "1.4.14", but it is "1.4.13""
For reference, see the NPM page for the electron package:
https://www.npmjs.com/package/electron

On the right hand side of the page, we can see that "1.4.13 is the latest of 35 releases".

However, the Electron website, the Electron GitHub releases, and strangely, the image at the top of the aforementioned NPM webpage all mention that the latest version of "1.4.14". Furthermore, this release was

[2017-01-18 16:52] antoniodavid commented on #8339
same here
win 10
node v6.9.4

[2017-01-18 16:58] LoganDark commented on #8416
@ButzYung That was my idea at first, but nobody seemed to understand.

[2017-01-18 18:22] craxal commented on #8356
Is anyone there? This issue has been opened for two weeks.

[2017-01-18 18:27] joinjoohny opened #8436 "Close button mac os, after app don't opened"
When I clicked close button, window app is closed, but I want opening app in dock, nothing happens.
I see, that the electron in this event it makes the window null. Thx.
How can I solve this problem?
Electron 1.4.14
Mac OS 10.11.6
[code]

[2017-01-18 19:36] kevinsawicki commented on #8436
Are you running your packaged app or via the `electron` command line?

The `electron` command line launcher quits the app when the all windows are closed: https://github.com/electron/electron/blob/71512ad244d5aa9e82af2e57cc89b31d0729a7ff/default_app/default_app.js#L7-L9

This will not be the behavior when your app is packaged since that code will not be running.

http://electron.atom.io/docs/api/a

[2017-01-18 19:36] #8436 closed

[2017-01-18 19:40] kevinsawicki commented on #8434
This looks like an issue with the npm site.

Run `npm view electron | grep latest` shows the following:

[code]

So 1.4.14 is the latest published to npm and you can confirm this by running `npm install --save electron@latest`.

/cc @zeke any idea why this happens?

[2017-01-18 19:49] changkun commented on #2003
If we just want to write a hello world application without any node module dependencies, why the packager still warp everything? The state-of-the-art solution is to uses `yarn clean`, isn't it?

[2017-01-18 20:06] zeke commented on #8434
Yeah I noticed this last week. It's the npm website, not the registry. The website uses a follower of the real registry and it must have fallen out of sync for some reason. This is not common, however.

Maybe @bcoe or @ceejbot would know what's up.

[2017-01-18 20:24] bcoe commented on #8434
@Zamiell @kevinsawicki @zeke sorry about that, we have a follower for meta-information that has been falling on its face occasionally; we're already in the process of replacing that part of the system -- I'm excited about this, it will make package pages faster and we'll stop having little hiccups like this.

[2017-01-18 20:35] kevinsawicki commented on #8434
@bcoe Thanks for the details 👍

Closing this out.

[2017-01-18 20:35] #8434 closed

[2017-01-18 20:43] kevinsawicki commented on #8423
@petrbrzek is `dist/avocode.min.js` running in the browser process or main process?

[2017-01-18 21:39] petrbrzek commented on #8423
@kevinsawicki In the renderer process.

[2017-01-18 22:01] gnomesley commented on #8321
Now win.isFullScreen() returns true, but the window is no longer transparent (it has a white background). Should I make a new issue for this?

[2017-01-18 22:28] kevinsawicki commented on #8321
@gnomesley yes, please do 👍

[2017-01-18 23:24] gnomesley opened #8439 "Fullscreen transparent window is not transparent"
* Electron version: 1.4.14
* Operating system: Windows 8.1

### Expected behavior

A fullscreen transparent window should be transparent.

### Actual behavior

The window is not transparent (has a white background).

### How to reproduce

[code]

Refs https://github.com/electron/electron/issues/8321#issuecomment-273615701

[2017-01-18 23:25] kevinsawicki commented on #8439
Thanks, got #8438 going to address this.

[2017-01-18 23:43] kevinsawicki commented on #8439
Fixed by #8438

[2017-01-18 23:43] #8439 closed

[2017-01-18 23:49] vulture commented on #8392
After some further investigation (also updated to 1.4.14), I found that my understanding was slightly off. I was mirroring the OSR frame over top my desktop so that I could see it. As it turns out there is no window that flashes. It is actually the OSR framebuffer that (incorrectly?) has a white rectangle the size of the dummy window(?), and since I was just drawing that on my desktop, it seemed l

[2017-01-18 23:52] jacobq opened #8440 "Links for `KeyboardEvent` broken on Electron Documentation website"
* Electron version: 1.4.14
* Operating system: N/A (website issue)

On the [Electron documentation website](http://electron.atom.io/docs/all/) the links to "KeyboardEvent" are broken (e.g. http://electron.atom.io/docs/api/keyboardevent returns 404). For example, when I look at the ['before-input-event' event'](http://electron.atom.io/docs/all/#event-before-input-event) the description of the `inpu

[2017-01-19 00:10] kevinsawicki commented on #8440
I believe this was fixed by https://github.com/electron/electron/pull/8400, the docs will be rebuilt when 1.4.15 is published.

[2017-01-19 00:10] #8440 closed

[2017-01-19 02:33] nickyhajal commented on #2407
I'm also curious about this! I am currently using CSS but the graphics performance is noticeably laggy and with artifacts/tearing.

[2017-01-19 04:11] jeffreysteo commented on #2280
+1

[2017-01-19 04:15] paulcbetts commented on #2280
@destan Still only implemented for X11 and ChromeOS

[2017-01-19 06:10] CarlosRen opened #8443 "what do autoupdater checkForUpdate need?"
### Operations

* setup a package server by nodejs , visit url `http://localhost:3000/updates/latest?v=1.0.1&platform=win32` can get json `{"url":"http://localhost:3000/releases/1.0.3/win32/app.zip"}` back
* build a install.exe by `npm run dist` (nsis)
* install app on computer and open it

### Expection:

* checkForUpdate get the last package url back

### Actual:

![image](https://cloud.githubus

[2017-01-19 06:14] renaesop commented on #7849
#8442 may helps

[2017-01-19 07:21] deepak1556 commented on #8416
@clusterberries can you provide a minimal example to reproduce the issue ? Also @TimNZ if you are still facing the webview issue can you open a new issue with a reproducible example ? Thanks!

Have you tried the `session.flushStorageData` api ?

[2017-01-19 08:50] MarshallOfSound commented on #8443
On windows `checkForUpdates` only works in a packaged environment where `Update.exe` is packaged in the correct location with your application.

`electron-winstaller` sets up this Squirrel installer for you. In general testing auto update in a non-packaged state is very difficult on all platforms 👍

[2017-01-19 08:50] #8443 closed

[2017-01-19 08:52] MarshallOfSound commented on #8443
![example](https://cloud.githubusercontent.com/assets/6634592/22099749/b64fa1b6-de80-11e6-920a-6553546d55e6.PNG)

This is what a packaged / installed Squirrel app looks like on windows

[2017-01-19 08:52] MarshallOfSound commented on #8443
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2017-01-19 13:26] jsnelgro opened #8445 "cannot drag file to Finder/Desktop"
* Electron version: v1.4.14
* Operating system: OSX 10.11.6

### Expected behavior

Given a filepath, `ipcMain.on 'ondragstart'` should be able to copy the file at the given path from one location in the filesystem to another (the drop location).
### Actual behavior

Dragging a draggable item from an electron window, and supplying `ipcMain.on 'ondragstart'` with a path does not copy the file from

[2017-01-19 14:26] jeekajoo commented on #4380
`--disable-gpu` fixes it for me with `slack` on linux with `01:00.0 VGA compatible controller: Advanced Micro Devices, Inc. [AMD/ATI] Venus XT [Radeon HD 8870M / R9 M270X/M370X] (rev ff)`
Webview rendering issues happen with google signin password challenge. cc @slackhq
When it happens, I have a white screen.

[2017-01-19 14:47] joinjoohny opened #8446 "Default icon for title bar"
Hello
There is a solution to set icon for title bar ?
I would like to put the icon application.
Electron 1.4.14
Mac OS 10.11.6
Thx

[2017-01-19 15:31] dmtask opened #8447 "Build App with electron and emberjs"
I became the following error, when i start my desktop app with my ember app. JQuery and Bootstrap are in `ember-cli-build.js` and JQuery is the first import. I think it is a Problem with the electron modules system, but i have no idea we can fix it. I found this code `delete mainWindow.module;`, but when i insert this in my `main.js` in electron app i give the same error.

Console error:
<img widt

[2017-01-19 16:24] kevinsawicki commented on #8446
This API allows you to set the represented filename which will add the standard icon for that type: http://electron.atom.io/docs/api/browser-window/#winsetrepresentedfilenamefilename-macos

[2017-01-19 16:24] #8446 closed

[2017-01-19 16:26] kevinsawicki commented on #8447
See `window.$`/`window.jQuery` as a global and it should work then.

See https://github.com/electron/electron/issues/254 for more details.

[2017-01-19 16:26] #8447 closed

[2017-01-19 17:44] drumboog opened #8448 "Urls exceeding character limit of loadURL will crash the application"
* Electron version: v1.4.14
* Operating system: Windows 7 Enterprise

### Expected behavior

BrowserWindow.loadURL should allow 'data:***' urls.

### Actual behavior

When certain content is passed to loadURL, the application crashes.

### How to reproduce

1. Download and execute the sample app: [app.zip](https://github.com/electron/electron/files/717283/app.zip)
2. Click the "Open from file" lin

[2017-01-19 18:26] deepak1556 commented on #8448
Same as https://github.com/electron/electron/issues/8317 , you can use blob URI instead. But we should not crash the application, instead warn users when the character limit is reached.

[2017-01-19 20:11] RomanADavis opened #8449 "Impossible to open electron apps from within Atom and others"
* Electron version: Latest version of Atom, GitKraken, etc.
* Operating system: Tested on the big 3 with Atom, unevenly replicated with GitKraken
Crossposted from here: https://github.com/atom/atom/issues/13624
### Expected behavior

Using a terminal embedded in Atom on Windows 10, it should be possible to type atom $profile and open up your powershell profile.

Nothing. Although on other OSes you

[2017-01-19 21:33] #6571 closed

[2017-01-19 21:33] #7814 closed

[2017-01-19 21:33] #8062 closed

[2017-01-19 21:33] #8366 closed

[2017-01-19 21:33] #8405 closed

[2017-01-19 21:54] juanlizarazo commented on #7744
Woo hoo! beta is coming up

[2017-01-19 22:03] drumboog commented on #8448
The Blob works great... thanks!

[2017-01-19 22:03] #8448 closed

[2017-01-19 22:54] samiskin opened #8450 "Click events pass through to DOM on unfocused window when titleBarStyle is 'hidden-inset'"
* Electron version: 1.4.15
* Operating system: macOS 10.12.2

### Expected behavior

When the window is unfocused, clicking anywhere on the window should simply focus it, with mouse events not being sent to the renderer

### Actual behavior

When `titleBarStyle: 'hidden-inset'` is set, even when the window is unfocused, clicking anywhere above the bottom of the traffic lights will send a click eve

[2017-01-20 06:19] bsclifton commented on #6571
Just a heads up that this is going to have a large impact

Because folks at 125% will get properly scaled content, everything will appear to be much larger for them.  If those people are upset and don't like this, it can be worked around by passing two additional flags to the base::CommandLine class (you should be able to append via the command line):
`--high-dpi-support=1 --force-device-scale-fac

[2017-01-20 06:20] cyvirus opened #8453 "webview open new webview with opener support"
With chrome app webview tags I can set opener for new window:

[code]

How I can do same thing with webview tab of electronjs?
This feature is very useful, it help to create web browser with UI based html.
Help me!
Thanks.

[2017-01-20 07:02] poiru commented on #8450
Thanks for tbhe detailed report! Merging this into #5723.

[2017-01-20 07:02] #8450 closed

[2017-01-20 07:05] bsclifton commented on #8350
I'm currently seeing a similar issue with Brave, although it's with Chromium 54.  You can follow our progress with https://github.com/brave/browser-laptop/issues/6698

[2017-01-20 07:23] rikkertkoppes commented on #5076
A workaround may be to print to a pdf, using webContents.printToPdf and show the result

[2017-01-20 07:24] #8453 closed

[2017-01-20 08:37] dmtask commented on #8447
Thank you.

[2017-01-20 09:32] HitomiTenshi opened #8454 "Oversized maximized window"
* Electron version: 1.4.15
* Operating system: Windows 10 Pro x64

### Expected behavior

Maximized window should not oversize.

### Actual behavior

Maximized window is oversized.

### How to reproduce

Clone following repository:
https://github.com/tonyganch/electron-oversized-test.git

and follow the `README.md`.

### Screenshots

#### Unmaximized frameless
![electron_2017-01-20_10-24-19](https

[2017-01-20 13:22] robertlyall commented on #8425
May I ask why you don't want to provide a separate HTML file?

[2017-01-20 13:36] MarshallOfSound commented on #8425
I'm like 99% sure this is "expected" in a sense.  Whenever you use `require` it scans the current directory and then recursively each directory until you reach the root of the current file system.  When you load an HTML file it has a concept of a "current directory".  However the technique you are using does not have a containing directory as such.

If you somehow logged out `__dirname` from your

[2017-01-20 13:41] ChALkeR opened #8455 "Globalmenu consumes 100% CPU and does not work"
* Electron version: 1.4.15
* Operating system: Arch Linux, `Linux yoga 4.7.6-1-ARCH #1 SMP PREEMPT Fri Sep 30 19:28:42 CEST 2016 x86_64 GNU/Linux`.

I'm running Electron under [KDE Plasma 5.9](https://www.kde.org/announcements/plasma-5.8.95.php), but judging from https://github.com/atom/atom/issues/6255 and https://github.com/atom/atom/issues/5970, it could be also reproduced with other versions.

[2017-01-20 16:03] kevinsawicki commented on #8454
@liusy182 do you think this is related to the changed in https://github.com/electron/electron/pull/7765

[2017-01-20 16:45] HitomiTenshi commented on #8454
@kevinsawicki I don't know. What's the last version without this change?

By the way, I noticed that it only oversizes about 5px at the top. The sides and the bottom are unaffacted and display as they should.

[2017-01-20 17:09] kevinsawicki commented on #8454
@HitomiTenshi can you confirm that it works as expected in 1.4.13?

[2017-01-20 18:24] javan opened #8457 "macOS: buggy / crashy Quick Look via <input type="file">'s open dialog"
* Electron version: 1.4.15 (probably older versions too).
* Operating system: macOS 10.12.2

When Quick Look is launched by right-clicking a file in a file dialog, clicking its close button doesn't work (and there's an audible beep), and after enough clicking around frequently it crashes. I suspect the same thing would happen using `dialog.showOpenDialog` presented as a sheet, but I haven't tested

[2017-01-20 19:34] gabriel commented on #4068
FYI, I used the following to show an input menu if editable, otherwise a selection menu if there was selected text, but you're behavior may vary. More details on the context-menu event are here: https://github.com/electron/electron/blob/master/docs/api/web-contents.md#event-context-menu

[code]

[2017-01-20 19:43] pupca opened #8458 "Tray mouse over (at least in mac os)"
I would like to have an event fired when an user puts mouseover and mouseout on the tray icon created via http://electron.atom.io/docs/api/tray/

Have you ever thought of something like that? Support (at least in MacOs) should be quite straight forward.

[2017-01-20 19:47] HitomiTenshi commented on #8454
1.4.13 eats away only 2px instead of 5px. But yes, it happens somewhat.

![zucvwvw](https://cloud.githubusercontent.com/assets/7304212/22163072/ab7c4a88-df51-11e6-8092-6ca235075e2e.png)

[2017-01-20 19:52] joinjoohny opened #8459 "Crash at GlobalShortcutListenerMac ::StopWatchingMediaOrVolumeKeys"
I did build for mac os. After cmd+q  `app.quit()` in my application, appears crash report.
Electron 1.4.14
Electron builder 7.15.2
Mac OS 10.11.6

[code]

[2017-01-20 20:33] CashCode opened #8460 "Question: I want to develop cross-platform desktop apps"
Hey! I'm new to electron. I know only php and js.
My aim is to make cross-platfоrm desktоp аpp, but I need multiсurl support (or an alternative).
What should I use? Electron with python or electron with node.js is it possible to use multi-threading queries? Any way to hide code?
Thanks.

[2017-01-21 00:07] liusy182 commented on #8454
@kevinsawicki It doesn't look related from the first look. Changes in #7765 should not affect framed window, but this bug happens to both frame / frameless window. I will take a closer look to see what I can find.

[2017-01-21 00:36] kevinsawicki commented on #8454
Thanks for looking into this 👍

[2017-01-21 02:12] enlight commented on #8460
GitHub issues are for feature requests and bug reports, please post your question in the [forum](http://discuss.atom.io/c/electron), [Slack](http://atom-slack.herokuapp.com/), or one of the other [community](https://github.com/electron/electron#community) support channels.

[2017-01-21 02:12] #8460 closed

[2017-01-21 05:43] manuelro commented on #4101
I'm having the exact same issue with 'webview.loadURL()', if I use it inside the 'dom-ready' handler it will fire the event again, and therefore create a URL loading bucle. Is this the intended behaviour?

[2017-01-21 08:21] johnomarkid commented on #1590
Setting minHeight, minWidth didn't work for me. I had to set the initial window size, and then set the minimum sizes:

[code]

[2017-01-21 10:07] bernex opened #8461 "Chrome update to 55?"
Hi, do you have plan to update to 55 or 54? Thank you!

[2017-01-21 10:18] MarshallOfSound commented on #8461
A beta `1.5.0` (including Chromium 54) is on it's way.

https://github.com/electron/electron/pull/8406#issuecomment-273905591

The official word regarding updating the internal Chromium version can be found here

http://electron.atom.io/docs/faq/#when-will-electron-upgrade-to-latest-chrome

It is worth noting that updating to Chromium 54 took a significant amount of time due to the complex nature

[2017-01-21 10:18] #8461 closed

[2017-01-21 10:18] MarshallOfSound commented on #8461
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2017-01-21 10:54] 45kb opened #8462 "Feature Request: Browser window size restorable"
Hello,
i was looking for an easy and practical way to restore the browser window size once the app is quitted and re-opened.

It seemed to me that this could be a great feature to have as an option, maybe some kind of:

[code]

I saw some module that can handle this, but personally i would prefer electron to handle that, so i  submit this issue just in case you think it's good and ok to introduce

[2017-01-21 12:36] fanchou commented on #6937
I think electron need support all chrome.* API like nwjs. then we can do more things like a really desktop app

[2017-01-21 15:54] srinathh commented on #7300
FWIW, I ran into the same issue trying to use electron in the renderer process with create-react-app that uses webpack in the backend instead of browserify. ```window.require``` seems to solve it for me too though I'm not entirely clear why.

[2017-01-21 16:47] ev1stensberg opened #8465 "Force Refresh"
Hi! Sorry for polluting the issue tracker. I'm used to doing (on Mac), `Command + Shift + R` to give the page a full refresh rather than partial. Is this something that is achievable at Electron's end?

[2017-01-21 17:06] LizanLycan opened #8466 "Error: Electron failed to install correctly, please delete node_modules/electron and try installing again"
* Electron version: latest (That Try)
* Operating system: Microsoft Windows [Versión 10.0.10586]

### Expected behavior

Install from "npm" on Windows

### Actual behavior

I can not use Electron because it is not installed correctly, despite using the shell in administrator mode. Note that when installing dependencies, it does not finish displaying the dependency tree that normally shows "npm".

[2017-01-21 22:14] emptist commented on #884
Is there any tutorial on loading local html? I tried several times but all failed.

[2017-01-21 23:16] twolfson opened #8468 "Ignoring or displaying `beforeunload` prompt out of our control/context"
* Electron version: 1.4.15
* Operating system: Linux Mint 17.1

### Background

I maintain an Electron app which wraps Google Music (`google-music-electron`). It provides light integrations with UI hooks for media key support and tray information. We have been on an older version of Electron for a while (`0.36.x`) and are attempting to upgrade to `1.4.15` but we're running into a snag with the `be

[2017-01-21 23:16] sgehrman opened #8469 "app.getPath('pepperFlashSystemPlugin'); throws exception on windows"
app.getPath('pepperFlashSystemPlugin'); throws exception on windows

Not usable on windows, please fix.

[2017-01-22 03:22] enlight commented on #8469
There's a template for new issues, when you open a new issue please fill it out the template instead of just deleting it, that way people might actually be able to help you.

Which version of Electron are you using and which version of Windows? What is the actual error?

[2017-01-22 03:28] enlight commented on #8466
That's generally a really bad idea. Does your NPM/Node environment work without admin mode?

[2017-01-22 04:10] MarshallOfSound commented on #8466
I mean, have you tried doing what the error suggests and and deleting "node_modules/electron" and trying again?

[2017-01-22 04:27] MarshallOfSound commented on #8468
Merging into #2579

As a work around for now can't you run your code

[code]

In a preload script to disable GPM's unload blockers?  If you execute that code during the `exit` event on the BrowserWindow it should remove the listeners before they are called.

https://github.com/electron/electron/blob/master/docs/api/browser-window.md#event-close

[2017-01-22 04:27] #8468 closed

[2017-01-22 04:54] twolfson commented on #8468
Unfortunately `window.getEventListeners` is only accessible within Dev Tools.

https://developers.google.com/web/tools/chrome-devtools/console/command-line-reference#geteventlistenersobject

We have a couple of workaround options but they are more hacks than appropriate behavior as they're specific to our application:

- Add our own `beforeunload` listener to pause music and then re-run `window.cl

[2017-01-22 05:00] twolfson commented on #2579
I have been redirected here from https://github.com/electron/electron/issues/8468 but it's unclear what the conclusion in this thread was. Can someone reiterate what the preferred behavior is?

For example:

- Always show top level dialogue and ignore iframe dialogues
- Show dialogues for all levels

[2017-01-22 05:05] MarshallOfSound commented on #8468
@twolfson There is a way to execute devtools only JS from within Electron (I can't find it right now but will continue looking).

You could potentially use a spy technique on `window.addEventListener` and simply not allow the website to add listeners for `beforeunload`.  The pattern I refer to would look something like.

[code]

EDIT:
[code]

[2017-01-22 05:12] twolfson commented on #8468
Yea, I thought about stubbing/spying but it's even dirtier and could cause unexpected breakages if implemented improperly.

With respect to executing the DevTools context, neat and TIL. I think I always assumed that you had to have DevTools to run them but good to know you don't :+1:

I think if push comes to shove I'll prob do the "music pause" workaround as it's targeted and won't break other in

[2017-01-22 05:20] MarshallOfSound commented on #8468
Official plans and such for `beforeunload` will go through #2579

[2017-01-22 08:09] zh99998 commented on #2280
+1 for this request

[2017-01-22 08:11] mika76 commented on #7304
One way to see this happening (or fix it) is to change your profile in your display preferences...

[2017-01-22 11:46] chrilith commented on #4875
Don't `npm install -D @types/electron`do the trick?

[2017-01-22 12:00] MarshallOfSound commented on #4875
@chrilith They are third-party provided typings written by hand.  This issue is about generating first-party typings and shipping them with the "electron" npm module.

[2017-01-22 12:20] linquize commented on #360
Electron 1.4.15 still have this issue

[2017-01-22 15:27] marshmellow1328 opened #8470 "BrowserWindow and other classes don't fully implement EventEmitter"
* Electron version: 1.4.8
* @types/electron version: 1.4.31
* Operating system: Linux

### Expected behavior
BrowserWindow, Menu, ClientRequest, Session, and Tray classes should implement all the EventEmitter methods or not claim to be an EventEmitter.

### Actual behavior
They're missing methods like addListener, emit, getMaxListeners, listenerCount, listeners, once, removeAllListeners, removeLis

[2017-01-22 17:24] LizanLycan commented on #8466
@enlight I did that to install Electron in global instance

[2017-01-22 17:25] m910q opened #8471 "'before-input-event' is missing the code property"
* Electron version: 1.4.15
* Operating system: Windows 10

### Expected behavior

The new [before-input-event](https://github.com/electron/electron/blob/master/docs/api/web-contents.md#event-before-input-event) event should imitate the properties from [KeyboardEvents](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent).

### Actual behavior

Missing the ```KeyboardEvent.code``` equival

[2017-01-22 17:25] yopbeast commented on #8465
@ev1stensberg if you want to refresh the view programmatically has to use maybe window.location.refresh

[2017-01-22 17:58] LizanLycan commented on #8466
@MarshallOfSound  That's right, I did it several times.

It seems strange to me one thing, during the installation of modules, apparently does not finish correctly, because it remains as follows:

`$ npm install`

`> electron@1.4.15 postinstall C:\Users\Lizandro Zerpa\Desktop\SisTelSim\SisTelSim_Dev\electron-quick-start\node_modules\electron`
`> node install.js`
(It remains on hold)

[2017-01-22 17:59] LizanLycan commented on #8466
@enlight I have installed multiple global instances, and they work correctly. I rarely have to install them with an administrator.

[2017-01-22 18:41] ev1stensberg commented on #8465
Not the point. Consistency with chrome is the main intent here.

[2017-01-22 21:44] krokofant commented on #6059
I think a deployed application of mine is subject to this bug. I haven't been able to reproduce it successfully but it just seem to occur when there are a lot of touch presses.

My app consists of a navbar which controls a webview. I've just done the ugliest workaround of just restarting the application after a given interval incase it freezes up the touch.

For a while I thought that I didn't imp

[2017-01-22 23:14] amhoho opened #8473 "Why do some translation documents have more functions than English documents?"
Many documents have this situation
E.g:[docs/session.md](https://github.com/electron/electron/blob/master/docs/api/session.md#session) and [docs-translations/zh-CN/api/session.md](https://github.com/electron/electron/blob/master/docs-translations/zh-CN/api/session.md)

Why these functions do not exist in the English version of the document:
#### ses.cookies
#### ses.cookies.get(filter, callback)
#

[2017-01-22 23:35] MarshallOfSound commented on #8466
@LizanLycan It remains on `node install.js` while it downloads Electron. Please let it finish and don't cancel it halfway through.

[2017-01-22 23:36] AltarBeastiful opened #8474 "Notification onclick action never called on Linux"
* Electron version: 1.4.15 and latest master (22b21d0)
* Operating system: OpenSUSE 42.2 with KDE

### Expected behavior

When a notification is clicked, the notification `onclick` function should be called.

### Actual behavior

`onclick` is not called on Linux.

### How to reproduce

* Open the notification app from this repo :
https://github.com/AltarBeastiful/electron-sample-apps/tree/master/n

[2017-01-22 23:38] MarshallOfSound commented on #8473
The translations are normally behind the english docs as they are translated manually by community members when they get the chance to do so in their free time.  The english docs are always kept up to date / are the most accurate.

I believe the methods to which you refer were extracted to their own docs set https://github.com/electron/electron/blob/master/docs/api/web-request.md

[2017-01-22 23:38] #8473 closed

[2017-01-22 23:41] AltarBeastiful commented on #8474
After more testing, I got the notification action to fire on KDE by doing the following :
* Open the notification app from the same repo and open devtools console
* Click on "Basic Notification".
* Click on the cross to close the notification
* Click on "Basic Notification" to get another notification
* Click the "View" button of the notification.
=> I get a `Notification Clicked` in the console

[2017-01-23 00:19] LizanLycan commented on #8466
@MarshallOfSound Ok that's what I've been doing. I was looking for the size of the package to give me an idea of ​​how long it might take, but I did not get it. I left it for over 1 hour. Still waiting, thanks for the comment.

[2017-01-23 00:37] MarshallOfSound commented on #8466
Try

[code]

It should output a progress bar for the download 👍

[2017-01-23 01:40] LizanLycan commented on #8466
@MarshallOfSound Thank you very much. I can now see the download progress. I'll wait until I finish and comment. 👍

[2017-01-23 01:53] LizanLycan commented on #8466
@MarshallOfSound
Apparently little hard joy.

electron@1.4.15 postinstall C:\Users\Lizandro Zerpa\AppData\Roaming\npm\node_modules\electron
node install.js

Downloading electron-v1.4.15-win32-x64.zip
Error: read ECONNRESET
C:\Users\Lizandro Zerpa\AppData\Roaming\npm\node_modules\electron\install.js:46
  throw err
  ^

Error: read ECONNRESET
    at exports._errnoException (util.js:1022:11)
    at T

[2017-01-23 01:57] MarshallOfSound commented on #8466
Looks like you're having some network issues (which are out of our control 😢 )

You can download the ZIP file manually in your browser from [here](https://github.com/electron/electron/releases/download/v1.4.15/electron-v1.4.15-win32-x64.zip) and place it in your `C:\Users\<username>\.electron` folder.  Then it won't need to download itself 👍

[2017-01-23 01:57] #8466 closed

[2017-01-23 02:47] rico345100 commented on #8419
I just tested with Electron 1.4.x, still won't work. Every xhr fails with ERR_INSECURE_RESPONSE.

[2017-01-23 02:50] liusy182 commented on #8454
After some investigation, I believe this bahavior is expected in Windows.

Explanation below:

The pixels that got missed out after resize is the value of `GetSystemrics(SM_CYSIZEFRAME)` From [MSDN](https://msdn.microsoft.com/en-us/library/windows/desktop/ms724385(v=vs.85).aspx):

On my windows 7 machine, this value is `4px` which is close to the `5px` reported in this bug.

If you notice Windows

[2017-01-23 11:49] aredfox opened #8476 "spawn() in combination with app.asar and app.asar.unpacked on Windows.. Doesn't look into app.asar.unpacked?"
* Electron version: 1.4.14
* Operating system: Windows 7 SP1
* Electron builder: 11.2.5

### Expected behavior

path.join(__dirname) in combination with spawn() should look into app.asar and app.asar.unpacked
e.g.: `childProcess.spawn(path.join(__dirname, "bin", "nircmd.exe"), ["savescreenshot", options.output]);`
when not found in app.asar, it should default to look into app.asar.unpacked

### Ac

[2017-01-23 11:58] ca333 commented on #8375
@MarshallOfSound did you find time to reprocude the bug?

[2017-01-23 12:13] PragmaticEd opened #8477 "Feature Request: Taskbar progress bar (Windows & Linux)"
Is it possible to show percent statuses of tasks in Windows Taskbar and Linux unity?
I attached images,  of what I mean.

### Linux:
![handbrake-fixed](https://cloud.githubusercontent.com/assets/19263525/22203438/c4f18c14-e175-11e6-993a-878d65bcba39.png)

### Windows:
![progressbar3](https://cloud.githubusercontent.com/assets/19263525/22203439/c4f2766a-e175-11e6-9f4b-30d3d0308b33.png)

[2017-01-23 12:14] MarshallOfSound commented on #8477
This API has already been implemented.  See

https://github.com/electron/electron/blob/master/docs/api/browser-window.md#winsetprogressbarprogress-options

[2017-01-23 12:14] #8477 closed

[2017-01-23 12:17] PragmaticEd commented on #8477
@MarshallOfSound thanks.

[2017-01-23 12:39] pmario commented on #1334
Any news on this one?

[2017-01-23 12:46] nikita-graf commented on #8425
Here is the code that makes `require` work in `html` template.
https://github.com/electron/electron/blob/d0643250f717a9e5d9d4869f72fd5437c88e862f/lib/renderer/init.js#L111
As a temporary workaround I've set up `module.paths` and `module.filename` inside `data:text/html` template and `require` started working.

[2017-01-23 14:05] aredfox commented on #8476
**Other workaround**
Added the library "hazardous" to fix this issue now in my windows-specific branches, but I hope this will be fixed in node/electron code base?

[2017-01-23 17:03] yggie opened #8479 "Electron hangs when requiring certain dependencies from within tmux"
* Electron version: `v1.4.15`
* Operating system: `macOS Sierra (10.12.2)`
* [tmux](https://tmux.github.io/) version: `2.3`
* node version: `7.4.0`

For reasons that I cannot understand, electron hangs when trying to import certain dependencies. I tried to narrow down the dependency as far as I could go, and ended up with this line:

[code]

### Expected behavior

electron runs as normal.

### Act

[2017-01-23 17:35] Palabola opened #8480 "Text Rendering Issue"
* Electron version: Any after 1.12.1
* Operating system: Win 7(64bit) ,Windows 10(64 bit)

### Expected behavior

- Smooth rendered fonts.

### Actual behavior

[](http://i.imgur.com/Nf5Fw1r.jpg)

### How to reproduce

After first run the application got Fuzzy badly rendered fonts, then I press Crtl + F5 and texts become readable, any other reaload handled by the Application keep the Fuzzy fonts!

[2017-01-23 17:35] Palabola commented on #8480
+ 1 Is there any option to Force reload the application with same result like press Crtl+F5?

[2017-01-23 18:20] kevinsawicki commented on #8470
They should inherit directly from node's `EventEmitter`.

I'm having trouble reproducing this with `BrowserWindow` for example so can you provide a demo repo?

The prototype is set for this class here: https://github.com/electron/electron/blob/034230e2ae8c8ea5e52e955aa25400be64432d75/lib/browser/api/browser-window.js#L8

[2017-01-23 18:23] kevinsawicki commented on #8465
@ev1stensberg have you tried using `webContents.reloadIgnoringCache()`?

[2017-01-23 18:29] kevinsawicki commented on #8449
I'm not sure this is an Electron issue, https://github.com/atom/atom/issues/13624#issuecomment-273936723

Are you able to reproduce this using just Electron?

[2017-01-23 18:33] kevinsawicki commented on #8419
@rico345100 can you provide some example code to help us reproduce this issue?

[2017-01-23 19:08] antonycourtney opened #8481 "Support standard C++ headers / libs when building addons for Electron"
* Electron version:  1.4.15
* Operating system: macOS Sierra 10.12.2

### Expected behavior

On my system (A Mac running macOS Sierra 10.12.2), including a standard C++ 11 header file such as `<regex>` using

[code]
in a C++ source file for a Node addon compiles with no warnings or errors when using node-gyp to build for node.js v7.1.0.

I would expect this addon to also compile without warnings o

[2017-01-23 19:12] ev1stensberg commented on #8465
Sorry if I've formed this request wrong, but the main intent was to provide consistency in accordance to forced refresh in Chrome. Say if this were default, as refresh is in Electron, I'd have the same option as a refresh, but with `webContents.reloadIgnoringCache()`. I'd be happy to elaborate some more.

[2017-01-23 19:15] nikparmar commented on #8466
Can't find a solution for this -
m WARN lifecycle electron@1.4.15~postinstall: cannot run in wd %s %s (wd=%s) electron@1.4.15 node install.js /home/nikhil/workspace/electron_demo/electron-quick-start/node_modules/electron
electron-quick-start@1.0.0 /home/nikhil/workspace/electron_demo/electron-quick-start
`-- electron@1.4.15
  +-- electron-download@3.2.0
  | +-- debug@2.6.0
  | | `-- ms@0.7.2
  |

[2017-01-23 19:24] dkfiresky commented on #8419
@rico345100 are you sending the request using HTTPS protocol?

[2017-01-23 19:33] dkfiresky opened #8482 "Two webview entries in the documentation"
### Expected behavior
Only one `webview` link should be displayed.

### Actual behavior
Two links with different anchors link to the `webview` page.

http://electron.atom.io/docs/api/web-view-tag/
http://electron.atom.io/docs/api/webview-tag/

### How to reproduce
Go to http://electron.atom.io/docs/ and scroll to `Render Process`.

<img width="304" alt="screenshot 2017-01-23 at 21 31 00" src="http

[2017-01-23 19:57] dkfiresky commented on #8479
@yggie the cause of your issue is that you ask nodejs to install packages **each** time you're launching your app via `npm start`.

https://docs.npmjs.com/misc/scripts

Here is how it works:
[code]

To fix your issue, simply don't do the `npm install` on `prestart`.
Launching the app via `electron .` doesn't reflect your issue.

[2017-01-23 20:15] kevinsawicki commented on #8482
Thanks, this is being tracked over at https://github.com/electron/electron.atom.io/issues/658, please subscribe to that issue for updates.

[2017-01-23 20:15] #8482 closed

[2017-01-23 20:17] dkfiresky commented on #8482
@kevinsawicki thanks 👍

[2017-01-23 20:30] LizanLycan commented on #8466
@MarshallOfSound helped me to correct this by observing the download and installation process with:

`npm install electron -g --verbose`

With this command you will install global Electron. You can not cancel until the download process is complete. Delete the folder node_modules and reinstall.

[2017-01-23 20:58] MarshallOfSound commented on #8449
I believe this is due to the Electron applications spawning process with ELECTRON_RUN_AS_NODE and then this environment variable being inherited when opening an Electron application

[2017-01-23 21:05] kevinsawicki commented on #8481
I think this might be fixed once #8406 gets released.

Looks like that `CLANG_CXX_LIBRARY ` difference you noted in the `common.gypi`  file was added in https://github.com/nodejs/node/pull/8317.

Electron 1.4.15 included the `common.gypi` from Node 6.5, and Electron 1.5 will be built on Node 7.4 which should have that version of `common.gypi`.

[2017-01-23 21:16] kevinsawicki commented on #8481
Tested this out on master and I was able to compile the add-on using Electron 1.5.

Will leave this open until 1.5.0 hits beta and then will check back in.

[2017-01-23 21:48] #8462 closed

[2017-01-23 22:09] MaciejKrawczyk commented on #5036
I had the exact same issue. You can disable x-frame-option by manipulating web request headers.

First, make sure that your webview has a partition defined

[code]

And in the main process:

[code]

[2017-01-23 22:32] yggie commented on #8479
@dkfiresky have you tried running it within a `tmux` session? I can still replicate the problem when running:

[code]

within a `tmux` session. Running this outside a `tmux` session works fine.

**Note**: I have also managed to successfully replicated this problem on a colleagues machine using the same `tmux` and `node` version and following the instructions in the description.

Also as a side not

[2017-01-23 22:44] fantasticsid opened #8484 "Auto updater crashes"
* Electron version: 1.4.12
* Operating system: MacOS

### Expected behavior

Auto updater should not crash
### Actual behavior
Got a crash report saying the auto updater's QuitAndInstall() crashed

### How to reproduce

Operating system: Mac OS X
                  10.12.2 16C67
CPU: amd64
     family 6 model 70 stepping 1
     8 CPUs

GPU: UNKNOWN

Crash reason:  EXC_BAD_ACCESS / 0x0000000d
Crash

[2017-01-23 23:21] dcrousso opened #8485 "Clipboard unable to copy GIFs"
* Electron version: 1.3.3
* Operating system: macOS 10.12.3 Beta (16D30a)

### Expected behavior
The image is copied to the clipboard such that pasting into Messages or TextEdit will paste the actual GIF

### Actual behavior
Something is copied to the clipboard, but it appears as a space character `" "` when pasted into TextEdit.

### How to reproduce
Execute the following from inside a "click" ev

[2017-01-23 23:43] baconface commented on #8485
Are you trying to copy the gif as a buffer or HTML markup? The reproduction example doesn't appear to like it would paste an image because the contents is an HTML string. I believe the API you are looking for is [clipboard.readImage](https://github.com/electron/electron/blob/master/docs/api/clipboard.md#clipboardreadimagetype).

[2017-01-23 23:46] baconface commented on #8485
Are you trying to copy the gif as a buffer or HTML markup? The reproduction example doesn't appear like it would paste an image because the contents is an HTML string. The applications you are pasting to might be looking for a buffer and not markup. I believe the API you are looking for is [clipboard.writeImage](https://github.com/electron/electron/blob/master/docs/api/clipboard.md#clipboardwritei

[2017-01-24 00:02] gerhardberger commented on #8392
It is up to the Chromium renderer to generate the frames that are emitted in the `paint` callback. There are usually frames where the website not fully rendered, but I think it generates these frames to show content as quickly as possible.

I was able to avoid these initial white frames by setting a flag in BrowserWindow's `ready-to-show` event, to only handle paint events when that event happened

[2017-01-24 00:13] kevinsawicki commented on #8485
GIFs cannot be directly saved on the clipboard API yet as images, subscribe to #5078 for updates on that.

[2017-01-24 00:17] dcrousso commented on #8485
@baconface would `clipboard.writeImage` work with a remote URL?  Like something from **imgur** or **Giphy**?  I'm not sure how `NativeImage` works, so any advice/pointers would be greatly appreciated.

[2017-01-24 00:23] kevinsawicki commented on #8485
`NativeImage` objects can only be created from a local file or a `Buffer`. So the content would need to be local, either on disk or in memory.

[2017-01-24 01:17] vulture commented on #8392
I tried this instead:
[code]
which did not work. Due to the way I handle paint internally I can't actually use a js var 'ready' like that. If there is not a real solution in Electron itself and Chromium is to blame, I have a different hacky solution I guess I can use, but it is not optimal.

[2017-01-24 01:42] vulture commented on #8392
Okay turns out this seems to work pretty well. Due to how I was handling the paint event I actually needed to emulate the ready-to-show a different way (internal to Electron's code). I haven't been able to repro the issue since using this fix, and it seems to work normally otherwise, so I would consider this a working workaround. Ideally OnPaint wouldn't get called in the first place without a val

[2017-01-24 02:29] antonycourtney commented on #8481
@kevinsawicki Thanks

[2017-01-24 02:30] marshmellow1328 commented on #8470
After looking at it more, I'm pretty sure this is a disconnect in @types versions. I've been using @types/electron v1.4.31 and @types/node v4.0.30. In @types/node v4.0.30, NodeJS.EventEmitter is an interface, not a class. After changing to @types/node v6.0.61, NodeJS.EventEmitter is a class. Do you know where I should be asking questions related to @types/electron, how it relates to @types/node, a

[2017-01-24 02:52] KagamiChan commented on #8470
I think #4875 may help you

[2017-01-24 04:58] leethomas commented on #8426
As a workaround, you can call
[code]

[2017-01-24 06:26] rico345100 commented on #8419
@dkfiresky  Yes, I am. How can I use a self-signed certificate on Electron? Could you tell me some more details?

[2017-01-24 06:45] f111fei opened #8486 "<select/> popup location is incorrect when enable device emulation"
* Electron version: v1.4.15
* Operating system: windows7

### Expected behavior

Run in electron v1.3.9

![ok](https://cloud.githubusercontent.com/assets/7069719/22236870/585afdd2-e243-11e6-8c4a-1c87462b3ead.gif)

### Actual behavior

Run in electron v1.4.x

![error](https://cloud.githubusercontent.com/assets/7069719/22236880/6089a346-e243-11e6-9ff0-7a3d1e905cba.gif)

### How to reproduce

Here is

[2017-01-24 06:48] MarshallOfSound commented on #8419
@rico345100 If you are using a self signed certificate you need to either add the certificate to the local machines trust store (KeyChain Access on macOS) or allow the certificate with the `certificate-error` event.

http://electron.atom.io/docs/api/app/#event-certificate-error

[2017-01-24 08:02] seekwe opened #8488 "BrowserWindow 的frame 为 false的时候isMaximized始终返回false"

[2017-01-24 08:06] bakkiraju commented on #2407
@nickyhajal can you show me how you did it with css ?, I can only animate window contents inside not the window itself. thanks

[2017-01-24 08:08] leethomas commented on #8141
I don't think it's possible to do this. As a result of working on https://github.com/electron/electron/pull/8487, I tried doing absurd things like
[code]

and this is what happened:

![](http://mnch.in/ukCo/ue4wLAMr+)

[2017-01-24 08:09] yggie commented on #8479
Looks like the same problem happens when trying to inspect the `window` object in the development console, not sure if this would be related to the bug above.

[2017-01-24 08:15] sindresorhus commented on #8141
@leethomas Did you enable the `enableLargerThanScreen` option like in my example?

[2017-01-24 09:25] spartucus commented on #8488
兄弟得说英语啊。

I think The Title is :

[2017-01-24 10:38] ci42 opened #8489 "Printing only selected pages fails on Windows"
* Electron version: 1.4.13
* Operating system: Windows 7 - fails, Windows 8.1 - fails, Windows 10 - works only at the first try, subsequent tries fail, OS X 10.11 - works, Ubuntu 16.04 - works

### Expected behavior
When printing selected pages of a web page with electron the selected pages will be printed.

### Actual behavior
The print job hangs in the print job queue until the electron app is c

[2017-01-24 10:40] sivaram636 commented on #8100
Any updates on this?

[2017-01-24 11:11] gerhardberger commented on #8392
Nice, happy to see you got it working!

[2017-01-24 11:11] #8392 closed

[2017-01-24 11:31] shashank7200 opened #8490 "Failed at the electron@1.4.15 postinstall script 'node install.js'."
* NodeJS version: 7.4.0
* NPM version : 4.0.5
* Electron version: 1.4.15
* Operating system: Windows 10

### Expected behavior
Using `npm install -g electron`  in place of `npm install -g electron-prebuilt` should install electron, but it doesn't.

### Actual behavior

While installing electron using `npm install -g electron` ,  `node install.js` throws errors.
### How to reproduce

Error Shows up

[2017-01-24 12:09] chrleon commented on #7815
Any updates on this @CharlieHess?

[2017-01-24 12:12] httpdigest opened #8491 "Global shortcuts will only affect the application even if not focused"
* Electron version: v1.4.15
* Operating system: Windows 7 x64

### Expected behavior

Registering global shortcuts should only affect the current application instance.

### Actual behavior

Registering a global shortcut on (for example) Ctrl+R while having a normal Chrome application (55.0.2883.87 m (64-bit)) in focus/foreground, will always affect the electron application and not the normal Chrom

[2017-01-24 12:17] httpdigest commented on #8491
Just now I found out about https://www.npmjs.com/package/electron-localshortcut which solves this problem for me.

[2017-01-24 12:26] MarshallOfSound commented on #8491
@httpdigest `electron-localhost` in my personal opinion is not a good solution to your issue.  The core thing to understand here is that the `globalShortcut` API is by definition "global".  I.e. The shortcut will work from any application "globally" on the users machine and it will prevent the normal key events from being used.

If you want to listen for shortcuts only when a given window is in fo

[2017-01-24 12:26] #8491 closed

[2017-01-24 12:28] MarshallOfSound commented on #8490
`ETIMEDOUT` means you experienced some network issues, simply trying again should resolve your issue.  The network issues are out of `electron` and `electron-download`'s control 😢

[2017-01-24 12:28] #8490 closed

[2017-01-24 12:29] httpdigest commented on #8491
Alright. Thanks for the detailed explanation and mentioning the alternatives!

[2017-01-24 12:45] shashank7200 commented on #8490
Thanks, its resolved now! 🚀

[2017-01-24 13:18] mz2 commented on #7224
@zcbenz could you elaborate, please, if only to point me at the most relevant documentation? What I believe I am having an issue with is the dialog not being able to talk back with the main window. Is that something that is specifically disabled in Electron?

[2017-01-24 13:43] HitomiTenshi commented on #8454
It bugs me that the resize border is inset when creating a frameless window. I have to set non draggable borders around the resizable area, to keep the resize functionality. Shouldn't frameless work exactly the same as `resizable: false`, just with the actual resize functionality? Maybe that's why it keeps oversizing...

Try using this:

in index.js:

[code]

in some css file:
[code]

You will not

[2017-01-24 14:12] xxsnail opened #8492 "Support setting numeric options from webpreferences attribute"
Hello everyone, ask a question:
        How to set the minimumFontSize property to webview ?
        like BrowserWindow ,webPreferences.minimumFontSize

[2017-01-24 14:52] lightswitchr commented on #8384
I would like to see this implemented, however I assume [the balloon notifications](http://electron.atom.io/docs/api/tray/#traydisplayballoonoptions-windows) do work on Windows 7?

[2017-01-24 16:00] mneuhaus opened #8493 "NTLM does not work in the net module"
* Electron version: 1.4.15
* Operating system: Windows 7 Professional x64

### Expected behavior

I'm trying to create an app, that needs to communicate with an api, that is protected by a IIS Active Directory SSO.

When i try to open the protected url in a BrowserWindow like this:

[code]

it opens the without a problem.
**But** if i try to to make a request using the net module like this:

[code