[2017-03-29 05:21] VPageDevelopment commented on #9050
I find a solution myself and the real problem is I had a folder called electron and I try to install electron inside an electron folder i.e like this C:\Users\codepanda\Desktop\electron\ims\ .. to overcome this create a folder called electronIms on my desktop and then I install electron successfully... Thanks

[2017-03-29 06:21] enlight commented on #9050
Closing since the OP has resolved his issue.

[2017-03-29 06:21] #9050 closed

[2017-03-29 06:39] aredfox commented on #6219
I think it is needed, but it also depends on the technologies involved in your electron app..
e.g. angular + electron, react + electron etc..
this complicates things, and the styleguide as such should be agnostic to the specifics of the other tech-styleguides I think...

[2017-03-29 06:56] ckristhoff commented on #9040
yep, I put the next code in my main.js
`function createWindow () {
  // Create the browser window.
  mainWindow = new BrowserWindow({icon: 'img/icon.ico', width: 1024, height: 768 , maximizable : true, minWidth : 1024 , minHeight : 768,  title : 'My App'})

  // and load the index.html of the app.
  mainWindow.loadURL(url.format({
    pathname: path.join(__dirname, 'www/index.html'),
    protocol:

[2017-03-29 08:00] Blindkiller12 opened #9051 "Console.log doesn't work in windows 8.1"
Hello,

When I do a `console.log('Hello');` in my index.js and I start my project with `electron . --enable-logging`. I've set `ELECTRON_ENABLE_LOGGING` but nothing appear in the windows console.

Thank you

Windows version : 8.1
Electron version : 1.6.2
Node version : v6.10.1
NPM version: 3.10.10

[2017-03-29 08:32] aight8 commented on #5228
If the url is a file download ONLY "did-fail-provisional-load" is emitted. "did-fail-load" NOT anymore!

[2017-03-29 08:53] deepak1556 commented on #9040
@ckristhoff the sample code is bit unclear, can you provide a minimal app to reproduce the issue ? Thanks!

[2017-03-29 09:48] Sukram21 commented on #1120
If someone still stumbles onto this issue - https://github.com/electron/electron/pull/1701 and https://github.com/electron/electron/issues/5866 solve it

[2017-03-29 09:51] gandalius commented on #7779
I have same problem in electron 1.6.2, windows 7 :(

[2017-03-29 09:55] Kulbear commented on #6000
Hi,
I am meeting a similar problem.

[code]

This is my preload script and after I start my application, there is an error log in my console.

    VM90:1 Uncaught SyntaxError: Invalid or unexpected token

And I clicked it, it shows

![image](https://cloud.githubusercontent.com/assets/14886380/24449054/bf054fb4-14a8-11e7-9554-90648e7d1edb.png)

Would you please help me to figure it out, I am confus

[2017-03-29 10:57] cra0zy commented on #2927
Extra info, chromium/google chrome dev channels are using gtk 3 so it's just a matter of time now.

[2017-03-29 11:17] arve0 commented on #2531
Link to current documentation: https://electron.atom.io/docs/api/webview-tag/#event-console-message

[2017-03-29 12:51] tonyganch commented on #9017
I think both this issue and #8454 should be closed as duplicates of #8728, because the latter one has a longer discussion plus an open PR.

[2017-03-29 12:54] mcg commented on #9046
Possibly related Ubuntu bug https://bugs.launchpad.net/ubuntu/+source/unity/+bug/1629251

[2017-03-29 14:19] secondfry commented on #6634
You can't currently use `electron-inspector` with latest version of `electron-rebuild` (and this won't be reflected in docs as per #9045), so this should probably be done instead of refactoring `electron-inspector`.

[2017-03-29 17:15] Cphilo opened #9055 "Install electron fail on ubuntu 14.04"
* Electron version: 1.6.2
* Operating system: Ubuntu 14.04.5 LTS
* node verstion: v7.8.0
* pm version: 4.4.0

I install electron fail.

vagrant@vagrant-ubuntu-trusty-64:~$ npm install electron --save-dev

/home/vagrant/node_modules/electron/install.js:46
  throw err
  ^

Error: socket hang up
    at TLSSocket.onHangUp (_tls_wrap.js:1120:19)
    at Object.onceWrapper (events.js:293:19)
    at emitN

[2017-03-29 17:17] Cphilo commented on #9055
Add the log attachment link: https://gist.github.com/Cphilo/c0404ecef2a991cd5387b2dfefb788d3

[2017-03-29 17:30] auchenberg commented on #6634
@deepak1556 Have you had time to look into a PR? Need any help?

[2017-03-29 19:31] #2814 closed

[2017-03-29 19:54] JonMarbach commented on #9051
Same or similar issue to https://github.com/electron/electron/issues/6946 but really annoying (and hurts productivity.) Maybe we can get someone's attention on this...?

[2017-03-29 20:41] dakrawczyk opened #9056 "Native Wayland Compatibility"
Hello,

I am wondering if there are plans to introduce Electron with native Wayland compatibility (not x-wayland). Or if it already exists using something like [Chromium's Ozone](https://github.com/01org/ozone-wayland.git)

We are running electron on a samsung module that has hardware GPU acceleration provided by MALI drivers, which supports only wayland, and not X11 or X-Wayland.

[2017-03-29 21:54] ckristhoff commented on #9040
Hi, there is a repo with demo project
https://github.com/ckristhoff/demo-electron-leaflet
On vpn with proxy the image does not load.

[2017-03-29 22:33] timfish commented on #4322
Platform: Windows 10
Version: 1.4.14

This has started happening the first time I open any dropdown after starting my app and I'm not using any `<audio>` tags. I'm not sure what change started the behaviour.

[2017-03-29 23:08] bcomnes opened #9058 "Make electron version available in childProcess.fork"
* Electron version: 1.6.2
* Operating system: macOS / All

In efforts to solve https://github.com/electron/electron/issues/8727 for `node-pre-gyp`, I need to find out which version of electron called `childProcess.fork` when testing for `process.env.ELECTRON_RUN_AS_NODE` in order to help pick out the correct bindings for `node-pre-gyp`.

The version of electron doesn't show up in `process.versions

[2017-03-29 23:27] kevinsawicki commented on #9058
It is not

Yeah, should be straight-forward. One concern with setting `process.versions.electron` would be breaking any libraries out there that are assuming a full Electron environment when this is available which wouldn't be the case with forked processes.

The code to expose variables to a forked process is in https://github.com/electron/electron/blob/57edc28b0d26934aba91a903f549188ea3e7c48f/at

[2017-03-29 23:28] pmoleri opened #9059 "Compile against v1.6.2 produces linking error"
* Electron version: 1.6.2
* Operating system: Windows 10

### Actual behavior

I get this error compiling `electron-edge` against `v1.6.2`
[code]

### Attempt to identify the cause
`utils.cpp` includes `v8.h`, which has a reference to `PrivateData` type, but it seems that iojs.lib doesn't have a definition for it.
`v8.h` file comes from the headers tarball: https://atom.io/download/electron/v1.6.2

[2017-03-29 23:29] bcomnes commented on #9058
Would it be better to overload ELECTRON_RUN_AS_NODE with the version number? Or add a new ENV var with the electron version number?

[2017-03-30 00:14] bcomnes commented on #9058
Looking through the C++ now.  Its a bit over my head.  Any tips or examples of how I might achieve this?

[2017-03-30 01:16] pfrazee commented on #8737
I'm +1 emulating the Chrome behavior for Webviews. It looks like, right now, a webpage can block navigations away using:

[code]

[2017-03-30 02:08] setpixel commented on #9029
Just to +1, I would love this. Generating pdfs and printing them cross platform would be great, as printing support via css is, you know, very :/

[2017-03-30 02:17] highalps opened #9060 "[Help]instance of FormData result false in electron"
* Electron version: 1.4.6
* Operating system: mac OS Sierra 10.12.2

### Expected behavior

when sending formData  like this

[code]

and post method look like (using typescript)

[code]

in web, if statement result true.
so i expected true in electron, but false

### Actual behavior

web : instanceof FormData // true
electron: instacneof FromData // false (expected true)

[2017-03-30 04:11] MarshallOfSound commented on #9060
Admittedly tested this on `1.4.13` but I can't repro this issue, can you provide code that has this issue to test with please 👍

<img width="912" alt="screen shot 2017-03-30 at 3 10 08 pm" src="https://cloud.githubusercontent.com/assets/6634592/24487414/065a3d04-155b-11e7-881d-9bc5bcbc49ac.png">

[2017-03-30 06:38] highalps commented on #9060
@MarshallOfSound

thk, but that is not what i mean
post method using typescript like this

[code]

when function received FormData as parameter,  web(Chrome, Safari..) logging "FormData, true". but debugging in electron,  logged "FormData, false"

problem is occurred when using console.log in source code not only using Development tool's Console.

though I am poor at English, thank you for reading

[2017-03-30 07:28] zcbenz commented on #8993
How does everyone think of skipping 57 and upgrading to 58 instead? The Chrome 58 is only about 4 weeks to be stable.

[2017-03-30 09:30] Booligoosh commented on #4465
@Oceanswave When I try the `const powerSaveBlocker = require('electron').powerSaveBlocker;` it says it's undefined. Any idea why this is?

[2017-03-30 11:29] astoilkov commented on #8960
@xaviergonz Can you share the link to the Chrome bug you created so I could start it and follow its progress?

[2017-03-30 12:35] limpkin commented on #6937
would anyone know if there's a node wrapper (or electron support) for chrome.hid indeed?

[2017-03-30 13:27] lmacsen opened #9061 "Electron Crash on MacOS 10.10"
* Electron version: * (any)
* Operating system: MacOS

### Expected behavior

Working

### Actual behavior

Crash

### How to reproduce

Double click

![p_20170330_162209](https://cloud.githubusercontent.com/assets/5254808/24506269/9b9ccc9c-1565-11e7-8ec6-f534e8858ac2.jpg)

![p_20170330_150115](https://cloud.githubusercontent.com/assets/5254808/24506282/a34775b4-1565-11e7-8f6c-932563cbbdc1.jpg)

!

[2017-03-30 14:02] #9061 closed

[2017-03-30 14:36] bbondy commented on #8993
If it helps speed it up, we've done upgrades to C57 and C58 beta already
https://github.com/brave/muon/tree/chromium57
https://github.com/brave/muon/tree/chromium58

I assume a lot can be cherry-picked.

Could I ask when something > C53 will be an official release instead of pre-release? Or is everyone just running off of pre-releases these days?

[2017-03-30 14:44] andreyorst commented on #8455
Manjaro plasma 5.9.3. Global menu is clickable at some times. If you will rapidly clicking continuously it will open at some moment, but actions are not usable at all.

This makes any electron app absolutely unusable. Is there any chance of fix? I don't want to turn globalmenu off, but i need those electron apps. Possible workaround is to open app from different user, which don't have globalmenu s

[2017-03-30 14:48] jsnar commented on #8993
At least the FAQ document should be fixed. It creates incorrect exceptions. It should reflect the fact that Electron skips Chromium releases and delay longer than 2 weeks.

[2017-03-30 14:52] gjajoo commented on #8256
It should be possible to keep track of z-order by maintaining a list of windows and always moving the one in focus to the top. Whatever order the list is in at any given time is the z-order unless there's some magical way in the api to change the z-order.

[2017-03-30 14:53] pfrazee commented on #8871
I'm getting these pretty frequently on a /somewhat/ complex webapp inside beaker, the editor app. It's served over a custom standard protocol (beaker://editor/) which is handled as via http responses (registerHttpProtocol). The frontend of the app uses workers, but the crash happens so fast on navigation to beaker://editor/ sometimes, Im not convinced the workers ever get involved.

Reproducing wi

[2017-03-30 14:55] pfrazee commented on #8871
What's the best COA? Do I need to start running Electron with debug symbols and wait for another crash?

[2017-03-30 15:02] frankhale commented on #8993
@jsnar to piggyback off of fixing the FAQ the Node section should also be updated.

Node 7.4 was released in January and we are a long way from a one month upgrade. This has happened in the past as well. It would be extremely nice to have a one month turn around but this just hasn't been the case.

[2017-03-30 15:31] deepak1556 commented on #6634
@auchenberg with the initial work there were some test failures, mostly because of my misuse of `v8::Platform` , didn't manage to look into it after that. Things have changed much with the `v8_inspector` to embed easily, it has been made available as a standalone library so most of the patches in my version shouldn't be required. It will take time before I work on PR, so feel free to work on this.

[2017-03-30 15:54] alexmccabe commented on #4906
I'm still having this issue, all I get is the status `spooling`.

[2017-03-30 16:28] fluency03 opened #9063 "Module parse failed. Unexpected character '#'."
* Electron version: `^1.3.1`
* Operating system: OSX

### Expected behavior

I would like to write some unit test. But encountered the following error.

I seems like `require.context` is not able to parse the part `#! /usr/bin/env node` by:

    const srcContext = require.context('../../app/src/renderer', true, /^\.\/(?!main(\.js)?$)/)

 However, this is within a `node_modules`. But `node_modules`

[2017-03-30 17:24] SCProductions opened #9064 "Unexpected Token - Raspberry Pi 3/Raspbian"
* Electron version: 1.6.2
* Operating system: Raspbian

### Expected behavior

Electron should start and show it's usual "drag your app/web-page here" window.

### Actual behavior

Electron might start, and then on every attempt after the next reboot, just fails to run with exit code: 1.

On navigating to the binary itself, in node_modules/electron/dists/

And running node electron (because I know

[2017-03-30 18:04] #9063 closed

[2017-03-30 19:49] kevinsawicki commented on #8993
Electron 1.6.2 is an official release against Chrome 56.

[2017-03-30 20:27] cifratila commented on #8993
@zcbenz I would go for upgrading directly to Chromium 58 and skip the 57 one.

[2017-03-30 21:02] #6124 closed

[2017-03-30 23:29] bbondy commented on #8993
I see thanks, I was confused by this Latest Release tag (because it was published after the 1.6.2 one):

<img width="440" alt="screenshot 2017-03-30 19 26 36" src="https://cloud.githubusercontent.com/assets/831718/24530267/df40de98-157e-11e7-8e6e-9b275eba29cb.png">

[2017-03-31 00:13] embluk commented on #1484
Does anyone know of any decent projects which support basically what Electron does but instead of Node.js it used PHP. So basically a native stack using HTML/CSS/JS and PHP?

I see that you've got PHP sort of running with Electron but I would rather use an app built to work with PHP rather than have anything Node related.

[2017-03-31 02:23] radencode opened #9070 "Built for node v6.5.0"
I cannot build electron for node v6.5.0, it always comes out to be node v7.4.0.0 How can I build it for v6.5.0?

[2017-03-31 02:37] radencode commented on #9059
@pmoleri  I get the error `Uncaught Error: The edge module has not been pre-compiled for node.js version v7.4.0. You must build a custom version of edge.node.`

How can I fix that?

[2017-03-31 02:46] pmoleri commented on #9059
You can ignore that. I think it's a post install validation to let you know you should build manually, which is what we want to do.

We could build from source repo, but for repro steps I thought this would be simpler like this, given that the npm package has the necessary pieces to build.

In the end you should get the linking error I posted.

Thanks for looking into this.

[2017-03-31 03:14] JonMarbach commented on #4241
@zcbenz Please don't link to resedit.net. The installers there are infected with malware... I know because I've been trying to clean up my machine after following your link above. (See https://github.com/electron/electron/issues/4357 as well)

[2017-03-31 03:21] kazkondo opened #9071 "Can not use node_module using C++"
The latest Node.js version is 7.7.4 and the NODE_MODULE_VERSION is 51.
But the latest Electron build with NODE_MODULE_VERSION 53 option so we get error when we try to use node modules with C++ module. The latest Node.js version is 7.7.4 and the NODE_MODULE_VERSION is 51, that means there is no way to make Electron application with C++ node modules.

* Electron version: 1.6.2
* Operating system: ma

[2017-03-31 03:22] radencode commented on #9059
@pmoleri yeah this may not be related to this issue but how do I use electron-edge with node v7.4.0. That's what I need?

[2017-03-31 04:18] #9071 closed

[2017-03-31 04:18] kazkondo commented on #9071
I can fix by doing ./node_modules/.bin/electron-rebuild -v 1.6.2

[2017-03-31 04:31] aight8 opened #9073 "executeJavaScript does not work in sandbox mode"
* Electron version: 1.6.4
* Operating system: macOS

### Expected behavior

executeJavaScript should return the result in callback or resolve/reject the promise
It works in not-sandbox mode

### Actual behavior

The callback is never called. The returned promise is never resolved

### How to reproduce

In did-finish-load:
[code]
or
[code]

Same if the js code is a promise or some other value.

[2017-03-31 06:34] sedwards2009 commented on #8993
I had a look at the releases page the other day and saw 1.6.2 without a beta tag. It was in the middle of a sequence of 1.6.x betas, and I just assumed that someone had forgotten to mark 1.6.2 as being a beta too.

In other words, the new stable release was not communicated very well. (But I'm still happy to hear that there is a stable release!)

[2017-03-31 07:07] enlight commented on #8993
@sedwards2009 The latest stable release can be found on the front page of https://electron.atom.io/

[2017-03-31 07:46] jorangreef commented on #4241
I have a version of ResEdit from 2015. I scanned it today with ClamAV and it was clean. I see that Chrome now blocks the download page for resedit.net (I wanted to scan the newer binaries there).

Do you know when the trojan was introduced into ResEdit? Any alternative you would recommend?

[2017-03-31 07:49] jorangreef commented on #4357
I have a version of ResEdit from 2015. I scanned it today with ClamAV and it was clean. I see that Chrome now blocks the download page for resedit.net (I wanted to scan the newer binaries there).

Does anyone know when the trojan was introduced into ResEdit (and by who/how)? Any alternative you would recommend?

[2017-03-31 08:20] xiangkaiy commented on #8842
Solved~ For electron-quick-start, Just need to add ElectronTeamID to the info.plist.

[2017-03-31 08:20] #8842 closed

[2017-03-31 10:01] Georgi87 commented on #3226
Our team is looking into this issue to allow the use of hardware wallets with electron apps. Please contact me if you are working on this too to evaluate the current state of development.

[2017-03-31 11:42] TimvdEijnden commented on #8828
I was hoping this would be fixed in the next 1.6.x version. @zcbenz maybe you can help me getting this solved?

[2017-03-31 12:12] oukan commented on #8862
Electron version: at least 1.6.2
Operating system: Windows 7
Also have this problem

[2017-03-31 13:42] pmoleri commented on #9059
@radencode , for node use `edge` module, not `electron-edge`. Then [install and configure node-gyp](https://github.com/nodejs/node-gyp) and follow [edge build instructions](https://github.com/tjanczuk/edge#building-on-windows).

Please, let's keep this issue about electron linking problem.

[2017-03-31 13:45] radencode commented on #9059
@Pmoleri I tried to replicate your issue but I am not getting your error.
Are you still getting it? For me it worked.

On Fri, Mar 31, 2017 at 6:43 AM pmoleri <notifications@github.com> wrote:

[2017-03-31 14:51] JonMarbach commented on #4241
@jorangreef According to this, the  downloads have been infected on and off over the past few years:
https://www.mywot.com/en/forum/51496-resedit-net-gone-rogue

There probably is a safe version available from somewhere else, but I haven't searched yet.

[2017-03-31 15:11] pmoleri commented on #9059
Hi @radencode,
Yesterday I switched my PC to a new one. Now I can't reproduce the issue, I guess something was wrong in my old PC.
Thanks, I'll close the issue now.

[2017-03-31 15:11] #9059 closed

[2017-03-31 15:16] radencode commented on #9059
Hello @pmoleri
Okay I'm glad you fixed and thank you very much for helping me fix my issue
eventhough it wasn't related to yours.
On Fri, Mar 31, 2017 at 8:12 AM pmoleri <notifications@github.com> wrote:

[2017-03-31 16:15] davydka commented on #2170
I was having this issue as well on 1.6.2. Using Electron 1.4.14 solves it. I'm running Xbuntu 14.04.

[2017-03-31 16:58] crownemmanuel commented on #1484
@embluk you can try this havnt used this personally myself
https://github.com/cztomczak/phpdesktop

[2017-03-31 17:55] eduardodallmann opened #9075 "Minimize is not a function"
* Electron version: v1.3.14
* Operating system: windows 10, v1607, build 14393.953

I hid the title bar of the system and created a my title bar.
`frame: false`

The close button works.
` var remote = require( 'electron' ).remote;
 var window = remote.getCurrentWindow();
$( "#bx" ).on( "click", function () {
	window.close();
} );`

But the minimize button does not work.
`$( "#bm" ).on( "click", fu

[2017-03-31 18:01] abarajasmdo commented on #303
The solution from art-ist has worked for me for some time.
I tried to use the https://github.com/paulmillr/chokidar on my project to track the usage of a specific folder, and it breaks... due to the require inside the chokidar.
I'm investigating a work-around, but I havent found it.

I believe that I will need to have to modify my requirejs and use another alternative.

[2017-03-31 18:33] tejohnso opened #9077 "Not allowed to load local resource in onBeforeRequest redirect"
* Electron version: 1.6.2
* Operating system: Linux 4.10.6-1-ARCH

### Expected behavior

onBeforeRequest handler should redirect remote url request to local html file

### Actual behavior

Not allowed to load local resource

### How to reproduce
[code]

[2017-03-31 20:48] nathansobo opened #9078 "Render process is consistently crashing when continuing after pausing at a break point"
* Electron version: 1.6.4
* Operating system: macOS 10.12.3

### Expected behavior

App does not crash.

### Actual behavior

App crashes

### How to reproduce

* Set a breakpoint in any code in the [branch of Atom running on Electron 1.6.4](https://github.com/atom/atom/pull/12696).
* Step to next line or continue.
* 💥

### Example Crash Dump

[code]

[2017-03-31 20:58] nathansobo commented on #9078
Sorry, looks like 1.6.5 has fixed this crash.

[2017-03-31 21:06] kevinsawicki commented on #9075
Are you able to provide an example app that reproduces this behavior? I'm unable to reproduce this from the Console tab of the dev tools:

[code]

[2017-03-31 21:10] kevinsawicki commented on #9070
The version of node included with Electron is built via the `vendor/node` submodule in this repository.

Node is upgraded when Chrome is upgraded so that they use the same v8 versions and are compatible with each other. You may experience issues if trying to use a different node version than the one Electron is built and tested against.

If you need to build Electron against a different version of

[2017-03-31 21:10] #9070 closed

[2017-03-31 21:12] kevinsawicki commented on #9056
No formal plans, but any pull requests regarding it would be appreciated and reviewed.

[2017-03-31 21:14] kevinsawicki commented on #9055
Looks like a (possibly intermittent) connection issue, are you able to download it directly from https://github.com/electron/electron/releases/tag/v1.6.2 and are you still having this issue?

[2017-03-31 21:15] kevinsawicki commented on #9051
Merging into #6946

[2017-03-31 21:15] #9051 closed

[2017-03-31 21:24] kevinsawicki commented on #9038
I don't think this is possible with the `globalShortcut` module, Electron registers and gets notified when the event happens but it cannot control if the key event still goes to the active application or not.

Closing this out.

[2017-03-31 21:24] #9038 closed

[2017-03-31 21:43] kevinsawicki commented on #9032
Thanks @renambot-uic for the tips, closing this out.

[2017-03-31 21:43] #9032 closed

[2017-03-31 21:44] kevinsawicki commented on #9026
Are you able to try a newer version, like 1.6.2, to see if you still experience the issue?

[2017-03-31 21:45] kevinsawicki commented on #9020
@Lplenka would `app.setBadgeCount` work for you?

https://electron.atom.io/docs/api/app/#appsetbadgecountcount-linux-macos

[2017-03-31 21:47] kevinsawicki commented on #9017
👍 Closing as duplicate of #8728, please subscribe to that issue for updates.

[2017-03-31 21:47] #9017 closed

[2017-03-31 21:48] kevinsawicki commented on #8454
Even though #8728 is newer, I'm going to merge this issue into that one since it has very detailed discussions and a targeted pull request, thanks @HitomiTenshi for all the details you posted here.

[2017-03-31 21:48] #8454 closed

[2017-03-31 21:53] kevinsawicki commented on #9003
@nutakukimochi are you able to provide a small app that reproduces this issue? That would make it easier to investigate and help troubleshoot, thanks.

[2017-03-31 21:55] kevinsawicki commented on #9002
This looks like a duplicate of https://github.com/electron/electron/issues/839, please subscribe to that issue for updates.

[2017-03-31 21:55] #9002 closed

[2017-03-31 22:01] kevinsawicki commented on #8979
The `executeJavaScript` API takes a string parameter so you must pass it valid JavaScript, closing this out. String interpolation runs `toString` on the object which generates invalid JavaScript in this case.

Thanks @binux for the correct usage example.

[2017-03-31 22:01] #8979 closed

[2017-03-31 22:03] kevinsawicki commented on #8975
@astoilkov do you know the last version this worked for you in?

[2017-03-31 22:13] kevinsawicki commented on #8967
This is application specific, access keys are supported to the `dialog.showMessageBox` API so apps could do this:

[code]

That would make `Yes` selectable with `Alt-Y` and `No` selectable with `Alt-N`.

Applications should manage this type of behavior, Electron only provides raw dialog APIs that should be used with good user experience in mind.

👍 Closing out here.

[2017-03-31 22:13] #8967 closed

[2017-03-31 22:15] kevinsawicki commented on #8964
@natearmagost thanks for the solution, closing this out 👍

[2017-03-31 22:15] #8964 closed

[2017-03-31 22:24] kevinsawicki commented on #8918
Yeah, Electron builds on top of the support in Chrome so native node modules are a good way to go to add any additional functionality that builds directly on top of OS APIs.

Closing this out.

[2017-03-31 22:24] #8918 closed

[2017-03-31 22:25] kevinsawicki commented on #8903
@iremlopsum are you seeing the same behavior in standalone Chrome?

[2017-03-31 22:27] kevinsawicki commented on #8893
Closing this out since it seems the original issues seems to be resolved, pull request welcomed to make the errors more clear.

[2017-03-31 22:27] #8893 closed

[2017-03-31 22:31] iremlopsum commented on #8903
@kevinsawicki Nope. standalone chrome works like a charm. Using electron version 1.6.0

[2017-03-31 22:37] kevinsawicki commented on #8903
What version of Chrome did you try? Looks like there are several sticky issues on mac that fixed and still open, https://bugs.chromium.org/p/chromium/issues/list?can=1&q=sticky+OS%3DMac+&colspec=ID+Pri+M+Stars+ReleaseBlock+Component+Status+Owner+Summary+OS+Modified&x=m&y=releaseblock&cells=ids

Can you include a small reproduction example that shows the issue you are seeing? Thanks.

[2017-03-31 22:40] TimNZ commented on #8908
Hey @kevinsawicki,

Who's the awesome person who can help with this?
The issue responding rules aren't clear.

If something works in BrowserWindow and doesn't work in webview, is it safe to initially point finger at Electron, if we have disabled nodeintegration?

[2017-03-31 22:47] kevinsawicki commented on #8908
It really depends, it could be a `<webview>` bug in Chromium or an Electron bug.

Usually we try to reproduce it in a `<webview>` tag in a chrome extension and see if it works there. If it doesn't then we open an issue upstream with reproduction steps that don't involve Electron.

Would you be able to give it a try in a `<webview>` based chrome extension?

[2017-03-31 22:50] TimNZ commented on #8908
Is there a starter kit for me to use to make this easy?

[2017-03-31 22:51] kevinsawicki commented on #8908
Yeah, I usually just install and modify https://github.com/GoogleChrome/chrome-app-samples/tree/master/samples/webview-samples/webview

[2017-03-31 22:52] TimNZ commented on #8908
Sweet.

Will give it a go today.

Thanks.

[2017-03-31 23:36] TimNZ commented on #8908
Broken in webview in Chrome app.  Other Inbox wrappers have the same problem.

Likely won't get anywhere given Google's dropping of Chrome Apps, but will post into Google forums and see if I get anywhere.  Might also play with user agent strings.

[2017-03-31 23:36] #8908 closed

[2017-03-31 23:44] kevinsawicki commented on #8833
@nripendra are you still experience this or can it be closed out?

[2017-03-31 23:46] kevinsawicki commented on #8386
@astoilkov thanks for checking, closing this out

[2017-03-31 23:46] #8386 closed

[2017-03-31 23:48] kevinsawicki commented on #7553
Closing this out until more information is available.

[2017-03-31 23:48] #7553 closed

[2017-03-31 23:49] kevinsawicki commented on #8044
Closing this out until more information is available.

[2017-03-31 23:49] #8044 closed

[2017-03-31 23:50] kevinsawicki commented on #8387
Closing this out until more information is available.

[2017-03-31 23:50] #8387 closed

[2017-03-31 23:50] kevinsawicki commented on #8361
Closing this out until more information is available.

[2017-03-31 23:50] #8361 closed

[2017-03-31 23:52] kevinsawicki commented on #8245
Closing this out until more information is available.

[2017-03-31 23:52] #8245 closed

[2017-04-01 00:14] kevinsawicki commented on #8276
Closing this out until more information is available.

[2017-04-01 00:14] #8276 closed

[2017-04-01 00:16] kevinsawicki commented on #8875
Closing this out since it doesn't look like their are native APIs to handle this on Windows.

[2017-04-01 00:16] #8875 closed

[2017-04-01 01:41] Lplenka commented on #9020
@kevinsawicki  Thanks! for responding.
Sorry but `app.stBadgeCount` doesn't work. It has been mentioned in the docs that it requires `Unity Launcher` which I don't have.

[2017-04-01 02:36] Lplenka opened #9081 "EPERM Rename Error"
Electron version: 1.4.15
Operating system: Windows 10

`const conf = new Configstore('AppName-Desktop')

 	win.on('resize', function () {
		const size = this.getSize();
		conf.set({
			width: size[0],
			height: size[1]
		});
	});

	// on osx it's 'moved'
	win.on('move', function () {
		const pos = this.getPosition();
		conf.set({
			x: pos[0],
			y: pos[1]
		});
	});
`

### Expected behavior

The

[2017-04-01 02:39] MarshallOfSound commented on #9081
This won't be an issue with Electron persay, it could be any number of things stopping the rename occurring.  If any other process has a file lock on that file then it won't be permitted.

The most common causes are AV programs or even your own code attempting to read from the file while attempting to rename it.  If you use a module like `fs-extra` it will be nice and retry a few times in case it'

[2017-04-01 02:39] #9081 closed

[2017-04-01 02:54] nripendra commented on #8833
Yes, please this can be closed

On 01-Apr-2017 5:30 AM, "Kevin Sawicki" <notifications@github.com> wrote:

[2017-04-01 03:03] #8833 closed

[2017-04-01 03:06] Lplenka commented on #9081
I am using [configstore](https://www.npmjs.com/package/configstore) npm package to store my app data.
fs is nowhere used.

[2017-04-01 03:15] MarshallOfSound commented on #9081
@Lplenka `configstore` uses `fs` behind the scenes.  It actually appears to already use a wrapper `graceful-fs`.

https://github.com/yeoman/configstore/blob/master/index.js#L4

[2017-04-01 03:19] Lplenka commented on #9081
@MarshallOfSound  Thanks! just saw that, But any possible solution you can suggest to remove this error.
This error doesn't appear in Mac or Linux. Only happens in Windows 😞

[2017-04-01 06:43] otakustay opened #9082 "Issue with keyup event handling and popclip app interference"
* Electron version: 1.4.13
* Operating system: macOS 10.12.4

### Expected behavior

No event reported in console

### Actual behavior

2 keyup events reported in console (C and Meta)

### How to reproduce

1. Have [popclip](http://pilotmoon.com/popclip/) installed and enabled
2. Clone repository: `git clone https://github.com/otakustay/electron-quick-start.git -b popclip-issue`
3. Run app: `elect

[2017-04-01 08:48] matthiasg commented on #861
with electron 1.6.4 i still get a white splash on windows 10. Is this supposed to be solved ?

[2017-04-01 09:30] dongxiansuixin commented on #6437
It's disappointing to know that such a bug hasn't been fixed, and the time has been so long that bot added the wontfix label.

[2017-04-01 10:05] rreimann commented on #8993
Is there a reason why [chromium_src](https://github.com/electron/electron/tree/master/chromium_src)  utilises duplicated/modified sources to adapt chromium code instead of using patches like libcromiumcontent does?

I'm asking because while working on #9044 i noticed several deviations between the original sources for [Chromium 56.0.2924.87](https://chromium.googlesource.com/chromium/src.git/+/56.

[2017-04-01 10:26] jorangreef commented on #4241
Thanks @JonMarbach

[2017-04-01 10:37] charandas commented on #303
If this is not too limiting for your usecase:

[code]

[2017-04-01 11:12] saschagehlich opened #9083 "Rendering weird dark rectangles when hardware acceleration is enabled"
* Electron version: 1.4.15
* Operating system: macOS Sierra 10.12.3

### Expected behavior

The app should render a red dot on a flat dark grey background:

![screenshot 2017-04-01 13 11 44](https://cloud.githubusercontent.com/assets/119684/24578248/c69656fc-16dc-11e7-8883-2cd73a17be6f.png)

### Actual behavior

With hardware acceleration enabled, the app renders a darker rectangle around the red

[2017-04-01 11:20] saschagehlich commented on #9083
Multiple of #7304

[2017-04-01 11:20] #9083 closed

[2017-04-01 13:20] eduardodallmann commented on #9075
Apparently when I changed the name of the 'window' variable everything worked, I think 'window' was a constant somewhere.

Thanks

[2017-04-01 13:20] #9075 closed

[2017-04-01 14:28] bpasero commented on #9000
This is https://github.com/electron/electron/issues/7304

[2017-04-01 15:06] kevinsawicki commented on #9000
Merging into #7304

[2017-04-01 15:06] #9000 closed

[2017-04-01 15:10] flying-circus commented on #8667
I just updated to latest electron@beta (1.6.5) supposed to have this fixed but this bug still exists.
Anyone else can confirm?

[2017-04-01 15:11] kevinsawicki commented on #8667
@flying-circus can you include a reproduction example that shows this still happening?

I was testing it out with https://github.com/electron/electron/files/798555/electron-dnd.zip

[2017-04-01 15:32] flying-circus commented on #8667
Thanks for the quick reply.
Your example is half-working. It works if you drop the "drag div" in it, but if I drop a url in it, although it fires the 'drop event', it also navigates to the url. So my quick bet is sth in event.preventDefault isn't working?

[2017-04-01 15:48] samkelly commented on #2170
@davydka I can confirm this issue as well on vanilla Ubuntu 16.04. Switching back to 1.4.14 solves it. Out of curiosity, do you have UI-scaling enabled on your OS? I noticed that when I downgraded back to 1.4.14 the scaling on my whole electron window changed, so maybe this bug is caused by 1.6.2 trying to respect linux ui scaling parameters, but messing up transparency in the process? In my case,

[2017-04-01 16:06] teleclimber commented on #8993
@zcbenz I would love to get an upgrade to Chrome 57 because of CSS Grid. Grid makes creating UIs so much easier. I have been holding off writing features because I want to write their UI with Grid.

Just my 0.02. Thanks.

[2017-04-01 18:26] loramt commented on #8876
I noticed that if i switch my OSX system language from Italian to English the problem goes away. Maybe it's a problem with non-english versions? I'm on OSX Sierra 10.12.4, Electron 1.6.2

[2017-04-01 18:48] 45kb commented on #8876
@kevinsawicki i really think @loramt is right, i also switched my Os language from ita to english and now it works perfectly.

[2017-04-01 18:52] popod commented on #8876
Same for me. With macOS Sierra in French it doesn't work. If I switch to english it works fine !

[2017-04-01 19:07] MaThGo commented on #8876
I'll try this asap, I dont have my machine at hand right now, but system
language is german, so thats probably it.

Am 01.04.2017 8:53 nachm. schrieb "popod" <notifications@github.com>:

[2017-04-01 19:13] nicolas-van commented on #8876
I'm usually using French for my system. I tried to switch to English but the problem still occurs (didn't tried to restart the system, tough)

[2017-04-01 21:41] popey456963 opened #9085 "Better error message for loading non-existent local URLs"
* Electron version: v1.6.2
* Operating system: Windows 7

### Expected behavior

Attempting to load a URL which doesn't exist ("file://${__dirname}/main.html" for example) should return a useful error message.

### Actual behavior

Attempting to load said URL returns an error about not being allowed to open it, "Not allowed to load local resource".

### How to reproduce

Attempt to load any URL th

[2017-04-02 02:08] bpasero opened #9086 "Introduce menu roles for macOS Sierra tabs"
After https://github.com/electron/electron/pull/9052 landed and you can enable native macOS sierra tabs in Electron apps it would be nice if as an application I could control where this menu item goes to:

![image](https://cloud.githubusercontent.com/assets/900690/24583887/72e151ec-170e-11e7-9604-9304f9a895e7.png)

My understanding is that a menu item role could help here? That way I would add a m

[2017-04-02 04:37] astoilkov commented on #8975
@kevinsawicki I don't know. However, if this information is important to you I could manually perform a binary search for the version it started happening.

[2017-04-02 06:55] JOT85 commented on #1130
This would be very nice :)
As @karlkoorna asked, what is the status of this?

[2017-04-02 06:58] koterpillar opened #9087 "Strut properties on X11"
I want to dock an Electron app to a side of (X11) display. To do this, X11 provides [_NET_WM_STRUT](https://specifications.freedesktop.org/wm-spec/wm-spec-1.3.html#idm140130317566832). Can it be exposed in Electron as `window.setStrut` or similar?

[2017-04-02 07:26] TimNZ opened #9088 "webview rendered blank on 1.6.x on OS X"
* Electron version: 1.6.x
* Operating system: OS X 10.12.4

### Expected behavior

Contents of webview are displayed

### Actual behavior

Guest is blank on OS X.
Works fine on Windows 7 x64

### How to reproduce
Run attached example on OS X

This does not appear to be a clone of #8505 as CSS visibility is not touched.

If I do an 'npm install electron@1.4.15' it works as expected.

Hope I'm not d

[2017-04-02 07:32] TimNZ commented on #9088
Yup, something stupid.

Looked like a devtron version mismatch.

[2017-04-02 07:32] #9088 closed

[2017-04-02 07:43] TimNZ commented on #9088
Looks like a conflict with electron-debug, devtron, and 1.6.x.
Though only affecting OS X weirdly.

[2017-04-02 08:34] JOT85 commented on #1130
OK, have have a sort of solution/workaround that allows you to do this.
This probably has issues (probably including security problems), however in my use case everything is fine & as I am only loading local files I am not to bothered about security.
Basically, unpack the electron.asar file using `asar e electron.asar electron`, hop in to the electron/renderer directory & edit the init.js file.
Fi

[2017-04-02 11:50] xaviergonz commented on #8960
@astoilkov I submitted it via chrome menu - help - report an issue, so there's no ticket (AFAIK)

[2017-04-02 12:21] Banou26 opened #9089 "Webview vuejs devtool | plugins problem"
* Electron version: 1.6.2
* Operating system: Windows 10

### Expected behavior
Vuejs devtool should load in a webview with plugins attribute

### Actual behavior
The Vuejs devtool isn't loaded in the `webview` console opened via `webview.openDevTools`, even though it is loaded in the `BrowserWindow `console that contains the webview

![electron_2017-04-02_14-03-42](https://cloud.githubusercontent

[2017-04-02 13:12] lavasblog commented on #2269
How can I send two at the same time?

[2017-04-02 13:34] Lplenka commented on #9081
Found a fix,
Use `electron-config` npm package instead of this. That works perfectly fine :smiley:

[2017-04-02 15:36] paul321 commented on #4380
We have the same issue with Electron 1.6.3, the window goes white for some of our users.

[2017-04-02 16:59] vishalwy opened #9090 "Broken event: page-title-updated"
According to https://github.com/electron/electron/blob/master/docs/api/browser-window.md#event-page-title-updated doing preventDefault() on the event should prevent the title from updating. However due to https://github.com/electron/electron/pull/3645 the event delivery becomes async and calling preventDefault() does nothing.

* Electron version: v1.6.2
* Operating system: Mac OS X 10.12.3

[2017-04-02 17:19] jonathansampson commented on #6996
I came to the same results as @Pablohn26.

https://github.com/brave/browser-laptop/issues/5620#issuecomment-291000212

[2017-04-02 18:26] iw2rmb commented on #8876
Latest nwjs — same error and behaviour .

[2017-04-02 19:43] MaThGo commented on #8876
Tried it, setting System language to Englisch (UK/US, doesn't matter) fixes it.

Note: You've to restart your shell/Terminal to make it work.

[2017-04-02 22:46] anton-kabysh commented on #7779
Have the same trouble.

[2017-04-03 02:06] tkggusraqk opened #9091 "ajax bug"
In the HTML page, call the jQuery Ajax request and operate electron API, for example, minimize the window, close the window, there will be no response. Form is no longer caused by action

[2017-04-03 02:25] FullstackDevsYT opened #9092 ".isMaximized() always returns false even when window is maximized."
* Electron version: v1.6.2
* Operating system: win 10

### Expected behavior
.isMaximized(); should return true

### Actual behavior
.isMaximized(); returns false;

### How to reproduce
[code]

[2017-04-03 05:27] bpasero commented on #9086
Actually there seems to be more roles for tab management we should expose:

![image](https://cloud.githubusercontent.com/assets/900690/24596349/f3830d0a-183e-11e7-9b2d-76f76239b3ab.png)

[2017-04-03 05:53] nicolas-van commented on #8876
Yes, by restarting Terminal it works fine. Thanks for the workaround.

[2017-04-03 09:08] bpasero commented on #8944
Looks like node.js 7.8.0 fixes this. We are currently blocked on this issue for the VS Code adoption and would benefit from a node.js update within Electron if possible.

[2017-04-03 09:10] praveenkumarzoho commented on #5255
I am also facing this above issue in linux ubuntu, it happens when the submenu has more entries than the number of menus in first of the hierarchy.
I think the doubt that the size of the submenu is taken from the size of the parent.
For example,
When I have 4 menu in parent and 6 menu in submenu, For the first 4 submenu the issue will not occur, only if I select 5th or 6th submenu the above issue

[2017-04-03 09:56] MrSaints opened #9093 "Regression in #1562: loading a large image will cause a renderer crash"
* Electron version: 1.6.5
* Operating system: Debian 8.7

### Expected behavior

The page should load without resulting in a renderer crash.

### Actual behavior

Any page with a large image will result in a renderer crash unless enough memory is given.

### How to reproduce

This appears to be a regression in https://github.com/electron/electron/issues/1562 (seeing as the last comment indicates t

[2017-04-03 10:42] JohnAnthony commented on #4906
Same issue here. Rolling back to 1.4.15 worked, but it's a shame to not be using the latest version or manually handle the DLL dependency.

[2017-04-03 11:28] bpasero opened #9094 "macOS Sierra tabs: control if new window opens inside tab group or separate"
* Electron version: 1.6.5
* Operating system: macOS Sierra

If you have a window with native tab bar to the top and you open a new window, it will open as separate window. But if you are in fullscreen mode, that new window will be attached as tab. Would it make sense to have API to force a window to open into an existing tab group or not? This would make it possible to give the user the choice of

[2017-04-03 16:06] arantes555 commented on #8862
Seeing the same issue here, on electron 1.6.2, on a app that does use makeSingleInstance, but only from one of our users. More precisely, what we get is an error on `../net`.
Full error stack (not very informative):
[code]

[2017-04-03 16:33] tex0l commented on #8862
Just completing what @arantes555 has provided, it happened on Win7-64.

[2017-04-03 17:10] mirzadelic commented on #6697
+1, need this too.

[2017-04-03 20:26] CharlieHess opened #9100 "Out of memory during CrashReporterMac::GetUploadedReports"
* Electron version: 1.6.3
* Operating system: macOS 10.12.3

### Expected behavior

`crashReporter.getUploadedReports` should never cause an exception.

### Actual behavior

Calling `crashReporter.getUploadedReports` takes down an IO thread:

<details>

[code]

</details>

### How to reproduce

We have some code in the main process that checks for new reports when the main window is shown:

[code]

[2017-04-03 21:40] antonycourtney commented on #4403
@zcbenz @kevinsawicki Can we please re-open this issue, per my comment above?  I've just had to revert my app from calling `app.makeSingleInstance()` because I don't get open-file events if I do. I will be happy to help provide additional detail or work on a minimal repro if that would be helpful.

[2017-04-03 21:44] kevinsawicki commented on #4403
@antonycourtney can you open a new issue with reproduction steps for what you are seeing?

The original report here did not involve `app.makeSingleInstance` and was a packaging issue so it would be better to open a new issue that is more explicit to the issue you are seeing, thanks.

[2017-04-03 21:45] CharlieHess commented on #9100
Here's another report; different stack but same origin:

<details>

[code]

</details>

[2017-04-03 21:47] antonycourtney commented on #4403
@kevinsawicki Sure thing, will do. Thanks.

[2017-04-03 22:05] CharlieHess commented on #9100
I used the power of https://github.com/kevinsawicki/electron-atos (thx @kevinsawicki) to fill in the first few lines of the report:

[code]

[2017-04-03 22:06] aight8 opened #9102 "FR: Better error reporting for webContents->executeJavaScript"
* Electron version: 1.6.5
* Operating system: OSX

### Expected behavior

**Possible solutions**

- Set a more useful ```filename``` in the throwed error on the window object for identify where it happened (usefull)

- The result/promise is never resolved now. Maybe it should get a callback with error argument and reject the promise exactly in this case?

**Documentation:**

The documentation requ

[2017-04-03 22:47] kevinsawicki commented on #8862
I'm having trouble reproducing this issue exactly on Windows 10 but am seeing one major difference between 1.4.15 and 1.6.5, the `app` `ready` event fires for each instance that is created in 1.6.x while in 1.4.x it is only fired for the first app instance.

Are people who are experiencing this issue listening in their apps to the ready event even when `app.makeSingleInstance` returns `false`?

Th

[2017-04-03 22:47] CharlieHess commented on #9100
Closer inspection shows that thread 14 was the offender, not thread 0. Here's the symbolicated stack from thread 14:

[code]

So we're running out of memory while getting uploaded reports. Anything particularly resource-intensive in this method?

[2017-04-03 23:19] aight8 opened #9103 "allowDisplayingInsecureContent missing in the docs"
allowDisplayingInsecureContent missing in the documentation

[2017-04-03 23:21] kevinsawicki commented on #9103
Where in the docs should this be included? There is a doc for `allowRunningInsecureContent`.

[2017-04-03 23:23] kevinsawicki commented on #9091
@tkggusraqk can you include a sample reproduction app/code that demonstrates the issue you are seeing?

[2017-04-03 23:25] aight8 commented on #9103
Arn't those two different options?

[2017-04-03 23:27] kevinsawicki commented on #9103
This `allowRunningInsecureContent` option was removed in Chrome 56, https://github.com/electron/electron/commit/2e0780308c7ef2258422efd34c968091d7cd5b65

[2017-04-03 23:29] aight8 commented on #9103
Okey then it's solved. If we already here, what's about a options validator? with vjs or so.

[2017-04-03 23:31] #9103 closed

[2017-04-03 23:33] kevinsawicki commented on #9064
What arguments are you passing Electron when you start it?

This type of error could occur if you started electron with a path to a executable file instead of a JavaScript or HTML file.

[2017-04-03 23:34] kevinsawicki commented on #9049
Is the `ready-to-show` event firing? There have been other issues reported about it not firing in certain cases.

[2017-04-03 23:56] SCProductions commented on #9064
In my case, it doesn’t work when run from a node app or when run without arguments.

node electron

I believe that, usually launches an electron window which says “drag your app/html here.” I can’t even get it to do that. It instead produces the errors I provided before.

In the node app I’m working on, we’re launching with:

[code]

I can usually get Electron to work the first time I set up the a

[2017-04-04 00:08] kevinsawicki commented on #9064
This is most likely the issue, you should just run `electron`. `node electron` tries to parse the `electron` executable as a JavaScript file which fails with the error you are seeing.

[2017-04-04 00:21] SCProductions commented on #9064
Ok. What do I have to change in my app to make it work?

In our app, when I do npm start… it fails as well.

From: Kevin Sawicki <notifications@github.com<mailto:notifications@github.com>>
Reply-To: electron/electron <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, April 3, 2017 at 8:08 PM
To: electron/electron <electron@noreply.github.com<mailto:electron@noreply.github.com>>

[2017-04-04 00:23] kevinsawicki commented on #9064
Run `electron` with the path to your app's main JS file as the first argument, or use  https://github.com/electron-userland/electron-packager to package your app up and then just run the executable it generates.

[2017-04-04 00:32] tkggusraqk commented on #9091
@kevinsawicki I have no problem upgrading to 1.6.2, before version 1.4.5, I check the code carefully, follow-up questions and feedback. Thank you。

[2017-04-04 00:34] kevinsawicki commented on #9091
@tkggusraqk so are you still having issues?

[2017-04-04 00:37] tkggusraqk commented on #9091
@kevinsawicki Currently is no problem。

[2017-04-04 00:41] kevinsawicki commented on #9091
Okay, thanks, closing this out.

[2017-04-04 00:41] #9091 closed

[2017-04-04 03:16] preco21 commented on #3647
I can confirm this issue still on latest version of `macOS Sierra 10.12.4` and `Electron 1.6.4`.

[2017-04-04 03:53] tommoor commented on #3647
A workaround for those that are affected by this long standing bug - if you hover the mouse over the top edge of the window until you see a resize cursor and then hold and drag to the side instead of up and down to resize it will let you move the window.

[2017-04-04 07:21] aight8 opened #9106 "Implement chrome headless option"
Please, implement the headless option which is available from chrome version 57.

Reason:
Easier usage for testing and scraping (without the xfb hack)

[2017-04-04 08:39] unional commented on #4875
As I do more work in TS, I start to realize that JSON -> type definition is not as good as type definition -> JSON (I think the same hold true for JSON schema, but need to verify).

The reason is that there are information cannot be represented in JSON compare to a formal type specification language such as TypeScript or Flow.

For example. consider the following:

[code]

While this can be used,

[2017-04-04 10:32] madrzazg commented on #8455
@andreyorst
Hey, about that workaround. Try pasting this in console
ELECTRON_FORCE_WINDOW_MENU_BAR=1 yourApp &
It's probably easier than opening from different user;)

[2017-04-04 11:00] MrSaints commented on #9106
Duplicate of https://github.com/electron/electron/issues/228

[2017-04-04 11:53] tonyganch commented on #9094
@bpasero, could you please try my test repo for that?
I run the app, the main window gets open.
I click the green button to put the window into fullscreen mode, then I click on "Create a new window in a new tab group" and a new fullscreen window appears, not a tab.

[2017-04-04 11:58] KeitIG commented on #9049
`ready-to-show` is firing indeed, otherwise the window would not be shown

[2017-04-04 12:06] hems commented on #2923
@zcbenz this guide works for images and to put images onto Finder, but this issue goes way deeper than that ( unfortunately ).

For instance when dragging an audio file into an audio application it by default won't let you "drop in" the file because it seems there is some issues on communication and the target application might not understand the kind of file that is being dragged over.

@alexbilb

[2017-04-04 12:11] hems commented on #4622
@mattetti / @zcbenz / @bengotow any news on this? i'm also having issues dragging an audio file into audio software, would be great to sort this out. is there any way i could help?

[2017-04-04 12:45] benjaminfresh opened #9107 "Electron does not start on window with no information."
* Electron version: 1.6.2
* Operating system: Windows 10 x64

### Expected behavior
I am new to electron and I have followed the quick start quide https://electron.atom.io/docs/tutorial/quick-start/

Nothing happens when I run the following commands

electron .  (when I installed globally).
.\node_modules\.bin\electron . (when I installed locally)

When i use the following version i get npm error.

[2017-04-04 12:51] MarshallOfSound commented on #9107
@benjaminfresh Running Electron from inside an Electron app (Atom) historically has issues if the terminal emulator is implemented poorly.  (They forget to unset `ELECTRON_RUN_AS_NODE`)

Try from normal command prompt and see what happens 👍

[2017-04-04 13:14] benjaminfresh commented on #9107
OMG. It just worked from the normal command prompt. @MarshallOfSound, thank you very much.

[2017-04-04 13:14] #9107 closed

[2017-04-04 13:19] bpasero commented on #9094
@tonyganch good test case! Here are the problems I can see:
* I can avoid having a window open as tab when in fullscreen by using a different tab identifier but then this new window can never be grouped together as a consequence which seems weird
* I can not force a new window to open in the same tab when I am not in fullscreen mode

So imho it boils down to having a way of telling a new window to

[2017-04-04 13:21] bpasero commented on #9094
Maybe I am also not fully understanding how a mac user would use this feature, I am seeing this more like Chrome tabs work: I can open a new window or I can open a new tab but I can always move a window into another window to produce a tab and I can also always drag out a tab to make a new window. I think that is what I was expecting for sierra tabs too.

[2017-04-04 14:11] enlight commented on #9106
Thanks @MrSaints, closing as duplicate.

[2017-04-04 14:11] #9106 closed

[2017-04-04 14:21] mattetti commented on #4622
It works well here, make sure your code is correct and the DAW/audio software you use can receive a dragged audio file.

[2017-04-04 16:02] SCProductions commented on #9064
That… doesn’t work either. I installed electron globally to make it easier:

Sudo npm install electron -g

Run:
Electron

No output occurs. Not the default output or anything. It just goes to a new line.

From: Kevin Sawicki [mailto:notifications@github.com]
Sent: Monday, April 3, 2017 8:24 PM
To: electron/electron <electron@noreply.github.com>
Cc: Sam Costa <sam@sc.productions>; Author <author@no

[2017-04-04 17:06] zeke commented on #4875
Hard indeed, but it is happening: https://github.com/electron/electron-typescript-definitions

[2017-04-04 17:34] luchillo17 commented on #2645
Same behavior in OS X Sierra with:
Electron:  1.6.5 (current beta).
Electron-debug: 1.1.0
Electron-devtools-installer: 2.1.0

[2017-04-04 20:35] #8937 closed

[2017-04-04 21:10] #9025 closed

[2017-04-04 21:18] jschlemm commented on #8725
I am also having the same issue on the latest electron

[2017-04-04 21:27] kevinsawicki commented on #8489
@ci42 thanks for the detailed reproduction steps, was able to verify #9044 using it 👍 👍 👍

[2017-04-04 23:11] TimNZ opened #9109 "Screen draw issues on OS X in Parallels VM"
* Electron version: 1.6.x
* Operating system: OS X 10.12.4 (Host), 10.11, 10.12 (Guest)
* Parallels: 12.1.3 (latest)

What can I do to help with this?

### Expected behavior
Screen draws properly
### Actual behavior
Screen doesn't draw properly on 1.6.x
Works as expected on 1.4.15

As per screenshots.  If I try highlighting content on the page it's there and randomly appears.

### How to reproduce

[2017-04-04 23:14] TimNZ commented on #9109
Also resizing the window for 1.6.x the DevTools refreshes very slowly resulting in short term layout 'corruption'.  Snappy in 1.4.15

[2017-04-04 23:16] kevinsawicki commented on #9109
/cc @tarruda was this what you were seeing yesterday?

[2017-04-04 23:34] tarruda commented on #9109
Yes, apparently it is a chrome issue related to gpu acceleration and video drivers used in OSX virtual machines. I tested and reproduced in all chrome versions between 53 and 58. I don't know why it only affects electron 1.6.0 which is based on chrome 56, maybe some extra chrome code that causes this issue was added in 1.6.0?

The workaround for this issue is to disable gpu acceleration with `--di

[2017-04-04 23:55] TimNZ commented on #9109
Thanks.

It should be pretty rare for my user base to be running the app in a VM so not a blocker.

[2017-04-04 23:55] #9109 closed

[2017-04-05 02:38] cuixiping opened #9110 "APIs to get, set and remove localStorage just like cookies"
I expect some apis to get, set and remove localStorage data, just like those apis of cookies.

Here are apis of cookies:
[code]

Expected apis of localStorage
[code]

[2017-04-05 03:54] kevinsawicki commented on #8828
Apologies for not replying sooner, I've pushed up a fix in #9111 if you get a chance to build/test it and confirm it fixes things for you, thanks for the help.

[2017-04-05 05:02] fonghuiyue opened #9112 "30/7"
* Electron version:
* Operating system:

### Expected behavior

### Actual behavior

### How to reproduce

[2017-04-05 07:15] #9112 closed

[2017-04-05 08:32] Necmttn opened #9114 "[Help] How to make Finder Sync integration ?"
I am currently developing a Dropbox-like mac application. The application is syncing files in a folder placed in "~/AppFolder" on my mac. I'd like to add badges showing sync status on the files managed by my application.

has anyone done this before ? any suggestion for how to do it ?

[2017-04-05 08:43] enlight commented on #9114
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2017-04-05 08:43] #9114 closed

[2017-04-05 08:47] karlhorky commented on #254
@kabalage I think the configuration in your post above is out of date. It looks like it should be like this now:

[code]

[2017-04-05 09:21] deepak1556 commented on #9110
Can you explain the use case for this api ? Thanks!

[2017-04-05 09:27] MarshallOfSound commented on #9102
Lot's to read here and not much time, but a quick solution to your error handling issue is to simply make the return type of your executeJavaScript call a Promise.

[code]

[2017-04-05 09:44] deepak1556 commented on #9085
The error occurs when we are violating a security origin policy during navigation and it happens because initial navigation will end up with `data:text/html,chromewebdata` and when devtools is opened it sees origin violation. There is nothing we can do in this case, the behavior is same with chrome.
* Open new-tab
* navigate to non-existent local url
* open devtools

You can listen to `did-fail-lo

[2017-04-05 09:44] #9085 closed

[2017-04-05 09:56] sn0opr opened #9115 "Log Devtools console output to a file"
Is it possible to get the Devtools console output to write it to a log file ?

[2017-04-05 09:58] deepak1556 commented on #9090
I am unable to reproduce the issue, can you provide a minimal example. Thanks!

[2017-04-05 10:44] MarshallOfSound commented on #9115
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2017-04-05 10:44] #9115 closed

[2017-04-05 10:45] assetcorp commented on #9110
What exactly do you need to accomplish. Are you going to use the apis in the main or renderer view or both?

[2017-04-05 10:46] MarshallOfSound commented on #9115
FWIW you can intercept all `console.*` methods and send their args to a file if you want to.  Something like this would do a simple / hacky job 👍

[code]

[2017-04-05 11:05] cuixiping commented on #9110
@assetcorp use in the main process

[2017-04-05 14:24] midweststudios opened #9118 "<webview> printToPDF window content scales down in relation to page size if screen Display text/apps setting is greater than 100%"
Using `<webview>.printToPDF()`
* Electron version: 1.6.5 (upgraded in case latest version fixed issue)
* Operating system: Windows 8 & Windows 10 (only when screen Display text/apps setting is scaled from 100%)

### Expected behavior
PDF content fills entire height/width of print page size (i.e. ratio 1:1)

### Actual behavior
#### Example for screen display scale set at 200% on a Windows Surface

[2017-04-05 14:25] cumajkeee opened #9119 "Electron desktop capturer and graphic adapters."
**Problem**: Desktop capturer shares black screen when try to share entire screen.

**Reason**: If you are using a laptop, you may run into capture issues (black screen). This is because most laptops have more than one graphics adapter. Why do they have more than one graphics adapter? Because one is used for saving power (desktop / windows), and the other is used for performance (gaming). This is

[2017-04-05 14:26] johanneskrtek commented on #8670
Update: I do not run into the issue when I use English as macOS system language. @lele85, @yarastqt, @Reggionick, @mlajtos, @julienma, @pixtron – put your hand up, who of you does **not** use English as system language?

[2017-04-05 14:41] sn0opr commented on #9115
@MarshallOfSound  Thank you, but I want to get all the output of the console, like error logs et exceptions etc...

[2017-04-05 14:47] MarshallOfSound commented on #9115
@sn0opr You can catch uncaught exceptions like so

[code]

[2017-04-05 15:06] mzmiric5 opened #9120 "Frameless non resizable window keeps decreasing in size on Windows taskbar height or position change."
* Electron version: 1.6.2
* Operating system: Windows 10 x64

### Expected behavior

When a window is set to resizable false, no external sources should be changing the window width and height.

### Actual behavior

On Windows, when moving or resizing the Windows taskbar causes the window to keep decreasing in size on every taskbar change.

### How to reproduce

https://github.com/mzmiric5/Electro

[2017-04-05 15:14] mlajtos commented on #8670
@johanneskrtek Guilty.

[2017-04-05 15:38] deepak1556 commented on #9077
This is by design of file protocol in chromium, there is nothing we can do about it. You can workaround by using custom protocols to serve local files and redirect to them.

[2017-04-05 15:38] #9077 closed

[2017-04-05 15:43] deepak1556 commented on #9110
@cuixiping can you explain the reason you require this api in the main process, what problem does it solve ? Unlike cookies api which are needed for network related apis in the main process I don't see the requirement for localstorage.

[2017-04-05 18:10] Arm1stice commented on #8862
I've been able to reproduce the bug on macOS Sierra

[2017-04-05 18:14] kevinsawicki commented on #8862
@Arm1stice are you able to provide a reproduction app that demonstrates it? Thanks.

[2017-04-05 18:16] Arm1stice commented on #8862
@kevinsawicki My laptop is dying on me, but I'll post a link to my repo when I get home. I would like to note, though, my error was reproduced without using app.makeSingleInstance()

[2017-04-05 18:20] kevinsawicki commented on #8667
@brenca would you be able to look into this?

[2017-04-05 18:26] vernondegoede commented on #1611
@fwextensions Or include your Babel settings in your `package.json` file :)

[2017-04-05 18:30] michaldybczak commented on #8455
Thanks, this workaround works not only for elektron apps. I used it successfully on messengerfordesktop that has also the same bug.

[2017-04-05 18:50] CharlieHess opened #9121 "Crash in RenderFrameHostImpl::SetNavigationHandle"
* Electron version: 1.6.3
* Operating system: macOS 10.11.6

We have a few reports of crashes when waking from sleep. I went ahead & symbolicated one of them and attached it below, in case anything jumps out as an obvious mistake.

<details>

[code]

</details>

### How to reproduce

We don't have a guaranteed repro yet. I will update this bug as we get more information.

[2017-04-05 19:13] folkrav commented on #8876
@MaThGo My system language was already on English, but Region was on `French - Canada`. Switching it to `United States` solved the issue. Thanks!

[2017-04-05 19:56] Arm1stice commented on #8862
https://gist.github.com/Arm1stice/9e3c99d6d4353dafd2ba9f9e3ec94db9

Running this gist with electron will produce the error. My theory is that, because the last open window closes before the next code runs, electron possibly attempts to shut down.

[2017-04-05 19:58] Arm1stice commented on #8862
Is there the possibility that this only happens with some users as @arantes555 suggests because electron could be shutting down faster on better computers?

[2017-04-05 21:45] dpati007 opened #9122 "Electron Fails to Build with Fatal error"
* Electron version: Electron: 1.6.2
* Operating system: Linux Ubuntu

### Expected behavior

Building Electron

### Actual behavior

dpatino@dpatino-desktop:~/Desktop/electron/script$ ./bootstrap.py
fatal: Not a git repository (or any of the parent directories): .git

Traceback (most recent call last):
  File "./bootstrap.py", line 264, in <module>
    sys.exit(main())
  File "./bootstrap.py", lin

[2017-04-05 21:46] kevinsawicki commented on #9122
@dpati007 did you clone the Electron repository or download it as a tarball?

The error looks to be because it isn't a Git repo so it can't update the submodules.

[2017-04-05 22:25] dpati007 commented on #9122
In this case, I downloaded the .zip from the git repo, unzipped it in a windows environment and ssh'd it into the unix environment.

[2017-04-05 23:27] #8489 closed

[2017-04-05 23:27] #8828 closed

[2017-04-06 02:16] aight8 opened #9123 "Source map of preloaded.js is loaded to later"
* Electron version: current
* Operating system: macOS sierra

### Actual behavior

If I define a script in preload, and look at the dev tools in electron, I see that errors etc. are NOT uses the source map. After a reload of the page (cmd + R) the source map is applied and the source lines are mapped correctly.

BTW: How can I use a separate file as source map?! Currently I use inline mode.

### E

[2017-04-06 03:11] cuixiping commented on #9110
I am writing an app depending on `localStorage` . I hope there is a simple way to let the main process read and change localStorage data of specified origins, so I can easily backup and restore any items of localStorage without opening a window and loading a page.

There is an api for clearing localStorage but no for reading and changing.
[ses.clearStorageData([options, callback])](https://electro

[2017-04-06 05:36] tex0l commented on #8862
@kevinsawicki in the case of @arantes555 (and mine), I've checked, yes we do listen for the `'ready'` event even if `app.makeSingleInstance` returns `false` (it's a bit dirty though).

[2017-04-06 06:16] lastmjs commented on #228
Any word on when Electron will support true headless? Can we count on this to happen? I can't wait to drop xvfb.

[2017-04-06 07:40] Sharim opened #9127 "dialog.showSaveDialog does not set default filename"
* Electron version:
"electron-builder": "13.3.1",
"electron-prebuilt": "1.4.13",
* Operating system:
Windows 10

### Expected behavior

Should set also defualt filename

### Actual behavior

I cannot set default filename, however defaultPath is set, but filename not.
I tried path like
C:\Patryk\Pictures\21467.jpg *for this i got console error that dir does not exist
and
C:\Patryk\Pictures/21467.jp

[2017-04-06 09:19] cumajkeee opened #9128 "Remove unused .dll from distribution."
* Electron version: 1.6.2
* Operating system: Windows

Please remove unused "xinput1_3.dll". According [this ticket](https://codereview.chromium.org/1719693002/) chromium use Windows provided .dll already.

[2017-04-06 10:00] 18911816776 opened #9130 "APPCRASH on Windows 2008 SP2, thanks"
dxgi.dll!CreateDXGIFactory1

问题事件名称: APPCRASH
应用程序名: da.exe
应用程序版本: 0.2.1.0
应用程序时间戳: 58b7058f
故障模块名称: dxgi.dll!CreateDXGIFactory1
故障模块版本: 6.0.6002.18005
故障模块时间戳: 49e03824
异常代码: c0000139
异常偏移量: 0006f04e
OS 版本: 6.0.6002.2.2.0.274.10
区域设置 ID: 2052
其他信息 1: 9d13
其他信息 2: 1abee00edb3fc1158f9ad6f44f0f6be8
其他信息 3: 9d13
其他信息 4: 1abee00edb3fc1158f9ad6f44f0f6be8

[2017-04-06 10:34] cirelli94 commented on #8455
To me the global menu is still working but it use 100% of a cpu without doing anything!
This is really awful and make a lot of programs useless!

[2017-04-06 11:07] KeitIG commented on #230
This issue was created 2 years ago, did anyone find a workaround or something that could help preventing this behavior?

[2017-04-06 11:49] 18911816776 commented on #9130
Maybe it's not support Windows 2008

[2017-04-06 13:59] pixtron commented on #8670
@johanneskrtek i can confirm, that i don't run into the issue if i set osx system language to english. usually i'm using german.

[2017-04-06 14:22] dusan-kovacik-profiq commented on #7492
I had the same problem right now. To fix it, check your PATH environment variable and put all paths with some spaces into quotes.

[2017-04-06 14:56] Dexwell opened #9131 "Submenu can't be disabled"
* Electron version: 1.6.2
* Operating system: macOS 10.12.4 (Sierra)

### Expected behavior

A disabled submenu should be grayed out and not open when `enabled: false` is set. See Finder > Go > Recent Folder if the user has clicked Clear Menu in that submenu.

### Actual behavior

Submenu is not grayed out and can be opened

### How to reproduce

[code]

[2017-04-06 15:43] kevinsawicki commented on #9131
I believe this is a duplicate of #3416

[2017-04-06 15:43] #9131 closed

[2017-04-06 15:48] Dexwell commented on #3416
@bengotow It should be a possibility though. See Finder > Go > Recent Folder if the user has clicked Clear Menu in that submenu. 'Recent Folder' itself becomes disabled.

[2017-04-06 20:17] #8944 closed

[2017-04-06 22:16] stuartbrussell-intuit commented on #7206
We use a WebDriver tool for automation scripts that uses accessibility on macOS. It's called AppiumForMac. It works for all elements of our native apps, and the menu bar for our Electron app. It would be great to have a non-VoiceOver enabler for Electron window contents.

[2017-04-07 00:19] vKepler opened #9135 "Cannot add height/width parameters to a function that creates a new BrowserWindow"
* Electron version: 1.6.2
* Operating system: Microsoft Windows 10 Pro

### Expected behavior

I would be able to put height and width parameters in a function called createWindow() that would dictate the size of a new BrowserWindow. For example:
`function createWindow(height, width) {
  win = new BrowserWindow({height, width, icon: __dirname + '/img/ha-logo.png'});
}
`
And I would be able to call

[2017-04-07 00:21] MarshallOfSound commented on #9135
You aren't adding createWindow as an event listener.  You are calling it immediately and adding it's return value as an event listener.  It needs to be like this instead.

[code]

[2017-04-07 00:21] #9135 closed

[2017-04-07 00:32] vKepler commented on #9135
@MarshallOfSound callbacks aren't event listeners but ok bro

[2017-04-07 00:38] MarshallOfSound commented on #9135
@vKepler Sorry if I didn't explain clear enough.

The `app` object is an [`EventEmitter`](https://nodejs.org/api/events.html), this means that calling `.on` adds an event listener.  See [`emitter.on`](https://nodejs.org/api/events.html#events_emitter_on_eventname_listener).  The syntax for that function is

[code]

Where `listenerFunction` is a function, in your code you provide the event name cor

[2017-04-07 01:04] polarathene commented on #2911
Using a few electron apps (GitKraken and Atom mostly), along with Chromium. Any updates on getting this supported? Or at least someone knowledgeable about the codebase that'd be happy to work with one of us to add the support?

[2017-04-07 01:36] FullstackDevsYT commented on #9092
it seems to be working now

[2017-04-07 01:36] #9092 closed

[2017-04-07 07:14] hems commented on #4622
@mattetti would you kindly share snippets of your html and javascript code regarding that drag?

do i need to patch something on electron or chromium?

[2017-04-07 09:38] optimisme commented on #2170
Yes, it works on 1.4.14 but does not work on 'latest' version.
Also the argument ' --enable-transparent-visuals' is needed.
I am using electron on Fedora 25 with open source NVIDIA drivers.

[2017-04-07 10:04] andreyorst commented on #8455
@cirelli94 you mean that you actually can click and operate it? Open folders, make files etc?

[2017-04-07 11:18] WinnerNeverQuits opened #9138 "Error: tunneling socket could not be established, statusCode=403"
C:\Electron\electron-quick-start>npm install

electron@1.6.2 postinstall C:\Electron\electron-quick-start
\node_modules\electron
node install.js
C:\Electron\electron-quick-start\node_modules\electron\instal
l.js:46
throw err
^

Error: tunneling socket could not be established, statusCode=403
at ClientRequest.onConnect (C:\Electron\electron-quick-st
art\node_modules\tunnel-agent\index.js:166:19)
at

[2017-04-07 11:53] cirelli94 commented on #8455
@andreyorst Yes! If I understood well. http://i.imgur.com/w4ZZxlX.png

[2017-04-07 13:31] arnolem commented on #1374
@alexk111 if you want a Google Tasks Desktop build with electron
https://github.com/wixiweb/googletasks-desktop/releases

[2017-04-07 13:33] frivoal commented on #8386
I'm using electron via electron-pdf. I am not that familiar with npm, so I may be confused about what version I have running, but I believe it is 1.6.2, and this bug still reproduces.

[2017-04-07 14:00] midweststudios commented on #9118
I think this can be resolved by making all of the key's assigned in `const defaultPrintingSetting = {}` available options within `WebContents.prototype.printToPDF = function (options, callback) {...}`. Then in my project file I can check for the screen's scaleFactor and/or it can be as simple as changing `fitToPageEnabled: false` to `fitToPageEnabled: true`. Won't know for sure until I run tests t

[2017-04-07 14:20] brenca commented on #8667
@kevinsawicki sure, I'll look into it

[2017-04-07 14:37] julienma commented on #8670
@johanneskrtek yep, using French.

[2017-04-07 15:16] frivoal commented on #8386
nevermind, that was using an old version. Upgrading fixes it.

[2017-04-07 15:53] jlongster opened #9139 "Passing --trace-warnings flag to node to print stack of unhandled promise rejections"
* Electron version: 1.6.2
* Operating system: OSX

### Expected behavior

I should be able to use the `--trace-warnings` flag in node by passing it like this:

[code]

This enables stack traces for unhandled promise rejections. Right now, node will print "possibly unhandled promise rejection: <err>" but not print a stack trace, which is incredibly frustrating.

### Actual behavior

Passing the fla

[2017-04-07 16:19] vKepler commented on #9135
@MarshallOfSound Sorry for my response, I probably should have researched more before opening an issue on Git.. That makes sense. To be so honest I wasn't even sure where .on() was coming from or what the API was doing there. I refactored my code with these changes and it works, Thanks bro.

[2017-04-07 17:09] SCProductions commented on #9064
Well, that didn’t work.

Electron, just running the command itself, it won’t run. I did a global install:

Electron

{3-5 seconds passes)

New line. No output.

I ran npm rebuild once, and it worked… and now I’m back to square one.

From: Kevin Sawicki [mailto:notifications@github.com]
Sent: Monday, April 3, 2017 8:24 PM
To: electron/electron <electron@noreply.github.com>
Cc: Sam Costa <sam@sc.pro

[2017-04-07 17:26] nmoinvaz commented on #6208
I have also encountered the same issue. With Electron, uv_idle/uv_prepare do not work inside of a native node module. When loading the same native node module with NodeJS they do work. I am able to get around the issue by using uv_async to call code on the default loop as the author of this bug suggests.

[2017-04-07 18:36] dezzeus commented on #673
Hi to all, even if I'm not in the JS-centric world, I recently had an idea quite similar to _Electron_ (which I happened to know, but not use for development) but with a broader audience; to put it in a very simple way: _just limit the web technologies to the GUI and provide APIs._

So keep goin' with a semantic-versioned shared library / runtime (built on top of _Blink_, _Skia_, etc; perhaps in –

[2017-04-07 19:04] vKepler opened #9141 "buildFromTemplate Is Not A Function?"
* Electron version: 1.6.2
* Operating system: Microsoft Windows 10 Pro

### Expected behavior

For the menu to be created from a template correctly as it's copied straight from documentation.
Code (only including relevant code):
[code]

### Actual behavior

"Uncaught Exception: TypeError: topMenu.buildFromTemplate is not a function"

[2017-04-07 19:06] kevinsawicki commented on #9141
I think this should be:

[code]

[2017-04-07 19:08] vKepler commented on #9141
@kevinsawicki OMG you're a genius.. Why must it be like this if I've already instantiated topMenu above and set equal to new instance of menu? Sorry for crap question, please close it.. Also I see you in here all the time you're a real GitHubber Hero bro..

[2017-04-07 19:13] #9141 closed

[2017-04-07 19:14] kevinsawicki commented on #9141
`buildFromTemplate` is a helper class method that is meant to convert an entire raw object of items to a root `Menu` instance filled with `MenuItem` instances.

`new Menu()` should be used when you manually want to add `MenuItem` instances using things like insert, append, etc., https://electron.atom.io/docs/api/menu/#menuappendmenuitem

[2017-04-07 20:01] samkelly commented on #2170
@optimisme in your case, does os-level UI scaling have anything to do with it?

[2017-04-07 20:29] datnordstrom opened #9142 "Windows Event Log"
Is there a way to log events to the Windows Event Log? (windows 10)

I've attempted to use winston-winlog2 but have not been able to get it to work? has anyone else been successful?

[2017-04-07 20:37] anandanand84 opened #9143 "Could not build in ubuntu 16.04 libchromiumcontent/static_library/libffmpeg.so', needed by 'libffmpeg.so', missing and no known rule to make it"
Steps to reproduce.

[code]

Logs

[code]

[2017-04-07 20:41] Sential commented on #2170
Will be the issue fixed in 1.6.x? I don't want to downgrade to 1.4.x, because I'm making a web browser, which requires the newest Chromium.

[2017-04-07 20:45] samkelly commented on #2170
this should be a high priority issue IMO as it breaks existing behavior that a number of programs rely on

[2017-04-07 22:17] johanneskrtek commented on #8670
Thanks for the feedback.

Looks like this is the Chromium bug behind the SVG issue: https://bugs.chromium.org/p/chromium/issues/detail?id=698609&q=svg&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified

It can be worked around in Electron by disabling the hardware acceleration with `app.disableHardwareAcceleration()`.

[2017-04-07 22:34] julienma commented on #8670
Thanks for the tip. So I guess we can use `app.disableHardwareAcceleration()` in development mode only, as this issue does not appear when packaging the app for production.

Also might be worth reporting this thread in the chromium issue, to help these guys track it down?

[2017-04-07 22:36] johanneskrtek commented on #8670
Already done.

[2017-04-08 00:23] nibirunemisis opened #9145 "fkifiknow"
* Electron version:
* Operating system:

### Expected behavior

### Actual behavior

### How to reproduce

[2017-04-08 01:07] #9145 closed

[2017-04-08 06:00] Ted-Mohamed commented on #8993
@teleclimber you don't need to hold off your development, you can use CSS Grids right now just make sure to turn on  `experimentalFeatures`

[code]

[2017-04-08 07:44] sapioit commented on #673
We can't even get done an addon to Electron, but I think that will not have that much success, unless lots of advertising.

[2017-04-08 07:48] amhoho opened #9146 "我详细翻译了比zh-cn更丰富的docs文档,如何分享给更多人?"
我在[electron-cn-docs](https://github.com/amhoho/electron-cn-docs/)这个项目中详细的翻译了全部的英文docs文档,并基本保持实时的更新.如何分享给更多中国用户,或者上传到Electron中?

[2017-04-08 07:54] jzimmek opened #9147 "webview-tag content scrolling not constrained by parent tag size"
* Electron version:
v1.6.6

* Operating system:
macOS Sierra
10.12.4 (16E195)

### Expected behavior

A webview-tag which size is bigger than the parent tag (max-width/height) should show scrollbars within/constrained by the of the parent tag.

### Actual behavior

A webview-tag which size is bigger than the parent-tag shows scrollbars which are not within/constrained by the parent tag but the sur

[2017-04-08 09:24] sallar commented on #6835
@kvidzibo Thanks, this solved my problem :) I was trying to "authenticate" with Dropbox.

[2017-04-08 10:20] MarshallOfSound commented on #9142
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

FWIW you can check out modules such as this one 👍

https://github.com/jfromaniello/node-windows-eventlog

[2017-04-08 10:20] #9142 closed

[2017-04-08 14:17] yonson2 commented on #8935
I' m also getting this issue with [hyper](https://github.com/zeit/hyper)

I think that it's probably related to the chrome version being used by the electron app, as of chrome v54 this bug [_should_ be fixed](https://bugs.chromium.org/p/chromium/issues/detail?id=478133)

[2017-04-08 14:27] XiaohuChen commented on #4359
@ArktekniK   Hi, Rob, have you solve this problem? I think there are many people like me  want to know how to fix it. so if you have dealt with this, could you please show us how to ?

[2017-04-08 16:03] TimvdEijnden commented on #8828
I've been trying to build your branch on windows 10 with VS Community 2015 but without success. But there are other confirmations, we'll try the 1.6.6 pre-release.

[2017-04-09 07:36] LitoMore commented on #9146
pull request

[2017-04-09 07:49] myfrndjk commented on #5224
Hi,

I am trying to use` process.env.TZ = 'America/Managua';` in my app
if I give that in main process it is working fine, if I give that in render process no effect.
is there any way to achieve this.
I just need to change the time zone for every request.

[2017-04-09 07:58] CxRes commented on #673
@dezzeus There was an effort on this lines before which fizzled out. Have a look at the [thrust runtime](http://www.github.com/breach/thrust) intended to host the [breach browser](http://www.github.com/breach).

[2017-04-09 08:08] myfrndjk opened #9150 "Option to set process.env.TZ from render process"
Hi,

I am trying to set time zone using `process.env.TZ = 'America/Managua' `in my app
if I give that in main process it is properly setting up timezone but if I give that in render process no effect, is there any way to set timezone from render process.

Thanks

[2017-04-09 08:09] MarshallOfSound commented on #9150
They are two distinct processes so setting it in one does not set it in the other.  You would have to set it in both if you want it available in both.  You can change the main process env from a renderer process though through `require('electron').remote.process.env`

[2017-04-09 08:09] #9150 closed

[2017-04-09 08:09] MarshallOfSound commented on #9150
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2017-04-09 08:18] myfrndjk commented on #9150
@MarshallOfSound : Sorry for the false alarm.Thanks for your clarification

[2017-04-09 09:07] LitoMore commented on #9146
为 electron 贡献翻译可以给项目提交 pull request

文档的中文翻译在 https://github.com/electron/electron/tree/master/docs-translations/zh-CN

文档的排版可以参考 [中文文案排版指北](https://github.com/mzlogin/chinese-copywriting-guidelines)

[2017-04-09 14:31] brenca commented on #8667
@kevinsawicki @flying-circus I've tested the behaviour of electron 1.4 and 1.6 with this patch applied, and I see the same thing happening. In the given example in `right.js` only a `stopPropagation` is called on the `drop` event, thus the default behaviour is not prevented (in fact both 1.4 and 1.6 patched loads the url). If I call `preventDefault`, the url is not loaded. Can you confirm this?

[2017-04-09 15:02] schickling commented on #228
@lastmjs did you manage to get Electron to run on AWS Lambda based on xvfb?

[2017-04-09 15:29] MrSaints commented on #228
@schickling See https://github.com/nisaacson/aws-lambda-xvfb

[2017-04-09 15:52] schickling commented on #228
Thanks for your comment @MrSaints. I'm indeed debugging this repo for several hours now since I cannot manage to get `nightmare` to run. Does it work for you?

[2017-04-09 16:54] matthiasg commented on #5362
On windows 10 (creators update), a new window I opened (not the main window), also is present on all virtual windows desktops when always on top is set. This might be a windows issue of course, but should be tested when more control is made possible

[2017-04-09 23:21] blksheep93 opened #9152 "Uncaught TypeError: Cannot read property 'request' of undefined"
Sorry if this a basic question ubt I've been working it for a a couple days and can't figure it out. All online solutions I found pointed to a versioning problem, so I updated everything and it still persists. Would love to be able to make http calls to carry out login auth.

Electron v1.6.2
Node v6.10.2
npm v4.4.4

**What I've done:**

- npm cache clean
- Moved electron to global and deleted all

[2017-04-10 00:33] stek29 opened #9153 "Drag'n'Drop in macOS Sierra"
* Electron version: 1.4.1 and 1.6.5 (VK Messenger and Wavebox)
* Operating system: macOS 10.12.4

### Expected behavior
If application can't handle drag'n'drop, nothing should happen. Maybe cursor should change to `X`

### Actual behavior
If Application doesn't handle drag'n'drop or it was dropped too fast, dragged file (image) opens (at 1.4.1 at least)

### How to reproduce
Just drag'n'drop some

[2017-04-10 00:54] enlight commented on #9152
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

It would appear the offending code is running in the renderer process (since it accesses the DOM), there is no `net` module in the renderer process, it's only availa

[2017-04-10 00:54] #9152 closed

[2017-04-10 03:25] alexk111 commented on #8100
+1. Getting issue reports from users trying to auth with Google account on many different web apps.

[2017-04-10 06:07] Hum4n01d commented on #3647
I made a PR to add a note about this to the documentation https://github.com/electron/electron/pull/9155

[2017-04-10 07:50] sohail85 commented on #4875
Hi @zeke  : This question might not sound right question to be asked in this thread, but  being starter on typescript and following this thread made me a bit confused.
In this thread we started to talk about JSON([#6408](https://github.com/electron/electron/pull/6408)) and then [electron doc linter](https://github.com/electron/electron-docs-linter) and then typedefination,
what I understood you wi

[2017-04-10 09:12] optimisme commented on #8532
Is this a duplicate of https://github.com/electron/electron/issues/2170?

[2017-04-10 13:02] cifratila commented on #9143
@anandanand84 From what I know if you pass `--dev`, then you don't get the static_library, so you would need to somehow point the bootstrap script to your local one, using: `--libcc_static_library_path`

I recomment just:
[code]

[2017-04-10 13:05] cifratila commented on #9130
Yes, Vista and Server distros are not supported: https://github.com/electron/electron/issues/3263

[2017-04-10 13:05] #9130 closed

[2017-04-10 14:25] Quirinus opened #9156 "Draggable element unmaximizes when doubleclicked, but not maximizes"

[2017-04-10 14:31] Quirinus commented on #9156
Wrong report. I am sorry.

[2017-04-10 14:31] #9156 closed

[2017-04-10 15:35] kevinsawicki commented on #2312
When you are running your app using something like `electron main.js` it is running a default app wrapper that registers a `window-all-closed` listener, https://github.com/electron/electron/blob/0caa35d33ca61a263f26f86f789a29a1d7ef5aa9/default_app/main.js#L40-L44

[2017-04-10 15:48] julmot commented on #2312
@kevinsawicki  No, I'm running a packaged app, nothing manually via console etc.

[2017-04-10 15:49] kevinsawicki commented on #2312
@julmot can you include a code snippet that is not working for you?

[2017-04-10 17:07] luchillo17 commented on #525
I've stumbled uppon this, maybe is this the way to fix?
https://pracucci.com/atom-electron-enable-copy-and-paste.html

[2017-04-10 17:46] Dexwell opened #9159 "macOS Native Popovers"
Could we get support for native macOS popovers as BrowserWindow containers? Supporting these types of windows would allow us to easily render views that float above/beyond parent windows, and in turn result in a more native look and feel for apps. Popover example:

<img width="545" alt="screen shot 2017-04-10 at 19 01 11" src="https://cloud.githubusercontent.com/assets/521176/24873911/f2d946dc-1e2

[2017-04-10 17:56] snene opened #9160 "CrashReporter"
I am using Electron version 1.4.15. I observe that when the crash report is sent using the crashReporter API the product is reported as Electron and not the product name that is specified when calling crashReporter.start. Is this expected?

[2017-04-10 18:30] davydka commented on #2170
@samkelly Sorry for the delay. I'm not using any  UI scaling. In xfce I checked Settings Editor-> xsettings –> Xft -> DPI and my value is -1. I

[2017-04-10 23:26] Shahor commented on #360
I'm sorry, I'll be the annoying one here but the bug still exists on current version of electron and it seems like this issue is not getting attention anymore :(

[2017-04-11 01:31] Praggie commented on #6697
+1, this is really a needed feature.

[2017-04-11 05:37] zcbenz commented on #8051
This is a duplicate of  #7350.

[2017-04-11 05:37] #8051 closed

[2017-04-11 06:06] #8384 closed

[2017-04-11 08:16] idododu commented on #7720
Have not tried it yet, but thanks for your attention and your genius work!!!!

@deepak1556 @zcbenz @kevinsawicki

[2017-04-11 08:32] bpasero commented on #9094
@tonyganch I just found out about this setting, I guess this is user controlable and maybe should be like that without override from the app:

![image](https://cloud.githubusercontent.com/assets/900690/24899871/2f205232-1ea2-11e7-84dd-96c2c334bf41.png)

[2017-04-11 10:41] BentleyBlanks opened #9161 "How to use native OpenGL to render on the Electron Window?"
* Electron version: 1.6.2
* Operating system: Windows 7

### Expected behavior

I want to make a 3d editor and use Electron to do the UI staff, and keep some region for native OpenGL to render some contents on it. But it seems hard to use OpenGL in Node.js(not WebGL), just like this
<a data-flickr-embed="true"  href="https://www.flickr.com/photos/134486032@N03/33842172981/in/dateposted-public/" ti

[2017-04-11 10:41] flying-circus commented on #8667
@brenca You're right and I apologize, my reply to kevinsawicki was hasty. I still have a problem though, I ll try to locate it and give feedback.

[2017-04-11 11:53] brysgo opened #9162 "Android support"
I totally understand why #562 was closed, but with android apps making their way to chromebooks, I think the android question should be reopened (given their [popularity](http://www.theverge.com/2016/5/19/11711714/chromebooks-outsold-macs-us-idc-figures)).

With tighter security through app sandboxing and fine grained permissions, mobile operating systems are an obvious choice for the future of de

[2017-04-11 12:23] capc0 opened #9163 "Window not correctly drawn after repositioning to other screen"
* Electron version: 1.4.12
* Operating system: Win 7 Home Premium 64 bit (Windows CLASSIC design active)

### Expected behavior

The window should be drawn correctly / window contents should be redrawn

### Actual behavior

The electron window is not being updated after moving the window (or just a half of it) to another screen. As soon as I focus another window (e.g. cmd prompt) the electron wind

[2017-04-11 13:11] levrik commented on #9161
I think CEF (https://bitbucket.org/chromiumembedded/cef) would be a better choice for something like that. But that's only my opinion.

[2017-04-11 15:10] BentleyBlanks commented on #9161
It seems CEF is similar to the Electron's offscreen.

Actually I tried to use Three.js to simulate the same thing native OpenGL does. But I find it hard to put the UI label (HTML+CSS+JS) draw on the Three.js, just like this

<a data-flickr-embed="true"  href="https://www.flickr.com/photos/134486032@N03/33162957753/in/dateposted-public/" title="electronWithThreeJS"><img src="https://c1.staticflickr

[2017-04-11 15:10] #9161 closed

[2017-04-11 15:20] jlongster commented on #9139
I completely understand the difficulty of keeping up with issues on an active project, but can anyone talk about if this is valid, and if so what kind of timeline to expect on issues like this? Even better, point me to where I could implement this myself and contribute it?

[2017-04-11 15:27] elvisvoer opened #9164 "BrowserWindow transparency not working on Linux in v1.6.2"
* Electron version: v1.6.2
* Operating system: Ubuntu 16.04.2 LTS

### Expected behavior

BrowserWindow should be transparent and show only the content

### Actual behavior

BrowserWindow is rendered with a white background and graphics seem broken

### How to reproduce

 $ git clone https://github.com/elvisvoer/electron-shadow-issue.git
 $ npm install
 $ electron . || electron . --disable-gpu --e

[2017-04-11 15:52] #9128 closed

[2017-04-11 16:08] #9033 closed

[2017-04-11 16:49] #8915 closed

[2017-04-11 16:56] capc0 commented on #9163
I found a workaround for this issue:
Using 'electron --disable-gpu' fixes the problem.

I currently dont know the downsides of disabling gpu (guess performance?), but a real fix would still be handy.

[2017-04-11 17:11] snene opened #9165 "Symbol information for breakpad"
We have an Electron(version 1.4.15) based app that we package using electron-builder for mac and windows platforms.

We also use crash reporter that is supported by Electron. In order to look at the minidumps sent by the crash reporter, we need to generate symbol information for the executables to be placed on the breakpad server.

When I try to extract symbol information from the exe for windows,

[2017-04-11 17:13] RedMaps commented on #6946
I am still experiencing the same issue.
The difference for me is that I'm running Windows 10. Until now I spendt the whole day trying to figure out what the problem is, but I can't get the console to output any console.log() statements.

One thing to note is that when I run my app with node, except for of course giving me an error, it does actually output the log to the console.

I hope this can b

[2017-04-11 17:39] deepak1556 commented on #9139
Yup this is definitely good to have feature, Electron by default doesn't parse all node related flags in the normal mode as most of them don't apply.

Not sure, mostly based on community interest I guess. Unless someone assigns themselves to work an issue, you can feel free to pick it up. Would be great to leave a comment to avoid duplications.

You can check how `debug-brk` flag https://github.co

[2017-04-11 18:22] jydarche commented on #8828
Hi, I can confirm that the problem is fixed in the version 1.6.6. Thanks!

[2017-04-11 18:26] jlongster commented on #9139
Thanks! Would something like this work?

[code]

If I look at the top of the function BROWSER is either a browser, renderer, or worker process. What I'm wanting to debug is the main process. I'm skeptical that this is the wrong place for that. Chrome's devtools already give you the stack for unhandled exceptions in the renderer process (I think). But debugging the main process is harder because yo

[2017-04-11 19:05] jlongster commented on #9139
So it turns out that I probably shouldn't be doing as much work as I am in the main process. I didn't realize it could still block the render process, so I'm probably going to move all my backend code to its own process which, I think, I could open the Chrome devtools on. I guess most people haven't hit this issue because you don't usually do much work in the main process?

In that case I'm not as

[2017-04-11 19:42] nathansobo commented on #9078
Sorry, seems like I misspoke. Still getting crashes after continuing after a breakpoint in the dev tools.

/cc @kevinsawicki

[2017-04-11 19:54] baldwmic commented on #9165
I am also encountering the same problem when trying to generate symbols. It would be superb if there was a helpful guide on how to get human readable stack traces when crash reporting!

[2017-04-11 20:40] hollenberry commented on #7306
@DenisCarriere

Thank you for posting this! You helped me solve a tricky bug on a personal project ❤️ .

[2017-04-11 21:35] DenisCarriere commented on #7306
@hollenberry 👍 Welcome, it took me forever to solve this issue, hence the in-depth explanations. In the end this was a very simple fix (however it's kinda annoying that you need to enter a Google API key for it to work).

[2017-04-11 21:51] lostdesign commented on #8876
Thanks for the workaround. Even if i'd like to see that fixed soon 😄

[2017-04-11 22:13] kevinsawicki commented on #9143
Yup, you are absolutely right, you cannot generate release builds (which `crete-dist.py` does) if you run bootstrap with `--dev` since the static library is not downloaded, only the shared library is.

Closing this out.

[2017-04-11 22:13] #9143 closed

[2017-04-11 23:24] teleclimber commented on #8993
@Ted-Mohamed thank-you, that resolves my immediate issue.

Having said that I do hope Electron returns to tracking Chromium releases as closely as can be done given resource constraints.

[2017-04-12 03:54] jschimmoeller opened #9170 "alwaysOnTop window disappears when restored from the application icon"
* Electron version: 1.6.2
* Operating system: Mac OS Serra

### Expected behavior

Restoring browser window with always on top should restore

### Actual behavior

with always on top set and minimze window into application icon window restoring a minimized window will show and then disappear and lost forever.

### How to reproduce

  $ git clone https://github.com/jschimmoeller/app-icon-consolidat

[2017-04-12 04:37] sohibul commented on #8339
anybody solved this?

[2017-04-12 06:27] himanshu21092 commented on #1943
Hi @amrish7, were you able to use bluetooth-serial-port successfully? I am going to start a project on electron which will have bluetooth support. Any help is appreciated. Thanks

[2017-04-12 06:31] sonofachuck opened #9171 "textarea: Drag and drop modifies text data"
[app.zip](https://github.com/electron/electron/files/915558/app.zip)

* Electron version: 1.6.2
* Operating system: Windows 7 Pro

### Expected behavior
When selecting text inside textarea element, if the selected line begins with "// a commented line", dragging and dropping the text inside the textarea should move that text as-is to the new drop location.

### Actual behavior
Dragging and droppin

[2017-04-12 09:09] develar commented on #422
If you use electron-builder / electron-packager, you can can customise Info.plist, e.g. seehttps://github.com/electron-userland/electron-builder/issues/1456#issuecomment-293518692

[2017-04-12 09:14] AndreaSpan commented on #9026
I'm currently trying with the 1.6.2 version, I'll let you know if the bug occurs again.

[2017-04-12 12:59] nicolasandrieux opened #9172 "setAsDefaultProtocolClient process.argv not updated when app is already started"
* Electron version: 1.4.14
* Operating system:windows 10

Hi,

I'm using setAsDefaultProtocolClient to launch the app and performing action like that

myprotocol://action1
myprotocol://action2

So
if the app is closed I get in `process.argv` `myprotocol://action1` or `myprotocol://action2` as expected.
If the app is already launched, I'm using the event `browser-window-focus` to detect the app is

[2017-04-12 13:23] Thomas101 opened #9173 "Backspace can not erase the last one character during Japanese IME conversion (macOS)"
* Electron version: 1.6.2, 1.6.6, not 1.4.16
* Operating system: macOS 10.12.2 Sierra, macOS 10.12.4

### Expected behavior

When inputting Japanese sentences using the Japanese IME (Input Method Editor) to convert alphabets to Japanese (CJK) characters you should be able to delete each character in turn by pressing backspace

### Actual behavior

The very last character always needs two backspace

[2017-04-12 14:31] flying-circus commented on #8667
@brenca The problem is that in my case I am setting event listeners from index.html to a webview. In the @kevinsawicki 's example they are inserted by a preload script **inside** each webview. Trying to prove this using Kevin's example, I removed the the `preload` script "right.js" from webview tag at line 9 of `index.html`, and tried to add it into `renderer.js` (which is loaded from index.html)

[2017-04-12 14:35] stouchardIpso commented on #5057
+1 same issue.

[2017-04-12 14:44] flying-circus commented on #8667
@brenca The problem is that in my case I am setting event listeners from index.html to a webview. In the @kevinsawicki 's example they are inserted by a preload script **inside** each webview. Trying to prove this using Kevin's example, I removed the the `preload` script "right.js" from webview tag at line 9 of `index.html`, and tried to add it into `renderer.js` (which is loaded from index.html)

[2017-04-12 14:58] jacwright commented on #645
I had this same problem and got it figured out finally. Leaving info here for posterity.

Calling `window.open()` will open a new BrowserWindow with the same configuration options as the window calling it. In my case, I had this code:
[code]

Which has the window initially hidden. This means when calling `window.open` the new window is hidden initially, appearing to not work. Removing the `{ show:

[2017-04-12 15:14] MarshallOfSound commented on #645
@jacwright See the docs on the `new-window` event

https://electron.atom.io/docs/api/web-contents/#event-new-window

This code sample appears to be exactly what you are looking for 👍

[code]

[2017-04-12 15:16] jacwright commented on #645
@MarshallOfSound you are most excellent! Thank you.

[2017-04-12 15:34] peerbolte commented on #8314
Is there an update on this issue? Is this something that has to be fixed upstream in Chrome?

[2017-04-12 15:54] nathansobo commented on #9078
Here's a more recent crash report.

[code]

[2017-04-12 16:18] aight8 opened #9174 "Questionable props on debuggers Network.loadingFailed event (if resource is canceled)"
* Electron version: 1.6.x
* Operating system: macOS

### Expected behavior

Not sure why this is the behavior, because it makes not much sense.
The ```canceled``` and ```blockedReason``` props in the props of ```Network.loadingFailed``` should be set in my opinion.

### Actual behavior

Debugger on ```Network.loadingFailed``` event:

**errorText:** ```net::ERR_BLOCKED_BY_CLIENT```
**canceled:** ``

[2017-04-12 16:46] aight8 opened #9175 "Feature request: webRequest module = resource size"
### Expected behavior

Provide the **resource size** somewhere in the webRequest module.
In the debugger module it is present as ```encodedDataLength``` in the following events:
- Network.loadingFinished -> encodedDataLength

(source: https://chromedevtools.github.io/debugger-protocol-viewer/tot/Network/)

### Actual behavior

In the webRequest module (https://electron.atom.io/docs/api/web-request

[2017-04-12 17:32] aight8 opened #9176 "Feature request: webContents::executeJavascript - Better syntax error handling"
* Electron version: 1.6.x
* Operating system: macOS

### Expected behavior

Several things:
- The promise which is returned by executeJavascript should be rejected
- The error and stack trace should be more meaningful (how? = what's possible?)
- Furthermore if you listen of global errors with the debugger trough the ```Runtime.exceptionThrown``` event - there is currently no way to locate where ex

[2017-04-12 18:51] LoganArnett opened #9177 "getUserMedia HD"
* Electron version: 1.6.2
* Operating system: Ubuntu 16.04
* Webcam: Logitech 4k BRIO

### Expected behavior
I am trying to record audio and video within my app at 1920x1080 at at least 30fps. Using getUserMedia like the WebRTC demos [here](https://webrtc.github.io/samples/src/content/getusermedia/resolution/) at full HD in chrome as a web app I am able to accomplish this resolution at 60fps

###

[2017-04-12 19:27] #5429 closed

[2017-04-12 20:19] LoganArnett commented on #9177
I am running a react application within Electron, would I be able to make a very simple express app that just handles the webcam video and recording and use a `<webview>` tag to place it into my react view?

[2017-04-12 23:01] liliakai commented on #8474
I can easily reproduce this on Ubuntu 16.04 with Gnome/Unity, but I'm pretty sure it's because my notification server, `notify-osd` [doesn't support notification actions](https://github.com/electron/brightray/blob/master/browser/linux/libnotify_notification.cc#L100).

@AltarBeastiful Is your system running notify-osd?

[2017-04-12 23:27] asrperio opened #9179 "Electron freezes after "win = new BrowserWindow""
* Electron version: 1.6.2
* Operating system: windows 10 Home

### Expected behavior

To open a new widow when I run "electron ."

### Actual behavior

When I run "electron ."
Occasionally the window open correctly, but most of the time it get stuck at:
[code]
I am following the example at: [Quick-Start](https://electron.atom.io/docs/tutorial/quick-start/)

[2017-04-13 01:59] MarshallOfSound commented on #9176
Closing in favor of your own issue #9102

Please don't raise duplicate issues 👍

[2017-04-13 01:59] #9176 closed

[2017-04-13 02:00] MarshallOfSound commented on #9179
This sounds suspiciously like a race condition, are you waiting for the `ready` event before launching the window?

[2017-04-13 02:04] MarshallOfSound commented on #9172
@nicolasandrieux On windows when the app is already open and it is launched as a protocol handler you need to listen for the new processes arguments through the `makeSingleInstance` callback.

For an example check out my rather old PR at this point for standardizing this 👍

https://github.com/electron/electron/pull/8052

On macOS you can use the [`open-url` event](https://electron.atom.io/docs/api

[2017-04-13 02:04] #9172 closed

[2017-04-13 02:24] asrperio commented on #9179
I'm following the example code, I'm creating the window in a function call "createWindow",
and I'm waiting for the ```ready``` event, on:
[code]
To see if I made a mistake on the code or is something else I cloned and ran [electron-quick-start](https://github.com/electron/electron-quick-start)

It also got stuck at
[code]
Sometimes it might work but is quite rare, most of the time (almost always)

[2017-04-13 05:25] rafoid opened #9181 "Documentation for VSCode is faulty."
* Electron version: latest
* Operating system: Mac OS Sierra

### Expected behavior
On https://electron.atom.io/docs/tutorial/debugging-main-process-vscode/ page it states:
1. Open an Electron project in VSCode.
$ git clone git@github.com:electron/electron-quick-start.git

git cloning should proceed without a problem

### Actual behavior

git clone git@github.com:electron/electron-quick-start.git

[2017-04-13 07:28] puzrin commented on #228
@zcbenz FYI chrome 59 will get headless mode support https://www.chromestatus.com/features/5678767817097216

[2017-04-13 08:15] deepak1556 commented on #9175
Can you expand on how the resource size attribute will be utilized ? Currently there is no means to retrieve the response content with webRequest module unlike debugger module.

[2017-04-13 09:17] iamdriz opened #9182 "Confusion over syntax"
I'm looking to upgrade an old Electron app (built in atom-shell) to the latest version of Electron, but reading through the docs I see variations in the syntax.

What's the difference between:

`const {BrowserWindow} = require('electron')`

and

`const BrowserWindow = require('electron').BrowserWindow`

[2017-04-13 09:26] MarshallOfSound commented on #9182
No difference at all, it's purely a style choice.

Personally I prefer the first one :)

[2017-04-13 09:26] #9182 closed

[2017-04-13 09:40] iamdriz commented on #9182
@MarshallOfSound What is the first one? I've never seen that syntax before but presume it's part of ES6... do you have a link to a doc that explains: `{THING}`, as to me those braces were always for creating hashes/objects. Thanks pal.

[2017-04-13 09:49] deepak1556 commented on #9174
Have verified that chrome 56 reports the right value for `Network.loadingFailed` canceled but blockedReason is undefined though. The reason for different values of canceled is because we reject the requests with `ERR_BLOCKED_BY_CLIENT` but chrome rejects with `ERR_ABORTED`. Need to get some clarity from upstream on this.

[2017-04-13 09:59] aight8 commented on #9175
I don't know, I'm not familiar with the chrome internals and on which parts this feature would depend on. I report this issue from the user perspective.

Meanwhile I found the chrome JS network API on which this feature somehow depend on.
https://developer.chrome.com/extensions/webRequest

The content size could be used for basic data transfer statistics. Indeed the Content-Length header could be

[2017-04-13 10:04] #9123 closed

[2017-04-13 10:05] aight8 commented on #9123
Can't reproduce it anymore...

[2017-04-13 10:08] #5267 closed

[2017-04-13 10:08] #8728 closed

[2017-04-13 10:44] deepak1556 commented on #9175
I am good with adding this attribute but it will be better to add once https://github.com/electron/electron/issues/8374 gets support.

[2017-04-13 11:44] Dexwell opened #9183 "No yellow triangle in warning dialog on macOS"
* Electron version: 1.6.2
* Operating system: macOS 10.12.4 (Sierra)

### Expected behavior

App icon should appear smaller next to the system warning dialog triangle icon:

<img width="516" alt="screen shot 2017-04-13 at 13 35 32" src="https://cloud.githubusercontent.com/assets/521176/25003186/7f186d94-204e-11e7-9b6f-e1a8c525fb94.png">

([source](https://developer.apple.com/library/content/docume

[2017-04-13 12:05] nicolasandrieux commented on #9172
@MarshallOfSound Thx a lot I got what I expect with my custom scheme protocol.

Should I open another issue for the tel protocol? For that one that open a popup offering to open the link using apps like skipe

[2017-04-13 13:07] aight8 commented on #9102
**more**
I write another use case here, I don't create a new issue for this - I summarise it:
If the promise which is returned in ```executeJavaScript``` throw any error or call reject (intended or not) something very bad thing happens:
The **promise reject value** is serialised to send it back to the main process via IPC. However as we know, an **error error** cannot be serialised without extra w

[2017-04-13 13:42] niik opened #9184 "Maximized frameless Windows has unexpected size and position offset"
* Electron version: 1.6.2, 1.6.6
* Operating system: Windows 10 (10.0.14393)

### Expected behavior

When maximizing a **frameless** `BrowserWindow` on Windows (only tested on Windows 10) the the window should position itself at 0,0 and extend to the full width and height of the current screen minus the Windows 10 task bar (40px).

### Actual behavior

The window is positioned slightly off-screen

[2017-04-13 13:43] sillyslux commented on #9164
I think this is a duplicate of #8532 and #2170.
My workaround was to downgrade to a version which i know works fine (1.3.4).
Would be nice to know with what version this has started.

[2017-04-13 13:45] niik commented on #9184
Just seconds after I opened this I got word that this is likely a dupe of https://github.com/electron/electron/issues/8728 which was recently fixed by https://github.com/electron/electron/pull/9167. Gonna close this one out

[2017-04-13 13:45] #9184 closed

[2017-04-13 14:17] TwR-Slice commented on #8825
I can reproduce the error with Electron 1.6.2 and Mac OS X 10.11.6 German System

Electron: window.getComputedStyle(elem).width => "102,70px"
Chrome (57.0.2987.133):  window.getComputedStyle(elem).width => "102.70px"

I suspect my region setting is producing this issue as i have a German system. And in Germany the decimal sign is a comma.

[2017-04-13 14:47] synergyseeker commented on #7424
did anyone ever get this working? I am able to get the FB login / share dialogue to open and share properly on FB. But you can't close or cancel the share window, unless you complete the Share process ( post to FB ) or use the "swtich user" function in the upper right

[2017-04-13 17:20] tejohnso opened #9186 "Documentation for webview and nodeIntegration suggests an insecure option"
In the [webview](https://electron.atom.io/docs/api/webview-tag/) section:

Wouldn't it be more secure to have *nodeIntegration* **disabled**?

This is reinforced in the [security section](https://electron.atom.io/docs/tutorial/security/).

[2017-04-13 18:42] poiru commented on #9181
You probably have something wrong with your SSH key setup, see: https://help.github.com/articles/adding-a-new-ssh-key-to-your-github-account/

You could also use the HTTPS URL:
[code]

[2017-04-13 18:42] #9181 closed

[2017-04-13 21:47] baconbrad commented on #9162
It isn't a matter of if it should be supported. It is a matter if it could be supported. And everyone came to the conclusion it is unlikely to be supported. And I suspect this issue will be closed due to the same conclusion. This wouldn't be as easy as changing some code and getting it to build for Android. There are a lot of incompatibilities and roadblocks preventing this from ever taking off.

[2017-04-13 21:52] CharlieHess opened #9188 "Crash in InspectableWebContentsImpl::WebContentsDestroyed"
* Electron version: 1.6.3
* Operating system: macOS 10.12.3

Been seeing this crash somewhat frequently when closing devTools on 1.6.x:

<details>

[code]

</details>

### How to reproduce

We have a developer shortcut that iterates through all `webContents` in the main process and opens or closes devTools for some subset of them. Typically after toggling this a few times, if I close a devTools wi

[2017-04-14 00:22] MarshallOfSound commented on #9186
@tejohnso WebViews are used to host remote content in their own renderer process.  This effectively creates a nested WebContents inside your top level BrowserWindow for every webview you have.  WebView's give access to webcontents API's, preload scripts and a whole load of other stuff that you should have have access to if `nodeIntegration` is enabled.

The trick here is that `nodeIntegration` **i

[2017-04-14 00:22] #9186 closed

[2017-04-14 00:44] ivandroid opened #9189 "Start dictation programmatically"
Hello everybody!

Is there a possibility to start dictation from the edit submenu programmatically? I have no access to the "Start dictation" menu item. Does anybody know why?

Thx in advance

[2017-04-14 00:55] fantasticsid opened #9190 "Keyboard events are lost when notification is dismissed"
* Electron version: 1.4.12
* Operating system: Windows 10

### Expected behavior
Typing into input box should not be affected by notifications being dismissed

### Actual behavior

While I'm typing in an input box, if a notification is dismissed, I lose 1 or 2 characters. I shouldn't lose characters being typed in.

### How to reproduce
This is fully reproducible :)

- get a powershell open and re

[2017-04-14 01:01] brysgo commented on #9162
I admit to not having a complete picture of the challenge, but where there is a will there's a way.

[2017-04-14 02:29] tejohnso commented on #9186
@MarshallOfSound can you elaborate further on how having nodeIntegration improves security when those features are present?

[2017-04-14 02:54] lneir opened #9191 "memory leak in 1.6.7 when using window.open"
* Electron version: 1.6.7
* Operating system: Mac OS X 10.10.5 and Windows 8.1

I realize 1.6.7 is still in beta but thought I should report a memory leak I am seeing...  in a simple app that does window.open with every new window opened the memory keeps growing and is never released when the sub-windows get closed.

The demo repo is committed here: https://github.com/lneir/electron-memory-leak

T

[2017-04-14 04:04] amrish7 commented on #1943
@himanshu21092 Yeah.. it did work when I last tested. It's again some 6 months back

[2017-04-14 04:39] juturu commented on #8416
I'm noticing this issue with electron 1.6.2. I tried `session.flushStorageData` without any luck.

Looking into chromium issues, found [this](https://bugs.chromium.org/p/chromium/issues/detail?id=496564&can=1&q=component%3AInternals%3ENetwork%3ECookies%20&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified&start=100). Delaying the restart by 30s resol

[2017-04-14 05:20] deepak1556 commented on #8416
Thanks @juturu for confirming!

Changing the commit interval in general will cause some perf regressions. Currently `session.flushStorageData` seems to only be flushing localstorage data to disk. We need to implement flushing cookie store with it. This can be achieved by calling [net::CookieStore::FlushStore](https://cs.chromium.org/chromium/src/net/cookies/cookie_store.h?q=flushsto&l=208) api.

[2017-04-14 05:37] deepak1556 commented on #9188
@CharlieHess can you check if the crash happens with 1.6.5-beta ? Also are you able to reproduce with a minimal example ?

[2017-04-14 07:27] Thomas101 opened #9192 "Native PDF rendering should be supported inside sub-frames and embed tags"
* Electron version: 1.6.6
* Operating system: macOS 10.12.2 Sierra

### Expected behavior

Be able to render PDFs in a similar way to chrome

### Actual behavior

* Works for opening a pdf online, e.g. `http://www.pdf995.com/samples/pdf.pdf`. Doesn't work across Microsoft online services. outlook, office 365, oneDrive.

* Sharing a document from one drive and setting the source of a browser window

[2017-04-14 09:36] sonofachuck commented on #9171
Determined that the only workaround was to override the default drag and drop behavior, which cured both the data transformation and the erasing of new line characters.

And another:
There is a bug in the interpretation of colors for textareas defined using ::selection { background: <color value> } in which only using rgba() values, with an alpha value of ".99" most closely approximates what shoul

[2017-04-14 09:47] MarshallOfSound commented on #9186
@tejohnso I think you are getting confused between available features and security levels.  The point I was making is that if you have access to the WebView element then by definition you can create a renderer process with `nodeIntegration` enabled.  This would be very bad if a renderer process without `nodeIntegration` could create itself a new renderer process with `nodeIntegration` enabled.

As

[2017-04-14 10:01] MauriceConrad commented on #9189
On macOS:

There is no "clean" API but you can do it with the 'say' command of macOS.

[code]

This should work on macOS.

[2017-04-14 10:25] himanshu21092 commented on #1943
@amrish7 , did you do any workaround or it worked as mentioned in the docs?

[2017-04-14 11:37] Thomas101 commented on #9046
We're seeing the same too :(

[2017-04-14 11:54] sla89 opened #9193 "Frameless window overlaps Windows taskbar when auto-hide is active"
* Electron version: We are using node 7.4.0 , Chromium 56.0.2924.87 , and Electron 1.6.2 .
* Operating system: Win 7 64 bit

### Expected behavior
A frameless window shall not overlap the hidden taskbar when it is maximized.

### Actual behavior
The frameless window uses the whole space of the screen. So when the taskbar is hidden and the frameless window is maximized you cannot access your taskba

[2017-04-14 12:06] ivandroid commented on #9189
Thank you for the quick reply. What I need is voice input and not output. If you start dictation on macOS, you activate the speech recognizer and can make some voice entries. So, is there a way to start speech recognition on macOS programmatically?

[2017-04-14 12:19] mcg commented on #9046
FWIW With the impending end of Unity, I've switched back to Ubuntu GNOME. Same desktop as before but Electron tray icons show up fine in the GNOME `legacy tray icon` strip.

[2017-04-14 12:55] arjndr commented on #9193
Have you tried it on an earlier version of electron? I was able to reproduce it on Windows 7 x64 with electron 1.6.2 maybe this is a bug?

[2017-04-14 13:00] poiru commented on #9193
Possibly fixed by #9167.

[2017-04-14 13:12] tejohnso commented on #9186
@MarshallOfSound I think I understand the situation.  Since the subordinate has privilege X, the superordinate must clearly indicate and expose its privilege X so as not to mask the existence of that privilege in the subordinate.

However, I think the row I would expect is `"Disabled | No | Yes | No".  In fact, I think that's the **only** row I would expect.  A more flexible option would be to pre

[2017-04-14 13:17] ivandroid commented on #9189
Ok, i've figured it out. You have to execute the short command (default Fn+Fn) to start speech recognition via terminal. Here is the code based on your code snippet:

[code]

[2017-04-14 14:18] MarshallOfSound commented on #9186
@tejohnso `nodeIntegration` is not the only problem, the webview element gives the parent page complete control over the renderer webview page.  That kind of power should not be given out lightly.  Imagine a random website X being rendered in Electron just throwing up a webview for the google sign in screen but injecting JS to capture the password.  Entirely possible if they access to the webview

[2017-04-14 16:27] #9183 closed

[2017-04-14 16:42] tejohnso commented on #9186
@MarshallOfSound I appreciate your time and I'm not looking to change anything, just trying to understand.  In your above scenario, how would the embedder's `nodeIntegration:true` help prevent password capture?

[2017-04-14 16:50] MarshallOfSound commented on #9186
I think you got it backwards again.  `nodeIntegration: true` doesn't prevent it, it is an explicit way of allowing it.  `nodeIntegration: false` explicitly prevents the current renderer creating a webview and therefore prevents it from accessing node APIs through the webview APIs.

I can only explain this so many times, I'd what I'm saying doesn't make sense for some reason I'd suggest asking on s

[2017-04-14 17:02] tejohnso commented on #9186
Thanks @MarshallOfSound

[2017-04-14 18:13] fantasticsid commented on #9190
I recorded a video reproducing this. Still using the same power shell script to reproduce it (it's also reproducible manually).

https://youtu.be/T9id4GAYhrA

[2017-04-15 01:30] cuixiping opened #9196 "Is possible to check if electron is launched from command line?"
I want to check if electron is launched from command line.
If yes, I will output some detail log files.
Otherwise, do not wirte log files.
Is it possible?

[2017-04-15 01:40] MarshallOfSound commented on #9196
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

There are quite a few userland tricks for doing this kind of thing, the most common is a simple

[code]

There is no built-in way in Electron to determine this

[2017-04-15 01:40] #9196 closed

[2017-04-15 01:40] MarshallOfSound commented on #9196
Good additional reading as well https://github.com/electron/electron/issues/7714

[2017-04-15 01:55] juturu opened #9197 "Crash after performing selection of text using touch gestures"
* Electron version: 1.6.2 (also on latest 1.6.6)
* Operating system: Windows

### Expected behavior
No crash.

### Actual behavior
Crash

### How to reproduce
Launch electron (default app). Select text using touch gestures.

stack trace
# ChildEBP RetAddr
[code]

![image](https://cloud.githubusercontent.com/assets/11049886/25059870/cd957c28-2143-11e7-8f59-db10310bc653.png)

[2017-04-15 02:18] xyyaya opened #9198 "No way to create a new minimized window"
I found that there is no way to create a minimized window with the API, if I do this on win7:
`
win = new BrowserWindow();
win.show();
win.minimize();
`

The window sometimes flush on the screen and then minimized with an animation.

So, is there any way to create a minimized window just like:
`
win = new BrowserWindow({
  minimized: true
})
`

[2017-04-15 02:22] MarshallOfSound commented on #9198
@xyyaya Maybe try

[code]

[2017-04-15 05:36] herrjemand opened #9199 "Reason for renderer crash?"
Hey there. So I am trying to debug my electron app. I have a big(over 400 tests) http api mocha test suit, that has to be run as HTML app. For some reason after about 100 tests, renderer(webContents) crashes. I catch an event, and killed variable is false.

How do I debug such situation? Is there a way to get an error message? I have googled a lot, and found no helpful info on this regard.

Cheers

[2017-04-15 07:03] orschiro commented on #9046
The same for me. I switched from Unity to MATE and there the indicator icons as well as the legacy tray ones show up.

[2017-04-15 08:20] MarshallOfSound commented on #9199
Try running it with `ELECTRON_ENABLE_STACK_DUMPING=true` and `ELECTRON_ENABLE_LOGGING=true` and see what it spits out 👍

[2017-04-15 08:23] herrjemand commented on #9199
@MarshallOfSound nothing new in the console *(

[2017-04-15 09:26] xyyaya commented on #9198
@MarshallOfSound It works thank you very much

[2017-04-15 09:26] #9198 closed

[2017-04-15 11:20] dok opened #9200 "nodeintegration causes some scripts to not load"
* Electron version: 1.6.2
* Operating system: MacOS El Capitan 10.11.5

### Issue Description
Adding the attribute "nodeintegration" to a webview tag causes some script tags in the guest page to not load. However, the script tags are retrieved successfully, they are just not being run.

### Expected behavior
Expect adding the "nodeintegration" to a webview tag shouldn't cause some scripts to not r

[2017-04-15 11:54] willnewii commented on #8394
i need same ability  :-)

[2017-04-15 12:13] MarshallOfSound commented on #9200
First off, this is entirely expected behavior.  By enabling `nodeIntegration` you are injecting globals into this page including `module` and `require`.  Lot's of libraries, most notably jQuery use these globals to determine whether to inject itself into `window.$` or to export on `module.exports`.  This means that with `nodeIntegration` enabled these loaders act differently and to use jQuery you

[2017-04-15 12:13] #9200 closed

[2017-04-15 12:13] MarshallOfSound commented on #9200
This is a good read 👍
https://github.com/electron/electron/blob/master/docs/tutorial/security.md

[2017-04-15 12:28] dok commented on #9200
@MarshallOfSound thanks for the clarification

[2017-04-15 14:28] ph55 opened #9201 "The connection from pid 0 was invalidated from this process."
* Electron version: v1.6.2
* Operating system: macOS Sierra 10.12.4

### Expected behavior

No errors should appear

### Actual behavior

When switching focus back to app, error thrown:
[code]

### How to reproduce
Run app with `electron .`
Switch focus to another app and back to electron app again - error thrown.
Reproduced with electron-quick-start:

`$ git clone https://github.com/electron/elec

[2017-04-15 16:27] kivS commented on #8862
Had the same problem using makeSingleInstance, I solved it using app.exit() instead of app.quit().

[code]
something to do with app.exit not having to emit events before quitting

[2017-04-15 20:17] pfrazee commented on #8737
I ended up solving this with https://github.com/beakerbrowser/beaker/commit/2b722936280c1f16e5bab92eafaabc7ca040a567.

[2017-04-15 20:28] pfrazee commented on #8737
^ Note that I had to

 1. Turn `window.onbeforeunload` into a setter, to capture what the sites set it to
 2. Wrap `window.addEventListener` (oof)

So it would really be preferable to get the default Chromium behaviors.

That said, one thing that wasn't happening at all was, the `onbeforeunload` wasn't getting called when a webview is *closed*, which is unsurprising when you think about it. But, t

[2017-04-15 23:11] MarshallOfSound commented on #9201
@ph55 I've seen this before a few times I think and AFAIK it didn't cause any obvious issues, not saying it's not a problem that should be fixed but has this caused any noticeable issue for you?

[2017-04-16 10:28] johny-bravo commented on #461
same issue here with 1.6.2 on win7

[2017-04-16 11:04] fttx opened #9202 "DNSServiceRef is not initialized error"
* Electron version: 1.6.6
* Operating system: Windows 10 x64

I use https://github.com/agnat/node_mdns to announce an HTTP service.

### Expected behavior

The Bonjour SDK should be inlcuded in the installer.
The user shouldn't be asked to install external dependencies

### Actual behavior

When i install the package into a machine that doesn't have the Bonjour SDK installed i get:

![image](https

[2017-04-16 11:05] AfroMetal commented on #8455
Is there any hope for a fix?

[2017-04-16 12:46] JohannesHoppe commented on #228
@schickling see https://github.com/JohannesHoppe/nightmare-html2pdf -- nightmare in docker, with Xvfb

[2017-04-16 13:35] ph55 commented on #9201
@MarshallOfSound
Yes, seems that it doesn't affect workflow.
But for smooth user experience error should be fixed IMHO.

[2017-04-16 13:58] sancarn opened #9203 "GlobalShortcut - Mac OS X - CMD+Space still triggers "Spotlight Search""
I setup a global keyboard shortcut as command+space:

[code]

This is actually what happens though:

https://www.youtube.com/watch?v=HTN9aIRaLWw

I would expect spotlight search to be disabled.

[2017-04-16 14:07] MarshallOfSound commented on #9203
As far as I know this is expected behavior.  If a system level app (spotlight) wants to listen to a specific key combination there is little you can do to stop it.  To be honest I'm surprised your key listener works at all 😆

Other spotlight replacements like Alfred have long FAQ pages specifically for this kind of issue, i don't believe there is a way to programmatically prevent or change spotlig

[2017-04-16 14:12] schickling commented on #228
Thanks @JohannesHoppe, I got Nightmare working in Docker with Xvfb but want to run it on AWS Lambda instead.

I've opened an issue to replace Electron with headless Chrome in Nightmare: https://github.com/segmentio/nightmare/issues/1092

[2017-04-16 14:33] sancarn commented on #9203
Hmm same resources I found also.

The only lead I had to solving the issue was this post:

http://stackoverflow.com/a/7227903/6302131

[code]

But I fear that it'd screw up spotlight in general xD

[2017-04-16 14:58] #9197 closed

[2017-04-16 15:27] eyyubovkamran opened #9205 "No setting referrer when clicking on an anchor with target='_blank'"
* Electron version: 1.6.2
* Operating system: Windows 7

### Expected behavior

Click on a link with `target=_blank` attribute should open a new browser window and open the clicked url with referrer header set to the original window's url.

### Actual behavior

No referrer header is sent with request on created browser window

### How to reproduce
Put this in any public or local domain
index.php
[

[2017-04-16 16:36] sancarn opened #9206 "globalShortcut event - Super+<keys> not working as documented, on Windows 10"
Code Example:

[code]

The above code should trigger on the `Windows+Space` keyboard shortcut. However from my testing it does not.

I can clarify however that super corresponds correctly to command on Mac.

[2017-04-16 17:23] UserContributer commented on #9046
Ah, the joys of non LTS, you get to see issues occur before they even had a chance to be fixed!  Kidding, this crap is getting annoying, why did they bother to change anything in Unity 7 if they were trying to replace it, it's just stupid.

[2017-04-16 18:19] charlex opened #9207 "Default TouchBar button size with icon is massive"
* Electron version: 1.6.6
* Operating system: macOS 10.12.3

### Expected behavior

Padding around buttons to be uniform, regardless of if there is an icon, an icon with a label, or just a label.

### Actual behavior

Buttons with just an icon occupy a large space.

<img width="1085" alt="touch bar shot 2017-04-16 at 11 15 09 am" src="https://cloud.githubusercontent.com/assets/1542740/25073217/8fe

[2017-04-16 23:02] CharlSteynberg commented on #2170
Same problem here.

Using:
- hardware: HP laptop (no special GPU)
- OS: openSUSE
- electron: v1.6.2

[2017-04-16 23:15] MarshallOfSound commented on #9206
@sancarn The issue template is there for a reason 😄 Can you please share the Electron version you are experiencing this on 👍

Also have you tested with other combinations or just `Super+Space`, would recommend testing out a few others like `Super+Control+A`, `Super+A` and `Super+1`

[2017-04-17 00:19] MarshallOfSound commented on #9207
@charlex I can't find the docs now but basically an NSButton will always have the width of the original image regardless of scaling applied to it.  Your initial image is quite large so the button that is made inherits that width.

The touchbar then scales down the image but due to the way the button was sized it is exceedingly big.  If you resize your images to be the correct size for a touch bar

[2017-04-17 00:19] #9207 closed

[2017-04-17 00:21] charlex commented on #9207
Ah I thought it might have been that. Thank you! @MarshallOfSound it might be a "nice to have" if we put the correct size of images in the docs.

[2017-04-17 00:28] MarshallOfSound commented on #9207
@charlex Apple have nice docs for this kind of thing 👍

https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/OSXHIGuidelines/Icons.html#//apple_ref/doc/uid/20000957-CH107-SW1

[2017-04-17 00:30] charlex commented on #9207
Very fair! Thanks for that link.

[2017-04-17 01:31] sancarn commented on #9206
Hi Marshall,

Apologies:

`We are using Node.js 7.4.0, Chromium 56.0.2924.87 and Electron 1.6.2`

I have indeed tried other combinations:

`Super+Z`

It is my understanding that `Super+1` won't work anyway as `Win+1` is reserved by the windows OS.

[2017-04-17 04:53] MarshallOfSound commented on #9009
As far as I can tell this is part of the spec for the TouchBar, if any item would exceed the available space it is either cropped or hidden.  Why it chooses to hide vs crop in some cases I can not explain, apple either made it like that or it is a bug in macOS 🤷‍♂️

A possible workaround to this is implementing a new touch bar item which contains a [`NSScrollView`](https://developer.apple.com/refe

[2017-04-17 06:36] jddxf opened #9209 "Inconsistent appearance of accelerators containing an fn key shown in menu item"
* Electron version: 1.6.6
* Operating system: Win10

### Expected behavior
Consistent look of accelerators.

### Actual behavior

![electron](https://cloud.githubusercontent.com/assets/11155177/25081085/bc38afe8-237a-11e7-9d99-8dfadac0fcdc.png)
All fn keys have a space before them except F1 and F11
### How to reproduce
[code]

[2017-04-17 06:49] saikrishnadeep opened #9210 "[Query] How does electron generate its docs?"
Hi, I was just wondering how electron generates the docs from the `.md` in the folder `/docs/`?  Does it use a standard tool like `pandoc`, `mkdocs` or does it use something else? I apologize for opening this as an issue.

Their generated docs: https://electron.atom.io/docs/

[2017-04-17 07:36] herrjemand commented on #9199
@MarshallOfSound Ref: #7591

[2017-04-17 07:37] herrjemand commented on #9199
I can't write code to reproduce the issue, as it is not specific to the event.

[2017-04-17 07:38] herrjemand commented on #9199
@MarshallOfSound Is there a way to get log of what render doing?

[2017-04-17 07:46] wangpin34 commented on #8419
@MarshallOfSound  I followed the instruction in [http://electron.atom.io/docs/api/app/#event-certificate-error](http://electron.atom.io/docs/api/app/#event-certificate-error) and my problem resolved. But when I tested my app behind a http proxy, it always forwarded to network error page.  Is there any change needed for this situation?

[code]
Thanks.

[2017-04-17 08:02] andymartinwork commented on #9199
I have added a hook to renderer crashes in our app, and it happens rather frequently for users. Is there any way to detect the reason for renderer crashes in the JS callback?

[2017-04-17 08:23] paulbrzeski opened #9212 "Electron-based app fails to start when xml-stream library is used"
* Electron version: 1.6.2
* Operating system: Windows 10 64 bit and Mac OSX (Capitan? Latest..)

### Expected behavior

The app should start normally when running with 'electron .'

### Actual behavior

In Windows,

App threw an error during load
Error: The module '\\?\C:\git\scriptomente\node_modules\node-expat\build\Release\node_expat.node'
was compiled against a different Node.js version using

[2017-04-17 08:34] brenca commented on #9212
This is an error related to another dependency (probably of xml-stream), node-expat. This module is compiled against an older version of electron, hence the error.

Generally speaking this error means that a native c++ module is compiled against a different version of electron. I'm closing this since this is not an electron bug.

[2017-04-17 08:34] #9212 closed

[2017-04-17 08:35] MarshallOfSound commented on #9212
Relevant module to fix these things --> https://github.com/electron/electron-rebuild

[2017-04-17 09:10] deepak1556 commented on #9192
Yes the current pdf rendering implementation will not work inside sub-frames and embed tags. Will use this issue to track it, also can you update the repo to reproduce the assertion error. I don't see any test case in the `pdf_rendering_bug` branch, thanks!

[2017-04-17 09:58] MarshallOfSound commented on #9210
The website is actually just fancily rendered versions of those markdown files 👍

We do parse our docs into structured JSON though through https://github.com/electron/electron-docs-linter

[2017-04-17 09:58] #9210 closed

[2017-04-17 09:59] MarshallOfSound commented on #9210
The generated JSON file is attached to each release 👍

https://github.com/electron/electron/releases/download/v1.6.6/electron-api.json

[2017-04-17 16:04] samkelly commented on #8532
OS: Ubuntu 16.04
Electron: 1.4.15

exact problem as people above, issue starts with 1.4.15 (works in 14)

[2017-04-17 16:40] cleidigh commented on #7681
@hss-dev
I am also very interested in this issue which I think is related to some problems
I am seeing between Dragon and Visual Studio code - A Microsoft project I am working on
after an electron update 1.5 there seem to be several issues with electron

have you made any progress on this?
do you work on Dragon code?
I am also user of Dragon as I am disabled so this is very important to me persona

[2017-04-17 16:57] cleidigh opened #9215 "Electron 1.5 and above significant issues with Dragon voice operation (menus and performance)"
OS: Windows 7 professional
Electron app: Microsoft Visual Studio code (just upgraded electron to v1.6.2 from 1.4.6

- I am a contributor to Visual Studio code
- I am also disabled and utilize Dragon Naturally Speaking DPI 14 from Nuance (the de facto voice dictation program for Windows)
- After VSC upgraded to electron version 1.6.2 the ability to control submenus completely disappeared
- Main nat

[2017-04-17 18:23] JPenuchot commented on #8935
Same here using Atom

[2017-04-17 18:28] faisalferoz commented on #228
@schickling try this: https://github.com/dimkir/nightmare-lambda-tutorial

[2017-04-17 19:36] salomvary commented on #9009
That might make sense. Proactively and space-efficiently trimming the text to avoid accidental and uncertain hiding of TouchBarLabel is nearly impossible. Neither the available space is known nor is it straightforward to calculate the pixel-width of the to-be-rendered text.

[2017-04-17 19:45] philfreo commented on #4782
@subwaymatch Would you care to open source (even if it's not fully polished) your version of implementing a "find in page" in Electron similar to Chrome's functionality? It would be very much appreciated!

[2017-04-17 20:02] coelhoadler commented on #3277
Hello @eric-naguras, did you found any solution to sending an object?

[2017-04-17 21:39] akashnimare commented on #8812
@deepak1556 could you please show some light on this? How do I make it work on Linux?

[2017-04-17 23:24] fantasticsid commented on #9190
To provide more info: in vendor/brightray/browser/win/windows_toast_notification.cc, if I don't register handler for 'dismissed' event by commenting out the call to
[code]
it seems to fix the problem.

Obviously this is not a fix, just more evidence that dismiss handler might be the problem.

[2017-04-17 23:31] juturu opened #9216 "Heap snapshot crashes main process"
* Electron version: 1.6.2
* Operating system: Windows

### Expected behavior
No crash

### Actual behavior
Crash

### How to reproduce
Call  [v8-profiler](https://github.com/jrieken/v8-profiler) takeSnapshot API from main/browser process

Crashes
[code]

This seems different from #8791
This doesn't happen on 1.3.6 version of electron.

[2017-04-18 05:00] upicik commented on #8362
@MrMashy @baconbrad I updated quick-start docs and added a commit (above) with citations from [The Chromium Projects](https://www.chromium.org/chromium-os/how-tos-and-troubleshooting/developer-faq)

[2017-04-18 06:28] eric-naguras commented on #3277
@coelhoadler you can send data but not objects with their methods included.

[2017-04-18 10:55] sla89 commented on #9193
I have tested it with the sources of the master branch (code from today) and everything works like a charm. This can be closed. :+1:

[2017-04-18 10:55] #9193 closed

[2017-04-18 10:59] crylg opened #9220 "生成exe问题 build package (exe)"
electron-packager ./ --all --out ./build-app --version 1.0.0 --overwrite --icon=./logo/logo.ico --platform win32

WARNING: The version parameter is deprecated, use electronVersion (or --electron-version in the CLI) instead

... and 1 more
connect ETIMEDOUT 54.231.81.200:443
为什么会去连接美国服务器
有没有办法绕开这一步?

[2017-04-18 11:01] crylg commented on #9220
... and 1 more
connect ETIMEDOUT 54.231.81.200:443

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "run" "package"
npm ERR! node v6.5.0
npm ERR! npm  v3.10.3
npm ERR! code ELIFECYCLE
npm ERR! angular2-electron-quickstart@1.0.0 package: `electron-packager ./ --all --out ./build-app --overwrite --icon=.

[2017-04-18 11:06] herrjemand opened #9221 "Building on Win10 issue"
I am running Windows 10 x64. I can't figure out what causing my electron to fail build.

[code]

[2017-04-18 11:26] MarshallOfSound commented on #9221
Have you rebootstrapped successfully recently?

[2017-04-18 11:29] herrjemand commented on #9221
@MarshallOfSound fresh bootstrap *(

[2017-04-18 11:46] coelhoadler commented on #3277
Thank you for reply @eric-naguras

[2017-04-18 12:16] MarshallOfSound commented on #9220
@crylg It looks like you are failing to connect to S3, if you are behind a proxy or firewall and can't hit S3 you should use the `ELECTRON_MIRROR` environment variable to specify a mirror to get the electron binaries from 👍

Chinese mirror for instance: https://npm.taobao.org/mirrors/electron

[2017-04-18 12:16] #9220 closed

[2017-04-18 12:17] MarshallOfSound commented on #9220
^^ Reached that conclusion as `54.231.81.200` is an S3 IP address 👍

[2017-04-18 12:19] MarshallOfSound commented on #9221
@herrjemand Haven't seen these particular errors before, can you try off a clean clone just running these commands and nothing else, I just verified this process worked on my machine 👍

[code]

[2017-04-18 12:26] coelhoadler commented on #3466
I've the same problem within pass an object for ipc =/

[2017-04-18 14:35] Eugeny commented on #6440
This can also be done by editing the file directly: https://askubuntu.com/questions/514125/url-protocol-handlers-in-basic-ubuntu-desktop

[2017-04-18 16:09] #8416 closed

[2017-04-18 16:16] yuya-oc opened #9223 "Minimized window of secondary monitor isn't properly restored when using Remote Desktop"
* Electron version: 1.6.2, 1.6.6
* Operating system: Windows 10 Pro

### Expected behavior

Minimized window should appear properly on the remote desktop console.

### Actual behavior

The window didn't appear when restoring.
Other native apps like cmd.exe or mspaint.exe were correctly restored.

### How to reproduce

1. Connect the secondary monitor.
2. Start electron.
3. Move the BrowserWindow t

[2017-04-18 16:19] RonAtPyramid commented on #8314
anyone?

[2017-04-18 16:40] shanept commented on #711
Bumping an old issue, I know...
But I had this same issue and the solution by @cldwalker fixed this.
Maybe it's worth including in the windows building docs?

[2017-04-18 17:12] ivandroid commented on #9189
Ok, this code doesn't seem to be working with a signed mac os app. Is the command

`osascript -e 'tell app \"System Events\" to key code {63,63}'`

the only possibility to start dictation programmatically?

If no:

Which entitlement key/value can grant permission to execute such a script from an electron app?

Thank you in advance!

[2017-04-18 17:51] anatoli26 commented on #8812
@groundwater, @deepak1556 should we expect any progress on this issue or it's in abandoned state? Just to know if to wait for the fix or implement own solutions in the apps using electron.

[2017-04-18 17:54] bpasero opened #9225 "Images drawing badly when having environment variable LANG=pl_PL"
* Electron version: 1.6.6
* Operating system: macOS 10.12.4

### Expected behavior

Images are drawing nicely.

### Actual behavior

Images are drawing badly:

![image](https://cloud.githubusercontent.com/assets/900690/25145212/d12834a4-2470-11e7-9ec1-689316c97e5d.png)

### How to reproduce

* `export LANG=pl_PL`
* `./Electron`

Reported to us via https://github.com/Microsoft/vscode/issues/24820

[2017-04-18 18:02] patrys commented on #9225
`LC_NUMERIC` is enough to reproduce so it's likely related to parsing numbers using locale-aware functions where generic ones should be used instead.

[2017-04-18 18:08] kevinsawicki commented on #9225
Sounds a bit similar to #8825

[2017-04-18 18:09] bpasero commented on #9225
Yup, looks like it is the same issue.

[2017-04-18 18:10] bpasero commented on #9225
Is this https://bugs.chromium.org/p/chromium/issues/detail?id=711683 ?

[2017-04-18 20:10] kevinsawicki commented on #9225
The patch looks super small so I would think so, will queue up some libcc builds with it and verify it goes away.

[2017-04-18 20:30] ccnokes opened #9226 "OS level user defined keyboard shortcuts do not execute when Electron app is focused on macOS"
* Electron version: 1.6.2
* Operating system: macOS 10.12.4

### Expected behavior

Hotkey should execute.

### Actual behavior

Hotkey doesn't execute.

### How to reproduce

1. Go to Preferences > Keyboard > Services and change one of the service hotkeys to Ctrl+Cmd+M. (I reproduced this with Pictures > Take Screenshot service).
2. Focus Electron app
3. Execute the hotkey
4. 😢  because it doesn'

[2017-04-18 22:15] zanderz commented on #6312
It looks like Chromium does not track changes to screen work areas properly, and returns the stale values still to Electron. I opened a Chromium bug and am testing a change: https://bugs.chromium.org/p/chromium/issues/detail?id=712871

I could only get it working with electron/libchromiumcontent, which seems to lag Chrome's master by a  couple of months.

[2017-04-19 02:41] KagamiChan commented on #9220
use command like `ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron/ npm i electron` works, note that the ending `/` cannot be omitted

[2017-04-19 02:51] liuzhen2008 opened #9228 "Electron error, cannot execute binary file"
`electron:stderr /Users/liuzhen/Documents/forfun/node_modules/electron/dist/electron: /Users/liuzhen/Documents/forfun/node_modules/electron/dist/electron: cannot execute binary file +0ms
`
I got this error when running the command line below on Mac.

`  electron:stderr /app/node_modules/electron/dist/electron: error while loading shared libraries: libXss.so.1: cannot open shared object file: No su

[2017-04-19 02:53] MarshallOfSound commented on #9228
@liuzhen2008 This would seem to be a Nightmare issue, potentially due how they spawn Electron.  Have you raised this with them before raising here?

[2017-04-19 03:01] liuzhen2008 commented on #9228
@MarshallOfSound Yes I have. I duplicated this issue on nightmare side!

[2017-04-19 05:22] MarshallOfSound commented on #9228
@liuzhen2008 These errors look like you are trying to run Nightmare on a linux server with a display.  If you are running on a server without a display you need to have `xvfb` running.

The first error looks like the electron executable doesn't have `+x` on it so can't be executed, fixing these two things should get you running

[2017-04-19 06:11] optimisme commented on #2170
@sam0x17, no scaling with my hardware/software

[2017-04-19 06:35] herrjemand commented on #9221
@MarshallOfSound

Here is what I am getting now:

[code]

[2017-04-19 06:55] #9171 closed

[2017-04-19 06:57] andymartinwork opened #9229 "navigator.storage.persist() not working"
* Electron version: 1.6.1
* Operating system: OSX

Only tested in a webview so far.

### Expected behavior

Chrome clears local storage [under storage pressure](https://developers.google.com/web/updates/2016/06/persistent-storage). I'm not sure if Electron does this as there seems to be no documentation about it. A new API has been released which will make the contents of local storage persistent.

[2017-04-19 07:04] zh99998 commented on #7970
this extension still can't work under electron v1.6.5
no errors are printed in console, but also no any content.
as rangle/augury#687

[2017-04-19 07:16] MarshallOfSound commented on #9221
@herrjemand What version of visual studio do you have / is it fully up to date?

[2017-04-19 07:18] herrjemand commented on #9221
vs2015 up to date

19 апр. 2017 г. 7:17 PM пользователь "Samuel Attard" <
notifications@github.com> написал:

[2017-04-19 08:05] asafbe commented on #8314
Our code also affected by this issue. Is someone currently working on this? any known solution? Thx

[2017-04-19 08:11] Marais commented on #8314
Our code is also affected by this

[2017-04-19 08:32] guyalizi commented on #8314
Our code is also affected by this

[2017-04-19 08:37] bpasero commented on #9225
A workaround seems to be to set `process.env.LC_NUMERIC = 'C'` very early in the `main.js` script. I think we will go with that, given we plan a new release already next week using Electron 1.6.6.

[2017-04-19 08:41] ronalb commented on #8314
I'm trying to capture page which is bigger then the page size, I tried to create bigger web page
but nothing works.it seems electron "knows" my screen size .
 btw in phantomjs this feature is working.
any solution? anyone?

[2017-04-19 09:14] deepak1556 commented on #9229
Can you expand on what you expect to happen ?

The spec doesn't state that quotas have to be increased when a storage has been made persistent, its just the storage will not be evicted unless there is an action performed by user explicitly.

Yes by default all origins in Electron are granted durable storage, so they are not evicted automatically under storage pressure.

[2017-04-19 09:24] andymartinwork commented on #9229
I would expect the `navigator.webkitTemporaryStorage.` to report zero, and the `navigator.webkitPersistentStorage` to report the size of the stored data.

The quota is already the entirety of my drive's free space, I just thought it would move from "temporary" to "persistent".

If you're sure about this, then there should be no issue.

[2017-04-19 09:48] deepak1556 commented on #9229
I believe its mostly because we grant unlimited storage by default to all origins. Anyway those apis are going away soon after `navigator.storage.estimate` becomes stable https://storage.spec.whatwg.org/ .

Yes I am sure, if it doesn't work then its definitely a bug. There is no easy way to test on user land, I can only verify that the origins storage are not evicted following chrome's policy simi

[2017-04-19 10:55] andymartinwork commented on #9229
Thanks for explaining how Electron behaves. I feel a lot happier about our local storage now.

I'll see if I can force my computer to zero disk space to test, and if there's a problem I will reopen.

[2017-04-19 10:55] #9229 closed

[2017-04-19 11:18] rhysd opened #9230 "rel="noopener" crashes app on preventing 'new-window' event"
* Electron version: 1.6.7-beta
* Operating system: Windows 8.1 (but Windows 10 also reproduce this)

### Expected behavior

Prevent event properly

### Actual behavior

App crashes

### How to reproduce

I created a small app which can reproduce this bug.

https://gist.github.com/rhysd/1dcf61cf42b822e2044372e353d3519f

1. Download electron-v1.6.7-win32-x64.zip and unarchive it
2. Create `app` in `

[2017-04-19 11:25] rhysd commented on #9230
I also confirmed removing `rel="noopener"` does not make app crash.

[2017-04-19 12:19] aight8 commented on #9102
bump

[2017-04-19 12:23] KochiyaOcean commented on #8667
I've found that drop an image on webview will make it navigate even if event.preventDefault() is called.
It can be reproduced on electron 1.6.x but former version havn't this problem.

For example, create an webview like
[code]
and drop an image on it.

[2017-04-19 12:25] MarshallOfSound commented on #9102
@aight8 Please don't "bump" issues, it does nothing other than send annoying emails to people watching the repo 👍

[2017-04-19 12:42] mattgalvin commented on #8314
The issue still happens for me, but I have code implemented that works around the issue in a reliable manner - our application has been in production for a couple of months. I am tied up for most of the day but I will try and get sample working code posted for you guys this afternoon.

[2017-04-19 13:25] BrandonSmith commented on #8205
FWIW... I cannot reproduce locally, but my error catcher for a deployed app in the field catches the following...

`Cannot call function 'setBadgeCount' on missing remote object`

...on the call...

`remote.app.setBadgeCount(count)`

I can go the `ipc` route, but it seems odd that the `app` property goes missing.

[2017-04-19 13:37] luispabon commented on #9046
Workaround here: http://www.webupd8.org/2017/04/fix-appindicator-not-working-for.html

[2017-04-19 13:46] ronjouch commented on #8384
Awesome! One nit: the [Desktop Environment Integration docs](https://github.com/electron/electron/blob/master/docs/tutorial/desktop-environment-integration.md#windows) still state that:

→ Are we talking about two different things, or are the docs simply outdated?

[2017-04-19 14:23] MarshallOfSound commented on #8384
@ronjouch AFAIK docs are outdated and that disclaimer probably just needs to be modified to explain the implementation or be removed completely. 👍

[2017-04-19 14:57] rhysd commented on #9230
Some people reported this issue occurs also in Linux. And I could reproduce this bug with Ubuntu 16.04.

[2017-04-19 14:59] S--Minecraft opened #9231 "Crashes on webview.loadURL()"
* Electron version: 1.6.5
* Operating system: Windows 10 64bit

### Actual behavior

Crashes

### How to reproduce
[code]

1. click "change" button
1. click "hide" button
1. click "change" button

https://github.com/S--Minecraft/Electron-Webview-Bug

[2017-04-19 15:01] S--Minecraft commented on #9231
It happens with Electron **1.6.7**
It doesnt happen when using **1.6.2**

[2017-04-19 15:48] vossad01 commented on #6539
@jacobq The flag should exist in the chromium being used, but [it is not one of the flags supported by electron](https://github.com/electron/electron/blob/master/docs/api/chrome-command-line-switches.md).

I tried it by passing the switch anyway and the app ultimately failed indicating there was no native wasm support detected.

[2017-04-19 16:02] sam0x17 commented on #2170
ok, scaling probably unrelated, then

[2017-04-19 16:06] jacobq commented on #7395
Yes, could you please add support for `--enable-webassembly`?
See https://github.com/electron/electron/issues/6539#issuecomment-295318367

[2017-04-19 16:06] jacobq commented on #6539
@vossad01  Aw, bummer :(
Maybe we just have to wait for a future version of electron then...

[2017-04-19 16:40] deepak1556 commented on #9230
Thanks for the sample app, I am able to reproduce the crash. https://github.com/electron/electron/pull/9113 should fix this.

[2017-04-19 16:41] eriedl-kiban commented on #528
I'm trying to implement a "recent items" feature and I'm having difficulties adding/removing MenuItems at run-time. I came across this comment here https://github.com/electron/electron/issues/608#issuecomment-54026327, which led me here. I just wanted to confirm that there is at the moment no way to dynamically add and remove MenuItems or if I'm just doing something wrong. Specifically, I'm trying

[2017-04-19 16:50] vossad01 commented on #7395
@gabrielstuff From looking at the code, it appears (to me anyway) that with how electron integrates chromium, it is not just a simple matter of "passing through" the flag.  Instead the flag functionality needs to be explicitly wired to the appropriate subcomponent, meaning extra work and code for features that may not have relevance or demand in electron.  I believe that may answer your question "

[2017-04-19 17:12] rhysd opened #9232 "WebContents#insertCSS does not work when 'sandbox: true'"
* Electron version: 1.6.7-beta
* Operating system: macOS 10.12

### Expected behavior

CSS inserted with `insertCSS` should be reflected

### Actual behavior

CSS inserted with `insertCSS` is not reflected

### How to reproduce

I made a small app for this issue in Gist.

https://gist.github.com/rhysd/68e3006d3c192faea22bb6e5106c81c5

1. Download and unarchive the Gist
2. Enter the unarchived dire

[2017-04-19 17:15] rhysd commented on #9232
If `sandbox: true` is not set, inserted CSS is reflected. So this behavior may be intentional.

[2017-04-19 17:30] javan opened #9233 "scrollBounce only bounces once for <webview>s"
* Electron version: 1.6.7
* Operating system: macOS 10.12.4

https://github.com/electron/electron/pull/9134 restored the `scrollBounce` preference (🎉), but it seems to only work *once* for `<webview>`s. Works ∞ times for browser windows. :)

![scroll-bounce-once](https://cloud.githubusercontent.com/assets/5355/25193142/070ca2f6-2504-11e7-9927-c4abdb720609.gif)

To reproduce, apply these changes to

[2017-04-19 18:52] brenca commented on #6539
I've tried adding `app.commandLine.appendSwitch('enable-webassembly')` with a branch based on the latest master (v.1.6.7) and this [demo](http://webassembly.org/demo/Tanks/) seems to be working if I add the flag this way.

[2017-04-19 20:09] arielpires commented on #5125
@fxckdead and @fxckdead , Can you guys please show me an example on how to set this margins?

[2017-04-19 20:12] bronson commented on #7403
If anyone else runs into this, it should be fixed in Electron 1.4.2.

Atom 1.16 is on Electron 1.3.13, and 1.17 is on 1.3.14...  Both produce 0-length CPU profiles.

Next Electron bump should take care of it.

[2017-04-19 20:13] vossad01 commented on #6539
@brenca I just tried that demo it with `master` (4a9383b50bc2f15f42c027d7369e4a8129820cf1), and had it fail.  [That demo has asm.js fallback](https://github.com/WebAssembly/website/issues/84), is there any chance you ended up utilizing that?

* [This is my attempt at the tank demo](https://github.com/vossad01/electron-webassembly-tank-demo) (it excludes the asmjs fallback files).
* [This is my ori

[2017-04-19 20:15] fxckdead commented on #5125
@arielpires When we refeer to `@page` we mean about the CSS rule to define printing style. You can read about it [here at mozilla](https://developer.mozilla.org/en-US/docs/Web/CSS/@page) and [here is an article](https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/) where you can find a lot of explanation and examples.

ps: i don't have the code i used in my question, so i can't s

[2017-04-19 20:26] arielpires commented on #5125
@fxckdead thanks a lot! That solved my problem. =)

[2017-04-19 21:00] DracotMolver opened #9234 "Help needed with box notifications"
* Electron version: 1.6.5
* Operating system: Windows 10

Hi there. Well, this is not an issue. I was just wondering if there's a way to the the example of the image using electron or something else. I'd like to manage some features of my app in a similar way. And if also this can be accomplish for linux like the control MPRIS and for Mac.  Any help, thanks :).

![ejemplo_win](https://cloud.github

[2017-04-19 21:38] vossad01 opened #9235 "Feature Request: WebAssembly Support"
### Expected behavior

WebAssembly modules loaded in either any electron context (ex, server process or render process) are usable within Electron.

### Actual behavior

WebAssembly modules fail to load/run.

### How to reproduce

* [This repository provides a simple test](https://github.com/vossad01/electron-webassembly-hello) and derives from the [WebAssembly.org Developer's Guide](http://webass

[2017-04-19 22:15] liliakai commented on #6712
Also need access `webFrame` from a sandboxed renderer in order to `setSpellCheckProvider`.

[2017-04-19 22:30] MarshallOfSound commented on #9234
That box is created the the windows media transport controls.

You can use the @noderrt modules on NPM to use the correct APIs to make this appear.  Be warned you should only use it as a media player or people get mad.  😆

My implementation can be seen here https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/baa6647e724d9d901180e04ba1ef0ed09d62ef8e/src/renderer/win

[2017-04-19 22:30] #9234 closed

[2017-04-19 22:30] MarshallOfSound commented on #9234
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2017-04-19 22:47] LesterU commented on #9192
Is there any chance this is going to be fixed? Its a real killer for me when using Outlook.

[2017-04-20 00:34] vossad01 commented on #6539
I opened #9235 requesting WebAssembly support and outlining what I learned in my investigation of adding it to electron.

[2017-04-20 00:46] kevinsawicki commented on #8871
The top of the stack symbolicated is:

[code]

[2017-04-20 01:44] liliakai commented on #8547
There are now multiple requests for webFrame support in sandboxed renderers over at #6712, though I think this particular use case would also be satisfied by allowing the main process access to `setSpellCheckProvider` via `webContents`, as is done with several other `webFrame`-specific methods [here](https://github.com/electron/electron/blob/master/lib/browser/api/web-contents.js#L109).

[2017-04-20 02:34] fwextensions commented on #1611
@vernondegoede Interesting, didn't know about that: https://babeljs.io/docs/usage/babelrc/#use-via-package-json

[2017-04-20 06:27] michaelenger commented on #9188
I've experienced the same crashes with the same error log, but it was solved after I updated to 1.6.5

[2017-04-20 06:57] zinkkrysty commented on #4380
This issue is the same as in https://bugs.chromium.org/p/chromium/issues/detail?id=661596

I fixed it in my browser by disabling graphics blacklist (I used the flag --ignore-gpu-blacklist). I don't know how to do this in Electron apps (Slack, Atom).

For me the issue happens every time I connect/disconnect an external screen (because it switches from integrated graphics to dedicated)

Using MacBoo

[2017-04-20 07:11] matan-dr commented on #8314
this issue also happens to me , does anyone has an a workaround solution till this issue will be solved?

[2017-04-20 08:16] akdes commented on #7049
i have the same issue on Win10 32 with 64 CPU. White Screen, DevTools disconnected.
This is 24/7 unit... i get this after 30-50 hours

[2017-04-20 08:24] timfish commented on #7049
A white screen just means the render process has crashed so it could be caused by many things.

One option is to hook the on crash event on webContents and restart you're crashed browser window.

[2017-04-20 09:19] akdes commented on #7049
have you some example for me? process.on("crash"... not working for me

[2017-04-20 09:39] timfish commented on #7049
For it to work, I had to do it in the main process, like this:
[code]

[2017-04-20 09:55] akdes commented on #7049
i hope it works for me, thank you!

[2017-04-20 11:54] herrjemand commented on #9199
Ok. So I've build electron with debug log, and here is what I am getting:

[code]

[2017-04-20 11:56] herrjemand commented on #9199
cc: @MarshallOfSound @andymartinwork

[2017-04-20 12:27] MarshallOfSound commented on #9199
@andymartinwork Nope, if it's a native crash (not a JS error) then the only way to get the stack AFAIK is through the crash reporter.

[2017-04-20 12:51] #9221 closed

[2017-04-20 12:52] #9199 closed

[2017-04-20 12:53] herrjemand opened #9236 "Renderer crashes with signal 11 SEGV_MAPERR"
Here is a stack trace

[code]

[2017-04-20 12:55] herrjemand commented on #9236
I've been stuck with this issue for a week. Application does not crash, only renderer.

[2017-04-20 13:02] herrjemand commented on #9236
Ref: #9199

[2017-04-20 13:02] fineline commented on #1958
@marcelfalliere I am trying the same setup as you with electron-vue but I couldn't get the __dirname approach to work. I think it could be because I'm on a Mac and the files cannot be referenced inside the asar. I put my preload.js in the app/dist folder and with __dirname concatenated into the webview preload attribute it looks like this:

<webview src="http://localhost:9080/page.html"
preload="f

[2017-04-20 13:44] Brahmasmi commented on #8993
@zcbenz, Chrome 58 seems to have landed. We may want to upgrade electron's dependency. Thanks.

[2017-04-20 14:21] brenca commented on #6539
Yeah, I see the problem too with your original test.

[2017-04-20 17:28] herrjemand commented on #9236
Running electron v1.6.7

[2017-04-20 22:42] fineline commented on #1958
@marcelfalliere I changed my dev configuration to reference the file directly in its location in my source project and that approach works for me.

[2017-04-21 01:03] seanchas116 commented on #8425
FYI the original 'not working' version now works well as #9095 is merged.
You can now `require` modules installed in app directory from non-`file:` urls without workarounds.

[2017-04-21 01:53] mattgalvin commented on #8314
Hey guys, I apologize for the delayed response. So here is some code from our application that we are using to capture the page. This code is running on Windows 10, Linux Mint Debian Edition, non-retina Macs, and retina MacBooks. This is essentially the 3rd scenario from my original post on this issue - _the root issue is still present, but can be managed_. We have just accepted that the captured

[2017-04-21 08:07] setpixel commented on #9029
Hi friends! I'm working on an app that needs to print documents. On the mac, there are some built in facilities to print pdfs natively. However on the PC, there is no such support. Adding the ability to print a PDF would be super excellent in standardizing a method of printing.

I'm curious what you guys think?

[2017-04-21 08:09] setpixel commented on #8993
I saw the 1.7 / chrome 58 build passes! congrats! pre-release soon? :D

[2017-04-21 09:44] JoeChapman commented on #1146
+1 for an update. Any changes?

[2017-04-21 09:44] Spurlos commented on #9046
So it looks like all electron apps are suffering this bug due to variable name change in Ubuntu 17.04. Workaround isn't the best way to launch all those apps. Seems that electron needs to update their framework, and app developers need to use the updated version. Any ETA on that? I'm kinda affected with this bug a lot, because i use a lot of electron build apps.

[2017-04-21 09:46] zoubin opened #9244 "Apps are not treated as `.zip` files when uploading through `<input type="file" />`"
* Electron version: 1.4.0
* Operating system: macOS 10.12.4

### Expected behavior
When uploading Chess in the Applications folder through  `<input type="file" />`, `event.target.files[0].type` should be `application/zip`, which is the case when uploaded in Chrome.

### Actual behavior
`event.target.files[0].type` is an empty string.

### How to reproduce

Run the following the code in some page l

[2017-04-21 09:54] Dexwell commented on #9159
@kevinsawicki Could this get the proper labels? :)

[2017-04-21 10:55] cardwizard commented on #2037
You can use jquery libraries like mark.js to do this.

[2017-04-21 11:23] UserContributer commented on #9046
I noticed it when I tried to launch Discord shortly after upgrading my system (so I searched the internet to find this bug, and within a day or two, sure enough, it was mentioned).

[2017-04-21 11:44] MarshallOfSound commented on #9046
Seems like a simple enough fix if someone wants to take this one on.  Basically just need to add another if condition to this workaround

https://github.com/electron/electron/blob/d0643250f717a9e5d9d4869f72fd5437c88e862f/lib/browser/init.js#L166

Something like:

[code]

I don't have a 17.04 VM and don't have the time rn to set one up, if someone with 17.04 can test that fix and PR it in (if it wo

[2017-04-21 11:56] mfonville commented on #9046
@MarshallOfSound I think the correct way to be actually check if any of the values in the variable, that are colon-separated, matches `Unity` also see https://bugs.launchpad.net/ubuntu/+source/nautilus/+bug/1554878

[2017-04-21 12:01] MarshallOfSound commented on #9046
@mfonville That seems more risky someone who is a lot more familiar with possible values for that environment variable should make that call.  I don't want to come across a situation where someone has the env var set to something silly like `Unity:MyCustomBuildFrom2002` and we try enable something that won't work 🤔

IMO going the safe route is better unless someone can categorically say the above

[2017-04-21 12:54] pkgajulapalli opened #9245 "Selecting multiple files dialog box is not working in OSX"
I'am able to select multiple files from the dialog box in Ubuntu. But the same code is not working in OSX.

[2017-04-21 14:06] joshaber opened #9247 "Get fine-grain locale information"
`app.getLocale` exists, but locale has more nuance than a single setting.

For example, an international user could have `en-US` as their language but a localized numeric setting. It'd be great if Electron could expose those.

https://bugs.chromium.org/p/chromium/issues/detail?id=120473 and https://bugs.chromium.org/p/chromium/issues/detail?id=33413 seem to be relevant Chromium bugs.

[2017-04-21 15:41] kevinsawicki commented on #9244
I believe this is a duplicate of #8948, please subscribe to that issue for updates.

[2017-04-21 15:41] #9244 closed

[2017-04-21 18:24] JOT85 opened #9251 "Redirect in WebView causes any new WebViews to not render."
I have tested this is both electron 1.6.2 and 1.6.5, both of them having the same problem.
I have tried it on Windows 10 (creators update just installed) x64, Linux x64 (Debian Jessie) and Linux armv7l (raspberry pi 3, Raspbian).
This is only a problem on Linux x64 out of the ones I tested, both windows x64 and Linux arm worked as expected, however with Linux x64 I had the issue I will describe.
I

[2017-04-21 19:04] Insood commented on #4380
Just started having this issue today w/ Slack.

Win 10 pro, 64-bit. Running a quadro M2000M with 377.11 drivers.

[2017-04-21 20:43] kevinsawicki commented on #8384
@alespergl would you mind updating the `desktop-environment-integration.md` doc about the state of Windows 7 notifications? Thanks.

[2017-04-21 20:44] #8928 closed

[2017-04-21 22:24] CharlieHess opened #9256 "NSInternalInconsistencyException: Built-in appearance SystemAppearance not found"
* Electron version: 1.6.3+
* Operating system: macOS 10.12.3

We've started seeing this renderer crash that happens anytime we click into a `webview`, but only after the `BrowserWindow` that contains the `webview`(s) has been reloaded.

<details>

[code]

</details>

### How to reproduce

I'm not able to reproduce in a minimal repo; curious if anyone else is seeing this or has clues as to what's c

[2017-04-21 22:31] domderen opened #9257 "Debugger fails to sendCommand `Network.getResponseBody` for specific file with special characters"
Electron's webContent's debugger fails to download the content of the file when the content contains special characters. It crashes with Segmentation Fault on using `win.webContents.debugger.sendCommand('Network.getResponseBody', ...)`.

First noticed on the stable version of Electron, and later I reproduced it on the code taken from GitHub and compiled locally.

I have also tested it in Chrome di

[2017-04-21 23:48] maksimr opened #9258 "Performance problem with window.open"
* Electron version: ~1.6.2
* Operating system: macOS Sierra 10.12.4

### Expected behavior

Call window.open should take around ~1 second

### Actual behavior

30 seconds after the start app call window.open takes ~10 seconds

### How to reproduce

  $ git clone https://gist.github.com/e9f8077f99b927dadee77806810f67ae
  $ npm install
  $ npm start

This problem reproduced **only** when you set opt

[2017-04-22 01:32] anatoli26 commented on #8124
What do you thing about just introducing the options for the paths where to store each category of files (user specific configuration ($XDG_CONFIG_HOME), user-specific data ($XDG_DATA_HOME) and user specific non-essential data files ($XDG_CACHE_HOME)) with their default values set to the current locations? This way each app based on Electron could implement its own way of handling the issue.

I'm

[2017-04-22 03:11] rajbala commented on #8891
I can't figure out how to send a cookie with net.request.  Since it doesn't send it automatically, I am trying to set a header like this:

`request.setHeader("Cookie", cookies);`

`cookies` is an object of type Cookies.

When I try to send that HTTP request I get a runtime error saying "Error processing argument at index 1, conversion failure from [object Array]"

So what type should the cookies h

[2017-04-22 06:31] smyrman commented on #8124
Not sure this makes sense. A big part of the XDG specification is it's definition for defaults. However, if there was a ELECTRON_USE_XDG the user could set, that would be a good start.

[2017-04-22 07:00] anatoli26 commented on #8124
Yep, the idea is to define 3 internal variables for the 3 types of data, by default assigned to the current paths (so nobody is affected by the change), that would be configurable by electron-based apps.

Once this change is implemented and the 3 paths become available for configuration to e-apps developers, the entire process of migrating existing data of already released e-apps to the new paths,

[2017-04-22 12:11] arantes555 commented on #8891
@rajbala Yes, you have to use `req.setHeader`, but the second argument should be a string, not an Object.
To handle cookies, you can use a library like tough-cookie. Using it, you can build a cookie string like this :
[code]
`cookieJar` being a ToughCookie cookie jar

[2017-04-22 13:18] Brain-Gamer opened #9259 "Fatal error, cant open .url files with all files filter"
I am trying to open the game shortcuts from steam with electons showOpenDialog function.
When you have the ``All Files [*.*]`` filter and try to open a `.url` file, it wont work.
If you do the exact same thing with a filter for ``.url`` endings it works fine.

* Electron version: v1.6.5
* Operating system: Windows 10

### Expected behavior

Open any files selected

### Actual behavior

Only works

[2017-04-22 18:49] sittingbool commented on #6158
Having the same problem when using primeng. As an example use any Example from primeng in electron and add a autocomplete-field. the list is using a fade-in that reads the elements style.opacity. the value will be set with comma with (in my case) German locale (Germany uses comma as decimal separator where english uses dot and vice versa).

[2017-04-22 19:27] sittingbool commented on #6158
Additionally: setting the style.opacity with a float value, even if stringified results in the elements style.opacity property having a string value wit a comma separating as float separator in german Mac OSX environment.

This can easily be reproduced with the console by executing:
`> document.getElementById('wrapper').style.opacity = 0.85
< 0.85

"< 0,85"`

[2017-04-22 20:00] ionphractal commented on #1277
@yagamiram
In my case setting `app.commandLine.appendSwitch('ignore-gpu-blacklist', 'true')` directly after `require('electron')` in `main.js` helped, but there are various other settings you could test:
[code]
Nice overview of Chromium command line switches: http://peter.sh/experiments/chromium-command-line-switches/

And of course, as mentioned above, adding the experimental features to the opti

[2017-04-22 21:33] burak1489 opened #9260 "Rpi with Raspbian (Jessie) Silent Print"
Hi guys,

i started with electron a few days ago. I use the latest version on Rpi with Raspbian (Jessie) installed.

I wanted to try out the silent printing mode. I tried to activate it with "silent: true". I wasn't able to print without the dialog in the webview and as well in the main.js itself.

Can u help me with this issue?

[2017-04-23 02:04] hengkx opened #9261 "how to windiws use addRecentDocument？demo？Thanks"

[2017-04-23 02:13] MarshallOfSound commented on #9261
GitHub issues are for feature requests and bug reports, questions about using Electron should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2017-04-23 02:13] #9261 closed

[2017-04-23 05:49] patrickjuchli opened #9263 "Crash using Debugger.getScriptSource"
* Electron version: 1.6.7 (though I experienced the same with earlier versions)
* Operating system: MacOS 10.12.4

### Expected behavior

No crash when sending the command "Debugger.getScriptSource" to the debugger.

### Actual behavior

Crashes for a specific JS file. I've used the command successfully at other places. See crash report in details section and repository to reproduce the crash belo

[2017-04-23 06:24] patrickjuchli commented on #9263
I have some additional information:

I tried to isolate the twitter-script in question by saving it locally and using a local HTML site. There was no crash here. The crash seems to be related to accessing `https://abs.twimg.com`. If I don't request the source of any scripts from this location it doesn't crash as well.

This looks very strange. I'm not aware of any security restrictions when using

[2017-04-23 06:59] simpzan opened #9264 "clipboard.readImage() error on the one png image."
* Electron version: v1.3.15

* Operating system: Mac 10.11.6 (15G1217)

### Expected behavior

No error log, and the output image should be same copy of the source image.

### Actual behavior

Error log, the output image is far from the same copy of the source image.

### How to reproduce

<img width="536" alt="font" src="https://cloud.githubusercontent.com/assets/366578/25311447/c802fafa-2833-11e

[2017-04-23 09:31] RationalCoding opened #9265 "Electron cannot be opened because of a problem"
* Electron version: v1.4.13
* Operating system: OSX 10.11.6

Electron crashes when starting from within a VSCode extension, but not anywhere else. I was hoping someone here might give me some insight into this crash, or any advice on where to start debugging.

It works in the "Extension Debugger", so I know it's possible. But it crashes in the full install.

It seems `libnode.dylib` is missing or

[2017-04-23 11:31] arekkas opened #9266 "Running a cpu-intensive task on the main thread causes significant lags in browser window"
* Electron version: `^1.6.2`
* Operating system: OSX, Windows

### Expected behavior

CPU-intensive tasks running in the electron main thread should not have impact on BrowserWindow performance.

### Actual behavior

CPU-intensive tasks running in the electron main thread have a significant impact on performance of BrowserWindow.

### How to reproduce

Unfortunately, I don't have a very simple set

[2017-04-23 12:22] tolgaergin opened #9267 "Windows Tray and Toolbars"
I created an application for Mac users. It shows some currencies that you select in the menu bar.

When I tested on Windows and used the same way (NativeImage -> Tray) I think Windows forces the image to square shape while showing in the tray bar.

I'm not a Windows user for years. Is it possible to show NativeImage in a rectangle shape in Windows tray bar. I only tested on Windows 7. I'm not sure

[2017-04-23 12:34] Brain-Gamer commented on #9266
Isn't it possible to run the cpu intensive task as a child process? Maybe that would fix it

[2017-04-23 12:36] arekkas commented on #9266
That could be a possibility, however I don't really know how well child processes run from within a asar production build.

[2017-04-23 13:58] shellscape opened #9268 "API to get dock icon position"
While I'm not an Objective-C developer, I did some digging on the webs and it looks like getting the coordinates/position of the Dock Icon for a particular app is possible. Please see [this response](http://stackoverflow.com/a/6684646/416845) and the [subsequent comment](http://stackoverflow.com/questions/6684278/getting-the-position-of-my-applications-dock-icon-using-cocoas-accessibility-a#commen

[2017-04-23 13:58] pokusew commented on #8876
Hi everyone,

I figured out another, possibly better workaround.
I have the same problem on OS X (with Czech language and Czech Republic region) with Electron 1.6.5. Changing the locale to English fixes it.

**But if you don't want to change the system locale, you can do this:**
If you use Apple Terminal, in Preferences -> Profiles, on Advanced tab of your default profile, in International section

[2017-04-23 16:24] DracotMolver commented on #9234
Thanks a lot for this 😄

[2017-04-23 17:56] RationalCoding commented on #9265
Not your issue, VSCode's packager is corrupting the electron install.

[2017-04-23 17:56] #9265 closed

[2017-04-23 19:11] smyrman commented on #8124
Alright.

It's certainly a step in the right direction.

[2017-04-23 19:11] cuixiping opened #9270 "cookies.get() value is decoded, but cookies.set() value will not be encoded automatically."
cookies.get() value is decoded automatically, so I think cookies.set() value should be encoded automatically, or cookies.get() value should not be decoded.

for example:

cookie raw value (from http response headers):
`set-cookie: test=x%3B%20y%3B; ......`

### Actual behavior

[code]

### Expected behavior

cookies.get() and cookies.set()  should have unified behaviour.
get `'x%3B%20y%3B'` and se

[2017-04-24 02:43] UserContributer commented on #9046
I found another workaround, where you could use the original .desktop shortcuts.

Edit ~/.profile with this line added to the end:
[code]

It should work for about any application that stopped showing an indicator in Ubuntu 17.04 till this problem gets sorted.

[2017-04-24 02:45] UserContributer commented on #9046
I discovered it by accident (that you could load environment variables into every app at once under your username via .profile) when I tried to get gtk themes to display on qt apps.

[2017-04-24 06:45] zetsin opened #9271 "event.preventDefault() doesn't work in 'new-window' event"
* Electron version: 1.6.5
* Operating system: macOS 10.12.3

### Expected behavior

Calling event.preventDefault() will prevent Electron from automatically creating a new BrowserWindow.

### Actual behavior

A new BrowserWindow will be created as usual.

### How to reproduce

In renderer process:
[code]

[2017-04-24 07:01] xaviergonz opened #9272 "Option for sheet-less modal dialogs/windows in OSX"
* Electron version: 1.6.6
* Operating system: OSX 10.12.4 (Sierra)

Sometimes showing a modal dialog/window in a sheet is desirable in OSX, but sometimes it is not (for example showing a custom frameless window that blocks the parent (modal) such as a custom message box for a game, a login window, etc)

The suggestion is to add to BrowserWindow an option called ```sheetModal: true/false``` that de

[2017-04-24 07:54] MarshallOfSound commented on #9266
@arekkas CPU intensive tasks should be offloaded to either workers in renderer processes or child processes from the main process.

Forking the main process works exactly as it would in a node process, just give it the path to a JS script to run 👍

[2017-04-24 08:08] arekkas commented on #9266
Web workers don't have node integration, right? So in my case (running an express server) should be offloaded to a child process?

Thank you for your time replying to this.

[2017-04-24 08:16] enlight commented on #9271
This is expected behavior, you need to assign the callback in the main process in order for `event.preventDefault()`to have the desired effect. See https://github.com/electron/electron/issues/2770#issuecomment-140065309 for details.

[2017-04-24 08:16] #9271 closed

[2017-04-24 08:54] MarshallOfSound commented on #9266
@arekkas Web workers *can* have node integration in more recent builds of Electron.

See https://github.com/electron/electron/pull/8852

Not sure the express server itself should be in a different process, just the actual intensive code

[2017-04-24 13:32] sante85 commented on #5577
up

[2017-04-24 13:40] digitalnature opened #9274 "Let webContents.startDrag() accept a callback that prepares the file"
This function currently accepts only file paths. So the file must exist on the local disk. This makes it impossible to build an interface that allows the use of the drag feature to download files from an external source on the desktop. Example- Google Drive.

I think this can easily be implemented by allowing a function to be passed instead. The function handles the download to a temporary locatio

[2017-04-24 14:29] ElvisPresly commented on #3916
this bug will be fixed generally?

[2017-04-24 14:42] lostdesign commented on #8876
@pokusew worked for me! Thanks a lot. It is 'Set the local environment variable at startup' in english.

[2017-04-24 14:46] JoseExposito opened #9275 "Symbol not found when using v8::internal functions from C++ Node addon"
* Electron version: 1.6.5
* Operating system: macOS 10.11.6 El Capitán

Hi all,

I'm not sure if this is the right place to ask, but I hope someone can help me.

I'm developing a Node.js C++ addon that allows you to "compile you JS code" (i.e., use v8 caches) so you can distribute it without sources.
At the moment works on Node.js but I'm trying to get it working with Electron as well before publi

[2017-04-24 15:51] michaeltrim commented on #8987
Did you ever get to the bottom of this? I am also experiencing the same issue

[2017-04-24 16:01] rhysd opened #9276 "preload script cannot be loaded if Content Security Policy is enabled"
* Electron version: 1.6.5
* Operating system: macOS

### Expected behavior

Preload script can be loaded even if CSP is enabled

### Actual behavior

Preload script is prevented from being loaded by CSP

### How to reproduce

I could not prepare server with CSP, so let me show the sequence to reproduce with my app...

1. Download v0.2.2 from https://github.com/rhysd/Mstdn/releases
2. Unarchive it

[2017-04-24 16:02] kevinsawicki commented on #9276
Just to confirm, you have the `sandbox` option enabled right?

[2017-04-24 16:13] oThams commented on #8876
Even simpler workaround: simply prefix your command with "LANG=en_US.UTF-8"

[2017-04-24 16:14] rhysd commented on #9276
Thank you for quick response. Yeah, I enabled `sandbox` option to `true`, and when setting it to `false`, this error was not reported.

[2017-04-24 16:15] kevinsawicki commented on #9276
/cc @tarruda

[2017-04-24 16:32] tarruda commented on #9276
I need to investigate, but even if it is not possible to remove the check, it should still be possible to expose another eval-like function from C++ to allow loading the script.

[2017-04-24 16:47] tejohnso opened #9277 "ipcMain.removeAllListeners fails"
According to the documentation the [channel] parameter is optional but it looks like that's incorrect.

From the documentation

----
[code]

From ipc-main.js

----
[code]

[2017-04-24 18:40] Hum4n01d commented on #2810
@sam3d Same here. Is there a way to keep the custom title bar like Safari does?

[2017-04-24 18:52] edgeadjei commented on #1146
Can we reopen this issue?
The proposed solution leaves external files unloaded as addressed by @cydrobolt
I'm especially interested in this functionality because this would replace a lot of boilerplate for large multi-window SPAs.

**Use Case**
[code]

[2017-04-24 20:10] kevinsawicki commented on #9173
I reported a related issue upstream where when the input is inside the `<webview>` tag, two backspaces are required to delete the last character, https://bugs.chromium.org/p/chromium/issues/detail?id=714771

[2017-04-24 21:39] CharlieHess commented on #4025
This behavior is still happening. We haven't noticed it for a while because we just stopped loading native modules on our sign-in page, but for Product Reasons™ there are now cases where the main page goes through the same set of redirects, we try to load native modules twice, and hit the `Native module did not self-register` error (mysteriously, only sometimes).

I tried on 1.6.2, 1.6.7, but it p

[2017-04-24 23:38] saenzramiro commented on #1458
I think this came up again. Can anyone confirm?

[2017-04-25 00:19] TimNZ commented on #9275
@JoseExposito  Please update this issue when you've released

[2017-04-25 01:40] mjbvz opened #9280 "Webview Flickering on Resize"
From: https://github.com/Microsoft/vscode/issues/24643

* Electron version: 1.6.6
* Operating system: MacOS 10.11.6

### Expected behavior
In Electron 1.4.6, Webviews remained visually stable when page reflows caused them to be resized.

### Actual behavior
Since 1.6.6, Webview flickers when its element is resized

### How to reproduce
Here's a repo with a small demo project: https://github.com/mj

[2017-04-25 04:21] CharlieHess commented on #9188
I haven't been able to reproduce on 1.6.5. Thanks for the info.

[2017-04-25 04:21] #9188 closed

[2017-04-25 04:39] paulcollett commented on #9274
+1 for a callback containing the dropped directory which could be used to save/download a file. Could also be on `endDrag()`?

[2017-04-25 08:04] wbpmrck commented on #5488
so the answer is no?

[2017-04-25 08:15] t3chguy opened #9281 "electron.remote.getCurrentWindow().restore() inconsistency Linux/Windows"
if a window was Maximized then Minimized, then restored using the restore() method from the Renderer it will be no longer maximized in Linux. This is not the case in Windows where it remains, correctly, maximized.

Node 7.40
Chrome 56.0.2924.87
Electron 1.6.2

### Actual behavior
Window gets restored but is no longer maximized

### Expected behavior
In Windows it stays maximized as it should

###

[2017-04-25 09:56] cjld opened #9282 "Electron clean cache when restart."
* Electron version: 1.6.2
* Operating system: Ubuntu 16.04

after opening some pages, electron cache some content in ~/.config/myapp/cache, here is the disk usage:

[code]

but when I close Electron and restart it, it delete the whole cache directory, here is what left

[code]

### Expected behavior

Is there any configuration that can preserve the cache files?

[2017-04-25 12:03] Klestofer opened #9283 "requireInteraction parameter in Notification is not working"
* Electron version:
v1.6.6
* Operating system:
Windows 10 version 1607

I'm trying to show Notification that will not be closed automatically after some time. So it needs to be closed only by user. I've tried:
[code]
and also:
[code]
but notification is closed anyway after about 7 seconds. It would be nice to have possibility to create notifications that will not be closed automatically.
In Chrome

[2017-04-25 12:09] MarshallOfSound commented on #9283
@Klestofer Because Electron uses system level implementations of Notifications (Toasts on W10, NSUserNotification on macOS, Etc.) the sticky concept isn't supported on all platforms, that said I have it on the todo list in #9269 but that implementation will only affect the new API in the main process

[2017-04-25 15:13] deepak1556 commented on #7713
Merging this to https://github.com/electron/brightray/issues/290, please subscribe to it for updates. Thanks!

[2017-04-25 15:13] #7713 closed

[2017-04-25 15:45] deepak1556 commented on #9282
The disk cache will delete old entries when it exceeds the allocated space but deleting such large amounts of data is really weird. Are you able to create a minimal example to reproduce the issue, thanks!

[2017-04-25 15:55] deepak1556 commented on #9280
I am able to reproduce the issue with 1.6.x but it seems fixed with chrome 58 branch.

[2017-04-25 16:42] JoseExposito commented on #9275
@TimNZ You can find the source code here:
https://github.com/JoseExposito/v8-compiler

It is on npm, but I didn't have time to add node-pre-gyp stuff, so better clone and download it as explained in the documentation. Have a look to the examples folder to see how it works... But I don't recommend you to use it in production yet, it is still in beta.

[2017-04-25 17:23] rpiaggio commented on #9179
Happening to me too. Windows 10 Pro (1703 - Creators Edition).

After several attempts, it has never created the window yet.

[2017-04-25 17:59] thompsonemerson commented on #4565
@zcbenz Yes, chrome support already exists!

[2017-04-25 18:27] CharlieHess commented on #4025
Fiddled with this a bit more and came up with a workaround; if you wait for `dom-ready` you never hit the native module load bug. Proof of concept here: https://github.com/CharlieHess/webview-preload-globals/pull/1.

[2017-04-25 18:47] djpereira commented on #6599
I tried this with Electron 1.6.6 and Windows 10 Version 1607.
I am still not able to share Chrome or other electron-based applications (e.g. Visual Studio Code).
Full screen sharing and some other applications work well.
I tried screen sharing with Chrome 58.0.3029.81 and https://hangouts.google.com/ and it works well.

[2017-04-25 18:58] psingl opened #9284 "npm error for electron"
I have tried several times to install electron both globally and in a particular project using npm. But at last it hangs over to `node install.js` As shown
![image](https://cloud.githubusercontent.com/assets/13885706/25402732/4dc74648-2a17-11e7-8829-7b3e174c228f.png)

[2017-04-25 19:05] DeliciousPickle commented on #8455
I'm also experiencing this issue in KDE Plasma v. 5.9.4 running on Ubuntu 17.04.  If I run the Atom editor (an electron app) CPU usage goes to 50% (on quad i7).  If I run a second electron app, TagSpaces, CPU pegs at 100% and fan starts blowing.  If I disable Global Menu CPU usage goes back to normal/expected.

Are any of the people who work on this bit of KDE aware of this?  Is anyone working on

[2017-04-25 19:29] thegreatsunra commented on #8987
I'm experiencing this issue as well.

* Electron version 1.6.7
* macOS Sierra version 10.12.4
* Node version 7.9.0
* npm version 4.5.0

After downgrading my app to Electron 1.3.15 I was able to take a heap snapshot without a problem.

[2017-04-25 19:32] michaldybczak commented on #8455
I don't know where I saw it, but it looks like the bug is caused by some dbus or library? I am not familiar with those things but it looked like this other package must be fixed in order for menus to work, so that's not directly KDE or electron issue. This may take a while :(.

[2017-04-25 19:34] sbruchmann commented on #9284
Have you tried `npm install electron --save --verbose`? I’m guessing it’s downloading the prebuilt electron binary on installation and not showing a progress bar.

[2017-04-25 19:43] jingman commented on #8987
@michaeltrim Nope, as noted by @thegreatsunra, it still crashes on the latest Electron, no idea why.

[2017-04-25 19:56] Plasmmer opened #9285 "How do I detect if some window isn't working?"

[2017-04-25 19:58] kevinsawicki commented on #8987
Does anyone experiencing this have reproduction steps and a small-ish sample app that reproduces it?

[2017-04-25 20:00] kevinsawicki commented on #9284
@sbruchmann is right, the progress bar option should help diagnose this.

The `node install.js` script downloads ~50 MB and which can take some time depending on your network conditions.

Closing this out.

[2017-04-25 20:00] #9284 closed

[2017-04-25 21:01] inukshuk commented on #9285
Handle its [`unresponsive` event](https://electron.atom.io/docs/api/browser-window/#event-unresponsive)

[2017-04-25 21:03] kevinsawicki commented on #9285
@inukshuk is right, there is an unresponsive event and also a crashed event. You can also check the console tab of the dev tools console in that window, closing this out.