[2018-06-04 23:43] BrendanMcK commented on #12893
This also affects simple window.alert/confirm-style popups too.

Simple repro is to append similar to index.html:

[code]

* As you tab between OK/Cancel, VO will announce the new focus,
* But VO doesn't update the outline to indicate which button has focus
* The other text in the popup isn't reachable using VO navigation

[2018-06-05 00:53] trusktr opened #13156 "`window.open` breaks when setting `show=0` in the feature string."
* Electron Version: 1.7.9
* Operating System (Platform and Version): macOS
* Last known working Electron version: N/A

**Expected Behavior**
Passing the `show=1` feature to `window.open` works great, a new window opens. For example paste this in console:

[code]

When the `show=0` feature is used at least one time, it seems like it works, no window is opened:

[code]

However, this breaks the `win

[2018-06-05 01:05] trusktr commented on #13156
Nevermind, that's not the problem, I didn't fully see what was happening, opening a new issue:

[2018-06-05 01:05] #13156 closed

[2018-06-05 02:49] trusktr opened #13157 "idea: BrowserWindow.opener"
**Is your feature request related to a problem? Please describe.**

I'd like to get the BrowserWindow that opened the current child window where my code is running. It would be similar to `window.opener` with `window.open`, but this is on the Electron side.

**Describe the solution you'd like**

For example, I would be able to run something like the following inside a BrowserWindow opened from som

[2018-06-05 05:31] sethlu commented on #13135
If anyone's interested in digging into the issue, here may be a good start: https://github.com/electron/electron/blob/c320da5ec80dc74d359216e12b9016bd7e5ce7c0/atom/browser/native_window_mac.mm#L911

Simply removing this line will resolve the issue, but we want to hide the title bar with this line of code.

[2018-06-05 07:08] JaspervRijbroek commented on #13154
Seems like this is a duplicate of #8314

[2018-06-05 07:08] #13154 closed

[2018-06-05 07:33] himanshu-neutrorion commented on #6437
Its almost 2 years now from the time bug was reported. I still face it on some of my customers machine.
Will you please let us know when this will be fixed ?
Currently the workaround is to use loopback adapter, but its too hectic to solve the same everyday on customers machine.

[2018-06-05 07:54] robhil opened #13158 "Removing <input type="color"> from DOM tree causes application crash when user tries to use system color picker"
* Electron Version: 2.0.2
* Operating System (Platform and Version): macOS High Sierra 10.13.3
* Last known working Electron version: -

**Expected Behavior**
Application should not crash when user uses system color picker and input was removed

**Actual behavior**
Application crashes when user tries to use System Color Picker and input was removed

**To Reproduce**
1. Open System Color Picker by

[2018-06-05 09:32] #13129 closed

[2018-06-05 10:08] AndreasWebdev opened #13159 "Latest Windows 10 Update seems to break Electron Packaged App"
* Electron Version: 2.0.2
* Operating System (Platform and Version): Windows 10 Build 1803 (17134.81)
* Last known working Electron version: 2.0.2 (on an older Windows 10 Update and Windows 7)

**Expected Behavior**
Clicking on the application EXE generated by electron-packager opens the app.

**Actual behavior**
Opening the EXE does nothing, not showing a window or error, not even opening a proce

[2018-06-05 11:58] KorobkaVadim opened #13160 "Jira authentifcation form POST REDIRECT"
* Electron Version: 2.0.2
* Operating System (Platform and Version): WIn10
* Last known working Electron version: -

**Expected Behavior**
I can unblock redirect

**Actual behavior**
Redirect http blocked.

**To Reproduce**
My code:
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/26508020/40974600-b6d0c56c-68d0-

[2018-06-05 12:12] nmenke opened #13161 "connection to dbus session bus fails"
* Electron Version: 2.0.2
* Operating System (Platform and Version): armv7l (RPI 3B) / DietPi 6.8
* Last known working Electron version: 1.7.15

**Expected Behavior**
Electron should connect to the dbus session bus.

**Actual behavior**
Electron throws errors with --enable-logging:

[code]

**To Reproduce**
 git clone https://github.com/electron/electron-quick-start
 cd electron-quick-start
 npm i

[2018-06-05 12:29] leidsongermano commented on #1335
@edunad i was testing with the electron-quickstart which uses electron 0.36.*. After that i updated to the latest versionp (2.0.2) and it works pretty fine now. Thanks!

[2018-06-05 13:19] MarshallOfSound commented on #13160
This issue was fixed in a PR that has landed in master, not in a release yet.  It will be out in 3.0.0

[2018-06-05 13:21] felixrieseberg commented on #13159
Hey Andreas! We haven't seen the behavior you're seeing, so I'm wondering if we can grab more information. What happens when you run your app in PowerShell? Is there any console output?

[2018-06-05 13:24] rotemgrim commented on #10023
@michelvermeulen in the link the guy used app.hide() to hide the window and set focus to the background window.
app.hide() works only in mac and not windows...

[2018-06-05 13:51] KorobkaVadim commented on #13160
What? 3.0.0? I want fix this for me now.

[2018-06-05 14:34] mdpetuum commented on #11709
@jsynowiec I put up a PR for this - https://github.com/electron/electron/pull/13162

[2018-06-05 15:30] PerBothner opened #13163 "subsequent simultaneous Electron startup very slow"
Starting `electron` on a trivial application starts up fine.  However, if I start up `electron` again (while the first command is running) there is a multi-second delay.

* Electron Version: 2.0.2
* Operating System (Platform and Version): Fedora Linux 28 (x86_64)
* Last known working Electron version:  1.8.2

To demonstrate, use this `main.js`:

    const {app,BrowserWindow} = require('electron')

[2018-06-05 15:59] gavi commented on #9029
This feature would be very helpful

[2018-06-05 17:07] fmiceli24 commented on #11908
Just to report. I only see this behavior when I run my app in windowed mode. It does not happen in fullscreen.

Windows 10.

[2018-06-05 20:41] justintgav commented on #11065
Seeing the same on electron v 2.0.2:
Demo shown with the barebones electron-quick-start with the embed tag added. I'd be happy to share a full example, but the screenshot should cut it (contains the bit of code modified).
https://i.imgur.com/GgEKMzX.png
![](https://i.imgur.com/GgEKMzX.png)

This is a library-breaking issue for us; need embed support to wrap [legacy] webapp in electron.

Any insigh

[2018-06-06 00:11] Pablodotnet commented on #4624
For everyone searching a working example here is mine:
https://github.com/Pablodotnet/electron-facebook-login-example

[2018-06-06 00:54] rob3c commented on #2256
What does "abandonment" mean? This is listed as the upstream issue for both the Atom and VS Code editors, two fundamentally important parts of Atom Shell's...err, Electron's history.

[2018-06-06 01:07] LoganDark opened #13164 "Mojave dark mode causes a white line at the top of Electron apps"
* Electron Version: ???
* Operating System (Platform and Version): macOS 10.14 Mojave
* Last known working Electron version: ???

**Expected Behavior**
No white lines

**Actual behavior**
There is a thin white line at the top border of Discord

**To Reproduce**
Download Discord and run.

**Screenshots**
![image](https://user-images.githubusercontent.com/4723091/41010254-329960e0-68eb-11e8-9c92-a62

[2018-06-06 01:10] LoganDark opened #13165 "Discord icon missing"
* Electron Version: ???
* Operating System (Platform and Version): macOS 10.14 Mojave
* Last known working Electron version: ???

**Expected Behavior**
Icon.

**Actual behavior**
Discord has no icon.

**To Reproduce**
Download Discord and run.

**Screenshots**
![image](https://user-images.githubusercontent.com/4723091/41010334-974ac150-68eb-11e8-8ee9-f882ed42bf8c.png)

Excuse the transparency, it'

[2018-06-06 01:20] robjtede commented on #13164
Confirming this happens in all the Electron apps I have, in Mojave dark mode.

[2018-06-06 02:12] LoganDark commented on #13165
I'm surprised people have Mojave this early and also happen to have Discord (canary too!)

[2018-06-06 05:21] MarshallOfSound commented on #13165
@LoganDark Thanks for being super diligent and reporting these issues early on, however without a good bug report from the discord developers we can't really look into this.  For instance, a good "How to reproduce" would involve exactly which API causes this.

I'm going to close this out and you should report this issue to discord directly and they will report it to us with solid repro steps after

[2018-06-06 05:21] #13165 closed

[2018-06-06 06:46] SimonWu29 opened #13166 "How to disable all Printer Function when load a web page with printer button (ex: Gmail) by using <webview>?"
* Electron version: v1.8.4
* Operating system: macOS v10.13.5

From online document, I find call webContents.print() and its silent is true. It will use the default printer device and no pop up dialog.

But I would like to disable all Printer Function when load a web page with printer button (ex: Gmail).
No pop up dialog and No run printer function.

Please kindly help tell which Listeners could b

[2018-06-06 06:54] mbaer3000 commented on #12941
I can confirm this issue, too (MacOS High Sierra). Is there any known workaround to focus a webview (however hacky) until this bug is solved?

[2018-06-06 09:43] damianobarbati commented on #1357
@zcbenz does this event `window-all-closed` still exists? It doesn't fire on MacOS, no matter if:

- there's an app window and I `window.close()`
- there's an app window and user press `cmd+W`
- there's an app window and user press `cmd+Q`

[2018-06-06 10:03] MarshallOfSound commented on #13166
@SimonWu29 You can set up a preload that runs `window.print = () => {}`, that will stop websites triggering print

[2018-06-06 10:03] MarshallOfSound commented on #13166
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-06 10:03] #13166 closed

[2018-06-06 10:59] speedpacer commented on #12971
It seems the folks over at [hyper.js](https://github.com/zeit/hyper) have figured it out.

[2018-06-06 11:27] timfish commented on #13163
Electron apps should only really be loaded as a single instance. If you want multiple windows you should load them from a single main process.

[2018-06-06 11:35] AndreasWebdev commented on #13159
Hello, running it through the non-packaged version seemed to not yield any errors and work flawlessly, building and running the packaged app with the system seems to be no problem either, only running it on a network drive seem to not work anymore. I guess this is a bug I should submit to electron-userland/electron-packager, correct?

[2018-06-06 11:41] damianobarbati commented on #10864
@Hubu this stopped working for me on my Windows 10 1803.
It was working until a couple hours ago and I didn't change a damn thing until now!

Is there some kind of behaviour of Windows 10 we should know about it?

[2018-06-06 12:02] thomasdao commented on #12908
@sferoze yes I plan to do subscription as well, but I'm still waiting for 2.1.0. I guess even if I can purchaseProduct successful, I still cannot finish the transaction, so there's no point of doing anything now

[2018-06-06 12:56] mdanka commented on #12803
Same here. Also on Electron 2.0.2

[2018-06-06 12:58] yklykl530 commented on #7073
Excuse me, do you have the latest progress on cookie encryption? We also have this problem now

[2018-06-06 14:00] KajalJoshi-Clarion opened #13168 "while electron install : Generated checksum for "electron-v2.0.2-win32-x64.zip" did not match expected checksum error."
Hello ,
I want to install latest electron version in my existing angular application.So I followed npm command to install it.
Command : npm i electron@latest

**Expected Behavior**
Electron should installed successfully.

**Actual Behavior**
So, Whenever I tried to install electron, after downloading zip file and SAMSUN.txt file , it is throwing below error....

Error: Generated checksum for "elec

[2018-06-06 14:47] Hammster commented on #12027
+1 I also encountered this issue today, this also happens when i reaload via `ctrl+r` with focused devtools

[2018-06-06 15:18] LoganDark commented on #13158
I think the system color picker should be removed when the input element is removed, this would fix the issue.

[2018-06-06 15:43] ExtraCrafTX commented on #12971
I just downloaded hyper.js and I have this problem with it too.

[2018-06-06 15:49] ExtraCrafTX commented on #12971
I have a temporary workaround for it. If you check the offset from the origin of the current display on maximise and the x and y aren't both the same and negative (I think its always -8 but not sure) then it mustn't have maximised correctly, so you can unmaximise and maximise through the code. This works but is obviously not ideal.

[2018-06-06 15:56] scottrippey opened #13169 "The (deprecated) NativeImage.toPng was removed in 2.0.0, but this does not seem documented."
* Electron Version: `2.0.0`
* Last known working Electron version: `1.x`

The Electron 2.0.0 release notes do NOT indicate that the `NativeImage.prototype.toPng` and `toJpeg` methods were removed, in favor of the `toPNG` and `toJPEG` methods.
These methods have been deprecated since `1.2.5` (https://github.com/electron/electron/commit/e9222583cbd354559ec0ab0bb1170567c2ec9d73)

This has broken Spec

[2018-06-06 16:30] ricardosbarbosa commented on #5596
I would like to know also!

[2018-06-06 16:34] pronebird opened #13170 "BrowserWindow.loadFile triggers save dialog"
* Electron Version: 2.0.2
* Operating System (Platform and Version): macOS 10.13.4 (17E202)
* Last known working Electron version: not aplicable

**Expected Behavior**

Calling `BrowserWindow.loadFile('')` with invalid input should not trigger a save dialog.

**Actual behavior**

Calling `BrowserWindow.loadFile('')` with empty file name causes save dialog pre-filled with `default_app.asar` to appe

[2018-06-06 16:39] Ext3h opened #13171 "Missing license texts for dependencies packed in electron.asar"
The electron-*.zip packages currently for download on https://github.com/electron/electron/releases are problematic.

Since they are packing dependencies of electron itself in electron.asar, this no longer counts as a distribution in source code, but rather as a binary redistribution. For the majority of the dependencies, this means that the licenses (mostly MIT) are violated.

If the default dist

[2018-06-06 16:53] speedpacer commented on #12971
That's weird. I'm not seeing this behavior in Hyper.js.

Thanks for the workaround. I'll give this a shot.

[2018-06-06 17:19] arch-master opened #13172 "Notification API do not work with Windows 10 17134.81"
**Version Info**
* Electron Version: 2.0.2
* Operating Syste: Windows 10 Build 17134.81

**Expected Behavior**
Notications show.

**Actual behavior**
Nothing happens. No errors are logged in the console.

**To Reproduce**
Just download the [electron-quick-start](https://github.com/electron/electron-quick-start) project and run the Notifications API demos.

**Additional Information**
Same issue as

[2018-06-06 17:29] pronebird commented on #13163
Try disabling the dev tools, they must be keeping your CPU and disk busy.

[2018-06-06 17:32] pronebird commented on #13127
Hi! How exactly do you throttle the network download?

[2018-06-06 17:34] pronebird commented on #13087
AFAIK `Tray` has no connection with `BrowserWindow`. Does it really activate the window or it's operating system that brings the focus?

[2018-06-06 17:53] PerBothner commented on #13163
Starting the dev tools is just for the test-case to show that there is a 5-second delay between when the window opens and when the application starts.  I get the same delay in my actual application, which does not normally start the dev tools.  Also note the delay is only on *subsequent* startup of the application, not the first time.

[2018-06-06 18:35] pronebird commented on #13125
Is it relevant to Electron v2.0 or did this happen even before?

[2018-06-06 18:36] akontsevich commented on #13087
In Electron 1.8.x it activates the window.

[2018-06-06 19:35] leshow opened #13173 "electron fails to import native module @ runtime on 2.0.2 **test case included**"
* Electron Version: 1.7.15 (working) 1.8.3, 1.8.7, 2.0.0, 2.0.1 (all fail to compile) & 2.0.2 (fails @ runtime)
* Operating System (Platform and Version): Win7 Ultimate SP1 (on a VM)
* Last known working Electron version: 1.7.15

**Expected Behavior**

expect the native module to compile & work as it does in 1.6.10 and 1.7.15

**Actual behavior**
Crashes at runtime on 2.0.2, earlier versions don't

[2018-06-06 20:17] MarshallOfSound commented on #13172
Please track in the issue you linked

[2018-06-06 20:17] #13172 closed

[2018-06-06 20:33] leshow commented on #13173
I have included a reproducible project that shows the issue. You must follow the steps exactly on a 64-bit windows machine to see the issue I'm talking about

[2018-06-06 20:47] Ext3h commented on #13171
Sorry, misunderstanding on my side.

[2018-06-06 20:47] #13171 closed

[2018-06-06 20:48] bzeeman opened #13174 "Scroll and Keyboard lag when external monitors are connected to retina MBP."
* Electron Version: The ones Slack, Atom, and VSCode use.
* Operating System (Platform and Version): macOS 10.13
* Last known working Electron version: Long long ago

**Expected Behavior**
Applications running with electron respond to input quickly.

**Actual behavior**
Animations, text input, scrolling all becomes laggy and choppy. Clicks take seconds to respond. Key strokes seem to be missed at

[2018-06-06 22:43] levinunnink commented on #12312
We're having problems with this too. When do you expect release to ship?

[2018-06-06 23:15] skllcrn opened #13175 "Updates to NSVisualEffectView (Vibrancy and Dark Mode)"
**Is your feature request related to a problem? Please describe.**
Relates to the current implementation of `vibrancy`, in particular issues with Electron 2.0 and on macOS Mojave (#12726, #10886, #8305).

**Describe the solution you'd like**
Move from deprecated Materials in `NSVisualEffectView.Material` to [new ones](https://developer.apple.com/documentation/appkit/nsvisualeffectview/material).

[2018-06-07 00:08] implausible opened #13176 "Addons cannot use the bundled OpenSSL"
**Is your feature request related to a problem? Please describe.**
I maintain https://github.com/nodegit/nodegit and would like to start building NodeGit against the OpenSSL library that is bundled with Node. This would significantly improve our build process.

**Describe the solution you'd like**
Node exports OpenSSL symbols for Windows https://github.com/nodejs/node/pull/6274. It would be very c

[2018-06-07 01:30] ExtraCrafTX commented on #12971
I know this may be obvious but I have to ask anyway, is your home computer using a multimonitor setup and your work computer using a single monitor? I have a feeling that it might be causing the issue (or at least part of it).

[2018-06-07 03:11] astariochuck opened #13177 "Electron third-party dependence bug"
* Electron Version:2.0.2

Electron relies on nodejs 8.9.3, but nodejs has a bug in this version. Can Electron upgrade the nodejs dependency to version 9.2.1?
CVE report:
https://nodejs.org/en/blog/vulnerability/december-2017-security-releases/

[2018-06-07 03:52] Samrux commented on #8960
It's still very much a thing, seen it in Atom, Visual Studio Code, Discord, the list goes on. Incredibly annoying.

[2018-06-07 04:00] BrendanMcK opened #13178 "Can't detect Windows High-Contrast mode for non-inverted HC themes"
Electron currently has an `isInvertedColorScheme` that can be used to detect a sub-set of Windows' High Contrast modes (added in [PR 7518](https://github.com/electron/electron/pull/7518)). This only returns true for HC themes that are light-on-dark. If a dark-on-light HC theme is selected - see image below - this returns false.

This helper uses Chromium's helper of the same name. That [does check

[2018-06-07 04:09] lishoulong commented on #5443
chrome 63 Chrome Extensions using the chrome.debugger API can now run at the same time as DevTools. Does Electron support the 63 Chrome?

[2018-06-07 05:33] bpasero commented on #12042
@Tyriar @deepak1556 it looks like Chrome is stating that the rendering issues have been fixed in macOS 10.13.4 and so their latest patch is actually going even further by blacklisting only if macOS < 10.13.4 (via [commit](https://chromium.googlesource.com/chromium/src.git/+/e9b6fe054991cc76c4a67c4052949be63d1b1c73)).

[2018-06-07 06:41] codebytere commented on #13169
hi @scottrippey, you're correct, our bad! Looks like we missed it when updating our [breaking changes doc](https://github.com/electron/electron/blob/2-0-x/docs/tutorial/planned-breaking-changes.md).

I'll repair Spectron soonish; we're also planning to work on updating Spectron generally.

[2018-06-07 07:16] Astrych commented on #12971
I see that odd behaviour on my laptop (just one screen) so I think it isn't multi monitor related.

[2018-06-07 07:35] Santi2525 commented on #13127
Hi @pronebird ,

Here is the code, https://github.com/Santi2525/electron-download-throttle/blob/81063a031db530bba88fdac9cdccf99a733ccd9d/downloader.js#L59-L64

[2018-06-07 07:58] ke1vin666 opened #13179 "How to set round corners to a frameless window?"
Is there any methods to set round corners to a frameless window?

[2018-06-07 08:06] dengyaolong commented on #7073
+1

[2018-06-07 08:11] icecoll commented on #6599
same issue on electron 1.8.7 win 7, I find a workground [here](https://groups.google.com/forum/#!topic/discuss-webrtc/Q0SdEkAakak). Enable Aero makes it work.
[(How To Enable Window Transparency (Aero) On Windows 7)](http://www.tomshardware.com/faq/id-2066988/enable-window-transparency-aero-windows.html)

[2018-06-07 08:17] MarshallOfSound commented on #13179
It looks like you didn't fill out our [Issue Template](https://raw.githubusercontent.com/electron/electron/master/.github/ISSUE_TEMPLATE.md), please ensure you provide all information requested in the issue template so that we can try to help you out.

In the future issues you create without the template will be closed, you can find the issue template [here](https://raw.githubusercontent.com/elect

[2018-06-07 08:47] MarshallOfSound commented on #13170
@pronebird I can't seem to repro this locally, `loadFile('')` just loads nothing on my machine (like it fails to load because it tries to load a directory).  To be honest this appears to just be "invalid input" but the `loadFile` method shouldn't be doing fs checks to see if the HTML path is valid, that is something users should be doing IMO

[2018-06-07 08:47] #13170 closed

[2018-06-07 08:57] pkhach opened #13180 "Virtual Host for my app"
Hello,

Is it possible to start my app from a virtual host like:
https://desktop.mysite.com/index.html
?

I know that I can start it with a custom protocol like:
myapp://desktop.mysite.com

but I want to have the https

In my code, I want to manually process requests for ''host=desktop.mysite.com and redirect the rest of request to the default https protocol handler.

We did this in CefSharp by re

[2018-06-07 09:16] MarshallOfSound commented on #13180
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-07 09:16] #13180 closed

[2018-06-07 09:28] zeke opened #13181 "Add snap support to autoUpdater"
@flexiondotorg and @felixrieseberg are talking about updating Electron's autoUpdater module to support Linux updates from https://snapcraft.io 🎉

Let's use this issue to talk about how we can support this.

[2018-06-07 09:44] jacklovepdf commented on #10323
feel sad!

[2018-06-07 09:49] Staudey commented on #12791
This creates a very big, blurry tray icon on Budgie though. Not sure which glitch is better. ^^

[2018-06-07 09:52] peihexing opened #13182 "webContents.debugger.sendCommand conflict with "openDevTools""
[code]
confict with
`
webContents.openDevTools({
       detach: true
})
`

[2018-06-07 09:58] MarshallOfSound commented on #13182
It looks like you didn't fill out our [Issue Template](https://raw.githubusercontent.com/electron/electron/master/.github/ISSUE_TEMPLATE.md), please ensure you provide all information requested in the issue template so that we can try to help you out.

In the future issues you create without the template will be closed, you can find the issue template [here](https://raw.githubusercontent.com/elect

[2018-06-07 10:46] psposito commented on #12791
As repeatedly has been reported but may not mentioned, it happens generally on any XFCE, not related directly with any Linux Distribution.....
Add Arch Linux / Manjaro to the above list too....

[2018-06-07 11:53] speedpacer commented on #12971
I have 3 monitors on both. The size of the monitors and the video cards are different. One has a GTX 1060 with 24" monitors and the other has an NVIDIA Quardro M5000 and 22" monitors.  All 1920x1080.

Sadly, the workaround from @Astrych above didn't work for me.

[2018-06-07 13:19] Astrych commented on #12971
@speedpacer Is issue occur every second maximization? What if you resize window by hand after you unmaximize it? Issue occures on next maximization?

[2018-06-07 13:54] zewa666 commented on #13181
What about using [electron-builder](https://github.com/electron-userland/electron-builder/blob/master/docs/configuration/snap.md)? Is there a specific need to have this with the native autoUpdater?

[2018-06-07 13:56] marcelobcortes commented on #13035
I'm experiencing the same issue.
`notify-send summary body`
on terminal works

[2018-06-07 13:57] marcelobcortes commented on #13035
I have some uncommon warnings too, don't know if it is related

  (electron:10692): libappindicator-WARNING **: 10:51:33.902: Unable to get the session bus: The connection is closed

  (electron:10692): LIBDBUSMENU-GLIB-WARNING **: 10:51:33.902: Unable to get session bus: The connection is closed

[2018-06-07 14:37] zeke commented on #13181
`electron-builder` has its own built-in alternative to the `autoUpdater` API. We want to implement something that will work for all apps regardless of what packaging tool they're using.

[2018-06-07 16:30] Astrych commented on #12971
Now I noticed that window is not returning to the starting position after first unmaximization. After second maximization (leading to the issue with white bar on top) and unmaximization window returns to starting position. After applying my workaround window never returns to starting position. Multiple maximization and unmaximization cause window to slide down.

[2018-06-07 17:34] ExtraCrafTX commented on #12971
Indeed, the same happens to me when I use your workaround. However, the workaround that I posted seems to work well. The un-maximising and maximising again seems like it would cause some issues but it doesn't seem to do anything weird.

[code]

I'm not too experienced with electron so the way I'm getting the display and stuff might not be the best, but anyway.

[2018-06-07 18:11] jack-teng1 opened #13185 "Can't find module error when running app with asar archive in chromium 66"
* Electron Version: latest upgrade-to-chromium-66 branch (b655a6f5f5f0863bf1a1f72f47daf01a3f2eb5e5)
* Operating System (Platform and Version): macOS 10.13.5
* Last known working Electron version: 2.0.2

**Expected Behavior**
Should not see "Cannot find module error" when requiring dependent packages

**Actual behavior**
When running the app an exception pop shows "Cannot find module error".
If run

[2018-06-07 18:12] mmaietta commented on #13041
+1.  Experiencing this issue on 1.8

[2018-06-07 18:55] PerBothner opened #13186 "Insecure Resources warning even when nodeIntegration turned off"
* Electron Version: 2.0.2
* Operating System (Platform and Version): Fedora GNU/Linux 28

I'm having problems silencing the "Electron Security Warning (Insecure Resources) This renderer process loads resources using insecure protocols." warning.  An earlier comment suggests the danger is reated to nodeIntegration, so I turned that off:

     win = new BrowserWindow({width: w, height: h, show: fals

[2018-06-07 19:40] scottrippey commented on #13169
Great, thanks!
Spectron didn't have any mention of Electron 2.0.0, so I figured it would need to "catch up" soon.

For the official release docs for Electron 2.0.0 (https://electronjs.org/releases), is there somewhere I could submit a PR, to update the notes with these `NativeImage toPNG / toJPEG` changes?

[2018-06-07 20:31] well0nez commented on #633
any news?

[2018-06-07 21:32] dbradleyfl commented on #10801
For anyone else that comes across this: the solve for me was making the electron window transparent (and high level parent elements like <html> and <body>). Hides the color flash for a less jarring resize (but does give the appearance of a lagging resize. I prefer that to the color flash).

[2018-06-07 21:55] gomonkey opened #13188 "2 different OS, 2 different computer, identical problem - cannot read property 'on' of unudefined"
* Electron Version: 2.0.2
* npm Version: 3.5.2
* Node Version: 10.2.1
* Operating System (Platform and Version): Ubuntu and Windows 10
* Last known working Electron version: none

**Actual behavior**
cannot read property 'on' of unudefined

It is one week that I try to work with electron and I check everywhere for understand my problem.
I try everything but nothing was work for me.
I have just ubu

[2018-06-07 22:11] thehalvo commented on #10256
updating electron-packager worked for me

`npm install electron-packager -g`

As [discussed here](https://github.com/electron-userland/electron-prebuilt/issues/264)

[2018-06-07 22:34] ezweave opened #13189 "Rebuild Node Module Problems Between Jest and Electron"
* Electron Version: 2.0.2
* Operating System (Platform and Version): macOS 10.13.4
* Last known working Electron version: N/A

**Expected Behavior**
I have to rebuild some Node modules _specifically_ for Jest using `npm rebuild sharp` (sharp, in this case), so the `test` command does this (and now tests work), I would expect calling `./node_modules/.bin.electron-rebuild` as part of just running th

[2018-06-07 22:57] bzeeman commented on #13174
Some updates. It appears that one other condition is that you set one of the non-hidpi screens as primary screen in the arrangements tab.

Also it seems to go away when you close the clamshell of the MBP and just use the 1080P displays.

[2018-06-07 23:15] MarshallOfSound commented on #13188
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-07 23:15] #13188 closed

[2018-06-08 01:48] Hyperblaster opened #13190 "printToPDF does not allow pageRanges?"
* Electron Version: 2.0.2
* Operating System MacOS High Sierra:

**Expected Behavior**
Perhaps it's not documented but this does not work at all as
`webContents.printToPDF({pageRanges:1}, callback);`

**Actual behavior**
To print a PDF with only the pages specified

**To Reproduce**
Test it on any operating system in any version of electron

In this file
https://github.com/electron/electron/blob/b

[2018-06-08 01:56] quinton-ashley opened #13191 "Can't require electron using an absolute or relative path"
* Electron Version: 1.8.7
* Operating System (Platform and Version): macOS 10.14 Developer Beta
* Last known working Electron version: none

I can't require electron using an absolute or relative path.  What's the correct way of doing this?

**Expected Behavior**
[code]

**Actual behavior**
require returns this string
`/Users/qashto/Documents/dev/apps/qodemate/node_modules/electron/dist/Electron.a

[2018-06-08 03:29] zhidaoliu opened #13192 "It doesn't work in typescript."
* Electron Version: 1.7.6
* Operating System :windows 7
* Last known working Electron version: 1.7.6
* Angular Version: 5.0.0
* Typescript Version: 2.4.2

**Expected Behavior**
I want to use electron in typescript in Angular 5.
I just want to know how to import electron into Angular 5's typescript.

**Actual behavior**
I use the code to import electron
`const {shell} = require('electron')`       /

[2018-06-08 03:58] CoreAutomation-JD opened #13193 "White Bar At Top Of Frameless Window After Maximize Cycle"
* Electron Version: 2.0.2
* Operating System (Platform and Version): Windows 10 (17134)
* Last known working Electron version: N/A

**Expected Behavior**
When maximizing a frameless window, then unmaximizing and then maximizing again, there should not be a white bar atop the window.

**Actual behavior**
The first maximize works. Removing maximize also works. Immediately maximizing again (without r

[2018-06-08 04:54] quinton-ashley commented on #13191
Nevermind require('electron') seems to work without an absolute path.

[2018-06-08 05:02] #13191 closed

[2018-06-08 05:11] grantga commented on #6437
This was impacting us because we were using http://localhost to load a window--switching to the loopback url http://127.0.0.1 fixed the issue. Our app will now launch with no network.

[2018-06-08 05:39] marcelobcortes commented on #8345
I had successfully implemented custom protocol and disabled domain check (works on development) but "Invalid domain for site key" persists.

[2018-06-08 06:38] MarshallOfSound commented on #13192
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-08 06:38] #13192 closed

[2018-06-08 07:28] BobbyBabes commented on #2288
These 3 work for me after @zcbenz  suggestion :
[code]
[code]
[code]

But I can see the advantage over this, of `navigator.userAgent` combined with the Electron app name proposed by @richjeffery.

[2018-06-08 08:43] timfish commented on #13193
This is a duplicate of #12971

[2018-06-08 08:43] #13193 closed

[2018-06-08 08:51] timfish commented on #13186
These warnings do not show when an app has been packaged.

[2018-06-08 09:09] damianobarbati commented on #10864
Guys I solved this one using **1024x1024 .png images for your notifications on Windows**.

No need for either `app.setAppUserModelId` or `app.setAsDefaultProtocolClient`, no matter Win7 or Win10.

And I'd like add: FOR F**K SAKE.

@develar if you could double check this and confirm it I'd suggest adding it to docs!

[2018-06-08 09:10] amanganiello90 opened #13194 "Electron delay and reloading page not existing in browser after receiving an HTTP request"
* Electron Version: 1.8.1 to 2.0.2 (last)
* Operating System (Platform and Version): windows

**Expected Behavior**
The same of Chrome browser, that is not too dalay after an http request and without reloading page.

**Actual behavior**
The electron client reload the pages after receiving an HTTP request and performs a delay of two seconds. Instead, in Chrome browser  there isn't a reload and the

[2018-06-08 09:14] pjebs opened #13195 "Is there a flowtype for electron?"
It would be good if facebook's flow can understand electron's api.
Flow is kind of like "typescript"

[2018-06-08 09:30] apescione commented on #13194
I have the same issue, I've a jsp form that performs a submit to Spring security (j_spring_security_check).  After form submit, the server responses with a 302 http status  to redirect into main page of application. I have a different behavior between electron (several version between 1.7.9 to 2.0.2)  and chrome (last version).
Electron, after 302,  I have a cancelled request and reload page. Besi

[2018-06-08 09:35] Ramu3l commented on #13194
Hi apescione,

I have the same problem as you. Different electron version only.

- Electron Version: 1.7.9
- Chromium: 58.0.3029.110

[2018-06-08 09:39] m4heshd commented on #10864
@damianobarbati nope. It doesn't work. Still the easiest way is `app.setAppUserModelId(process.execPath);`.

Windows - `17134`
Electron - `2.0.0` and `1.8.x`

[2018-06-08 09:49] jacklovepdf commented on #8612
my answer:
`const browserContents = <webview>.getWebContents()
const devtoolsContents = <webview>.getWebContents()

browserContents.setDevToolsWebContents(devtoolsContents)
browserContents.debugger.attach();

browserContents.openDevTools({
  detach: true
})`

[2018-06-08 13:09] colindefais opened #13196 "Need a way to inject code into <webview> guest pages just before guest scripts load."
Dear electron contributors,

**What I want to achieve**

I use `<webview>` to display external web pages in my application.
But I would like to inject code to these guest pages just before their scripts load.

I want to do this just before the first guest script loads because I would like to redefine global APIs or provide polyfills for features not yet implemented by chromium.

For example: I wou

[2018-06-08 13:10] ahmedmohamedali commented on #11065
@justintgav,

There is an issue in electron/chromium with embed/object tag when the type is "application/pdf".
I found that object tag and "text/html" type works fine in electron.
So you can use it as a workaround
<object type="text/html" data="http://www.pdf995.com/samples/pdf.pdf" width="700" height="500">

[2018-06-08 13:40] Siecje opened #13197 "Only include Visual C++ runtime in the install directory if it is not already installed?"
I am creating an installer for an application that depends on the Visual C++ runtime. I was looking at the  Microsoft VS code installation directory for an example of how to do this properly and I noticed the `api-*.dll` files are included in the installation directory[0].

On Windows 7 after all Windows updates these files are available in the system directory.

Are they also required in the inst

[2018-06-08 13:50] singhshashi opened #13198 "Window gets maximized by double clicking disabled maximize icon"
* Electron Version: 2.0.2
* Operating System (Platform and Version): Darwin, macOS High Sierra 10.13.4
* Last known working Electron version: Unknown

**Expected Behavior**
I create a new browser window and set win.setMaximizable(false). The maximizable button is correctly disabled. Double clicking on it should not maximize the window.

**Actual behavior**
Double clicking on the disabled maximize

[2018-06-08 13:53] justintgav commented on #11065
@ahmedmohamedali excellent, thank you for the information. To clarify: we're waiting on the chromium project to fix the <embed> issue [before it can be propagated to electron]?
Thanks again

[2018-06-08 14:44] sqlwhale commented on #12988
I'm having a similar issue on a VMware based virtual desktop. Visual Studio Code, SQL Ops Studio, Mattermost, and GitKraken. I have plenty of resources and the delay between action and response is crazy. Sometimes a 5 second delay from key press to response. I can see animations in the applications frame by frame. It's super frustrating. I restart seems to help but very quickly it goes right back

[2018-06-08 15:14] leonardovff opened #13199 "I can't get print in A6"
* Electron Version:
2.0.2
* Operating System (Platform and Version):
Ubuntu 17
**Expected Behavior**
Print the content with config size A6 using option silent = true or create pdf with A6 dimensions

**Actual behavior**
I can't set the size of page of .print() with silenet = true, I tried to use @page {size: 16 or 10.5cm 14.8cm} but it isn't working. I tried to create a pdf with printToPdf size:a6

[2018-06-08 15:47] VicXXX opened #13200 "Webview cookies don't seem to be persisted on quit."
* Electron Version: 1.8.7
* Operating System (Platform and Version): MacOS

**Expected Behavior**
When I quit electron app I expect cookies set by the webview to still be there on start of the app.

**Actual behavior**
See it's very intermittent. Cookies are definitely set. I CMD+Q the app then start it has no cookies available in the debug tools app stops behaving as expected. But if I quit this

[2018-06-08 15:56] jseriff opened #13201 "ipcRenderer.sendTo documentation is incorrect"
* Electron Version: 2.0.0
* Operating System (Platform and Version): MacOS 10.13
* Last known working Electron version:

**Expected Behavior**
The documentation for ipcRenderer.sendTo should indicate that the first parameter is the ID of a webContents.

**Actual behavior**
The documentation for ipcRenderer.sendTo calls the first parameter windowId, with no additional documentation.

[2018-06-08 16:55] PerBothner commented on #13186
I have my own way of packaging my application.  Having to bundle a renamed copy of electron with my application seems incredibly wasteful.

[2018-06-08 16:57] MarshallOfSound commented on #13197
This is not an Electron issue, how people install Electron apps is independent of this repository

[2018-06-08 16:57] #13197 closed

[2018-06-08 16:59] MarshallOfSound commented on #13200
Cookies are only flushed to disk periodically, if the cookie is set and you quit too soon it won't be flushed to disk.

You can use the [`flushStore`](https://electronjs.org/docs/api/cookies#cookiesflushstorecallback) API to force cookies to be written to disk

[2018-06-08 16:59] #13200 closed

[2018-06-08 17:00] MarshallOfSound commented on #13186
This warning is independent of `nodeIntegration` being disabled.  This is talking about loading remote content using `http` instead of `https`.  Disabling these security warnings is not something we support

[2018-06-08 17:00] #13186 closed

[2018-06-08 17:44] PerBothner commented on #13186
This is not loading remote content - this is loading *local* content, from `localhost`, using `http` rather than `file`.  One reason for using `http` is that the resources are compressed in a `zip` archive, which can be served efficiently (as gzip-compressed) using libwebsockets.  If Electron supported the `jar:` scheme, I could use that.

[2018-06-08 21:09] nedex commented on #6937
+1

[2018-06-08 21:13] pjebs opened #13202 "Tray required icon"
The Tray API requires an icon.

For windows it may be mandatory, but for mac I see lots of tray items that don't have a icon.
Perhaps they use a token 1x1 icon. Not sure. But it definitely seems like this is a bug for mac.

[2018-06-08 22:59] chibicode commented on #12519
Had the same problem with macOS 10.13.4. Changing cursor size by a tiny bit fixed it for me.

https://github.com/Microsoft/vscode/issues/44211#issuecomment-381612843

<img width="668" alt="screen shot 2018-06-08 at 3 58 25 pm" src="https://user-images.githubusercontent.com/992008/41184375-cbdc6d24-6b34-11e8-8d76-6ddd05e909c3.png">

[2018-06-08 23:41] BrendanMcK opened #13203 "VoiceOver does not echo characters as input typed in to input fields in Electron apps"
* Electron Version: 2.0.0
* Operating System (Platform and Version): OSX High Sierra 10.13.5
* Last known working Electron version: None

**Expected Behavior**

On regular web pages (Chrome, Safari) and system apps (eg. Notes, Word), as you type into an input area with VoiceOver running, VoiceOver echoes characters as they are typed. For example, if you type in "the", VO will announce "t", "h", "e

[2018-06-09 01:41] trusktr commented on #1231
Because we're lazy. It could be solved in the API once and for all.

[2018-06-09 01:51] PaulOst opened #13204 "Support Node Chakra engine"
Make it possible to use node-uwp to permit access to Universal Windows Platform APIs in Node.js.

[2018-06-09 02:36] pjebs commented on #13202
The API for Tray/NativeImage suggests you can pass `null` but it does not work.
You have to explicitly pass: `nativeImage.createEmpty()`

[2018-06-09 03:02] pjebs commented on #13202
Reopened because after experimenting, passing `nativeImage.createEmpty()` is not the same as having no tray icon.

[2018-06-09 05:12] adeperio commented on #1335
@edunad that worked for me. disableHardwareAcceleration slowed my app down too much on Mac though but for some reason was fine on Windows. So ended up disableHardwareAcceleration just for Windows machines

[2018-06-09 05:55] HendrikEduard opened #13205 "NPM found 9 vulnerabilities (1 low, 8 moderate)"
* Electron Version: + electron@2.0.2
* Operating System (Platform and Version): OSX Sierra
* Last known working Electron version: ??

**Expected Behavior**
A clear and concise description of what you expected to happen.
No vulnerabilities.

**Actual behavior**
A clear and concise description of what actually happened.
added 49 packages from 53 contributors and audited 1640 packages in 66.988s
foun

[2018-06-09 06:28] bpasero commented on #12695
Can we prioritise this into a possible `2.0.3` release? There also seems to be quite a bit of related issues linked to this one by now.

[2018-06-09 11:19] shripadk commented on #13088
Can confirm that I am facing same issue on macOS as well. I'll try and put up a repo which reproduces this as soon as I find some time. In 2.0.2 version, the time taken for Composite Layers activity is around 9.5s while in the 1.7.2 version, it's around 20ms.

[2018-06-09 13:32] digitalstaub opened #13206 "native emojis have wrong (or negative?) letter spacing"
* Electron Version:1.8.6 -2.0.2
* Operating System (Platform and Version): Mac OS 10.13.4
* Last known working Electron version:

**Expected Behavior**
after inserting a native amoji, cursor position should be at the end of emoji
**Actual behavior**
cursor position inside the emoji
**To Reproduce**
[code]
**Screenshots**
![bildschirmfoto 2018-06-09 um 15 28 28](https://user-images.githubuserconten

[2018-06-09 13:41] bpasero commented on #10657
I am no longer convinced that this is an issue with Electron itself. See the discussion from https://github.com/Microsoft/vscode/issues/35361#issuecomment-395365519 onward.

[2018-06-09 14:18] mhuggins commented on #9705
electron: 2.0.0
os: macOS High Sierra 10.13.3 (17D102)

[2018-06-09 14:29] DalderupMaurice commented on #9705
Electron: 2.0.0
Windows 10 64-bits Pro
@codebytere @deepak1556 Could the `blocked` label be removed? There's a reproducible git repo up here in the comments

[2018-06-09 17:19] codebytere commented on #12695
@bpasero I'll devote some solid time to this on Monday!

[2018-06-09 22:34] Geowan commented on #2570
I believe this is possible by building your JS apps with webpack or SPA framework like angular2/4/6 or vuejs2. this minify your code and its painstaking even though one extracts the asar file it may be hard for them to read your code

[2018-06-09 22:42] CourtneyBurke opened #13207 "Is there a way to access HTML elements in a child window from the parent window Javascript"
More of a question than a feature request. I have a parent window and a child window. Is there a way I can access the child window HTML from the parent window JavaScript ?

[2018-06-10 02:06] damoqiongqiu commented on #13137
Same issue here, appears randomly when the app runs for a long time.

[2018-06-10 03:48] BruceAn1978 opened #13208 "Web worker can not run after packaged"
* Electron Version: v2.0.2
* Operating System (Platform and Version): Win10 x64
* Last known working Electron version:

**Expected Behavior**
A clear and concise description of what you expected to happen.
The onmessage and postMessage function of web worker can interact well in after packaged.

**Actual behavior**
The onmessage and postMessage function of web worker can interact well in vs code d

[2018-06-10 03:51] BruceAn1978 commented on #13208
**package cmd:**
electron-packager ./ FileUpload --platform=win32 --arch=ia32 --out ./target --app-version 3.0.0 --overwrite --icon=./app/img/file.ico --ignore=.history --ignore=.vscode --ignore=__recovery

Is there any other parameters to solve this problem?
or some extra parameters to solve this problem?

[2018-06-10 05:04] Yangk030208 opened #13209 "console.log outputs in main process are not printed on Windows"
I tried these methods：
        1.add an environment variable in windows:
                      ELECTRON_ENABLE_LOGGING=1 or true

         2. Modify the boot command:
                      electron   .   --enable-logging

but not print .who can help me .thanks .
node  version:8.1.3
os :win 8
electron : 1.4.13

[2018-06-10 06:02] bpasero commented on #12695
@codebytere thanks 👍

[2018-06-10 07:37] MarshallOfSound commented on #13207
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-10 07:37] #13207 closed

[2018-06-10 08:31] Wello6143 opened #13210 "Is there any way to make a good look installer?"
Hi,
I'm trying to packaging my app. I see many videos on YouTube but the installers are silently and no asking users where to install. I prefer an installer like Visual Studio Code.
So is there a package installer like that?
Sorry for my bad English :p.

[2018-06-10 08:40] MarshallOfSound commented on #13210
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-10 08:40] #13210 closed

[2018-06-10 08:43] Wello6143 commented on #13210
Oh, sorry, I don't know. I will close this issue right now. :D

[2018-06-10 09:27] bpasero commented on #12676
@MylesBorins I see that the V8 repository (https://github.com/v8/v8) does not allow to report issues, so maybe we could use this issue to investigate further. I think you asked me to add @hashseed and @bmeurer to this issue to get a little bit more insights as how this native crash can be explained.

Some more background: Electron 2.0.x is using node.js `8.9.3` but with a V8 version of `6.1.534.41

[2018-06-10 12:01] MarshallOfSound commented on #13208
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-10 12:01] #13208 closed

[2018-06-10 12:14] BONDbATIF commented on #9593
@mattridley
I am also facing problem in mac .Is this resolved ?

[2018-06-10 12:37] ZTiK opened #13211 "browserWindow.loadFile fails html file with GET string in location"
Hey folks,

When I load a local .html file using browserWindow.loadFile it works as expected:
`browserWindow.loadFile('views/index.html);`

However, if I try to load the same file along with a GET string, I only get a blank page:
`browserWindow.loadFile('views/index.html?test=test');`

The workaround seems to be to use .loadURL instead and point it to file:// location.
This requires an absolute pa

[2018-06-10 13:01] BONDbATIF commented on #9593
@Dhaval8087 @JanBN
Hi Dhaval ,
I gone through you solution .Currently I am working with Angular 4 .I am using 'ngx-electron' servic to send request to index.js file (electron where my mainWindow object resides). And trying to get mainWindow object in angular component using ipc render
 **let mainWindowRef=this._electronService.ipcRenderer.sendSync('mainWindowRef');**
but after getting response , i

[2018-06-10 13:16] vwvww commented on #13097
I tried to reproduce this bug, but I could not.
Do you mean that you change the file's extension by changing the file's name on the dialog?
I tried it on macOS High Sierra(10.13.4) and I could not rename the grey-colored file(with txt extension). The OS' behavior has been changed, I guess.
I think this is OS-side to deal with it, not on the electron side.

[2018-06-10 13:28] MarshallOfSound commented on #13211
@ZTiK Behind the scenes `loadFile` calls `url.format()` with the pathname being composed of the absolute path to your app and the string you passed in.  This means it is trying to resolve the querystring as part of the file path.

Loading an absolute path string template generated path has some issues, for your use case I'd recommend doing this.

[code]

[2018-06-10 13:28] #13211 closed

[2018-06-10 13:35] vwvww commented on #13048
I could also reproduce it on Ubuntu 16.04, and could not reproduce it on macOS High Sierra 10.13.4. Can I take this issue, if there is nobody working on?

[2018-06-10 13:38] ZTiK commented on #13211
Thanks for the explanation and the recommendation!

[2018-06-10 13:49] ZTiK commented on #13211
Just in case anyone copy/pastes the example, there is a closing ) missing:

[code]

That happens a lot to me too :x

[2018-06-10 13:56] hashseed commented on #12676
@ulan is this familiar to you?

[2018-06-10 15:02] Jzarecta opened #13212 "Recognize ArchLinux (and other) Distros"
I keep getting these applications built on your framework that miss the mark of the OS I am using.

I am running on Arch Linux but I can see similar frustration from folks running on SuSE, Gentoo, Slackware etc.

Please add those distros to the way you read the OS so the whole sequence can work.

[2018-06-10 15:22] bpasero commented on #12042
Unfortunately at least one [user confirmed](https://github.com/Microsoft/vscode/issues/48043#issuecomment-396000273) that the background artefacts are **still happening** even with latest `macOS 10.13.5` for him.

[2018-06-10 15:29] thiagorova commented on #13097
Hi.
I attatched to images to try to help. After opening the file (first image), I changed the accepted extension (second image). After a while, the app closes and an error message appears (3rd image)
I tried it today, and the error persisted in my computer.

<img width="801" alt="bildschirmfoto 2018-06-10 um 12 23 53 pm" src="https://user-images.githubusercontent.com/11561119/41203115-35d74c06-6ca

[2018-06-10 15:43] HerrZatacke commented on #12185
I am encountering the same issue

I can confirm this happens after opening the "Performance" Tab or the "Network" Tab

I have broken down the issue into the smallest way possible:
https://gist.github.com/HerrZatacke/95590030a67628fe8d02094cacaf1e4d

The "Test"-button just sends a fetch request to a base64 encoded url to make something appear in the Network-Tab

This is the result fo me:
![12185](h

[2018-06-10 16:15] vwvww commented on #13097
Thank you for additional explanation. I could not find the format select list on the dialog...
I could reproduce it on my environment too with your extra explanation.
I think #13048 is somewhat different issue, because it is not reproduced on macOS on #13048 case.
Also I could not reproduce this issue in Ubuntu 16.04.

I will check out on the debug build of electron and check out the callstack.

[2018-06-10 16:15] HerrZatacke commented on #13008
This seems to be the [same issue here](https://github.com/electron/electron/issues/12185). As this has already been closed, I'll x-post my comment.

---
I am encountering the same issue

I can confirm this happens after opening the "Performance" Tab or the "Network" Tab

I have broken down the issue into the smallest way possible:
https://gist.github.com/HerrZatacke/95590030a67628fe8d02094cacaf1e4

[2018-06-10 16:17] HerrZatacke commented on #12185
-> there seems to be a new issue opened for the same problem
https://github.com/electron/electron/issues/13008

[2018-06-10 17:51] HerrZatacke commented on #13008
I was digging a little deeper and found a file inside `C:\Users\_______\AppData\Roaming\Electron\Cache\data_1`
this file contains the [url mentioned before](https://chrome-devtools-frontend.appspot.com/serve_file/@7accc8730b0f99b5e7c0702ea89d1fa7c17bfe33/product_registry_impl/product_registry_impl_module.js).
Deleting this file does not help. After starting the app, it seems to be recreated/redown

[2018-06-10 21:08] pjebs commented on #752
https://github.com/kevinsawicki/tray-example

[2018-06-10 22:33] marcelobcortes commented on #8414
@kevinsawicki can you test it again?
looks like recaptcha got another trick to block from being used in electron

[2018-06-10 23:56] arawinters commented on #9802
I see this was merged to #6697 and closed. I went and checked #6697 and it's still open(since 2016? **o_O**). Maybe I'm missing something, but has this made it's way in to the electron releases or not?

I'm obviously asking because I'm still running in to the message:
`DOMException: Background Sync is disabled.
`

was on 1.8.4. updated to 2.0.2 still seeing it. It's kind of ruining my day.

[2018-06-11 00:15] zacharyrs commented on #13147
Had a chance to dig around, and it looks like this is [known](https://github.com/electron/electron/blob/152422af812631c6afb6a5e129a780b77559cdf0/atom/browser/ui/cocoa/atom_ns_window_delegate.mm#L188).

I'm in no way familiar with cocoa, but it looks like the issue is due to the titlebar not being set to visible if the window is hiddenInset. I couldn't find any record of this decision, so I'm just

[2018-06-11 03:48] smildlzj commented on #13196
is it `preload` property looking for ?

[2018-06-11 04:29] MarshallOfSound commented on #13196
Inside your preload script you just need to asynchronously wait for whatever DOM API's you want to be ready.

E.g. you can wait for the `DOMContentLoaded` event or the `load` event on the window object.

[2018-06-11 04:29] MarshallOfSound commented on #13196
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-11 04:29] #13196 closed

[2018-06-11 04:30] MarshallOfSound commented on #13212
It looks like you didn't fill out our [Issue Template](https://raw.githubusercontent.com/electron/electron/master/.github/ISSUE_TEMPLATE.md), please ensure you provide all information requested in the issue template so that we can try to help you out.

In the future issues you create without the template will be closed, you can find the issue template [here](https://raw.githubusercontent.com/elect

[2018-06-11 07:27] exKAZUu opened #13213 "Electron doesn't work well with react, aws-amplify and a WebGL program compiled by Unity"
* Electron Version: both 2.0.2 and 1.8.7
* Operating System (Platform and Version): Both Windows 10 and Mac OSHigh Sierra (10.13.5)
* Last known working Electron version: 1.7.15

**Expected Behavior**
There is no error. Electron shows some contents (iframe including Unity's WebGL program).

**Actual behavior**
- Electron screen is white
- Devtool is disconnected
- If removing https://github.com/Us

[2018-06-11 07:52] MarshallOfSound commented on #13213
`aws-amplify` depends on `aws-sdk` which transitively depends on `natives`.

The `natives` module does not work with the version of node used in Electron 2.  And will probably never work again.  It does horrible hax to manipulate internal node code that actually causes a crash in Electron 2.0 and higher.

You should attempt to raise issues upstream to drop the dependency on natives.

[2018-06-11 08:02] exKAZUu commented on #13213
Thank you for the detailed explanation! I'll do it.

[2018-06-11 08:09] exKAZUu commented on #13213
@MarshallOfSound What is `natives`? Do you refer to https://www.npmjs.com/package/natives? I check my `node_modules`, but there is no `natives` directory.

[2018-06-11 08:11] MarshallOfSound commented on #13213
Yes that is the module I'm referring to, it's there somewhere it might be deep inside your `node_modules` though.  Run `npm ls natives` or `yarn why natives` depending on which package manager you use.

[2018-06-11 08:16] exKAZUu commented on #13213
@MarshallOfSound Thank you for the quick response. Hm, but, there is still no `natives`.

- `yarn why natives`
[code]

- `npm ls natives`
[code]

Also, I confirmed `aws-amplify` worked well without Unity.

[2018-06-11 08:20] MarshallOfSound commented on #13213
Interesting 🤔

Lemme 👀 at that repro

[2018-06-11 08:24] specneeo opened #13214 "Could not exec system command when packaged with electron-builder"
* Electron Version:2.0.2
* Operating System (Platform and Version):mac os
* Last known working Electron version: none

**Expected Behavior**
when packaged with electron-builder, could exec system command (node,npm,mv,sed...)

**Actual behavior**
in js file, it could exec shell file correctly when ``` npm start ```:

##### debug.sh
[code]

But if packaged with electron-buider, those command could n

[2018-06-11 08:29] MarshallOfSound commented on #13214
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-11 08:29] #13214 closed

[2018-06-11 08:30] MarshallOfSound commented on #13214
When running GUI apps on macOS they do not inherit the shell `PATH` variable so you can't run most system executables without an absolute path.

There is an npm package that fixes this:

https://www.npmjs.com/package/fix-path

[2018-06-11 08:37] horymury commented on #13048
would be great if this gets fixed! thank you.

[2018-06-11 08:53] VicXXX commented on #13200
@MarshallOfSound thanks for your reply although that doesn't explain the issue behind quitting the reopened instance that failed to read cookies. In that situation if I quit the app for the second time and restart it those cookies set in the first run that haven't been read in second run actually are being read in the third run so they are being flushed to disk but not read on second run.

[2018-06-11 08:55] VicXXX commented on #13200
BTW that flush store doesn't fix the issue.

[2018-06-11 09:14] dosyago-coder-0 commented on #1374
One way to do this is to use the modal dialogue events api by connecting chrome remote debugging protocol to the webview.

[2018-06-11 09:30] specneeo commented on #13214
thanks @MarshallOfSound ,now problems has been solved. Thanks.

[2018-06-11 10:25] lishoulong opened #13216 "setTouchEmulationEnabled bug"
* Electron Version: 2.0.2
* Operating System (Platform and Version): mac 10.13.2
* Last known working Electron version:

**Expected Behavior**
after set setTouchEmulationEnabled for browderWindow，expect webview contents in browderWindow can response touch event. For example the following tow images can both response touch move.

**Actual behavior**
the content touch event can partly be response. F

[2018-06-11 10:31] peihexing commented on #13216
mark

[2018-06-11 10:35] peihexing commented on #13216
@MarshallOfSound please help solve the problem

[2018-06-11 11:01] lishoulong commented on #13216
@miniak , please help.

[2018-06-11 11:18] MarshallOfSound commented on #13216
Mentioning random people will not get this issue fixed, it's actually quite annoying :smile:. Please refrain from doing so

[2018-06-11 12:31] happypoulp commented on #9413
I am also reproducing this flickering issue in Electron 2.0.2. Since Electron 2.0.2 embeds Chromium 61 I also tried in "official" Chrome 61 and the issue is also present. I do not reproduce it in Chrome 62 and above.

[2018-06-11 12:33] colindefais commented on #13196
Hi @MarshallOfSound,

Maybe I have not explained myself well enough.

I want to execute code before the `DOMContentLoaded` event or the `load` event on the window object.
Because **if I do it on  `DOMContentLoaded`, guest web pages won't be able to use my injected code since it will be declared after the initialization of their script.**
In consequence, in my fake geolocation use case, if I redefi

[2018-06-11 12:33] lishoulong commented on #13216
OK，@MarshallOfSound
Maybe I am not explain clear for this question.

Now, my core question is when set Emulation.setTouchEmulationEnabled, the document scroll relative event can not be triggered  response of my touch move event.

Do you have some suggestion for this scene?

[2018-06-11 12:39] MarshallOfSound commented on #13196
My comment still stands, you just need to choose the event to listen to correctly.

[code]

[2018-06-11 13:58] vartana opened #13217 "Infinite load of menu and white screen"
* Electron Version: 1.8.4
* Operating System (Platform and Version): Windows 2012

**Expected Behavior**
The app should load with its input boxes and buttons.

**Actual behavior**
The app seems to load within itself infinitely the menu bar and white window

**Screenshots**
![screenshot](https://user-images.githubusercontent.com/133908/41235909-f54f3538-6da0-11e8-96b0-acd74e3daf3d.jpg)

**Additiona

[2018-06-11 14:26] alexeykuzmin opened #13218 "`base::GetProcId` is deprecated"
As of Chromium `63.0.3239.150`

[base/process/process_handle.h#84](https://chromium.googlesource.com/chromium/src/+/63.0.3239.150/base/process/process_handle.h#84):

[2018-06-11 14:36] colindefais commented on #13196
Thanks a lot!

If I do this in a `preload` script:
[code]
Then the guest scripts fail to use `navigator.geolocation.watchPosition`.
So I am now truly able to inject code just before execution of guest scripts.
This is exactly what I wanted to do!

Sorry for the inconvenience.

To avoid opening an issue next time, where can I find the documentation associated to `document-start` and the other event

[2018-06-11 15:41] alexeykuzmin commented on #13125
@pronebird It's not relevant to Electron 2.0.x.
Only affects future versions of Electron based on Chromium 66+.

[2018-06-11 17:12] smildlzj commented on #13196
@colindefais

this fllowing code wille execute before page script excute, sometime i use it to inject or mock system api
[code]

[2018-06-11 20:03] miniak opened #13219 "Application bundles can be selected in <input file="type"> file selector on macOS"
* Electron Version: master
* Operating System (Platform and Version): macOS 10.13
* Last known working Electron version: N/A

**Expected Behavior**
Application bundles cannot be selected as they are directories, not files

**Actual behavior**
Application bundles can be selected, but are not handled properly as they are not files

**To Reproduce**
in Electron default_app:
[code]

**Additional Infor

[2018-06-11 21:14] tonyganch commented on #13078
@caseywebdev, can you please check that "System preferences > Dock > Prefer tabs when opening documents" is set to "always".
I've tried this now with Electron 2.0.2 and macOS 10.13.4 and tabs work as expected.

[2018-06-11 22:03] miniak commented on #13218
`Process::Pid()` is not a direct replacement

[2018-06-11 23:53] chrisnojima opened #13221 "Using affinity causes devtoolsExtensions to not work properly"
* Electron Version: 2.0.2
* Operating System (Platform and Version): OSX
* Last known working Electron version: xx

**Expected Behavior**
If i load multiple windows with a shared affinity (cool) I can no longer load react-devtools (sad). If i remove the affinity flag it works again

**Actual behavior**
Should work with affinity

**To Reproduce**
Load 2 windows with affinity: 'test' and load devtoo

[2018-06-12 01:21] NewSimpleLife commented on #5125
@page can't woeked for 58mm 80mm Thermal printer，some printer‘s margin was unbelievable。

[2018-06-12 02:47] ukyoi commented on #12864
I also suffered from this issue. Before then Atom has this issue, so I switched to Visual Studio Code. But today I found VS Code Insider is affected by this issue too.

[2018-06-12 05:23] goel-sunny opened #13223 "How to access the renderer process ( not GUI renderer process but another )"
Hi ,

I am facing problem , because i have to put a heavy task in a process , i was thinking to put it in the main  process but it may be lock the all renderer process , or put in the renderer process ( i.e, GUI renderer process) also block the GUI , so When i see the task manager i found their is 3 process created for my single  electron based application .

 1-) main process
2.) GUI renderer pro

[2018-06-12 06:10] aniiantt commented on #12864
+1

[2018-06-12 06:11] aniiantt commented on #13102
+1

[2018-06-12 07:43] leesocrates commented on #1116
I also have a problem with history.goback().
first I loadurl from a local file , the pathname is : "/D:/sword/msCode/resources/app/build/index.html"
then i login , after login success , go to schedule page , the pathname is : "/schedule",
schedule page has a list ,then i click a item , enter a detail page , the pathname is : "/schedule/detail".
on the detail page , when i click a back button. i in

[2018-06-12 08:11] colindefais commented on #13196
@smildlzj

Thanks for the tip.

But when I listen to `loaded` it seams to be too soon: `document.documentElement` is undefined. I have also tried to use document.write() but this stops the loading of the page.

So I will stay on `document-start` which happens exactly when I want.

[2018-06-12 08:12] natew commented on #11990
+1, seeing this as of 2.0, wasn't happening in 1.8.

[2018-06-12 08:14] PragmaticEd opened #13224 "How to open native windows conext menu for file/directory"
Is it possible to open windows native context menu for specific file/directory ?

Lets say, for example, i have app:

###### package.json
[code]

###### app.js
[code]
###### main.html
[code]

How do i open windows native context menu, when clicking on link of a file or directory?

By windows native context menu, i mean this:

![111](https://user-images.githubusercontent.com/19263525/41277984-62eaf

[2018-06-12 09:23] jeffcunat opened #13225 "setAspectRatio should not be applied when in full screen mode"
* Electron Version: 2.0.0
* Operating System (Platform and Version):
* Last known working Electron version:

**Expected Behavior**
Window in full screen mode should not be affected by the ratio set with setAspectRatio.
Or we could be able to reset the aspect ratio when you listen to enter-full-screen event (but I did not succeed to do it)

**Actual behavior**
On Mac, when you have set an aspect ra

[2018-06-12 11:27] miniak commented on #13219
https://github.com/electron/electron/issues/8948

[2018-06-12 12:29] abhieee23 opened #13226 "Electron application fails to launch on windows if --no-proxy-server is given through command line"
* Electron Version: 2.0.0, 1.8.2
* Operating System (Platform and Version): Windows 10
* Last known working Electron version: 1.8.2

**Expected Behavior**
Electron should launch with given command line switches as in https://github.com/electron/electron/blob/master/docs/api/chrome-command-line-switches.md

**Actual behavior**
On windows, I am launching electron (from cmd shell) as electron <url> -

[2018-06-12 12:39] inukshuk commented on #13061
Can you still reproduce this with electron-mocha 6.0.4?

[2018-06-12 12:44] alexeykuzmin commented on #13218
@miniak That's what the code says. I wish it were a search-and-replace task, but yeah, it would require slightly more effort.

[2018-06-12 12:50] peihexing commented on #13216
@MarshallOfSound please help solve the problem

[2018-06-12 15:17] exKAZUu commented on #13213
Additionally, I confirmed the following things.

- If a program loads a WebGL program compiled by Unity after loading `react` and `aws-amplify` in the usual way, then the error occurs.
- If a program dynamically requires `aws-amplify` after loading `react` and a WebGL program compiled by Unity completely, then the error doesn't occur.

[2018-06-12 15:33] caseywebdev commented on #13078
I'm still getting 2 windows with that setting as "always". I'm on macOS `10.13.5`.

If the prefer tabs option intentionally has an affect on this it should probably be mentioned in the docs as this line is only conditionally true.

[2018-06-12 16:42] codebytere commented on #13205
We're aware of and working to resolve this, thank you!

[2018-06-12 16:42] #13205 closed

[2018-06-12 16:45] ZanderBrown commented on #11907
Also relevant https://github.com/Microsoft/vscode/issues/43154

[2018-06-12 16:50] alexanderturinske commented on #12979
Update: Upgrading your site to be HTTP2 compatible completely alleviates this issue because it only opens one connection to a domain and then uses [multiplex](https://http2.github.io/faq/#why-is-http2-multiplexed).

[2018-06-12 17:30] SamCosby commented on #12695
This looks to affect MS Teams as well, since it's also built on top of Electron.

[2018-06-12 17:57] wesleytodd commented on #3189
Any update on this?  I am hoping to use Beaker Browser as my primary browser, but the lack of a spell checker is the only blocking feature.  I don't mean to add to the noise, but squeaky wheel something or other....

[2018-06-12 20:28] m-onz commented on #4776
Same issues... I have not got any audio working on osx or linux

[2018-06-12 21:56] dcaldwell-sw commented on #10536
I solved this issue by just doing:
"sudo chmod 0774 /usr/lib/node_modules/ -R"
"sudo chown root:sudo /usr/lib/node_modules/ -R"

Of course, you need to be logged into a user that is a member of the group: sudo, but you probably are a member of sudo, adm, cd-rom, ...   just 'sudo cat /etc/group' to see if you're a member.

[2018-06-12 22:36] dcaldwell-sw commented on #10604
If you used 'sudo npm install -g electron'  you need to fix folder permissions for /usr/lib/node_modules:

if you aren't a member of the sudo group, change sudo to a group you are a member of.

[2018-06-12 22:50] ondrej opened #13228 "Cookie headers lost when using protocol.interceptStreamProtocol()"
* Electron Version: 2.0.0
* Operating System (Platform and Version): macOS High Sierra 10.13.4
* Last known working Electron version: N/A

**Expected Behavior**
When using protocol.interceptStreamProtocol(), all HTTP headers, including Cookie and Set-Cookie, are provided to the intercept callback (when a request is being made), and accepted by the intercept callback's callback (when a response is

[2018-06-13 03:54] bzeeman commented on #13174
16GB (though lets be honest here, they are all text based programs even if I had 8GB it SHOULDN'T be a problem).
How often do you unplug?
If I start the app with no external screens plugged in it usually works fine. Also as mentioned above it seems to improve, but doesn't seem to be long term, if I make sure the built in display is the "primary" monitor in the arrangements tab.

I've resorted to w

[2018-06-13 04:11] az-chris commented on #9421
Think I added an appropriate update to the documentation to address the issue.

[2018-06-13 04:33] az-chris opened #13230 "404 Error on Pull Review Page, semantic commit message hyperlink"
* Electron Version: N/A
* Operating System (Platform and Version): MacOS 10.13.15 (accessed via Chrome 67.0.3396.79)
* Last known working Electron version: N/A

**Expected Behavior**
The first link from the welcome bot contains a link for semantic commit messages, expected to be redirected to a webpage.

**Actual behavior**
GitHub 404 Error

**To Reproduce**
Make a pull request (unsure if the welc

[2018-06-13 05:22] dengyaolong commented on #9035
how to get file paths in windows?

[2018-06-13 07:44] quinton-ashley opened #13231 "Compatibility with Node Module Version 64 requested"
node: v10.4.0
macOS: 10.14 Developer Beta
[code]

[2018-06-13 08:00] MarshallOfSound commented on #13231
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-13 08:00] #13231 closed

[2018-06-13 08:01] MarshallOfSound commented on #13231
Please read [Using Native Node Modules](https://electronjs.org/docs/tutorial/using-native-node-modules) which explains how to build native modules for Electron

[2018-06-13 08:17] bpasero commented on #8960
This issue should be reopened, it is not fixed in any version of Electron for us (VSCode).

[2018-06-13 08:25] quinton-ashley opened #13232 "desktopCapturer returns undefined"
node: v10.4.0
macOS: 10.14 Developer Beta
electron: 1.8.7
[code]

app returns the app object. desktopCapturer is undefined

[2018-06-13 08:35] quinton-ashley commented on #13232
Found the solution myself.  Can't use remote to access desktopCapturer.
[code]

[2018-06-13 08:35] #13232 closed

[2018-06-13 09:37] krux02 commented on #12580
fuck this

[2018-06-13 09:37] #12580 closed

[2018-06-13 09:39] DEDaniel commented on #13209
@Yangk030208 do you see any messages in your terminal? And if you want to log messages to the developer console take a look at the small repo I created. [electron-logging](https://github.com/DEDaniel/electron-logging)

[2018-06-13 10:20] evecalm commented on #9035
@bpasero @dengyaolong

You may try this on Windows:

[code]

[2018-06-13 10:40] abhieee23 commented on #13226
@zcbenz

[2018-06-13 10:49] DEDaniel commented on #13179
@ke1vin666 have you tried using the [transparent](https://github.com/electron/electron/blob/master/docs/api/browser-window.md#new-browserwindowoptions) option? I created a quick repo, maybe this will fit your needs - check it here [electron-frameless-rounded](https://github.com/DEDaniel/electron-frameless-rounded)

[2018-06-13 12:28] VicXXX opened #13236 "White artefacts on windows"
* Electron Version:2.0.2
* Operating System (Platform and Version): Windows 10
* Last known working Electron version: 1.8.7

**Expected Behavior**
The artefacts shouldn't be visible

**Actual behavior**
There are different shades of the same colour visible on Windows whereas it should be one solid colour this is not replicable on MacOS and looks to only affect Windows. The screenshot shows the blu

[2018-06-13 15:08] JohannBlake commented on #10792
I have the same issue. What I noticed is that you can open multiple instances of your Electron app and each can access different indexed dbs on the condition that no two databases are open at the same time. This means that you have to close the db immediately after you are done with it. In my app, I designed it from the start to keep the connection to the db open while the app is running. This pre

[2018-06-13 15:53] mdanka commented on #6889
Are you planning to implement this for `openItem` as well?

[2018-06-13 17:00] kschuster1 commented on #11049
did you ever resolve this - I'm looking to do the same

[2018-06-13 17:06] quinton-ashley commented on #13231
Thanks for the info!  I think the error thrown could be more helpful.

[2018-06-13 17:08] Slapbox commented on #11049
I don't remember the _exact_ nature of my issue at the time, but I'm pretty sure this remains an issue in my project even now with Electron >2.0

[2018-06-13 17:16] riskers commented on #8692
@johnryan Have you solved the problem？

[2018-06-13 18:20] ccoble commented on #10880
Can this be fixed using SMLoginItemSetEnabled?  Possibly a similar approach that was used to fix #7312.

[2018-06-13 18:27] CharlieHess opened #13240 "Crash in IncrementalMarking::Step"
* Electron Version: 2.0.2
* Operating System (Platform and Version): macOS 10.13.5
* Last known working Electron version: 1.8.x

We're seeing a few reports of native crashes on startup on 10.13.5. Stack looks similar to this ole chestnut, fixed ages ago: https://bugs.chromium.org/p/chromium/issues/detail?id=128415

[code]

When I ran `electron-atos` on lines 14-16 I got:
[code]

But running it on

[2018-06-13 18:29] CharlieHess commented on #13240
Ah, exact duplicate of #12676. I should search harder.

[2018-06-13 18:29] #13240 closed

[2018-06-13 18:49] baconbrad commented on #5125
@NewSimpleLife By chance was that a Epson thermal printer? We had a bit of issues with margins on it for our POS we wrote in Electron. Our Star receipt printer also was also goofy. We ended up having to make a separate CSS "profile" for each printer type. If it was the Epson I remember really fighting that one the most and I believe we had to adjust printer settings as well `@page`.

[2018-06-13 21:10] philfreo commented on #13078
I don't think this macOS setting _should_ have an affect on this bug anyway. You shouldn't need this setting enabled ("prefer tabs when opening documents") at the OS-level in order to e.g. restore a set of tabs into the same window. Many apps (e.g. Chrome/Safari) have tabs that work well regardless of this setting.

[2018-06-13 21:30] sofianguy commented on #13098
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2018-06-13 21:30] #13098 closed

[2018-06-13 22:15] sofianguy commented on #13117
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-06-13 23:27] card-b opened #13242 "Render thread crashes when accessing stream from video element"
* Electron Version: latest
* Operating System (Platform and Version): MacOS 10.13.3
* Last known working Electron version:

**Expected Behavior**
Accessing stream from video element for webrtc call should not crash (works in Chrome on web)

**Actual behavior**
Any call to videoElement.captureStreamI() causes white screen crash if video element is streaming webcam. Experimental Features is set to t

[2018-06-13 23:28] sofianguy commented on #13126
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2018-06-13 23:28] #13126 closed

[2018-06-13 23:29] sofianguy commented on #13128
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-06-13 23:36] sofianguy commented on #13179
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2018-06-13 23:36] #13179 closed

[2018-06-14 01:17] fatalmuffin commented on #5107
Just thought I'd add, I also got this error due to my own blunder (cap sensitivity)
I was calling `pathname: path.join(__dirname, 'Views/settingsWindow.html') ` when the file name was all lower case.

This only casued an error once it was webpacked.

[2018-06-14 01:57] fsgmhoward commented on #10362
Still the same for electron 2.0.2 stable.
I found that it works after adding the flag `--unsafe-perm=true --allow-root`, i.e.:

```npm install --unsafe-perm=true --allow-root -g electron```

Ref: gdotdesign/elm-github-install#21

[2018-06-14 02:19] charlesclu commented on #9835
After playing around with the event listeners, the only thing I can find that is different about twitter from other sites is that after calling .goBack() from twitter, first a did-navigate-in-page event with url "https://twitter.com/" is fired, then the normal did-navigate event with the url of the previous page in history is fired.

Maybe upon calling .goBack(), twitter does some in-page navigati

[2018-06-14 02:50] lizhengnacl commented on #9035
@evecalm

HIHI，if i copy multiple files at the same time, how can i get all the file list on windows?

[2018-06-14 02:57] mjbvz opened #13243 "Webview not being garbage collected after removed from DOM"
* Electron Version: 2.0.2
* Operating System (Platform and Version): MacOS 10.13.4
* Last known working Electron version:

**Expected Behavior**
In a renderer:

[code]

After the webview is removed from the dom, I expect the `MyWebview` to be cleaned up

**Actual behavior**
Notice that a `MyWebview` is around in memory even after the webview is deleted from the dom.

**To Reproduce**

[code]

1. O

[2018-06-14 03:04] BrendanMcK opened #13244 "JAWS stops tracking focus within webview after navigation"
* Electron Version: 2.0.0
* Operating System (Platform and Version): Windows 10
* Last known working Electron version: unknown

**Expected Behavior**

When a webview loads new content - eg navigating to another page, or reloading current one, focus may get reset to the start of the page, but it should continue working as normal from there. As the user hits TAB, JAWS should move to the next focusab

[2018-06-14 07:03] Veiintc commented on #11908
Electron version: 1.8.6
Operating system: Windows 10

SO I WAS!!!
has the problem fixed??

[2018-06-14 07:08] ananiy commented on #13008
I am experiencing this as well.

[2018-06-14 07:37] dave986 commented on #12937
Hello all, FYI, the same happens on **Linux Mint 17.3 XFCE** with Intel GF driver. I tried the same app with the latest version prior to 2.0.0 and it renders correctly. Also disabling the HW accel. works.

[2018-06-14 08:43] skyFi commented on #12803
Same here. Also on Electron 2.0.2

[2018-06-14 10:10] hongmomanu commented on #13046
the  same problem , electron 2.x ia32 not work on windows7 x64 ,but  electron 2.x x64 worked.

[2018-06-14 10:36] Augus commented on #7079
@CapOM Useful answer if you run `setTimeout` in `background.js`

[2018-06-14 10:44] lejafar commented on #3430
@mattiasarro @milos-popovic I stumbled upon this issue with the same, any Ideas how to make this work? @lgeiger do you have idea what the best approach would be to bypass the CSP when using external js libraries to produce rich hydrogen output with `display(Javascript("..."))` ?

[2018-06-14 11:58] milos-popovic commented on #3430
@lejafar unfortunately, I can't help as I quit trying in the end

[2018-06-14 13:31] rdepena commented on #4045
update ?

[2018-06-14 14:46] kwill opened #13246 "Instructions to build entirely from source"
**Is your feature request related to a problem? Please describe.**
I am a free software developer. I want to build Electron from source, so that I don't rely on any third-party binaries.

[Building Chromium as a Library](https://electronjs.org/blog/electron-internals-building-chromium-as-a-library) explains clearly why and how to use a Chromium binary for convenience, but doesn't discuss how to us

[2018-06-14 14:48] MarshallOfSound commented on #13246
See https://github.com/electron/electron/blob/master/docs/development/README.md

[2018-06-14 14:49] MarshallOfSound commented on #13246
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-14 14:49] #13246 closed

[2018-06-14 15:15] fateleak commented on #12864
+1 with same crash report

[2018-06-14 15:49] mdanics commented on #5779
@bansalvks can you post the working code?

[2018-06-14 15:55] jasonrudolph commented on #10732
As of Atom 1.28.0-beta3, we've adopted this approach as well. /cc https://github.com/atom/atom/pull/17380

By default, Atom honors the display's color profile, but we give the user the option to force the color profile to sRGB.

[2018-06-14 17:38] rossnichols commented on #8960
I'm a developer at Microsoft, on the input stack of the Windows OS, and I looked into this issue more by debugging Visual Studio Code with and without their workaround (setting: window.smoothScrollingWorkaround).

In the “good” setup (workaround active), there are three HWNDs:

[code]

In the “bad” setup (laggy touchpad), Child 1 doesn’t exist.

The toplevel window and Child 1 are on the same thre

[2018-06-14 17:43] rossnichols commented on #8960
@chaopeng FYI - see my previous comment.

[2018-06-14 17:59] chaopeng commented on #8960
Hi Ross, I have fixed the laggy issue on Chromium and patch to electron https://github.com/electron/libchromiumcontent/pull/472

But it seems not working for vscode. I saw it fixed on a beta release atom. I suggest you test it on a plain electorn app (with open source electron release include my patch) see it can still reproduce first.

The root cause I found is the "Intermediate D3D Window" in fr

[2018-06-14 19:26] charlesclu opened #13249 "WebView history is broken if a webpage loads a navigation upon goBack() being called"
* Electron Version: 2.0.2
* Operating System (Platform and Version): macOS 10.13.2
* Last known working Electron version: N/A

**Expected Behavior**
WebView history remains correct after navigating with goBack()

**Actual behavior**
Some webpages, such as `https://twitter.com/`, load a navigation upon `goBack()` being called, (in this case it is a navigation to `https://twitter.com/`), and this na

[2018-06-14 19:27] charlesclu commented on #9835
I think I've found what is exactly happening with this problem after playing around with the electron source code. See https://github.com/electron/electron/issues/13249

[2018-06-14 20:50] charlesclu commented on #13249
I've come up with a possible solution, but I'm sort of new to git, so I'm still learning about pull requests.

Anyways, here the relevant code with the changes:

Here I've added a new property to the NavigationController, `this.navUrl = null`. `this.navUrl` is `null` if no specific url is supposed to be navigated to, but if a specific url is supposed to be navigated to, like specified in the `goBa

[2018-06-14 21:12] mbaer3000 commented on #12941
This is not a bug in electron. It's also not strictly a bug in spectron either. It's all due to spectron not passing the right chromeOptions to the chromedriver, namely windowTypes, which according to http://chromedriver.chromium.org/capabilities "[f]or access to <webview> elements, [have to] include "webview" in this list. I will issue a PR to spectron to address this, cf. https://github.com/elec

[2018-06-14 21:32] craxal opened #13250 "Message box with "none" type or `null` icon doesn't remove default image on Linux"
* Electron Version: 2.0.0
* Operating System (Platform and Version): Linux Ubuntu 16.04
* Last known working Electron version: ???

**Expected Behavior**
When calling `dialog.showMessageBox` with `type: "none"` or `icon: null` options, I expect the resulting system dialog to have no icon.

**Actual behavior**
A generic (and undesirable) icon is used in the system dialog instead.

**To Reproduce**

[2018-06-14 22:31] duncan-bayne commented on #3797
@pizzamig Great, thanks!  Will test soon.  Hoping to get Cypress running on FreeBSD, so this is great timing :)

[2018-06-14 22:54] pushkin- opened #13251 "In a webview, focus does not wrap around like it does in Chrome"
* Electron Version: 2.0.0
* Operating System (Platform and Version): Windows 10
* Last known working Electron version:

**Expected Behavior**
I have a `<webview>` that points to a page with an `<input>` field. When I tab from that input field, I expect focus to wrap around back to the input field.

**Actual behavior**
Focus goes off screen and is lost forever (I can't Tab or Shift+Tab back to the

[2018-06-14 23:42] sofianguy commented on #13168
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-06-14 23:42] #13168 closed

[2018-06-14 23:54] sofianguy commented on #13182
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2018-06-14 23:54] #13182 closed

[2018-06-15 00:55] #13128 closed

[2018-06-15 03:13] guanyong1993 commented on #12726
What's the result? I'm also concerned about this problem. It keeps me from updating to 2.0

[2018-06-15 03:15] Anuj16 commented on #13226
I am also facing the same issue.

[2018-06-15 07:07] nmenke commented on #13161
After some tries the following fixes the dbus errors:
`dbus-launch electron --enable-logging .`.
Electron just throws those gpus errors and child processes can access the bus too.

[2018-06-15 08:01] xlqstar opened #13252 "The display of Chart.js have strange problem"
* Electron Version:^2.0.0
* Operating System (Platform and Version): mac High Sierra 10.13.5
* Last known working Electron version:

**Expected Behavior**
the chart app display have problem

**Actual behavior**
I want make a chart app with electron and Chart.js

**To Reproduce**
every time

**Screenshots**
![image](https://user-images.githubusercontent.com/2224956/41456673-d3841aac-70b3-11e8-9745-

[2018-06-15 08:31] githoniel opened #13253 "Build Error in Windows"
* Electron Version: Master branch now
* Operating System (Platform and Version): Win10 10.0.17134.112

**Expected Behavior**
[code]

build OK

**Current Behavior**

get Error below
[code]

[2018-06-15 08:34] sidneys commented on #12726
I have the exact same issue. I tested everything.

It is definitely due to `vibrancy` in conjunction with `hiddenInset`.

Electron version: 2.0.2
Operating system: MacOS 10.13.5
Hardware: MacBook Pro (Retina, 15-inch, Late 2013)

<details><summary>Stacktrace</summary>
<p>

[code]

</p>
</details>

[2018-06-15 09:15] negamaxi commented on #839
No updates on this?

[2018-06-15 09:23] joaomoreno opened #13254 "SIGPIPE crash when accessing stdin of badly spawned process"
* Electron Version: 2.0.2
* Operating System (Platform and Version): Arch Linux up-to-date
* Last known working Electron version: ?

**Expected Behavior**

[code]

When running this script with Node 8.9.3, everything works as expected:

[code]

I expected this to run the same with Electron 2.0.2 and `ELECTRON_RUN_AS_NODE`.

**Actual behavior**

Instead this is the outcome:

[code]

When using GDB,

[2018-06-15 09:28] bpasero commented on #13254
@joaomoreno this did reproduce in Electron 1.7.x right?

[2018-06-15 09:39] joaomoreno commented on #13254
@bpasero Did not check.

[2018-06-15 10:05] MarshallOfSound commented on #13253
`-d` only bootstraps the debug build (same as `--dev`).  Remove that parameter in order to build release builds

[2018-06-15 10:05] #13253 closed

[2018-06-15 10:55] edunad commented on #1335
@singuerinc yes, if you enable ```disableHardwareAcceleration``` and set the app transparency to true, only solid and ```if you set the opacity to 0.1``` will be clickable. Do take note about the slowdown on macs (check @adeperio's response)

[2018-06-15 15:02] cumajkeee opened #13256 "Application crash"
* Electron Version: 2.0.2
* Operating System (Platform and Version): Windows 7 x64
* Last known working Electron version: 1.8.7

**Expected Behavior**
Application not crash.

**Actual behavior**
In a random time application become not responding, application crash.

**Additional Information**
Fault data from .dmp analysis:
[code]

[2018-06-15 15:13] cumajkeee commented on #13256
[code]

[2018-06-15 15:15] luca-viggiani opened #13257 "App freezes when developer tools are shown"
* Electron Version: 2.0.2
* Operating System (Platform and Version): Arch Linux x64; GNOME 3.28 on **Wayland** (on X11 the issue does not occur)
* Last known working Electron version: n.a.

Executing the following code (**on Wayland only**) the app freezes after a couple of seconds if I interact with the developer tools or move or resize the window. If I do not show the developer tools or run the

[2018-06-15 15:19] localh0rzd commented on #12027
+1 encountered while using multiple `<webview>` sharing one affinity. Creating and later removing the WebView leaks memory.

[2018-06-15 17:49] charlesclu commented on #13249
Actually, the above is not a good fix, as it does not work if the previous page in history is the same url as erroneous navigation

[2018-06-15 18:32] sethlu commented on #12695
@bpasero It turns out that `NODE_OPTIONS` would always crash Electron. A short term fix would be to make this env variable do nothing so this wouldn't be a breaking change in Electron since it's not really documented in Electron. Then we can move on to working on a fix to support `NODE_OPTIONS`.

cc: @codebytere @nitsakh @gnahzak

[2018-06-15 20:51] #13219 closed

[2018-06-15 21:09] zinne commented on #13164
tested Mojave yesterday, also seen the line. Also the standard file open dialog appeared still in light

[2018-06-15 21:43] sofianguy commented on #13223
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-06-15 21:43] #13223 closed

[2018-06-15 21:44] sofianguy commented on #13224
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2018-06-15 21:44] #13224 closed

[2018-06-15 21:50] sofianguy commented on #13236
Can you provide steps to repro this please?

[2018-06-15 21:54] sofianguy commented on #13252
can you provide steps to reproduce this issue please?

[2018-06-16 00:12] Polunom opened #13261 "WebView prevents <input> from being unselected by clicking"
* Electron Version: v2.0.2
* Operating System (Platform and Version): Windows 10 Build 17134
* Last known working Electron version: N/A

**Expected Behavior**
Highlighted input text should be able to unselected/allow the caret to be moved by clicking on it regardless if a WebView is present or not.

**Actual behavior**
When a WebView is added to the page, it becomes impossible to click on an input

[2018-06-16 00:43] #13230 closed

[2018-06-16 03:30] damoqiongqiu commented on #13137
Finally, I think  I have found the reason for this issue.

If we are using [ipcRenderer ](https://electronjs.org/docs/api/ipc-renderer) inside a Renderer thread,  including webview tag.

When renderer navigated to other URL, some callbacks like setTimeout of setInterval may invoke the methods on that renderer or webview instance after a period of time.

This will definitely cause "missing remote o

[2018-06-16 03:32] damoqiongqiu commented on #8205
Finally, I think I have found the reason for this issue.

If we are using ipcRenderer inside a Renderer thread, including a webview tag.

When the renderer navigated to another URL, some callbacks like setTimeout of setInterval may invoke the methods on that renderer or webview instance after a period of time.

This will definitely cause "missing remote object ..."

So, the problem here is, how ca

[2018-06-16 06:36] codebytere commented on #13256
Thank you for taking the time to report this issue and helping to make Electron better.

Please provide a standalone test that a tester could run to reproduce the issue. This makes fixing issues go more smoothly: not only does it ensure the right thing is tested, but it also prevents triage from bottlenecking on making testers write new tests for each new issue.

I'm setting the more-information-n

[2018-06-16 06:39] wallflips commented on #525
Take a look at this, it solved the issue for me on mac os sierra.

https://pracucci.com/atom-electron-enable-copy-and-paste.html

[2018-06-16 06:42] MarshallOfSound commented on #9421
Fixed in #13229

[2018-06-16 06:42] #9421 closed

[2018-06-16 10:37] BONDbATIF commented on #10121
@steverandy @javan
 I am using electron v1.8.4 in mac .Still extension issue is not fixed in mac .
Any update ?

[2018-06-16 19:27] derek126 opened #13264 "Can not add listener to "certificate-error" using Typescript"
* Electron Version: 2.0.2
* Operating System (Platform and Version): Win 10 64x
* Last known working Electron version: Unknown

**Expected Behavior**

No type error and I can add a listener to the "certificate-error" event

**Actual behavior**

TS2345: Argument of type '"certificate-error"' is not assignable to parameter of type '"window-all-closed"'.

**To Reproduce**

Using TypeScript 2.9.2

`ap

[2018-06-16 22:58] UladzislauCharneny commented on #13008
Have same issue with version 2.0.2

[2018-06-17 06:57] xlqstar commented on #13252
I think this issue is related to this issue
#9765

[2018-06-17 12:06] javan commented on #13261
Related: https://github.com/electron/electron/issues/4539#issuecomment-250991454

[2018-06-17 18:28] preethamkesineni opened #13265 "New to Open Source Development"
Hello,

Sorry if this is the wrong place to type this stuff but I am a young programmer still in college right now and I wanted to branch into open source development. I have some knowledge on C++ language and programming. I was curious if I could get any guidance from other more seasoned open source developers on how to start in this field. Thank you and again sorry for posting this in the issue

[2018-06-17 20:42] quinton-ashley commented on #13231
It still doesn't work for me and I don't understand why this is necessary.  Why won't electron work with modules built for the current Node.js version using NODE_MODULE_VERSION 64?
[code]
In the console:
[code]

[2018-06-18 05:27] sshock commented on #13107
Am I the only one seeing this problem?

[2018-06-18 07:06] AndreasWebdev commented on #13159
Sorry, I missclicked! @felixrieseberg I guess this is a bug I should submit to electron-userland/electron-packager, correct?

[2018-06-18 07:48] #12653 closed

[2018-06-18 07:50] digitalstaub commented on #13206
I installed an old chrome browser and found that it has the same issues.
I guess it will be solved in the future with a newer chromium version.

[2018-06-18 08:05] zcbenz commented on #13226
This is forbidden to fix a security problem, you can find more about it at https://electronjs.org/blog/protocol-handler-fix, https://github.com/electron/electron/commit/c49cb29ddf3368daf279bd60c007f9c015bc834c, https://github.com/electron/electron/pull/13039.

[2018-06-18 08:05] #13226 closed

[2018-06-18 08:15] peterdanis commented on #12850
I can also reproduce the issue with Electron 2.0.2 on Fedora 27 and Ubuntu 18.04.

My application (https://github.com/peterdanis/wrapbox) works when I build it (as AppImage) and run it from file manager, but hangs after a very short time (1-2s) when started from command line.

Can be also reproduced by running the default Electron "app" (see picture below), by running `yarn electron` - this works

[2018-06-18 09:09] R00iBaard commented on #10572
Any update on this?

[2018-06-18 09:43] bpasero opened #13278 "webview: resizing webview triggers resize event on window"
* Electron Version: 1.7.x and 2.0.x
* Operating System (Platform and Version): macoS 10.13
* Last known working Electron version: unknown

**Expected Behavior**
The resize event should only be triggered when the window size changes.

**Actual behavior**
The resize event fires when the webview size is changed.

**To Reproduce**

**renderer.js**

[code]

**HTML**
[code]

After 2 seconds there is a r

[2018-06-18 10:21] damoqiongqiu commented on #8205
After several days of testing, I found this issue is not existing in V 1.8.x, but reappears in V 2.x.

[2018-06-18 10:21] damoqiongqiu commented on #13137
After several days of testing, I found this issue is not existing in V 1.8.x, but reappears in V 2.x.

[2018-06-18 11:56] zcbenz commented on #8205
@damoqiongqiu Can you write a minimal app that I can use to reproduce the problem?

[2018-06-18 13:56] jeeftor commented on #13137
Then I must be a feature not a bug

Sent from my iPhone

[2018-06-18 14:38] DanTup opened #13279 "Select box near top of screen opens upwards, leaving little space for the items (and a scrollbar)"
I [raised this against VS Code](https://github.com/Microsoft/vscode/issues/52194), but they advise it's Electron's doing. When I go to select a debug session and there are several, the dropdown menu grows upwards but there's limited space on the screen so it ends up being quite difficult to use.

* Electron Version: 1.7.12
* Operating System (Platform and Version): macOS High Seirra
* Last known w

[2018-06-18 16:09] rudibravo opened #13280 "Application not exiting when there is a long running child"
* Electron Version: 2.0.2, 3.0.5, 4.0.0-beta
* Operating System (Platform and Version): Ubuntu 64
* Last known working Electron version: -

**Expected Behavior**
Calling `app.exit()` should close the main process even if there a long running detached child process.

**Actual behavior**
Main application only exits after the child process terminates.

**To Reproduce**
I've setup a quick test of this

[2018-06-18 17:00] mdanics commented on #6958
Having this issue on electron 2.0.2. @jonathon-love 's solution is not working

[2018-06-18 18:08] burtonator commented on #13123
This needs to be supported.. extensions are super important.  If they work in chromium they should work in Electron.

[2018-06-18 18:35] mdanics commented on #6958
Im running into this issue on electron 2.0.2.  @jonathon-love 's solution isn't working for me. Are there any updates on this?

[2018-06-18 20:46] johnryan commented on #8692
@riskers as mentioned above I just ended up running a web server rather than using the native message protocol

[2018-06-18 21:22] yoannmoinet commented on #1632
I have the same issue where accelerators are only registered for US layout, and doesn't work anymore on any other layout.
Is there any solution for this?

[2018-06-19 01:04] Slapbox opened #13287 "Node path.join fails on Windows 7 & Electron 2.0.2 - Possibly due to bug in Node 8.9.3, fixed in 8.10.0"
* Electron Version: `2.0.2`
* Operating System (Platform and Version): `Windows 7 x64`
* ~~Last known working Electron version: `1.8.4` (Not known - only possibly)~~

### Relevant NodeJS Bug Report: https://github.com/nodejs/node/issues/21392

**Expected Behavior**
Path.join always joins valid paths

**Actual behavior**
Path.join's first argument is passed in, but within the join function it is un

[2018-06-19 04:59] majomuchi123 commented on #1401
Thank you very much, @bahmandamia6982

[2018-06-19 07:33] #11484 closed

[2018-06-19 07:41] 149375580 opened #13288 "can't drag file to the window of an UAC electron app"
Electron version: 1.4.10  & UAC right
Operating system: windows 10

**Expected behavior**

I want to drag a file to the window of an electron app , But I can't do this, when I drag the file to the application window, the mouse cursor becomes disabled.

**Actual behavior**
the mouse cursor changes to disabled: 🛇
can't capture drag & drop event

[2018-06-19 07:41] njakob opened #13289 "Wrong state of event object properties in MenuItem callback"
* Electron Version: 2.0.0
* Operating System (Platform and Version): Fedora 25
* Last known working Electron version:
Didn't tested all previous versions, however the bug is already present in 1.7.8

**Expected Behavior**
I'm currently trying to figure out if a `MenuItem` was triggered through the accelerator. This is possible to achieve through the information available in the `event` object of t

[2018-06-19 09:00] singuerinc commented on #1335
@edunad I just tried a bunch of different ways, but it doesn't work.
I set up a empty-transparent-fullsize window without any element and I'm not able to click-through, I have no idea what I'm doing wrong.
`window.setIgnoreMouseEvents(true)` is the only way, but as I said my app became useless.

[2018-06-19 09:16] MarshallOfSound commented on #13153
Fixed in https://github.com/electron/libchromiumcontent/pull/555

[2018-06-19 09:16] #13153 closed

[2018-06-19 11:59] cumajkeee commented on #13256
@codebytere, here is call stack before the crash
[code]

[2018-06-19 12:48] mbaer3000 commented on #12941
The pull request in spectron project is up. This bug here can be closed.

[2018-06-19 15:28] alexeykuzmin opened #13297 "Use clang to build Electron on Windows"
Rels #13234.

/cc @ZacWalk

[2018-06-19 15:46] ivangabriele commented on #13008
I can tell here that I have the same issue under Windows 10. Removing the `Appdata\Roaming\Electron` directory **does fix the issue** though. It may be a simple upgrade incompatibility.

[2018-06-19 16:12] mdanics commented on #8725
Any updates on this? Facing this issue in Electron 2.0.2

[2018-06-19 16:15] markonyango commented on #8725
What device are you using?

[2018-06-19 16:19] alexeykuzmin commented on #13287
Probably fixed in https://github.com/nodejs/node/pull/18463.

[2018-06-19 16:36] Slapbox commented on #13287
Heh I already linked to that! But unfortunately, it seems not =(

I just went back to Electron 1.7.15 and I'm having the same issue even there with Node 7.9.0. According to the Node team, this bug didn't affect versions of node prior to `8.x.x`

[2018-06-19 16:37] Tanuja-Kulal opened #13299 "Electron applications does not read if aria-atomic is false in JAWS"
* Electron Version: 2.0.0
* Operating System (Platform and Version): Windows 10 Enterprise 10.0.17134 Build 17134
* Last known working Electron version:  not sure

**Summary**
I work on electron application which renders in chrome. Jaws does not read text in live region unless aria-atomic = true is mentioned. There are few logs which I want to read with aria-live="polite" and aria-atomic="false" s

[2018-06-19 16:44] artemave commented on #13061
@inukshuk 6.0.4 seems to have resolved this issue. Thanks!

[2018-06-19 16:44] #13061 closed

[2018-06-19 17:05] mdanics commented on #8725
@markonyango happens on dell xps when using touch screen mode

[2018-06-19 17:19] #13125 closed

[2018-06-19 17:42] CreatorVilius opened #13300 "Works in browser, but not Electron? Wait what?"
* Electron Version: 2.0.0
* Operating System (Platform and Version): Win10 64bit
* Last known working Electron version: **It kinda broke in previous versions sometimes**

**Expected Behavior**
Read main.js file

**Actual behavior**
Doesn't read main.js randomly sometimes and you can't do anything about it, other than delete random functions which worked previously. Undoing when everything was work

[2018-06-19 18:48] pushkin- commented on #13300
@CreatorVilius In that case, please close this issue.

[2018-06-19 18:49] gnahzak commented on #12695
Since the last comment, we've tried the following to diagnose the issue:
- The exception happens in `node.cc` due to the assumption that dereferencing `argv[0]` is always valid
- The issue is directly caused by calling `node::Init()` with a null pointer for `argv`
- The block is guarded by `NODE_WITHOUT_NODE_OPTIONS`
- We want to define `NODE_WITHOUT_NODE_OPTIONS` so the code containing this call

[2018-06-19 18:58] #13185 closed

[2018-06-19 19:00] paulfitz commented on #13176
I also maintain software that would be a lot easier to build if the OpenSSL symbols were exported in electron-flavored node. Would be very grateful if the symbols could be exported.

I found some more context on why they are not here https://github.com/electron/electron/issues/1410#issuecomment-152407010 - they conflict with Chromium's fork of OpenSSL.

[2018-06-19 19:17] nornagon commented on #13176
Electron is planning to move to building node with BoringSSL (see https://github.com/electron/electron/pull/13285), and not ship OpenSSL at all. Would exporting BoringSSL's symbols be useful?

[2018-06-19 19:20] DeathTickle opened #13303 "Electron 2.0.X requires High Perf GPU on macOS"
* Electron Version: 2.0.0, 2.0.1, 2.0.2
* Operating System (Platform and Version): macOS 10.12.6
* Last known working Electron version: 1.8.7

**Expected Behavior**
I expect Electron to not use the dedicated GPU by default.

**Actual behavior**
On macOS, using a Macbook pro with both integrated and dedicated graphics (Early 2011 model), when starting an Electron app, I can observe the graphics car

[2018-06-19 19:21] Tim91084 commented on #12226
@MCMicS I notice the same thing.  Another issue that goes along with this is that the second request seems to always win, and is always sent with a GET.  So in my case, the initial request is a POST to load a PDF with some parameters.  Since those parameters are sent in the second request, the pdf fails to render.

[2018-06-19 19:56] JasonYeMSFT opened #13304 "Opened message box cannot be navigated using VoiceOver shortkey"
* Electron Version: 2.0.0
* Operating System (Platform and Version): Mac OS
* Last known working Electron version: N/A

**Expected Behavior**
When an electron native message box is opened with a parent browser window, VoiceOver will announce the current element in focus and announce the shortkey to navigate elements in the message box. User should be able to do that.

**Actual behavior**
VoiceOver

[2018-06-19 20:51] johneas10 opened #13307 "Inverting tray text colour on macOS"
* Electron Version: 2.0.2
* Operating System (Platform and Version): macOS 10.13.5
* Last known working Electron version: n/a

**Expected Behavior**
When running an application in macOS that has text in the tray (`tray.setTitle(...)`), and you toggle _use dark menu bar and dock_ in general settings, the text should invert colour.

**Actual behavior**
Text doesn't invert and becomes invisible until

[2018-06-19 20:55] bughit commented on #12898
@MarshallOfSound @felixrieseberg

How can one tell what version of visual studio is needed?

[2018-06-19 21:07] alexeykuzmin opened #13308 "MAS release build fails on linking"
Build from latest master, commit https://github.com/electron/electron/commit/fc12b5cab330fa14456401d40917eb5bd5beb911:

[code]

/cc @jkleinsc

[2018-06-19 21:09] johneas10 commented on #13307
Although I've not tested Mojave yet, I imagine this issue (if it is an issue) will become more common with the new dark mode.

[2018-06-19 21:10] sofianguy commented on #13279
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-06-19 21:13] sofianguy commented on #13288
Hi @149375580 is this still an issue on a newer version of Electron?

[2018-06-19 21:14] alexeykuzmin opened #13309 "Update Mocha to v5"
https://github.com/mochajs/mocha/releases
We use v3 right now.

[2018-06-19 21:36] sofianguy commented on #13212
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2018-06-19 21:36] #13212 closed

[2018-06-19 21:58] CapOM commented on #12973
Mac: `NSWindowSharingNone` https://github.com/electron/electron/blob/master/atom/browser/native_window_mac.mm#L1023

Windows: `SetWindowDisplayAffinity`
https://github.com/electron/electron/blob/master/atom/browser/native_window_views.cc#L852

On Windows it is kind of working but you will actually see a black rectangle on the remote end. Not sure if this is expected or not.

[2018-06-19 23:13] bughit commented on #12835
I'll try to investigate this further, here's the first detail, backtrace from a debug build

[code]

[2018-06-19 23:21] alexeykuzmin opened #13313 "Enable Power Monitor tests"
They crash on Linux ia32 and are disabled right now.

[2018-06-19 23:25] alexeykuzmin opened #13314 "Enable <webview>'s guestinstance attribute tests"
The have been disabled during the Chromium 66 upgrade.
Some of them cause renderer crashes.

[2018-06-19 23:27] alexeykuzmin opened #13315 "Enable Crash Reporter tests on linux"
"crashReporter module" tests have been disabled on linux during the Chromium 66 upgrade.

[2018-06-19 23:33] alexeykuzmin opened #13316 "FATAL:V8ObjectConstructor.cpp(97)] Check failed: get_prototype_value."
Run `BrowserWindow module "webPreferences" option "sandbox" option supports calling preventDefault on new-window events` test to reproduce.
The test itself passes though.

[2018-06-19 23:34] percyhanna commented on #10422
It seems that High Sierra might now support this? https://developer.apple.com/documentation/corespotlight

[2018-06-19 23:38] alexeykuzmin opened #13317 "Enable DCHECK in "base/process/process_metrics_win.cc""
https://github.com/electron/libchromiumcontent/commit/b9a68acb7e1f93193540cdf94f73ad6ba22c7900#diff-06a18c46f25200c5afcadf427f82f24d

Might be related to #13385.

[2018-06-19 23:41] alexeykuzmin opened #13318 "Enable disabled <webview> disableguestresize attribute tests"

[2018-06-19 23:44] alexeykuzmin opened #13319 "Uncomment TRACE_EVENT_METADATA1 call in Node's "src/node_platform.cc""
Branch `electron-node-v10.2.0`. Commented out on https://github.com/electron/node/commit/19d1193b83c65dff31f11fb4f825c1f64987c24f

[2018-06-19 23:45] alexeykuzmin opened #13320 "Fix and enable OSR after the Chromium 66 upgrade"
It's been disabled.

/cc @brenca

[2018-06-19 23:54] alexeykuzmin opened #13321 "Enable focus/visibility/fullscreen-related tests"
Some tests pass locally but do not pass on Mac CI machines.

- BrowserWindow module
  - BrowserWindow.getFocusedWindow()
  - BrowserWindow.alwaysOnTop() resets level on minimize
  - document.visibilityState/hidden
  - fullscreen state
  - kiosk state
  - exits HTML fullscreen when window leaves fullscreen
- webContents module
  - focus()

[2018-06-20 03:04] trusktr commented on #5107
Oddly, this is happening to me for no reason without changing my code base. Literally nothing has changed. 30 min ago, it was working, and now it's not, for no apparent reason (at least, not relating to my code base, and I was never touching the `weebSecurity` option, leaving it at its default).

[2018-06-20 03:07] #12772 closed

[2018-06-20 04:50] MarshallOfSound commented on #13316
This appears to be a new race condition in the destruction of prevented windows in sandboxed renderers, can't figure out exactly what's changed from 63->66 to cause this though

[2018-06-20 07:02] ythvg commented on #839
the same problem, no updates ???

[2018-06-20 07:18] #13309 closed

[2018-06-20 08:09] matteoannibali commented on #2437
Hi,
I need to run my electron processes as System in order to view and manage the Windows UAC messages for my Remote Desktop Application.

I use psexec -s but my processes run **WITH NO USER**

![image](https://user-images.githubusercontent.com/252208/41645385-236c6838-7471-11e8-8c44-e7c93813a4f7.png)

Maybe it's for Electron Architecture?

I try everything..it's possible to run Electron processes

[2018-06-20 08:40] Anuj16 opened #13329 "Node JS upgrade"
Hi All,

There are two vulnerabilities in Node version that electron is using right now (8.9.3). ([here](https://www.cvedetails.com/vulnerability-list/vendor_id-12113/product_id-30764/version_id-232500/Nodejs-Node.js-8.9.3.html)).

Do we have any plan to go to latest version of Node? If yes then any tentative dates for the same?

[2018-06-20 08:50] lcllao opened #13331 "about `sender` in the case of ipcRender.sendTo"
* Electron Version: 2.0.2
* Operating System (Platform and Version): macOS 10.13.5
* Last known working Electron version: none

**Expected Behavior**
A clear and concise description of what you expected to happen.

[code]

[code]

[code]
I expected that webview A would received the `pong`

**Actual behavior**
actually the main process received the `pong`

[2018-06-20 08:57] MarshallOfSound commented on #13331
@lcllao This is just a documentation issue, the `sendTo` method is actually just a helper to bounce messages through the main process to another renderer.

I.e.

[code]

In this case you can see the sender of the message that B receives would be the main process

[2018-06-20 09:00] MarshallOfSound commented on #13329
@Anuj16 Upgrading node is not an incredibly simple task but I'll look at backporting the fixes for those two CVE's.

As far as I can see `CVE-2017-15897` was actually fixed **in** 8.9.3 (so we already have it)

The other one requires a backport of https://github.com/nodejs/node/pull/17526

[2018-06-20 09:01] MarshallOfSound commented on #13329
Update 8.9.3 includes the fix for `CVE-2017-15896` as well

[2018-06-20 09:03] matteoannibali opened #13332 "Run Electron processes with System Privileges to manage UAC messages using remote desktop"
* Electron Version: 2.0.1
* Operating System (Platform and Version): Win 10

Hi,
I need to run my electron processes as System in order to view and manage the Windows UAC messages for my Remote Desktop Application.

I use psexec -s but my processes run **WITH NO USER**

![41645385-236c6838-7471-11e8-8c44-e7c93813a4f7](https://user-images.githubusercontent.com/252208/41648541-7f06a35e-7479-11e8-88c

[2018-06-20 09:04] MarshallOfSound commented on #13329
Closing this out as both CVE's are reported as fixed in 8.9.3 which we currently depend on:

https://github.com/nodejs/node/commit/8a44289089a08b7b19fa3c4651b5f1f5d1edd71b

[2018-06-20 09:04] #13329 closed

[2018-06-20 09:04] MarshallOfSound commented on #13332
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-20 09:04] #13332 closed

[2018-06-20 09:12] Anuj16 commented on #13329
@MarshallOfSound Thanks very much for the quick clarification.

[2018-06-20 09:15] MarshallOfSound commented on #13329
@Anuj16 No problem, also for future reference even though this particular issue is on the line of public knowledge can all future security related things go to security@electronjs.org 👍

[2018-06-20 09:40] lcllao commented on #13331
Yes, it's the main process.
In this case, why can't it be the real message sender?
If it doesn't , I must find some way to get current contentId and send it within the message data like `{data:{xxx},senderId:123}`,then use the senderId to reply the message by sendTo in the webview B.

[2018-06-20 10:18] MarshallOfSound commented on #13331
@lcllao If we made the sender the "real" sender (which wouldn't completely make sense) it would be a proxied version of the "sender" which would use synchronous IPC to work (basically using the `remote` module)

You should just send a `replyId` or something in your abstraction over IPC

[2018-06-20 10:34] singhshashi commented on #7870
@yannbertrand Were you able to find a solution for this?

[2018-06-20 10:49] yannbertrand commented on #7870
Nope 😔

[2018-06-20 11:29] zcbenz commented on #13308
debugging_with_crash_keys.md:

`//components/crash/core/common:crash_key`. If you encounter link errors for
unresolved symbols to `crashpad::Annotation::SetSize(unsigned int)`, adding
the dependency will resolve them.

[2018-06-20 12:20] jiao12111 opened #13335 "asar encryption"
ASAR unpacking is very simple. I want to customize the key. I hope you can give me some suggestions.

[2018-06-20 12:29] MarshallOfSound commented on #13335
This has been discussed before and declined, in order for the app to be able to be able to read its own archive it must contain the "key" required to unencrypt it.  This makes any encryption useless.

You should treat any code you put on the users machine as readable just like front end code for a web app, you can obfuscate as much as you like, people can still read it

[2018-06-20 12:29] MarshallOfSound commented on #13335
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-20 12:29] #13335 closed

[2018-06-20 12:44] kabalage commented on #2170
I too experience this problem. I'm using `electron@2.0.2` in arch linux with compton compositor.
Transparency only works if I call `app.disableHardwareAcceleration()` and delay window creation
with `app.on('ready', () => setTimeout(createWindow, 100))`. If any of these is missing, the background is black and does not get updated, previously rendered frames are visible.

The problem is that animati

[2018-06-20 12:48] mrfelton commented on #13008
Same issue here with 2.0.2 on OSX

[2018-06-20 13:20] DaniGuardiola commented on #2170
I created a bug in Chromium's bug tracker: https://bugs.chromium.org/p/chromium/issues/detail?id=854601

I'd appreciate if you can chime in, star the issue and share your information there so that we can help them solve this.

The more support and information we give, the better. Just remember not to spam with "+1" comments, that's what the stars are for.

Now go!

[2018-06-20 13:21] DaniGuardiola commented on #2170
PD: if someone is able to create a self-contained and minimal example that replicates this bug with the latest version of Electrum (that should contain the latest used version of Chromium), that would be very helpful to the Chromium devs!

[2018-06-20 13:35] RainbowHackerHorse commented on #3797
@fabianfreyer I think this is a fantastic idea, considering the large number of ports we'll see coming into the tree once this is committed.

@yzgyyang is there a holdup on committing, or are you just testing first? If you submitted and are waiting on a committer, I can ping my mentor and see if she can poke at it, or if someone else I know with a commit bit can :)

[2018-06-20 13:59] #13308 closed

[2018-06-20 15:22] Tahawahid commented on #1769
how to solve "*Failed to load resource: net::ERR_FILE_NOT_FOUND*"
whenever I add an image using "CSS" it throws this **error.** Do you guys have any solution for it???

[2018-06-20 16:06] alexeykuzmin opened #13343 "Enable disabled "debugger.sendCommand" tests"
- handles valid unicode characters in message
- does not crash for invalid unicode characters in message

The both started to time out after the Chromium 66 upgrade.

[2018-06-20 16:10] alexeykuzmin opened #13344 "Enable disabled DevTools extensions tests"
They have been disabled after the Chromium 66 upgrade.

- extensions and dev tools extensions
  - BrowserWindow.addDevToolsExtension
    - for a valid extension / *
  - works when used with partitions

This console message is probably related to the failures:

[2018-06-20 16:18] ivandroid opened #13347 "Google oauth in system browser"
Since Google blocks oauth requests made via embedded browsers, I would like to login to a Google account via the system browser and send the received access token to a running electron application. I tried the following:

1. Opened the Google authorization URL in my system browser via `shell.openExternal(<URL>)`.
2. Successfully logged in to a Google account and got an access token provided in the

[2018-06-20 16:36] incomingstick commented on #13043
I would like to add that I am seeing the same issue. We use not attached dev tools as well, however this is also reproducible on an electron-forge binary build of our app as well (which obviously does not open the dev tools), so I do not know if that is a cause.

My app starts at a size of 846x478 and upon dragging only the first time after the app has opened it becomes 840x449. Which happens to b

[2018-06-20 16:43] jahraphael commented on #13043
I wanted to follow up to what @incomingstick with a couple more things:
- We only see this on Windows. OSX is not exhibiting the behavior, and we don't make Linux builds of our app.
- While the source is currently in a private repo, you can download a built version of the app here to see the problem: https://github.com/RaiderIO/raiderio-client-builds/releases/tag/v0.5.4-alpha

[2018-06-20 17:01] pshirshov commented on #9413
Still happens. VsCode and other electron apps are flickering on Mojave.

[2018-06-20 17:04] anker2000 commented on #13140
I'm having this problem too on Mac.

[2018-06-20 17:11] nornagon commented on #13347
Thanks for reaching out!

Because we treat our issues list as [the team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community).

[2018-06-20 17:11] #13347 closed

[2018-06-20 17:44] speedpacer commented on #12971
Setting "transparent: true" seems to work:

[code]

[2018-06-20 17:52] DanTup commented on #13279
I've edited my message to match the template. I didn't make the repro steps too detailed because really you can repro this with any project, so it makes sense to use whatever you already have.

[2018-06-20 18:54] joernroeder commented on #12814
any updates on this?

[2018-06-20 19:33] CapOM commented on #12973
@ajmacd Since you worked on https://github.com/electron/electron/pull/12417 do you think we could use webrtc::DesktopCapturer::SetExcludedWindow(winId) instead of current electron implementation for `setContentProtection ` ?

I see two issues with that, first I think this will still render black window instead of what is drawn behind.

And second issue is that the capturer instances are not the sa

[2018-06-20 20:43] kabalage commented on #2170
@DaniGuardiola I created an example demonstrating the issue (https://github.com/kabalage/electron-transparency-issue) and also posted it in the Chromium bug tracker. Thank you for helping.

[2018-06-20 21:20] alexeykuzmin commented on #13308
@zcbenz Thank you!

[2018-06-21 00:45] zcbenz commented on #12835
As far as I can see there are two crashes involved.

One happened in the renderer process with code `(function(paramNameDoesNotMatter) {paramNameDoesNotMatter.punycode;})(this);`:

[code]

Another happened in the main process when loading jQuery with nodeIntegration turned off:

[code]

[2018-06-21 02:03] lcllao commented on #13331
OK. Thanks.

By the way, is there any way to get the contentId inside the `webview` tag directly?

[2018-06-21 02:03] #13331 closed

[2018-06-21 03:05] JieJiSS opened #13355 "MenuItem click (item, bw, ev) {} throws: ev.preventDefault is not a function"
* Electron Version: v1.8.7
* Operating System (Platform and Version): macOS 10.12.4 Retina
* Last known working Electron version: Well, electron@1.6.18 also fails on my PC.

**Expected Behavior**
According to the `electron.d.ts` definitely typed file released [here](https://github.com/electron/electron/releases/tag/v1.8.7), line 31 to 39:

[code]

and `ev` is an instance of `Electron.Event`, so I

[2018-06-21 03:45] MarshallOfSound commented on #12670
Unfortunately not, that PR is tagged as a non breaking feature which according to our versioning policy can't go into a patch (2.0.x) release

[2018-06-21 03:55] TE-TakamichiHayashi commented on #12670
Thank you for quick response.
We will wait for 3.0.0 release.

[2018-06-21 04:14] JieJiSS commented on #13355
Also, I've tried to use:

[code]

as a temporary patch, but this too didn't work. The menu was popped up as usual.

[2018-06-21 05:15] JieJiSS commented on #13355
I've been trying to debug the Main Process, and I got a stack trace via debugger:

[code]

However, when I inspected on `(4) browser/api/menu.js:34` and `(3) browser/api/menu.js:90`, it became quite confusing: the 90th line of `menu.js` is:

[code]

and the 31th to 35th line of `menu.js` is

[code]

It seems that there's a stack (few stacks) hiding between `(4)` and `(3)`... I guess that might be

[2018-06-21 05:21] JieJiSS commented on #13355
tested on v2.0.2, still occurs.

[2018-06-21 05:24] qazbnm456 opened #13356 "Awkward rendering while navigating inside webview tags"
* Electron Version: v3.0.0-beta.1
* Operating System (Platform and Version): macOS High Sierra 10.13.6 Beta（17G39b）
* Last known working Electron version: v2.0.2

**Expected Behavior**
The website renders successfully.

**Actual behavior**
The rendering of the website seems to be awkward. It seems the website doesn't get rendered successfully, behaving like it's freezing. The website does navigate

[2018-06-21 07:08] JieJiSS opened #13357 "[Bug] 3.0.0-beta1: DevTools - Inspector: select element failed"
* Electron Version: 3.0.0-beta1
* Operating System (Platform and Version): macOS 12.4
* Last known working Electron version: v2.0.2

**Expected Behavior**
1. Open DevTools
2. click on the `select element` button, and it turns blue
3. move the cursor into the app's window, and the box-model of hovering elements will be shown
4. click on an element, and its source code will be displayed in the `Elem

[2018-06-21 07:22] JieJiSS opened #13358 "[Bug] 3.0.0-beta1 CSS3 `-webkit-app-region: drag` not working"
* Electron Version: 3.0.0-beta1
* Operating System (Platform and Version): macOS
* Last known working Electron version: 2.0.2

**Expected Behavior**
[code]
should allow users to move the position of the window by dragging it directly.

**Actual behavior**
The window is not draggable.
The `cursor` and `-webkit-user-select` properties work well.

**To Reproduce**
copy the CSS above, paste it into a

[2018-06-21 07:27] gnattu commented on #13358
I could reproduce this on macOS as well.
I also found that the window seems to be drag-able when it is not focused: drag the top of the window when it is not focused can move it around.

[2018-06-21 10:17] JieJiSS opened #13360 "On right-click, request MenuItem.click(item, browserWindow, event) to be able to get the window's BrowserWindow instance (on macOS)"
**Is your feature request related to a problem? Please describe.**
Currently, I'm using

[code]

It works well when the being-clicked window has been focused, but I noticed that if I set a window to top, and click another window (which means that the Electron app loses focus), and directly right-click on that topped window, and an error occurs: `rightclickWindow` is `null`. Thus the electron app c

[2018-06-21 10:55] torycl commented on #13317
The PR in Electron:
https://github.com/electron/electron/pull/13361

I want to check if it works now. Or to see the real error on CI machine - It works ok on my machine.

[2018-06-21 11:07] torycl opened #13362 "BrowserWindow module unit tests end with crash on Windows"
**Electron Version**
Debug master branch on Git, local build of shared library master branch of libcc
Just after Chromium-66 branch merge

**Operating System (Platform and Version)**
Windows 10.0.17134.112

**Expected Behavior**
When running api-browser-window-spec.js unit tests, the Electron.exe should not crash.

**Actual behavior**
When running api-browser-window-spec.js unit tests, the Electro

[2018-06-21 11:31] JieJiSS commented on #13355
Now I'm using a workaround (only for `MenuItem.prototype.type === "checkbox"`):

[code]

[2018-06-21 11:35] MarshallOfSound commented on #13362
Haven't seen the crash before, but this warning is unrelated 👍

[2018-06-21 11:36] Lemos97 commented on #12876
Just tested with the electron@3.0.0-beta and this problem persists.

[2018-06-21 11:36] MarshallOfSound commented on #13317
@torycl It fails on CI but works on my local machine as well

[2018-06-21 12:38] NearAutomata commented on #12996
This issue occurs with various know Electron based applications such as Slack, Spotify, Streamlabs OBS and Discord. What is weird however, that you can continue to maximize and restore those Windows and they will bug out every other time alternating between expected and wrong behaviour.

[2018-06-21 12:46] timfish commented on #12996
This (and #12971) also occur with Spotify which is not an Electron app.

[2018-06-21 13:11] torycl commented on #13362
Thanks for info.
I can confirm, the same error happens with libcc binaries downloaded in bootstrap.py script (github-janky-artifacts/libchromiumcontent/win/x64/2006b899d1927dd260ea0f170bdf01c2d5eda6a1/libchromiumcontent.tar.bz2)

[2018-06-21 14:55] bughit commented on #12835
@zcbenz thanks for looking into this.  When I first reported it I also noticed that jsbin.com  was crashing.  Now it's not crashing the renderer when loading but crashing the main process when exiting after loading jsbin.com

[code]

[2018-06-21 15:05] alexandrudima opened #13367 "Duplicate rendered characters on next whitespace when using opacity"
* Electron Version: 2.0.2
* Operating System (Platform and Version): macOS 10.13.4
* Last known working Electron version: 1.7.12

This has been noticed when trying to upgrade VS Code to Electron 2.0.2 in https://github.com/Microsoft/vscode/issues/52196

**Expected Behavior**
Characters with opacity in a monospace font should be rendered without duplication (in the next whitespace).

**Actual behav

[2018-06-21 15:11] sheltont commented on #9562
I want to show some special old pages from an IoT device with IE tab. I try electron + IE tab but no luck.
How can I archive the goal if even I accept to write a native module?

[2018-06-21 15:48] pushkin- opened #13368 "Should GPU acceleration be off by default?"
The [offscreen renderering](https://electronjs.org/docs/tutorial/offscreen-rendering) page says:

This mode uses a software output device for rendering in the CPU, so the frame generation is much faster, thus this mode is preferred over the GPU accelerated one.

It seems kind of odd that GPU acceleration is on by default considering that the "Software output device" mode is preferred.

Should it b

[2018-06-21 15:50] davidnorthetal opened #13369 "Is app.setVersion safe to use?"
* Electron version: 2.0.2

I saw there's `app.setVersion()` that I can use during runtime to set the version returned by `app.getVersion()` - however setVersion is not part of the official documentation and I suspected I have no guarantee that it's there and behaves like it does now tomorrow.

Can someone give me feedback if my assumption is correct, or do you think app.setVersion() is here to sta

[2018-06-21 17:33] dcervelli commented on #13057
This appears to be fixed in 3.0.0-beta.1

[2018-06-21 21:07] CliffReimers opened #13373 "Calling setResizable(false) and then setResizable(true) changes maximizible state of window"
* Electron Version: 2.0.2
* Operating System (Platform and Version): Win10 x64 version 1803
* Last known working Electron version: 1.9.0

**Expected Behavior**
Calling win.setResizable(false) and then win.setResizable(true) should return the window to it's original state. Specifically, it should not change the result of win.isMaximizable().

**Actual behavior**
Calling win.setResizable(false) and

[2018-06-21 22:13] PalmerAL opened #13374 "Webview navigation is broken in 3.0"
* Electron Version: 3.0.0-beta.1
* Operating System (Platform and Version): macOS 10.13
* Last known working Electron version: 2.0

**Expected Behavior**

* Clicking a link in a webview should navigate to that page.

**Actual behavior**

* When I click a link inside a webview, the webview freezes completely. However, the webview devtools appear to work correctly, so it appears that the page is act

[2018-06-21 22:16] chrtz commented on #3012
This isn't really a solution, as it shows (in the case of macOS) just the unix version.
f.g. 16.7.0 for macOS 10.12.6

[2018-06-21 23:26] levinunnink opened #13375 "[3.0.0-beta.1] SSL content all fails to load in windows with error "net::ERR_SSL_PROTOCOL_ERROR""
* Electron Version: 3.0.0-beta.1
* Operating System (Platform and Version): Windows 10 Enterprise Edition
* Last known working Electron version: 2.0.2

**Expected Behavior**
I should be able to load `https` content in the BrowserWindow.

**Actual behavior**
All https requests fail regardless of host. The error in the inspector is `net::ERR_SSL_PROTOCOL_ERROR`.

**To Reproduce**
Clone the electron

[2018-06-22 00:01] JieJiSS commented on #13360
While reading through the source codes, I noticed that there are similar APIs such as

https://github.com/electron/electron/blob/475a1e30d9142f0506707eb92483e8a236a9f919/lib/browser/api/browser-window.js#L134
and

https://github.com/electron/electron/blob/475a1e30d9142f0506707eb92483e8a236a9f919/lib/browser/api/browser-window.js#L135
but in my case, `getFocusedWindow()` returns null, and `getAllWi

[2018-06-22 00:32] natew opened #13378 "[3.0.0-beta.1] White background appears when .hide() and .show() called again"
* Electron Version: 3.0.0-beta.1
* Operating System (Platform and Version): OS X High Sierra
* Last known working Electron version: 2.0.3

**Expected Behavior**

Using a transparent window, then calling .hide() and .show(). It should stay transparent.

**Actual behavior**

In 3.0.0-beta.1, it seems to turn the background white. If I trigger the DOM to change afterwards, the white background goes a

[2018-06-22 01:30] levinunnink commented on #13375
*Update:* Same error on a fresh install of Windows 7. https://d.pr/i/tfNsop Is anyone able to get 3.0.0-beta.1 to load SSL on windows?

[2018-06-22 01:39] IAmPicard commented on #13375
I'm getting the same errors with 3.0.0-beta.1, it fails to load any https resource; well, back to 2.0.3 for me 😄

[2018-06-22 01:51] JieJiSS commented on #13289
I'm on macOS 10.12.4 and I have a similar issue.
Reproduced in
+ electron `v1.6.x`
+ electron `v1.8.x`
+ electron `v2.0.x`
+ electron `v3.0.0-beta1`

[code]

According to the `electron.d.ts` file, the `event` is an instance of `Electron.Event` and should be structured like

[code]

[2018-06-22 02:04] JieJiSS commented on #13120
MacOS 10.12.4, happens too.

can be reproduced in 3 of my Electron Apps (including 1.4.3, 1.6.x and 1.8.x).

[2018-06-22 03:34] mailtokartik1 commented on #13137
Hi I have been facing the same problem in my browser application made via Electron. I checked the behaviour by clicking the reload button many times and I receive the same error.
<img width="792" alt="screen shot 2018-06-21 at 3 43 04 pm" src="https://user-images.githubusercontent.com/29715398/41756618-6729f506-7618-11e8-93f4-ab444b763526.png">
I think the error occurs due to setTimeout function.

[2018-06-22 04:37] vbkaisetsu commented on #13374
Duplicated with #13356

[2018-06-22 06:43] mailtokartik1 commented on #13137
Can somebody kindly update me on this issue?

[2018-06-22 07:59] jarry commented on #749
I have met same issues with @radarhere . I got the FileList that's length 1 in Electron when using <input directory>. In Chrome, I can get all files.

[2018-06-22 08:11] metehanm4 opened #13380 "Webrtc Create answer error"
* Electron Version: v3.0.0-beta.1
* Operating System (Platform and Version): Ubuntu 17.10
* Last known working Electron version: 2.0.3

**Expected Behavior**
Trying to make webrtrc video call.

**Actual behavior**
Getting the error at below while createAnswer proccess.
ERROR : "Failed to set remote offer sdp: Failed to set remote video description send parameters."
My offer Sdp : https://gist.gith

[2018-06-22 08:41] edunad commented on #1335
Try using an older version of electron, i'm currently using ```1.8.7```

[2018-06-22 09:27] inukshuk opened #13381 "[Linux] Menubar background color is always white"
* Electron Version: 2.x, 3.x
* Operating System (Platform and Version): Linux
* Last known working Electron version:  1.8

**Expected Behavior**
I would expect the menubar's background color to use a background based on the GTK theme. Up to Electron 2.0 this used to work (albeit only for the light theme variant), see for example the screenshot below:

![screenshot from 2018-06-22 11-20-21](https:/

[2018-06-22 10:14] ahmedmohamedali opened #13382 "Lighthouse Audit not working in electron 2"
* Electron Version:  v2.0.3
* Operating System (Platform and Version): Windows 7 professional

**Expected Behavior**
Lighthouse Audit tool should perform the analysis of the page and displays the result as it does in chrome

**Actual behavior**
The "Run Audit" action does nothing

**To Reproduce**
Navigate to any http/https page in electron and open the chrome dev tools. Then activate the "Audit"

[2018-06-22 10:29] alexeykuzmin opened #13383 "`ProcessMetrics::GetMemoryBytes` have been removed in Chromium 67"
https://chromium-review.googlesource.com/969089

Electron uses it for [`process.getProcessMemoryInfo()`](https://electronjs.org/docs/api/process#processgetprocessmemoryinfo):

https://github.com/electron/electron/blob/57d365a9f445774edf83d3d26250cd0eea39b12e/atom/common/api/atom_bindings.cc#L170

and [`app.getAppMetrics()`](https://electronjs.org/docs/api/app#appgetappmetrics) API:

https://github

[2018-06-22 10:30] alexeykuzmin commented on #13383
@codebytere
One of the options is to remove `privateBytes` and `sharedBytes` fields populated by those calls after we upgrade to Chromium 67.
But it would require us to deprecated them first.

[2018-06-22 10:37] NearAutomata commented on #12996
@timfish Spotify is based on Chrome or CEF, isn't that right?

[2018-06-22 10:54] alkorgun opened #13384 "Electron 2.0 crashes on drag and drop"
* Electron Version: 2.0.2
* Operating System (Platform and Version): Ubuntu 18.04
* Last known working Electron version: 1.8.7

**Expected Behavior**
Drag and drop should not cause a crash.

**Actual behavior**
Electron crashes on drag and drop.

**To Reproduce**
Use [my repo](https://github.com/alkorgun/electron-2.0.2_dnd_crash_issue) and try to drag the image embedded in the app page.

[code]
**

[2018-06-22 11:10] timfish commented on #12996
As far as I know yes

[2018-06-22 11:43] alexeykuzmin opened #13385 "Enable disabled "app module getAppMetrics() API" test"
It has been disabled after the Chromium 66 upgrade.
The test fails on Windows with `"private bytes is not > 0"` error message (`privateBytes` is `undefined`).

The method returns info in [MemoryInfo structure](https://electronjs.org/docs/api/structures/memory-info) format.
The API uses [`ProcessMetrics::GetMemoryBytes`](https://chromium.googlesource.com/chromium/src/+/66.0.3359.181/base/process/pr

[2018-06-22 13:34] alexeykuzmin commented on #13385
@torycl
That `MemoryInfo` object claims to always have `privateBytes` and `sharedBytes` properties, so we shouldn't create them only when we actually got data from the `GetMemoryBytes()` call.
Let's just set their values to `0` if `GetMemoryBytes()` doesn't return the data we need.
And the docs should be updated to reflect that.

[2018-06-22 14:04] PragmaticEd commented on #13224
@sofianguy can you covert this to feature request?

[2018-06-22 14:34] #13317 closed

[2018-06-22 15:07] ncortines opened #13386 ""did-finish-load"/"ready-to-show" not emitted by webview which contains an iframe"
* Electron Version: 2.0.0
* Operating System (Platform and Version): macos 10.13.5, Windows 10
* Last known working Electron version: I'm not sure if it's ever worked

**Expected Behavior**
"did-finish-load"/"ready-to-show" should be emitted by webview

**Actual behavior**
"did-finish-load"/"ready-to-show" are not emitted by webview

**To Reproduce**
I have a webview which is rendered inside a bro

[2018-06-22 15:19] danielbeck commented on #13374
Was about to file this as a separate issue but it's probably a duplicate:  the same occurs if the `<webview>` src attribute is modified programmatically. The new page does appear to render -- you even can query the getClientBoundingRect of DOM elements in the new page and get correct results -- but it's not being displayed to the user.

[2018-06-22 15:55] MarshallOfSound opened #13387 "Add API's to support dark mode in Mojave"
macOS Mojave adds a whole bunch of API's and utilities around a OS level concept of "dark mode", we should add API's to Electron that allow users to determine the current OS level "dark mode" setting and to configure the dark mode setting for the individual application.

#### Proposed APIs

[code]

API Docs:

* [Effective Appearance](https://developer.apple.com/documentation/appkit/nsapplication/2

[2018-06-22 17:17] MarshallOfSound opened #13388 "fs.statSyncNoException throws exceptions in 3.0.0-beta.1"
* Electron Version: 3.0.0-beta.1
* Operating System (Platform and Version): All
* Last known working Electron version: 2.x

**Expected Behavior**
`fs.statSyncNoException` to not throw errors

**Actual behavior**
`fs.statSyncNoException` throws errors, example below:

[code]

**To Reproduce**
[code]

**Additional Information**
Originates from: https://github.com/electron/node/commit/71f8f8aa22d1af4

[2018-06-22 18:23] kerbymart commented on #11760
@thinkanyforever where can we find the `electron-xp` the Github link does not contain anything?

[2018-06-22 18:35] dougludlow opened #13389 "Add drag and drop events for Tray on windows"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Currently, all drag and drop events on the Tray are only available on macOS ([tray.md#event-drop-macos](https://github.com/electron/electron/blob/f068ed9ee744c18e90cb30b02365ce2278083bee/docs/api/tray.md#event-drop-macos) for example). This is a feature request to make them available for th

[2018-06-22 19:35] DaniGuardiola commented on #2170
The issue has been reproduced by the Chromium team! https://bugs.chromium.org/p/chromium/issues/detail?id=854601#c7

I suggest everyone interested in an official fix by the Chromium team to go and start the project, and offer any relevant information you have. That will give the bug more visibility!

[2018-06-22 20:04] setpixel commented on #13358
This should probably also be marked as a regression

[2018-06-22 21:01] KEVINdEsBuRgErS commented on #11858
Electron v3 is coming and no news for this issue :(

[2018-06-22 23:13] TomSputz opened #13391 "Maximized Frameless electron windows regularly offset from proper location"
* Electron Version: 2.0.3
* Operating System (Platform and Version): Windows_NT x64 10.0.17134
* Last known working Electron version: None

**Expected Behavior**
When a window is maximized, the edges of the window should be in the same position as the edges of the screen it is maximized in

**Actual behavior**
Every other time a window is maximized, the window if offset downwards by 17 pixels for

[2018-06-22 23:15] haroldiedema opened #13392 "[v3.0.0-beta.1] command line switches not sent to window."
* Electron Version: v3.0.0-beta.1
* Operating System (Platform and Version): Windows 10 x64
* Last known working Electron version:  v2.0.3

**Expected Behavior**
`app.commandLine.appendSwitch('enable-experimental-canvas-features');` should allow me to use `canvas.transferControlToOffscreen()`

**Actual behavior**
I'm getting an error stating that `transferControlToOffscreen` is not a function. Thi

[2018-06-22 23:17] 04fsnape opened #13393 "Background randomly flickering"
* Electron Version: 2.0.0
* Operating System (Platform and Version): Windows 10
* Last known working Electron version: 2.0.0

**Expected Behavior**
Background colour to be consistent.

**Actual behavior**
It seems as though my app is divided vertically into thirds, and each third will randomly start pulsing a slightly different brightness to that of my app's background colour. This is usually trig

[2018-06-23 01:15] btzr-io commented on #13393
Same here, noticed after updating electron to version `2.0.3` :disappointed:

[2018-06-23 01:17] btzr-io commented on #13393
@04fsnape Workaround, use `rgb` instead of `hex` and set opacity to `0.99`

[code]

[2018-06-23 01:51] btzr-io commented on #13393
https://github.com/atom/atom/issues/12634

[2018-06-23 03:23] nehbit opened #13395 "[v3.0.0-beta.1] Dev tools opens not focused on the appropriate part of HTML, just on <body>"
* Electron Version: [v3.0.0-beta.1]
* Operating System (Platform and Version): OS X 10.12
* Last known working Electron version: 2.0.3

**Expected Behavior**
Right click / inspect on a DOM element should open the inspector's "elements" tab with the appropriate DOM node highlighted. For example, for a DOM that is:

[code]

Selecting "Example" and right clicking to select "inspect" on it should open

[2018-06-23 04:51] wgrhstf opened #13396 "using asar files and non asar files in the same app"
My electron app gets distributed to a not very technical but nosey audience, so making an asar is mandatory. On the other side sometimes there need to be changes to layout or design (changing images, hiding buttons, altering colours) quite fast and on the fly. So at the moment I need to extract the asar, make the changes an recompile the app every time something changes.

Is there I possibility to

[2018-06-23 07:01] #13388 closed

[2018-06-23 09:02] 04fsnape commented on #13393
@btzr-io I replaced every single background-color with rgba(x, y, z, 0.99) and the problem still persists. I also tried adding these to my main.js:

[code]

and yet that did not work...

[2018-06-23 09:10] zhoou commented on #10572
I use version 2.0.2, it work like this :
[code]

[2018-06-23 09:45] akashnimare commented on #11544
@sofianguy have a look https://github.com/signalapp/Signal-Desktop/issues/2178#issuecomment-384911415.

[2018-06-23 10:51] 04fsnape commented on #13393
I don't seem to experience this problem on my laptop...

[2018-06-23 11:05] fish520 commented on #12163
That's wired, I've met the same problem, If I used the ESM in electron, I've to use the custom protocol, but node module can't be resolved, or if I use the file protocol, I can't use the ESM, oops ...

[2018-06-23 11:07] ivandroid opened #13398 "electron.inAppPurchase.getProducts doesn't work"
* Electron Version: 2.0.3
* Operating System (Platform and Version): Mac OS X High Sierra 10.13.5
* Last known working Electron version: -

**Expected Behavior**
Invoking the method `electron.inAppPurchage.getProducts() ` should work.

**Actual behavior**
Invoking the method `electron.inAppPurchage.getProducts() ` doesn't work. The method is undefined.

**To Reproduce**
Invoke the above mentioned

[2018-06-23 11:28] fish520 commented on #12163
@zcbenz I don't understand much how 'generating strings dynamically' interfere with node modules, just like what node adopted, the '.mjs' extension can be used to specifically indicates a node module, it's the user's decide, and if the `process.mainModule.filename` being the path of host html document, things will be easier.

[2018-06-23 12:45] jetiny commented on #10226
the windows xp version https://github.com/jetiny/electron-xp

[2018-06-23 12:45] jetiny commented on #11760
the windows xp version https://github.com/jetiny/electron-xp

[2018-06-23 12:47] jetiny commented on #5676
the windows xp version https://github.com/jetiny/electron-xp

[2018-06-23 12:47] jetiny commented on #3370
the windows xp version https://github.com/jetiny/electron-xp

[2018-06-23 12:47] jetiny commented on #1775
the windows xp version https://github.com/jetiny/electron-xp

[2018-06-23 13:11] CreatorVilius opened #13399 "Google Font Api is broken in Electron Beta V3.0.0"
* Electron Version: <sup>3.0.0 BETA</sup>
* Operating System (Platform and Version): <sub> Windows </sub>
* Last known working Electron version: 2.0.0

**Expected Behavior**
Website font should render, example: Google Font Api's Font Should Render like in Non-beta Electron

**Actual behavior**
Google fonts don't work in css using `@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mon

[2018-06-23 13:22] erusev opened #13400 "customButtonsOnHover to have inset option"
* Electron Version: 3.0.0-beta.1
* Operating System (Platform and Version): MacOS
* Last known working Electron version: none

Setting `titleBarStyle: 'customButtonsOnHover'` causes app to have straight corners (instead of rounded)

![image](https://user-images.githubusercontent.com/184170/41810041-5137dcde-7700-11e8-957c-853172c88b3d.png)

**Expected Behavior**
App to have rounded corners like an

[2018-06-23 13:34] erusev commented on #13400
This seems to be a duplicate, apologies.

[2018-06-23 13:34] #13400 closed

[2018-06-23 14:52] vbkaisetsu commented on #13384
Duplicated with #12820

[2018-06-23 14:53] maicss opened #13401 "looks like run into infinite loop"
* Electron Version: `2.0.3`
* Operating System (Platform and Version): `Mac OS 10.13.5`
* Last known working Electron version: `none`

**Expected Behavior**
Print `file` or `dir` or ` invalid path error `
**Actual behavior**
Nothing happened, the CPU usage going up high
**To Reproduce**

[code]

**Additional Information**
I followed [this guide](https://medium.freecodecamp.org/building-an-electron

[2018-06-23 17:28] alexeykuzmin opened #13402 "Electron ignores NODE_OPTIONS"
Related to #12695.

[2018-06-23 17:29] alexeykuzmin commented on #12695
`NODE_OPTIONS` are ignored starting version 2.0.3.
Electron shouldn't crash because of it anymore. Closed.

[2018-06-23 17:29] #12695 closed

[2018-06-23 17:32] alexeykuzmin commented on #12594
@deepak1556 Any news about that crash? I guess I've seen it a couple of times in the master.

[2018-06-23 18:03] deepak1556 commented on #12594
Yup, have seen them. Couldn't get a reliable repro, I will look into this after a few code cleanups on master. If there is a reliable repro it would help, thanks!

[2018-06-24 01:30] btzr-io commented on #13393
@04fsnape Weird it works for me, try https://github.com/atom/atom/issues/12634#issuecomment-248899027 or https://github.com/atom/atom/issues/12634#issuecomment-248899027

Anyway looks like the bug was fixed, is this a regression or something? :confused:

[2018-06-24 02:11] renatop7 opened #13404 "v2.0.3 Electron doesn't run: dyld: Symbol not found: _CIDetectorTypeText"
* Electron Version: 2.0.3
* Operating System (Platform and Version): macOS 10.10.5 (Yosemite)
* Last known working Electron version: 2.0.0

**Expected Behavior**
Electron App should start after running the command: npm run start

**Actual behavior**
App doesn't start and the following message appears on console:

[code]

**To Reproduce**
https://github.com/renatop7/electron-quick-start

[code]

[2018-06-24 10:02] 04fsnape commented on #13393
@btzr-io You linked the same comment twice and as I already said I tried adding `app.commandLine.appendSwitch('--disable-gpu')` but it did not work...

[2018-06-24 10:15] burningTyger opened #13405 "Webview 304s on local pages"
* Electron Version: 3.0.0 beta1
* Operating System (Platform and Version): Arch Linux and Windows 7
* Last known working Electron version: latest 2

**Expected Behavior**
Local page renders just fine and loads CSS, images etc

**Actual behavior**
The local html file is loaded and rendered but all css and image files get a 304.

**To Reproduce**
I'm referring to a local html page that uses the webp

[2018-06-24 10:48] 04fsnape opened #13406 "Updating input values before it opens"
* Electron Version: 2.0.0
* Operating System (Platform and Version): Windows 10
* Last known working Electron version:

**Expected Behavior**
I would like to open the electron window and have the inputs in my form set to the values that have been saved in settings.json.

**Actual behavior**
The electron window opens with the inputs empty and then after a small amount of time the inputs from settin

[2018-06-24 11:34] MarshallOfSound commented on #13406
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-06-24 11:34] #13406 closed

[2018-06-24 11:34] MarshallOfSound commented on #13406
Open your window with `show: false`, set your values, then call `mainWindow.show()`

[2018-06-24 11:56] 04fsnape commented on #13406
@MarshallOfSound I am already doing `show: false`

[2018-06-24 11:56] 04fsnape commented on #13406
That's why it's an issue

[2018-06-24 16:14] TheOnlyArtz opened #13407 "Can't write files"
I can't write a file to a path on the PC like `C:\users\win10\Desktop`
Error:
[code]
code:
[code]

[2018-06-24 16:16] MarshallOfSound commented on #13407
You are trying to write a file to a path that is already a directory.  Either remove the directory or name the file something else.

(That is what EISDIR means.  Error IS DIRectory)

[2018-06-24 16:16] #13407 closed

[2018-06-24 22:19] MaxGraey commented on #12042
I should mentioned this problem resolved in v3.0.0-beta.1 with Chromium 66 for MacOS.

[2018-06-25 00:27] ajmacd opened #13408 "Dev tools extension tabs don't appear in 3.0.0-beta.1"
* Electron Version: 3.0.0-beta.1
* Operating System (Platform and Version): macOS 10.13.5
* Last known working Electron version: 2.0.3

**Expected Behavior**
Dev tools extension tabs should appear after being added with the `BrowserWindow.addDevToolsExtension` API. I specifically tested the React and Redux extensions. I can tell the React extension is getting installed but not being shown because

[2018-06-25 01:02] ajmacd commented on #12973
We have the same problem in Slack screen sharing. @CapOM the API you reference does exactly what we want and in fact is used by Chrome to exclude the warning window that @Ajeey is trying to emulate in Electron.

The second issue you raise is the problem. The `DesktopCapturer` instance we employ in Electron is not the one handling the capturing in Chrome. The only way to do this would be to expose

[2018-06-25 05:31] JeganMSD commented on #12908
Methods found in 3.0.0@beta version of electron but the developed apps will run only on MacOs greater than 10.10. @thomasdao @sferoze

[2018-06-25 05:51] li-thy-um commented on #12864
+1

[2018-06-25 06:30] JieJiSS commented on #13357
ref #13395

[2018-06-25 07:04] Eyesiah commented on #13088
After updating our game with 2.0.2, we had a few users report this issue (including on Windows). We didn't have it internally though.

Adding the following to our electron js appears to have fixed the issue for these users:
`app.commandLine.appendSwitch("enable-color-correct-rendering", "false")
app.commandLine.appendSwitch("enable-draw-occlusion", "true")
app.commandLine.appendSwitch("force-color

[2018-06-25 07:10] GrantGryczan commented on #13391
Additionally, if you have a second monitor (at least to the left; haven't tested to the right), the window size will be extended onto it by exactly 1 pixel while maximized.

[2018-06-25 07:28] StinsonZhao commented on #12130
Same problem.

Both Parallels Desktop win10 and physical machine win10 have this problem.

[2018-06-25 07:31] Kilian commented on #12726
I just encountered this, and I believe this also happens when calling setVibrancy more than once (I have yet to make a reduced test case, but it happens in this branch: https://github.com/Kilian/fromscratch/tree/installers on the second toggle of the theme, where I also switch the vibrancy from light to dark or the other way around.)

[2018-06-25 07:45] pronebird commented on #13401
Do you have node integration disabled in renderer or what’s the reason behind using  `electron.remote.require` instead of normal `require`?

[2018-06-25 07:51] emmkimme opened #13409 "3-0-x build failed with "'v8.lib' was created with an older compiler" error"
* Electron Version: 3.0.x (957f008726f3f2ac6e1bb5f67efad50124701772 - 23/06)
* Operating System (Platform and Version): Windows 10 x64 (buid 10240)
* Microsoft Visual Studio Professional 2017 - Version 15.7.3
* node v8.9.3
* npm 3.10.10
* Python 2.7.15

I followed the procedure step by step and my compilation stops with :

`[938/1232] LINK_EMBED(DLL) node.dll
FAILED: C:\Python27\python.exe gyp-win

[2018-06-25 07:54] pronebird commented on #13368
How’s is CPU rendering can be faster than GPU?

[2018-06-25 08:18] devank opened #13410 "MAS Build rejected: App uses non-public APIs"
* Electron Version: 3.0.0-beta.1
* Operating System (Platform and Version): macOS High Sierra 10.13.5

**Actual behavior**
Correctly packaged and signed app got rejected on the Mac AppStore. The current version 3.0.0-beta.1 didn't pass the review with the following message:

Your app uses or references the following non-public API(s):

'/System/Library/Frameworks/IOBluetooth.framework/Versions/A/I

[2018-06-25 10:38] goldylucks opened #13411 "Stop crash reporter after `crashReporter.start`"
**Is your feature request related to a problem? Please describe.**
We want to enable users to opt out of crash reporting, but there's no `crashReporter.stop` method.

**Describe the solution you'd like**
Being able to call `crashReporter.stop()` on both main and rnederer prcoesses

**Describe alternatives you've considered**
1. Looked into calling [`setUploadToServer`](https://github.com/electron/

[2018-06-25 10:47] magrotek opened #13412 "Announcements for input fields are missing"
* Electron Version: 2.0.0.
* Operating System (Platform and Version): Mac OS X 10.13.3
* Last known working Electron version: as far as I know never

**Expected Behavior**
Input fields should be accessible. There should be proper announcements when user insert / delete text inside input filed.

**Actual behavior**
There are no announcements at all. Settings in Voice Over Utility are ignored.

**To

[2018-06-25 11:03] zcbenz commented on #12835
Regarding the first crash, the simplest way to reproduce is to load a page like this:

[code]

The `stream` can be replaced with `os`, `string_decoder` or some other builtin Node modules' names.

The crash happened because blink/v8 thought the string was an external string, and tried to convert it to `blink::StringResourceBase`, while the string was not. As I have checked, the string was never ext

[2018-06-25 11:21] JB1905 opened #13413 "Vibrancy not working on Electron v3.0.0 beta 1"
* Electron Version: 3.0.0-beta.1
* Operating System (Platform and Version): macOS Mojave 10.14 beta 2
* Last known working Electron version: 2.0.3

**Expected Behavior**
Vibrancy effect for window

**Actual behavior**
No Vibrancy effect

**To Reproduce**
Start Electron 3.0.0 beta 1 app with Vibrancy effect on macOS

[Code here](https://github.com/JB1905/electron-quick-start)

**Screenshots**
v2.0.

[2018-06-25 11:41] MarshallOfSound commented on #13410
cc @zcbenz who fixed this stuff last time 🤔

[2018-06-25 12:00] VladimirMerk commented on #3075
The problem still exists in the electron 2.0.3 on ubuntu 16

[2018-06-25 12:31] MarshallOfSound commented on #13401
@maicss It looks like you are using webpack through Create React App, if webpack is not configured properly for electron things like `fs`, `path`, `util` and `electron` will not function correctly.  If you `require` them you will simply get empty objects, or browser mocks of the real APIs.

I'd recommend trying to reproduce the problem without webpack (and you will most likely find everything work

[2018-06-25 12:32] alexeykuzmin opened #13414 "`privateBytes` and `sharedBytes` are sometimes missing in a `app.getAppMetrics()` result"
* Electron Version: 1.8.x, 2.0.x, 3.0.x
* Operating System (Platform and Version): All
* Last known working Electron version: ?

**Expected Behavior**
[app.getAppMetrics()](https://electronjs.org/docs/api/app#appgetappmetrics) returns an array of [ProcessMetric Object](https://electronjs.org/docs/api/structures/process-metric)s with
a `memory` field having a [MemoryInfo Object](https://electronjs.

[2018-06-25 12:34] alexeykuzmin commented on #13414
Possible solution:
if a `GetMemoryBytes` call failed use `0` as a default / obviously incorrect value fro both fields.

[2018-06-25 12:35] MarshallOfSound commented on #13414
@alexeykuzmin Could we document those properties as optional and let users make their own assumptions about what to do if no value is provided?

[2018-06-25 12:36] MarshallOfSound commented on #13409
@emmkimme Can you clean, bootstrap and build from scratch 👍

[2018-06-25 12:38] alexeykuzmin commented on #13414
@MarshallOfSound It's an option, of course.

But since we already have a field in the same structure that _sometimes_ is equal to `0`, I thought that we should follow that pattern for the other fields.

[2018-06-25 12:40] alexeykuzmin commented on #13414
True JavaScript Way (TM) would be to always have all fields in a structure and set to `null` values that are not available. `null` is perfect way to indicate an absence of a value.

[2018-06-25 12:43] MarshallOfSound commented on #13414
Fair call, consistency first 👍

[2018-06-25 12:44] maicss commented on #13401
but with `electron.remote.require` i got `fs` as expect. and `no webpack` means use electron without any other package ?

[2018-06-25 13:04] sebakerckhof opened #13415 "[v3.0.0-beta.1] gpu acceleration stopped working"
* Electron Version: 3.0.0-beta.1
* Operating System (Platform and Version): Debian 9.1
* Last known working Electron version: 2.0.3

I'm trying the most basic thing: opening a browser window (e.g. just running https://github.com/electron/electron-quick-start )

**Expected Behavior**
I get to see the page

**Actual behavior**
Window seems to freeze immediately (never get to see the content). The wi

[2018-06-25 13:35] daviwil commented on #13404
We have lots of Atom users hitting this issue, seemingly on macOS 10.10.x and below:

https://github.com/atom/atom/issues/17565

[2018-06-25 13:44] MarshallOfSound commented on #13404
@daviwil @renatop7 Can we narrow this down a bit more, I.e. which Electron 2.0.x releases do / don't work.

The range 2.0.0 - 2.0.3 is quite large, if someone can just test 2.0.1 and 2.0.2 it should make tracking down the change that caused this easier

[2018-06-25 13:55] davidnorthetal commented on #9029
How would first steps for this look like?

[2018-06-25 14:02] daviwil commented on #13404
@renatop7, could you give 2.0.1 and 2.0.2 a shot?  I'm running High Sierra (10.13) on my MacBook so I don't think I'll be able to reproduce it.

[2018-06-25 14:20] daviwil commented on #13404
Also asked Atom users to try reproducing with earlier betas of Atom 1.28 to find the Electron version that caused it: https://github.com/atom/atom/issues/17565#issuecomment-399968632

[2018-06-25 14:35] renatop7 commented on #13404
@daviwil @MarshallOfSound
I just tested and v2.0.2 and v2.0.1 works

[2018-06-25 14:46] MarshallOfSound commented on #13404
Changeset: https://github.com/electron/electron/compare/311f7ac6bb0f25e6beb1279564ea452fa538f4a5...4aedc2c21a17a178d5bbf4d8391b8216f56cfc15

Current theory is: https://github.com/electron/libchromiumcontent/compare/663e747b6cff96c117f408ea99114dab2d66e93c...85a8281f0546d9de58aa1b50386451061827fccd

Without a machine to replicate this on though it's gonna be pretty hard to track it down.  A git bis

[2018-06-25 14:52] teh-f00l commented on #12443
Is anyone still working on this issue? If not may I take over?

[2018-06-25 14:59] MateEke opened #13416 "Electron + PDFJS + Angular 6 - DataCloneError: Failed to execute 'postMessage' on 'Worker'"
* Electron Version: 2.0.3
* Operating System (Platform and Version): Windows 10
* Last known working Electron version: ?

**Expected Behavior**
PDF gets displayed

**Actual behavior**
[code]

**To Reproduce**
Create electron app with PDFJS and Angular 6

**Additional Information**
In google Chrome everything works fine.

VadimDez/ng2-pdf-viewer#326
mozilla/pdf.js#9840
angular/angular-cli#11368

[2018-06-25 16:08] MarshallOfSound opened #13417 "setLoginItemSettings does not work in macOS Mojave"
* Electron Version: All
* Operating System (Platform and Version): macOS Mojave
* Last known working Electron version: N/A

[code]

This does not work in Mojave

[2018-06-25 16:10] MarshallOfSound opened #13418 "Possible race condition in window closing on windows causing crash"
* Electron Version: 2.0.2
* Operating System (Platform and Version): Windows
* Last known working Electron version: 1.8.6

**Expected Behavior**
Should not crash

**Actual behavior**
Closing windows in a certain way causes a native crash

**To Reproduce**
Steps coming when I figure it out 👍

<details>

[code]
</details>

[2018-06-25 16:34] bpasero commented on #10657
And we know the reason: https://github.com/Microsoft/vscode/issues/35361#issuecomment-399794085

[2018-06-25 16:43] Tahawahid opened #13419 "Failed to load resource: net::ERR_FILE_NOT_FOUND"
when I tried to add an image or any file from external CSS file using **url() method** file it gives me this error "Failed to load resource: net::ERR_FILE_NOT_FOUND", it gives me the **URL:file:///C:/Users/M.M/OneDrive/Documents/MyProtfolio/imagestaha.jpg**
instead of **"file:///C:/Users/M.M/OneDrive/Documents/MyProtfolio/images/taha.jpg"** which is the actual path, so please can anyone help me to

[2018-06-25 16:49] MarshallOfSound commented on #13419
It looks like you didn't fill out our [Issue Template](https://raw.githubusercontent.com/electron/electron/master/.github/ISSUE_TEMPLATE.md), please ensure you provide all information requested in the issue template so that we can try to help you out.

In the future issues you create without the template will be closed, you can find the issue template [here](https://raw.githubusercontent.com/elect

[2018-06-25 17:05] sofianguy commented on #12864
Possible reason for the cause of this [Atom crash](https://github.com/atom/atom/issues/17557)

[2018-06-25 17:10] Tahawahid commented on #13419
what is meant by electron version?

[2018-06-25 17:28] mazeeblanke commented on #13038
I there a solution for this ?

[2018-06-25 17:42] pronebird commented on #13368
@pushkin- alright, well I think if you run some animations you'll see the entirely opposite effect.

[2018-06-25 17:46] saran481 opened #13422 "render method is not calling when the props are updated through redux store in electron app"
* Electron Version: 2.0.1
* Operating System (Platform and Version): mac
* Last known working Electron version:

**Expected Behavior**
i am using react redux with electron .i have button when i click on it ... it looks for asset id if it is null it will add asset to playlist or else remove asset from playlist
**Actual behavior**
when i click on the button nothing happening .... i am passing the pr

[2018-06-25 17:53] saran481 opened #13424 "Error : Cannot find module './src/background/reducers/index'"
* Electron Version:2.0.1
* Operating System (Platform and Version):
* Last known working Electron version:

iam trying to pass the function/variable from external js files to main.js
main.js

[code]

 i need to use reducers method in main.js which is in index.js ....for reducer i am using absolute path but it is showing module not found. Can someone help me out with this

[2018-06-25 17:55] pushkin- commented on #13368
@pronebird  Yeah, quite possibly. My app doesn't use many animations and doesn't benefit much from the GPU acceleration. I was wondering why the Electron team says that the CPU mode is faster, but then disables it by default. Seems like GPU acceleration should be opt-in.

[2018-06-25 18:17] levinunnink opened #13426 "[3.0.0-beta.1] desktopCapturer API is broken on Windows 7"
* Electron Version: 3.0.0-beta.1
* Operating System (Platform and Version): Windows 7 SP1
* Last known working Electron version: 2.0.3

**Expected Behavior**
Desktop Capturer should work as expected on Windows 7.

**Actual behavior**
Desktop Capturer crashes Electron with the following debug output

[code]

**To Reproduce**

Clone this repo on Windows 7 and run it. It will instantly crash and prin

[2018-06-25 18:21] gnattu commented on #13413
Workaround: By setting `transparent: true`, the vibrant effect comes back.
Or is this change made intentionally?

[2018-06-25 18:30] pronebird commented on #13368
The wording is definitely wrong and documentation lacks explanation.

[2018-06-25 18:30] thomasjo commented on #13368
_Since I haven't studied the Chromium source code in detail I might be wrong, but the following explanation is based on the code I have seen, and from my daily experience with GPU programming._

@pushkin- That specific piece of documentation is specifically related to offscreen rendering, and the example is rendering a web page into a bitmap. All necessary information/data related to the web page,

[2018-06-25 18:49] pcad opened #13427 "NTLM Proxy-Authentication does not work when responseHeaders are set in callbacks."
* Electron Version: 1.7.13, 1.8.7
* Operating System (Platform and Version): Windows
* Last known working Electron version: N/A

**Expected Behavior**
NTLM Proxy-Authentication should work automatically for users.

**Actual behavior**
When responseHeaders are set in an onHeadersReceived callback, authorization and authentication is not seen in the logs, and the page does not successfully navigate.

[2018-06-25 18:57] mediaslav commented on #13375
having similar issue, Electron 3/Win10
![image](https://user-images.githubusercontent.com/472418/41869734-9516ae80-78c2-11e8-971f-90371d373c30.png)

[2018-06-25 20:09] rickwebiii commented on #13168
Debugging in the node-inspector, this appears to happen when you get a janky version of sumchecker (1.2.0) on your machine that seems to clash with Node 8. I'm able to repro this with node 8.11.2 on my box when I get sumchecker 1.2.0.

I deleted node_modules\electron\dist (which is the contents of the zip in question) and ran node --inspect-brk node_modules\electron\install.js. Setting a breakpoin

[2018-06-25 21:20] sofianguy commented on #13374
please follow #13356 for updates

[2018-06-25 21:20] #13374 closed

[2018-06-25 21:22] nukeop commented on #13008
I'm seeing this on Linux as well. Did somebody mess up cors settings on the server?

[2018-06-25 23:56] paulcbetts commented on #12697
I would still argue that autoplay policy should default to "play", and that we shouldn't force developers to dig through obscure flags that may or may not be present in future versions of Chromium

[2018-06-26 01:40] nehbit commented on #10243
Would love to have this as well. Thanks so much for the work!

[2018-06-26 04:29] JieJiSS commented on #13355
I've recognized that there exists related useful events:

[code]

In both cases, `targetWindow` is an instance of Electron.BrowserWindow and refers to the being-right-clicked window, which means that using a global variable to store the `targetWindow`, update it when events are fired, and use it in `click(item, bw, event) { ... }` can be possible. However, I'm not sure whether this method is robus

[2018-06-26 05:03] MarshallOfSound commented on #13426
cc @ajmacd @mgc

[2018-06-26 06:58] unit11 opened #13439 "Ongoing Process does not stop on Electron App close."
* Electron version:2.0.2
* Operating system:Windows 10

* Last known working Electron version:

### Expected behavior
I am working on an app that can do an ongoing task in the command line.When I close the app the ongoing task does not close.It is still running on the background processes I have to explictly close it through the task manager "End Task".

### Actual behavior
Is there any way so tha

[2018-06-26 07:22] ajmacd commented on #13426
Yikes, I'll look at this.

[2018-06-26 07:30] Stuffe opened #13440 "CMD + Q exits kiosk mode on OSX"
Versions:
Electron v1.8.3
OSX 10.13.4

I have an application that opens in kiosk mode, but I can still exit it with CMD+Q.

This is my main.js file:

[code]

I searched around but couldn't find any other mention of this.

[2018-06-26 08:44] alexeykuzmin opened #13441 "disableguestresize attribute doesn't work"
* Electron Version: 3.0.0
* Operating System (Platform and Version): Mac at least
* Last known working Electron version: 2.0.x

**Expected Behavior**
When [`disableguestresize`](https://github.com/electron/electron/blob/master/docs/api/webview-tag.md#disableguestresize) attribute is present the webview contents should be prevented from resizing when the webview element itself is resized.

**Actual

[2018-06-26 08:45] alexeykuzmin commented on #13441
@poiru Can you please take a look?
I guess you need the attribute since you added it back in 2016.

[2018-06-26 10:36] mdogadailo commented on #13008
@ChromeDevTools removed version 7accc8730b0f99b5e7c0702ea89d1fa7c17bfe33 from [their service](https://chrome-devtools-frontend.appspot.com/) which serves chrome dev tools.
They have version for each [chromium commit](https://chromium.googlesource.com/chromium/src.git/+/7accc8730b0f99b5e7c0702ea89d1fa7c17bfe33).

For example ChromeDevTools [57c9d07b416b5a2ea23d28247300e4af36329bdc](https://chrome-d

[2018-06-26 11:16] sunzongzheng commented on #2208
![image](https://user-images.githubusercontent.com/12635613/41907495-a77731a6-7973-11e8-9ff9-06d855dfb8e5.png)
[code]
## still have the problem!  I am doing an auto-update program, so I need to exec it when it was downloaded.

## The main browserWindow closed. But the tray is still there. When I close the new application. The tray disappeared. But It works well on the windows.

[2018-06-26 11:48] anthonysubramani commented on #2984
@antoinepairet Thank you. It still works.

[2018-06-26 11:51] tonyganch commented on #4603
@miniak @juturu Is this issue still relevant, or should it be closed?

[2018-06-26 11:51] emmkimme commented on #13409
I'm afraid, we have the same problem on 3 different machines
- Windows 10 / 2017 Enterprise
- Windows 10 / 2017 Professional
- Windows 7 / 2017 Community

[2018-06-26 11:56] tonyganch commented on #11053
@ckerr, can this issue be closed? I see PR merged.

[2018-06-26 12:00] sunzongzheng commented on #2208
I skipped it by using app.relaunch with execPath

[2018-06-26 12:01] tonyganch commented on #8083
@MarshallOfSound, can this issue be closed finally?

[2018-06-26 12:07] alexeykuzmin commented on #13313
@tarruda Can you please take a look why those tests fail on linux ia32?

[2018-06-26 12:07] MarshallOfSound commented on #8083
@tonyganch Idk, did a PR fix it 🤔 Can't see anything reffing this issue

[2018-06-26 13:08] Evoks commented on #13113
After some digging, I found that this bug is linked to that commit https://github.com/electron/electron/commit/59476f0b30979a3bd895b68dbb4bcd24785b17ea, and is linked to that PR https://github.com/electron/electron/pull/11300

By allowing creating guest without any src, you cannot change the partition ID after webview initialisation, but before its first navigation.

Also, this bug is visible on e

[2018-06-26 13:19] ReDreamport commented on #5698
We can set the type/format with `ClipboardEvent` such as:

[code]

So could electron support API like that?

[2018-06-26 13:33] Chaaaaap commented on #4381
Does the AppUserModelID have to be "com.squirrel.xx.yy" in order for Squirrel to correctly update pins and shortcuts?

[2018-06-26 13:43] shaneharris opened #13443 "[v3.0.0-beta.1] webvr supported but no vrdisplays found"
* Electron Version:3.0.0-beta.1
* Operating System (Platform and Version):Winx64
* Last known working Electron version: N/A

**Expected Behavior**
I realise this has been asked before, but this time it seems like it is so close i can taste it. I get the message "webvr supported but no vrdisplays found". Is there a quick way to allow it to detect the VR devices?

**Actual behavior**
The above messa

[2018-06-26 13:46] shaneharris commented on #13443
also for reference #12468 and #3271

[2018-06-26 13:58] debelop13 opened #13444 "Open BrowserWindow with preserve log checked"
Hi

I want to open a new BrowserWindow or Webview with a "Preserve log" checked.

![screen shot 2018-06-26 at 15 56 07](https://user-images.githubusercontent.com/20789085/41917031-ba4b3576-7959-11e8-8c16-264815d69cbc.png)

If not, when page is reloaded, console has been deleted.

I think that can be a new option in BrowserWindow creation.

Thanks.

[2018-06-26 15:01] mdanka commented on #12803
Is there a plan to fix this in 2.x.x or 3.x.x, and if not, do you have any ideas/guidance on where to look for the issue?

Thanks!

[2018-06-26 15:17] guillaumejenkins opened #13445 "[Documentation] Clearly indicate which codecs are included in the "patent-free" FFMPEG download"
* Electron Version: 2.0.0

**Expected Behavior**
Electron releases offer an alternate FFMPEG library which only contains "patent-free" codecs. The documentation should clearly state which codecs are included in that separate FFMPEG.

**Actual behavior**
There is no easy way to find out which codecs are included in the patent-free FFMPEG library.

**Additional Information**
This information is cruc

[2018-06-26 15:36] MarshallOfSound commented on #13445
@guillaumeguerin We are not lawyers and that information is simply going to get out of date with every new release of Chromium.  You can run codec tests against both to determine which codecs are supported by each.

You can test for the common ones by using a site such as http://codecdetect.com/

[2018-06-26 15:36] #13445 closed

[2018-06-26 15:39] MarshallOfSound commented on #13443
WebVR is not supported / stable in the Chromium 66 release, it is still behind a flag and declared unstable.  Until we get to a chromium version that declare WebVR is stable and ready to use we can't look into any bugs associated with it as we do not have the resources to potentially track down bugs that aren't even in our code base

[2018-06-26 15:39] #13443 closed

[2018-06-26 15:41] guillaumejenkins commented on #13445
@MarshallOfSound I thought the separate FFMPEG download included in each release was built by the Electron team? I understand that the list of codecs in the default Chromium FFMPEG is prone to change, but if the alternate FFMPEG library is a custom one produced by Electron, isn't it a simple thing to add the list to a doc page?

[2018-06-26 15:46] MarshallOfSound commented on #13445
@guillaumeguerin For the alternative FFMPEG build it's still Chromium's FFMPEG just with one flag turned off (`proprietary_codecs`)

https://github.com/electron/libchromiumcontent/blob/11a586c0d017c47b4fb391e38be100c47d98089a/chromiumcontent/args/ffmpeg.gn#L6

[2018-06-26 16:07] guillaumejenkins commented on #13445
I see, thanks for the clarification! I will look on the Chromium side to see if I can find more info.

[2018-06-26 16:52] lawrencecushman commented on #12478
For what it's worth, this is resolved in Electron 2

[2018-06-26 16:58] clintLandrum commented on #8725
@feichao Could you provide some more info/code examples on how you solved this?

[2018-06-26 17:14] poiru commented on #13441
@alexeykuzmin We no longer use it. It wasn't a great solution to begin with so perhaps we could consider removing it?

[2018-06-26 18:09] jasonrudolph commented on #13404
@MarshallOfSound: I think I can track down a VM in order to replicate the issue and verify any fixes. I'm willing to do the git bisect to track down the root cause, but I'll have to ask for some guidance regarding the specific steps. :pray: I think I'd need to bisect the changeset (https://github.com/electron/electron/compare/311f7ac6bb0f25e6beb1279564ea452fa538f4a5...4aedc2c21a17a178d5bbf4d8391b8

[2018-06-26 18:10] craxal commented on #12919
Is there any plan to get this fixed? Or is there a known workaround?

[2018-06-26 18:46] guillaumejenkins commented on #13445
Putting it here in case it helps anyone.

Setting the following Chromium build flags:
[code]

Produces FFMPEG with the all the codecs on [this page](https://www.chromium.org/audio-video) that **don't** say `[Google Chrome (OS) only]`, which at the time of writing is:

### Audio
FLAC
MP3
Opus
PCM 8-bit unsigned integer
PCM 16-bit signed integer little endian
PCM 32-bit float little endian
Vorbis

#

[2018-06-26 19:05] segedyjr commented on #12478
Do you have a working example that demonstrates it working in Electron 2? I can reproduce the problem with version 2.0.3.

[2018-06-26 19:51] sofianguy commented on #13405
@burningTyger can you provide us with steps to reproduce this issue?

[2018-06-26 19:58] sofianguy commented on #13424
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2018-06-26 19:58] #13424 closed

[2018-06-26 21:38] sofianguy commented on #13288
I'm going to close this issue because we are not supporting versions older than 1.7 right now. Let us know if you are still having this issue on a newer version and we'll reopen this issue.

[2018-06-26 21:38] #13288 closed

[2018-06-26 21:39] sofianguy commented on #13117
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2018-06-26 21:39] #13117 closed

[2018-06-26 21:48] alexeykuzmin opened #13447 "Replace `getProcessMemoryInfo` API in chromium 67"
`ProcessMetrics::GetMemoryBytes` won't be available after an upgrade to Chromium 67+, see #13383.
But those metrics are quite important, so we should try to find a way to keep them.

/cc @miniak, @juturu, @nitsakh

[2018-06-26 22:01] ohmtrivedi opened #13448 "Unable to receive data passed from one renderer to another via main.js"
* Electron version: 2.0.2
* Operating system: Ubuntu

### Expected behavior
I wish to send data to child window (handled by cves.js and created from index.js on an event) from my main window (sourced by index.js).

### Actual behavior

I am able to send data from cves.js to index.js via main.js. But, I am not able to receive data in cves.js from index.js via main.js.

### How to reproduce

My code

[2018-06-26 22:08] #12770 closed

[2018-06-26 22:55] fuermosi777 commented on #7172
@bsclifton Could you please share how did you manually add the border? Thanks.

[2018-06-27 00:28] bsclifton commented on #7172
@fuermosi777 I never solved the underlying issue in Electron. Instead, I worked around by using CSS to apply the border and then capturing the window blur to turn borders gray when not focused

[2018-06-27 00:39] MarshallOfSound commented on #13404
@jasonrudolph You should be able to run (from the electron repo)

[code]

[2018-06-27 00:48] MarshallOfSound commented on #13448
@ohmtrivedi Can you provide a minimal sample that reproduces the bug, we can't go spelunking around your code looking for bugs in your logic.  It would help greatly if you could provide a repo based on `electron-quick-start` that reproduces your IPC issue

[2018-06-27 02:02] sthalin32 commented on #12482
tengo el mismo errar quiero  instalar ### cordova  y no se que  estoy  asiendo  mal..

[2018-06-27 03:13] nehbit commented on #2810
@atypicalprogrammer you can enable the title by passing ```fullscreenWindowTitle:true``` to your browser window.

For the expected behaviour, it would be lovely if we could get the thin full screen top bar that normal framed windows get. In the case that is impossible (which it probably is), having an inset version of the ```customButtonsOnHover``` would be great, because as far as I can see, if `

[2018-06-27 03:47] BrendanMcK commented on #12478
Also confirming that this is still not working in 2.0.3

[2018-06-27 07:20] abriek opened #13454 "Feature Request: Get storage"
Hi,

I'm creating an application that requires saving the session of BrowserWindows in order to reuse them constantly (so I plan to save that in a json file). I've managed to successfully do this for the cookies of the BrowserWindow but not the storage (local, indexDB, etc.). I was wondering if there already is a feature (if not can it be implemented?) to get the storage (similarly to the cookies)

[2018-06-27 07:42] emmkimme commented on #13409
Master compilations fail as well

[2018-06-27 09:30] arantes555 opened #13458 "Behaviour of `util.promisify(childProcess.exec)` inconsistent with node"
* Electron Version: 1.8.7 & 2.0.3
* Operating System (Platform and Version): MacOS 10.13.5
* Last known working Electron version: None

**Expected Behavior**
`util.promisify(childProcess.exec)`  should behave the same on electron as on node

**Actual behavior**
On node, `promisify`-ed versions of `childProcess.exec` & `childProcess.execFile` have custom behaviour, resolving to an object of the for

[2018-06-27 10:38] prednaz opened #13459 "Version 2.0.3 does not run on Mac OS 10.9 as it requires Core Bluetooth"
* Electron version: 2.0.3
* Operating system: Mac OS X 10.9.5 (13F1911)

* Last known working Electron version: 2.0.2

### Expected behavior
Run.

### Actual behavior
When started through GUI the dialog box pops up

The Report is

[code]

### How to reproduce
Run.

[2018-06-27 10:49] burningTyger commented on #13405
@sofianguy thank you for your reply. I've been trying to reproduce this error with a dead simple quickstart template but failed to do so. Both webpack and vanilla electron templates do their job just as expected. I'll further investigate why it doesn't work in my app which is basically a webpacked app too.

[2018-06-27 10:55] timfish commented on #13416
`pdfjs-dist@1.8.619` works fine for us in Electron 2.0.3.

As you've filed issues elsewhere, it looks like you're not even sure if this is an Electron issue. If you find that it is, can you provide a minimal sample that reproduces the bug?

[2018-06-27 10:59] timfish commented on #13391
This looks like a duplicate of #12971.

[2018-06-27 11:04] alexeykuzmin commented on #13441
@poiru We cannot simply remove it in 3.0.
Even if we were going to do so, we would have to deprecate it first in 3.0, and remove only in 4.0

[2018-06-27 11:24] MaxGraey opened #13460 "Feature request: optimization for vibrancy"
Currently vibrancy effect apply to whole window area which looks like unnecessary for most cases when opaque cover area contain 70-80% of window and only 20% for vibrancy (like sidebar). On OSX and Linux I guess this not cheap according my tests especially when this effect combined with high-load canvas opaque area.

Original repository [electron-vibrancy](https://github.com/arkenthera/electron-vi

[2018-06-27 11:30] mickours commented on #10880
Note that this bug also impact Linux platform with Electron 1.8.2, not only MacOS.

[2018-06-27 11:44] arantes555 opened #13461 "Incoherent `Tray.getBounds()` in multi-screen setup"
* Electron Version: 1.8.7 & 2.0.3
* Operating System (Platform and Version): macOS 10.13.5
* Last known working Electron version: None

**Expected Behavior**
`Tray.getBounds()` should give the correct bounds of the tray icon on the currently active screen.

**Actual behavior**
On a multi screen setup where the secondary screen has negative Y coordinates (for example if it is bigger than the primar

[2018-06-27 14:40] mickours commented on #10880
I don't know if it is related but the file created by electron to autostart in ``~/.config/autostart/.electron-wrapped.desktop`` is a hidden file.

I tried to workaround this problem, and I had trouble to find this file, so maybe electron do not look for hidden file too ¯\_(ツ)_/¯

Still, as a workaround, removing the file stop the autostart.

[2018-06-27 15:19] sindresorhus opened #13464 "Add `BrowserWindow#setBackgroundColor()` method"
**Is your feature request related to a problem? Please describe.**

It's possible to set the `backgroundColor` in the `BrowserWindow` constructor, but it's not possible to change it later. I need a way to dynamically change the background color when the user toggles system dark mode. I cannot just set it in CSS as my app uses `window.history.reload()`, so the original window background color becom

[2018-06-27 15:30] MarshallOfSound commented on #13464
This should just be a case of exposing the internal `SetBackgroundColor` method.  And exposing a new getter method.

https://github.com/electron/electron/blob/master/atom/browser/api/atom_api_browser_window.cc#L295

[2018-06-27 17:04] ivanreese commented on #13164
This happens in both dark mode and light mode. I believe it has something to do with apps that hide the title bar.

I have the issue in Atom, Hyper, and Slack.

[2018-06-27 17:29] ccorcos opened #13465 "Remove localstorage limit"
* Electron Version: 2.0.2
* Operating System (Platform and Version): MacOS
* Last known working Electron version: 1.8.1 (never had this issue before in an older version of the app)

Sorry for the extremely vague bug report, but I found a serious bug in our app where localStorage seems to have stopped working without throwing any errors causing using users to lose data.

[code]

Upon deleting the A

[2018-06-27 18:00] jaycharles commented on #13380
I see the same.... seems there's no h.264 codec available for webrtc?

[2018-06-27 18:17] shiftkey opened #13466 "maximized window sometimes doesn't fill available height"
* Electron Version: tested on 1.8.7, 2.0.0, 2.0.3, 3.0.0-beta.1.
* Operating System (Platform and Version): tested on Windows 10.0.17134.112
* Last known working Electron version: Unclear

**Expected Behavior**

When using a frameless Window on Windows, the maximize behaviour is not consistent. To test this out, repeat these steps:

 - ensure the window is not maximized
 - maximize the window with

[2018-06-27 18:37] computerquip-streamlabs opened #13467 "Out of memory crash in renderer"
* Electron Version: 2.0.1
* Operating System (Platform and Version): Windows 10.0.17134
* Process Type: renderer

Crash report: https://gist.github.com/computerquip-streamlabs/d765a9646418bc7553af629f67379390

**Additional Information**
Reproducing this has proven impossible on local computers (laptops, desktops, weak or strong computers, different graphics vendors, etc.)  but these kinds of crash

[2018-06-27 18:43] darkcoderrises commented on #13464
Could I work on this?

[2018-06-27 18:56] blingenau opened #13468 "BrowserView.setAutoResize shifts upwards when resized"
* Electron Version: 1.7.x, 1.8.x, 2.0.x
* Operating System (Platform and Version): OSX 10.12.6
* Last known working Electron version: Don't think it ever did

**Expected Behavior**
BrowserView should resize automatically with a BrowserWindow resize, maintaining its position.

**Actual behavior**
When the BrowserWindow resizes, the BrowserView seems to shift into the titlebar, cutting off pixels at

[2018-06-27 19:05] baconbrad commented on #13369
It is basically how `app.getName()` works. It just overrides it. It is likely omitted to discourage it's use but it is safe to use as long as you know what you are doing for it's intended purpose. Just keep in mind it only overrides the version. It doesn't ensure Electron is using code and files for a particular version.