[2018-09-04 06:24] dhammika-marasinghe opened #14441 "pacScript config for session.setProxy() method doesn't work in electron v3.0.0-beta.3"
* Electron version: v3.0.0-beta.3
  * Operating system: Windows 10 Enterprise 10.0.15063 (x64)
  * Last known working Electron version: v1.4.16

**Expected Behavior**
  Electron app should either detect *Use automatic configuration script* mentioned in the *Internet Options > Connection > LAN Settings > Automatic Configuration*
  OR
  by passing the pacScript to the .setProxy() method of session o

[2018-09-04 08:10] Anrock commented on #528
Isn't this implemented via https://github.com/electron/electron/pull/11754 ?

[2018-09-04 08:58] divyamrastogi opened #14443 "Audio does not work on WebRTC app on Electron after a few days of continuous running on MacOS"
* Output of `node_modules/.bin/electron --version`: v2.0.7
* Operating System (Platform and Version): MacOS High Sierra v10.13.6 (17G65)
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): NA

**Expected Behavior**
Audio fetched through getUserMedia() should work fine.

**Actual behavior**
On using the Macbook for about a week without restart

[2018-09-04 10:33] zcbenz commented on #14211
Stack trace when the webview's WebContents is destroyed.

[code]

[2018-09-04 13:55] pmario commented on #12436
Electron version: 2.0.8
Operating system: Windows 10 Pro 64bits __and__ ubuntu 18.04

It seems as soon as the CtrlKey is pressed, the `mousewheel` event isn't triggered anymore.

AltKey + mousewheel triggers

ShiftKey + mousewheel doesn't trigger

[2018-09-04 14:49] jkleinsc commented on #14385
The PDF viewer is currently not working in 3-0-x and there is an issue #12337 to resolve it.  Closing this issue as a duplicate to #12337

[2018-09-04 14:49] #14385 closed

[2018-09-04 15:16] christophpre commented on #14385
Sorry, overlooked that there was already an issue. Thanks for closing.

[2018-09-04 16:25] ckerr opened #14451 "Deprecate `lstatSyncNoException` and `statSyncNoException`"
As discussed in https://github.com/electron/maintainers/issues/228, this needs to be done in `3.0.0` so that these fields can be removed in `4.0.0`. Upstream Chromium has removed these and so we shall follow suit.

[2018-09-04 16:28] codebytere commented on #14451
^moved to note

[2018-09-04 17:59] nitsakh commented on #13549
Quite certain this is related to #13913, for which I think I have a fix.

[2018-09-04 20:33] patrickhlauke commented on #2504
Have to admit I was surprised to encounter this issue today in an electron app, only to find out here that there's no official fix/suggested approach yet.

[2018-09-04 21:18] sofianguy commented on #14398
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2018-09-04 21:18] #14398 closed

[2018-09-04 21:27] sofianguy commented on #14414
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-09-04 21:27] #14414 closed

[2018-09-04 21:32] akontsevich commented on #13087
Could be some GTK3 bug: I see same behavior in Thunderbird -  shows tray icon popup menu for both mouse left-right clicks. For right click it is correct and styled - rounded. For left click - not styled, appeared in different position and squared. Same for Electron applications. Reproducible under KDE, not sure about other GTK DEs. Report the bug somewhere to GTK?

[2018-09-04 21:53] sofianguy commented on #14424
Please file a bug report with Slack directly

[2018-09-04 21:53] #14424 closed

[2018-09-04 22:32] sofianguy commented on #13918
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2018-09-04 22:32] #13918 closed

[2018-09-04 22:36] bulletmark commented on #14424
I have long used skypeforlinux-preview-bin from the Arch AUR. It embeds a copy electron and has started flickering for the least few versions (i.e. about last 3 or 4 weeks). I raised an issue with Skype/Microsoft about this recently but this bug makes me realize it is probably due to electron. I am using GNOME on Wayland and plain intel graphics. I can't reproduce it on call and have not noticed a

[2018-09-04 23:10] brunokunace opened #14457 "openExternal in the same tab"
Hi everyone,

i make a electron app, with socket, when i receive new order, make a popup on screen with external url.
I use a openExternal and works fine, but every order open in a new tab of chrome browse, have way to open in the same tab or close the especific tab and create a new one?

My pc open 50 tabs for hour =(.

accept other ideas too.

[2018-09-04 23:16] MarshallOfSound commented on #14457
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-09-04 23:16] #14457 closed

[2018-09-05 01:58] natew commented on #10445
@MarshallOfSound this seems to have regressed for me. I'm actually getting a timeout for some reason. I tired electron 3.0.0 beta 3, 5, and 8.

It was working before, but suddenly stopped. It's odd it will actually hang for a while and then timeout:

[code]

Using node 9.11.2. I haven't seen anyone log a timeout issue, should I open a new ticket?

[2018-09-05 02:43] aabuziad commented on #13023
**Workaround: We can create and call C# function to retrieve system date format, using 'edge' package that allow us connect between Node.js and .NET**

**Steps:**
- npm install electron-edge-js(https://www.npmjs.com/package/electron-edge-js)
- create native-functions.js file next to Electron 'main.ts', inside the created file add the following code:
[code]

- inside main.ts add the following code:

[2018-09-05 05:11] MarshallOfSound commented on #10445
Sounds like you have some phantom processes hanging around with a claim on the debugger ports still.  Do a clean restart and try again, especially if it was working before 👍

[2018-09-05 05:44] ckerr opened #14459 "dbus specs don't work in GN build yet"
We're currently running our tests manally by calling something like `out/Default/electron path/to/spec`

However we need to have a fake DBus set up _before_ that call, which is one role that `script/test.py` played in the GYP world.

We should update that script to play nicely with GN and use it for tests in that world as well.

[2018-09-05 06:28] jonathon-love opened #14460 "app.makeSingleInstance() and flatpaks"
hi,

i've been deploying my electron app as a flatpak for a while, but i notice that when running as a flatpak `app.makeSingleInstance()` does not correctly identify that the application is already running.

this is presumably to do with flatpak's sandboxing, and i probably need to add some permissions somewhere, but i can't find any docs describing how the app.makeSingleInstance actually works.

[2018-09-05 06:30] MarshallOfSound commented on #14459
@ckerr We could also update our spec runner to use `child_process` to spawn the fake dbus python script from electron land.  Then we can lose the `test.py` all together

[2018-09-05 06:39] zcbenz commented on #14211
After some debugging, here is the information I know:

1. This bug only happens for pages that dynamically create and remove frames in it.
2. It happens because Chromium accidentally detached the wrong frame when reloading, Chromium should detach the old frame, but sometimes it accidentally detaches the new loaded frame.

I believe the is a bug of Chromium caused by race conditions when managing s

[2018-09-05 09:51] blackknifes commented on #10025
Has anyone try to fix this bug with The Possible fixes?

[2018-09-05 09:51] KochiyaOcean commented on #14211
@zcbenz is this CL associated with this bug? https://chromium-review.googlesource.com/c/chromium/src/+/1165593

[2018-09-05 10:07] VladimirPal opened #14461 "Boolean environment variables"
Electron use several boolean environment variables, for instance:
https://github.com/electron/electron/blob/master/lib/renderer/security-warnings.js#L34
[code]
But environment variables always will be as a `string`, so it's pretty confusing since negative values will not work, also I noticed that there no test cases with negative variables, only with positive.
I think it's better to use a string c

[2018-09-05 10:29] zcbenz commented on #14211
@KochiyaOcean Thanks for looking into it, but it does not seem to be related.

[2018-09-05 10:36] arminghm commented on #14414
@sofianguy isn't this an issue that I can't change the menu label dynamically?
when you change the label it will be changed, but the tray menu shows the last label, event after calling setContextMenu again

[2018-09-05 11:10] tmirun commented on #13601
Hi, i have similar issue in mac, Code:

[code]

error:
![image](https://user-images.githubusercontent.com/8052536/45089647-1af8bc00-b10d-11e8-98c3-9229b1b727d6.png)

[2018-09-05 12:33] jeroen-meijer commented on #13164
Nothing has changed after Chrome update 69. This is still an issue.

[2018-09-05 15:28] danielscottjames commented on #13402
We have a fork of VSCode that starts node as a new process instead of forking, due to this issue. (We need to increase the memory allocated to forked node processes)
More details: https://github.com/Microsoft/vscode/issues/33524

[2018-09-05 15:43] ariasuni opened #14462 "Doesn’t highlight file in file manager when using showItemInFolder() under Linux"
* Output of `node_modules/.bin/electron --version`: v2.0.8
* Operating System (Platform and Version): Arch Linux

**Expected Behavior**
Should highlight file when opening file manager with `showItemInFolder()`.

**Actual behavior**
It opens the correct directory but doesn’t highlight the file.

**To reproduce**
[code]

It opens the file manager in `/home/user` but `folder` is not highlighted.

**A

[2018-09-05 16:06] natew commented on #10445
I actually have a specific kill-port 9002 running before I run electron.
Would that not ensure it’s fine? Any other way to programmatically ensure
it’s clear?

[2018-09-05 16:17] eric8810 opened #14464 "Cookie set by server couldn't save expires / max-age (on 2.0.8 and 1.8.8)"
**Version**
2.0.8 and 1.8.8

**Expected Behavior**
When use chrome visit the website, cookie has been successfully set by server to 1969-12-31T23:59:59.000Z

![image](https://user-images.githubusercontent.com/756579/45106703-ec5cfe80-b169-11e8-8592-0f515f5c1966.png)

**Actual behavior**
Then use electron , we only got session...and the cookie lost when app restart

![image](https://user-images.git

[2018-09-05 16:19] eric8810 commented on #14464
BTW, here's full response header info

[code]

[2018-09-05 17:08] #13787 closed

[2018-09-05 17:35] nikolas commented on #8217
I'm seeing a similar problem with the same graphics card on a mac mini with MacOS 10.13.6: https://productforums.google.com/forum/?utm_medium=email&utm_source=footer#!msg/chrome/co6w-9D1ZWo/PkVV2yMsBQAJ

[2018-09-05 17:47] edgarmedrano commented on #9942
Hi, just to let you know that this bug is affecting VSCode "Spring Initializr Java Support extension" (by Microsoft). Please let me know if there is a workaround for users. I'm using Ubuntu 18.04 LTS.

[2018-09-05 18:27] adamkidder commented on #12898
This is now the case with VS 15.8 out. Following the official Electron Windows build instructions results in this error message.

I'd recommend changing the Windows build documentation to list the VS major version that is required.

[2018-09-05 18:36] caseywebdev commented on #528
No, the PR you linked implements events for the system menu but does not improve the state of dynamic menu updates, which is what this issue is about.

[2018-09-05 19:14] Slapbox commented on #14438
After about 40 hours of work, I've abandoned this for now as it seems impossible to use Electron with `stdio` on Windows. This appears to be an obstacle I cannot work around.

[2018-09-05 19:22] abhikumar427 opened #14469 "workflow with MongoDB"
Hi,
It would be really helpful if I can get a detailed manual or guideline for implementing workflow with MongoDB in the Electron app. I am struggling with the documentation for that.

Thanks

[2018-09-05 19:53] Slapbox commented on #14438
In https://github.com/electron/electron/pull/5776 it's mentioned that:

Might this be worked around if Electron supported the `--headless` flag? Would Electron still run as a `GUI` application in Windows, and hence not have access to `stdio`?

I'm not understanding what determines that Electron is a `GUI` application, but this appears to be the last impediment to using Chrome Native Messaging with

[2018-09-05 20:00] primalanomaly opened #14470 "Inconsistent "appData" and "logs" path names"
Electron v2.0.8
Mac and Windows

As package.json does not allow spaces in the name field, my app is named "MyApp". In my build settings my productName is set to "My App" so that the user sees the name with spaces.

Using app.getPath('appData') the app data path clearly uses the "name" and saves all data in a folder named "MyApp" in my library.
Using app.getPath('logs') the log path uses the "produ

[2018-09-05 21:00] #13969 closed

[2018-09-05 21:00] #14227 closed

[2018-09-05 23:26] adamkidder commented on #12898
I get the same error with Visual Studio 15.7.6 installed as well.

What is the correct version of Visual Studio to use?

[2018-09-05 23:43] bughit commented on #12898
@jkleinsc

you could put the vs version in the lib archive as a file that would be auto generated at lib build time, or you could auto publish this info somewhere. This should be automated since that's more reliable than someone manually updating docs.

[2018-09-06 01:02] sofianguy commented on #14441
Can you give 2.0.8 a try and let us know if the bug still persists on that version?

[2018-09-06 01:47] superhawk610 commented on #11515
Looks like this should fix https://github.com/joshwcomeau/guppy/issues/44.

[2018-09-06 02:22] #14469 closed, assigned to nobody

[2018-09-06 02:34] MarshallOfSound commented on #14388
This is expected behavior, arrays shouldn't be used with non-string keys as they won't be serialized.

![image](https://user-images.githubusercontent.com/6634592/45131606-0d0c6f00-b1d1-11e8-8de5-f4c11af84624.png)

You should use an object instead like so:

![image](https://user-images.githubusercontent.com/6634592/45131638-35946900-b1d1-11e8-8f99-22b1f3161e4c.png)

[2018-09-06 02:34] #14388 closed

[2018-09-06 03:05] gliss commented on #8725
I'm having similar issues where the touch would stop working on W10 machines. It happens randomly and with no common reasons. I can remotely connect to the device and click on buttons and it all works fine. To fix it I have to close the app and restart it. The other weird thing is is that even windows doesn't respond to touch ie swiping in from the side to switch between app.

Im a bit lost on whe

[2018-09-06 05:50] schwiet commented on #839
Does anyone have a workaround for this?

[2018-09-06 06:07] mfonville commented on #13972
I think it is best to keep this open, but rename it. Because I experience the same issue on Ubuntu Cosmic (pre-release), I filed a bug on launchpad with them: https://bugs.launchpad.net/ubuntu/+source/glibc/+bug/1790966

[2018-09-06 06:17] codebytere commented on #13722
^ moved to card, not removed

[2018-09-06 06:26] christophpre opened #14474 "Input cursor invisible after navigation in webview"
* Output of `node_modules/.bin/electron --version`: v3.0.0-beta.9
* Operating System (Platform and Version): Windows 10 10.0.16299 Build 16299 **and** MacOS High Sierra 10.13.6
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): v2.0.8

**Expected Behavior**
If I navigate inside a webview on a page, the position cursor should still be visible

[2018-09-06 12:30] jlsilva1994 commented on #10830
same happening here, please check this issue

[2018-09-06 13:40] jkleinsc commented on #12898
For 3-0-x we had to revert back to VS2017 15.4.5:
https://github.com/electron/libchromiumcontent/pull/642

We need to update the docs to reflect that for 3-0-x you need to use this specific version

As soon as #14097 lands, master will not have that restriction because we are switching to a GN build that doesn't use libchromiumcontent in the same way.

[2018-09-06 13:59] jkleinsc commented on #13972
@mfonville did you try [Electron 2.0.8](https://github.com/electron/electron/releases/tag/v2.0.8)?

[2018-09-06 14:44] #13343 closed

[2018-09-06 14:50] jkleinsc commented on #12898
Resolved via #14476

[2018-09-06 14:50] #12898 closed

[2018-09-06 16:15] WelaurS opened #14480 "Login event doesn't trigger"
* Output of `node_modules/.bin/electron --version`: 2.0.0
* Operating System (Platform and Version): MacOS High Sierra v10.13.4

**Expected Behavior**
Event triggering with the possibility to auth the proxy.

**Actual behavior**
Event doesn't trigger, `connected` work (see following code).

**To Reproduce**
Create app and try to login to private proxy.

[code]

[2018-09-06 16:39] bughit commented on #14411
@zcbenz Would like to point out that negotiate authenticating proxy is the most common type in windows corporate environments (that have proxies) and https is the most likely content that would be loaded through it and one can't just opt out of the proxy, so this would seem like a high severity issue that should block 3.0

[2018-09-06 16:50] deleoeduardo opened #14483 "CMD still running when packaged app executed from CMD"
I'm calling my Electron Packaged App from a CMD, when I close my app, the CMD is still up, like listening to the app.
I tried everything, even the "removealllisteners" thing...

This is my code

app.on('quit', function (event, exitCode) {
  process.emit('exit', exitCode)
})
process.exit = app.exit

app.on("window-all-closed", function() {
  app.quit();
});

app.on('before-quit', () => {
  if (proc

[2018-09-06 17:48] mfonville commented on #13972
I did not, since I use a pre-built version of Atom.

So I went the other way around, and compiled my own glibc with Arch Linux's patch for Ubuntu Cosmic, and that works well: https://launchpad.net/~maarten-fonville/+archive/ubuntu/ppa/

[2018-09-06 19:00] mjangir commented on #2414
After debugging for one week, I found this and it quickly resolved my issue. In my dev mode, I was directly loading localhost in electron window and was trying to reference some externally exposed webpack dependencies that was throwing error of **cannot find module**.

Though I was using **html-webpack-plugin** that creates an hidden html file from template  in memory and injects all webpack bundl

[2018-09-06 20:28] codebytere commented on #14451
Completed

[2018-09-06 20:28] #14451 closed

[2018-09-06 20:46] sofianguy commented on #14460
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2018-09-06 20:46] #14460 closed

[2018-09-06 21:55] sofianguy commented on #14462
Can you provide us with steps to reproduce this?

[2018-09-06 21:59] sofianguy commented on #14483
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-09-06 21:59] #14483 closed

[2018-09-06 22:03] marcelobcortes commented on #8414
tried everything that i found
either i was not able to set this trick up properly (and dont even notice that i made wrong) or google might have found a way to prevent us i guess
sad history

[2018-09-07 04:54] ccnixon commented on #12606
Also had the same issue with Contexts/Vscode

[2018-09-07 07:31] metehanm4 commented on #13380
INFO : My app running as expected on Electron v3.0.0-beta.9. This problem solved.

[2018-09-07 08:25] yuchonghua opened #14489 "Use registerStreamProtocol and nuxt.render"
https://github.com/nuxt/nuxt.js/issues/3215
https://github.com/nuxt-community/electron-template/issues/19
https://github.com/nuxt-community/electron-template/issues/18

[2018-09-07 08:43] MarshallOfSound commented on #14489
It looks like you didn't fill out our [Issue Template](https://raw.githubusercontent.com/electron/electron/master/.github/ISSUE_TEMPLATE.md), please ensure you provide all information requested in the issue template so that we can try to help you out.

Issues you create without the template will be closed, you can find the issue template [here](https://raw.githubusercontent.com/electron/electron/m

[2018-09-07 08:43] #14489 closed

[2018-09-07 09:04] danieldaeschle commented on #12415
This workaround only works on Ubuntu with Gnome. Not on Manjaro/Arch with Gnome.

[2018-09-07 10:27] weihong1028 commented on #13038
My solution is to save the pdf file in the app's temporary directory as temp.pdf so I can use 'file:// ...'(blob://... not work) in webview or new BrowserWindow. Work for me. (Users won't feel that I saved a file)

[code]

[2018-09-07 10:54] jbmonroe commented on #13038
I probably didn't provide one key clarification earlier--my app is just running arbitrary tenant application pages on a kiosk and at the end of the session, the user will need to print a document.  Since the tenant apps aren't mine, I can't rewrite the application every time the physical site owner wants to add a application, so I need a general, all purpose approach to detecting and redirecting a

[2018-09-07 11:48] abhijithcs commented on #9780
Is there any update on this? Getting same issue on Windows too.

[2018-09-07 12:48] martpie opened #14490 "getDisplayNearestPoint throws an error with not rounded numbers"
* Output of `node_modules/.bin/electron --version`: 2.0.8
* Operating System (Platform and Version): macOS (reproducible on all platforms)

**Expected Behavior**
When using `electron.screen.getDisplayNearestPoint()` with a not rounded value (like 0.5), electron should round it properly, or at least not crash. (or it should be documented, with a clearer error)

**Actual behavior**
<img width="532"

[2018-09-07 12:49] martpie commented on #14490
Issue found when debugging https://github.com/martpie/museeks/issues/460#

[2018-09-07 13:26] ariasuni commented on #14462
I updated my report with instructions on how to reproduce the bug. :)

[2018-09-07 15:27] #14211 closed

[2018-09-07 15:43] Hyperblaster commented on #9780
It was a deal breaker for me too, but i managed to work around it by packaging a custom .exe file and in the app. And then using child_process.execFile to tell the system to print.

It’s slow, painful and really sucks to have to do that when electron should just work as advertised :(

[2018-09-07 16:45] footniko commented on #9780
Not sure about windows, but on Linux I used `webContents.printToPDF` to save content to a pdf file and then print the file with `exec` like:
```exec(`lpr ${filePath}`, () => fs.unlink(filePath));```

[2018-09-07 17:04] nornagon commented on #14459
Can we mock dbus even harder, and avoid starting the server altogether?

[2018-09-07 17:14] nornagon commented on #9662
You might have an easier time with the GN build (see [the GN build instructions](https://github.com/electron/electron/blob/master/docs/development/build-instructions-gn.md)), since it uses a single unified build system for building Chromium, Node.js and Electron.

[2018-09-07 17:14] bughit commented on #14319
@zcbenz Could you please give some guidance on this. Our code would be running on customer vms and some of them are single core, this is a show stopper for us.  I also found that sync or async stdin reading triggers this ( `fs.readFileSync(0, 'utf8')`)

I would be happy to fix this but don't know enough about libuv internals and it's interaction with electron.  Is there any chance of this addresse

[2018-09-07 20:12] mohammadalipak commented on #12126
I need to know the macOS Dock height for a full-screen app I'm making, to make sure my content doesn't go behind the dock.

This was the only way for me to calculate that as I would do:

[code]

Can we please add that back in? Or have another way to calculate macOS dock height?

[2018-09-07 20:31] Hyperblaster commented on #9780
This method works on MacOS aswell, windows unfortunately doesn’t have CUPs, and it doesn’t have in-built support for printing PDF.

[2018-09-07 20:55] bahamas10 commented on #9662
thank you @nornagon  - I now have a different issue to figure out with this.

I was able to pull down the depot_tools repo, add that to my path, change python3 for python2 on my laptop (just swap symlinks)

[code]

I can pull in `cffi` from my package manager but that doesn't seem to help (i pulled in v1.11.5) - i think it's doing some sort of isolated or virtual install... i don't really know muc

[2018-09-07 21:00] nornagon commented on #9662
not sure what you mean by this, but depot_tools requires (and includes a copy of) python2.

[2018-09-07 21:02] bmentink commented on #9662
You need python2-cffi don't you?

On Sat, Sep 8, 2018 at 8:57 AM Dave Eddy <notifications@github.com> wrote:

[2018-09-07 21:42] brownbl1 commented on #11086
I also have this issue.

[2018-09-07 23:02] pronebird commented on #12126
What prevents you from doing the same by taking the `workarea.y`?

[2018-09-08 01:08] dos1 commented on #14430
Same issue here on Arch with Plasma 5. What's interesting - it happens only when electron is started via console. When I launch it via .desktop entry in the Kickoff menu, it works fine. Tested with several apps, can be reproduced reliably.

[2018-09-08 02:16] dengyaolong commented on #839
@schwiet my workaround is use dialog choose dir, and use node.js walk the dir.

[2018-09-08 02:47] MMhunter opened #14500 "64-bit Electron v2.0.8 wont' start at all"
Electron Version: v2.0.8
OS Version: Windows 7 SP1 (Internal Version 7061)

**Expected Behavior**
The application starts.

**Actual behavior**
Nothing happens.

**To Reproduce**
1.  Install the Application (packed by electron-builder)
2. double click the shortcut.
3. Nothing happens.

**Additional Information**
We are developing a 64-bit desktop application with Electron v2.0.x. Recently two of ou

[2018-09-08 04:01] katrinalui opened #14501 "Shift modifier in accelerator is not displayed in menu in 3.0.x"
* Output of `node_modules/.bin/electron --version`: v3.0.0-beta.8
* Operating System (Platform and Version): Windows 10
* Output of `node_modules/.bin/electron --version` on last known working Electron version: v2.0.x

**Expected Behavior**
App menu should correctly display accelerators with the Shift modifier.

**Actual behavior**
Accelerators display without the Shift modifier in the app menu. F

[2018-09-08 05:45] giridharkannan commented on #13416
The issue is not what the error message says, it's actually something else. Since error handling faced another exception while reporting, things got messed up.

The reason for the issue is, Http module misses "require" method to be precise both Http and Https modules are empty.

When using pdf.js in Chrome browser, it uses PDFFetchStream to read data whereas when using pdf.js in Electron it uses P

[2018-09-08 09:12] naqashse102 opened #14502 "Electron app crashes on fs.writeFile()/fse.writefile()"
Electron version 1.8.8
Using Electron with Angular6
![image](https://user-images.githubusercontent.com/36957424/45252555-a4102d00-b371-11e8-9b29-78d431b23ebf.png)

[2018-09-08 12:45] mixn commented on #9293
[This answer](https://github.com/electron/electron/issues/9293#issuecomment-331425878) provided by @stevenreddie was the **only** thing that helped me solve this annoying issue. Thank you so much, @stevenreddie! 👏

[2018-09-08 14:14] johneas10 commented on #13307
Can confirm!

Thanks guys :)

[2018-09-08 14:23] TheWebs opened #14504 "Bootstrap error"
Hi, i am trying to build electron however i keep getting the same error. I've tried the solutions mentioned in other issues but none of them work. When i run bootstrap i always get this error:

`> python ./script/bootstrap.py -v

Running in verbose mode
Your Python is using TLSv1.2, which is sufficient for building Electron.
git submodule sync --recursive
Synchronizing submodule url for 'vendor/bo

[2018-09-08 16:46] MarshallOfSound commented on #14504
@TheWebs It looks like your `vendor/node` directory got into a bad state, if you delete it and re-run bootstrap it should fix itself.

[2018-09-08 16:46] #14504 closed

[2018-09-08 17:27] bahamas10 commented on #9662
@nornagon in my steps from a prior attempt (https://github.com/electron/electron/issues/9662#issuecomment-417197211) I ran this command to ensure python2 was used on my system and not python3

    $ (cd /usr/bin && sudo rm python && sudo ln -s python2 python)

I don't see a copy of python included with depot_tools unless i'm missing something.

The first command the electron steps say to run is `g

[2018-09-08 19:02] rkmyowin commented on #1769
a

[2018-09-08 19:58] TheWebs commented on #14504
I've done what you said and still no luck. However this time this apperared:
`fatal: cannot create directory at 'deps/npm/node_modules/libnpx/node_modules/yargs/node_modules/os-locale/node_modules/execa/node_modules/cross-spawn/node_modules/shebang-command/node_modules/shebang-regex': Filename too long
Unable to checkout '6d1bdd3ebf860ff878a1b5db4fd26fdda3932e21' in submodule path 'vendor/node'
No

[2018-09-08 21:39] mssodhi commented on #13536
I don't have Powerpoint, but worked fine for me on Word and Excel using the test repo.

[2018-09-09 00:03] Jarmahent opened #14507 "ipcRenderer.once() not removing listener (REACT)"
* Output of `node_modules/.bin/electron --version`:
v2.0.6

* Operating System (Platform and Version):
Windows 10 build #17134.228

**Expected Behavior**
ipcRenderer.once() should remove the listener after its called once

**Actual behavior**
I have to forcefully remove the event with

`ipcRenderer.removeAllListeners('db-ch', this.componentDidUpdate);`

**To Reproduce**

In React:

[code]

This do

[2018-09-09 02:14] MarshallOfSound commented on #14507
You are adding the listener every time the component updates, this means that when your listener is set the first time and fired, you call `setState` which will then trigger another update and attach another listener.

If you truly only want your listener to be attached once you should listen in `componentDidMount`

[2018-09-09 02:14] #14507 closed

[2018-09-09 02:55] mohammadalipak commented on #12126
That's a great idea. Didn't think of that

[2018-09-09 03:14] Qix- commented on #7460
Sorry to necro but this doesn't work. The following test code compiles fine but segfaults.

`module/binding.gyp`

[code]

`module/hello.mm`

[code]

`module/index.js`

[code]

`app/index.html`
[code]

Note that everything works if I short-circuit the C++ function by setting the `result` and jumping to `set_ret` (meaning the result shows up in the HTML view).

How is anyone getting this to work?

[2018-09-09 05:28] bpasero commented on #14470
https://github.com/electron/electron/issues/14276 ?

[2018-09-09 10:32] KochiyaOcean opened #14509 "GPU process crashes on 3.0.0-beta.10"
* Output of `node_modules/.bin/electron --version`: 3.0.0-beta.10
* Operating System (Platform and Version): Windows 10 1803
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): 3.0.0-beta.9

**Expected Behavior**
GPU Process should not crash

**Actual behavior**
GPU Process crashed

**To Reproduce**
Run electron and open `chrome://gpu`
Page sh

[2018-09-09 10:33] sadi304 commented on #14415
@sofianguy will it be fixed in coming version? any update?

[2018-09-09 10:35] kayahr opened #14510 "With context isolation unsafe-eval warning is displayed even when page is secured"
* Electron: **v3.0.0-beta.10**  and **v2.0.8**
* Operating System: **Debian Linux 9.5**

### Expected behavior

When page is secured by a CSP header to not allow eval or function constructor then Electron should not display a warning that eval wasn't disabled.

### Actual behavior

When context isolation is enabled then electron displays a warning even though CSP header is present and has no `unsa

[2018-09-09 10:48] MarshallOfSound commented on #14510
This is fixed by side-effects of https://github.com/electron/electron/pull/14284

[2018-09-09 11:18] firestar300 opened #14511 "Strange values for offsetLeft"
* Output of `node_modules/.bin/electron --version`: v2.0.8
* Operating System (Platform and Version): OSX High Sierra v10.13

**Expected Behavior**
I have an HTMLElement not sticked to the left of the window. When I type `document.querySelector('.uk-button').offsetLeft`, I expect a value bigger than 0.

**Actual behavior**
I have an HTMLElement not sticked to the left of the window. When I type `d

[2018-09-09 11:34] firestar300 commented on #14511
Oh yes, you right. Actually, my problem is the tooltip UIkit left position. I don't understand why it's sticky to the left.

![](http://image.noelshack.com/fichiers/2018/36/7/1536492799-capture-d-ecran-2018-09-09-a-13-33-03.png)

and not to the element like there https://codepen.io/firestar300/pen/KxZWva?editors=1111

[2018-09-09 14:52] bpasero opened #14513 "3.0.x regression: Object has been destroyed upon quit with multiple windows open"
* Output of `node_modules/.bin/electron --version`: 3.0.0-beta.10
* Operating System (Platform and Version): macOS 10.13.6
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): 2.0.x

**Expected Behavior**
Quitting should not throw a runtime exception.

**Actual behavior**
Quit and observe the following exception:

[code]

**To Reproduce**
Fiddl

[2018-09-09 15:55] bpasero opened #14514 "Webview: not possible to prevent menu shortcuts from triggering"
* Output of `node_modules/.bin/electron --version`: 3.0.0-beta.10
* Operating System (Platform and Version): macOS 10.13.4
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): 2.0.x

**Expected Behavior**
While a `<webview>` has focus, it should be possible to prevent menu items from triggering when certain keyboard keys are pressed.

**Actual

[2018-09-09 15:57] bpasero commented on #14258
@zcbenz there is still an issue even with my workaround from https://github.com/electron/electron/issues/14258#issuecomment-416893856. I am not able to prevent a keyboard event from going to the main menu potentially triggering a menu item if it has that keybinding. This results in certain actions to fire twice when the keyboard shortcut is triggered while the webview has focus.

I created https:/

[2018-09-09 18:36] arkenthera commented on #7460
I always thought like if we are creating a `BrowserWindow` on the main process' js file, then the actual pointer address will be in main process as well, thus calling it obvious.

[2018-09-09 18:47] Qix- commented on #7460
@arkenthera but like I said, it's not obvious - because that's not how pointers work. The window belongs to the child process, so referencing the window handle by pointer in the parent process shouldn't work since the window isn't in the parent process.

There's some other sort of IPC going on here.

[2018-09-09 18:52] miniak commented on #14415
@sadi304 This is OS API limitation. We use `[NSWindow setSharingType:NSWindowSharingNone]`, which does not prevent QuickTime from capturing the window unfortunately.

[2018-09-09 18:52] #14415 closed

[2018-09-09 18:52] miniak commented on #14415
@sadi304 If you figure out how to do it, feel free to create a PR

[2018-09-09 20:11] hilderonny commented on #1594
Here a complete example:
[code]

[2018-09-10 00:59] tbillington commented on #9490
Also getting this error with a very vanilla setup, using ver `"electron": "2.0.8"`.

[2018-09-10 05:10] sadi304 commented on #14415
@miniak  thanks for the info. yeah i also found out the OS limitation. I dont think i have the capacity to fix that deep level api currently :p anyway thanks again

[2018-09-10 06:11] abhilashmaipady commented on #12211
It is showing the web page. Web page should also change to the same background color. Even if you change the background color in main.js file it is showing the web page.

[2018-09-10 07:08] zcbenz commented on #14514
It seems that while the DOM events are dispatched to the different `document`s, the keyboard events are still handled in the embedder WebContents in the main process.

[2018-09-10 09:06] gribunin commented on #13549
Not fixed in 3.0.0-nightly.20180904 build.

[2018-09-10 10:02] devyaz commented on #13012
any solution yet? there's no error output the command just exits but if you do
``` electron .``` in terminal app launches alright. but it seem not to run from script ```npm start``` or ```npm run dev``` even using yarn the result is the same

[2018-09-10 11:54] guillaumearm commented on #8505
Is this bug is still present in `electron@2.0.2` ?

[2018-09-10 11:58] fuzunspm opened #14524 "Duplicated scripts running at the same time"
* Output of `node_modules/.bin/electron --version`: v2.0.7
* Operating System (Platform and Version): macOS High Sierra 10.13.6

**Expected Behavior**
upon opening the same page multiple times, it should only execute .js file once

**Actual behavior**
let's say i open the same page/windows 5 time back & forth, then it duplicates the same .js file 5 times and it executes the same code 5 times

**Ad

[2018-09-10 12:03] burningTyger commented on #13012
none that I know of. I blocked all updates since 1.19.6. I did try 1.21 a couple of days ago but it still breaks.

[2018-09-10 13:51] MarshallOfSound commented on #14524
GitHub issues are for feature requests and bug reports, code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-09-10 13:51] #14524 closed

[2018-09-10 15:12] mixn commented on #9293
@MarqueIV I have read your answer and am aware of it, this just isn’t the case for me. When I `brew cask uninstall <foo>`, then `brew cask install <foo>` and open the app, close it, then add it to the Dock, open it, close it, wait like 20s — it leads to a `?` on the next click. Only doing the `cmd` + drag thing, as suggested by @stevenreddie helps and solves the issue for me.

[2018-09-10 15:18] berkon commented on #13717
Is there any prediction when this issue will be solved? Unfortunately this is a serious problem for us and prevents us from migrating to Electron releases > 1.x.x

[2018-09-10 15:45] alexeykuzmin opened #14525 "Node: `Module.wrap` is going away"
See https://github.com/nodejs/node/pull/21573

But we monkey-patch it in `e/node`: https://github.com/electron/node/commit/bc879a8d5bf45e84fc4ed05371efbcbe0e8a92e6
And we need to come up with some sort of solution to keep Electron working after the change is made.

/cc @ryzokuken

[2018-09-10 15:51] MarqueIV commented on #9293
Do you get the security prompt when you uninstall/reinstall, then open it?  And are you dragging it to the dock *after* you've added it to the Applications folder?

[2018-09-10 15:57] MarqueIV commented on #9293
I'm wondering if by my marking the app as safe, it turned off that location randomization issue, whereas you're installing it from brew, which doesn't, hence @stevenreddie's workaround working for you since that forces the path of the dock shortcut to be in the applications folder. (Again, not familiar enough with brew to speak to it.)

[2018-09-10 16:04] #14514 closed

[2018-09-10 16:51] larsbs opened #14528 "Webview hangs when loading a redirected URL"
* Output of `node_modules/.bin/electron --version`: v3.0.0-beta.9
* Operating System (Platform and Version): Mac OS X 10.13.6
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable):

**Expected Behavior**
Webview should load the new redirected URL

**Actual behavior**
So I have a `webview` that loads an URL that's being redirected using:

[code]
T

[2018-09-10 16:52] jjustin3 commented on #12130
From what I can tell, it looks like the previous state of the window (at the point it is hidden) is being re-rendered on .show(). This is then replaced by the current state of the window being shown, giving it a "flickering" appearance. My application makes it easy to see this.

This theory is fortified by the fact that the first time the window is shown (initially hidden after creation), it does

[2018-09-10 17:42] javan opened #14529 "macOS Mojave: Unclickable region in windows with "hiddenInset" title bar"
**Expected Behavior**
Clicking any region of the window should activate the element under the cursor.

**Actual behavior**
A small region in the top-center of the window isn't clickable.

**To Reproduce**
* Clone and run https://github.com/javan/electron-quick-start/tree/hidden-inset-mojave
* Click the black bar at the top of the window. It should turn purple while the mouse is down.
* Click the t

[2018-09-10 17:53] javan commented on #14529
/cc @MarshallOfSound (I think you might be looking into Mojave issues?)

[2018-09-10 18:15] mattbroussard commented on #13588
Duplicate of #11768?

[2018-09-10 18:38] deepak1556 commented on #14509
Seems like it worked right with `3.0.0-beta.9` for your app , can you paste the result of `chrome://gpu` for that version. We haven't made any gpu related changes between these two betas, which is what makes this issue confusing. Can this be tested with a minimal app, if so can you share it ? Thanks!

[2018-09-10 18:51] deepak1556 commented on #13717
@berkon sorry for the delay on this, I know about the cause of this issue, we refactored some code around ocsp request creations in https://github.com/electron/electron/commit/abe1faea5cc12508c970657f023c71213895c944#diff-834aceca5d0265fbbb66c16feec0dc57, which creates a separate context that doesn't respect the proxy configurations of a browser window. It was necessary to fix a crash on our side

[2018-09-10 19:17] KochiyaOcean commented on #14509
Seems its hard to reproduce. I will check my system configuration later.

[2018-09-10 19:42] Slapbox commented on #7779
I'm seeing the same behavior as @Zlocoder, `ready-to-show` doesn't seem to fire if I use `preload`, except for my first window.

[2018-09-10 20:26] 2c2c commented on #8725
To those of you with this issue: If you hold right click, does your left click events then register? In my case it does, and I'd like to confirm I'm experiencing the same issue described in this thread.

Thanks

[2018-09-10 20:36] berkon commented on #13717
Thanks a lot for your very fast response @deepak1556! I and my team greatly appreciate your offer! Luckily at the moment there is no urgent technical reason which forces us to go to 2.x.x or 3.x.x, but we want to make sure that once in future security fixes will not be applied to 1.x.x anymore we can migrate to these newer releases without problems. If its not too much effort, it would really be g

[2018-09-10 20:36] Slapbox commented on #14513
Confirming this issue on Windows 7 x64 as well.

[2018-09-10 21:50] sofianguy commented on #14502
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-09-10 21:50] #14502 closed

[2018-09-10 21:50] #14510 closed

[2018-09-10 22:10] alexeykuzmin opened #14533 "Upgrade to Node.js 10.8.0"
Chromium **67.0.3396.123**
Node.js **10.8.0**
V8 **6.7.288.49**

[2018-09-10 22:11] sofianguy commented on #14279
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2018-09-10 22:11] #14279 closed

[2018-09-10 22:44] Slapbox commented on #14513
It looks like everything is under control here, but for good measure:

Appending my last report, I've been able to recreate this on `3.0.0-beta.7` on Windows 7.

[2018-09-11 02:09] Slapbox commented on #14513
I could have chosen my words better. I've only run into it once. I was surprised by it, but I dug into my `node_modules` and saw that I was indeed on `beta.7.` If I run into this again I'll try to produce a repo.

[2018-09-11 02:22] emko opened #14539 "Electron missing gamepad button"
* Output of `node_modules/.bin/electron --version`:
v2.0.7
* Operating System (Platform and Version):
Windows 10 x64

**Expected Behavior**
I expect same buttons available as firefox and chrome

**Actual behavior**
Instead of 17 buttons Electron will only give access to 16 so its missing button 16 the vendor button (xbox 360 guide)

**To Reproduce**
just check the gamepad buttons available in Elec

[2018-09-11 04:13] 4eveRS commented on #8575
Since this is no longer a issue in chrome since v63. Can it be fixed at Electron?

[2018-09-11 04:27] 4eveRS opened #14540 "Multi-client remote debugging support"
**Describe the solution you'd like**
Since version 63, Chrome supports multi-client remote debugging, which means it can handle multiple debugger clients (such as webContents.debugger and devTools) at the same time.

In Electron current version, v3.0 Beta, this functionality is not working properly. Once the user set the debbuger in a webContent, if the same webContent request to open the devTools

[2018-09-11 04:35] MarshallOfSound commented on #14540
We actually have a test to ensure this works, see https://github.com/electron/electron/blob/39c5c200ba18ae80961d73bac0c27c06f523b547/spec/node-spec.js#L244

Can you fill out the [Bug Report](https://github.com/electron/electron/blob/master/.github/ISSUE_TEMPLATE/Bug_report.md) issue template in a comment below, in particular a minimal repro and version information would be very useful

[2018-09-11 04:38] sryze opened #14541 "All Electron based apps crash at launch on Ubuntu 18.10"
I have tried using a number of Electron apps on Ubuntu 18.10 (which is not released yet) , e.g. VS Code, Atom, Skype, and none of them work - they all segfault immediately after launch with the similar stack traces:

Atom (1.30.0):

[code]

VS Code (package version: 1.27.1-1536226049):

[code]

* Output of `node_modules/.bin/electron --version`:
* Operating System (Platform and Version): Ubuntu 18

[2018-09-11 04:44] MarshallOfSound commented on #14541
Duplicate #13972

[2018-09-11 04:44] #14541 closed

[2018-09-11 06:53] KarenHuang2016 opened #14542 "Failed to run "gn gen" when build electron on Windows"
* Operating System (Platform and Version):
Windows 10 and VS 2017

**To Reproduce**
1. git.exe clone --recursive https://github.com/electron/electron.git D:\Elelctron\src
2. depot_tools is located at D:\Electron
3. set D:\Electron\depot_tools;%path%
4. set DEPOT_TOOLS_WIN_TOOLCHAIN=0
5. cd D:\Elelctron\src
6. gn gen out/Default --args="import(\"//build/args/release.gn\")"

**Result:**
Traceback (m

[2018-09-11 07:03] emmkimme commented on #14542
I get the same issue, same error, same env.
The build-instructions-[os] files still refer bootstrap.py which disappeared and build-instructions-gn does not work.

[2018-09-11 07:14] coreybruce commented on #6996
it already is supported in Linux and it's really annoying, I keep accidentally pressing the button on my mouse, how do I disable the back button?!

[2018-09-11 07:30] t57ser opened #14543 "Electron 3 webview loading external url slow"
* Output of `node_modules/.bin/electron --version`: 3.0.0-beta.10
* Operating System (Platform and Version): Windows 7
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): 2.0.9

**Expected Behavior**
Time to load external url takes the same time as it would in the old version

**Actual behavior**
The loading stalls for many seconds

**To Repro

[2018-09-11 08:02] aknuds1 commented on #7849
I'm wondering about the same as @hicaro does, i.e. when the user cancels the print dialog there's no callback.

[2018-09-11 08:16] larsbs commented on #14528
I created a test repo https://github.com/Drawbotics/webview-hangs

[2018-09-11 08:59] MarshallOfSound opened #14544 "[C67] Review synchronous permission check implementation"
See https://github.com/electron/electron/blob/54ad38526095f4a415ad75a1757feae4336c9db4/atom/browser/atom_permission_manager.cc#L213 and https://github.com/electron/electron/blob/54ad38526095f4a415ad75a1757feae4336c9db4/atom/browser/atom_permission_manager.cc#L246

Should probably call out to https://github.com/electron/electron/blob/54ad38526095f4a415ad75a1757feae4336c9db4/atom/browser/atom_permis

[2018-09-11 12:31] gniezen opened #14545 "Device chooser for WebUSB"
**Is your feature request related to a problem? Please describe.**
Electron has a chooser for Web Bluetooth (#5565), but no chooser for WebUSB. Even if there is only one device, WebUSB still requires the chooser to be used, currently resulting in a `DOMException: No device selected` when calling `navigator.usb.requestDevice()`.

WebUSB has been available (without an experimental flag) since Chromi

[2018-09-11 12:34] gio1217 commented on #11908
same issue

[2018-09-11 12:40] vaidyaanand commented on #11908
@gio1217 I sort the issue, by `app.disableHardwareAcceleration();` or if you are using `transparent: true` disable it will sort the issue.

[2018-09-11 12:50] MarshallOfSound commented on #14545
Just commenting here that we won't implement any UI for this, if someone gets to implementing this it would follow the same pattern as the bluetooth API which emits an event with the possible bluetooth devices and leaves the UI up to individual apps.

[2018-09-11 14:24] felixrieseberg opened #14548 "AppContainer Process Isolation on Windows 10"
Using tools like [`electron-windows-store`](https://github.com/felixrieseberg/electron-windows-store), Electron can be packaged as an `appx` app and run in the same environment as Windows Store apps, commonly known as UWP apps. They're still `exe` binaries, they're just running as part of a package and with a package identity attached.

While those applications are running within a scoped amount o

[2018-09-11 14:47] alexeykuzmin opened #14549 "Upgrade to Chromium 68"
Chromium **68.0.3440.128**
V8 **6.8.275.30**
Node.js **10.10.0**

[2018-09-11 15:14] 4eveRS commented on #14540
**Electron version**: v3.0.0-beta.5
**Operating System**: macOS Sierra 10.12.6

**Expected Behavior**
Multi-client remote debugging should be supported by Electron.

**Actual Behavior**
Multi-client remote debugging is not actually supported.

_Example of actual behavior_
Create a webview and attach a debugger to its webContents.
Send commands to test if its working.
Enable webview devTools.
webCo

[2018-09-11 16:09] Slapbox commented on #14342
@sofianguy can you possibly provide a working example though? This is a very common question that's going without working answer on Stack. None of the examples seem to work no matter how much time I spend trying to figure out what the issue could be. I've been using a crazy custom preload script for months figuring eventually an answer would surface, but one has not.

- https://stackoverflow.com/q

[2018-09-11 16:43] gangdelian commented on #13519
@burtonator
I am very sorry that the reply is late. You can try this code，it work well on my mac。You must use async/await or setTimeout in the interceptStreamProtocol callback，It is very strange，maybe it is a bug or feature？

const electron = require('electron');
const app = electron.app;
const protocol = electron.protocol;
const BrowserWindow = electron.BrowserWindow;
const {PassThrough} = requir

[2018-09-11 16:52] Slapbox commented on #14513
@deepak1556 I've not narrowed it down completely yet, but it seems to only occur if a window besides the first one created is paused in the debugger when you use `app.quit()`. If this is correct, it should hardly be a concern for production.

[2018-09-11 17:12] burtonator commented on #13519
Oh.. interesting. To clarify you're saying it ONLY works if you use setTimeout or async?

I will definitely have to try that and see.

[2018-09-11 17:35] binaryfunt commented on #6344
This is still a problem for me. Windows 10, Electron v2.0.9, Chromium 61, 1920x1080 LCD monitor with 100% DPI.

Top image is Chrome 68, bottom is Electron:

![untitled-6](https://user-images.githubusercontent.com/14579418/45376907-f448f280-b5f0-11e8-9d06-2347f4645251.png)

Strangely, I've noticed GitHub Desktop (built in Electron, using Chromium 61 when I checked) _does_ have sub-pixel anti-aliasi

[2018-09-11 18:27] deepak1556 commented on #14543
Hi! do you have any virtual network adapter setup, there were issues with it that were reported for a similar verison https://github.com/electron/electron/issues/13829, can you check if its the same problem you are facing. Also can you confirm if the network requests from webview are only problematic or any network requests from the app is facing the problem. Finally can you attach the output file

[2018-09-11 18:34] 4eveRS commented on #14540
One thing that I just noticed is that, if we use commands that use debugger/devTools interface, for example, setting a viewport in a webview through webContents.enableDeviceEmulation(), if later we set a debugger to that same webContents, that device emulation is disabled.

So there's a issue  when running debuggers, devTools and commands in webContents that utilize the devTools protocol.

[2018-09-11 18:40] sofianguy commented on #14417
Thank you for your issue!

We haven't gotten a response to our questions in our comment above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2018-09-11 18:40] #14417 closed

[2018-09-11 18:47] deepak1556 commented on #14540
@4eveRS Thanks for the test case, i have fixed the multi client problem while doing a cleanup in https://github.com/electron/electron/pull/14522, will backport the specific fix to 3-0-x branch soon.

[2018-09-11 18:58] Lombra commented on #13829
[net-log.txt](https://github.com/electron/electron/files/2372306/net-log.txt)

No additional command line flags.

I noticed that passing --no-proxy-server seems to be another workaround though, in case that helps.

[2018-09-11 19:08] burtonator commented on #13519
Confirmed that it worked!! Good find!  This should seriously improve the performance of my app!  Knock on wood!

[2018-09-11 21:08] deepak1556 commented on #12895
@dough654 can you provide the following details to eliminate some possible causes and further diagnose the issue.

* Do you see the issue when you run the app with `--no-proxy-resolver`
* If you have proxy auto detect settings can you try disabling it and run the app
* Can you provide the output of `--log-net-log` for the app, `app.exe --log-net-log=netlog.json`
* Do you have any problems with loa

[2018-09-11 21:12] GhostlyDark commented on #13829
[netlog.txt](https://github.com/electron/electron/files/2372734/netlog.txt)

Passed --enable-sandbox, which shouldn't make a difference.

Captured within a VMWare Virtual Machine running Windows 7 32-bit. Deactivating the network adapter within the VM fixes the issue.

@Lombra Thanks for the workaround. This will come in very handy.

[2018-09-11 21:30] predator-1 opened #14554 "electron.d.ts doesn't contain app isPackaged"
electron.d.ts doesn't contain app isPackaged.Doc has it https://github.com/electron/electron/blob/master/docs/api/app.md and it works. How can I add it? Or anyone add it pls. Thanks.

[2018-09-11 21:36] theyezzyman opened #14555 "Issue setting user:pass authenticated session proxy"
**Expected Behavior**
Use the session.setProxy function of a window to set a user:pass authenticated proxy. Load URL in that window. Expect that app.login event is triggered and request is made.
**Actual behavior**
Set session proxy to a user:pass authenticated proxy, loadURL requests fail with status "failed" in dev tools. App.login event never called.
**To Reproduce**
Create a window, use the se

[2018-09-11 21:38] deepak1556 commented on #13829
@Lombra @GhostlyDark thanks for the log, I was able to confirm the issue. We switched to use the system proxy resolver in 3.x, which seems to have problems with proxy auto-detect settings. I will look into fixing this. Can you confirm if disabling proxy auto-detect solves this ? Can also check if disabling auto-detect and specifying a explicit PAC url `http://wpad/wpad.dat` which essentially disab

[2018-09-11 21:56] #13683 closed

[2018-09-11 22:07] GhostlyDark commented on #13829
Disabling auto-detect **fixes** the issue.
Specifying `http://wpad/wpad.dat` or `http://wpad.example.com/wpad.dat` as configuration adress **does not fix** the issue.

I changed the LAN settings of inetcpl.cpl, so I hope I got this right.

[2018-09-11 22:12] deepak1556 commented on #13829
@GhostlyDark thanks, that helps. We will have to move away from the system proxy resolver to fix this, the resolver timeout is expected in this case as per the implementation under auto detect https://cs.chromium.org/chromium/src/docs/proxy_auto_config.md.

[2018-09-11 23:02] nitsakh commented on #14360
Interesting... I just found that this bug happens in 2.0.9 also. Maybe less frequently, but it did happen.

[2018-09-11 23:09] Slapbox commented on #6344
Holy crap! Can we get @binaryfunt's tip into the docs somewhere? If it's there already, I never found it when I researched this in the past for quite a few hours.

[2018-09-12 00:16] nornagon commented on #14542
Please read the [build instructions for GN](https://github.com/electron/electron/blob/master/docs/development/build-instructions-gn.md) carefully. The process of checking out and building Electron has changed dramatically with the introduction of GN. The steps listed in the original post are very far from the correct sequence of steps for building Electron, as detailed in the build instructions.

[2018-09-12 00:16] #14542 closed

[2018-09-12 00:40] javan commented on #14474
There are number of issues with focus and selection within `<webview>`s. See https://github.com/electron/electron/issues/4539#issuecomment-250991454 for a somewhat related discussion.

[2018-09-12 01:27] nornagon commented on #9662
Ah, sorry, you're right about which python it uses. I was thinking about depot_tools on windows, which does install its own version of python.

https://groups.google.com/forum/#!topic/v8-users/hQf8jn7BJRE might be of some help to you.

I'm closing this for now because we don't plan to support musl officially. I'm happy to offer what help I can, though!

[2018-09-12 01:27] #9662 closed

[2018-09-12 02:09] MarshallOfSound commented on #14554
@predator-1 That feature is only available in `>=3.0.0` and is present in those versions `.d.ts` files

[2018-09-12 02:09] #14554 closed

[2018-09-12 02:12] MarshallOfSound commented on #14555
Duplicate #12443

[2018-09-12 02:12] #14555 closed

[2018-09-12 03:09] Ortonzhang opened #14565 "The local shortcut key setting is invalid"
platform：Mac
version： electron 2.0.9

I added a local shortcut according to the documentation example. I didn't report an error after starting the service, but I didn't see the set shortcut. I didn't trigger the event when I pressed the button.

The main code is as follows：

[code]

[2018-09-12 05:03] natew opened #14567 "[Mac] Hover styles and events don't work when window is unfocused"
* Output of `node_modules/.bin/electron --version`: 3.0.0-beta.8
* Operating System (Platform and Version): Mac OSX Mojave

**Expected Behavior**

There should be an option to accept mouse events when a window is unfocused.

**Actual behavior**

WIndows don't accept any hover CSS states or events while unfocused.

**Additional Information**

I know about this ticket: https://github.com/electron/el

[2018-09-12 05:08] EddieOne commented on #2543
The first answer isn't clear enough. Here's the secret sauce. :+1: :+1:

[code]

[2018-09-12 05:08] MarshallOfSound commented on #14567
This would need to be fixed / implemented in Chromium, if you want this feature you should raise it on Chromium's bug tracker and ask them to implement it.

Closing as duplicate of #2797

[2018-09-12 05:08] #14567 closed

[2018-09-12 05:51] natew commented on #14567
Don’t close it just because it’s upstream. This lets people vote on it and
discuss it. You’re shutting down discussion of a valid feature request
that’s related to electron.

[2018-09-12 06:18] MarshallOfSound opened #14568 "Windows GN build does not recognize high DPI screens"
* Output of `node_modules/.bin/electron --version`: `4.0.0-nightly.20180823`
* Operating System (Platform and Version): Windows
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): `3.0.0-beta.10`

**Expected Behavior**
Window should not be blurry at high DPI

**Actual behavior**
It's blurry

**To Reproduce**
Just launch the default app on a hi

[2018-09-12 06:45] t57ser commented on #14543
Yes it appears to be the same problem, when deactivating the VMware network adapter it works.
The network requests are problematic for all of the app, I tried redirecting from a browserwindow, browserview and webview, all behaving the same.
[netlog.txt](https://github.com/electron/electron/files/2373847/netlog.txt)

[2018-09-12 07:19] felixrieseberg opened #14570 "macOS window controls missing with 'hiddenInset' and macOS 10.12"
* Affected version: All of Electron 3.0
* Operating System (Platform and Version): macOS 10.12 and below (Sierra and below)
* Last known working version: Electron 2.0.7

We've discovered that upgrading to Electron 3 results in missing macOS window controls on macOS 10.12 and below. We've isolated that issue to the Electron 3 update.

**Expected Behavior**

`titleBarStyle: 'hiddenInset'` should res

[2018-09-12 08:40] alexeykuzmin commented on #14568
@MarshallOfSound Have you tried to build Electron from the `master` from the very last commit with gyp build available?

[2018-09-12 09:10] gangdelian commented on #13519
@burtonator if not use  setTimeout or async，most of the time，it will not work。I hope electron develop team will improve it later

[2018-09-12 09:28] alexeykuzmin opened #14573 "Enable "remote module remote promise emits unhandled rejection events in the renderer process" test"
It has been disabled after the Chromium 67 upgrade.

[2018-09-12 09:43] MarshallOfSound commented on #14568
@alexeykuzmin No, I just took the latest 3.0 beta, I can try master just before the gyp removal tomorrow.

[2018-09-12 11:29] cumajkeee opened #14576 "Electron 2.0.2 Windows 7 crash"
Application crashing randomly. First app become not responding, than displays as white screen and crash. Any help will be appreciated!

Exception summary from the dump analysis:

CONTEXT:  (.ecxr)
rax=000000007d234f9e rbx=00000000c0000374 rcx=000000000a47daf0
rdx=0000000077697c70 rsi=0000000000000000 rdi=0000000077697c70
rip=000000007762f6b2 rsp=000000000a47e100 rbp=000000000b3a2d20
 r8=6b17a0ab29

[2018-09-12 12:03] deepak1556 commented on #14543
@t57ser thanks for the confirmation and the log. I can confirm the cause is same, for now please use the workarounds mentioned in https://github.com/electron/electron/issues/13829. Thanks!

Merging this to https://github.com/electron/electron/issues/13829

[2018-09-12 12:03] #14543 closed

[2018-09-12 12:08] Brandinga commented on #14549
would need chromium #69.0.3480.0

because of this [fix](https://bugs.chromium.org/p/chromium/issues/detail?id=853403)
Reason: [win 10 tabletmode -> password fields -> no touchkeyboard](https://social.technet.microsoft.com/Forums/en-US/00e5ef30-8134-4fc6-8632-958d97b954d7/windows-10-1803-touchpad-doesnt-popup-for-password-fields-in-chrome?forum=win10itproapps)

[2018-09-12 12:13] deepak1556 opened #14577 "[C67] Fix printing"
It is disabled in master now, fix it and enable it back.

[2018-09-12 13:10] MarshallOfSound commented on #14549
@Brandinga To make the upgrade process as simple as possible we go one version at a time, once 68 is complete we can look at 69

[2018-09-12 13:18] 0mnsium commented on #10723
Electron version: v2.0.8
Operating system: Windows 7 Professional (64bit Operating System)

**Expected behavior**
When AlwaysOnTop is enabled on a BrowserWindow, the dialog windows (such as dialog.showOpenDialog(...)) should be on top of the app screen.

**Actual behavior**
On Windows, dialog windows stay behind the app screen when AlwaysOnTop is enabled (making them invisible for the user).

**Ho

[2018-09-12 13:59] dataich commented on #8547
I'd like to call setSpellCheckProvider on main process too 👍

[2018-09-12 14:19] christophpre opened #14580 "Pepper Flash Plugin: spark components not visible"
* Output of `node_modules/.bin/electron --version`: v3.0.0-beta.10
* Operating System (Platform and Version): Windows 10 10.0.16299 Build 16299 **and** MacOS High Sierra 10.13.6
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): v2.0.9

**Expected Behavior**
Labels and values of flash spark controls should be visible inside a flash plugin.

*

[2018-09-12 14:27] SwiTool commented on #2543
Yea I don't know why the title was updated, because I removed everything from the electron-webpack config, but still, by putting your code it works great.
Btw, it's not "how to change the window title" but "how to prevent the window title to be changed"

[2018-09-12 14:58] Javierkaiser commented on #12445
Also not working in electron 3 beta 4
    Electron version: 3.0.0-beta.4
    Operating system: Linux mint 18 (based on ubuntu 16.04)

[2018-09-12 15:28] chrilith opened #14582 "Wrong menu shortcut representation in Windows"
* Electron version: 3.0.0-beta.1 to 10
* Operating System: Windows

**Expected Behavior**
Shortcuts should be properly displayed in the the app menu.

**Actual behavior**
Using `CommandOrControl+Shift+O` shortcut, the menu entry shortcut should be shown as 'Ctrl+Shift+O', but "Ctrl+O" is displayed instead. The shortcut works fine though.

Same problem with roles. For instance `forcereload` will sh

[2018-09-12 16:32] lukasbash commented on #10427
I am using manjaro with a 4.17 kernel.
My DE is gnome 3.27.

What is the status on this?

Thank you guys!

[2018-09-12 17:14] brett84c commented on #8036
[code]

[2018-09-12 17:24] SayakMukhopadhyay opened #14585 "Tracking electron architecture when downloaded via npm"
* Output of `node_modules/.bin/electron --version`: 2.0.9
* Operating System (Platform and Version): Win 10 x64

* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable):

### Premise
My issue is the same as https://github.com/electron-userland/electron-prebuilt/issues/219
We need to call 32 bit dlls from the electron app which I will be doing via `

[2018-09-12 17:45] nitsakh commented on #13722
Closing as the PR has been merged now.

[2018-09-12 17:45] #13722 closed

[2018-09-12 17:55] GhostlyDark opened #14587 "[Bug] Pepper Flash Plugin not loading"
Pepper Flash Plugin does not load in v3.0.0-beta.11 across all operating systems:
Windows 10 x64, Ubuntu 18.10 x64, macOS 10.14 have been tested.

It worked fine in v3.0.0-beta.10

[2018-09-12 18:00] nornagon commented on #14568
Seems highly likely that this is related to the GN changes. I'll take a look today.

[2018-09-12 18:28] theyezzyman opened #14589 "Issue setting user:pass authenticated session proxy (still)"
**Expected Behavior**
Use the session.setProxy function of a window to set a user:pass authenticated proxy. Load URL in that window. Expect that app.login event is triggered and request is made.
**Actual behavior**
Set session proxy to a user:pass authenticated proxy, loadURL requests fail with status "failed" in dev tools. App.login event never called.
**To Reproduce**
Create a window, use the se

[2018-09-12 18:58] #14513 closed

[2018-09-12 21:26] deezy136 commented on #9268
Can I work on this please

[2018-09-12 22:49] sofianguy commented on #14587
duplicate. please follow https://github.com/electron/electron/issues/14580 for updates

[2018-09-12 22:49] #14587 closed

[2018-09-12 23:05] yagnyaPatel commented on #9268
Hey, I'd like to work on this. This would be my first PR.

[2018-09-12 23:09] MarshallOfSound commented on #14585
@SayakMukhopadhyay If you want this kind of behavior you just need to make a `.npmrc` at the root of your project with a single line `arch=ia32`.  All npm installs will pick that up in the future

[2018-09-12 23:09] MarshallOfSound commented on #14585
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-09-12 23:09] #14585 closed

[2018-09-12 23:11] MarshallOfSound commented on #14545
@reillyeon Yeah I took a look at this and it's not hooked up to webcontents observer like blueooth is.  Might just wait for a refactor :smile:

[2018-09-12 23:12] MarshallOfSound commented on #14582
Duplicate #14501

[2018-09-12 23:12] #14582 closed

[2018-09-13 00:31] nitsakh commented on #14570
Ahh! Yes, it's 10.12 or lower.

[2018-09-13 00:50] steverandy commented on #14474
I'm seeing similar issue on v3.0.0-beta.12 too.

[2018-09-13 02:54] sanghoTW opened #14601 "electron clipboard writeImage only png type"
ex]
let image = nativeImage.createFromDataURL(reader.result);
clipboard.writeImage(image, 'jpeg');

React js and Electron are used together.
Even if the jpeg type is specified, it is saved as a png file to the clipboard.
Please tell me how I am converting in the wrong way, thank you.

[2018-09-13 03:26] yagnyaPatel commented on #14023
Hey, I'd like to work on this. If someone is already working on this, I'm willing to split the work. Otherwise, I can take it all on.

[2018-09-13 03:36] MarshallOfSound commented on #14601
It looks like you didn't fill out our [Issue Template](https://raw.githubusercontent.com/electron/electron/master/.github/ISSUE_TEMPLATE.md), please ensure you provide all information requested in the issue template so that we can try to help you out.

In the future issues you create without the template will be closed, you can find the issue template [here](https://raw.githubusercontent.com/elect

[2018-09-13 04:09] sanghoTW commented on #14601
---------------------------------------------------------------------------------------------------------

* Output of `node_modules/.bin/electron --version`:

[ I have verified the package.json file. ]
    "electron": "2.0.2",
    "electron-builder": "19.31.1",
    "electron-prebuilt": "^1.4.13",
    "electron-rebuild": "^1.5.11",

* Operating System (Platform and Version):   [ window10 ]

* Outp

[2018-09-13 04:12] sanghoTW commented on #14601
* Output of `node_modules/.bin/electron --version`:

[ I have verified the package.json file. ]
    "electron": "2.0.2",
    "electron-builder": "19.31.1",
    "electron-prebuilt": "^1.4.13",
    "electron-rebuild": "^1.5.11",

* Operating System (Platform and Version):   [ window10 ]
### Expected behavior

  [  jpeg type images must be saved to the clipboard.]

### Actual behavior

[2018-09-13 06:19] Polunom commented on #8505
@guillaumearm yep, also broken on `electron@3.0.0-beta.12`

[2018-09-13 06:32] #14573 closed

[2018-09-13 06:54] Polunom commented on #8505
@guillaumearm Yeah, it seems to be broken for all the `electron@2.x.x` versions I've tried. Interestingly, it seems to be fixed on the the newest beta, `electron@3.0.0-beta.12`.

Screenshot using @poiru's test code:
![It works!](https://i.imgur.com/DzUNN9I.png)

[2018-09-13 07:11] MarshallOfSound commented on #14490
I was about to document this as "users should round these numbers", then realized if that's the case for 100% of people we should just do the rounding in the converter 🤔 I'll document that this is the new behavior and call it `semver/minor`

[2018-09-13 07:35] MarshallOfSound commented on #14426
Hey @c3er as your discovered this is fixed in Chromium 62 which means we should have picked up the patch as part of our Chromium 63 upgrade that 66 upgrade that landed in `3.0.0`

[2018-09-13 07:35] #14426 closed

[2018-09-13 07:42] MarshallOfSound commented on #14337
Duplicate #7584

[2018-09-13 07:42] #14337 closed

[2018-09-13 07:51] MarshallOfSound commented on #14164
You can get the current image on the clipboard with https://electronjs.org/docs/api/clipboard#clipboardreadimagetype and listen for paste commands with the [`paste`](https://developer.mozilla.org/en/docs/Web/Events/paste) event

[2018-09-13 07:51] #14164 closed

[2018-09-13 07:54] MarshallOfSound commented on #14123
Making a browser in Electron is not a good idea, if you want to build a browser using an Electron-like technology I'd reccomend looking into the Electron fork [Muon](https://github.com/brave/muon) that powers [Brave](https://brave.com/)

As for this request to get a list of malicious websites, we don't have this information, I don't believe chromium has this information.  I think google has a serv

[2018-09-13 07:54] #14123 closed

[2018-09-13 07:58] MarshallOfSound commented on #14091
@burtonator I think there's a mis-understanding here, a `webFrame` instance is not a `webContents`.  A web contents can own many web frames.

For your use case I'd recommend handling all the web frame work inside a preload script and handling all the web contents work in the main process.  This is purely because this is where they technically live in the Chromium world.

[2018-09-13 07:58] #14091 closed

[2018-09-13 07:59] MarshallOfSound commented on #14088
@oleksiipotiekhin This kind of thing would be implemented in userland, we don't normally implement anything framework specific.  If someone builds this though we can link it from our community docs to let people know it exists.

[2018-09-13 07:59] #14088 closed

[2018-09-13 08:00] MarshallOfSound commented on #14090
@TheCaveFire Are you signing / running this on a macOS VM by any chance?

[2018-09-13 08:02] MarshallOfSound commented on #14047
@rhyst The issue here is the variable name changed between Electron 2.0.0 and 3.0.0.

See the latest `electron-download` [sources](https://github.com/electron-userland/electron-download/blob/master/lib/index.js#L70).  The latest `electron` release will respect `ELECTRON_CACHE`

[2018-09-13 08:02] #14047 closed

[2018-09-13 08:03] MarshallOfSound commented on #14042
Thank you for taking the time to report this issue and helping to make Electron better.

Please provide a standalone test that a tester could run to reproduce the issue. This makes fixing issues go more smoothly: not only does it ensure the right thing is tested, but it also prevents triage from bottlenecking on making testers write new tests for each new issue.

I'm setting the more-information-n

[2018-09-13 08:03] MarshallOfSound commented on #14037
@hushunding Can you test the latest `3.0.0-beta.12`?

[2018-09-13 08:04] MarshallOfSound commented on #14016
This issue has gone away now that GN has landed 🎉

[2018-09-13 08:04] #14016 closed

[2018-09-13 08:35] markleutloff commented on #13549
Should have been fixed with 3.0.0 beta-10 by #14453, but it is still happening with 3.0.0 beta-12.

[2018-09-13 08:44] larsbs commented on #14528
Shouldn't there be an error at least or something for the users? It's very obscure and you're left with no errors, output or whatever.

[2018-09-13 08:59] bpasero commented on #14513
Verified 👍

[2018-09-13 09:10] lepinay commented on #11072
@sofianguy could you add the tag crashreporter too to the issue ? I think it's missing thanks !

[2018-09-13 09:17] bpasero commented on #13549
Seems to be working OK for VSCode at least. We saw the issue when restoring multiple windows on startup.

[2018-09-13 09:17] divyamrastogi commented on #14443
Hi @MarshallOfSound
You're right. It could be impossible for anyone to debug without a minimal reproduction. Can you tell me if there's anything else I could get you? We face this issue quite often so, the next time it happens we could get that information for you and find a way to solve this.

However unhelpful, my observations until now have been:

1. Even when there is no audio being sent acros

[2018-09-13 09:29] abhijithcs commented on #9780
@Hyperblaster How effective that method is? With my application, I need to print tickets back-to-back. Speed is a factor in that case.

[2018-09-13 09:42] KarenHuang2016 commented on #14542
I can build Electron now. Update the steps here in case any one needs it.
To get source:
    1. Create D:\Electron
    2. Download this: https://storage.googleapis.com/chrome-infra/depot_tools.zip  and unzip it to D:\Electron\depot_tools\ . Eg you should have D:\Electron\depot_tools\auth.py as a file. Then add D:\Electron\depot_tools to path.
    3. Open a 32-bit command prompt (C:\windows\syswow6

[2018-09-13 10:27] abhijithcs opened #14605 "Print "silent" is not working"
electron@2.0.9
node@v8.9.4
MacOS@10.13.6

The "silent" print option doesn't seem to be working as expected. Even though the "silent" option is set to 'true', the system window (Printer Selection Window) pops up and asks to select a Printer.

[code]

[2018-09-13 10:35] fragsalat commented on #1458
This is actually still a problem. I tried to get with iohook the click coordinates and the anchor clicked but this doesn't work when the page is scrollable as iohook returns screenX and screenY but elementFromPoint needs pageX and pageY. Until now I couldn't find a solution for this problem.

[2018-09-13 10:57] GhostlyDark commented on #14587
How is this a duplicate?

Issue from me:
- v3.0.0-beta.11
- Flash player not loading at all

Issue from christophpre:
- v3.0.0-beta.10
- Flash player is loading normally
- Flash controls are invisible

Sure it can be related, but definitely no duplicate.

[2018-09-13 11:47] BONDbATIF opened #14606 "Save dialog does not expand/collapse properly on macOS"
**Electron Version:**"electron": "^1.8.4"
Operating System (Platform and Version):MAC .10.12 and 10.13

**Expected Behaviour**
After Click "^" on 'Save As'  in showSaveDialog, it should display expanded save as dialog window in MAC.
**_Note:_** working in Windows

**Actual behavior**
In showSaveDialog , UI shows some abnormal buttons after Click "^" on 'Save As' dialog box.
Note: save as window no

[2018-09-13 12:02] joaoe commented on #1518
The documentation is incorrect

https://www.getpostman.com/docs/v6/postman/launching_postman/installation_and_updates

It says `libconfig-2-4`. There is no such thing.

[2018-09-13 13:03] abhijithcs commented on #14605
#9780

[2018-09-13 13:28] #14490 closed

[2018-09-13 13:34] jkleinsc commented on #13549
@markleutloff I just tested it in 3.0.0-beta-12 and it appears to be working correctly for me as well.  Here is the repro I used to test the issue:
https://gist.github.com/8a798e84347ad2aeba7fb353712f2690

You can load that repo into [Electron Fiddle](https://github.com/electron/fiddle) or just run it independently.

If you are trying to do something else and seeing issues, can you post code with

[2018-09-13 13:45] cristiangiagante opened #14607 "Attach puppeteer browser to electron app"
I can't attach a puppeteer instance working with jest to the Vue.js app running inside Electron application.

Could you give steps or docs to read to reach this goal? thanks

[2018-09-13 13:53] MarshallOfSound commented on #14607
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-09-13 13:53] #14607 closed

[2018-09-13 14:03] sgd2z opened #14608 "Latest 4.0 nightly on npm"
Is it possible to get the latest master on npm? this - https://github.com/electron/electron/issues/13549 - is a critical issue for us and it would be great to be able to use the latest with the fix for that in.

[2018-09-13 14:05] MarshallOfSound commented on #14608
@sgd2z Master nightlies are currently blocked due to build system changes, that said the issue you linked was backported and released in `3.0.0-beta.12`

[2018-09-13 14:05] #14608 closed

[2018-09-13 14:41] deepak1556 commented on #14168
Reopening as per https://github.com/electron/electron/pull/14600#pullrequestreview-155113231

[2018-09-13 15:21] christian-judt opened #14611 "Derived browser window not detected by dialog"
* Electron version: 2.0.0 - 2.0.9
* Operating system: Windows 7

**Reproduction**
* Create a class derived from the browser window class.
* Create an instance of this derived class to be the browser window.
* Open a save file dialog using this instance as first argument and a default file name in the second argument.

**Expected Behavior**
* A modal save file dialog is opened for the browser windo

[2018-09-13 15:37] MarshallOfSound commented on #14611
@christian-judt As per #23 you can't extend `BrowserWindow`.

See https://github.com/electron/electron/issues/23#issuecomment-19613241

[2018-09-13 15:37] #14611 closed

[2018-09-13 15:40] #14568 closed

[2018-09-13 15:52] sgd2z commented on #14608
Thanks for the response. We use 4.0 nightlies because we need the will-resize event. Any word on when the block will be lifted?

[2018-09-13 16:10] christian-judt commented on #14611
@MarshallOfSound:
Evidence suggests I can indeeed. And as an added bonus it is even working properly unless I use it as the first argument of the "showSaveDialog" helper method. This specific problem however suggests that at least this specific helper method does not correctly handle javascript signature overloading, which someone probably should have a look at.

[2018-09-13 16:40] MarshallOfSound commented on #14608
@sgd2z Once we have the capability to release a nightly from master we will, the release scripts / CI jobs aren't configured yet

[2018-09-13 16:41] MarshallOfSound commented on #14611
@christian-judt See that comment I linked, it may look like it works but there will be things breaking in the background that you may not notice.  We won't "fix" anything to make it like inheritance is supported when it truly is not

[2018-09-13 17:06] nornagon commented on #14542
Glad to hear it's working for you!

[2018-09-13 17:07] nornagon commented on #14459
it does on CI, but not on local machine

[2018-09-13 17:33] deepak1556 commented on #14540
Fixed in https://github.com/electron/electron/pull/14566

[2018-09-13 17:33] #14540 closed

[2018-09-13 17:49] pfrazee opened #14616 "Crash on exit (Windows)"
* Output of `node_modules/.bin/electron --version`: v2.0.8
* Operating System (Platform and Version): Windows 10

**Expected Behavior**

On exit of electron application, app should close with no issue.

**Actual behavior**

A "Beaker Browser has stopped working" dialog appears on exit.

Here's a stack trace pulled from a .dmp that I captured:

<details>

[code]

</details>

**To Reproduce**

I hav

[2018-09-13 17:53] pfrazee commented on #14616
There are two "IsSandboxed" functions in chromium that could be responsible. [One just references a variable](https://github.com/chromium/chromium/blob/2ca8c5037021c9d2ecc00b787d58a31ed8fc8bcb/sandbox/win/src/sandbox.cc#L45), which seems unlikely as the cause because the stack dump says it's a bad call. [This one](https://github.com/chromium/chromium/blob/bd99b7d4a8c6321fa370190a6e1d0e8e23b16f81/c

[2018-09-13 18:37] BFitzpatrick-Monotype commented on #4858
When I enable the proxy server with authentication, it works fine, unless the proxy authentication credentials are wrong (they are supplied by the user). In that case, this callback is called repeatedly:

`mainWindow.webContents.on('login', onWindowAuthLogin.bind(this));`

When I try to disable the proxy by doing this:

`mainWindow.webContents.session.setProxy({ proxyRules: '' }`

The webContents

[2018-09-13 20:22] Xaymar-Streamlabs opened #14617 "Provide binary releases without bundled MSVC++ and UCRT Runtimes"
**Is your feature request related to a problem? Please describe.**
In 2.x and 3.x releases, electron currently ships with a bundled MSVC++ and UCRT Runtime, which cause native C++ modules that were built with Microsoft Visual Studio 2015 or 2017 to behave differently than expected. Even if the user installs the latest version on their system, the local copy next to the electron.exe is loaded first

[2018-09-13 20:35] nornagon commented on #14617
Electron 4.0.x will be linked with a statically-linked CRT (i.e. built with `/MT`), so the CRT dlls won't be included. That seems like it might cause a different set of compatibility problems, though. I can't imagine that mixing CRTs in the same process is going to end well...

[2018-09-13 20:56] computerquip-streamlabs commented on #14617
That's already been done and it did end bad. It ended up causing issues every single time you used a standard container (heap corruption, intermittent crashes, etc.) I don't recall the exact cause but there was an issue on it here: https://github.com/electron/electron/issues/9443

Is there a reason this is being considered again? In addition, our application can't ship the runtime, even in statica

[2018-09-13 20:56] Xaymar-Streamlabs commented on #14617
Statically linking the CRT would not end well. It would introduce new crashes and also bring back old crashes that were fixed by #9443. If electron chooses to statically link again, we'd either have to use mingw32 to compile the client-side module (risking ABI incompatibilities) or never upgrade to 4.0 until the decision is reverted.

I have several arguments against statically linking the CRT tho

[2018-09-13 21:14] kempy007 commented on #14474
Plus another 1

[2018-09-13 21:15] kempy007 commented on #14474
platform/linux

[2018-09-13 21:17] nornagon commented on #14617
The statically linked runtime is possible because electron 4.0 will be a single statically-linked binary, without `node.dll`. The issues in #9443 are about linking two copies of the static runtime into two separate dlls, which won't be the case in the static build.

Can you expand on the GPL restrictions? The one exception to the statically-linked binary is ffmpeg, which remains a separate dll.

[2018-09-13 21:18] kempy007 commented on #14474
If you go to where electron window opens and click in the input field, it begins to show in the client, not sure if that will help.

[2018-09-13 21:33] nornagon commented on #14617
All this said, it's not crazy that we could link the dynamic CRT instead of the static CRT if we decide that's the right way to go. The decision was made this way because that's how Chromium works, and in general, the closer we hew to how Chromium works, the easier it will get to stay up to date with Chromium.

[2018-09-13 21:53] computerquip-streamlabs commented on #14617
Disclaimer: IANAL. We use both GPLv3 and GPLv2 licensed libraries. GPLv3 which has a broader idea of what a "System Library" is. It is mentioned in their quick guide that shipping a proprietary C runtime is okay in that exception under the concept of a "Major Component" (though nothing is mentioned for static libraries still as far as I can tell so not 100% sure on that one even if this goes throu

[2018-09-13 22:10] nornagon commented on #14617
Yeah, we definitely don't want to break every native module! Electron's own tests include a simple native module test using the `runas` native module, which has been working fine with the static build for a while. It would be super awesome to have a built-in test that tests for the behaviour you're worried about. Would you be open to working on a PR to add such a test? i.e. something that exercise

[2018-09-13 22:34] computerquip-streamlabs commented on #14617
If I'm honest, I'm not sure I'm going to have time to do this any time soon. I'm also not aware of a pattern of behavior that caused the conflict. Our reproduction case was to create a std::stringstream or use particular functions/containers and we would get a stack trace (sometimes an unusable one) that would lead into the destructor of that container or it would corrupt our heap causing rather m

[2018-09-13 23:21] burtonator opened #14619 "Tyepscript types for 'Headers' incorrect"
I'm trying to implement a stream handler and the Headers aren't properly defined.  Headers has nothing so it's not possible to access them as a map.

[code]

[2018-09-13 23:57] JaieParker opened #14621 "Electron crypto subtle encrypt returns undefined"
**To Reproduce**
Follow instructions to install https://github.com/electron/fiddle
Open a dev console and try the following code:
https://codepen.io/pen/?editors=0010#
[code]

**Expected Behavior**
I expect to get an array of length 16 for eData

**Actual behavior**
I get an empty array buffer

[2018-09-14 01:10] keybeejeebee commented on #13751
I think this may have been addressed in the latest beta. I'm not experiencing the crash with apps I had issues with before, or the example provided by @Thomas101

[2018-09-14 02:09] sofianguy commented on #14619
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-09-14 02:09] #14619 closed

[2018-09-14 02:12] codebytere commented on #12814
This no longer occurs on 3-0-x, I've confirmed with the repro steps!

[2018-09-14 03:04] biosina1 commented on #14601
Please check my comment. ^^

[2018-09-14 05:03] ravibpatel commented on #13751
Same here. Not experiencing the crash now.

[2018-09-14 06:20] markleutloff commented on #13549
Works for me now, I had this in my dependencies:
"electron": "^3.0.0-beta.12"

Which grabbed the nightly as it seems, where it didnt work.

Thanks.

[2018-09-14 09:02] FibreFoX commented on #8977
@jbmonroe I had this issue too, the electron documentation is flawed here!

To workaround this, I had to use [RobotJS](https://github.com/octalmage/robotjs/) to simulate some special keys:
[code]

@zcbenz maybe there should be a statement in the documentation, that these special keys are not "sendable", or a hint how to actually send these keys/chars.

[2018-09-14 11:20] nofear87 opened #14624 "How to connect puppeteer to electrons websocket endpoint"
Any ideas how to connect puppeteer to a running electron browser window? I will create a pdf via puppetter from a running electron browser window. Puppetter's connect method allows to pass in a browserWSEndpoint. Is there such an endpoint?

[2018-09-14 12:06] Heiiji commented on #13740
I have the same problem with Windows 10 Home and electron 2.0.9. The probleme appear when client is build  with electron-builder (on debug mode with a localhost, it's work fine)

[2018-09-14 12:18] christian-judt commented on #14611
@MarshallOfSound:
Thank you for the insight. I will try to use a proxy class instead to manage "my" browser windows.

[2018-09-14 12:38] MarshallOfSound commented on #14624
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-09-14 12:38] #14624 closed

[2018-09-14 12:44] ran-j opened #14625 "getSources is not defined"
I'm traing to capture screem using

[code]

But gives me a error
https://imgur.com/a/9Udmvop

[code]

[2018-09-14 13:07] envex commented on #13916
@sethlu Thank you!

[2018-09-14 13:12] MarshallOfSound commented on #14625
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-09-14 13:12] #14625 closed

[2018-09-14 13:13] MarshallOfSound commented on #14625
`desktopCapturer` is an API that only works in the renderer process

[2018-09-14 13:34] alihaider96 commented on #13164
Hope it gets resolved somehow, it's really bugging me out 😆
![image](https://user-images.githubusercontent.com/9122088/45553266-51c88380-b82b-11e8-8a1b-ead6fb027550.png)

[2018-09-14 13:36] jbmonroe commented on #8977
I could probably live without the Enter key but the lack of Page Up and Page Down makes the customer and the users unhappy.

I'll look into RobotJS to see how much fuss would be involved in adding it to the project (we're just about to completion and the interval before we upload the "final" release is very short).  For future projects, this could be exactly what I need.

[2018-09-14 13:37] Xaymar-Streamlabs commented on #14617
Will it also be smaller than an electron without any MSVC/CRT runtime bundled? We'd like to keep app size down and compatibility up, and static MSVC/CRT is not helping the former one, while the latter one is to be determined (everything broke the last time CRT was statically compiled in, so I don't think it'll be different this time).

I can get a basic electron-crt-tests module going that will ha

[2018-09-14 14:59] FFY00 opened #14626 "Electron is executing the default app by default when invoked directly"
* Output of `node_modules/.bin/electron --version`: `v2.0.9`
* Operating System (Platform and Version): Arch Linux

**Expected Behavior**
From the output of `electron --help`, I would only expect for the default app to be launched only when the `-d`/`--default` flag is passed.

**Actual behavior**
When electron is called without arguments, the default app is launched. When an electron app is loade

[2018-09-14 15:46] codebytere commented on #13147
hi @zacharyrs i had some time to dig into this recently, what's happening is that it's hitting a DCHECK:

[code]
This is a DCHECK inherited from Chromium, which looks to be getting triggered through this pair of function calls:
[code]

I'll look into a potential fix

[2018-09-14 15:50] BertholetDamien opened #14628 "Can't hover 5px near border in frameless and resizableless mode"
* Electron: v2.0.9
* Operating System (Platform and Version): Window 10

**Expected Behavior**
Should be able to detect mouse hover when near of border in frameless and resizableless mode.

**Actual behavior**
Actually, the detection near border is not effective. There is a 5px all around the body who not detect mouse hover (seems to be the resizable area when actived). But if you click on the 5px

[2018-09-14 15:51] MarshallOfSound commented on #14626
This is intentional and expected behavior, the default app will load in all cases where an alternate valid app could not be found or was not provided

[2018-09-14 15:51] #14626 closed

[2018-09-14 15:57] FFY00 commented on #14626
Ok, thank you. Why do we have `-d` then? That's what got me confused in the first place :smile:.

[2018-09-14 16:00] setpixel commented on #14570
This is the same issue as https://github.com/electron/electron/issues/14129

It was closed an merged into an unrelated issue for some reason.

In any event, I'm glad someone cares now! <3

[2018-09-14 16:38] burtonator opened #14629 "net.response Headers includes single quoted header keys and values."
The HTTP headers on the net.response object are all single quoted. The values are single quoted too.

This is against Electron 2.0.9 (stable) and the 3.0 betas.

These should not be quoted. The 'Headers' type in the electron.d.ts doesn't have any fields/methods so I assume it's just a dictionary.

There is no .constructor on the object either so it's just an object.

This means they're not compati

[2018-09-14 16:50] ndr3w221 opened #14630 "error installing on linux/arch"
* Output of `node_modules/.bin/electron --version`:
v2.0.9
* Operating System (Platform and Version):
4.14.69-1-MANJARO GNU/Linux
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable):
v2.0.9

**Expected Behavior**
Install electron

**Actual behavior**
[code]
**To Reproduce**
-

[2018-09-14 16:53] steverandy opened #14631 "webContents.getFocusedWebContents always return <webview> web contents"
* Output of `node_modules/.bin/electron --version`: v3.0.0-beta.12
* Operating System (Platform and Version): macOS 10.13.6
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): v2.0.9

**Expected Behavior**
webContents.getFocusedWebContents should return window web contents if it's focused, even when the window has `<webview>`.

**Actual behavi

[2018-09-14 18:50] pushkin- opened #14632 "`setEnabled` calls are "queued" up such that if I disable the window twice, I need to enable it twice to reverse the state. Is that expeceted?"
* Output of `node_modules/.bin/electron --version`: 2.0.0
* Operating System (Platform and Version): Windows 10

**Expected Behavior**
When I disable a window twice via `setEnabled(false)`, I expect the second disable to have no effect.

**Actual behavior**
The second disable is "queued" up, such that I am forced to enable the window twice to get back to normal.

**To Reproduce**
In the electronqu

[2018-09-14 19:15] nornagon commented on #14617
Things are a lot different now than they were :)

I doubt it, since Electron still depends on the CRT, it's just linked statically now instead of dynamically. Have you been building a custom release with those DLLs removed?

In terms of app size, the CRT accounts for less than 1% of the size of electron overall, so I don't think app size is a good argument for supporting a different CRT linkage sc

[2018-09-15 00:16] greghmerrill commented on #8727
The suggestion of @juliangruber to use hidden BrowserWindows has solved this problem for me.  In other words, don't use fork per se, use a BrowserWindow (renderer process) instead.

[2018-09-15 04:50] tonogueira2 commented on #10864
nice... thks.....

[2018-09-15 06:29] emko commented on #14539
i figured it out Electron is using a old Chromium version that has no support for this button, does anyone know how i can update chromium in electron?

[2018-09-15 14:40] etisdew commented on #1335
I have been grepping for the actual implementation of setIgnoreMouseEvents and I'm coming up dry besides finding the interface for its options. Getting a bit frustrated, could I tack this in for an explanation of where its behavior is actually defined?

[2018-09-15 15:08] ckerr opened #14635 "Use dbus to query for org.kde.StatusNotifierWatcher"
Inspired by https://github.com/electron/electron/pull/12743

Right now Electron is hardcoding the desktop environments that are known to support app indicators. It would be less hacky to just check and see if StatusNotifierWatcher is owned on the bus.

[2018-09-15 15:46] MarshallOfSound commented on #14630
@ndr3w221 You either need to give Electron the fs permissions required to download or change the directory it downloads to using the `ELECTRON_CACHE` variable.  For more info on common issues like this, check out our FAQ.

https://github.com/electron/electron/blob/master/docs/faq.md#why-am-i-having-trouble-installing-electron

[2018-09-15 15:46] #14630 closed

[2018-09-15 15:50] MarshallOfSound commented on #14629
@burtonator From your screenshot all those values are quotes because you logged them to console and therefore have been stringified for your console.  The actual key does not include these quotes.  For example:

<img width="358" alt="screen shot 2018-09-16 at 1 49 21 am" src="https://user-images.githubusercontent.com/6634592/45588110-c6e2a880-b952-11e8-9d24-93c26ae8bef5.png">

The quotes are only

[2018-09-15 15:50] #14629 closed

[2018-09-15 22:48] nornagon commented on #14539
@emko unfortunately, upgrading Chromium is not an easy task, as Electron integrates tightly into Chromium, and every new version of Chromium breaks APIs. Fortunately, we're already working on it! Electron 3.0.0 (currently in beta) runs on Chromium 66, and Electron 4.x will likely run on Chromium 67 or 68. Do you know what version of Chromium added support for the vendor button?

[2018-09-15 23:01] alexeykuzmin commented on #14539
@emko Have you tried to use Electron 3?
It hasn't been released as a stable version yes, but it should be pretty ok.
https://electronjs.org/releases#3.0.0-beta.10

[2018-09-16 11:17] minthemiddle opened #14643 "Font Awesome not showing in Electron apps on High Sierra"
**Expected Behavior**
- Apps built with Electron should properly display Font Awesome icons

**Actual behavior**
- On my Mac High Sierra, all apps built with Electron don't show Font Awesome icons
- No corrupt fonts are installed in any of [Mac's font folders](http://www.jklstudios.com/misc/osxfonts.html#fontfolderlocations)

**Screenshots**
![screen shot 2018-09-16 at 13 10 22](https://user-image

[2018-09-16 11:28] MarshallOfSound commented on #14643
I loaded the font awesome example and docs pages in Electron and the icons show fine, this appears to be an issue with these specific apps or maybe your network connection trying to download the fonts.

Screenshots below of the fonts working:

<img width="1792" alt="screen shot 2018-09-16 at 9 27 02 pm" src="https://user-images.githubusercontent.com/6634592/45595945-5c377880-b9f7-11e8-894e-78c9f94

[2018-09-16 11:28] #14643 closed

[2018-09-16 11:29] MarshallOfSound commented on #14643
If you can provide a minimal reproduction sample that shows these fonts not working please @ mention me in a follow up and I can look at this again 👍

[2018-09-16 11:34] minthemiddle commented on #14643
I failed to point out that it is only in packaged apps not on websites. The websites you screenshoted work fine with me as well. I already informed the authored of linked apps. I will close the issue here and just keep it as reference for the apps' maintainers.

[2018-09-16 12:02] minthemiddle commented on #14643
Just for reference:

Other apps have the same problem, it might be related to an outdated version of `glibc`. https://github.com/Mindmapp/mindmapp/issues/47

[2018-09-16 12:32] ramantehlan commented on #14616
I am getting the similar behaviour, any update on it?

[2018-09-16 14:06] carloslfu opened #14644 "DevTools Extensions not working in BrowserView"
* Output of `node_modules/.bin/electron --version`: v2.0.9
* Operating System (Platform and Version): MacOSX Sierra 10.13.4 (17E199)
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): not

**Expected Behavior**
BrowserViews should execute devtools extensions, the same as webviews and BrowserWindows

**Actual behavior**
It doesn't happen

**To

[2018-09-16 15:16] xaviervilla commented on #9413
I've consistently had this identical issue. List of apps effected for me:
Chrome, Opera, Chromium, VSCode, Atom, Signal. (Probably others I can't remember). It's really annoying and I have had this problem since I switched to linux in Janurary, and it happens on every version of linux I've tried. I have an i5 Surface Book w/ 8GB ram, (non-performance base/no dedicated GPU). My surface book uses 3,

[2018-09-16 18:14] sanchezpablo commented on #12460
As far as I understand, the problem is when the application runs in Administration mode (windows), in this mode it's impossible to drag and drop files because the OS is avoiding this behavior, if the same application runs with normal user rights, the drag and drop of files works as expected. I don't know if there is some technique to change this, although.

[2018-09-16 21:47] mafintosh opened #14645 "Electron 3.0.0 using Node.js 10.2.0?"
I just noticed https://github.com/electron/node that Electron 3.0.0 is based on Node.js 10.2.0?

There are some really bad bugs in 10.2.0, including file corruption when writing files >4gb.
The later versions of 10 have all of these things fixed.

I'd strongly suggest not to release any electron based on 10.2.0

[2018-09-16 23:30] MarshallOfSound commented on #14645
We backport fixes for major issues like the ones you reference to our node branches.  E.g. Your large file issue: https://github.com/electron/node/commit/c3c62e09865f925e0f040d8689cf2a207e36c2a1

[2018-09-16 23:30] #14645 closed

[2018-09-16 23:37] mafintosh commented on #14645
Great to hear that! Might be worth noting on that site :)

[2018-09-17 06:06] mofeiwo opened #14647 "Clipboard How images become png format"
* Output of `node_modules/.bin/electron --version`:2.0.8
* Operating System (Platform and Version):MacOS

### Expected behavior
![image](https://user-images.githubusercontent.com/10068397/45607960-78ccc280-ba82-11e8-950d-1945bebddac8.png)

### Actual behavior
![image](https://user-images.githubusercontent.com/10068397/45607833-94839900-ba81-11e8-813b-544f5c4958e3.png)

[code]

[2018-09-17 07:29] GhostDev26 commented on #12634
Still occurs on 2.0.9

[2018-09-17 09:55] sintanial commented on #9805
Same problem too !!

[2018-09-17 17:16] Xaymar-Streamlabs commented on #14617
They really aren't. CRT and MSVCR are still the same way as they were last year when we tried to do the dynamic linking stuff, and newer CRT versions (2017) actually have an ABI breaking change, so statically linking breaks even more (for reference: std::align() now behaves different from before, plus some other stuff).

This also makes us depend on electron updates for security fixes to the CRT/M

[2018-09-17 17:36] natew commented on #11990
This is painful, how are people debugging electron apps without repl working? Any workarounds?

[2018-09-17 17:47] scrozier commented on #13832
+1 This is keeping us from deploying an Electron app that we'd love to deploy this way.

[2018-09-17 18:13] nornagon commented on #11072
Is this also an issue in 2.0.x?

[2018-09-17 19:14] nornagon commented on #1335
If you're using Electron >3.0.0 (currently in beta) and you only need totally-transparent areas to be click-through-able, try the setWindowShape API introduced in #13789.

[2018-09-17 19:53] singuerinc commented on #1335
Looks like is not available on Mac.

[2018-09-17 20:28] alexanderturinske opened #14653 "Pepper Flash Plugin: Couldn't load plugin for 3.0.0-beta.12"
* Output of `node_modules/.bin/electron --version`: 3.0.0-beta.11 && 3.0.0-beta.12
* Operating System (Platform and Version): macOS High Sierra Version 10.13.6 and Windows 10
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): 3.0.0-beta.10

**Expected Behavior**
In 3.0.0-beta.10, the Pepper Flash Plugin does load and does play flash videos

*

[2018-09-17 21:32] alexanderturinske commented on #14653
Perhaps related to #14497

[2018-09-17 22:07] avant5 commented on #12445
Also PeppermintOS (Ubuntu 16.04). Electron 2.0.9

[2018-09-17 23:01] bughit opened #14655 "3.0 regression: intermittent crash after supplying negotiate auth credentials in webContents.login event"
* Output of `node_modules/.bin/electron --version`: v3.0.0-beta.13 x86
* Operating System (Platform and Version): win7 sp1 x86
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): v2.0.9

**Expected Behavior**
no crash

**Actual behavior**
crash somewhere after supplying credentials and the completion of the navigation

**To Reproduce**

on x86

[2018-09-17 23:32] mixn commented on #9293
@MarqueIV Whatever was causing the issue for me must have been wired to a fresh install of macOS and the very first opening of particular apps. Since I’ve done the drag-redrag thing, I haven’t had a single problem. Wonder if this will be the case after every wipe/new machine… 🤔 Would sure be annoying.

I unfortunately don’t install things manually, I do everything via `brew cask install`, so I’m s

[2018-09-18 00:33] Galkon commented on #3948
ETA on a real fix for this? Too many open issues, been waiting for years.

[2018-09-18 01:49] darkangel0217 opened #14658 "when switch pdf preview more than twice on the iframe , electron crashed"
occur environment:
electron 2.0.9
win7
node 8.9.3
electron-quick-start

1. modify the electron-quick-start's code.
1)add follow code in index.html
/**************************************/
\<div\>
\<iframe id="iframe_a" name="iframe_a" width="800px" height="600px" \>\</iframe\>
\<p>\<a id="a1" href="file:\\C:\xxx.pdf"  target="iframe_a" >iframe_a1\</a\>\</p\>
\<p>\<a id="a2" href="http://xx.pdf"  t

[2018-09-18 07:16] dNvl commented on #12423
Yes i experience the same thing. I don't think it is appropriate to toss the in close event as it is responsible for destroying the window object probably. Would appreciate if this would be fixed somehow. But if it is not a real issure i will ignore it for now as well.

[2018-09-18 07:32] jpweeks commented on #13596
I have had this same issue with Electron `1.7.5` and continuing now through `2.0.8`.
Following are my current steps to consistently reproduce the crash:

1. Open color picker from `<input>`
2. RGB Sliders mode must be active by default, if it is not:
2a. Select RGB Sliders mode.
2b. Close color picker.
2c. Close and re-launch app.
2d. Open color picker from `<input>`, RGB Sliders mode should be ac

[2018-09-18 07:42] mlkyo commented on #8388
try 32bit electron for it.

[2018-09-18 08:20] KarenHuang2016 opened #14662 "Failed to get the electron code"
**Environment:** Windows Server 2016 + VS 2017

**Issue description:** We are following the document https://github.com/electron/electron/blob/master/docs/development/build-instructions-gn.md to get elelctron source code. But it always failed.

**Repro steps:**
1.  Create folder D:\Electron
2. Unzip depot_tools.zip to D:\Electron\depot_tools
3. Open a command prompt and cd D:\Electron
4. set path=

[2018-09-18 09:00] christianp commented on #11858
This is holding up a project I'm working on. Following @codebytere's comment, I looked for the bit of code that creates the logs dir, and couldn't find it. I guess you want to fix it 'properly', anyway.

[2018-09-18 09:51] Thomas101 commented on #13751
I can confirm it's fixed with the latest Mojave beta and Electron 2.0.9. Thanks for everyone's time.

[2018-09-18 09:51] #13751 closed

[2018-09-18 10:15] agrublev commented on #7300
@cperthuis I just want to say THANK YOU!! Hahah I am not even using Vue, but logical thinking led me to figure out that i can change my webpack.config.js to have a target property :)
![image](https://user-images.githubusercontent.com/801433/45680944-1bbc2580-baf1-11e8-96b7-0c0e1c6fd7a2.png)
WORKED LIKE A CHARM.

[2018-09-18 11:07] Romace commented on #14606
I'm experiencing the similar issue on expanding/collapsing Save Dialog in Electron v.2.0.9. I've made a screen record of Postman as an example.
I've verified that the issue is not reproducible in Electron v.1.6.11.

![postman_savedialog_issue](https://user-images.githubusercontent.com/17388835/45683359-04f6ec80-bb4c-11e8-8c4c-1fcccad7b81a.gif)

[2018-09-18 12:25] drdevelop opened #14664 "can't use async in item"
In my project, I couldn't use the async await syntax, which is why, because native ES6 is supported and doesn't require a Babel transformation

[2018-09-18 13:09] GhostlyDark commented on #14653
Aha, but my issue #14587 was closed as a duplicate for the wrong reasons. I feel insulted.

[2018-09-18 13:32] bpasero commented on #12820
I can reproduce quite easily with VSCode on Ubuntu 18 by just dragging and dropping an editor tab around. @codebytere please let me know if there is anything to provide further information.

[2018-09-18 13:38] MarshallOfSound commented on #14664
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-09-18 13:38] #14664 closed

[2018-09-18 13:43] bpasero commented on #12820
Update: for me it actually reproduces only when I run VSCode out of sources where we probably enable some development flags (e.g. `ELECTRON_ENABLE_STACK_DUMPING`). I cannot reproduce it in our actual builds, though some users can.

[2018-09-18 14:27] daviwil commented on #12820
I've also seen this issue in Atom on Fedora 28, and I think @bpasero is correct, it only happens in local dev builds.  In my experience if I click and hold on a tab and drag the slightest amount, the whole editor hangs.

[2018-09-18 15:15] erguotou520 opened #14669 "Fullscreen function triggered 'maximize' events also when maximized."
* Output of `node_modules/.bin/electron --version`: 3.0.0-beta8
* Operating System (Platform and Version): Win10

**Expected Behavior**
`enter-full-screen` event triggered only.

**Actual behavior**
`maximize` event triggered also.

**To Reproduce**
First create a frameless window, then call `maximize` method, then add `maximize` and `enter-full-screen` listeners, then call `setFullScreen(true)`.

[2018-09-18 15:31] codebytere commented on #14662
@nornagon, you may have more context here than i :)

[2018-09-18 15:40] Veiintc commented on #1374
Any Update on this?

[2018-09-18 16:18] andens commented on #1335
@etisdew I believe what you're looking for can be found in `atom/browser/native_window_views.cc` (Windows/Linux) and in `atom/browser/native_window_mac.mm` (Mac).

[2018-09-18 16:41] christianbundy commented on #12820
@bpasero @daviwil

Any chance you could explain the difference between "local dev builds" and "actual builds"? I've been able to reproduce this with Electron from NPM and Electron from Arch Linux, but I'd like to be able to narrow it down if possible. Also, could you both add some information about your hardware, operating system, and drivers? I've posted the output of some of my commands [here](h

[2018-09-18 18:28] kwonoj opened #14674 "Electron@3-beta.13 / Accelerator combination doesn't work on windows 10"
* Output of `node_modules/.bin/electron --version`: Electron 3.0.0-beta.13
* Operating System (Platform and Version): Windows 10
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): Electron 2.0.9

**Expected Behavior**
accelerator combination `ctrl-alt-i` triggers menu action on windows 10.

**Actual behavior**
accelerator combination `ctrl-al

[2018-09-18 22:06] Kthulu120 commented on #13373
Issue was replicated on 3.0.0

[2018-09-18 23:57] pfrazee commented on #14570
I've been able to reproduce this

[2018-09-19 00:07] natew commented on #4384
@zcbenz is there a ticket for the original problem?

[2018-09-19 00:28] nornagon opened #14679 "C++ linter doesn't support --fix argument"
i'm not sure if cpplint has an option to auto-fix the issues it reports, but clang-format does & we should use it.

[2018-09-19 01:41] bhj commented on #4690
As of Electron 3 there is an [app.isPackaged](https://electronjs.org/docs/api/app#appispackaged) property:

[code]

[2018-09-19 01:56] icodinglee opened #14680 "Can I drag a div out of electron app ?"
In some case, I need to drag a div out of the electron app , when I released the element, it will go back and trigger a callback function. is there any way to solve this problem?

[2018-09-19 02:31] MarshallOfSound commented on #14680
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-09-19 02:31] #14680 closed

[2018-09-19 05:06] MarshallOfSound commented on #14662
@KarenHuang2016 Can you post the output of `git config --list` on your machine

[2018-09-19 05:49] KarenHuang2016 commented on #14662
@MarshallOfSound, this is the ouput of git config --list:
D:\Electron>git config --list
core.symlinks=false
core.autocrlf=true
core.fscache=true
color.diff=auto
color.status=auto
color.branch=auto
color.interactive=true
help.format=html
http.sslcainfo=C:/Program Files/Git/mingw64/ssl/certs/ca-bundle.crt
diff.astextplain.textconv=astextplain
rebase.autosquash=true
credential.helper=manager

[2018-09-19 06:37] marcino1 commented on #13536
Hi,
I also have this problem, it occurs only on Windows when capturing apps from the Office package (I've checked Word and Excel), on OS X it works fine.
@lzgrzebski @deepakrokz @jack-teng1 did you managed to overcome this issue?

[2018-09-19 06:43] biiiipy commented on #14549
@MarshallOfSound It has been bugging for a long time - why is electron upgrading to newer chromium version so slowly? Electron 3.0 is out with v66, while Chrome v69 has been out for a while. It's kind of frustrating to be always 4-5 months behind. I get that it's not trivial to upgrade, but maybe the whole thing should be rethought how to make the upgrade easier. It would not only allow to upgrade

[2018-09-19 06:54] MarshallOfSound commented on #14662
@KarenHuang2016 My guess was it is something to do with `CRLF` vs `LF` line endings.  Are you running these commands of powershell, cmd or lss?

[2018-09-19 07:21] natew opened #14682 "[Mac] Show tray on mousedown"
* Output of `node_modules/.bin/electron --version`: 3.0.0
* Operating System (Platform and Version): Mojave beta 11

**Expected Behavior**

Holding mousedown on tray should show the menu on Max OSX.

**Actual behavior**

Holding mousedown on tray doesnt show the menu on Max OSX.

**To Reproduce**

Can try this example, or any tray on Mac.

https://github.com/electron/electron-api-demos/blob/2a8c1f

[2018-09-19 07:39] MarshallOfSound commented on #14682
@natew We currently have quite a bit of special logic around popping up the tray menu on macOS.  Having tested a few apps though I do see that this is inconsistent, most native apps pop up the menu on mouse down not up.

https://github.com/electron/electron/blame/master/atom/browser/ui/tray_icon_cocoa.mm#L273-L320

Not sure what the valid fix would be here though considering we can't drop all that

[2018-09-19 07:47] fpsqdb opened #14683 "SourceMap show incorrect content in devtools"
* Electron version: 3.0.0
* Typescript: 3.0.3
* Operating System (Platform and Version): Windows 10 1803
* on last known working Electron version (if applicable): 2.0.9

**Expected Behavior**
This is gif record from 2.0.9
![correct](https://user-images.githubusercontent.com/6482819/45737426-553f7e80-bc20-11e8-8ced-49c6ac58ee7a.gif)

**Actual behavior**
show incorrect content when click the source

[2018-09-19 07:54] KarenHuang2016 commented on #14662
@MarshallOfSound I'm using cmd to run these commands.

[2018-09-19 08:09] bpasero commented on #12820
@christianbundy if I had to guess then this has something to do with how stdout is handled in the one case vs. the other case. I can reproduce the issue of seeing this message popping up from a simple fiddle with a draggable element:

`[31176:0919/100345.056256:ERROR:buffer_manager.cc(453)] [.DisplayCompositor-0x145e13148800]GL ERROR :GL_INVALID_OPERATION : glBufferData: <- error from previous GL

[2018-09-19 08:09] AlexSHoffman opened #14684 "Drop shadows are almost non-existent with window property "frame: false""
Not sure if it affects MacOS and Linux but on Windows 10 it is very noticeable. Drop shadow of every window with `"frame: false"` is almost non-existent, hence you can barely distinguish the app from the background.

Is there anything we can do about it?
I couldn't find any solution, looks like Windows doesn't have any APIs for this. Adding a window padding is not gonna help either since you effec

[2018-09-19 08:58] KarenHuang2016 commented on #14662
@MarshallOfSound It should be an issue with CRLF vs LF. After I set core.autocrlf=false. It works well. Thank you so much.

[2018-09-19 08:58] #14662 closed

[2018-09-19 09:23] astoilkov opened #14685 "Paste shortcut doesn't work in DevTools in 3.0.0"
* Output of `node_modules/.bin/electron --version`: 3.0.0
* Operating System (Platform and Version): macOS High Sierra 10.13.6
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): 2.0.0

**Expected Behavior**
Hitting `Cmd+V` should paste the contents of the clipboard in the DevTools Console tab.

**Actual behavior**
Nothing happens as if I have

[2018-09-19 11:05] ylyxf commented on #12980
version 3.0.0 worked on my win7 which can't run version 2.0.X.

[2018-09-19 11:12] GitNomster opened #14687 "Devtools errors"
* Output of `node_modules/.bin/electron --version`: v3.0.0
* Operating System (Platform and Version): Win 10 x64
I'm using VS code for developing.

**Expected Behavior**
Working without any error.

**Actual behavior**
[code]

**To Reproduce**
Clone electron-quick-start. Start project (npm start). Open chrome dev-tools (ctrl+shift+i), switch to Network tab and punch F5. And error will appears in te

[2018-09-19 13:02] peturh commented on #13382
Same thing noted on Linux 4.15.0-33-generic Ubuntu 18.04.1 LTS and electron@2.0.9

But something actually happens, the screen gets into mobile view. Then nothing happens.

[2018-09-19 13:48] algv opened #14691 "`shell.openItem` is no really control what was successfully opened"
* Output of `node_modules/.bin/electron --version`: "1.6.6"
* Operating System (Platform and Version): Windows 10 x64

**Expected Behavior**
[docs](https://electronjs.org/docs/api/shell#shellopenitemfullpath)
[code]

**Actual behavior**
Electron no really control what was successfully opened

**To Reproduce**
I need open document and after successfully opened move to the trash. Simple code:
[code]

[2018-09-19 13:59] davidnorthetal opened #14692 "`makeSingleInstance` lost its TypeScript definition in 3.0.0 tho it's only deprecated"
* Output of `node_modules/.bin/electron --version`: v3.0.0
* Operating System (Platform and Version): Windows 10 x64
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): v2.0.5

**Expected Behavior**
I compile my TypeScript electron application.

No errors

**Actual behavior**
I compile my TypeScript electron application.

error TS2339: Propert

[2018-09-19 14:13] barisozanguler opened #14693 "fs.writeFile permission error on MAS build"
* Output of `node_modules/.bin/electron --version`: 1.8.4
* Operating System (Platform and Version): MacOS High Sierra 10.13.6
electron-builder version : 20.8.2

**Expected Behavior**
Creating file to selected path on saveDialog.

**Actual behavior**

Throw's permission error as ;

"EPERM: operation not permitted, open '/Users/bguler/Desktop/test2.json'"

**Screenshots**
If applicable, add screens

[2018-09-19 14:28] Cobinja commented on #13381
This is probably due to https://github.com/electron/electron/blame/master/atom/browser/ui/views/menu_bar.cc#L127 where the menu bg color is fetched instead of the menubar bg color, which can be totally different depending on the used gtk3 theme.

[2018-09-19 15:40] MarshallOfSound commented on #14692
@davidnorthetal The TS definitions are generated from our docs and this deprecated API was removed from the docs and replaced with its new version `requestSingleInstanceLock` when we deprecated `makeSingleInstance` which did happen in `3.0`.  (we deprecate in 3.0 and remove in 4.0)

[2018-09-19 15:40] #14692 closed

[2018-09-19 15:45] MarshallOfSound commented on #14691
@algv Electron has no idea what application opened the given file path or what it plans on doing with it.  It may launch and take 20 seconds to read the file or it may read it instantly we don't know and unfortunately, there is no way of us knowing.  If you want to clean up your files I would recommend cleaning them up on computer or application restart.

[2018-09-19 15:45] MarshallOfSound commented on #14691
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-09-19 15:45] #14691 closed

[2018-09-19 15:47] stalina commented on #12423
I faced the same problem while using vscode. Vscode is, somehow, locking the file system and the watchers cannot load them when loading the application.

If you do use vscode and you are facing this problem, try closing vscode and launching your electron app in a simple terminal.
This might do the trick

[2018-09-19 16:40] codebytere commented on #14653
Fixed in latest release.

[2018-09-19 16:40] #14653 closed

[2018-09-19 16:44] GitSquared opened #14697 "v3.0.0 fails to create a working renderer on Linux"
* Output of `node_modules/.bin/electron --version`: `v3.0.0`
* Operating System (Platform and Version): `Debian GNU/Linux 9.5 x86_64`
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): `v2.0.10`

**Expected Behavior**
My previously working application, not concerned by any of the [breaking changes](https://github.com/electron/electron/blob/ma

[2018-09-19 16:48] 4eveRS opened #14698 "Window controls (traffic lights) is not being rendered on macOS with Electron 3.0.0"
* Output of `node_modules/.bin/electron --version`: 3.0.0
* Operating System (Platform and Version): macOS Sierra 10.12.6
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): 3.0.0-beta.1

**Expected Behavior**
creating a new browserWindow with titleBarStyle: hiddenInset, hidden or customButtonsOnHover, should generate the 'traffic lights' in m

[2018-09-19 17:00] MarshallOfSound commented on #14698
Duplicate #14570

[2018-09-19 17:00] #14698 closed

[2018-09-19 18:26] #14679 closed

[2018-09-19 19:24] gtk2k opened #14703 "[Question] How to association Win32Api bounds between Electron screen display bounds?"
I have created an application to acquire images of monitors on Windows with Windows.
When Win32 Api acquires the bounds information of the monitor setting "scale and layout" to 175%
x: -180, y: -855, right: -463, bottom: 242
have become.
When you acquire the bounds information of the same monitor with Electron (screen module)
x: -618, y: -33, width: 618, height: 1098
have become.
I would like to l

[2018-09-19 19:54] nornagon commented on #14697
What graphics card/drivers are you using? Do you see the behaviour still when running with `--disable-gpu`?

[2018-09-19 20:01] nornagon commented on #14549
@biiiipy You aren't the only one frustrated with Electron not keeping pace with Chromium! There are a lot of concrete changes happening at the moment to improve the situation, such as the recent switch to the GN build systems, and improvements to how we track node's patches to v8.

Electron integrates much more tightly with Chromium's internals than nw.js does, which is why upgrading is more diffi

[2018-09-19 20:19] michaelsmitha opened #14705 "window.print() only works once"
* Output of `node_modules/.bin/electron --version`: _v3.0.0-beta.13_
* Operating System (Platform and Version): _Windows 10_
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): _?_

**Expected Behavior**
window.print() should print the window on each subsequent call

**Actual behavior**
window.print() will work once, but fail from there on. Th

[2018-09-19 20:20] KochiyaOcean commented on #14509
GPU process still crashes on 3.0.0, and here is logs of electron when GPU process crashes:

[code]

[2018-09-19 20:49] KochiyaOcean commented on #14509
GPU process won't crash if `--in-process-gpu` switch is appended

[2018-09-19 21:09] alessandroliveri opened #14709 "[Question] Electron Chromium version update"
Hi, I need to update Chromium to the last version: somebody can tell me where I can find an updated guide or can say me how I can try to do it because it seems that the guide on the official site it's about the older version?

Thanks in advice

[2018-09-19 21:15] computerquip-streamlabs opened #14710 "getAppMetrics() in 3.0.0 has broken"
Electron Version: 3.0.0
OS: Windows 10 x86_64

**Expected Behavior**
getAppMetrics should return a valid array recording the metrics of my application.

**Actual behavior**
getAppMetrics returns undefined.

**To Reproduce**
[code]
or:
https://github.com/computerquip-streamlabs/electron-quick-start

Each time getAppMetrics is called, it also provides a warning about the use of the `memory` field cl

[2018-09-19 21:16] nornagon commented on #14709
The Electron team is actively working on upgrading Electron to newer Chromium versions all the time. It's not a trivial process, but you're welcome to join us in the effort! See #14677 for the update to Chromium 68 and https://github.com/orgs/electron/projects/23 for the project board.

[2018-09-19 21:16] #14709 closed

[2018-09-19 21:50] nornagon commented on #14697
In order to do any sort of debugging, we'll need to know the exact model of graphics card you're using. Chromium has very specific GPU blocklists which change frequently, and it's possible your issue was caught in a later version of Chromium than Electron v3 is running. We may be able to backport a fix or a blocklist change, but we won't be able to determine the right course of action without more

[2018-09-19 22:08] jrobeson commented on #14697
@nornagon : but are any of intel's GPUs on that blocklist?

[2018-09-19 22:09] jrobeson commented on #14705
what version of electron?

[2018-09-19 22:55] nornagon commented on #14697
yes.

[2018-09-20 00:22] ckerr opened #14713 "Add end-of-support for 1.7"
Equivalent 1.6 PR from May 15: https://github.com/electron/electron/pull/12925

[2018-09-20 00:54] zheung commented on #14075
@MarshallOfSound the API not working with `https` too!
- my https site
- `granted`
- either `onclick` in webpage or `run in console` not working

![image](https://user-images.githubusercontent.com/894004/45789199-fd9d2380-bcb0-11e8-8313-fc1c889db634.png)

[2018-09-20 01:46] 4eveRS opened #14716 "Bugs on webview/webContents since 3.0.0-beta.6 (Introduction of OOPIF)"
* Output of `node_modules/.bin/electron --version`: 3.0.0
* Operating System (Platform and Version): macOS Sierra 10.12.6
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): 3.0.0-beta.5

**Expected Behavior**
webviews should work like it used to, before the OOPIF.

**Actual behavior**
Since the update to use OOPIF in webviews, all my webviews

[2018-09-20 02:33] paperkettle commented on #13443
Understand this is waiting on Chromium. Just adding a +1 that Electron eventually open to WebVR. Periodically checking back over recent years, especially given Beaker Browser. Major potential for that intersection...! https://github.com/beakerbrowser/beaker/pull/1161

[2018-09-20 02:51] fakaka opened #14718 "My Notification don't work"
* Output of `node_modules/.bin/electron --version`: v1.8.7
* Operating System (Platform and Version): windows 10
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable):

**Expected Behavior**
Notification work

**Actual behavior**
Notification don't work

**To Reproduce**
none.

You can fork [electron-quick-start](https://github.com/electron/elect

[2018-09-20 03:38] MarshallOfSound commented on #14718
As per our windows notification documentation that you linked you need to do some set up before notifications work on windows (this is an OS requirement)

[2018-09-20 03:38] MarshallOfSound commented on #14718
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-09-20 03:38] #14718 closed

[2018-09-20 03:45] maddhruv commented on #14705
@michaelsmitha works fine for me every time
electron version - v2.0.10

[2018-09-20 04:44] michaelsmitha commented on #14705
Right, it doesn't in v3.0.0-beta.13

[2018-09-20 04:52] GitSquared commented on #14697
@nornagon I'll come back with more info.

[2018-09-20 05:00] GitSquared commented on #14697
@nornagon OK, GPU is `Intel® HD Graphics 4600` integrated in a `i5-4200H` Haswell processor.

Just in case, the second GPU is a Nvidia `Geforce 850M`.

[2018-09-20 05:06] Gozala opened #14720 "`uploadData` is missing on custom protocol's request when send via XHR"
* Output of `node_modules/.bin/electron --version`:
v2.0.8
* Operating System (Platform and Version):
MacOS 10.13.6

**Expected Behavior**

Sent data via POST / PUT `XMLHttpRequest` to custom [stream protocol handler](https://github.com/electron/electron/blob/2-0-x/docs/api/protocol.md#protocolregisterstreamprotocolscheme-handler-completion) should appear under [`uploadData`](https://github.com/el

[2018-09-20 05:12] Gozala commented on #14720
This is the code used for sending requests:

[code]

On the protocol handle I get no `uploadData` regardless if I send plain text, blob, array buffer, or form data.

P.S.: I also noticed that in the DevTools network panel no `Request Payload` is displayed.

[2018-09-20 06:16] Carsten0001 opened #14723 "$ npm i -D electron@latest installs 2.0.10 instead of 3.0.0"
Hi Electron Team,
[code]
The code template above is from https://electronjs.org/ main page.

But it's wrong, because `$ npm i -D electron@latest` installs 2.0.10.
Because in NPM the newest released Version is 2.0.10.  => https://www.npmjs.com/package/electron

[2018-09-20 06:47] MarshallOfSound commented on #14723
Hey @Carsten0001 thanks for the report, `3.0.0` has been re-tagged correctly as `latest`

[2018-09-20 06:47] #14723 closed

[2018-09-20 06:50] gtk2k opened #14724 "I want Display object add rawbounds property."
https://electronjs.org/docs/api/structures/display
We will add the rawBounds property to the Display object.
The bounds property is the value calculated by scaleFactor, but if it matches the monitor's matrix information acquired by the Windows application (eg System.Bounds of .Net), the scaleFactor of all monitors is 1 It is easy to match if there is one, but it is difficult to match if the scaleF

[2018-09-20 06:51] KarenHuang2016 opened #14725 "Failed to build electron on Windows with error D8021 : invalid numeric argument '/Wno-logical-not-parentheses'"
* Operating System (Platform and Version):
Windows 2016 Server + VS 2017

**Issue description:**
We build electron on Windows 2016 Server + VS 2017. It failed to build with error D8021 : invalid numeric argument '/Wno-logical-not-parentheses'. It seems cl cannot support options '/Wno-logical-not-parentheses' and '-Wno-sign-compare'. If we removed options '/Wno-logical-not-parentheses' and '-Wno-si

[2018-09-20 07:00] MarshallOfSound commented on #14724
It looks like you didn't fill out our [Issue Template](https://raw.githubusercontent.com/electron/electron/master/.github/ISSUE_TEMPLATE.md), please ensure you provide all information requested in the issue template so that we can try to help you out.

Issues you create without the template will be closed, you can find the issue template [here](https://raw.githubusercontent.com/electron/electron/m

[2018-09-20 07:00] #14724 closed

[2018-09-20 07:07] gtk2k commented on #14724
This is request, not Issue.

[2018-09-20 07:14] MarshallOfSound commented on #14724
@gtk2k We have a [Feature Request](https://github.com/electron/electron/issues/new?template=Feature_request.md) issue template as well

[2018-09-20 08:39] ossdev07 opened #14726 "Run `gn gen out/Debug` and get error : `... AttributeError: 'NoneType' object has no attribute 'endswith'`"
While running npm install-test, i am facing below error:
npm test

electron/spec: 1: electron/spec: /out/Debug/electron: not found
Traceback (most recent call last):
  File "/electron/script/dbus_mock.py", line 28, in <module>
    subprocess.check_call(sys.argv[1:],shell=True)
  File "/usr/lib/python2.7/subprocess.py", line 190, in check_call
    raise CalledProcessError(retcode, cmd)
subprocess.C

[2018-09-20 08:44] MarshallOfSound commented on #14726
@ossdev07 In order to run the tests on linux you need `python-dbusmock` installed

[2018-09-20 08:44] #14726 closed

[2018-09-20 08:45] MarshallOfSound commented on #14726
@ossdev07 Actually may have jumped to the wrong conclusion here, that error indicates that you haven't built Electron yet.

If you haven't built Electron you can't run the tests

[2018-09-20 09:58] ossdev07 commented on #14726
Thanks for the reply.
But while building electron I have faced error after giving command
**gn gen out/Debug '--args=import("//electron/build/args/debug.gn") clang_base_path = "/usr/bin" target_cpu="arm"'**

Traceback (most recent call last):
  File "/depot_tools/gn.py", line 71, in <module>
    sys.exit(main(sys.argv))
  File "/depot_tools/gn.py", line 49, in main
    'gn', 'gn' + gclient_utils.G

[2018-09-20 10:10] hlb-schmidt opened #14728 "add upstream doc links to default window"
when we run `electron` a default window opens that has chromium and nodejs versions at the top. would be really helpful if these would be links to the upstream docs, just like the links at the bottom.

old nodejs docs can be found here https://nodejs.org/docs/ but not sure where to find chromium html, css and javascript docs for a specific version.

[2018-09-20 11:10] meekaah commented on #6656
indeed once built using electron-builder there is no work around... (to my knowledge...) since the exePath becomes your app... any ideas / suggestions???

[2018-09-20 11:15] inukshuk commented on #13381
@Cobinja is right, the color returned is the GTK theme's menu background (changing that color in the theme changes the menu bar). I'm guessing Chromium defines only that color because it does not use a menu bar at all? So this might be problematic, because on quick glance I can't find an appropriate color id constant for the menu bar, nor is there any constant, [that I can find](https://cs.chromiu

[2018-09-20 11:38] alexeykuzmin commented on #14726
@ossdev07
Did you set `CHROMIUM_BUILDTOOLS_PATH` before running `gn gen`?

https://github.com/electron/electron/blob/master/docs/development/build-instructions-gn.md#building
[code]

[2018-09-20 11:46] benlancaster commented on #13404
@jkleinsc I've just run in to this exact issue with a fork of Electron I maintain, can you tell me what the difference between the build VMs you mentioned is?

[2018-09-20 11:59] jkleinsc commented on #13404
@benlancaster I believe it was the MacOS SDK version. See  https://github.com/electron/electron/blob/003a92e0990fa4ba1bd7b93450eb3afae0533090/docs/development/build-instructions-osx.md#macos-sdk for the right sdk to use

[2018-09-20 13:27] holgersindbaek opened #14732 "Login helper not working"
* Output of `v2.0.7`:
* Operating System (Platform and Version):
OSX 10.13.6

**Expected Behavior**
I expect the login helper to start the app on login.

**Actual behavior**
The login helper starts, but doesn’t start the app. It gives the following error in the OSX console instead:

![45229273-b0d74700-b2c5-11e8-9fc2-4ed8b266906f](https://user-images.githubusercontent.com/698979/45821374-5ab4cb80-

[2018-09-20 14:18] bpasero commented on #6437
Are people still seeing this with Electron 3.0.x?

[2018-09-20 14:30] shiftkey commented on #6437
@bpasero I hadn't seen any issues like this with GitHub Desktop across our usage of Electron, and I couldn't reproduce this in a Windows 10 VM (with network disabled) using `electron-quick-start` (like one person was able to reproduce with):

<img width="973" src="https://user-images.githubusercontent.com/359239/45825306-55935480-bcc8-11e8-9897-d27e4364347e.png">

[2018-09-20 14:40] RockGuitarist1 commented on #13038
Note that in Electron v3 this no longer works. It will now prompt you to save the already saved pdf to a location of your choice.

[2018-09-20 14:51] jbmonroe commented on #13038
Another thing to add to the list of reasons not to upgrade past the version of Electron I'm using.  The way they deprecated the event propagation model is another--it completely broke everything I was doing.

[2018-09-20 14:54] jbmonroe commented on #13038
The link from @weihong1028 is very interesting!  I need to look into that further.

[2018-09-20 15:09] Thomas101 commented on #14710
Seeing the same here on macOS

[2018-09-20 15:34] pronebird commented on #2727
Can anyone confirm that Electron migrated to `dconf` and what dependency the one needs to run Electron based app?

[2018-09-20 16:44] rskvazh commented on #12726
Is this fixed with electron 3.0? Because on 2.0 I've got this crash too:
[code]

[2018-09-20 17:06] manang opened #14735 "compile electron with modified libchromiumcontent"
Hi,
I have an application that uses electron-3.0.0-beta8
I want to rebuild it with a different libchromiumcontent part. I need to modify the chromium source in some parte.
could you tell me the steps that I have to follow to build a modified version of electron?
Thank you very much
Angelo

[2018-09-20 17:12] codebytere commented on #12726
I'm circling back to dig into this more soon!

[2018-09-20 17:20] nornagon commented on #14725
Are you building from master? Electron only supports building with clang, not MSVC.

[2018-09-20 17:20] #14725 closed

[2018-09-20 17:20] KochiyaOcean commented on #14509
Seems it only occurs when running 32bit electron on 64bit system.

[2018-09-20 17:20] #14509 closed

[2018-09-20 17:24] #14570 closed, assigned to zcbenz, codebytere

[2018-09-20 17:51] scottrippey opened #14737 "A modal BrowserWindow loses focus"
* Output of `node_modules/.bin/electron --version`:  **v2.0.10** (also reproduced with **v2.0.3** and **v3.0.0**)
* Operating System (Platform and Version): **macOS High Sierra v10.13.6**
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): **unknown**

**Expected Behavior**
When I display a modal BrowserWindow, I expect the window to stay focu

[2018-09-20 18:09] codebytere commented on #12726
If you all can confirm the above, i'll go ahead and close out this issue!

[2018-09-20 18:17] codebytere commented on #14710
@computerquip-streamlabs this isn't a bug, the above is using the memory field; that's how this function is implemented.

https://github.com/electron/electron/blob/3-0-x/atom/browser/api/atom_api_app.cc#L1127

[2018-09-20 18:38] dotansimha opened #14739 "3.0 regression: offscreen window `paint` event returns empty `image`"
Since upgrading to 3.0 (from 2.0.10), offscreen image works in a different way.

In 2.0.10, creating an offscreen window, loading a webpage that changes about every 2 seconds, resulting in empty file (tried `toDataUrl` and `toPNG`).
Some pages, that has animations in it and more, displays an partial-rendered page.

My logic is simple: subscribe to `paint` event, take the image (with `toPNG` or `to

[2018-09-20 18:51] npezza93 commented on #12726
This has been working correctly for me on 3-0-x!

[2018-09-20 19:11] GitSquared commented on #14697
Kernel is `4.9.0-8-amd64` (that rules out [your first link](https://chromium.googlesource.com/chromium/src/gpu/+/master/config/software_rendering_list.json#907) i'm afraid).

Intel driver: [`xserver-xorg-video-intel`](https://packages.debian.org/stretch/xserver-xorg-video-intel) `2:2.99.917+git20161206-1 amd64` (latest in stretch) aka default xorg handler for integrated GPUs
Nvidia driver: [`nvidi

[2018-09-20 19:49] rskvazh commented on #12726
@codebytere I confirm, that it not crashes with 3.0.0. Thanks!

[2018-09-20 19:58] computerquip-streamlabs commented on #14710
I can define a bug as something an implementation is doing that's undesirable. Either way, the main crux of the problem still exists in that the function doesn't return anything useful.

[2018-09-20 20:03] JonMarbach commented on #9030
Electron's native PDF support is pretty sweet! But searching in a PDF is really fundamental to the PDF experience... What would it take to get this added?

[2018-09-20 20:41] alexeykuzmin commented on #14533
We are going to go straight to 10.10 with Chromium 68 in #14549. Closed.

[2018-09-20 20:41] #14533 closed

[2018-09-20 22:03] alexeykuzmin commented on #14327
@deepak1556

The change has been backported to the Ch68 upgrade branch.
So this will be fixed with the Ch68 update roll.

[2018-09-20 22:51] bigtimebuddy opened #14742 "Regression in v3 with `CmdOrCtrl+Plus` accelerator in MenuItem"
* Output of `node_modules/.bin/electron --version`: 3.0.0
* Operating System (Platform and Version): MacOS 10.13.6
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): 2.0.10

**Expected Behavior**
When using `'CmdOrCtrl+Plus'` as an accelerator for a menu, should trigger command when keyboard command is pressed. Other accelerators work as expe

[2018-09-20 22:55] card-b opened #14743 "Cannot get multiple getUserMedia video streams at once"
* Output of `node_modules/.bin/electron --version`: 3.0.0
* Operating System (Platform and Version): MacOS 10.13.6
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): unknown

**Expected Behavior**
Loop through available cameras after MediaDevices.enumerateDevices and place each camera into a video element

**Actual behavior**
enumerateDevices

[2018-09-20 23:09] evan-coygo commented on #8691
I've got the same question, is there any way to use GTM within an Electron app? @apasternack did you ever figure this out?

[2018-09-20 23:46] codebytere commented on #12726
Thanks all! Going to go ahead and close this but can reopen should more issues arise!

[2018-09-20 23:46] #12726 closed

[2018-09-21 00:58] tonglingchen opened #14745 "callback(true) for "certificate-error" event handler has no effect"
* Electron 2.0.9
* Windows 10

**Expected Behavior**
callback(true) for "certificate-error" event handler should work for webviewtag.

**Actual behavior**
callback(true) for "certificate-error" event handler has no effect.

**To Reproduce**
I have a repo (forked from quick start) to demo this issue.
Please use following repo to repro:
[code]

[2018-09-21 01:07] nornagon commented on #14697
I found https://bugs.chromium.org/p/chromium/issues/detail?id=554008, which looks like a similar issue to yours. They're using the same intel driver as yours (2.99.917) and a similar kernel (4.1.0 instead of 4.9.0). That patch was first released in Chrome 68, so it's possible that when #14677 lands the bug will be fixed :)

The linked chromium bug suggests that the desktop is only showing for a mo

[2018-09-21 01:08] Gozala commented on #14720
Here is the self contained example illustrating the issue
https://github.com/gozala/electron-quick-start/tree/xhr-upload-data

[2018-09-21 01:29] Gozala opened #14746 "Origin is always null when using fetch with custom protocol handler"
Output of node_modules/.bin/electron --version:
    v2.0.8
    Operating System (Platform and Version):
    MacOS 10.13.6

**Expected Behavior**
Sending PUT / POST requests via fetch should set Origin header to an origin of issuing context.

**Actual behavior**
Origin header is set to `"null"`

**To Reproduce**

Try out this branch https://github.com/gozala/electron-quick-start/tree/fetch-origin

[2018-09-21 01:30] Gozala commented on #14746
Please also note that XHR does set Origin header as expected, but it does seem to have issue with not passing uploadData as described in #14720

[2018-09-21 01:33] Gozala opened #14747 "referrer is always "" in custom protocol handler"
Output of node_modules/.bin/electron --version:
    v2.0.8
    Operating System (Platform and Version):
    MacOS 10.13.6

**Expected Behavior**
Referrer should reflect the document request came from

**Actual behavior**
Referrer is always ""

**To Reproduce**

Try out this branch https://github.com/gozala/electron-quick-start/tree/fetch-origin

You can see that both XHR and fetch seem to have thi

[2018-09-21 03:11] markusmoenig opened #14749 "Electron 3.0 Disables Disjoint Timer WebGL Extensions"
Electron: 3.0

Electron 3.0 disables the Chrome WebGL & WebGL v2 disjoint timer extensions (https://www.khronos.org/registry/webgl/extensions/EXT_disjoint_timer_query_webgl2).

Chrome temporarily disabled them because of the potential profiling of the users computer, which is NOT a problem on a Desktop installation. Chrome 70 is about to re-enable them.

For WebGL developers these extensions are c

[2018-09-21 03:27] KarenHuang2016 commented on #14725
@nornagon Thanks for your response. Actually we always build electron on Windows with MSVC for a long time. Can I know why Electron doesn't support building with MSVC any more?

[2018-09-21 03:37] zcbenz commented on #13147
We worked around the problem by changing window style when window enters fullscreen mode:
https://github.com/electron/electron/blob/v3.0.0-beta.13/atom/browser/ui/cocoa/atom_ns_window_delegate.mm#L179-L226

It seems that the hack does not work for 10.13 anymore.

[2018-09-21 05:28] MarshallOfSound commented on #14745
@tonglingchen You are listening to a `remote` event in the renderer process (`webview.getWebContents()` returns a remote proxy to the web contents).  `event.preventDefault()` needs to be called synchronously in order for it to work, the event is emitted to the renderer process asynchronously so by the time you call `preventDefault()` it is too late.

You will need to attach this listener in the ma

[2018-09-21 05:28] #14745 closed

[2018-09-21 05:30] MarshallOfSound commented on #14725
@KarenHuang2016 As part of the Chromium 67 upgrade building Chromium is only supported with clang, as such Electron only supports clang as well.  This change was made during the 67 upgrade and as part of our move to `gn` from `gyp`

[2018-09-21 05:42] KarenHuang2016 commented on #14725
@MarshallOfSound I got it. Thank you so much for clarifying this.

[2018-09-21 06:54] Mycaptain95 commented on #10557
In fact,
The problem occurred in win7 eletron 1.8.9
I will try to update the version to see if the latest version still has this problem

[2018-09-21 06:57] Pagebakers commented on #9283
I was actually wondering the opposite, how can i make sure notifications are automatically hidden, like Chrome. They are now always displayed with a close button.

[2018-09-21 07:00] darkangel0217 commented on #14658
I  add listener on event(did-get-response-details)
when pdf preview success，event comes
1. requestMethod :"Get", resourceType:"subFrame", referrer:""
2.requestMethod :"Get", resourceType:"other", referrer:"http://xx.pdf"

when Expected Behavior case1, case2. [2.requestMethod :"Get", resourceType:"other", referrer:"http://xx.pdf"]event don't come.

[2018-09-21 07:35] Kthulu120 commented on #13108
Hmm not able to reproduce on my machine, perhaps you could fork the electron-start-app and build an simple example so its easier to replicate and we can take a look again
From your example the initial issue the taskbar still seems to disappear. I attempted to reproduce on on 2.0.0 - 2.0.7.

[2018-09-21 07:51] Thomas101 commented on #14710
@codebytere I think there might be some crossed wires here. The `app.getAppMetrics()` call returns `undefined` in version 3. For example

### Electron 2
[code]

### Electron 3
[code]
[getAppMetrics()](https://github.com/electron/electron/blob/3-0-x/lib/browser/api/app.js#L62) doesn't return anything anymore. Looks the change in https://github.com/electron/electron/commit/89148bcf8dad735e68b644798a

[2018-09-21 08:13] erguotou520 opened #14751 "`will-navigate` not triggered for some website."
* Output of `node_modules/.bin/electron --version`: 3.0.0-beta8
* Operating System (Platform and Version): win/mac
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): 3.0.0

**Expected Behavior**
`will-navigate` event can be triggered successfully.

**Actual behavior**
`will-navigate` is not triggered.

**To Reproduce**
We have `QQ` oath login

[2018-09-21 08:30] fatganz commented on #11928
I see this ticket is quite old. Are there any workarounds available?

[2018-09-21 08:38] psulek commented on #13525
@pulkit110 This works! Thanks.

[2018-09-21 08:57] LingHanChuJian opened #14752 "How to set up an authenticated Socks5 agent on BrowserWindow？"
- Output of node_modules/.bin/electron --version: v1.8.3
- Operating System (Platform and Version): win10 x64

**Expected Behavior**
   How to set up an authenticated Socks5 agent on BrowserWindow？
   When I set it on session. setProxy ({proxyRules:'socks5://ip: port'}, () =>{}), there was no trigger on webContents. on ('login', (event, request, authinfo, callback) = >{callback (username, password

[2018-09-21 10:24] davidnorthetal opened #14753 "TypeScript typedefinitions coalesce deprecations and removal"
via #14692 - when Electron 3.0.0 got released, the `electron.d.ts` typedefinition file that is generated from the API documentation removed `makeSingleInstance` tho it's only documented as deprecated (and the electron-js files still contain it).

So in effect, from TypeScript's perspective whenever a JavaScript function becomes deprecated, it becomes instantly removed altogether for TypeScript.

T

[2018-09-21 10:48] hubitor commented on #14643
I still have the same issue with Pencil and Mindmapp although I don't have Material Icon font. But I have installed nerd fonts which includes Font Awesome fonts.

[2018-09-21 10:50] u4aew commented on #14697
@GitSquared A similar problem appeared in 2 versions of the electron https://github.com/electron/electron/issues/14430

[2018-09-21 11:29] RockGuitarist1 commented on #13038
@weihong1028 Good thing they know what the issue is and know how to fix it.

[2018-09-21 13:22] rajneeshchauhan opened #14756 "Not Able to authenticate user form data when put this data in a variable and set in sql query than sending to mysql database"
* Output of `node_modules/.bin/electron --version`:
* Operating System (Platform and Version):
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable):

**Expected Behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
A clear and concise description of what actually happened.

**To Reproduce**
Your best cha

[2018-09-21 14:51] Evoks commented on #14716
There are also some problems on remote object in webviews `preload` script.
e.g.: `remote.getCurrentWindow()` return `{}`.

[2018-09-21 14:52] ckerr commented on #14635
Some notes on this:
- The bus monitoring would likely be better done in our C++ code. Chromium has a dbus API that could be used for this.
- For the first deliverable I think it would be enough to say "hasAppIndicator is true iff  `org.kde.StatusNotifierWatcher` is owned by someone on the Session bus."
- Chromium's `Bus::GetServiceOwner()` is probably the right API call for this
- Note a possible

[2018-09-21 14:54] Brootux commented on #12820
I hope i can help by providing another broken system ;) This bug also happens to me, when using an app called Trinity-wallet, which uses electron `^2.0.10`.

My output for `sudo lspci -v | sed -n '/VGA/,/^$/p'`:
[code]

[2018-09-21 15:08] GitSquared commented on #14697
@nornagon It seems like resizing the window activates a hidden barcode-generating feature.

![barcode](https://user-images.githubusercontent.com/24496417/45881257-f5c1aa00-bdaa-11e8-816c-a10c81482783.png)

Anyway, I also planned to get back to you with testing results but i'm used to run thin on resources and after messing around a bit it turns out i don't have enough HDD space left to build Elect

[2018-09-21 15:15] ckerr commented on #14653
@GhostlyDark I think your issue was closed out of error rather than insult.

[2018-09-21 15:30] sashar2 opened #14757 "[RS5] Electron apps and loopback adapter"
**Electron version:** 1.7.8
**Operating system:** Windows 10 RS5 17763 (x86, x64)

Electron based applications doesn’t work on latest Windows 10 RS5 builds without internet connection, startup fails on require('child_process').spawn(). Its reproduced on the our application and Microsoft Visual Studio Code too. According to our preliminary research it occurs when electron try to use loopback addres

[2018-09-21 15:46] codebytere commented on #14710
@Thomas101 you are extremely correct! Thanks for clarifying that 😸 The PR to fix it is now merged in `3-0-x` and should be out in the next patch release.

[2018-09-21 15:46] #14710 closed

[2018-09-21 16:35] nornagon commented on #13471
Thanks for reaching out!

Because we treat our issues list as [the team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community).

[2018-09-21 16:35] #13471 closed

[2018-09-21 16:35] nornagon commented on #13471
`Electron.ContextMenuParams` will give you the x/y pixel coordinates in the window. It's up to you to convert those coordinates into something that makes sense in the document.

[2018-09-21 16:38] nornagon commented on #13506
Thanks for reaching out!

Because we treat our issues list as [the team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community).

[2018-09-21 16:38] #13506 closed

[2018-09-21 16:39] nornagon commented on #13506
It sounds like there might be an issue in your app causing duplicated notifications.

[2018-09-21 16:44] nornagon commented on #13544
Thanks for reaching out!

Because we treat our issues list as [the team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community).

[2018-09-21 16:44] #13544 closed

[2018-09-21 16:50] pushkin- commented on #5900
@sofianguy This is still an issue in Electron 2.0. Can this be reopened, or is there another issue tracking this?

[2018-09-21 16:51] nornagon commented on #13588
Yep, same issue.

[2018-09-21 16:51] #13588 closed

[2018-09-21 16:53] nornagon commented on #14697
Thanks for the update! Perhaps you could pivot to be a barcode-generating company? ;)

#13624 also seems like it might be related?

[2018-09-21 16:54] chrissnell commented on #14006
This problem happens to me _even when_ a notification daemon is running. I'm running dunst (launched by systemd) and it still happens.  Restarting the dunst service doesn't fix it, either.  This happens to me with Slack and Mattermost.

I've noticed that it happens most frequently when my laptop is closed and then re-opened.   I have no proof behind this but my hunch is that a socket to dbus/notif

[2018-09-21 16:55] #13715 closed

[2018-09-21 16:59] nornagon commented on #13733
electron-quick-start doesn't contain any webview code. if this issue is with webview, then electron-quick-start won't reproduce it.

[2018-09-21 17:01] sofianguy commented on #14703
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2018-09-21 17:01] #14703 closed

[2018-09-21 17:02] codebytere commented on #14589
@theyezzyman there is no information here about platform, version, etc. Please add that before we can begin to address this issue.

[2018-09-21 17:03] MehediH commented on #13733
@nornagon I understand your point but it doesn't really have anything to do with this. Even if you make a fresh new Electron app with a very basic webview tag, this issue still occurs.

[2018-09-21 17:05] sofianguy commented on #14735
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-09-21 17:05] #14735 closed

[2018-09-21 17:27] nornagon commented on #14292
Is this reproducible on Electron 3.0.x?

[2018-09-21 17:28] sofianguy commented on #14752
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-09-21 17:28] #14752 closed

[2018-09-21 17:30] sofianguy commented on #14756
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-09-21 17:30] #14756 closed

[2018-09-21 17:33] tonglingchen commented on #14745
Thank you @MarshallOfSound! That explains...

[2018-09-21 17:50] theyezzyman commented on #14589
@codebytere updated, thanks

[2018-09-21 18:40] pushkin- commented on #13251
This is a duplicate of #12919. Closing.

[2018-09-21 18:40] #13251 closed

[2018-09-21 19:38] Kthulu120 commented on #13373
Currently there are options when addressing this PR, we can allow the status quo of `!resizable` implies `!maximizable` while fixing `resizable` toggling `maximizable` or we can change the behavior of `setResziable` which will cause developers to have to explicitly call `setMaximizable(false)`. This may be significant for some apps. But my suggestion is that in the end this provides more functiona

[2018-09-21 20:13] GitSquared commented on #14697
@nornagon Hehe, wouldn't complain 'bout it.

Nice one finding #13624, it seems to be the same issue (?), everything "works" like described in this thread (piping electron to /dev/null fixes the issue among other things).
I don't really understand why i wasn't affected with this prior to v3 if the bug itself exists since v2.

[2018-09-21 20:14] countravioli commented on #14739
Seeing this too in my application, note the same results happen from the capturePage api. My investigation seems to show at some point (very quickly), the offscreen window just stops painting.

I brought up devTools for the offscreen window I called show() on it. Then using the console, i change the background of the page to green. Nothing changes. I can verify in the elements tab that everything

[2018-09-21 20:34] adday commented on #12598
This is the most unhelpful thread ever. Why did you move this to a new issue only to shut it down?

[2018-09-21 21:05] dovk commented on #7049
It started with me today after doing an npm install on my project and it inadvertently installed Electron 3.0 which was just released. I tried to revert back to 2.0.9 which worked perfectly as of yesterday but it didn't help, the page does not render now. Nothing written above seems to help but I hope something will come up soon.

[2018-09-21 21:29] bughit opened #14759 "3.0 regression: first webContents.debugger message is Inspector.targetReloadedAfterCrash"
* Output of `node_modules/.bin/electron --version`: 3.0.0 x86
* Operating System (Platform and Version): win7 sp1 x64
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): 2.0.10

**Expected Behavior**
no Inspector.targetReloadedAfterCrash

**Actual behavior**
Inspector.targetReloadedAfterCrash, which indicates something is not quite right

**To

[2018-09-21 21:53] bughit opened #14761 "webContents.debugger is not delivering Page.lifecycleEvent"
* Output of `node_modules/.bin/electron --version`: 3.0.0 x86
* Operating System (Platform and Version): win7 sp1 x64

**Expected Behavior**
[Page.lifecycleEvent](https://chromedevtools.github.io/devtools-protocol/tot/Page#event-lifecycleEvent) for paint, per the docs:

**Actual behavior**
no Page.lifecycleEvent

**To Reproduce**
run the following
[code]

note that the first-contentful-paint perfo

[2018-09-21 21:58] CharlieHess commented on #12492
I can reproduce this, but only with Chrome set as my default browser, and specifically Chrome 69. If you try something like `tel:8675309` or change your default browser you'll notice that it starts respecting the `activate` parameter.

So I think we should file this against Chromium, but lemme do some more digging.

[2018-09-21 22:01] deepak1556 commented on #14759
Thanks for the report, this is intentional, whenever there is a navigation in the default mode there will be a process swap which will cause the first load of the inspector connection to fail. The inspector will be connected again as soon as the process swaps complete and receives page lifecycle events as expected. Closing since its not a bug.

[2018-09-21 22:01] #14759 closed

[2018-09-21 22:08] bughit commented on #14759
Would this not apply to 2.0? But 2.0 does not get this Inspector.targetReloadedAfterCrash event.

[2018-09-21 22:10] deepak1556 commented on #14759
Nope it doesn't apply, the navigation architecture was changed with 3.x and above https://github.com/electron/electron/pull/12535

[2018-09-21 22:20] bughit commented on #14759
Just to be sure I understand this change, did it also introduce the renderer process swap which you mentioned is the cause?

Or is it the process swap in combination with plznavigate that manifests this event?

[2018-09-21 22:25] kwonoj opened #14763 "Electron@3 : BrowserWindow devtools doesn't record js perf profiling"
* Output of `node_modules/.bin/electron --version`:
* Operating System (Platform and Version):
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable):

**Expected Behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**
maybe related with https://github.com/electron/electron/issues/14687 .

**Electron@2**
![i

[2018-09-21 22:28] deepak1556 commented on #14759
This is the reason, in plznavigate there are different stages in the navigation cycle, where the browser process decides which site instance should used once the navigation completes, in the default non-sandboxed mode we don't want same site instance from an existing navigation or a site instance thats already prepared by the browser process, so we provide our own and this causes the swap. Before

[2018-09-21 22:47] uclaitsscott opened #14764 "Expose href target value"
I would like the ability to designate a target on links that I could then event tap to open in an external browser. I don't want all links to open in an external browser, so it makes sense to use the link target.

**Describe the solution you'd like**
Expose the target value on the new window open.

**Describe alternatives you've considered**
Javascript calls that are clunk (url loads, etc) or send

[2018-09-22 01:36] jonluca commented on #2245
This is a 3 year old issue but I wanted to say I had the same issue.

What I ended up doing was actually overwriting XMLHttpRequest with a custom one that used node in the back end, and didn't conform to spec by allowing all headers to be set and all HTTP methods to be used.

That library is [here](https://github.com/jonluca/node-xhr2-unsafe)

[2018-09-22 05:40] bpasero commented on #14757
@sashar2 can you reproduce with Electron 3.0.x? We have a version of Code around: [Download](https://az764295.vo.msecnd.net/exploration/86ff36a1cca2c5763c9c57bda2ec8d3443538c89/VSCodeUserSetup-x64-1.28.0-exploration.exe)

[2018-09-22 11:35] 2Pacalypse- commented on #13008
Any updates on this issue? It's quite annoying.

[2018-09-22 11:52] Eugeny commented on #8321
It's still not fixed in 3.0.0-beta.9

[2018-09-22 11:59] MarshallOfSound commented on #14764
@uclaitsscott You can implement this logic yourself and it won't be something Electron can add to core as it wouldn't follow the web spec for `target`.

Example implementation:

[code]

[2018-09-22 11:59] #14764 closed

[2018-09-22 12:01] Eugeny commented on #8321
Same on 3.0.0 final

[2018-09-22 13:32] MarshallOfSound commented on #14763
So this works on `2.0`, fails on `3.0` and works on `master`.  These translate to `61` -> `66` -> `67`.

So something broke between 61 and 66 and was fixed for 67 🤔

[2018-09-22 14:06] GitSquared commented on #14697
@nornagon I compiled `v4.0.0-nightly.20180905`.
If i use `> /dev/null` or `--disable-gpu`, everything works fine, but without it i don't even get a window.

I don't have any error messages, even with `--enable-logging`.

[2018-09-22 14:27] ThunbergOlle commented on #11895
If I want to reload the mainWindow from another windows remote, how do I do that?

[2018-09-22 16:03] danielsantil commented on #11150
Hi, I have electron 3.0 and this warning still shows up, either by setting titleBarStyle: 'hidden' or frame: 'false'

[2018-09-22 16:04] Petschko commented on #12988
Battle.net uses Electron? That explains why it always hang, oh god, I hope this framework dies out like flash did...

Thanks for the new Flash! We don't need our memory for better things, so thanks for using it, free memory is wasted memory right?

[2018-09-22 17:42] abriek opened #14767 "MacOS - titleBarStyle 'hiddenInset' doesnt show buttons in 3.0"
Hi, I just upgraded to electron 3.0 and noticed that my applications windows controls are no longer there. I use titlebarStyle: 'hiddenInset' so that I can have the native OS's buttons as my windows controls, and it worked great until I upgraded to 3.0

**Expected Behavior**
The macOS buttons should be shown on the top left like in previous versions

**Actual behavior**
The buttons are not there.

[2018-09-22 21:03] slammerhammer opened #14771 "Racist terms such as slave/master"
When reviewing the project's code I saw the phrase Master/Slave... This kind of terminology can lead to awkwardness and overall is dated terms. Don't you think we can do a little better? What I propose is something like Python just did, which was AMAZING of them. I feel like by keeping this we are excluding and not including everyone. Waiting to hear your thoughts...

[2018-09-22 21:49] codebytere commented on #8321
@Eugeny i'll take a stab at this imminently

[2018-09-22 21:58] MarshallOfSound commented on #14767
Duplicate #14570

[2018-09-22 21:58] #14767 closed

[2018-09-22 21:59] burtonator commented on #6697
@MatthieuLemoine Thanks for doing this. Saw your post and I'll be playing with it here soon. Almost a year later but better late than never of course.

I can't believe this is still an issue though.

[2018-09-22 22:18] aequasi commented on #14771
Troll account, please close

[2018-09-22 22:19] codebytere commented on #14771
hi @slammerhammer, we appreciate your surfacing this concern, and we recognize these terms to be damaging and rightly so. However, we don't in fact reference the term `slave` or `master` in our source code, as verified by [this search](https://github.com/electron/electron/search?q=slave&unscoped_q=slave) and [this search](https://github.com/electron/electron/search?utf8=%E2%9C%93&q=master&type=).

[2018-09-22 22:19] #14771 closed

[2018-09-23 01:27] Jay-Rad opened #14772 "desktopCapturer.getSources() with 'screen' type causes crash. (v3.0.0)"
* Output of `node_modules/.bin/electron --version`:  v3.0.0
* Operating System (Platform and Version): Windows 10 v1803
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable): v2.0.8

**Expected Behavior**
Get 'screen' sources by calling desktopCapturer.getSources({types: ['screen']}, (error, sources) => {...}).

**Actual behavior**
Electron crash

[2018-09-23 01:39] MarshallOfSound commented on #14772
@Jay-Rad Can you post the stack trace from the crash?  If one isn't appearing in your command line just set `ELECTRON_ENABLE_STACK_DUMPING=true` and `ELECTRON_ENABLE_LOGGING=true` as environment variables.

[2018-09-23 01:51] Jay-Rad commented on #14772
@MarshallOfSound  Of course.  Here ya go:

[18164:0922/184953.104:VERBOSE1:CONSOLE(7847)] "Main._lateInitialization: 1.02001953125ms", source: chrome-devtools://devtools/bundled/shell.js (7847)
[18164:0922/184955.912:WARNING:dxgi_adapter_duplicator.cc(108)] Cannot initialize any DxgiOutputDuplicator instance.
[18164:0922/184955.912:WARNING:dxgi_duplicator_controller.cc(259)] Failed to initialize D

[2018-09-23 01:56] Jay-Rad commented on #14772
Missed the last line...

[15684:0922/185406.855:ERROR:broker_win.cc(134)] Error sending sync broker message: The pipe is being closed. (0xE8)

[2018-09-23 05:03] potato20 commented on #14771
@codebytere I appreciate your concern, but you're forgetting a crucial point. The term `master` was adopted by git developers in the early days because they were simply borrowing from the `master`/`slave` terminology, so it's obvious where this naming convention came from. Other projects have adopted branch names such as `primary`, `main`, or `central`.

Also, while I appreciate what python is doi

[2018-09-23 14:09] maple3142 opened #14775 "Unable to spawn electron as node's child process"
* Output of `node_modules/.bin/electron --version`: v3.0.0
* Operating System (Platform and Version): Windows 10 x64 version 1803
* Output of `node_modules/.bin/electron --version` on last known working Electron version (if applicable):

**Expected Behavior**
Able to start electron as a node child process as usual.

**Actual behavior**
Using `child_process.spawn` to spawn a electron process, but `

[2018-09-23 15:06] SilencerWeb opened #14776 "[question] How to get access to browser context menu?"
I want to add my custom option to browser context menu. Is there a way to do it? To be clear, I want to add my custom option exactly to browser context menu (Chrome / Safari / Firefox / Edge), not Electron app.

Here is an example how 1Password did it in Chrome:

![image](https://user-images.githubusercontent.com/20713191/45929473-c9a15700-bf6b-11e8-99da-9f4ea1b3c4e2.png)

[2018-09-23 16:00] oliverdunk commented on #14050
@sofianguy Any news on this?

[2018-09-23 16:55] codebytere commented on #8321
Ok i just ran
[code]
using current `master` and it correctly went fullscreen and printed `true`.
@Eugeny can you confirm the same is true on your end?

[2018-09-23 16:56] codebytere commented on #14776
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options. Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2018-09-23 16:56] #14776 closed

[2018-09-23 17:00] codebytere commented on #14713
Resolved by merge of referenced PR.

[2018-09-23 17:00] #14713 closed

[2018-09-23 17:01] codebytere commented on #360
This should now be resolved by https://github.com/electron/electron/pull/10510.

[2018-09-23 17:03] codebytere commented on #414
Given that there exist workarounds, this is something that isn't on our current roadmap and which I am thus goin to tag as `wontfix`.

[2018-09-23 17:05] codebytere commented on #839
Given that there exist workarounds, this is something that isn't on our current roadmap and which I am thus goin to tag as `wontfix`.

[2018-09-23 17:05] #839 closed

[2018-09-23 17:05] codebytere commented on #765
Closing as fixed!

[2018-09-23 17:05] #765 closed

[2018-09-23 17:06] codebytere commented on #611
Given that there exist workarounds, this is something that isn't on our current roadmap and which I am thus goin to tag as `wontfix`.

[2018-09-23 17:06] #611 closed

[2018-09-23 17:10] codebytere commented on #14012
This is effectively a global `eval`, which by most definitons would be considered a security hole and thus is something we don't think will be wise to implement.

This API is seemingly being requested to solve a web bundling problem which already has workable solutions (ex. `webpack` with `webworkers`). I would probably recommend instructing webpack users to add an entry point for a preload script

[2018-09-23 17:10] #14012 closed

[2018-09-23 17:12] codebytere commented on #12563
Please open this issue on `atom/atom` instead :)

[2018-09-23 17:12] #12563 closed

[2018-09-23 17:17] theyezzyman commented on #14589
[code]

Solution found if anyone runs into the same issue I did

[2018-09-23 17:26] codebytere commented on #3057
Given that it's currently not possible to implement such a feature in a cross-platform way, and that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-23 17:26] #3057 closed

[2018-09-23 17:30] codebytere commented on #2617
Given that this is likely a problem upstream in Chromium, and that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-23 17:30] #2617 closed

[2018-09-23 17:56] MartinMa commented on #611
This should work out of the box. There is a single workaround suggested here, which still seems to have issues (If I understand correctly).

The code suggested by me a couple of years ago, needs to be incorporated in the message loop handler. I would suggest a pull request, but I need some help in **where to find the message loop** in the source code. Any hints?

[2018-09-23 18:15] codebytere commented on #3226
This feature seems to be something that would be more appropriate for userland, and since it isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-23 18:16] codebytere commented on #2867
Given the above workaround, and that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-23 18:16] #2867 closed

[2018-09-23 18:19] codebytere commented on #4424
Closing with merge of @sethlu's above PR.

[2018-09-23 18:19] #4424 closed

[2018-09-23 18:31] Eugeny commented on #8321
@codebytere before I attempt to build Electron from source, on my side I'm using W10 and doing `setFullScreen()` after the window is created.

[2018-09-23 18:37] codebytere commented on #5851
At present (after v1.8) V8 versions should be exactly the same for both Node.js and Chromium!

[2018-09-23 18:37] #5851 closed

[2018-09-23 18:38] codebytere commented on #5364
Given that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-23 18:38] #5364 closed

[2018-09-23 18:40] codebytere commented on #5761
This should be fixed on the most recent versions of Electron!

[2018-09-23 18:40] #5761 closed

[2018-09-23 18:41] codebytere commented on #5844
Given that there exist workarounds for this, and that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-23 18:41] #5844 closed

[2018-09-23 19:54] queesamor commented on #3226
:'(

On Sun, Sep 23, 2018, 9:17 PM Shelley Vohr <notifications@github.com> wrote:

--

-Denver Root

[2018-09-23 20:11] Kitanga commented on #6437
Yes, I believe I'm still having the issue. This is also happening when I try running vs code with airplane mode on.

Getting an error in dens.nd line 246:20. When creating 'new ChannelWrap ()'

[2018-09-23 20:17] Kitanga commented on #6437
Connecting to WiFi router (with or without internet access) allows me to open vs code again

[2018-09-24 01:27] ibash opened #14778 "Converter<net::HttpResponseHeaders*>::FromV8 does not allow multiple headers with the same name"
* Output of `node_modules/.bin/electron --version`: v2.0.8
* Operating System (Platform and Version): macos 10.13.6

**To Reproduce**
1. `protocol.interceptStreamProtocol` to handle requests from electron
2. In the callback, give a header like:
[code]
3. Request a url and inspect chrome dev tools

**Expected Behavior**
In dev tools you can see multiple set-cookie headers, and multiple cookies get

[2018-09-24 01:31] bughit commented on #14319
@zcbenz @deepak1556

I can appreciate that single-core is not your highest priority, since it basically does not exist any more on physical hardware, but if you are not going to address this, you should make dual core a documented minimum requirement.

[2018-09-24 01:37] codebytere commented on #611
Awesome! Also happy to help you get this across the finish line; i'm marking these PRs wontfix not because we don't care, just because it's not realistic for you to hope we'll fix something that's not on any imminent horizon or todo list.

[2018-09-24 03:37] codebytere commented on #4742
Given that this remains impossible without action on the chromium side, and that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution or chromium were to implement it, we would be very open to accepting a PR!

[2018-09-24 03:37] #4742 closed

[2018-09-24 03:41] codebytere commented on #6031
This is actually now possible on `master`, since we build with GN and thus everything is built in debug mode. I'm going to close this in that event, but you can take a look at [current build instructions](https://github.com/electron/electron/blob/master/docs/development/build-instructions-gn.md) for how you can go about this.

[2018-09-24 03:41] #6031 closed

[2018-09-24 03:43] codebytere commented on #1334
Given the workarounds above, we believe this module is better implemented in userland (ex. the excellent [electron-localshortcut](https://github.com/parro-it/electron-localshortcut) and thus i'm going to label this a `wontfix`.

[2018-09-24 03:43] #1334 closed

[2018-09-24 03:49] codebytere commented on #6993
Given that adding this functionality is complex and expensive, and that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-24 03:49] #6993 closed

[2018-09-24 03:51] codebytere commented on #6295
This has been done, closing!

[2018-09-24 03:51] #6295 closed

[2018-09-24 03:53] codebytere commented on #6208
Given that this will be expensive and somewhat complex to fix, and that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-24 03:53] #6208 closed

[2018-09-24 03:59] codebytere commented on #6937
Given that this is likely better off in userland, and that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-24 03:59] #6937 closed

[2018-09-24 04:13] codebytere commented on #6996
Given that this has bene solved in userland by modules like [mouse-forward-back](https://www.npmjs.com/package/mouse-forward-back), and that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-24 04:13] #6996 closed

[2018-09-24 04:14] codebytere commented on #6359
@bpasero the above PR was backported to `2-0-x` on August 24th, so it should be out in the most recent version!

[2018-09-24 04:14] #6359 closed

[2018-09-24 04:27] codebytere commented on #6599
Given that there exist workarounds for this, and that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-24 04:27] #6599 closed

[2018-09-24 04:32] codebytere commented on #6351
Given that there aren't any clear solutions to this, and that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-24 04:32] #6351 closed

[2018-09-24 04:33] codebytere commented on #6569
Does this occur on `v3.0.0`?

[2018-09-24 04:35] codebytere commented on #6357
Given that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-24 04:35] #6357 closed

[2018-09-24 04:38] codebytere commented on #4974
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:38] codebytere commented on #4933
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:38] #4933 closed

[2018-09-24 04:38] #6569 closed

[2018-09-24 04:39] codebytere commented on #8314
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:39] #8314 closed

[2018-09-24 04:40] MarshallOfSound commented on #5110
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:40] codebytere commented on #8505
Given that `3.0.0` is now stable, and this issue appears to be fixed there, i'm going to go ahead and close this out.

[2018-09-24 04:40] #8505 closed

[2018-09-24 04:40] codebytere commented on #8560
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:40] #8560 closed

[2018-09-24 04:41] codebytere commented on #8700
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:41] #8700 closed

[2018-09-24 04:41] codebytere commented on #7792
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:41] #7792 closed

[2018-09-24 04:42] codebytere commented on #8788
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:42] #8788 closed

[2018-09-24 04:42] MarshallOfSound commented on #7079
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so I'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:42] codebytere commented on #8841
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:42] codebytere commented on #8862
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:42] #8862 closed

[2018-09-24 04:43] codebytere commented on #8869
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:43] #8869 closed

[2018-09-24 04:43] codebytere commented on #8891
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:44] codebytere commented on #8969
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:44] codebytere commented on #9100
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:44] codebytere commented on #9118
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:44] #9118 closed

[2018-09-24 04:44] codebytere commented on #9120
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:44] #9120 closed

[2018-09-24 04:44] MarshallOfSound commented on #9445
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so I'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:44] #9445 closed

[2018-09-24 04:44] codebytere commented on #9173
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:45] codebytere commented on #9209
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:45] #9209 closed

[2018-09-24 04:45] codebytere commented on #9215
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:45] #9215 closed

[2018-09-24 04:45] MarshallOfSound commented on #9525
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so I'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:45] #9525 closed

[2018-09-24 04:45] codebytere commented on #9223
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:45] #9223 closed

[2018-09-24 04:45] mhuggins commented on #5110
@MarshallOfSound I haven't upgraded to 3.x yet, but this is still happening on 2.0.9.

[2018-09-24 04:45] MarshallOfSound commented on #9526
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so I'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:45] #9526 closed

[2018-09-24 04:46] codebytere commented on #9233
Seems like this is fixed, closing it out!

[2018-09-24 04:46] #9233 closed

[2018-09-24 04:46] codebytere commented on #9258
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:46] #9258 closed

[2018-09-24 04:46] MarshallOfSound commented on #9530
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so I'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

_Side note:_ Pretty sure I've seen this get fixed in `2.0` and `3.0`

[2018-09-24 04:46] #9530 closed

[2018-09-24 04:46] codebytere commented on #9281
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:46] #9281 closed

[2018-09-24 04:46] MarshallOfSound commented on #9559
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so I'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:47] MarshallOfSound commented on #9604
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so I'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:47] #9604 closed

[2018-09-24 04:47] MarshallOfSound commented on #9605
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so I'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:47] #9605 closed

[2018-09-24 04:47] codebytere commented on #9283
Given that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-24 04:47] #9283 closed

[2018-09-24 04:48] codebytere commented on #9291
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:48] #9291 closed

[2018-09-24 04:48] codebytere commented on #9293
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:48] #9293 closed

[2018-09-24 04:48] codebytere commented on #9340
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:48] MarshallOfSound commented on #9608
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so I'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:49] codebytere commented on #9341
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:49] #9341 closed

[2018-09-24 04:49] MarshallOfSound commented on #9628
Closing out as per comments above 👍

[2018-09-24 04:49] #9628 closed

[2018-09-24 04:50] MarshallOfSound commented on #9660
I reproed this myself last week while playing with chrome devtools dark mode, still occurs on `3.0.x`

[2018-09-24 04:52] codebytere commented on #9361
Given that this isn't currently on our roadmap, i'm going to go ahead and label this a `wontfix`. However, should someone determine a workable solution we would be very open to accepting a PR!

[2018-09-24 04:52] #9361 closed

[2018-09-24 04:52] MarshallOfSound commented on #9680
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so I'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:52] #9680 closed

[2018-09-24 04:52] codebytere commented on #9364
We are no longer implementing bugfixes for versions of Electron < `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:52] #9364 closed

[2018-09-24 04:52] MarshallOfSound commented on #9683
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so I'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:52] #9683 closed

[2018-09-24 04:52] MarshallOfSound commented on #9684
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so I'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:52] #9684 closed

[2018-09-24 04:53] codebytere commented on #9416
We are no longer implementing bugfixes for versions of Electron < `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:53] #9416 closed

[2018-09-24 04:53] codebytere commented on #9418
We are no longer implementing bugfixes for versions of Electron < `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:53] #9418 closed

[2018-09-24 04:53] #9422 closed

[2018-09-24 04:53] codebytere commented on #9437
We are no longer implementing bugfixes for versions of Electron <= `1.7.x`, so i'm going to close this issue but if it is still persisting in more recent versions of Electron we can certainly reopen it!

[2018-09-24 04:53] #9437 closed