[2018-04-12 15:41] piranna opened #12603 "Check for `index.electron.js` file"
The same way that `index.js` file is used by default, check first for an `index.electron.js` file. This can be useful for [re-start](https://github.com/react-everywhere/re-start) apps where the same source code can be used for several platforms (Electron being one of them).

[2018-04-12 15:44] groundwater commented on #12598
Hi @bughit. I've been reviewing your recent communications with the Electron team. I am requesting that you improve your style of communication. The above is an example of a nonproductive, and slightly combative style of communication.

Please remember, everyone here is choosing to _help_ solve these issues, they are not required to.

I am going to close this issue. Please follow my recommendation

[2018-04-12 15:44] #12598 closed

[2018-04-12 16:06] MarshallOfSound commented on #12603
Using `index.js` as default is handy but not recommended for prod, you should include a `package.json` file with a `main` entry pointing at the entrypoint of your app.

[code]

[2018-04-12 16:06] #12603 closed

[2018-04-12 16:13] bughit commented on #12598
@groundwater I removed "and there's no good reason" that you found "nonproductive, and slightly combative".  Can this be reopened?

[2018-04-12 16:28] piranna commented on #12603
Yeah, that's what I'm already using, a main entry pointing to `index.electron.js`, but it looks a bit nasty since I'm using the `main` field for the entry point of a particular platform instead of the true "main" project main file...

[2018-04-12 16:39] levrik commented on #12427
@yoannmoinet Nice, please keep me posted. Also via mail if you don't want to post that public (see my GitHub profile for that).

[2018-04-12 16:43] declanvk commented on #12592
@sethlu You're absolutely right, thank you. Do you know if there are differences between `enter-full-screen` and `maximize` on other platforms?

[2018-04-12 16:43] #12592 closed

[2018-04-12 18:41] bughit opened #12604 "enhancement: a unique and stable frame ID on WebFrame and for WebContents frame related events"
* Electron version: master (0d7becff87743924f4fe639b802c405af47672aa)
* Operating system: win7 sp1 x64

It is now possible to retrieve sub-frame WebFrame objects.  But you can't compare them because  two distinct WebFrame instances can wrap the same frame.

Also you may be interested in navigation activity in a particular frame but WebContents frame related events don't identify the frame.

For th

[2018-04-12 19:10] marceloavf commented on #10864
I get it working again by setting Notification on import, setting model ID and default protocol:
[code]

[2018-04-12 19:19] zanderz commented on #10864
@marceloavf no shortcut properties required?

[2018-04-12 19:25] ccorcos opened #12605 "Spellcheck API Improvements"
* Electron version: Latest
* Operating system: OSX, Windows

I've been rebuilding the spellchecker for [notion.so](www.notion.so/desktop) and I thought I would compile some of the quirks I ran into.

The de facto solution right now is to use [electron-spellchecker](https://github.com/electron-userland/electron-spellchecker) and we've been using it for the past year, but recently the language auto-

[2018-04-12 19:26] marceloavf commented on #10864
Sorry @zanderz, What do you mean?
I was using this [electron-builder method](https://github.com/electron-userland/electron-builder/blob/8f19ea99a9cc6fa4796f8057c268541a7b7f63b4/packages/electron-updater/src/AppUpdater.ts#L232) to do the job, after adding those options it started notifying.

[2018-04-12 20:08] youurayy opened #12606 "Renderer high CPU on OSX with custom window switchers"
* Electron version: master
* Operating system: OSX 10.13.3

### Expected behavior
Normal CPU usage.

### Actual behavior
When a 3rd party window switching utility is used (e.g. Karabiner Elements, Witch, Contexts) to switch between open windows of an Electron app with multiple windows open, the Renderer process of the window into which it was just switched goes into an infinite event loop, its thr

[2018-04-12 22:31] ajprax commented on #10078
I've been working on an app that will have a spotlight-style quick access window for which I need this feature. To that end, I've been looking into the various suggestions from this thread and I figured I'd compile them in case they're helpful to anyone else, though I currently do not have a satisfactory solution for my needs.

All of my tests were run with MacOS 10.13.3 and Electron 1.8.3 (prebui

[2018-04-12 23:26] bughit opened #12607 "WebContents should pass the HTTP response code in at least one of its frame navigation lifecycle events, after did-get-response-details is deprecated"
* Electron version: future
* Operating system: win7 sp1 x64

This issue anticipates the future state of WebContents, after the did-get-response-details event is deprecated/removed (#12597)

### Expected behavior (after #12597)

WebContents currently
- notifies of navigation completion (did-finish-load, did-frame-finish-load)
- notifies of low level navigation failures (e.g. TCP, DNS) (did-fail-loa

[2018-04-13 00:04] groundwater commented on #12598
Hi @bughit. Please read the following very carefully. I feel like the spirit of my message was not communicated.

1. The issue you submitted lacks the detail we request all submitters to follow. Please create a new issue, and follow the template exactly. Do not omit anything. Further, please provide as much detail as possible. The burden is on you to be as clear as possible, especially if you want

[2018-04-13 01:24] dingchaoyan1983 opened #12608 "file:// protocol will block loading local resources"
the `file://` protocol will block the sixth request when load the local source files
![wechatimg29](https://user-images.githubusercontent.com/7593506/38712119-320831ce-3efc-11e8-82be-e035d56bf460.jpeg)

[2018-04-13 01:42] ariporad commented on #12378
Awesome! Thanks so much! Sorry to waste your time!

[2018-04-13 01:42] #12378 closed

[2018-04-13 01:52] MarshallOfSound commented on #12608
It looks like you didn't fill out our [Issue Template](https://raw.githubusercontent.com/electron/electron/master/.github/ISSUE_TEMPLATE.md), please ensure you provide all information requested in the issue template so that we can try to help you out.  In particular the "How to reproduce" section is critical for us to find the issue, providing a cloneable example is the best way to do this.

In th

[2018-04-13 06:45] nicbarker commented on #8205
I'm currently experiencing this in 1.7.8 on Mac OS X, it happens sporadically and only with webkit dev server (i.e. having a window open for a long time with a bunch of refreshes)

[2018-04-13 06:47] squareduck commented on #12606
Having the same issue with any non-OSX-native window switcher.

Steps to Reproduce (VSCode is used as example, but same goes for Atom):

1. Open two VSCode windows (e.g two different projects)
2. Use any non-default window switcher (Witch, Contexts, etc)
3. Switch from one VSCode window to another

CPU usage will spike to 100% and hang there for a long time.

[2018-04-13 07:33] j3l11234 commented on #11531
╮(╯_╰)╭
Are there any updates?

[2018-04-13 07:39] sofianguy commented on #12600
Thanks for reaching out!

GitHub issues are for feature requests and bug reports. Check out the [Electron community](https://github.com/electron/electron#community) for questions about using Electron or code assistance. There are also a bunch of helpful people in this [community forum](https://discuss.atom.io/c/electron) that should be willing to point you in the right direction.

[2018-04-13 07:39] #12600 closed

[2018-04-13 07:45] sofianguy commented on #12605
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #3211. You may want to subscribe there for updates.

Because we treat our issues list as the project team's backlog, we close duplicates to focus our work and not have to touch the same chunk of code for the same reason multiple times. This is also why we may mark something as duplicate that isn't an exact duplicate

[2018-04-13 07:45] #12605 closed

[2018-04-13 07:49] sofianguy commented on #12525
Thank you for your issue!

We haven't gotten a response to our questions in our [comment](https://github.com/electron/electron/issues/12525#issuecomment-378702446). With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the is

[2018-04-13 07:49] #12525 closed

[2018-04-13 09:29] michaeltomasik opened #12609 "'did-fail-load' is not catching net::ERR_INTERNET_DISCONNECTED"
* Electron version: 1.8.4
* Operating system: Mac High Sierra

### Expected behavior
`did-fail-load` should be detached on `Failed to load resource: net::ERR_INTERNET_DISCONNECTED`

### Actual behavior
When I'm launching an app without internet connection I'm getting modal with:
<img width="338" alt="screen shot 2018-04-13 at 11 25 43" src="https://user-images.githubusercontent.com/7786627/3872763

[2018-04-13 12:19] #12568 closed, assigned to codebytere

[2018-04-13 13:32] kenny-w1 opened #12610 "MUSL-Libc support"
Hi, I was wondering if you guys could add support for MUSL-Libc Linux distros, Void Linux mainly, as I think they are the ones with the best MUSL distro so far.
I don't know if its already supported or not, but I 'think' its not supported at least from what I can see.
MUSL is very reliable, uses less RAM than glibc & gets better battery power, there are many great benefits to MUSL!

"a new standar

[2018-04-13 13:49] yhostc commented on #12481
The issues only crash in Windows NT windows 10.0.16299, have any news?

[2018-04-13 14:02] alexeykuzmin opened #12611 "Deprecate UploadFileSystem"
https://electronjs.org/docs/api/structures/upload-file-system
It has been removed in the Chromium 66 (or slightly earlier).

/cc @deepak1556, @codebytere

[2018-04-13 14:50] unixzii opened #12613 "Mouse event isn't dispatched when pointer is outside the BrowserWindow"
* Electron version: Electron 2.0.0-beta.7
* Operating system: macOS 10.13.2 (17C205)

### Expected behavior

Web page should respond to mouse moving when pointer is outside the BrowserWindow.

### Actual behavior

Browser just doesn't dispatch `MouseEvent` if I set `BrowserWindow`'s `titleBarStyle` to `'hiddenInset'`. But when `titleBarStyle` is set to other values, the thing goes well.

### How t

[2018-04-13 15:11] Tim91084 commented on #12505
This would be a great enhancement.  I've also tried using extensions to run code within iframes, and that does not work either.  Seems like the extension manifest option "all_frames" is also not supported within electron.  So, as far as I can tell, there is no way to accomplish running a script within an iframe similar to how a preload script works for a webview.

@pfrazee, I'd be happy to help ou

[2018-04-13 15:52] pfrazee commented on #12505
Appreciate it! We’ll need to give this one some thought

[2018-04-13 15:55] kenny-w1 commented on #12610
I can run
./script/bootstrap.py --verbose
successfully in root, but can't do this:
./script/build.py --compdb
or this
./script/build.py
both give me this:

vendor/depot_tools/ninja: line 30: /home/user/Compiles/electron/vendor/depot_tools/ninja-linux64: No such file or directory

[2018-04-13 16:08] kenny-w1 commented on #12610
When I try to change ninja-linux to just "ninja" I get:

vendor/depot_tools/ninja: line 30: /home/kzn/Compiles/electron/vendor/depot_tools/ninja64: No such file or directory

and, when I create a ninja64 file with nano, I get:
vendor/depot_tools/ninja: line 30: /home/kzn/Compiles/electron/vendor/depot_tools/ninja64: Permission denied
vendor/depot_tools/ninja: line 30: exec: /home/kzn/Compiles/elec

[2018-04-13 16:29] codebytere commented on #11858
As a quick update, diagnosing this problem more thoroughly told me some light refactoring may be in order so this is absolutely still on my active radar but it may take slightly more time :)

[2018-04-13 16:43] codebytere commented on #12559
Can't reproduce this on mac, but i think the issue may be this:

[2018-04-13 16:47] westacotta commented on #12559
Ah yes that would make sense

Which file is that in?  I'm going to have a look round there myself

[2018-04-13 16:49] codebytere commented on #12559
@westacotta `electron/atom/browser/native_window_views.cc`

Method starts on line 453!

[2018-04-13 16:53] codebytere commented on #12611
@alexeykuzmin is there a newer version or is it just gonna get removed?

[2018-04-13 17:03] #12310 closed

[2018-04-13 17:19] sofianguy commented on #9858
Thank you for your issue!

We haven't gotten a response to our questions in our [comment](https://github.com/electron/electron/issues/9858#issuecomment-378765544). With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the iss

[2018-04-13 17:19] #9858 closed

[2018-04-13 18:11] deepak1556 commented on #12611
@codebytere https://electronjs.org/docs/api/structures/upload-blob is the alternative although its not a direct replacement for filesystem url.

[2018-04-13 20:44] codebytere commented on #6146
Left this up for 10 minutes on the latest `master` and could not reproduce, so i'm going to close this out! feel free to @ me for a reopen if it crops up again 😁

[2018-04-13 20:44] #6146 closed

[2018-04-13 20:56] ckerr commented on #6556
This should probably get some more attention after we switch from gyp to gn

[2018-04-14 00:26] tommoor commented on #10886
This is definitely a bug – and one that makes vibrant windows in `2.0` unusable for a production application. [My workaround](https://github.com/electron/electron/issues/10886#issuecomment-359130267) did the trick in `1.7` but no longer works in `2.0`

@sofianguy could you label it bug instead of enhancement?

[2018-04-14 00:43] KEVINdEsBuRgErS commented on #11858
@codebytere Take your time, I just didn't want this issue to be forgotten forever !

[2018-04-14 01:00] PhoenixFieryn commented on #10886
I'm getting something similar here. The menu bar refuses to adopt the vibrancy effect. It's just strangely transparent.
<img width="176" alt="screen shot 2018-04-13 at 5 59 17 pm" src="https://user-images.githubusercontent.com/4925624/38762764-7bc5fed4-3f44-11e8-8148-92f8e1c4db25.png">

[2018-04-14 09:55] Bpazy commented on #4939
I find that `win.close()`  will send back the focus.
As same as `app.quit()`.
So I use the above solution to resolve this issue.

Any ideas please?

[2018-04-14 15:41] codebytere commented on #10860
Thank you for taking the time to report this issue and helping to make Electron better.

The version of Electron you reported this on, `1.6.7`, has been superseded by newer releases, and we are no longer releasing fixes excepting security fixes to that line. Could you please try with the latest release in the `1-8-x` line?

I'm setting the more-information-needed label for the above reasons. After

[2018-04-14 16:00] codebytere commented on #10796
I believe you can, yes!

[2018-04-14 16:00] #10796 closed

[2018-04-14 16:01] codebytere commented on #10732
As chromium 61 is now in the latest master, this problem should be resolved. I'm going to go ahead and close this, but please feel free to @ me if it should persist.

[2018-04-14 16:02] codebytere commented on #10778
@CharlieHess does this occur on the latest release in the `1-8-x` line or in `2-0-0` betas?

[2018-04-14 20:02] zeke opened #12618 "autoUpdater clarification"
In the [current `autoUpdater` API doc for the `update-downloaded` event,](https://github.com/electron/electron/blob/e606a74de3cba32d44af031af0f2e59e442245da/docs/api/auto-updater.md#event-update-downloaded) the following message exists:

Does this mean "The `releaseName` is only available on Windows" or does it mean "On Windows, only the `releaseName` is available, and the other properties are not

[2018-04-14 21:31] codebytere commented on #12312
@spicykoala @ajmacd as https://github.com/electron/electron/pull/12417 has been merged, i'm going to go ahead and close this. If the problem persists, please @ me for a reopen!

[2018-04-14 21:31] #12312 closed

[2018-04-14 23:26] quinton-ashley commented on #12493
That answer says it not a problem but it is for me, unless I'm not using the open command correctly.  The project does not log the path of the file or folder I choose, instead I get that error and then if I try to open something else the system dialog pops up and I can choose a file but the app won't respond.
[code]

[2018-04-14 23:38] quinton-ashley commented on #12493
This is kind of disheartening because I just started using electron and I really like it but I won't be able to use it anymore if users can't open files or folders with my app.   If this is an Apple issue do you all think they will fix this issue soon or should I stop using electron and go back to running a local server for my app?

[2018-04-14 23:51] codebytere commented on #12493
@quinton-ashley do you think you could provide a minimum testcase for this? something i could run that would produce this issue for me locally?

[2018-04-14 23:52] sethlu commented on #12493
@quinton-ashley Can you provide a screen capture for this scenario?
I'm not sure what "soft lock" appears to be like from your end?

[2018-04-15 00:08] codebytere commented on #3745
Closing as this has been implemented!

[2018-04-15 00:08] #3745 closed

[2018-04-15 00:12] codebytere commented on #4010
I don't believe it has, no.

[2018-04-15 00:12] #4010 closed

[2018-04-15 00:26] codebytere commented on #6349
Does this occur on 1.8 releases?

[2018-04-15 01:13] codebytere commented on #8503
Closing this as it appears https://github.com/electron/electron/pull/11008 addresses a solution.

[2018-04-15 01:13] #8503 closed

[2018-04-15 01:44] csf30816 opened #12620 "ECONNRESET error on server when closing app"
* Electron version: v1.8.4
* Operating system: Windows 10

### Expected behavior

I expected that when closing the Electron window that the WebSocket connection would closed safely, like it does in the browser.

### Actual behavior

When I close the Electron window the server gets the `ECONNRESET` error because the WebSocket did not close properly. Although when you do this in a browser (Chrome or

[2018-04-15 02:52] eli-schwartz opened #12621 "command-line only "--version" flag does not work in GUI-less environment"
* Electron version:  1.8.4
* Operating system: Arch Linux

### Expected behavior

`electron --version` should *always* print the version to stdout.

`electron --abi` should *always* print the abi to stdout.

### Actual behavior

Both commands fail with:

`(electron:296): Gtk-WARNING **: 22:42:21.238: cannot open display: `

### How to reproduce

Enter a linux chroot or otherwise run without an X11

[2018-04-15 03:58] codebytere commented on #7125
is this still happening on the latest release in that line?

[2018-04-15 04:53] MarshallOfSound commented on #12618
On windows the object has a single property `releaseName`

[2018-04-15 09:13] steem opened #12622 "Build failed with "older compiler than other objects" error"
Sync the trunk code, then:
1. python script\bootstrap.py -v --target_arch=ia32
2. python script\build.py

Got the following error:
FAILED: D:\Python27\python.exe gyp-win-tool link-with-manifests environment.x86 True node.dll "D:\Python27\python.exe gyp-win-tool link-wrapper environment.x86 False link.exe /nologo /IMPLIB:node.dll.lib /DLL /OUT:node.dll @node.dll.rsp" 2 mt.exe rc.exe "obj\vendor\nod

[2018-04-15 14:33] ckerr commented on #12522
As @MarshallOfSound points out, this doesn't seem to be a documented feature.

According to https://github.com/v8/v8/commit/d42534d441a75405d8dcf50a1383485b3c135faf it seems this was added in Chrome 62. So while it's likely this works in `master`, the Chromium versions in Electron 1.7, 1.8, and 2.0 are all too old. Electron 3.0 will catch up to this.

[2018-04-15 14:33] #12522 closed

[2018-04-15 14:48] ckerr commented on #12610
Hi @kenny-w1,

In order for this to happen someone would need to confirm that Chromium, Node, et al will run correctly on it and to add support for it in all the affected build scripts, so I don't think it's likely this will be on the project's supported roadmap.

However MUSL-libc does indeed look cool. If a volunteer wrote the code to make this happen, I suspect the project would accept the code

[2018-04-15 14:48] #12610 closed

[2018-04-15 15:24] #12508 closed

[2018-04-15 15:27] ckerr commented on #12618
Is that still correct?

I'm not sure that I'm reading the code right, but it looks like updateURL might be right too

[2018-04-15 16:22] TheColorRed opened #12625 "Clipboard NativeImage to canvas has blue tint"
* Electron version: v1.8.4
* Operating system: Ubuntu 17.10

### Expected behavior

When getting image data from the clipboard and writing it to the canvas, the image should display as it originally was.

![blue-tint-normal](https://user-images.githubusercontent.com/1571806/38780579-952fe276-409e-11e8-9418-f6159cda84b3.png)

### Actual behavior

When getting image data from the clipboard and writi

[2018-04-15 18:06] codebytere commented on #9561
hey @sindresorhus we're actually in the early stages of adding native promises to electron :) I'm going to close this in that event, and will let you know when that might be available!

[2018-04-15 18:27] ckerr commented on #9561
@codebytere is there another issue tracking that progress? I see it in the maintainers backlog, but the last discussion there was a month ago.

I realize this is a stale ticket, but if we're adding Promises IMO we should have something in `electron/electron/issues` to track that in a transparent way

[2018-04-15 18:28] brenca commented on #12625
By the looks of it this could be a `BGRA`-`RGBA` mixup issue.

[2018-04-15 18:30] codebytere commented on #9561
i thought there was, but i might be wrong :) If not, i might defer to @MarshallOfSound to add one with his anticipated timeline since he's spearheading that.

[2018-04-15 19:36] ckerr commented on #9561
Reopening this pending some resolution on how to track all of Promisification

[2018-04-15 19:43] TheColorRed commented on #12625
@ckerr you need to copy an image to your clipboard. Such as the first one in the post.

[2018-04-16 03:55] quinton-ashley commented on #12493
My screenshot would just contain the error log I already sent so that wouldn't be helpful.  I'm literally just running the template from the dialog example.  I commented out the app specific code I'm using.   This is my render.js file:
[code]

[2018-04-16 08:34] TanninOne commented on #12581
If you have any suggestion on how to reproduce a crash like this I'm all ears.

[2018-04-16 09:02] superpihey commented on #12591
I'm also experience bug in Mac OS. When I call the dialog.showMessageBox from the main browser window, the dialog.showMessageBox is not centered even I set the center to true.
[code]

[2018-04-16 11:47] Polenov opened #12628 "Can't change package (.app) name of Electron App for Mac OS"
* Electron version: 1.8.2
* Operating system: Mac OS 10.13.4.

I created an Electron app, renamed Electron.app to Trader.app, also renamed binaries and Helpers. Of course, I edited all related plists. Everything worked fine.

Now I want to rename my app again. From Trader.app to Traderno.app (just for example). I renamed Trader.app to Traderno.app, renamed executable file from Trader to Traderno.

[2018-04-16 12:15] codebytere commented on #12622
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.

Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://di

[2018-04-16 12:15] #12622 closed

[2018-04-16 12:18] codebytere commented on #12628
Hi @Polenov, there's an API call for that specific purpose: https://electronjs.org/docs/api/app#appsetnamename

You want to call `app.setName(name)`; you should undo all of your manual changes and then try that, it should resolve your issues.

[2018-04-16 12:24] Polenov commented on #12628
@codebytere, no I don't want to change the name inside my app. I want to change how it appears in file system. I want to change the package (.app) name.

[2018-04-16 12:56] codebytere commented on #12493
Awesome! Glad it's solved 😁

Feel free to @ me if something else come up; i'm going to go ahead and close this for now

[2018-04-16 12:56] #12493 closed

[2018-04-16 13:28] #12555 closed

[2018-04-16 14:33] ckerr commented on #12628
@Polenov it seems that you were able to successfully rename it once, to `Trader`, so this doesn't seem to be an Electron bug.

GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-04-16 14:33] #12628 closed

[2018-04-16 15:49] sfourman commented on #3797
Has anyone successfully made a FreeBSD port of this work yet?

[2018-04-16 16:16] Alhadis commented on #3797
Weren't you off having fun before enjoying having Electron-support on FreeBSD? ;-)

[2018-04-16 18:44] NeoHoffa commented on #10536
Getting the same error on Mac 10.13.4.

`Error: EACCES: permission denied, mkdir '/Users/shane/Documents/R&D/Electron/electron-quick-start/node_modules/electron/dist'
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! electron@1.8.4 postinstall: `node install.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the electron@1.8.4 postinstall script.
npm ERR! This is probably not a problem with n

[2018-04-16 19:43] #8293 closed

[2018-04-16 19:44] ckerr commented on #12621
I agree this would be nice to have, but it's an edge case that would be complex to implement because of the way Electron was architected: it creates a browser window and then loads an app, and the default app is what actually does the --version and --abi parsing in JS code.

Because of this cost-to-reward, I'm closing this ticket as a `wontfix`.

If someone feels strongly enough about this feature

[2018-04-16 22:05] sdkester commented on #11911
Not in kiosk mode, but I'm having the same problem with Electron v1.8.4 on macOS High Sierra v10.13.4.

Only when I run node inspector and put a breakpoint on `app.dock.bounce('critical');` and then resume the code, the dock bounce will occur as expected.

[2018-04-17 00:31] nornagon opened #12631 "Change default web behaviors that don't make sense in the context of Electron"
There are a number of behaviors that Electron inherits from Chromium which don't make sense for the vast majority of Electron apps. For instance:

- dragging a file into a window navigates to that file
- pinch-zooming in a window zooms the UI
- <kbd>Cmd+Click</kbd> opens links a new BrowserWindow

Electron apps that don't want these behaviors currently have to disable them explicitly, in an ad-hoc

[2018-04-17 02:37] carsonwright commented on #2605
@codebytere based on the creators of #10430 it appears that they do not intend to create support for iframes all others will be supported but not iframes.

[2018-04-17 07:05] universeroc opened #12632 "Electron 1.6.5 keep crashing on atom::api::Window::OnWindowClosed()"
[74b0c1f9-0ebb-4410-abd4-df9a9d734e89.zip](https://github.com/electron/electron/files/1918450/74b0c1f9-0ebb-4410-abd4-df9a9d734e89.zip)

[2018-04-17 07:10] albu77 opened #12633 "Can't change Menu item Label dynamically"
* Electron version: 1.85.1
* Operating system: Windows7

### Expected behavior

Label change of one Menu items dynamically before popup in the renderer.
My Menu is declared in the renderer
[code]

### Actual behavior
I want to change a Menu Item label depending of the type of element right clicked by the user (`text `or `span `inside a `li `of a `ul `list)
When I change the label I can see in the

[2018-04-17 07:38] KochiyaOcean opened #12634 "window.open with nativeWindowOpen option causes memory leak"
* Electron version: 2.0.0-beta.7
* Operating system: Windows 10 x64

### Expected behavior

When `webPreferences.nativeWindowOpen` is set to true, BrowserWindows opened by `window.open`'s memory will be released after be closed.

### Actual behavior

The memory is not released and caused memory leak

### How to reproduce
- Clone https://github.com/KochiyaOcean/electron-bugs/tree/native-open-memory

[2018-04-17 07:40] KochiyaOcean commented on #12634
Seems this issue is relative to https://github.com/electron/electron/issues/12027

[2018-04-17 08:11] timfish commented on #12631
`setVisualZoomLevelLimits` disables pinch zooming. Most production Electron apps I've checked already do this.
[code]
`setZoomFactor` and `setLayoutZoomLevelLimits` disable zoom scaling which should probably be left enabled for accessibility reasons.

[2018-04-17 08:33] Zaldos commented on #10864
Hello, has anyone been able to get notifications working again without the use of app.setAppUserModelId? As we are in early development we don't have a start menu shortcut and I am not entirely clear on how to get the UserModelId. We're launching via vs code debugging.
I've tried 1.8.4 and the latest 2.0.0 beta from the main proccess and render.
On windows 10 Enterprise version 1709 build 16299.30

[2018-04-17 08:59] zhouxun-open commented on #9777
I have the same problem, it seems like electron occupying the authority of the camera and microphone

[2018-04-17 09:41] bluntspoon commented on #1336
Is there any plan to implement something similar for Windows?

[2018-04-17 09:42] bluntspoon commented on #8036
Would be nice to see win.setAspectRatio added for Windows? Any plans for this?

[2018-04-17 10:42] GreggSchaffter commented on #8730
Another fix I found is that for any element you have that you want a click event or different cursor, the element must have `-webkit-app-region: no-drag;` in it.

Here is where I found the solution: https://github.com/electron/electron/issues/1354

[2018-04-17 10:44] timfish opened #12635 "process.defaultApp is only ever true in the main process"
It might just be a matter of updating the docs.

### Steps to reproduce
- Open devtools of a non-packaged Electron app
- Paste `process.defaultApp` into the devtools console

### Expected
`process.defaultApp == true`

### Actual
`process.defaultApp == undefined`
`require('electron').remote.process.defaultApp == true`

[2018-04-17 10:56] sindresorhus opened #12636 "Main app menu is buggy on macOS if user interacts with it while it's being updated"
* Electron version: 2.0.0-beta.7
* Operating system: macOS 10.13.4

### Expected behavior

I expected Electron to not update the menu while it's being interacted with.

It should behave like native and not update when open.

### Actual behavior

![electron-menu](https://user-images.githubusercontent.com/170270/38865525-3b962074-4268-11e8-88f5-a2b9943a9718.gif)

### How to reproduce

Run this and t

[2018-04-17 11:20] sindresorhus opened #12638 "MenuItem with `togglefullscreen` role should be disabled when window cannot be fullscreen"
* Electron version: 2.0.0-beta.7
* Operating system: macOS 10.13.4

### Expected behavior

When using the `fullscreenable: false` option in `BrowserWindow` or `win.setFullScreenable()`, I expected the menu item with role `togglefullscreen` to be disabled, since the window cannot be fullscreened.

### Actual behavior

It's not disabled:

<img width="255" alt="screen shot 2018-04-17 at 18 19 11" src

[2018-04-17 11:24] #12638 closed, assigned to nobody

[2018-04-17 11:24] alexeykuzmin opened #12639 "Migrate from base::Bind() to base::BindOnce() or base::BindRepeating()"
Chromium is doing that. Also please consider using `base::{Once,Repeating}Callback` instead of `base::Callback`.

See https://crbug.com/714018 and https://chromium.googlesource.com/chromium/src/+/master/docs/callback.md for details.

/cc @electron/code-owners

[2018-04-17 11:25] MarshallOfSound commented on #11742
Pulling #12638 into this issue.  Any menu item that would not perform an operation should be disabled, the example in that issue being the `togglefullscreen` role 👍

[2018-04-17 11:26] MarshallOfSound commented on #11742
Other examples would be `close` should be disabled if no window is currently open

[2018-04-17 11:37] alexeykuzmin opened #12640 "Do not use base::Passed"
It's going to be removed from Chromium, see https://crbug.com/812523.

/cc @electron/code-owners

[2018-04-17 13:02] miltonbecker commented on #10657
@bpasero any chance Microsoft could allocate someone to fix this bug, please? :(

[2018-04-17 13:32] deepak1556 commented on #12640
This has to be done alongside https://github.com/electron/electron/issues/12639

[2018-04-17 14:12] ryenus commented on #10657
It seems already resolved in master since update to Electron 2.0, looking forward to next monthly release:

<img width="362" alt="image" src="https://user-images.githubusercontent.com/610161/38875035-196871a4-428c-11e8-9600-206ef30ea4a0.png">

[2018-04-17 15:41] ckerr commented on #12625
Happens for me with Ubuntu 18.04, in both Electron 1.8.x and in `master`.

[2018-04-17 15:44] ckerr commented on #12322
@felixrieseberg is this something that still needs work?

[2018-04-17 15:47] ckerr commented on #12358
@deepak1556 is this still something that needs work?

[2018-04-17 15:50] ckerr commented on #12416
@nornagon since this issue hasn't moved in a few weeks, could you ask in #core for feedback on your suggestion above so that we can unstick this issue?

Also, DYK if this is a new regression in 2.0.0 or if the issue exists in 1.8.x as well?

[2018-04-17 15:51] ckerr commented on #12594
@deepak1556  Do we want to fix this for the 2-0-x branch, or leave it as-is?

[2018-04-17 15:57] TheColorRed commented on #12625
This also happens for me with Windows 10 in Electron `1.8.x`

[2018-04-17 16:05] nornagon commented on #12416
This behavior is unchanged since it was introduced, so it is the same in all current versions of electron.

[2018-04-17 16:07] ckerr commented on #12416
@nornagon d'oh, it even says 1.8.x in @felixrieseberg's original description. :man_facepalming:

[2018-04-17 16:10] ckerr commented on #10657
Closing as this is reported fixed in the 2.0.0 betas. Thanks for the update!

[2018-04-17 16:10] #10657 closed

[2018-04-17 16:26] ibash commented on #12358
This still happens, haven't been able to reproduce

[2018-04-17 16:26] ibash commented on #12358
I'd be happy to introduce some debugging logs into our build if you want to inform me what would be helpful.

[2018-04-17 16:50] JohnWeisz commented on #2570
In addition to using C++ for some parts, you can also minify and _obfuscate_ your JavaScript source (e.g. using [javascript-obfuscator](https://github.com/javascript-obfuscator/javascript-obfuscator)).

Minification and obfuscation together will _dramatically_ increase the required effort (and thus _cost_) to "steal" your code, often up to the point that reverse-engineering your entire application

[2018-04-17 16:51] deepak1556 commented on #12594
@ckerr I plan to fix this in 2-0-x, this was also reported by @poiru . This crash happens with improper destruction sequence of `webContents` when a window is closed.

[2018-04-17 16:56] deepak1556 commented on #12322
@ekoneko the CL is related as it fixes the root cause of this issue, currently `session.clearStorageData` callback is not reliable signal for completion of localStorage data eviction. It should be fixed once https://github.com/electron/electron/pull/12477 lands.

@ckerr there is nothing we can do on our side until the above PR lands.

[2018-04-17 17:43] IndieRobert commented on #1095
can we get a 'opened' event to send data please.

[2018-04-17 17:57] zanderz commented on #10864
@Zaldos You can set it to any unique string, it just has to match in the shortcut and the call to set it. Making a shortcut is easy, you just have to tweak the registry to present the appUserModelId in the explorer's properties dialog so you can set it there: https://winaero.com/blog/how-to-show-more-details-for-shortcuts-in-windows-8-1-windows-8-and-windows-7/
@marceloavf I meant whether you got

[2018-04-17 17:58] brandon-bethke-neudesic opened #12644 "Application Error for slack invite"
I get an error when I go to this URL to get a slack invite.
https://atom-slack.herokuapp.com/

[2018-04-17 18:29] Zaldos commented on #10864
@zanderz What would it take to be able to make it work if I'm using "npm start" which runs "electron -r babel-register ."

[2018-04-18 00:51] yarcub commented on #11741
@sgreiner are you using electron's `net`[1] module on the node process instead [`http(s)`](https://nodejs.org/api/https.html) module?

[1] https://github.com/electron/electron/blob/master/docs/api/net.md

[2018-04-18 01:48] Hazlank commented on #9777
@zhouxun-open somebody say cameras can only be used by a single process...

[2018-04-18 04:39] codebytere commented on #12644
It's loading correctly for me, but also because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed.

There are also a bunch of helpful people in this [community forum](https://discuss.atom.io/c/electron) that should be willing to point you in the right direction.

[2018-04-18 04:39] #12644 closed

[2018-04-18 08:59] davismiculis commented on #8725
Hi, to view videos, you need to login into Electron Slack channel.

Here is a video of Electron touch screen issue - https://files.slack.com/files-pri/T043R3J9D-FA9R8E56K/download/image_uploaded_from_ios.mov

Also noticed that two finger gestures, like pinch-to-zoom unfreezes touch issue - https://files.slack.com/files-pri/T043R3J9D-FA8LULW5R/download/image_uploaded_from_ios.mov

[2018-04-18 09:00] ekoneko commented on #12322
Ok, I'll wait for that

[2018-04-18 09:46] mahipalsaran commented on #7300
Hi @micsel ,
I included declare const window: any;
but it is throwing syntax error.
Any ideas why?

[2018-04-18 10:57] akashnimare commented on #8725
Can you folks reproduce this issue using the [muon](https://github.com/brave/muon) which is a forked version of electron -
https://github.com/brave/muon-quick

[2018-04-18 11:06] davismiculis commented on #8725
@akashnimare Trying at the moment. Do I just do this?
[code]

[2018-04-18 11:51] davismiculis commented on #8725
Yes, using what I mentioned in previous comment, we now built our app using Brave fork of Electron and it doesnt have touch issues. Only difference is that the `webcontents.clearHistory()` method is missing now. But thats okay.

[2018-04-18 13:45] kikill95 commented on #9693
I have the same issues, too
`app.commandLine.appendSwitch('js-flags', '--max-old-space-size 8192')`
didn't work as well

[2018-04-18 14:24] kikill95 commented on #9693
Thank you for comment, @ckerr
For my case electronVersion is 2.0.0-beta.7

For reproducing this I believe you can use code provided by @jrieken

[2018-04-18 14:31] ckerr commented on #8725
Is this issue still happening in the Electron 2.0.x betas?

[2018-04-18 15:13] micsel commented on #7300
Ya, put declare const window: any; at the top, just after where the imports are.

[2018-04-18 15:16] zpzxgcr commented on #8485
@dcrousso How did you solve it?

[2018-04-18 15:48] miniak opened #12653 "HTML fullscreen mode not exited when window-level fullscreen mode is left"
* Electron version: 2.0.0-beta.7
* Operating system: macOS 10.13.4

### Expected behavior

When HTML fullscreen mode is active, exiting fullscreen on the window level (clicking the green button or calling `win.setFullScreen(false)` should also exit HTML fullscreen mode.

### Actual behavior

HTML fullscreen mode stays active. Chrome correctly exits HTML fullscreen mode.

### How to reproduce

Use

[2018-04-18 16:00] akashnimare commented on #8725
@ckerr I think @davismiculis used that version only (Electron 2.0.x).

[2018-04-18 16:13] miniak commented on #12653
It also reproduces on Windows

[2018-04-18 16:19] BrendanDphs opened #12654 "Beacon in onbeforeunload is not sent"
* Electron version: 1.8.4
* Operating system: Windows 10

My electron app displays remote content that I control. (with nodeIntegration off) This content sends POST requests to notify the server that a user has navigated away from a page using the beacon api.

This takes the form of an event like this:

[code]

This works in Firefox and Chrome, but does not work when the same content is viewed in

[2018-04-18 17:32] Seshirantha commented on #7931
Run your app on a (local) server (like wamp, xampp, mamp)

[2018-04-18 18:05] alexanderturinske commented on #1779
Worked for me! Thanks!

[2018-04-18 18:16] GrumpyCrouton commented on #3763
Is this still possible to do? I tried with the above sources and could not get this to work. I also posted a question on StackOverflow, but views on that are very slowly trickling in and I thought I would try my luck here: https://stackoverflow.com/questions/49906156/run-batch-file-from-electron-main-thread

[2018-04-18 18:47] Polunom commented on #5723
Any progress so far? I don't see an implementation of @poiru's suggestion and customButtonsOnHover simply isn't practical (not shown normally + no inset).

[2018-04-18 20:30] samuelcarreira commented on #10864
Finally, I get notifications to work on my app!

**OS:**
Windows 10 Pro v1709, compilation: 16299.371

**Renderer** Code (note that the notifications didn't work from main process):
[code]
https://electronjs.org/docs/tutorial/notifications

**Main**  process code:
[code]

Now the important part. As pointed by other users, you need to install your app and create icons with AppUserModelID reference.

[2018-04-18 20:36] YurySolovyov opened #12657 "Buffer protocol handler reponsds with "200 OK200 OK""
* Electron version: 1.8.4
* Operating system: Linux

### Expected behavior

Status code header should be: "Status Code: 200 OK"

### Actual behavior

![image](https://user-images.githubusercontent.com/2168518/38956639-ddff69da-4360-11e8-9cf5-91372cde2c5e.png)
Status code header says "Status Code:200 OK200 OK"

### How to reproduce

Any use  of `.registerBufferProtocol` API

[2018-04-18 20:59] TGWKE commented on #11791
These errors are also on Ubuntu 16.04 & RHEL 7.x (so I presume most linux distros)

[2018-04-18 21:08] cawa-93 opened #12658 "Bug with icon in TouchBarButton"
* Electron version: v1.8.4
* Operating system: macOS 10.13.4

I experimented with buttons and created with a picture of different sizes. Here is the result.

### Actual behavior
![image](https://user-images.githubusercontent.com/1662812/38957553-a31458a0-4363-11e8-8088-daf705bac79f.png)
![image](https://user-images.githubusercontent.com/1662812/38957608-c124c802-4363-11e8-979b-fb1b4896852e.png)
![

[2018-04-18 21:52] ckerr commented on #12587
Thank you for taking the time to report this issue and helping to make Electron better.

If you have time, please consider writing a minimal Electron app -- for example, a fork of [electron-quick-start](https://github.com/electron/electron-quick-start) -- that a tester could run to reproduce this issue.

This makes fixing issues go more smoothly: not only does it ensure the right thing is tested,

[2018-04-18 21:53] ckerr commented on #12613
Thank you for taking the time to report this issue and helping to make Electron better.

If you have time, please consider writing a minimal Electron app -- for example, a fork of [electron-quick-start](https://github.com/electron/electron-quick-start) -- that a tester could run to reproduce this issue.

This makes fixing issues go more smoothly: not only does it ensure the right thing is tested,

[2018-04-19 00:18] netroby opened #12659 "Would you please expose the proxy config api?"
Would you please expose the proxy config api?

So we can control proxy by the api.

Some thing like

[code]

[2018-04-19 00:32] genestiel commented on #10616
@momothereal
i got this problem recently on electron v1.7.9

if there is a modal window and have parent window, when i close modal window there is a flick or blink... when i set alwaysOnTop = true on mainWindow property, there problem solved.

let mainWindow = new BrowserWindow({
    width: 800, height: 600,
    autoHideMenuBar: true,
    frame: false,
    **alwaysOnTop:true**
});

let childWindow

[2018-04-19 07:14] LiPengfei19820619 commented on #10897
Is there  a plan to fix? thanks.

[2018-04-19 07:54] davismiculis commented on #8725
@ckerr I tested it on Electron 1.7.x 1.8.x and 2.0 beta 7, touch froze on all these versions.

[2018-04-19 10:17] monsieurnebo commented on #2288
The first two methods weren't working for me, but @richjeffery's method is working fine.

[2018-04-19 11:15] WolfWalter commented on #9612
Only tested in chrome browser. In electron still not possible. Webkitdirectory shows same dialog as electron dialog :(

[2018-04-19 12:50] mrgrauel opened #12663 "Accelerator Key § missing"
Is it possible to use the key on macOS on the left of `1` ?

I use [hyper](hyper.is) and would like to open the app with the Keyboard Shortcut `CMD+§`. `§` is the key left to `1` on an English international layout for macOS.

[2018-04-19 13:27] codebytere commented on #12358
@ibash that would be great, thanks!

[2018-04-19 14:09] h3rb opened #12664 "Multi-monitor enhanced support in BrowserWindow class family"
Originally misposted: "I'm interested in writing a game engine with Electron. Some of the more advanced features of desktops involve picking the target monitor,  I can't seem to find a way to tell a BrowserWindow to open fullscreen on any other monitor than the "1" monitor on windows. It would be nice to be able to do that.  It would also be nice to tell a BrowserWindow to resize / adapt to a targ

[2018-04-19 14:14] unixzii commented on #12613
Thanks for your replying.

Unfortunately, when I turn to making a demo app, it just doesn't reproduce this problem. Maybe the demo does not reach the complexity of our real world app and this issue was also possibly caused by ourself.

So I decide to close this issue, thank you anyway!

[2018-04-19 14:14] #12613 closed

[2018-04-19 14:27] MarshallOfSound commented on #12664
All of this can be done in userland, each display you get has an `x`, `y`, `width` and `height` through the `bounds` property.  The 2d coordinate system used for positioning windows goes across screens.  I.e. the top left of two screens share a coordinate system and are therefore not both `(0, 0)`.

If you want to position a window onto display X you just have to call `setPosition(x, y)` where x a

[2018-04-19 14:27] #12664 closed

[2018-04-19 14:28] MarshallOfSound commented on #12664
Refs:

https://electronjs.org/docs/api/screen#screengetalldisplays
https://electronjs.org/docs/api/structures/display

[2018-04-19 14:35] ibash commented on #12358
Just to be clear, I meant are there specific logs I should add to help debug this?

[2018-04-19 17:59] fcastilloec commented on #6100
I see this issue on Windows 8.1 with electron `v1.8.4`

[2018-04-19 18:46] caimen commented on #10863
--disable-gpu fixes this problem for me in GitHub desktop.  I have the same issue with Visual Studio Installer/Update application.  Been having this issue randomly off and on in various electron apps on my HP Zbook 15u G2 for about 6 months now.  My computer has an AMD Firepro M4170 and an HD Graphics 5500 integrated graphics.

[2018-04-19 18:56] sofianguy commented on #12632
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-04-19 19:03] sofianguy commented on #12663
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2018-04-19 19:03] #12663 closed

[2018-04-19 19:52] davidtoska commented on #11791
I got a similar error when I try to connect to a "room" in Twilio. Building an video-application with
electron and Twilo. To sound.

[18632:0419/214440.072878:ERROR:audio_send_stream.cc(103)] Failed to set up send codec state.

Get this error. Using ubuntu by the way.

[2018-04-19 20:38] petrbrzek commented on #12636
@sindresorhus Is it specific to version 2.0? I think the same thing happens in 1.x as well.

[2018-04-19 23:03] Bartastic opened #12667 "systemPreferences.getAccentColor() Returns the wrong colour on Windows 10"
* Electron version: 1.8.4
* Operating system: Windows 10

### Expected behavior

Calling systemPreferences.getAccentColor() should return the user-set Accent colour from Settings > Personalization > Colours

### Actual behavior

systemPreferences.getAccentColor() Returns a colour with an Alpha channel - this actually cannot be set in Windows 10. I took a look at the source, and it looks like this

[2018-04-19 23:26] sarah97 opened #12668 "MacOS unexpected closing on window.close"
* Electron version: 1.8.3 (tested in 1.8.4 as well)
* Operating system: multiple OSX versions  (10.11.6 and 10.13.3), this is a MacOS issue.

### Expected behavior

After calling window.close(), window.onbeforeunload will be triggered, a notification will appear prompting user to either cancel the action or quit the application. Upon selecting "cancel" the application will continue to run.

### Ac

[2018-04-20 01:18] universeroc commented on #12632
@sofianguy @ckerr OK, in fact, I've deployed mini-breakpad-server to receive mini-dump reported from electron apps, and I don't know the very details about the steps even after I talked with app developers, they reply to me it's everything OK but crash-dump generated and reported. I debugged the mini-dumps and found nothing related about our code, and googled the stack info, found somebody already

[2018-04-20 04:34] codebytere commented on #12506
@kwonoj did you verify this to work in `1-8-x`? The api file for `contentTracing` is identical between the `1-8-x` and `2-0-x` release line branches so i'm not sure it's a regression; if `1-8-x` does indeed work than it may be an upstream issue in chromium

[2018-04-20 04:39] kwonoj commented on #12506
@codebytere issue body attaches comparison between latest 1.8 and 2.0. With attached code snippet it can be reproduced easily.

[2018-04-20 06:07] t-hiroishi opened #12670 "electron.remote throws lacking errors"
* Electron version: 1.8.4
* Operating system: Windows 7 Professional (64bit SP1)

### Expected behavior

* Custom Error objects are correctly received by the renderer process when thrown from the main process.
* Error objects have information about the process that it was thrown.

### Actual behavior

* Custom Error objects are lacking when thrown from the main process to the renderer process.
* E

[2018-04-20 07:05] MarshallOfSound commented on #12670
@t-hiroishi Would you be able to make a PR with these changes, they seem 👌 in this issue thread but would need to see them in context to know for sure 😄

[2018-04-20 07:09] #9561 closed

[2018-04-20 07:15] MCMicS opened #12671 "useContentSize not work on mac with modal dialog"
* Electron version: 1.8.4
* Operating system: macos
* sample: https://github.com/MCMicS/electron-issues/tree/electr-issue-useContentSize

### Expected behavior
modal sheet on mac has same size like the windows on windows

### Actual behavior
The height is 22px smaller

### How to reproduce

1. open new modal BrowserWindow

[2018-04-20 07:27] t-hiroishi commented on #12670
@MarshallOfSound ok, I'll check the PR process and try it :smile:

[2018-04-20 09:42] e9gille commented on #12668
I've had that problem in the past and found that preventing the window from being closed seems to require a fast response from the onbeforeunload callback. In your example, if showMesssageBox takes too long to create the dialog window it may cause the window to close.

I ended up setting a flag and creating the message box with a setTimeout, something like this:
[code]

[2018-04-20 09:50] kikill95 commented on #10905
I have this error with electron v. 2.0.0-beta.7

[2018-04-20 10:23] e9gille opened #12672 "showMessageBox as modal should prevent parent window from being closed"
* Electron version: 1.8.4
* Operating system: Ubuntu 17.10

### Expected behavior

When creating a modal message box using showMessageBox(browserWindow, options) the browserWindow's close button (in title bar) should be disabled until the modal message has been dismissed.
This works as expected on MacOS and Windows.

### Actual behavior

When the modal is displayed, browserWindow is dimmed and dis

[2018-04-20 14:50] CGJennings commented on #12588
This is already fixed in master, but the online docs at [electronjs.org](https://electronjs.org/docs/api/browser-window) haven't caught up yet.

For your reference, the new URL is:
https://cs.chromium.org/chromium/src/third_party/blink/renderer/platform/runtime_enabled_features.json5?l=70

[2018-04-20 16:00] bpasero opened #12675 "Electron 2.0.x: crashes in MenuModelAdapter and MenuModel"
* Electron version: 2.0.0-beta.7
* Operating system: Windows (various)

We have been running Electron 2.0.0-beta.7 for a week in VSCode insiders and our crash data shows some crashes around menus. I am attaching the crash reports here hoping that something pops up, but I am sorry for not having any steps to reproduce currently. Since there are many crashes, I will attach them as individual comment

[2018-04-20 16:00] bpasero commented on #12675
[code]

[2018-04-20 16:01] bpasero commented on #12675
[code]

[2018-04-20 16:01] bpasero commented on #12675
[code]

[2018-04-20 16:07] bpasero opened #12676 "Electron 2.0.x: crashes in V8 garbage collector?"
* Electron version: 2.0.0-beta.7
* Operating system: macOS and Windows

We have been running Electron 2.0.0-beta.7 for a week in VSCode insiders and our crash data shows some crashes around V8 garbage collection. I am attaching the crash reports here hoping that something pops up, but I am sorry for not having any steps to reproduce currently. Since there are many crashes, I will attach them as in

[2018-04-20 16:07] bpasero commented on #12676
[code]

[2018-04-20 16:07] bpasero commented on #12676
[code]

[2018-04-20 16:08] bpasero commented on #12676
[code]

[2018-04-20 16:25] odiseo42 opened #12677 "Alternative to "About" mini window in Windows"
* Electron version: 1.6.2
* Operating system: Windows (any)

I saw recently that the[ "About" menu role is only available in MacOS](https://github.com/electron/electron/issues/4653). What is a viable alternative to have a similar window in Windows, preferably in the "Help" menu like most native apps?

[2018-04-20 18:02] YurySolovyov commented on #12098
In addition to `net` module having cross-platform IPC server/sockets, [`ws` module supports domain sockets as well](https://github.com/websockets/ws/blob/master/doc/ws.md#unix-domain-sockets). This means that it should be possible to create an IPC mechanism using websockets for data transport.

Answering obvious question on why this should be in core and not in userland modules - I think electron

[2018-04-20 18:47] #11772 closed

[2018-04-20 18:47] #12391 closed

[2018-04-20 21:31] matt3224 commented on #10078
Is there any news on this, i'm looking to make an app that floats over the top exactly like the macos picture in picture functionality where the window is stuck and remains visible during the changing of screens or fullscreen apps

Perhaps electron v2 will add it?

[2018-04-20 21:53] benjtinsley opened #12678 "<webview> does not render content"
* Electron version: 1.8.2
* Operating system: Mac 10.13.3

### Expected behavior
When trying to open an external url in a webview, it will render the content.

### Actual behavior
The webview renders, the appropriate webview events fire as expected, but no content from the external URL renders, instead I am given a white screen. Note that this works as expected when running the app from my termina

[2018-04-21 02:06] zcbenz commented on #12676
From the crash reports the code crashed at:

[code]

and:

[code]

[2018-04-21 02:42] mattdesl opened #12680 "BrowserView Steals BrowserWindow Input Field Editability"
* Electron version: 1.8.4 and 2.0.0-beta.7
* Operating system: macOS Sierra 10.12.6

### Expected behavior

An `<input>` field in BrowserWindow page should be editable even if there is a BrowserView content below it.

### Actual behavior

When interacting with the BrowserView, you can no longer edit the text in the BrowserWindow, even though the content is not overlapping.

### How to reproduce

T

[2018-04-21 02:45] roelpaulo commented on #10864
@samuelcarreira, tried and tested. Once installed, even the development had notifications. Used Inno Setup and Inno Script Studio to build the installer on Windows 10 16299.371.

[2018-04-21 02:55] steverandy commented on #8504
Hi, is the electron team considering to implement/fix this issue in the future?

[2018-04-21 03:12] akontsevich commented on #7831
Bug still exists in both Riot and Skypeforlinux: https://github.com/vector-im/riot-web/issues/5704#issuecomment-383262904 and seems in many other applications. Please fix.

[2018-04-21 10:33] jwheare commented on #7125
Yup, this still happens with Electron 1.8.4.

[2018-04-21 11:44] zpzxgcr opened #12681 "There was a problem when I tried to use this API"
* Electron version:1.8.4
* Operating system:win7 64

* Last known working Electron version: 1.8.4

### Expected behavior

successful replication of different types of data.
### Actual behavior

### How to reproduce
code:  clipboard.write({text: 'first', html: '<b>last</b>'})
 just copied the first data.
use the [api:](https://electron.atom.io/docs/api/clipboard/#clipboardwritedata-type)

[2018-04-21 12:12] tosho commented on #11234
I'm currently running Ubuntu 17.10 (upgraded from 17.04) and few days ago suddenly all my Electron apps stopped working - VSCode, Discord, Ganache, Lisk Nano (just to name a few) installed from .deb, snap and from .AppImage. Some of the apps that I run from the terminal gave me "segmentation fault (core dumped)" others didn't start nor gave me an error at all.
Adding  ` export XDG_CONFIG_DIRS="" ,

[2018-04-21 16:10] mattdesl commented on #12680
I found a temporary workaround: add a renderer preload script to each webContents that does the following:

[code]

See the `fix` branch:
https://github.com/mattdesl/electron-test-toolbar/tree/fix

[2018-04-21 22:00] codebytere commented on #7125
@jwheare gotcha, i'll check this out this week!

[2018-04-22 02:09] zeke commented on #12391
Excellent work, @codebytere! 🙌

[2018-04-22 02:44] codebytere commented on #12681
Thank you for taking the time to report this issue and helping to make Electron better.

Please provide a standalone test that a tester could run to reproduce the issue. This makes fixing issues go more smoothly: not only does it ensure the right thing is tested, but it also prevents triage from bottlenecking on making testers write new tests for each new issue. You said that there was an issue wi

[2018-04-22 02:53] zpzxgcr commented on #12681
`var clipboard = require('electron').clipboard `
`clipboard.write({text: 'first', html: 'last'})`
The paste board content shows 'first'

I'm using the official demo.
@codebytere thanks

[2018-04-22 11:55] timfish opened #12685 "startDrag should work from renderer to simplify usage"
The docs for `startDrag` don't mention this but it has to be called from the main process. This means many have the following boilerplate in their main process:

[code]
And then have to access the API via IPC:
[code]

The docs could be updated to mention that `startDrag` should be called in this way but it would be better if it worked from the renderer and Electron handled the IPC for you.

[2018-04-22 12:01] timfish commented on #12678
Rather than setting the `src` you might want to try using [loadURL](https://electronjs.org/docs/api/webview-tag#webviewloadurlurl-options):
[code]

If you end up hiding the `<web-view>` via `visibility` CSS, there is [this Mac bug](https://github.com/electron/electron/issues/8505) to be aware of.

[2018-04-22 14:02] Nditah commented on #5124
Electron v1.8.4
The Windows stays behind the main windows even when  alwaysOnTop is true as long as  **transparent** is true

    let win = new BrowserWindow({
        frame: false,
        transparent: false,
        alwaysOnTop: true,
        width: 400,
        height: 200
    })

[2018-04-22 14:13] lingmumu opened #12687 "`shell.openItem` is not activate the opened app"
* Electron version: v1.8.4
* Operating system:win7/win10

### Expected behavior
Click on the picture and open the picture. The picture should be placed at the top of the window.
![image](https://user-images.githubusercontent.com/22462790/39095873-378d9528-467a-11e8-91f0-f16960257b44.png)
### Actual behavior
App blocked the picture.
![image](https://user-images.githubusercontent.com/22462790/390958

[2018-04-22 18:09] Mahi-Uddin commented on #10604
Wow it works!
Thanks.

[2018-04-22 18:20] fadookie opened #12688 "Sometimes window zooms in and cannot zoom out"
* Electron version:
Unknown (Discord v0.0.250, Slack Version Unknown)
* Operating system:
macOS 10.11.6

* Last known working Electron version:
Unknown

### Expected behavior
Apps should never be able to be zoomed in on. If this does happen, it should be possible to zoom out.

### Actual behavior
Sometimes, Electron apps will zoom in. Just recently this happened in Discord when being operated by t

[2018-04-22 20:29] MarshallOfSound commented on #12659
There is already an api exposed for this on the session object.  Just call setProxy for the session your "net" request will be made with.

https://electronjs.org/docs/api/session#sessetproxyconfig-callback

[2018-04-22 20:29] #12659 closed

[2018-04-22 20:31] MarshallOfSound commented on #12688
This is called pinch zooming and it is default electron behavior unless app devs explicitly disable it.  It's not actually a bug in Electron.

You can follow https://github.com/electron/electron/issues/12631 for progress / updates on changing this default and you should reach out to app support channels for any app that's doing this and raise it with them if you want them to disable it.

[2018-04-22 20:31] #12688 closed

[2018-04-23 03:08] d21d3q commented on #12329
## another steps to reproduce

with fresh install of raspbian jessie/stretch lite
[code]
will produce: https://hastebin.com/madajazifo.sql

[2018-04-23 03:31] jerryyan1990 commented on #12653
same problem

[2018-04-23 06:18] gautaz commented on #10465
@yattamax Did you ask in one of the forums for answers on this particular subject? Did you receive any help?

[2018-04-23 07:12] steem commented on #12622
Ok. It's ok now after updating visual studio 2017 version to 15.6.6.

[2018-04-23 07:18] sindresorhus commented on #8090
@zcbenz This also affects testing with Spectron: https://github.com/electron/spectron/issues/282 Is there really no way for Electron to work around it?

[2018-04-23 07:37] jerryyan1990 opened #12689 "shortcut can't quit fullscreen"
* Electron version: 1.8.4
* Operating system: macOS Sierra 10.12.6

* Last known working Electron version: never used before

### Expected behavior

when i click maximize button the window becomes full screen，when i use shortcut ‘ESC’ to quit full screen

### Actual behavior
_I was builded application by electron-builder，and test application on windows 7 & windows 10_

use shortcut doesn't work，th

[2018-04-23 12:50] ClaudiaStefan opened #12690 "[macOS] Click event is not triggered fron notification center if the user waits ~1 minute or more"
* Electron version: 1.8.4
* Operating system: macOS High Sierra (version 10.13.4)

* Last known working Electron version: idk

### Expected behavior
4. Click event is triggered

### Actual behavior
4. Only the app comes in focus, or nothing happens

### How to reproduce
1. Trigger a notification from main process
2. **Wait at least 1 minute**
3. Click in notification center, on the notification

#

[2018-04-23 12:56] Devhercule commented on #12436
Hi,

I confirm this issue, I have the same problem.

It works perfectly with "env.shiftkey", "env.altkey" ... but not with "env.ctrlkey"

[code]

[2018-04-23 12:59] KingRial commented on #10864
@samuelcarreira I can confirm your "tutorial" solved my problem too! (I wasn't using the "setAsDefaultProtocolClient" method)

Thanks for sharing it!

[2018-04-23 14:01] yattamax commented on #10465
Hi :)
unfortunately I did not receive an answer, so I switched to https://nwjs.io/ which has this feature

Max :)

[2018-04-23 14:26] gautaz commented on #10465
@yattamax Thanks for your quick answer even if it is a bit disappointing ;-).

@sofianguy Hello, this issue was originally treated as if it were a question but I see it more as a missing functionality, sort of a must have for developers needing to investigate issues while using encrypted communications.

Would you mind to elaborate your decision or at least provide a link to an article explaining

[2018-04-23 15:11] rakesh-agrawal opened #12691 "shell.openExternal() Windows URL not working"
* Electron version:1.6.16
* Operating system: Windows 10

Hi,

We are using shell.openExternal to open default internet explorer browser from my windows 10 system, but the url is not opening:

const shell = require('electron').shell;

var authorizeUrl = "https://gazzlezero.auth0.com/authorize?audience=https://aeroroero.auth0.com/api/v2/&response_type=code&client_id=4TEKnyducuiyiuyb7r02LWmHtdKqsuVu

[2018-04-23 15:31] benjtinsley commented on #12678
i am not sure what the issue was or how i solved, but i moved my project from `electron-builder` to `electron-forge` and it miraculously works now. maybe there was an issue in the packaging that caused this? not totally sure but it works now so :shrug:

[2018-04-23 17:08] JaroslavTulach commented on #9970
I beg your pardon: May I have an outsider question? I see @alexeykuzmin's comment from Jan 26:

Did that already happen? What is the name of "next major release"? Is there a way to track the progress? What are the steps to get the source? Is there a branch/tag that I can check out?

I am new to Electron and I admit I don't know where to start digging the history in its multi repo setup. Yet, I'd l

[2018-04-23 17:14] codebytere commented on #9970
@JaroslavTulach hey, happy to help!

The current latest version of Electron is `v1.8.4`, shipped with Node `v8.2.1`. The next major release is the `2.X` line, which is in late beta stages right now. We're currently on `v2.0.0-beta.7`, which ships with Node `v8.9.3`.

You can keep track of these by looking at our [homepage](https://electronjs.org/), and there is a [project board](https://github.com

[2018-04-23 17:33] sofianguy commented on #12691
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-04-23 17:33] #12691 closed

[2018-04-23 17:35] sofianguy commented on #12608
Thank you for your issue!

We haven't gotten a response to our questions in our [comment](https://github.com/electron/electron/issues/12608#issuecomment-380996337). With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the is

[2018-04-23 17:35] #12608 closed

[2018-04-23 17:36] sofianguy commented on #10860
Thank you for your issue!

We haven't gotten a response to our questions in our [comment](https://github.com/electron/electron/issues/10860#issuecomment-381337907). With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the is

[2018-04-23 17:36] #10860 closed

[2018-04-23 19:46] #12597 closed

[2018-04-23 21:00] avi12 opened #12692 "Can't run Electron app"
Whenever I run at the root of my Electron project `electron .` I get the following:
![](https://i.imgur.com/pc3W5Ye.png)

[2018-04-23 21:55] codebytere commented on #12692
hi @avi12, this looks to be a problem with your package.json, and not with Electron itself.

If you run your package.json through a linter and check that the fields are populated correctly the problem should resolve :)

[2018-04-23 21:55] #12692 closed

[2018-04-23 21:56] codebytere commented on #12690
I'll look into this shortly @ClaudiaStefan

[2018-04-23 22:00] fadookie commented on #12688
@MarshallOfSound if this is a feature rather than a bug, why is it I can't get it to trigger most of the time, and I am unable to zoom out after I have zoomed in?

[2018-04-23 22:33] sarah97 commented on #12668
I tried your fix and it worked. Thank you!

[2018-04-23 22:33] #12668 closed

[2018-04-24 01:50] MarshallOfSound commented on #12690
@codebytere @ClaudiaStefan This is known and somewhat expected behavior.  The issue here is that `notification` object is being garbage collected before the click event is emitted.  If you want it to persist you need to store it somewhere it won't be destructed.

For instance at a higher scope you can do

[code]

and then after https://github.com/ClaudiaStefan/electron-notification-test/blob/maste

[2018-04-24 03:05] hatpick commented on #10445
Any update on this? Adding the following on main configuration has no effect.
[code]

[2018-04-24 04:39] immanoj16 commented on #10876
Hey @holgersindbaek, Did you find any solution for this?? Please let me know.

[2018-04-24 04:40] codebytere commented on #12689
I'm unable to reproduce this on the latest stable release, `1.8.4`, or current `master` on MacOS Sierra. Is there any other code in your application?

[2018-04-24 05:11] Codefans-fan commented on #6451
export const environment = {
    production: true,
    version: require('../../../../package.json').version
};

[2018-04-24 05:35] ClaudiaStefan commented on #12690
@MarshallOfSound thanks a lot :). I totally missed that :D.

[2018-04-24 05:35] #12690 closed

[2018-04-24 07:08] danielravina commented on #8416
Hey I think the issue is not fixed. I can reproduce the error consistently on `v1.8.4`.

[2018-04-24 07:27] onreadystatechange opened #12693 "How can I solve the problem of applying regular white screens?"
Thanks for opening an issue! A few things to keep in mind:

- The issue tracker is only for bugs and feature requests.
- Before reporting a bug, please try reproducing your issue against
  the latest version of Electron.
- If you need general advice, join our Slack: http://atom-slack.herokuapp.com
-->

* Electron version:1.6.17
* Operating system:windows 32

Callstack

?OnMediaNotification@CLocalE

[2018-04-24 07:33] DesselBane commented on #3049
It still exists on Linux too

[2018-04-24 07:34] onreadystatechange commented on #12693
this is my log
[13.dmp.zip](https://github.com/electron/electron/files/1941387/13.dmp.zip)

[2018-04-24 08:30] immanoj16 commented on #10876
Thank you

On Tue, Apr 24, 2018 at 12:52 PM, holgersindbaek <notifications@github.com>
wrote:

[2018-04-24 08:30] immanoj16 commented on #10876
Do you know when it will be released to Stable version.

[2018-04-24 09:19] bpasero opened #12695 "2.0.x: Segmentation fault when starting with NODE_OPTIONS=--max-old-space-size=4096"
* Electron version: 2.0-beta.7
* Operating system: macOS 10.13.4

* Last known working Electron version: 1.7.9

### Expected behavior

It should not crash.

### Actual behavior

It crashes.

### How to reproduce

* open a terminal
* `export NODE_OPTIONS=--max-old-space-size=4096`
* `./Electron`

Output:
`Segmentation fault: 11`

[code]

[2018-04-24 09:27] sla89 commented on #12695
Same on

Electron version: 1.8.3
Operating system: Ubuntu 16.04

when setting NODE_OPTIONS=--use-openssl-ca.

[2018-04-24 09:41] holgersindbaek commented on #10876
No

[2018-04-24 09:52] hanFengSan commented on #10864
I get it working:
[code]
Main code:
[code]
Just okey. You can try:
[code]

[2018-04-24 10:26] YurySolovyov commented on #12098
Important note - we need to be very careful with permissions on such pipes, to make sure  that (by default) pipes are readable/writeable only by app itself. Kudos to @paulcbetts for bringing that up

[2018-04-24 11:34] michaelb-01 commented on #1494
I can't get this to work on mac..

I'm sending an event with ipcRender:

[code]

Then listening for it in my main.js with ipcMain and creating the notification. The console prints true (notifications are supported) but my notification doesn't show up.. (Do Not Disturb is turned off):

[code]

[2018-04-24 12:05] codebytere commented on #12695
I'll dig into this today!

[2018-04-24 12:29] sebakerckhof opened #12697 "Disable chrome autoplay policies"
It looks like [work on Chrome 66 ](https://github.com/electron/electron/projects/10) is ongoing.

Chrome 66 has new policies around autoplay of audio:
https://developers.google.com/web/updates/2017/09/autoplay-policy-changes

These don't make sense for electron applications.Will these be disabled or will there be a way to disable them?

[2018-04-24 12:40] codebytere commented on #12670
Closed by merge of https://github.com/electron/electron/pull/12694 🚀

[2018-04-24 12:40] #12670 closed

[2018-04-24 12:44] danailbd opened #12698 "`Menu.buildFromTemplate` uses an incomplete check to determine if passed template is an Array"
* Electron version: 1.8.4
* Operating system: Windows 10 x64
* Last known working Electron version: 1.8.1

We're having trouble with an array failing [this check](https://github.com/electron/electron/blob/v1.8.4/lib/browser/api/menu.js#L170) in the `menu.buildTemplate` function as it has been created in a different context (using [nodeJs vm](https://nodejs.org/api/vm.html)). It used to pass the [p

[2018-04-24 13:25] codebytere commented on #12698
@danailbd this should be resolved today and go out in the next release!

[2018-04-24 13:41] aliazlan4 opened #12700 "minWidth is not working on Ubuntu 17"
minWidth is not working on ubuntu 17 but it is working perfectly on Windows. My electron version is set as `"electron": "^1.8.0"`. I am creating my window by the following line of code

`mainWindow = new BrowserWindow({ width: 1300, height: 726, minWidth: 1245, "web-references": { 'web-security': false } });`

[2018-04-24 14:12] Pephers opened #12701 "Add setTitleBarStyle method to BrowserWindow"
* Electron version: >= 1.8.2
* Operating system: Any macOS

### Feature request

Currently, the `titleBarStyle` option can only be passed an as option to the `BrowserWindow` constructor when initializing a new BrowserWindow to customize the behavior of the macOS title bar and traffic lights. This cannot be changed after the BrowserWindow been created.

Our team would like to be able to set the `ti

[2018-04-24 14:14] MarshallOfSound commented on #12701
Go for it, 100% down for this to be a feature just from past experience modifying the state of things like titlebar masks was just too much of a nightmare, though that was me trying to toggle between `frame: true` and `frame: false` not just toggling titlebar styles so this might be doable 👍

[2018-04-24 14:19] Pephers commented on #12701
Thanks! Perfect, this sounds good. Agreed that the title bar masks are tricky to set up.

[2018-04-24 15:27] stanleyxu2005 opened #12704 "Application file path arrangement problem"
* Electron version: 1.8.4
* Operating system: Windows 7 x64

Dear Developers,

In short, I'm wondering whether I can access files of myapp, using `app://` protocol?

The longer version:

I found the absolute file paths are insistent somehow. Here is a code example:
[code]
As you can see, the path of the main page should be `http://|https://|file://`. However the path of `preload` script must be a

[2018-04-24 15:30] bughit commented on #12607
@deepak1556 Can you give some tips on how to accomplish this? The idea is that if any frame load fails on the http level, some event (finish or fail) should deliver the frameRoutingId and the http response code.

Not only does this belong here (along with other navigation failures) but additionally WebRequest does not deliver frameRoutingIds.

[2018-04-24 15:30] MariusMeiners commented on #8901
same, @zcbenz could you perhaps reopen this issue ? <3

[2018-04-24 15:40] sergeysova commented on #8305
What about this:

![2018-04-24 18 39 55](https://user-images.githubusercontent.com/5620073/39198113-e80e8428-47ee-11e8-9d3b-9dff1006c170.jpg)

[2018-04-24 15:50] WilliamHolmes opened #12705 "Question: How to Change BrowserWindow (Chromium) context menu language"
Hi,

## Use Case
Our web app allows users to change their preferred language. (Accept-Language Header)

Is it possible to change the default BrowserWindow context menu language?

## Currently
![image](https://user-images.githubusercontent.com/5538260/39198416-ea0596fa-47de-11e8-8584-f6375ea17455.png)

In this example the user has chosen 'fr', but the context menu shows in English.

(My Local machi

[2018-04-24 15:51] CameronFletcher92 opened #12706 "Detecting 'Put display to sleep' on MacOS"
Both hot corners and 'CTRL + SHIFT + EJECT' can put the display to sleep without actually suspending the device. This means the `powerMonitor.on('suspend'` event is not emitted, which makes sense, but we still require a way of detecting this use case in electron.

Is there any known way to detect this situation? And if not, would it be possible to add this functionality to electron's powerMonitor?

[2018-04-24 17:30] MarshallOfSound commented on #12705
Afaik Electron doesn't provide a default context menu, a different module must be giving that to you.  Probably `electron-spellchecker`

[2018-04-24 17:30] #12705 closed

[2018-04-24 17:36] WilliamHolmes commented on #12705
@MarshallOfSound thanks. I've now opened an [issue](https://github.com/electron-userland/electron-spellchecker/issues/114) with `electron-spellchecker`

[2018-04-24 20:59] perkinsb1024 commented on #10959
I also am having this problem, both on Electron 1.8.4 and Electron 2.0.0-beta.7, using https://github.com/aalhaimi/electron-web-bluetooth.

[code]
MacOS High Sierra 10.13.3
Web Bluetooth works fine on my computer using Chrome 67

[2018-04-24 21:03] timfish commented on #12704
`file://` works on Windows but you'll have problems with different path separators if you build URLs and paths manually like that. Use `path` and `url` and they handle this for you.

For example this works in all platforms:
[code]

[2018-04-24 22:05] nornagon commented on #12688
To turn pinch-zooming off, use `webContents.setVisualZoomLevelLimits(1, 1)`

https://github.com/electron/electron/blob/master/docs/api/web-contents.md#contentssetvisualzoomlevellimitsminimumlevel-maximumlevel

[2018-04-24 22:11] ckerr commented on #12704
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-04-24 22:11] #12704 closed

[2018-04-24 23:09] karlfus commented on #9626
Still seeing this in TS 2.8.1 and Electron 1.7.11.  :cry:

[2018-04-24 23:40] stanleyxu2005 commented on #12704
@ckerr  Browser window's entry point is a url or a file protocol, but preload is a local file path, dont you think this is a bug?

[2018-04-25 01:33] wspl opened #12707 "Cannot push elements to array from main-process on renderer-process"
* Electron version: 1.8.4 / 2.0.0-beta.7
  * Operating system: macOS 10.13.2
------
Following code works well:

`main-process.js`
[code]
`renderer-process.js`
[code]
------
But if I put the array into a class, and pass the class instance to renderer process, it cannot work properly:

`main-process.js`
[code]
`renderer-process.js`
[code]

The problem is that the renderer process cannot operate on a

[2018-04-25 02:14] deanylev commented on #10732
@codebytere doesn't seem to be fixed. Here is the color #1D89CB. Left is Electron 2.0.0-beta.7, right is Electron 1.6.6, and bottom is Chrome 66. All are totally different.

![image](https://user-images.githubusercontent.com/22049511/39222836-19031af6-4882-11e8-8d47-d64d0af58ebb.png)

[2018-04-25 02:16] sindresorhus commented on #8090
@zcbenz @zeke @codebytere The Chromium team has said they're open to an outside patch fixing this. The referenced Chromium issue is reopened: https://bugs.chromium.org/p/chromium/issues/detail?id=365427#c18 In case you have the resources to do something about it.

[2018-04-25 02:16] sindresorhus commented on #8090
// @MarshallOfSound

[2018-04-25 07:49] sysleaf opened #12708 "node ffi Async api behave differently in electron renderer and main process"
I am using node-ffi module to call dll api. i am using  async feature of node-ffi to call some API in async way..like below
[code]

these API work as expected(async non-blocking way) in nodejs.

But same api behave differently in electron main and renderer process.
In main process -- it works as expected(async non-blocking way)
In renderer process-- it works unexpected(syn blocking way), it block

[2018-04-25 08:36] jerryyan1990 commented on #12689
@codebytere thanks for replay my question :sparkling_heart:，here is my all code below

[code]

[2018-04-25 09:26] xuxiaoxin opened #12709 "when electron 2.x release"
* Electron version:
* Operating system:

* Last known working Electron version:

### Expected behavior

### Actual behavior

### How to reproduce

[2018-04-25 13:58] rdiazv commented on #5124
I'm having the same problem. When both `alwaysOnTop` and `transparent` are `true`, no content is shown on Windows 8.1.

Using electron 1.8.4

[2018-04-25 14:04] verner-lall commented on #6996
Almost 2 years for something seemingly simple. Please?

[2018-04-25 14:31] timfish commented on #12708
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

I've used `node-ffi` and the `async` feature in the renderer and works as expected.

[2018-04-25 14:31] #12708 closed

[2018-04-25 14:33] charleshimmer commented on #11989
+1 this is also happening on version 1.8.4 of electron

[2018-04-25 14:36] timfish opened #12710 "unresponsive event is undocumented on webContents"
The `unresponsive` event is only [documented on BrowserWindow](https://electronjs.org/docs/api/browser-window#event-unresponsive) but appears to also work on `webContents`.

Is this just a matter of updating the docs?

[2018-04-25 14:43] jrfitz opened #12711 "Slack app on Windows won't launch if user/system has defined environment variable NODE_OPTIONS"
We had a person report:

To increase nodejs memory limits it's common to use f.e. "NODE_OPTIONS=--max-old-space-size=8192".

For few seconds the slack.exe process appears in task manager, then disappears without any warnings or errors, doesn't matter if it's x32 or x64 version

Person thinks it’s something incompatible with node.dll(at initialization) slack use.

* Electron version: 1.8.x
* Operat

[2018-04-25 14:48] MarshallOfSound commented on #12711
Duplicate #12695

[2018-04-25 14:48] #12711 closed

[2018-04-25 16:10] sofianguy commented on #12693
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2018-04-25 16:10] #12693 closed

[2018-04-25 16:15] SocksPls commented on #6996
Anything? This is the only thing stopping me using brave as my main browser on all of my computers.

[2018-04-25 16:46] teleclimber commented on #10732
Not sure. It might be fixed. Here is what I get:

![artboard](https://user-images.githubusercontent.com/5631748/39260013-be67d9be-487d-11e8-9cf1-44aba51fdbe4.jpg)

Method: set background colors on Electron and Chrome via devtools. Screenshoted and opened in Sketch to add a control rect using the same color. I opened Electron by clicking on it after downloading. I did not set any flags.

@deanylev

[2018-04-25 17:33] davidhariri commented on #2288
It is not advisable to use `window.process`. Reasoning below.

1. It is not available in `<webview>`
2. It is not available in `<iframe>`
3. It will not be available if the node process is disabled.

IMO we should all use @richjeffery's solution or the Electron team should make a global property available to all contexts for non-spoofable detection.

[2018-04-25 18:08] Negan1911 commented on #6956
I think that i've got it, just wrap the `.destroy()` in a `setTimeout()` like this:
[code]

I don't understand why this issue was closed and even was not created on Node or V8 (if is their issue), furthermore, if we wrap the call on electron with the setTimeout should solve this right?

[2018-04-25 18:09] Negan1911 commented on #9982
I think that i've got it, just wrap the `.destroy()` in a `setTimeout()` like this:
[code]

[2018-04-25 18:18] Negan1911 commented on #6956
@fuchidahiro oh sorry mate, i tought that was closed by a mantainer, my bad!

[2018-04-25 19:52] pappacurds commented on #7300
If you get window.require is not a function and you are using Angular-CLI, use the following to instantiate the Window interface:

./src/typings.d.ts

declare var window: Window;
interface Window {
	require: any;
}

[2018-04-25 21:27] premek commented on #6996
How should this be implemented?
- Should it emulate app-command windows event on linux? (no need to change the apps and it will start automatically working)
- use a different api for listening to mouse buttons? Apps would have to implement it differently on win/linux
- use mouse-forward-back package as suggested above? That would also have to be implemented in apps differently for linux

[2018-04-26 00:00] MarshallOfSound commented on #12707
This is explicitly documented behavior 👍

https://electronjs.org/docs/api/remote#remote-objects

[2018-04-26 00:00] #12707 closed

[2018-04-26 00:09] wspl commented on #12707
@MarshallOfSound Is there any way to pass a reference via ipc?

[2018-04-26 00:11] MarshallOfSound commented on #12706
Initial investigation shows that this can be easily implemented on macOS, Windows we have to subscribe to `WTS_SESSION_LOCK` and linux is a bit _weird_ emitting an event might be hard as even Chromium doesn't have an exact science for detecting lock screens.  They currently search through all windows for something that looks like a screensaver so unless we poll that API (not cheap) we can't emit t

[2018-04-26 00:29] jdclarke5 commented on #1378
If anybody is looking for a quick and dirty solution, you can always turn off all the `<a href="xxx">` links with some javascript:
[code]
Fully aware that this is not a general solution, but this might suffice for some.

[2018-04-26 00:48] vicatcu opened #12712 "Is ChromeOS supported?"
Some apps I develop ate targeted for use in schools where Chromenook is the platform of choice.  Is it possible to build an Electron App with a ChromeOS target?  Any pointers to how to go about that, assuming it's possible?

[2018-04-26 00:56] nornagon commented on #12712
Thanks for reaching out!

Because we treat our issues list as [the team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community).

[2018-04-26 00:56] #12712 closed

[2018-04-26 00:57] nornagon commented on #12712
Sadly no, Electron can't run on ChromeOS. You might look into creating a PWA: https://developers.google.com/web/progressive-web-apps/

[2018-04-26 01:20] WriterDuet opened #12713 "Renderer process crashing on startup"
* Electron version: 2.0.0-beta.7
* Operating system: OSX and Windows

### Expected behavior

Program successfully runs.

### Actual behavior

Program crashes to a white screen during initial load, no menus or anything are loaded.

### How to reproduce

This happens randomly after releasing the product. I have crash reporter enabled and have received 3 .dmp files so far. I can't attach the full app

[2018-04-26 02:02] renatosistemasvc opened #12715 "Error running application (.exe) on windows"
* Electron version:
current

* Operating system:
windows 7

* Last known working Electron version:
working in ubuntu 16

### Expected behavior
application work in windows and linux environment

### Actual behavior
[image of erro](https://scontent.fvdc1-1.fna.fbcdn.net/v/t1.0-9/31357712_1050640795074487_5161791133415636992_o.jpg?_nc_cat=0&oh=3fce7b9e2771caf12a3104bab45bf3bf&oe=5B978619)

### How to

[2018-04-26 02:55] OualidYousfi commented on #9840
Using 1.8.4 and still an issue for me. DataTransfer.files are not available on onDragEnter event. Nor on onDragOver or drop.

[2018-04-26 04:27] MarshallOfSound commented on #12715
Native modules need to be built on the platform you are targetting, I.e. in order to distribute to windows you need to build your app on windows not linux (if you have native modules, which you do because sqlite3 is a native module)

[2018-04-26 04:27] MarshallOfSound commented on #12715
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-04-26 04:27] #12715 closed

[2018-04-26 04:37] MarshallOfSound commented on #12707
@wspl No, arrays are copied verbatim.

You could do something like

[code]

[2018-04-26 05:06] 0x13R commented on #1378
This work for me.

Main Process:
[code]
Webview preload:
[code]

[2018-04-26 05:10] MarshallOfSound commented on #12634
Appears to occur on all known Electron versions with this feature 👍 Approximately 5MB per window

[2018-04-26 07:13] gasparyanyur commented on #10604
@tberghuis  after running a command which you said I am getting error
[code]

[2018-04-26 07:32] alex1504 opened #12717 "'Unable to find a valid app' error building electron app using electron-packager"
When running my application using npm start, everything works fine. However after building my app using electron-packager and open .exe file, it occurs:
'Unable to find a valid app' , complete description is

[error][1]

my packager.json file is:

    {
      "name": "electron-roll-tool",
      "version": "1.0.0",
      "description": "A minimal Electron application",
      "main": "src/main.js",

[2018-04-26 07:43] MarshallOfSound commented on #12717
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-04-26 07:43] #12717 closed

[2018-04-26 07:44] MarshallOfSound commented on #12717
That said, this is an easy one:

[code]

[2018-04-26 07:54] alex1504 commented on #12717
Thanks a lot for your answer, it works. I dont know there is a community website,  thank you for your mention.

[2018-04-26 08:27] zoftc commented on #9029
any update on pdf print ?

[2018-04-26 09:55] chrilith opened #12718 "Add a fontSize parameter to menu.popup() options"
- Electron version: >= 2.0.0
- Operating system: Any (or macOS only)

### Feature request

Depending on where we want to use popups in our app, it may be interesting to be able to set the font size of the popup items.

For instance, I'm using popups to create custom `select` form element. Unfortunately, the system font is bigger than the font I use in my HTML code. Would be nice to have a font siz

[2018-04-26 12:41] peererror opened #12719 "Unable to set cookies from html page"
I am trying to set cookies from  html page using

[code]

it always returns false . I am loading pages using file:// protocol .

Regards

[2018-04-26 14:56] SergeKauzunovich opened #12721 "Windows 10 Electron app terminates on launch"
Hello,
I'm working for a large international company and we use Electron for creating our desktop apps. All of them fail to launch from local drive on Windows 10 machines. It seams that executable terminates right after launch. Tested with disabled antivirus - no result.

Noted that if I move an app on USB stick and run it from there, app launches normally on the same machine.

* Electron version:

[2018-04-26 15:39] BoOpenfin opened #12722 "MAC: Mouse Pointer style does not change on roll-over"
* Electron version: latest (1.8.4)
* Operating system: MAC_OS

* Last known working Electron version: None

### Expected behavior

When mouse roll over from text to space, the cursor should update to default. And the same situation the other way.

### Actual behavior

The cursor update behavior is somehow delayed.
![cursor-update](https://user-images.githubusercontent.com/31855269/39315878-c0d087a

[2018-04-26 15:43] BoOpenfin commented on #12722
And based on my experiment: **mouse move** and **scroll by touch pad** (two finger) works perfectly for this issue.
And actually chromium trigger same [cursor change event](https://github.com/electron/electron/blob/master/atom/browser/api/atom_api_web_contents.cc#L1769).
However the whole view unable to **refresh** in time for roll-over using mouse wheel.

[2018-04-26 19:08] SergeKauzunovich commented on #12721
So far packaging app in asar helps.

[2018-04-26 19:08] #12721 closed

[2018-04-26 19:13] avi12 opened #12724 "Can't run Electron app"
Whenever I run at the root of my Electron project `electron .` I get the following:
![](https://i.imgur.com/pc3W5Ye.png)
This is, although the `package.json` contains:
[code]

[2018-04-26 21:12] sofianguy commented on #12719
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-04-26 21:12] #12719 closed

[2018-04-26 21:13] sofianguy commented on #12724
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-04-26 21:13] #12724 closed

[2018-04-26 21:32] lmoesch opened #12725 "Running electron fails if directory contains non-ASCII characters."
* Electron version: 1.8.5
* Operating system: Windows 10

### Actual behavior

When any electron project is runned via `electron path` and `path` contains any non-ASCII characters, then the process fails e.g. on my computer with:

where the path should be `C:\Users\Lucas Mösch\electron. Moving the project into another directory path containing just ASCII characters fixes this error.

### How to re

[2018-04-26 23:20] davej opened #12726 "Vibrancy and 'hiddenInset' titlebar causes crash on exit"
Electron version: 2.0.0-beta.8
Operating system: MacOS 10.12.6

---

Create a window with `vibrancy` of `"light"`/`"dark"` and a `titleBarStyle` of `"hiddenInset"` and the app crashes on quit. Other combinations may also cause a crash but I haven't tested them.

This is a regression, it works with `v1.8.4`.

[code]

Here is a repro: https://github.com/davej/electron-quick-start

[2018-04-27 02:37] devguysin opened #12728 "Is there an event that is activated while exe or dmg being extracted"
Hi,

I need to know what is the file name of the exe / dmg that was executed

1. Is there any event that is fired while exe is being extracted to the AppData folder? and when dmg is being copied to the Application folder?

2. does the original file name is being recorded somewhere to the application folder?

If there isn't any option like that - is it possible to push an update to the exe and dmg

[2018-04-27 04:28] stanleyxu2005 commented on #9110
I have a concrete scenario: I want to migrate a web application into electron without code change. The existing web application uses localStorage to store some data. but window.localStorage, window.sessionStorage are not accessible in a Electron browser window. We need a solution for this.

[2018-04-27 07:13] holgersindbaek commented on #10876
Haven’t got one sorry. 

-- 

All the best

*Holger Sindbaek* · UI/UX Designer & Web/iOS Programmer · * * HolgerSindbaek.com ( http://holgersindbaek.com/ )

On Fri, Apr 27, 2018 at 7:25 AM Manoj Kumar Maharana < Manoj Kumar Maharana ( Manoj Kumar Maharana <notifications@github.com> ) > wrote:

[2018-04-27 09:15] hlcfan opened #12729 "preload in webview doesn't work"
* Electron version: 1.8.4
* Operating system: OSX 10.11

### Expected behavior
[code]

Expected that `preload.js` is loaded, the code inside of it executed.

### Actual behavior
Seems `preload.js` isn't loaded, the code inside of it not executed.

### How to reproduce
  $ git clone https://github.com/hlcfan/pokerx-app.git -b master
  $ npm install
  $ npm start || electron .

[2018-04-27 10:19] simke9445 opened #12730 "App unresponsive after singleInstanceCallback browserWindow.restore call"
* Electron version: 1.8.2
* Operating system: Windows 10

### Expected behavior
When I launch an application using the shortcut, while the application is already running and is minimized, the application should just restore to it's original state.

### Actual behavior
Application is restored, but the interface becomes unresponsive, input fields are not clickable, nothing basically. After you apply

[2018-04-27 10:46] cawa-93 commented on #12658
The problem is also observed on electron v2.0.0-beta.8

[2018-04-27 11:18] timfish commented on #12437
This could also be used as the default to display unhandled errors as they currently get truncated in the message box and you can't copy/paste them.

[2018-04-27 11:53] Ornataweaver opened #12732 "electrond, Electron Daemon running in the background when system starts."
So Atom and other electron based apps start quickly. Right now I have to use sublime because of it's opening speed.
Even the simplest electron apps require a long time to start. In this way even 10 electron apps can run at the same time, using electrond together!
People like me would happily add it to startup.

[2018-04-27 12:57] abhieee23 opened #12733 "Can electron behave as native webkit browser?"
I am using the latest electron version for my app. I want electron to behave as native browser when the operating system is MAC. I am aware of the fact that it is based on Chromium, but I want my app to support something which is supported by Safari only. Is it possible for electron app to act as a native browser?

[2018-04-27 13:14] MarshallOfSound commented on #12733
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-04-27 13:14] #12733 closed

[2018-04-27 13:14] MarshallOfSound commented on #12733
But also, no

[2018-04-27 13:50] GitFlip commented on #4697
Sorry to comment on a closed issue, but I'm hoping to just get a couple questions answered because I have this issue.

I'm not signing my app, as I'm just testing things out right now. How can I verify that it's the antivirus kicking in that is causing this issue? I don't have any 3rd party antivirus programs, I only use Windows Defender on Windows 10.

Is there anything that I can do to prevent t

[2018-04-27 14:17] markleutloff commented on #11128
A small update to this issue, which is still present in the Electron version v1.8.4:

When the opener window navigates to an other URL, the opened window will also close. So the same behaviour which occours when closing the opener window is the same when navigating to another site in the opener window.

[2018-04-27 14:28] YurySolovyov commented on #12437
Somewhat related: [MessageBoxView: Enable text selection for message text.](https://chromium.googlesource.com/chromium/src.git/+/b615f8e1a013c80f39d3b5cade3555f5a3fb3c9f)

BTW, can't we use chrome's aura widgets?
Help -> Report an issue shows a multiline text field, should't we be able to render something like that?

[2018-04-27 14:28] mikew commented on #11977
Jest is failing on 1.8.6 here, while downgrading to 1.7.x works a charm. Running on macOS High Sierra.

[2018-04-27 14:57] BenGale commented on #12589
Any chance of a link to the other bug? This was where google sent me.

[2018-04-27 15:07] matthiasg commented on #3002
@arkenthera #7898 only supports mac while https://github.com/arkenthera/electron-vibrancy supports windows too. Any specific reason for only merging Mac ?

[2018-04-27 15:08] sofianguy commented on #12728
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2018-04-27 15:08] #12728 closed

[2018-04-27 15:28] stanleyxu2005 commented on #12704
Update 1: to solve my 2nd problem, I use protocol.registerFileProtocol now. https://electronjs.org/docs/api/protocol#protocolregisterfileprotocolscheme-handler-completion
[code]

[2018-04-27 15:58] peererror opened #12735 ":ERROR:bad_message.cc(23)] Terminating renderer for bad IPC message, reason 51"
I am getting above message in console and black screen

[2018-04-27 17:51] codebytere commented on #12025
i can take a look at this next week!

[2018-04-27 17:51] chrilith commented on #12718
Well, using HTML/CSS the popup will not got over the window bounds which is a problem when using forms sized to a window.

About macOS, can't the NSMenu/NSMenuItem be styled?

Thanks anyway for reading :)

[2018-04-27 18:11] jhaslowh7 commented on #2504
Any progress on this item?

[2018-04-27 18:29] chrilith opened #12737 "showOpenDialog() unexpected behaviors"
* Electron version: 2.0.0-beta.8 and lower
* Operating system: macOS

### Expected behavior

Using `filters` option, all filters should properly appear, showing defined names and extensions in a dropdown list.

### Actual behavior

There is a pending #11959 which may fix this problem.
Problem: when using a wildcard filter, other filters don't appear.

Another problem is that after trying to quit (

[2018-04-27 18:30] chrilith commented on #12571
Tried 2.0.0-beta.8, still the same problem.

[2018-04-27 18:49] immanoj16 opened #12739 "Electron 2.0.0-beta.8 file not found"
Hey, The in-app-purchase for MAS is introduced in beta version of electron 2.0.0. In the doc, there is a file `node_modules/electron/dist/Electron.app/Contents/Info.plist` is not present in my system.
In the `dist` folder, the `Electron.app` is not present.

I am currently using ubuntu

[2018-04-27 21:17] pushkin- opened #12740 "No typings for ipcRenderer.sendTo?"
* Electron version: 1.7.13 (yes I know it's old)
* Operating system: Windows 10

The [ipcRenderer docs](https://github.com/electron/electron/blob/master/docs/api/ipc-renderer.md) say that there's an `ipcRenderer.sendTo` function. However, it doesn't seem like there are typings for it (maybe my version is too old).

![image](https://user-images.githubusercontent.com/6374473/39385509-66ba8878-4a36-1

[2018-04-27 23:03] YoussF commented on #12445
Same issue here under Archlinux (gnome)

[2018-04-27 23:57] codebytere commented on #12737
I can take a look at this early next week!

[2018-04-28 00:48] hlcfan commented on #12729
Oh sorry, I paste the wrong code, just updated it. I was using top level `preload` attribute in webview tag. It doesnt work.

[2018-04-28 03:02] MarshallOfSound commented on #12739
On ubuntu you will get the Linux build of Electron, those plist files are only available on the macOS / MAS builds.

[2018-04-28 03:02] #12739 closed

[2018-04-28 04:49] kotrodenx commented on #12445
i just had the same issue as @YoussF and i just tried to set manually `mainWindow.setAlwaysOnTop(true)`. It works, don't know why it doesn't in the options

[2018-04-28 06:40] chrilith commented on #12737
Great thanks!

[2018-04-28 10:52] kennethlynne commented on #10757
I have solved this by proxying the messages to the sub-webview.

// Send to the main window contents as usual
[code]
Main window loads index.html and index.html renders a webview with a preload script.
[code]

The preload script contains this:
[code]

[2018-04-28 17:26] AdrianoFerrari commented on #12737
I am experiencing another more serious issue, that's possibly related.

If I have only one non-wildcard filter, clicking on it causes the entire application to crash.
Here's a screen recording of this:
https://www.dropbox.com/s/uc2zq4bj0bfg4g7/dialog-format-bug-2018-04-28_13.06.45.mkv?dl=0

(might not be a factor, but also note that `gko` is a custom extension of mine, that I didn't register with

[2018-04-29 04:01] abnerlee opened #12744 "dialog.showMessageBox() should have an option to set the primary button"
The issue is originally posted in https://github.com/electron/electron/issues/3810

But now the option of `defaultButtonIndex` has already been removed (no code result in https://github.com/electron/electron/search?utf8=%E2%9C%93&q=defaultButtonIndex&type=)

But it is still an useful option

[2018-04-29 04:03] MarshallOfSound commented on #12744
According to the docs I believe you are looking for `defaultId`

[2018-04-29 04:03] #12744 closed

[2018-04-29 16:56] sindresorhus opened #12745 "APIs should use a property instead of separate getter/setter methods"
Continued from https://github.com/electron/electron/pull/12496/files#r181941682

---

* Electron version: 2.0.0-beta.8
* Operating system: macOS 10.13

### Expected behavior

JavaScript supports getters and setters, so it's quite awkward that most of the Electron APIs instead use separate methods for getting and setting. This feels more like Java than JavaScript.

I propose that new APIs start usi

[2018-04-29 18:35] pushkin- commented on #12740
Ah. Looking at [this](https://github.com/electron/electron/commit/ae1f442b0235afc4e6f211b8a9cb7f6150362c34), that function was added in electron 2.0. That must be why.

[2018-04-29 18:35] #12740 closed

[2018-04-29 19:27] dmckenna24 commented on #12745
Agreed, why waste up more lines of code when JavaScript does the work for you? Anyone tackling this issue?

[2018-04-29 19:29] dmckenna24 commented on #12730
Can confirm this bug on Mac.

Electron v. 1.8.2
Mac High Sierra v. 10.13.4

[2018-04-29 21:49] Ornataweaver commented on #12732
Let it be up to users then. :D

[2018-04-29 21:50] Ornataweaver commented on #12732
#TimeMatters
#myTimeMatters

[2018-04-30 00:33] codebytere commented on #12745
@sindresorhus at the moment, we don't do that because we have some instances (like `getBounds()`) where the property would be an object, so we couldn't handle deep modifications like `mainWindow.bounds.x`.

I agree that it's definitely more idiomatic, so once we find a clean way to account for aforementioned cases i think this is something we could definitely do.

[2018-04-30 00:43] codebytere commented on #12726
Are you doing anything else besides quitting with `Cmd + Q`? I'm unable to replicate this crash locally

[2018-04-30 03:00] MarshallOfSound commented on #12735
It looks like you didn't fill out our [Issue Template](https://raw.githubusercontent.com/electron/electron/master/.github/ISSUE_TEMPLATE.md), please ensure you provide all information requested in the issue template so that we can try to help you out.

In the future issues you create without the template will be closed, you can find the issue template [here](https://raw.githubusercontent.com/elect

[2018-04-30 04:18] pjebs opened #12748 "comprehensively hide devtools"
How can I comprehensively hide the user from accessing the dev tools.

There are some of things I know how to do:
- remove from top menu
- remove toggle code when app starts up so it's initially hidden

What else must I do? Perhaps this should be in the documentation.
I read in a few places about handling the `--remote-debugging-port` command line argument. I read that if it exists, the app should

[2018-04-30 06:26] MarshallOfSound commented on #12748
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-04-30 06:26] #12748 closed

[2018-04-30 07:10] pjebs commented on #12748
consider it a feature request. Please add it to the docs.

[2018-04-30 11:12] LinusU commented on #12745
@codebytere should be easily fixed with a `Proxy`? 🙌

Something like

[code]

[2018-04-30 11:25] MarshallOfSound commented on #12745
@LinusU

Not really in a scalable and generic way, sure we could wrap everything in a Proxy in JS land but then you have this weird bridge between a JS proxy and native land.  You would also need to wrap things in JS for **all** the API's that do this.  Even if we do `v8::Proxy` stuff in native land it's going to be messy code

We're definitely going to look into this, but it isn't as simple as "l

[2018-04-30 11:28] MarshallOfSound commented on #12745
For added context people can look at the `TouchBar` API's which currently already partially do this.  We have this weird `_setLiveProperty` wrapper and do all the logic in JS land (not really the best thing to do).  And even with that we still have deep property issues like someone doing this:

[code]

Because even though we can do setters, detecting things being pushed into arrays is just a whole

[2018-04-30 13:30] rr326 opened #12751 "In-app-purchase documentation link broken"
The following link gives a 404:
https://electronjs.org/docs/api/in-app-purchase

Linked from here:
Modules for the Main Process ... InAppPurchase

The content clearly exists:
https://github.com/electron/electron/blob/master/docs/api/in-app-purchase.md

[2018-04-30 14:55] MarshallOfSound opened #12752 "New event for `makeSingleInstance`"
Currently, when a user calls `makeSingleInstance` they need to handle the second instance in a callback.

A better pattern for both users and third-party modules who want to use this information would be to emit an event on the `app` module when the second instance starts.

A pattern like:

[code]

As step 1 I'll introduce support for the event and deprecate the callback.  Then in a major version,

[2018-04-30 14:58] MarshallOfSound commented on #12751
Can you provide a link for "Linked from here", I can't find a link to that URL on the site

[2018-04-30 15:27] rr326 commented on #12751
https://electronjs.org/docs/all

Search for "InAppPurchase"

[2018-04-30 15:29] MarshallOfSound commented on #12751
@zeke This is kinda weird, not sure how it got in there 🤔

[2018-04-30 15:30] rr326 commented on #12751
There IS a documentation page, so presumably the features exist. (I sure hope so - I need it!)

https://github.com/electron/electron/blob/master/docs/api/in-app-purchase.md

[2018-04-30 15:32] percy507 opened #12754 "It seems electron not support captureStream method"
I want capture the stream of &lt;video> element.

In normal browser, i can use `$('#video')[0].captureStream()` to get a MediaStream object.

But in electron, it seems not work. And the console reports [ xxx.captureStream is not a function ]

* Normal browser console

![image](https://user-images.githubusercontent.com/18365078/39660360-a633801a-506f-11e8-899c-4211d88bb368.png)

* Electron console

[2018-04-30 15:32] MarshallOfSound commented on #12751
@rr326 The feature exists but only in the `2-0-x` line, the website should be showing the docs for latest stable (1-8-x).  So this link shouldn't be here 🤔

[2018-04-30 15:33] rr326 commented on #12751
Aha! That makes sense.

That also means it's time for me to upgrade. I'll sign off here. Thanks.

[2018-04-30 15:35] MarshallOfSound commented on #12754
It looks like you didn't fill out our [Issue Template](https://raw.githubusercontent.com/electron/electron/master/.github/ISSUE_TEMPLATE.md), please ensure you provide all information requested in the issue template so that we can try to help you out.

In the future issues you create without the template will be closed, you can find the issue template [here](https://raw.githubusercontent.com/elect

[2018-04-30 16:04] #12706 closed

[2018-04-30 17:42] piranna commented on #2242
Thanks @bertyhell, I have been working one week trying to get this! Kudos! :-D

[2018-04-30 19:16] topched opened #12755 "BrowserWindow minWidth ignored on windows"
Electron Version: 1.8.2
Windows: 8 and 10

### Expected Behaviour
All OS' respect the minWidth provided to the BrowserWindow

### Actual behaviour
On linux/mac the code below works perfectly, but on windows the browser window is ~14px under the specified minWidth which adds a horizontal scrollbar when it should not be there.

### How to reproduce
Just using this code you can see the issue. (Note y

[2018-04-30 19:42] BoOpenfin commented on #12722
Hi Marshall, thank you for the response. However, based on my test, seems it works well in Chromium, after current window became active (it make sense that cursor doesn't change for inactive windows). So i think it must a bug on Electron side.

[2018-04-30 20:50] whitethunder commented on #9046
In 17.10 and above, @gmribas's link works if I edit this file:

`~/.local/share/applications/slack.desktop`

Changing the `Exec` line to read:

`Exec=env XDG_CURRENT_DESKTOP=Unity /usr/lib/slack/slack`

[2018-04-30 21:42] davej commented on #12726
Yes. `Cmd + Q`, manually choosing the quit option from the app menu and closing the window all cause a crash for me.

Did you test on macOS 10.12.6?

Here is a quick video: https://cl.ly/013a3X1S0L2O

[2018-04-30 21:57] sznowak commented on #12689
I can't reproduce this issue. I have tested Electron 1.8.6 on High Sierra(10.13.4)

[2018-04-30 23:05] kirashi3 commented on #5323
This issue needs to be re-opened as it still happens when using dual monitors as per 2 apps using Electron's framework linked below. Again, the issue is that if you use an Electron app on a second monitor, close it, then disconnect the second screen, the app will open where the second monitor would be with no user-friendly way to have it moved back to the main display.

meetfranz/franz#911
desktop

[2018-05-01 03:44] sindresorhus commented on #12752
I always found the current `makeSingleInstance` API awkward. This looks much more user-friendly.

Any thoughts on making Electron apps single-instance by default? With ability ot opt-out instead. I can't imagine any scenario where I would want to allow multiple instances of an app.

[2018-05-01 04:13] MarshallOfSound commented on #12752
🤔 I know that some people use multiple instances of their app instead of multiple windows managed from a single instance.  Worth thinking about though.

Also worth noting we currently don't have a way to undo `makeSingleInstance` exposed so any effort to make it opt-out would require new API's and such 👍

Will deal with this issue then raise one for discussing changing the default, I agree the def

[2018-05-01 05:04] bughit commented on #12604
implemented in #12614

[2018-05-01 05:04] #12604 closed

[2018-05-01 05:05] bughit commented on #12607
implemented in #12723

[2018-05-01 05:05] #12607 closed

[2018-05-01 05:11] MarshallOfSound commented on #12726
@davej Can we get that stack trace from the "Report" dialog 👍

[2018-05-01 07:54] davej commented on #12726
Of course, sorry.

<details>
<summary>Stack trace</summary>

[code]

</details>

[2018-05-01 09:13] thbaja opened #12759 "WebRTC missing addTrack()"
* Electron version: 2.0.0-beta.8 (and 1.8.6)
* Operating system: MacOS

### Expected behavior
I expected that `RTCPeerConnection.addTrack()` was available.
It would seem that it has been in chrome since v. 56: https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/addTrack

### Actual behavior
It's not.

### How to reproduce
The following returns `undefined` instead of `function`.
[cod

[2018-05-01 10:30] InventivetalentDev opened #12760 "Tray context menu doesn't pop up if a fullscreen application is focused"
* Electron version: `1.8.6`, `3.1.0`
* Operating system: Windows 10

### Expected behavior

I expect the tray context menu to open when I right-click it.

### Actual behavior

When there's a fullscreen app running and focused (behind the taskbar), nothing happens when right-clicking the tray icon.

### How to reproduce

* Start the program
* Right-click the tray while on desktop/with a non-fullscr

[2018-05-01 11:08] artch opened #12761 "2.0.0 doesn't launch on a macOS machine without admin access"
* Electron version: 2.0.0
* Operating system: macOS High Sierra 10.13.4 (I'm using [MacinCloud service](https://www.macincloud.com/) to run Mac machine remotely).

* Last known working Electron version: 1.8.6

### Expected behavior

Electron launches with a standard welcome screen.

### Actual behavior

Electron launches with an empty screen on the same blue background but without welcome contents

[2018-05-01 11:42] keyeMyria opened #12762 "more print settings"
* More print settings

It there any plan to add more print setting like [nwjs](https://github.com/nwjs/nw.js)' [print option ](http://docs.nwjs.io/en/latest/References/Window/#winprintoptions)?
The print option of currrent version 1.8.6  is not enough.

[2018-05-01 12:32] pmconne commented on #10551
I care about this bug. This is a blocking issue for my app.

[2018-05-01 12:45] timfish commented on #12762
There is [already a feature request open](https://github.com/electron/electron/issues/7849) for this.

[2018-05-01 12:45] #12762 closed

[2018-05-01 13:51] timfish opened #12763 "Make single instance the default"
Running multiple instances of Electron is generally a bad idea and [not really supported](https://github.com/electron/electron/issues/4727) with the default configuration. Some renderer features don't work in this scenario ([localStorage](https://github.com/electron/electron/issues/2493), [IndexedDb](https://github.com/electron/electron/issues/10792), persisted sessions?) and this is not documente

[2018-05-01 15:01] #12751 closed

[2018-05-01 15:12] blurymind commented on #6849
how do you pass to it an array that contains objects ?

[2018-05-01 15:19] mbruschi opened #12765 "Tray Icon Greyed Out On Mac OSX High Sierra In Dark Mode"
* Electron version: 1.8.6 (I even tried the latest beta-8 due to this https://github.com/electron/electron/pull/12395)
* Operating system: Mac OSX 10.13.5 Beta
* Last known working Electron version: All of them, it's more a High Sierra Issue. But the example here https://github.com/maxogden/menubar is working and is using an old electron-prebuilt. If I use the latest electron instead of that prebu

[2018-05-01 15:24] lukas2005 opened #12766 "Unable to find electron app at [my workspace dir]/[something that looks like js]"
* Electron version: 1.8.6
* Operating system: Windows 10

* Last known working Electron version: 1.8.6

### Expected behavior

The app should launch

### Actual behavior

This shows up: ![](https://image.prntscr.com/image/n9VdY75nTXKQqSDz_oSGFA.png)

### How to reproduce

  $ git clone https://github.com/lukas2005/Decentracord.git
  $ npm install
  $ npm start

[2018-05-01 15:43] sofianguy commented on #12761
Hi @artch, one of the team members tried to reproduce the issue and was not able to. Can you provide us with logs so that we can narrow down the issue?
You can use:
`ELECTRON_ENABLE_LOGGING=true` and `ELECTRON_ENABLE_STACK_DUMPING=true`

[2018-05-01 17:31] sofianguy commented on #12060
Hi @ibash, can you provide us with a reliable test case? Does this also crash on newer versions?

[2018-05-01 17:35] kikill95 commented on #10905
Hello, everyone, I have found that the problem was really inside native module. For me, I've changed Unzip2 package with unzipper package and this started to work. Also, I had gulp 3.9.1. I used this in electron@2.0.0-beta.8. It was really hard to find where is the problem, because my app used module that used another module that used this Unzip2.

Maybe this will help someone, but a lot of things

[2018-05-01 18:48] zeke commented on #12751
Yep. Sorry for the confusion, @rr326! I opened https://github.com/electron/electronjs.org/issues/1239 to track this.

FWIW, the 2.0 will very soon land in a stable release, after which https://electronjs.org/docs/api/in-app-purchase will work.

[2018-05-01 20:33] pjebs opened #12769 "Feature Request: comprehensively hide devtools"
Can the documentation clearly state how to comprehensively prevent the user from accessing the dev tools.

remove from top menu
remove toggle code when app starts up so it's initially hidden
What else must I do? Perhaps this should be in the documentation.
I read in a few places about handling the --remote-debugging-port command line argument. I read that if it exists, the app should just immediat

[2018-05-01 20:37] alexeykuzmin opened #12770 "base::Value::CreateWithCopiedBuffer is deprecated"
We use it in a few files in `atom/common/native_mate_converters/*.cc`.

[2018-05-01 20:45] alexeykuzmin opened #12771 "base::Value DeepCopy and CreateDeepCopy are deprecated"

[2018-05-01 20:55] alexeykuzmin opened #12772 "base::Value:: HasKey is deprecated"

[2018-05-01 21:15] p3x-robot opened #12773 "electron focus lost"
* Electron version: 1.8.6
* Operating system: Linux Mint

* Last known working Electron version:

### Expected behavior

When I minimize a window, the webview lost the focus and i cannot restore the focus, because the webview has a iframe and that focus is lost.

### Actual behavior

Retain all focus after minimize/hide and show.

### How to reproduce

Try Github/patrikx3/oenote

I do use `webview

[2018-05-01 21:18] alexeykuzmin opened #12774 "Most of base::Value::GetAs* methods are deprecated"
All except `GetAsDictionary()`. Please use new shiny methods instead.
https://chromium.googlesource.com/chromium/src/+/master/base/values.h

[2018-05-01 21:19] alexeykuzmin opened #12775 "Base::Value::HasKey is deprecated"

[2018-05-01 22:38] codebytere commented on #12710
I'd say yes...think you could potentially PR that in?

[2018-05-01 22:45] codebytere commented on #12765
@mbruschi this is not the case on `2.0.0`, running `electron-api-demos` using it demonstrates expected behavior. However, it doesn't look like the fix got backported to `1-8-x`, so i'll fix that now.

[2018-05-01 22:48] pushkin- opened #12777 "Native browser context menus don't display for pages hosted in a webview"
* Electron version: 1.8.4
* Operating system: Windows 10

I may be going crazy, but I recall being able to trigger the native context menus for the embedded page, but now I cannot, and I'm wondering if this is intentional? If it is I'm curious why it works this way. Is it not feasible to get native context menus?

### Expected behavior

Right clicking in page that's hosted in a webview should disp

[2018-05-01 22:49] pushkin- commented on #12777
Ah, it looks like [this issue](https://github.com/electron/electron/issues/7021) answers my question, yes? It's a Chrome thing not a Chromium thing.

[2018-05-01 23:37] codebytere commented on #12777
Sadly yes @pushkin-...we might be able to improve our Menu API in the future to allow for this but right now it's a no-go

[2018-05-01 23:38] codebytere commented on #12571
@chrilith https://github.com/electron/electron/pull/11959 got merged,but didn't get backported into `2.0.0`...i'll key that up for backporting rn!

[2018-05-01 23:38] timfish commented on #12710
I'll do this tomorrow along with `responsive`.

[2018-05-01 23:38] ckerr commented on #12769
This is a duplicate of issue #12748.

As stated there, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/) -- indeed, the first hit when Googling for "Electron hide devtools" is a [discussion in the Atom forums](https://discuss.atom.io/t/a-way-to-

[2018-05-01 23:38] #12769 closed

[2018-05-01 23:43] ibash commented on #12060
Hi @sofianguy - unfortunately I've never been able to reliably reproduce this. We haven't seen it in about a month though. We did see it in version `2.0.0-beta.4`.

[2018-05-02 00:10] codebytere commented on #12695
It looks like when `NODE_OPTIONS` are set that `argv[0]` is never getting populated as it should

[2018-05-02 00:40] #12777 closed

[2018-05-02 04:05] mbruschi commented on #12765
@codebytere with all the respect, I don't think we're talking about the same issue. The highlighting is not the issue. It's the tray icon, being greyed out or having some opacity and not shown in full white. I tried it again with 2.0.0 and made a repository here https://github.com/mbruschi/electron-api-demos and the issue shown in the images above still happens.

[2018-05-02 04:42] MarshallOfSound commented on #12775
Heh duplicate #12772 😆

[2018-05-02 04:42] #12775 closed

[2018-05-02 05:47] codebytere commented on #12765
@mbruschi ah ok, no worries! i'll check that out in the morning :)

[2018-05-02 06:29] KrishVikram opened #12784 "Electron::setProxy() does not work with PacFiles when the DNS is not configured in the client PC."
* Electron version: 3.10.10
* Operating system: Windows 10

* Last known working Electron version: N/A

### Expected behavior

When the client machine running the electron app and the proxy configured are on the same subnet, ideally the client's DNS and gateway are kept blank. In this scenario, if Electron is given a pacfile with the proxy details as input via setProxy(pacScript:: <path to local p

[2018-05-02 06:42] ihgSherryLee commented on #10864
I get it working after I use electron-builder to pack the app and install it.
But if I use electron-packager and grunt-electron-installer to pack with the same code, it doesn't show the notification.

[2018-05-02 07:11] VishwasShashidhar commented on #4362
Agreed with @poiru that by default, it'll be better to turn off node integration and go with an opt-in model.

[2018-05-02 07:14] chrilith commented on #12571
@codebytere yeah, what I thought reading the history of the PR. Will wait for the merge 👍

Thanks!

[2018-05-02 07:45] artch commented on #12761
Thanks for a quick response! It shows the following:

[code]

Setting `ELECTRON_ENABLE_LOGGING=true` and `ELECTRON_ENABLE_STACK_DUMPING=true` doesn't seem to change anything.

[2018-05-02 09:44] alexeykuzmin commented on #12775
@MarshallOfSound Weird. Thank you for noticing =)

[2018-05-02 10:34] davej commented on #12437
Perhaps it would be useful to provide an option to make the 'accessory' field toggleable. In the case of error messages and release notes (two primary use cases for this), it may be preferable UX to hide the details initially.

![image](https://user-images.githubusercontent.com/26971/39518447-e4b22340-4dfa-11e8-9dd4-176c6073863c.png)
![image](https://user-images.githubusercontent.com/26971/3951845

[2018-05-02 13:40] KrishVikram commented on #12784
Closing this issue. Just discovered that it has nothing to do with the DNS or network configuration. The real problem is that if you have "--no-proxy-server" flag set in your Electron App, it just doesn't honour the settings in the setProxy(pacfile:) API.

[2018-05-02 13:40] #12784 closed

[2018-05-02 13:43] firestarman-james opened #12788 "node-fibers cannot be used in Electron V2.0.0"
Hello,
node-fibers cannot be used in Electron V2.0.0 which released recently.
I've tryed to use electron-rebuild to build a new fibers.node, but Electron got stucked (almostly) after running `require('fibers')`.

FYI: node-fibers can be used normally in Electron V1.8.6 after rebuilding fibers.node.
My OS is win10 x64 14393.1670. WindowsTargetPlatformVersion is 10.0.16299.0.

Thx!

开发者你好！
node-fibe

[2018-05-02 14:08] imdurgadas opened #12789 "s390x support- Failed to find Electron v1.8.2-beta.5 for linux-s390x"
* Electron version: v1.8.2-beta.5
* Operating system: Linux s390x

### Expected behavior
npm install  electron@1.8.2-beta.5   --> Installs electron on s390x

### Actual behavior
Error: Failed to find Electron v1.8.2-beta.5 for linux-s390x at https://github.com/electron/electron/releases/download/v1.8.2-beta.5/electron-v1.8.2-beta.5-linux-s390x.zip

### How to reproduce
on s390x , npm install  elec

[2018-05-02 14:11] timfish opened #12790 "In the renderer, process.on('uncaughtException') should pass errors to window.onerror"
I thought we were handling all the uncaught errors in the renderer process using:
[code]

However, the following code pasted into the renderer console causes an error in node rather than Chromium and as a result, takes down the renderer process:
[code]

It turns out in the renderer we also need to handle:
[code]

Could these be hooked by default in the renderer and forwarded to `onerror` and `onun

[2018-05-02 14:36] cifratila opened #12791 "Electron 2.0 issues with rendering Tray Icon on Debian Stretch"
* Electron version: 2.0.0-beta.7
* Operating system: Debian Linux 9 (stretch)

* Last known working Electron version: 1.8.x

### Expected behavior

Tray icon should be rendered as expected

### Actual behavior

Check out this: https://answers.microsoft.com/en-us/skype/forum/skype_linux-skype_startms-skype_installms/system-tray-icon-in-xfce/d3f162bf-0bbf-481b-90a1-f43cae9a86cc?messageId=07ac5b21-a4

[2018-05-02 14:43] ckerr commented on #12791
Screenshot from answers.microsoft.com thread:

![tray-icon](https://user-images.githubusercontent.com/70381/39529844-427b5f90-4ded-11e8-8be7-3c0dd73f9d23.png)

[2018-05-02 15:04] cifratila opened #12792 "Electron 2.0.0-beta.7 crash on g_variant_serialiser_needed_size"
* Electron version: 2.0.0-beta.7
* Operating system: Linux - Ubuntu
More operating systems here:
![image](https://user-images.githubusercontent.com/282777/39531114-c361d962-4e2a-11e8-8fc3-d975cc4bf582.png)

* Last known working Electron version: 1.8.x

### Expected behavior

No crash

### Actual behavior

<details>

[code]

[2018-05-02 15:12] cifratila opened #12793 "Electron 2.0.0-beta.7 crashes on g_variant_n_children"
* Electron version: 2.0.0-beta.7
* Operating system: Linux
More Linux distros in the image below:
![image](https://user-images.githubusercontent.com/282777/39531649-ec145eec-4e2b-11e8-9a3b-cb2aa128f9a5.png)

* Last known working Electron version: 1.8.x

### Expected behavior

No crash.

### Actual behavior
<details>

[code]
</details>
### How to reproduce

No clue...

[2018-05-02 15:47] luisfpg commented on #10427
Even if the current solution is a hack, it could still benefit other GNOME users out there to just add `GNOME` to the whitelist of `XDG_CURRENT_DESKTOP` choices to enable the indicator support.
Here is the current source code: https://github.com/electron/electron/blob/a0ebde018100153f635bc6eeb6b72f90d1704ea3/lib/browser/init.js#L166

Anyway, TopIconsPlus is dead, and can no longer be installed on

[2018-05-02 15:47] SamuelRobotiq opened #12795 "Electron 2.0.0-beta.8 gtk_widget_get_scale_factor on startup"
* Electron version: Electron 2.0.0-beta.8 linux ia32
* Operating system: Linux Debian 7.11

* Last known working Electron version: None

### Expected behavior
Electron start and the window is displayed.

### Actual behavior
[code]

`.../myUser/electron: symbol lookup error: .../myUser/electron: undefined symbol: gtk_widget_get_scale_factor`

### How to reproduce
Execute electron on Debian 7.11

An

[2018-05-02 16:03] zeke opened #12796 "Document autoUpdater alternatives for Linux"
Linux doesn't get much love in our [current autoUpdater API docs](https://github.com/electron/electron/blob/master/docs/api/auto-updater.md):

Here are a few things that came up in a Slack conversation yesterday:

- serve deb/rpm feeds using packagecloud.io
- use `electron-installer-snap`
- use https://github.com/atlassian/nucleus - Supports windows, macOS and both variants of Linux repos (apt / y

[2018-05-02 16:08] ckerr commented on #12795
According to [this doc](https://developer.gnome.org/gtk3/stable/GtkWidget.html#gtk-widget-get-scale-factor), `gtk_widget_get_scale_factor()` was added in GTK+ 3.10, which was released in Sep 2013. Please ensure that your installed version of GTK+ 3 is >= 3.10.

This function is being called by libchromiumcontent, not Electron itself, so there's not much that can be done at the Electron level to ch

[2018-05-02 16:08] #12795 closed

[2018-05-02 16:19] #12710 closed

[2018-05-02 16:29] codebytere commented on #12765
@mbruschi alright i'm running High Sierra and your repro and am seeing only:

<img width="245" alt="screen shot 2018-05-02 at 9 28 34 am" src="https://user-images.githubusercontent.com/2036040/39536355-33452c4c-4deb-11e8-936e-5c13f1c3fb7a.png">

Also tried on `1.8.6`, so it doesn't seem like this is reproducible 🤔

[2018-05-02 16:36] TingPing commented on #10427
I tried to explain through-out this issue that checking versions is a bad solution. That is also entirely broken in a sandbox like Snap or Flatpak.

[2018-05-02 16:45] topched commented on #12755
Just wanted to add a follow-up comment to the issue. If I add `useContentWidth: true` it does respect the minWidth on windows.

[2018-05-02 16:49] codebytere commented on #12737
@AdrianoFerrari @chrilith this will potentially be solved with https://github.com/electron/electron/pull/12779; it was merged but not backported so it didn't go out with the latest betas.

@AdrianoFerrari, can you please provide me with the filters/code you used to facilitate the crash in the video above? Thanks 😁

[2018-05-02 16:54] AdrianoFerrari commented on #12737
Sure will do, within next 45min

[2018-05-02 17:04] MrObvious commented on #10427
What about if the window doesn’t have a tray icon, it just minimizes? Simple, elegant, and quick to push out?

[2018-05-02 17:32] AdrianoFerrari commented on #12737
Here's the code:
https://github.com/gingko/client/commit/a402d9dd6ce1c9151f044a70d237f79c170b2b53

And the resulting build with bug
https://github.com/gingko/client/releases/download/untagged-9aa6ec48579e27d0830b/gingko-client-2.0.12-mac.zip

[2018-05-02 18:00] timfish commented on #12790
I'm going to close this and open something more appropriate for 1.8.x

[2018-05-02 18:00] #12790 closed

[2018-05-02 18:38] IvanMalison commented on #10427
But its still better than doing notihg, which seems to be the alternative... is the point that @luisfpg and others are making.

[2018-05-02 18:40] zeke commented on #12751
It's live now: https://electronjs.org/docs/api/in-app-purchase

[2018-05-02 20:03] timfish opened #12798 "Unhandled errors in renderer in node context terminate the renderer"
* Electron version: 1.8.6
Does not occur on 2.0.0
* Operating system: Win 10

Paste the following into the devtools console and the renderer terminates:
[code]
Adding a `uncaughtException` listener on process stops the renderer from exiting
[code]
That difference in behaviour appears to be due to this code in `renderer/init.js`:
[code]

[2018-05-02 20:03] bughit opened #12799 "create-dist.py expects pdf_viewer_resources.pak, which is not built (windows ia32)"
* Electron version: master (82329124ffcb2012d101c79236e82fbe6ba79c36)
* Operating system: win7 sp1 x64

* Last known working Electron version:

### Expected behavior

create-dist should work

### Actual behavior

[code]

### How to reproduce

1. script\clean.py
2. script\bootstrap.py -v --target_arch=ia32
3. script\update.py --msvs
4. script\build.py -c R
5. script\create-dist.py -v --no_api_docs

[2018-05-02 20:20] nrlquaker opened #12800 "Setting resizable: false and height with setContentSize which is more than display height sets window height equals content height"
* Electron version: 2.00, 1.8.4
* Operating system: macOS 10.13.4

* Last known working Electron version: none

### Expected behavior
Setting `resizable: false` and height with `setContentSize` which is more than display height sets window height equals display height - dock (if its on the bottom). To be able to scroll all content.
I expect it to be working the same as `resizable: true`. Only diff

[2018-05-02 20:35] bughit commented on #12799
If you comment out pdf_viewer_resources.pak, the next exception is

[code]

This is because (on my machine) it should be looking in Wow6432Node:

`HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\Windows Kits\Installed Roots`

[2018-05-02 22:14] zy4 opened #12801 "product_registry_impl_module.js causes 404"
* Electron version: 2.0.0
* Operating system: Ubuntu 18.04 LTS

* Last known working Electron version: 1.8.6

### Expected behavior

There should be no error on the command line while using DevTools.

### Actual behavior

Seems like DevTools is trying to load an external js resource which does not exist. This is the error I get:

`[18172:0502/235237.432393:ERROR:CONSOLE(0)] "Failed to load https:/

[2018-05-02 22:32] elan opened #12803 "Electron 2.0 crash related to menu"
* Electron version: 2.0.0
* Operating system: macOS 10.13.4

* Last known working Electron version: 1.7.13

### Expected behavior

Not crash.

### Actual behavior

Crash.

### How to reproduce

Make changes to a Tray menu while it's open.

1. Click on icon in menubar to open menu.
2. Wait for app to change menu by calling `tray.setContextMenu`
3. Crash

[code]

[2018-05-02 23:16] setalosas commented on #12472
It doesn't have to be negative, 9999 works too:
[code]
https://github.com/atom/atom/issues/17253

[2018-05-02 23:58] natew commented on #10886
Separately, does this bug let you do non-vibrant transparent windows *without* border radius? Would be a nice bug for me.

[2018-05-03 06:03] rreimann opened #12810 "Implement powerMonitor 'shutdown' event for Windows"
Electron v2.0.0 introduced a new [shutdown](https://electronjs.org/docs/api/power-monitor#event-shutdown-linux-macos) event to `powerMonitor` -  that's currently implemented for Linux and macOS but not for Windows.

Please implement the 'shutdown' event for Windows as well.

[2018-05-03 07:04] dotansimha commented on #7250
@brian-mann can you please share a working example? :)

[2018-05-03 08:11] timfish commented on #12631
How about `BrowserWindow` option `acceptFirstMouse`:

I think the default should be true.

[2018-05-03 08:49] mbruschi commented on #12765
@codebytere well, then it seems to be a bug only on my setup. I tried to switch from the Beta High Sierra to the non-beta 10.13.4 but the bug still appears. However, this might be just a super random edge case and I will try to find out why my setup is causing this 🤔

[2018-05-03 09:52] chaoyue1217 opened #12811 "I want browser preview pdf。When setting BrowserWindow's plugins to true，Why did you comment out the ‘’print‘’ function?How can I use"
* Electron version:
* Operating system:

* Last known working Electron version:

### Expected behavior

### Actual behavior

### How to reproduce

[2018-05-03 10:59] lukas2005 commented on #12766
Issue seems to no longer occur

[2018-05-03 10:59] #12766 closed

[2018-05-03 12:17] MareikeTaeubner opened #12812 "German documentation seems to be broken in chrome"
* Electron version: 2.x
* Operating system: Windows 10, Chrome Version 66.0.3359.139 (Offizieller Build) (64-Bit)

* Last known working Electron version: 1.8.x

### Expected behavior

The documentation looks like the english one.

### Actual behavior

The documentation is broken on some pages (for example webContents) - see screenshots.

### How to reproduce

Opening  the [english documentation](h

[2018-05-03 12:33] sysleaf opened #12813 "electron app on mac is crashing, using node-ffi"
[Electron Helper_2018-05-03-173948_vikashs-MacBook-Pro.txt](https://github.com/electron/electron/files/1970834/Electron.Helper_2018-05-03-173948_vikashs-MacBook-Pro.txt)

I am using node-ffi, in one scenario where i am calling some api but after some time electron application on Mac is crashed. This crash does not happen if i do same thing through nodejs console app. Same crash is not seen for ele

[2018-05-03 13:01] caesarsol commented on #11150
Same warning with 2.0.0, when I set `frame: false`!

[2018-05-03 13:07] caesarsol opened #12814 "Warning on titlebarAppearsTransparent when setting frame: false or titleBarStyle: hidden"
This is still a problem as of 2.0.0, as described in these (now closed) issues: https://github.com/electron/electron/issues/11150
https://github.com/electron/electron/issues/11169
https://github.com/electron/electron/issues/11743

The warning is:
[code]

Electron version: 2.0.0
Operating system: Mac OS 10.13.4

[2018-05-03 13:33] magne4000 opened #12816 "[2.0] MenuItem initialized as `visible: false` can't be found"
* Electron version: 2.0.0
* Operating system: MacOS 10.13.4

* Last known working Electron version: 1.8.4

### Expected behavior
When a submenu item is initialized with `visible: false`, it should be retrievable with `getMenuItemById` or by iterating through `menu.items`.

### Actual behavior
Those items can't be found

### How to reproduce
[code]
In this example, `show-teammates-bar` can't be ret

[2018-05-03 14:01] leotada commented on #9632
The bug remains on 2.0.0 version on Fedora Linux 28 x64 with Intel HD Graphics.

[2018-05-03 14:58] nrlquaker opened #12819 "BrowserWindow.setContentSize animation is not smooth in Electron 2.0.0"
* Electron version: 2.0.0
* Operating system: macOS 10.13.4

* Last known working Electron version: 1.8.4

### Expected behavior
Animation should be smooth like in 1.8.4.

### Actual behavior
Animation is not smooth

### How to reproduce
Sample repo:
[code]
Check animation. Set electron version to 2.0.0. Check animation.

[2018-05-03 15:00] leotada opened #12820 "Drag-Drop making element go black and crash"
* Electron version: 2.0.0
* Operating system: Fedora Linux 28 - 4.16.5-300.fc28.x86_64
* Hardware: Intel HD Graphics 4400

* Last known working Electron version:
1.8.6 (but flashes black at the beginning of the drag)
Message on debug 1.8.6:
`[6956:0503/113418.226485:ERROR:buffer_manager.cc(453)] [.DisplayCompositor-0x345f2e791700]GL ERROR :GL_INVALID_OPERATION : glBufferData: <- error from previou

[2018-05-03 15:12] sofianguy commented on #12060
@ibash
Ok, I'm going to close this until you can provide us with repro steps and then I'll reopen.

[2018-05-03 15:12] #12060 closed

[2018-05-03 15:45] Nikola-Obreshkov opened #12821 "Performance hit when processing large array of data"
I have an array A with about 40k objects. Every object has an **id** and a **logtime**. When I do in Electron 1.7.10 (Ubuntu 16.04):
[code]
it prints:
[code]
Exactly the same code in Firefox produces:
[code]
The result is almost the same if i loop with forEach or map. The same is with hasOwnProperty or typeof.

[2018-05-03 15:52] MarshallOfSound commented on #12821
@Nikola-Obreshkov Can you provide full repo code including your dataset?

Are you by any chance using the `remote` module to do anything here?

[2018-05-03 16:01] stephanwlee opened #12823 "[2.0] Type information docs/api/touch-bar.md is incorrect"
Hi Electron,

I tried to fix it and raise a PR but I could not easily find a way to convey subclass with electron-docs in Markdown.

Specifically, https://github.com/electron/electron/blob/master/docs/api/touch-bar.md#touchbarescapeitem is defined to be returning `TouchBarItem` but it is not well defined in any Markdown.

### Expected behavior
Expect electron-api.json to return correct type inform

[2018-05-03 16:03] stephanwlee commented on #12823
Preferably, I think `npm run lint-docs should fail when a type does not resolve to anything.

[2018-05-03 16:13] codebytere commented on #12765
@mbruschi in that case, i'm going to go ahead and close this out but if you find something else or it becomes reproducible ping me and i'll reopen this!

[2018-05-03 16:13] #12765 closed

[2018-05-03 16:16] mbruschi commented on #12765
Thank you for your time.

[2018-05-03 16:25] stephanwlee commented on #12823
Hi Samuel, I tried hard coding it but I couldn't figure out proper syntax for returning union types :(. I guess I am too green to this electron-docs thing

[2018-05-03 16:34] MarshallOfSound commented on #12821
Yup so when you use remote for this kind of stuff it gets really slow because it isn't some magic bridge, every get and set request is actually synxronous ipc behind the scenes which blocks both processes and isn't incredibly fast.

This is fine for small units of work but doesn't what you describe you should use asycnronous ipc with ipcRenderer and ipcMain.

[2018-05-03 16:34] #12821 closed

[2018-05-03 18:11] codebytere commented on #12230
This should be resolved by https://github.com/electron/electron/pull/11959.

[2018-05-03 18:11] #12230 closed

[2018-05-03 18:16] codebytere commented on #12025
@stephenmartindale i believe this happened as a result of some separator filtering we implemented; i'll see if i can open a PR to remedy this side effect.

[2018-05-03 18:52] nornagon commented on #12631
Hmm, I'm not sure I agree—on macOS at least, clicking on most native apps when they're not focused brings the window to the front without causing a mouse-click on whatever it was you clicked on. Clicking a button in a background window requires two clicks. (Perhaps it's different on other OSes though? We could change the default to be OS-specific.)

[2018-05-03 19:36] timfish commented on #12631
ah yes you're right and it looks like `acceptFirstMouse` is a macOS only option.

On Windows, Electron already accepts first mouse by default. 👍

[2018-05-04 00:01] carsonxu opened #12827 "How can I drop folder and get the folder local path"
How can I drop folder and get the folder local path

[2018-05-04 01:31] dittos commented on #10341
This is fixed in 2.0.0 (#12643) but not backported to previous versions.

[2018-05-04 02:01] adeperio commented on #11911
I'm getting something similar, but only happening on Windows. app.dock is null when trying to do app.dock.show(). Runs fine on Mac, but not so fine on WIndows

[2018-05-04 04:14] Ganariya opened #12829 "I need some function about mouse event. (bug?)"
* Electron version: v1.8.4
* Operating system: Mac

### Expected behavior

I want to make mouse's click effects with electron and mo.js(motion graphics).
Therefore I set up below environment.
- transparent: true
- setResizable(false)
- setAlwaysOnTop(true)
- setIgnoreMouseEvents(true, {forward: true})

So, I think that, if I set up upper environment and use mo.js, when I click the window behind el

[2018-05-04 05:27] dougludlow commented on #10864
I'm using `electron-windows-installer`, which uses Squirrel.Windows to build an installer. I created the shortcut with Squirrel's `Update.exe --createShortcut` command, which [apparently](https://github.com/electron/electron/issues/4381#issuecomment-180534842) creates a shortcut with an Application Model User Id of `com.squirrel.{YOUR NUGET PACKAGE ID}.{YOUR EXE NAME MINUS DOT EXE}` ( i.e. `com.sq

[2018-05-04 06:32] emmkimme commented on #12211
As far as I see, the webContents/Preferences are deduced from the renderer process id. With affinity, we can have several pages hosted in the same renderer process id. So currently, it returns always the same webContents for pages sharing the same process. This design must be changed and we have to get the webContents for a specific page (rendererFrame?).

[2018-05-04 06:37] codebytere commented on #12816
Closing as duplicate ofhttps://github.com/electron/electron/issues/12025 , which is in the process of being fixed by https://github.com/electron/electron/pull/12825!

[2018-05-04 06:37] #12816 closed

[2018-05-04 06:46] codebytere commented on #12820
Thank you for taking the time to report this issue and helping to make Electron better.

Please provide a standalone test that a tester could run to reproduce the issue. This makes fixing issues go more smoothly: not only does it ensure the right thing is tested, but it also prevents triage from bottlenecking on making testers write new tests for each new issue.

I'm setting the more-information-n

[2018-05-04 06:46] codebytere commented on #12827
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2018-05-04 06:46] #12827 closed

[2018-05-04 06:48] codebytere commented on #12812
Hey! thanks for reaching out, but the place to open this issue is on the website repo [here](https://github.com/electron/electronjs.org). Good luck!

[2018-05-04 06:48] #12812 closed

[2018-05-04 06:49] codebytere commented on #12803
Thank you for taking the time to report this issue and helping to make Electron better.

Please provide a standalone test that a tester could run to reproduce the issue. This makes fixing issues go more smoothly: not only does it ensure the right thing is tested, but it also prevents triage from bottlenecking on making testers write new tests for each new issue.

I'm setting the more-information-n

[2018-05-04 08:29] timfish commented on #12813
Thanks for reaching out!

I've tried node-ffi on 2.0.0 and it works and you have the same issue on previous Electron versions so this native crash is likely down to usage.

Github issues are treated as [the team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), so we close issues that are questions since they don't represent a task needing to be completed. Che

[2018-05-04 08:29] #12813 closed

[2018-05-04 09:53] s1b opened #12830 "[2.0] redraw problem when change dom element style"
* Electron version: 2.0.0
* Operating system: mac os x Yosemite 10.10.5

* Last known working Electron version: 1.8.6

### Expected behavior

### Actual behavior

![2018-05-04 6 43 37](https://user-images.githubusercontent.com/16533037/39621969-89a7f09c-4fcb-11e8-926d-76267a461ff3.png)

### How to reproduce

[test.html.txt](https://github.com/electron/electron/files/1973935/test.html.txt)
[main.js

[2018-05-04 09:57] s1b commented on #12830
when open with "electron test.html", it works well

[2018-05-04 12:34] euangordon commented on #11065
Any update on this? I am facing the same on election version 2.0.0

[2018-05-04 13:55] emmkimme commented on #12211
Simpler than that, background color is passed through process commandline
\electron\atom\renderer\renderer_client_base.cc
`
base::CommandLine* cmd = base::CommandLine::ForCurrentProcess();
  if (cmd->HasSwitch(switches::kGuestInstanceID)) {  // webview.
    web_frame_widget->SetBaseBackgroundColor(SK_ColorTRANSPARENT);
  } else {  // normal window.
    std::string name = cmd->GetSwitchValueASCII(s

[2018-05-04 14:35] louisjohnson-echo360 commented on #12803
I've experienced this as well and it happens whenever the tray menu is clicked while `setContextMenu` is being called. In my case, I'm calling `setContextMenu` to change the tray menu contents based on some conditions, and I am able to consistently get Electron to crash if I click on the tray menu title while the context menu is being changed.

[2018-05-04 14:57] garyamorris commented on #12210
I have the same issue on my windows machine, but not on Mac OSX.

[2018-05-04 14:59] #12025 closed

[2018-05-04 17:06] codebytere commented on #12811
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests. We will be able to more closely look at your issue once

[2018-05-04 17:09] codebytere commented on #12803
@lpjohnson could you potentially paste some code that reliably causes the crash?

[2018-05-04 17:10] codebytere commented on #12369
Given comments above and lack of actionable next steps on this issue, i'm going to go ahead and close it. If more information becomes available and we can reproduce the issue, we're happy to go ahead and re-open this.

[2018-05-04 17:10] #12369 closed

[2018-05-04 17:11] codebytere commented on #12486
We haven't gotten a follow-up to the questions above, and with only the information that is currently in the issue, we don't have enough information to take action. In this event, i'm going to go ahead and close this but can reopen should you follow up with more info!

[2018-05-04 17:11] #12486 closed

[2018-05-04 17:12] codebytere commented on #12632
We haven't gotten a follow-up to our questions in our comment above, and with only the information that is currently in the issue, we don't have enough information to take action. In this event, i'm going to go ahead and close this but can reopen should you follow up with more info!

[2018-05-04 17:12] #12632 closed

[2018-05-04 17:41] s1b commented on #12830
adding css
body { background: white; }
solve this problem

[2018-05-04 19:16] gasi-signal commented on #11189
We ran into this as well for the Signal Desktop app.

**Repro**

![windows-7-notifications-static-tag](https://user-images.githubusercontent.com/36971170/39647642-c3a7f7e2-4fad-11e8-803c-9ca1e7010585.gif)

**Code**

[code]

[2018-05-04 19:38] AlansCodeLog opened #12834 "Webviews not being completely removed?"
* Electron version:
v2.0.0
* Operating system:
Windows 10 64bit
* Last known working Electron version:
Unknown
### Expected behavior
In the dev tool's timeline, the listener/node count (and the JS Heap size?) should go back down when webviews are removed. They should not show up in Detached DOM tree when taking a heap snapshot. It's as if they never existed.

### Actual behavior
If you don't add a

[2018-05-04 19:45] bughit opened #12835 "jquery and URI.js combined crash the renderer"
* Electron version: recent master (82329124ffcb2012d101c79236e82fbe6ba79c36) x86 & x64
* Operating system: win7 sp1 x64
* Last known working Electron version: 2.0.0

### Expected behavior

no crash

### Actual behavior

crash

### How to reproduce

test_app.js
[code]

test_page.html
[code]

- run `electron.exe test_app.js file:///PATH_TO/test_page.html`
- page does not load and a WebContents crash

[2018-05-04 19:48] gasi-signal commented on #8384
We were excited to adopt this for Windows 7 but ran into an unfortunate bug with notification grouping using `tag`. When using a static `tag` on Windows 7, notifications only show up a few times and then stop. To save other people who have run into this some time, please check: https://github.com/electron/electron/issues/11189

[2018-05-05 01:44] ProLoser opened #12838 "TouchBar Popover add support for onEnter and onExit callbacks"
On OSX, it would be nice if there was an additional set of options for touchbar popovers that allowed me to execute arbitrary logic upon entering or exiting a popover.

I would like to show something on screen when I enter a popover and then hide the relevant content when exiting the popover.

### `new TouchBarPopover(options)`

* `options` Object
  * `label` String (optional) - Popover button tex

[2018-05-05 03:36] mohammadayoub96 opened #12839 "Should be able to develope andoid apps using electron"
### Expected behavior

Should be able to develope andoid apps using electron

[2018-05-05 06:27] percy507 commented on #12754
@MarshallOfSound

Hello.

I upload some images. This should clearly describe the problem. 😁

[2018-05-05 09:35] artch commented on #12761
Here is a short GIF demonstrating this issue:

![fpj8mhytdcatwxdqccxs8_swujlvgief_g](https://user-images.githubusercontent.com/2923269/39661809-b787eae0-5060-11e8-9767-6acafd40ea22.gif)

[2018-05-05 13:50] ENT8R commented on #12839
You can't develop apps for Android or iOS using Electron... 😞 See also #562 or #9162

[2018-05-05 14:38] MarshallOfSound commented on #12839
Duplicate

[2018-05-05 14:38] #12839 closed

[2018-05-05 16:37] #11668 closed

[2018-05-05 16:58] mohammadayoub96 commented on #12839
Thank You

[2018-05-05 19:06] codebytere commented on #12830
It's unclear what the problem is, can you please provide more detail?

[2018-05-06 06:38] s1b commented on #12830
Please understand that I did not speak English and I used a translator.
If you modify the style of the dom element to implement the move effect, there will be a residual image in the background like the screenshot above
The problem is solved by adding background color to body css.
As a personal guess, I suspect that if the background of the BrowserWindow is transparent, it will not be redrawed.
In

[2018-05-06 08:41] zpzxgcr commented on #12681
Look forward to a quick settlement @codebytere

[2018-05-06 10:34] hovancik commented on #12791
can confirm with my app as well ("electron": "^2.0.0")

![screenshot_2018-05-06_12-31-51](https://user-images.githubusercontent.com/4745859/39672394-bf9558e8-5129-11e8-8560-55210cced035.png)

[2018-05-06 17:55] christianbundy commented on #12820
I've been having the exact same issue with `electron@2.0.0` as well, but I don't think it's an issue with Electron.

I'm on Arch Linux, and my solution was this: https://wiki.archlinux.org/index.php/Intel_graphics#OpenGL_2.1_with_i915_driver

The fact that the *Note* mentions Chromium specifically makes me think this is a video driver issue being exacerbated by Chromium (and therefore Electron), b

[2018-05-06 18:16] caoyongfeng0214 commented on #11791
will be reproduced on windows server 2016.

step 1: No sound card installed.
step 2: use Simple-peer.js
step 3: var peer = new SimplePeer();
step 4: throw error: Failed to query stereo recording.

[2018-05-06 18:39] christianbundy commented on #12820
While researching this I found [a debugging instruction](https://github.com/electron/electron/issues/2170#issuecomment-120232738) that may give some useful info:

[code]

My intuitition is that there's a bug with how Chromium/Electron is interfacing with the driver/kernel when it does the semi-transparent dragging layer, but I'm not familiar enough to understand exactly where the fix needs to be a

[2018-05-06 19:52] pandaGao commented on #10078
I find that if you use @pchw 's solution to create a "real" alwaysOnTop window, after you create it you can just use `app.dock.show()` to get your dock icon back and this window is still "real" alwaysOnTop.
For example:
[code]
It's not a perfect solution, you can still see a short animation in dock.
Test with macOS 10.12.6 and electron 1.8.6

[2018-05-06 21:55] christianbundy commented on #12820
**Reproduction steps**:

1. Open any Electron application.
2. Copy any text within the app.
3. Click and drag.

**Expected (and working in v1.8.4)**:
- Selected text is copied below your mouse with ~50% transparency.
- Text follows your mouse until you release your click.
- Text disappears.
- If you're hovering over an input, the text goes into the input.

**Actual (v2.0.0)**:
- Black rectangle wi

[2018-05-07 00:39] adeperio commented on #11911
Ahh so it is. Thanks @MarshallOfSound

[2018-05-07 03:21] MarshallOfSound opened #12840 "CLI wrapper does not respond to SIGINT or SIGTERM"
### Expected behavior

`SIGINT` / `SIGTERM` kill signals should exit the `electron` child process

### Actual behavior

They don't 😆

### How to reproduce

[code]

[2018-05-07 05:54] MarshallOfSound commented on #3226
Refs: https://cs.chromium.org/chromium/src/chrome/browser/resources/cryptotoken/manifest.json?dr

[2018-05-07 08:12] aFlappyPig opened #12842 "the Tray miss after severval seconds"
* Electron version: 2.0.0
* Operating system: Windows 7 Ultimate

* Last known working Electron version:

### Expected behavior
the Tray icon is always there

### Actual behavior
the Tray miss after several seconds but the application still alive, I do nothing

### How to reproduce
I can reproduce this 100%

this is the code:

 let tray = new Tray("./icon-16.png");
  const contextMenu = Menu.build

[2018-05-07 09:58] clobrano opened #12843 "Double trayicon menu when session name does not match hardcoded ones"
* Electron version: master branch
* Operating system: Ubuntu 18.04

### Expected behavior
Click on tray icon shows only one menu from the system

### Actual behavior
Click on tray icon shows two menus, one from the system and one white

[2018-05-07 10:34] goldylucks commented on #8901
Only when devtools is open
`Ubuntu 16.04.4 LTS`
`electron 1.8.6`
`node v10.0.0`
`chrome 66.0.3359.139 (Official Build) (64-bit)`

for me the error is printed out MANY times (see below).
Using [electron-react-boilerplate](https://github.com/chentsulin/electron-react-boilerplate) in case it matters.

[code]

[2018-05-07 11:48] clusterberries opened #12845 "Small transparent window is broken with 2.0.0"
* Electron version: 2.0.0
* Operating system: Windows 10
* Last known working Electron version: 1.8.6

### Expected behavior

Ready-to-show event should be fired and window is shown.

### Actual behavior

Ready-to-show event is not fired, the window cannot be shown.

### How to reproduce

Create a BrowserWindow with such parameters:
[code]
It works with 1.8.6, but is broken with 2.0.0.
You can fin

[2018-05-07 12:14] clusterberries commented on #12312
Hi @codebytere! Which version of Electron contains the fix? Thanks.

[2018-05-07 12:18] immanoj16 opened #12846 "No getProducts() and finishTransactionByDate() in inAppPurchase"
Hey I am using the latest version of electron: `2.0.0` and Ubuntu: `18.04`

As per the [documentation](https://electronjs.org/docs/tutorial/in-app-purchases), the `inAppPurchase` has `finishTransactionByDate()` and `getProducts()` method. But there are no such methods in `inAppPurchase`.

But in this api [documentation](https://electronjs.org/docs/api/in-app-purchase), there are no such methods `f

[2018-05-07 12:31] MarshallOfSound commented on #12846
`inAppPurchase` is a macOS only API

[2018-05-07 12:31] MarshallOfSound commented on #12846
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-05-07 12:31] #12846 closed

[2018-05-07 12:35] immanoj16 commented on #12846
Thank you

[2018-05-07 13:44] Cl1608Ho commented on #3226
You can always take a look at my bindings for the c U2F host lib, might want to update dependencies beforehand tho.

[2018-05-07 14:00] MarshallOfSound commented on #12842
Your tray icon is being garbage collected, please ensure you maintain a globabl / scoped reference to the `tray` object

[2018-05-07 14:00] MarshallOfSound commented on #12842
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-05-07 14:00] #12842 closed

[2018-05-07 15:29] #12752 closed

[2018-05-07 16:38] sindresorhus commented on #12438
That upstream issue will most likely never be fixed as it's not an issue with normal Chrome but rather how Electron is used. Why can't Electron just filter it out?

It's not set.

I've tried to create a minimal test-case for this, but it's not predictable. It seems to happen when you use `win.loadURL()` with a server that takes some time to respond.

I'm not the first to see this error either:
htt

[2018-05-07 16:41] jevian-ma opened #12849 "I cann't get system font list"
I know that chrome extension api chrome.fontSettings can get system font list, but I can't use this api at electron.
Can you tell me other way to get system font list?

[2018-05-07 16:55] codebytere commented on #12849
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.

Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://di

[2018-05-07 16:55] #12849 closed

[2018-05-07 19:06] jakesyl commented on #4403
So, I guess this doesn't work?

[2018-05-07 19:07] jakesyl commented on #9925
When you say to early, do you mean before `will-finish-launching` was fired? We're having trouble with this on #4403

[2018-05-07 19:35] RyanZim opened #12850 "Electron not working when running in terminal on Ubuntu Linux"
* Electron Version: 2.0.0
* Operating System (Platform and Version): Lubuntu/Ubuntu 17.10
* Last known working Electron version: 1.8.x

**Expected Behavior**
Electron should open and be functional when run from the terminal

**Actual behavior**
Electron either doesn't open, opens to a black screen, or freezes shortly after opening. The command doesn't exit, it just hangs there.

**To Reproduce**
[

[2018-05-07 19:56] Marl0 opened #12851 "All the options in the transmission web interface"
Hi. I can't find any options in the torrents in the mac app. Just download stop and that kind of basic things.
It could be great if we can have all the options you find in the transmission web interface like save in specified folder, select the files we want to download etc.
Is there any way to do this?

Regards

[2018-05-07 20:06] sofianguy commented on #12788
Thanks for reaching out!

Because we treat our issues list as the team's backlog, we close issues that are questions since they don't represent a task needing to be completed. For most questions about Electron there are a lot of options.
Check out the [Electron community](https://github.com/electron/electron#community). There are also a bunch of helpful people in this [community forum](https://dis

[2018-05-07 21:08] reitzig commented on #8124
Any movement here? Is further discussion needed?

If a vanishing caches breaks things, your app is already broken.

This is a huge pain in the ass. Electron apps (Rocket.Chat, Discord, ...) store hundreds of megabytes of cache data in `.config` which really bloats backups (unnecessarily so) and is a hassle to workaround. So, it's not only wrong, it's also actively harmful.

I get that moving user

[2018-05-07 23:13] HemalR commented on #4403
@jakesyl

Specifically for Mac - I figured out the issue (my apologies for not updating this). I used electron-builder to tell the system that a certain type of file can be opened by the program:

In `package.json` under the `build` key:
[code]

That did the trick!

[2018-05-07 23:48] ckerr commented on #12851
@Marl0, I hope I'd know if Transmission was an Electron app :laughing:

You probably meant https://github.com/transmission/transmission/issues instead?

[2018-05-07 23:49] ckerr commented on #4403
@HemalR, thank you for the followup! Hopefully it will leave some breadcrumbs for future web searchers :+1:

[2018-05-07 23:53] ckerr commented on #12788
@sofianguy, I don't think this should be closed as a question; it looks like a bug report to me.

@firestarman-james, could you add a small piece of code that triggers the bug you described? For example, a toy app branched from https://github.com/electron/electron-quick-start would be wonderful.

[2018-05-07 23:59] ckerr commented on #12850
I'm not seeing this when running either `2.0.0` or `master` in Ubuntu 18.04.

Could you try the same experiment on a clean system to see if it's reproducible for you there too?

[2018-05-08 00:07] jakubzitny commented on #9925
@jakesyl We're handling it separately before app is 'ready' and after that. Before, we just push it to array in main process. After app is 'ready' that we emit ipc event to our app (with the array or subsequent file-opens.) Don't forget about having right stuff in plist.

[2018-05-08 01:03] rocketlaunchr-cto commented on #2570
If you're not worried about hiding your source code BUT you do want to hide your secrets such as:

- OAuth credentials
- URLs not intended to be known to the public (i.e. private backend API endpoints)
- REST API credentials
- Any Keys and Secrets
- Passwords

I've created a FREE service to address this issue. I had to make it because I was making a commercial electron app and was worried about ha

[2018-05-08 01:06] rocketlaunchr-cto commented on #12220
If you do want to hide your secrets such as:

- OAuth credentials
- URLs not intended to be known to the public (i.e. private backend API endpoints)
- REST API credentials
- Any Keys and Secrets
- Passwords

I've created a FREE service to address this issue. I had to make it because I was making a commercial electron app and was worried about having my credentials stolen.

It works by creating a c

[2018-05-08 01:34] aFlappyPig commented on #12842
@MarshallOfSound thank you very much

[2018-05-08 02:24] AhadCove opened #12853 "Electron 2.0 won't load localhost and crashes"
* Electron Version: 2.0.0
* Operating System (Platform and Version): Mac
* Last known working Electron version: 1.8.6

**Expected Behavior**
To simply load a basic React app running on localhost

**Actual behavior**
Has there been a change with loading localhost from 1.8.4 to 2.0?
I just created a new electron app trying to run a basic react app and for some reason, it won’t load. There aren’t eve

[2018-05-08 02:58] AhadCove commented on #12853
False call, I see what’s going on

So, I have a boilerplate for my electron-react apps and the first thing my React app does is call the store from IPC. My Boiler for the main electron file didn’t have a listener for that call, so the app froze waiting for a response from the Main process
This call was, of course, a sendSync :disappointed:
Pretty dangerous if you forget something.

This is why my

[2018-05-08 02:58] #12853 closed

[2018-05-08 03:16] wunairuoshi opened #12854 "Electron transparent window use maximize() can not emit 'maximize' event"
* Electron Version: 2.0.0
* Operating System (Platform and Version): windows 8.1
* Last known working Electron version: none

**Expected Behavior**
I create a browerwindow with frame: false and transparent: true, when i use maximize(), i need the event 'maximize' and isMaximized() return true.

**Actual behavior**
no event emited, and isMaximize() return false.

[2018-05-08 03:29] ckerr commented on #12854
@wunairuoshi, thanks for reporting this issue!

Would it be possible for you to create a small test app -- e.g., forking https://github.com/electron/electron-quick-start and adding a few lines -- for the Electron team to test with?

[2018-05-08 03:30] ckerr commented on #12853
@AhadCove, thanks for the follow-up :+1:

[2018-05-08 04:25] mhuggins opened #12855 "Parcel webapp with custom protocol crashes renderer"
* Electron Version: 1.8.x and 2.0.0
* Operating System (Platform and Version): macOS High Sierra (10.13.3)
* Last known working Electron version: N/A

**Expected Behavior**
Loading a Parcel webapp with a custom protocol in an Electron renderer displays the webapp.

**Actual behavior**
Loading a Parcel webapp with a custom protocol in an Electron renderer crashes the renderer.

**To Reproduce**
*Co

[2018-05-08 04:31] mhuggins commented on #12855
I dug a little bit more, and this only happens when using `parcel`, not `parcel build`.  The production build seems to be okay, so it's specifically an issue with the development build.

[2018-05-08 05:36] ckerr commented on #12850
@alice-em, saying "app X crashes" is essentially inviting the Electron team to triage arbitrary codebases that they are unfamliar with, so I encourage reporters to follow @RyanZim's example of having a small standalone 'hello world' style app that can be tested with.

In any case, the `env->async_hooks_init_function().IsEmpty()` assertion appears to be a duplicate of #10905. The discussion there i

[2018-05-08 06:04] GMuthuraja opened #12857 "app.setAccessibilitySupportEnabled is not a function"
I have used the below lines to enable accessbility setting in electron app, however it shows 'app.setAccessibilitySupportEnabled is not a function'

var app = require("electron")
app.setAccessibilitySupportEnabled(true);

Anyone can guide me to fix this issue?

[2018-05-08 06:08] ChristianWeyer commented on #9705
Do we have any update on this issue? It still bites us (currently using 1.8.6) .cc @deepak1556
Thanks!

[2018-05-08 06:13] alice-em commented on #12850
Electron worked on a second attempt with an entirely new project.  It must've been something in the api that changed just before `1.8.4` for me to case my particular issue on my first project.

[2018-05-08 06:15] #7714 closed

[2018-05-08 06:17] MarshallOfSound commented on #12857
It looks like you didn't fill out our [Issue Template](https://raw.githubusercontent.com/electron/electron/master/.github/ISSUE_TEMPLATE.md), please ensure you provide all information requested in the issue template so that we can try to help you out.

In the future issues you create without the template will be closed, you can find the issue template [here](https://raw.githubusercontent.com/elect

[2018-05-08 06:34] fengzhongye commented on #9705
i have the same issue with 1.8.6

[2018-05-08 07:03] m4heshd commented on #10864
You can simply set `app.setAppUserModelId(process.execPath);` so it will work with a good old drag n drop shortcut. Still need the shortcut though. But no need to mess with the shortcut. This will only work if your app is packaged. Windows set the app location as App user model ID in default so win32 apps could support notifications.

Note: If you are on dev mode you can simply create a shortcut t

[2018-05-08 07:14] Octylpy commented on #12726
This is happening to me too on macOS 10.13.4

[2018-05-08 08:08] Marl0 commented on #12851
Sorry I confuse the forum.

[2018-05-08 08:35] Anadi7 opened #12859 "time consuming evaluate script spawnSync before firstLoad/reload"
* Operating System (Platform and Version): macOS High Sierra 10.13.4

**Actual behavior**
It seems cost more time in electron2.0.0 than electron1.8.6
I want to know why my item execute this script and how to fix it.

**Screenshots*
<img width="664" alt="2018-05-08 4 13 00" src="https://user-images.githubusercontent.com/30398675/39745969-83af09e2-52db-11e8-8965-b8bb8455b676.png">

<img width="1913"

[2018-05-08 08:41] clusterberries commented on #12312
Thanks, @codebytere ! Unfortunately this page returns 404.

[2018-05-08 09:14] firestarman-james commented on #12788
Thanks to @ckerr and you all!
I also submitted a issue to node-fibers: `https://github.com/laverdet/node-fibers/issues/374`, for your reference.

@laverdet got the same DLL error. After running electron-rebuild, @laverdet found it work fine. But for me, the new `fibers.node` get Electron 2.0.0 stuck.

repro as below:
1. Download `node-v8.9.3-win-x64.7z` from `https://nodejs.org/download/release/v8

[2018-05-08 09:27] matteoannibali opened #12860 "getusermedia and lock screen"
Hi guys!
I have a problem using getUserMedia on electron
if i share my desktop all works great but if i lock the screen i can't see the form to unlock.
Maybe could be necessary to raise Electron app privileges when i run it?
thanks
I also tried to run my app as "System user" but with no luck!

[2018-05-08 13:07] monkeyhybrid opened #12861 "Allow user interface tooltip delay to be configurable"
I previously requested this feature for Visual Studio Code (see https://github.com/Microsoft/vscode/issues/49047) but it was labelled as being more applicable to Electron. I hope I'm not breaking etiquette by requesting it here too.

When hovering over user interface elements, the associated tooltip takes approximately 1 second to display (at least in the Electron apps I have used, Visual Studio C

[2018-05-08 13:29] mhuggins commented on #12855
@MarshallOfSound I think you're right.  If I run parcel with the `--no-hmr` flag, then the renderer does not crash.

[2018-05-08 13:46] JohnWeisz commented on #2570
@rocketlaunchr-cto

Ambitious project, but with all due respect, this should be treated the same way as obfuscation, i.e. unsafe from a hard-security perspective. If the data is _indeed_ sensitive, I think it should be handled by a remote server.

[2018-05-08 14:09] javan commented on #8905
This is working perfectly for me now with Electron 2.0.0 🎉

[2018-05-08 15:20] kspearrin opened #12862 "Destroying Tray while interacting with one of its events causes sporadic crashes"
* Electron Version: 1.8.4 and 2.0.0
* Operating System (Platform and Version): macOS 10.13.4
* Last known working Electron version: n/a

**Expected Behavior**
Be able to destroy tray icon without crashes from interacting with it.

**Actual behavior**
Destroying a tray after performing an action from that tray will cause sporadic crashes. When interacting with the tray icon's click event to destroy

[2018-05-08 15:25] codebytere commented on #12312
oh oops it's an org board not a project board...anyways it's a candidate for one of the first `2-1-x` releases.

[2018-05-08 16:33] bughit opened #12863 "renderer devtools debugger is not functional when stopped by a debugger statement in the preload script"
* Electron Version: recent master (82329124ffcb2012d101c79236e82fbe6ba79c36) x86 & x64
* Operating System (Platform and Version): win7 sp1 x64
* Last known working Electron version: 2.0.0

**Expected Behavior**
should be able to break in the preload script via the debugger statement

**Actual behavior**
debugger breaks but is not functional, the preload script is blank, the sources for all other f

[2018-05-08 16:37] bughit commented on #12835
@sofianguy You added the 1.8.x label, but this is a regression in master. It's ok in 2.0.0 and I have not tried 1.8.x.

[2018-05-08 16:37] RyanZim commented on #12850
@ckerr I spun up a fresh VM of Lubuntu 17.10 and got the same result as https://github.com/electron/electron/issues/12850#issuecomment-387246000 with electron v2.0.0

[2018-05-08 17:57] thbaja commented on #11275
Hi @gossi, can you elaborate a bit on what you came up with?

[2018-05-08 18:37] stephanedemotte commented on #12468
Any news on this ? Try to activate `experimentalFeatures` with no success :/

[2018-05-08 18:51] stephanedemotte commented on #3271
Chrome support webvr in experimental feature, how to activate it ?
[code]
don't work :/

[2018-05-08 19:03] loretoparisi commented on #9807
@deepak1556 what happens if my application is loading the page from https (hence non local)? I'm using default configuration and it seems it is loosing cookies as well.

[2018-05-08 19:07] loretoparisi commented on #4304
@zcbenz I'm facing the same issue, but in my case I'm pretty sure that the website is using persistent cookies with no expire or long session cookies for oAuth domain. What happens in electron, is that loading that same page (over https) the oauth cookies will expire at every app loading for some reason I'm using `macOS 10.13.4`. Should I handle cookies in some different way then within electron?

[2018-05-08 19:49] groundwater commented on #12220
Hi @rocketlaunchr-cto.

This issue tracker is used for development of Electron, and we believe advertising for electron related services is better suited for community support places like [the Electron discuss](https://discuss.atom.io/c/electron), [StackOverflow](https://stackoverflow.com/questions/tagged/electron), or the [Atom.io Slack](https://discuss.atom.io/t/join-us-on-slack/16638) when appr

[2018-05-08 20:09] neminovno commented on #8789
This issue exists in 2.0.0. No fix yet?

[2018-05-08 21:54] rocketlaunchr-cto commented on #2570
@JohnWeisz
[code]

How does the remote server server truly know that the client is actually your unaltered Electron App?
That's the problem I was trying to solve.

If you use OAuth with the `Client Credentials` grant type, then your `client_secret` is still baked into your application and anyone can in theory read it.

There is no 100% fool proof way to solve the problem but I believe my solution

[2018-05-08 22:42] msutherl commented on #12519
Increasing the cursors size causes other cursors not to appear at all on my system. Hoping a solution to this issue can be found.

[2018-05-08 23:14] SaileshKumar commented on #3916
I'm seeing the same behavior. I googled around and some people referred to other notification APIs, but I can't get any to persist in the Action Center. Has anyone else had any luck?

[2018-05-08 23:28] SaileshKumar commented on #3916
So if I wanted to have the notif go there automatically, it wouldn't be possible? I feel like other apps do that, but maybe they are using something else?

[2018-05-09 02:29] lishoulong commented on #2285
@paulcbetts, @frankhale , as you know the devtool for webview is detached from the main window. So how should I fixed the webview devtool in the main window and replace the main devtool.

Thanks.

[2018-05-09 03:17] codebytere commented on #12801
Thank you for taking the time to report this issue and helping to make Electron better.

Please provide a standalone repro that a tester could run to reproduce the issue. This makes fixing issues go more smoothly: not only does it ensure the right thing is tested, but it also prevents triage from bottlenecking on making testers write new tests for each new issue.

I'm setting the more-information-

[2018-05-09 03:25] codebytere commented on #6039
Given the conversation above, it appears that the actionable issues in this have been addressed. In that event, i'm going to go ahead and close this, but please feel free to @ me if something else arises!

[2018-05-09 03:25] #6039 closed

[2018-05-09 03:26] codebytere commented on #6139
Given the conversation above, it appears that the actionable issues in this have been addressed. In that event, i'm going to go ahead and close this, but please feel free to @ me if something else arises!

[2018-05-09 03:26] #6139 closed

[2018-05-09 03:27] codebytere commented on #6148
Given the pull request referenced above, I believe this extension is now supported and this issue may be closed.

[2018-05-09 03:27] #6148 closed

[2018-05-09 03:28] codebytere commented on #6208
@nmoinvaz does this occur on `2.0.0`?

[2018-05-09 03:29] codebytere commented on #6251
Given the conversation above, it appears that the actionable issues in this have been addressed. In that event, i'm going to go ahead and close this, but please feel free to @ me if something else arises!

[2018-05-09 03:29] #6251 closed

[2018-05-09 03:30] codebytere commented on #6262
Given the conversation above, it appears that the actionable issues in this have been addressed. In that event, i'm going to go ahead and close this, but please feel free to @ me if something else arises!

[2018-05-09 03:30] #6262 closed

[2018-05-09 03:37] codebytere commented on #6868
Does this occur on `2.0.0`?

[2018-05-09 03:39] codebytere commented on #6773
Given that we generally try to keep the Electron native API layer thin, and that there are ways like those posted above that can be used to accomplish the goal, this enhancement is better kept in Electron Userland. As @zcbenz said, the best solution is likely a node.js native module.

[2018-05-09 03:39] #6773 closed

[2018-05-09 03:43] codebytere commented on #7470
Closing this as it appears to have been resolved by above linked PRs.

[2018-05-09 03:43] #7470 closed

[2018-05-09 03:48] codebytere commented on #9179
Does this occur on `2.0.0`?

[2018-05-09 03:50] codebytere commented on #9030
This appears to have been made possible by https://github.com/electron/electron/pull/9507, so i'm going to go ahead and close this.

[2018-05-09 04:00] codebytere commented on #9209
Does this occur on `2.0.0`?

[2018-05-09 04:01] codebytere commented on #9487
This should be resolved by the above PRs, but please @ me if something else arises!

[2018-05-09 04:01] #9487 closed

[2018-05-09 04:04] codebytere commented on #9637
Does this occur on newer versions such as `2.0.0`?

[2018-05-09 04:06] KiranNiranjan commented on #6359
@codebytere Yes, still happens on `2.0.0`

![electron_crashed](https://user-images.githubusercontent.com/13243259/39795214-4a776052-536c-11e8-9a5f-f2cd804961d8.gif)

[2018-05-09 04:09] codebytere commented on #9693
@kikill95 this issue is still occurring, please track https://github.com/electron/electron/issues/12695 for details

[2018-05-09 04:11] codebytere commented on #6359
alright, i can try and take a look soon!

[2018-05-09 04:12] codebytere commented on #9851
Given the above comment, i'm going to go ahead and close this.

[2018-05-09 04:12] #9851 closed

[2018-05-09 04:13] codebytere commented on #9874
Closing as fixed by https://github.com/electron/electron/pull/12305.

[2018-05-09 04:13] #9874 closed

[2018-05-09 04:14] codebytere commented on #9797
Does this occur on `2.0.0`?

[2018-05-09 04:42] rreimann commented on #9030
@codebytere could you please reopen the issue? #9507 does not address the missing search support in any way.

[2018-05-09 04:54] rreimann commented on #12811
Might be related to #9029 - printing is not yet implemented in the pdf plugin.

[2018-05-09 09:00] Davidzhu001 commented on #11381
any solution on this?

[2018-05-09 09:36] blaatunga commented on #12791
Currently reported from:

- Xubuntu 17.10, XFCE
- Debian 9, XFCE
- Fedora 27, MATE
- Fedora, LXDE
- Fedora 27, Cinnamon
- Budgie Desktop

[2018-05-09 09:39] AmatsuZero opened #12864 "Electron 2.0.0 Crash on Switching ShadowsocksX-NG"
* Electron Version: 2.0.0
* Operating System (Platform and Version): Mac OS X 10.13.4 (17E202)
* Last known working Electron version:  1.8.4

**Expected Behavior**
work normally

**Actual behavior**
App will crash when the user switch on/off [shadowsocksx-ng](https://github.com/shadowsocks/ShadowsocksX-NG/releases/tag/v1.7.1)

**To Reproduce**
App will crash when the user switch on/off [shadowsock

[2018-05-09 09:46] gossi commented on #11275
In short: you setup a RTC connection and use ipcRenderer to exchange signal ids, candidates and sdps. Use one of the RTC tutorials that are around.

[2018-05-09 10:10] Yukimir opened #12865 "Must write scripts as a closure function for content scripts of Chrome Extension"
In electron, the script would be put in an arrow function to get 'chrome' object.
If you have a script with a function called fn1, you must assign it to 'this' object (in electron it point to global) that you can use fn1 in other script.

But in chrome you don't need to do these thing.

So some chrome extensions cannot be used in electron directly.

Any one have good idea to solve this problem?

[2018-05-09 11:23] beloso opened #12866 "Support the § (macOS) character for Keybindings"
I would like to use `§` to define keyboard shortcuts

[2018-05-09 11:51] codebytere commented on #9999
Does this occur on `2.0.0`?

[2018-05-09 11:51] codebytere commented on #10000
Does this occur on `2.0.0`?

[2018-05-09 11:52] codebytere commented on #9999
Does this occur on `2.0.0` or `1.8.X` versions?

[2018-05-09 11:53] codebytere commented on #10005
Does this issue occur on later versions of Electron, like `1.8.5` or `2.0.0`?

[2018-05-09 11:54] codebytere commented on #10016
Does this occur on more recent versions, such as `1.8.5` or `2.0.0`?

[2018-05-09 11:55] codebytere commented on #10017
Closing as @akashnimare is correct, net works only in the main process.

[2018-05-09 11:55] #10017 closed

[2018-05-09 13:47] psinha6 opened #12867 "alwaysOnTop getting enabled in kiosk mode and fullscreen mode automatically"
* Electron Version: 1.7.12
* Operating System (Platform and Version): Debian Unix 32Bit
* Last known working Electron version: NA

**Expected Behavior**
In case of other application(nwjs) having alwaysOnTop: true
Electron app is not allowing the application to be on top if electron application is in FullScreen mode or kiosk mode
This should not be the case since alwaysOnTop is set to be false for

[2018-05-09 14:28] gribunin commented on #10025
BrowserView also doesn't let to set background color in the constructor and content of BrowserView also has grayscale antialiasing.

[2018-05-09 16:04] eyyubovkamran opened #12868 "Closes child window if parent window navigates"
* Electron Version: 1.8.4
* Operating System (Platform and Version): Windows 10
* Last known working Electron version: -

**Expected Behavior**
When you click on any link on page, it should open a new BrowserWindow and navigate the parent window to the new url.

**Actual behavior**
Opens a new BrowserWindow, but closes it when parent window navigates to the new url.

**To Reproduce**
Clone the rep

[2018-05-09 16:31] christianbundy commented on #12820
# **Workaround**: `--disable-gpu`

I found this suggestion here: https://github.com/electron/electron/issues/4380#issuecomment-18844866

@leotada Can you verify that `electron --disable-gpu` works for you as well?

## Additional notes

- `--disable-gpu-blacklist` doesn't fix the issue
- It isn't [this bug](https://github.com/RocketChat/Rocket.Chat.Electron/issues/102#issuecomment-188288067) (I'm u

[2018-05-09 16:51] nmoinvaz commented on #6208
Yes

[2018-05-09 17:38] artch commented on #12761
So I've rented another remote server on MacinCloud, a dedicated one, and Electron is working on it. The difference is that the second server is virtualized (using VMware) with administrator access, and my first server is a physical Mac mini with no admin privileges. And Electron 1.8.6 works fine on both servers, but 2.0.0 works only on the dedicated admin one.

Although it might be a temporary wor

[2018-05-09 17:58] javan opened #12869 "app.moveToApplicationsFolder() fails unexpectedly when running in a disk image"
* Electron Version: 2.0.0
* Operating System: macOS 10.13.4

**Expected Behavior**
Calling `app.moveToApplicationsFolder()` when an application is launched from a disk image (.dmg) should move the application from the disk image to the Applications folder.

**Actual behavior**
* Finder alerts *The item can't be moved to the Trash because it can't be deleted.*
* The application stops responding and

[2018-05-09 18:30] javan commented on #12869
My implementation is basically just:
[code]

[2018-05-09 20:59] javan commented on #12869
@MarshallOfSound, I see some disk image conditions in https://github.com/electron/electron/pull/10142. Perhaps they're not quite right?

[2018-05-09 21:00] ediweissmann opened #12871 "Creating new DOM File object from path?"
* Electron Version: 1.4.13
* Operating System (Platform and Version): All
* Last known working Electron version: N/A

**Expected Behavior**
`new File(filepath)`?

I have a path to a file and I'd like to create a new DOM File object for the corresponding path.

Use-case: instead of having the user browse for a file, I'd like to instantiate it directly from the path I already have (user right clicke

[2018-05-09 22:43] ddombrowsky commented on #7076
@kanalasumant at least on my installation, `mainWindow.show()` is required on OSX, and not on anything else.  The window will not show without it.

[2018-05-09 22:43] laverdet commented on #12788
This isn't an electron bug.

[2018-05-10 03:12] roelpaulo commented on #10864
@m4heshd, I can confirm `app.setAppUserModelId(process.execPath)` that it shows notification when packaged but I can't seem to get it working on development mode. Can you comment a screenshot of what you did to make notifications work with your procedure?

[2018-05-10 04:42] m4heshd commented on #10864
@roelpaulo when you execute an electron app on development it executes the `electron.exe`. So your `process.execPath` will point to that. That means you need to create a shortcut to electron.exe. Path would be `<YOUR_PROJECT_DIR>\node_modules\electron\dist\electron.exe`.

As an alternative you can use `windows-shortcuts` module to create a shortcut.
[code]

[2018-05-10 04:48] ed-alertedh commented on #9179
It does seem to occur on 2.0.0, yes - Win 10 Pro Ver 1709 build 16299.371. The timeout trick doesn't seem to work for me either.

[2018-05-10 05:26] roelpaulo commented on #10864
@m4heshd, Thanks, it's working now on development mode. It's really strange that it wouldn't work on mine when I did the drap-and-drop shortcut of electron dist on the start menu. Cheers bro 👍

[2018-05-10 06:11] g1eny0ung opened #12872 "TouchBarButton: change touchBarButton.icon not working in 2.0.0"
* Electron Version: 2.0.0
* Operating System (Platform and Version): MacOS 10.13.4
* Last known working Electron version: 1.8.4

**Expected Behavior**

This is my application's part of code about changing **touchBarButton.icon**

[code]

I expect my currently playing audio to pause or play, and also through ipc to change the touchbarbutton's icon.

**Actual behavior**

This behavior worked fine in

[2018-05-10 08:52] nicolasiensen opened #12873 "Add animation capability to the Tray class"
We are building [an Electron app](https://github.com/nicolasiensen/apod-wallpaper) that adds a context menu to the system's notification area using the [`Tray` class](https://github.com/electron/electron/blob/master/docs/api/tray.md).

One of the features of our tray icon is that it animates depending on the status of the app, the animation is pretty simple, the tray icon image is changed every 50

[2018-05-10 10:17] tomavitan opened #12874 "BrowserWindow process name"
When having a multi windowed app, they all get the same process name (at least on Windows).
Is there a way to configure it differently? Could not find a resolution.
Many thanks.

[2018-05-10 11:50] MarshallOfSound commented on #12874
The process name is the name of the executable `electron.exe` you can rename this yourself without any ill affects

[2018-05-10 11:50] MarshallOfSound commented on #12874
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](http://atom-slack.herokuapp.com/).

[2018-05-10 11:50] #12874 closed

[2018-05-10 11:52] MarshallOfSound commented on #12873
This IMO is something that belongs in userland, we provide the underlying API's that make this concept possible, a userland module can easily implement the API you mentioned without it living in Electron core.

[2018-05-10 11:55] MarshallOfSound commented on #12871
I can't find the issue at the moment (github search has failed me) but this request has been rejected before because there is no use case for this API that the `fs` api that node.js exposes can't do.  If anything the `fs` API is way more powerful and you actually fake a `File` object using the `fs` API.

A `File` object is actually just a `Blob` with a `name` attribute, you can read a file in as a

[2018-05-10 11:55] #12871 closed

[2018-05-10 12:16] kaizhu256 commented on #6946
can confirm the macos v1.8.6 version @ https://github.com/electron/electron/releases/download/v1.8.6/electron-v1.8.6-darwin-x64.zip also doesn't honor --enable-logging or $ELECTRON_ENABLE_LOGGING flags inside of webviews.

v1.7.14 and v2.0.0 works fine on mac

[2018-05-10 15:15] alexa026 opened #12875 "Windows 10 browser window size < ~70"
* Electron Version: 2.0.0 & 1.8.6
* Operating System (Platform and Version): Windows 10 Pro, build: 1803
* Last known working Electron version: /

**Expected Behavior**
I expect the value set for a browser window width to be respected across all platforms.

**Actual behavior**
When browser window width is set to 60, it's actually using 48, when it's 55, it's using 28, and when it's 50, it's using

[2018-05-10 15:20] ckerr commented on #12872
Thank you for taking the time to report this issue and helping to make Electron better.

Would it be possible for you to fork [electron-quick-start](https://github.com/electron/electron-quick-start) to make a  small test case to reproduce the issue in isolation?

Standalone test cases makes fixing issues go more smoothly: not only does it ensure testers and reporters are looking at the same issue,

[2018-05-10 15:32] brenca commented on #12875
Can you make a small repro case for me? I think I know why this happens

[2018-05-10 15:43] Lemos97 opened #12876 "navigator.mediaDevices.getUserMedia produces a blank image on Windows"
* Electron Version: 1.6.17 / 1.7.14 / 1.8.2 / 2.0.0
* Operating System (Platform and Version): Windows 7 / Windows 10 Version 1703 (Build 15063.1029) / Windows 10 Version 1709 (Build 16299.371)
* Last known working Electron version: None

**Expected Behavior**
`navigator.mediaDevices.getUserMedia({ video: true })` results in a mediaStream that has an image and can be passed to a `<video>` element

[2018-05-10 16:30] inexorabletash commented on #11120
What's the current status of registration? The page currently shows only remote attendees - did the event fill up? Where do we show up to duel for spots?

[2018-05-10 18:00] sofianguy commented on #12859
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-05-10 18:00] #12859 closed

[2018-05-10 18:01] sofianguy commented on #12860
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-05-10 18:08] sofianguy commented on #12865
GitHub issues are for feature requests and bug reports, questions about using Electron or code assistance requests should be directed to the [community](https://github.com/electron/electron#community) or to the [Slack Channel](https://atom-slack.herokuapp.com/).

[2018-05-10 18:08] #12865 closed

[2018-05-10 18:12] mobitar opened #12878 "localStorage/indexedDB created in 2.0.0 does not carry over to 1.8.x"
I'm not sure if this is by design, but if you compile an app with Electron 2.0.0, add some entries to localStorage, compile the same app with Electron 1.8.4, the localStorage entries will be gone.

(I discovered this by creating some data on my app with Electron 2.0.0, then running an older version of my app, only to notice all my data had been deleted.)

You can replicate this easily with the qui